Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix(ui): settings-system fact addresses (-117 unparsed)
  docs/ui/verdicts/settings-system.json
  scripts/ui-v4-check-verdict-facts-gate.mjs
  scripts/ui-v4-fix-settings-system-fact-addresses.mjs
Due: prettier --write

docs(ui-v4): accept design package for messenger, reports-insights, tips
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-messenger.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-reports-insights.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-tips.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/messenger.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/reports-insights.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tips.v4.dc.html
Due: prettier --write

docs(ui): home-widgets — типизация 38 «≠» и 1481 «—»
  docs/ui/verdicts/home-widgets.json
  scripts/.hw-neq-nakind-finalize.mjs
  scripts/lib/ui-v4-verdicts.mjs
  scripts/ui-v4-check-decision-refs-gate.mjs
Due: prettier --write

feat(norms): цель по белку в г/кг настраивается куратором
  apps/web/__tests__/heys-display-norms.test.js
  apps/web/heys_day_calculations.js
  apps/web/heys_user_tab_impl_v1.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_day_calculations.js
Due: eslint --max-warnings=500

feat(mcp): параметр protein_coeff_g_per_kg в heys_update_norms
  yandex-cloud-functions/heys-mcp/__tests__/profile.test.cjs
  yandex-cloud-functions/heys-mcp/lib/profile.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

chore(ui-v4): color verdict classifier + sand/dark measure tooling
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/ui/verdicts/checkin-morning.json
  scripts/ui-v4-classify-color-verdicts.mjs
  scripts/ui-v4-measure-sand-dark-colors.mjs
Due: prettier --write

feat(test): v4 palette stand harness for zone fixtures
  apps/web/__tests__/helpers/v4-palette-stand.mjs
  apps/web/__tests__/v4-palette-stand.harness.test.js
Due: eslint --max-warnings=500

feat(test): palette stands for login, registration, questionnaire
  apps/web/__tests__/helpers/v4-palette-stand-analyze.mjs
  apps/web/__tests__/helpers/v4-palette-stand.mjs
  apps/web/__tests__/login-registration-questionnaire-v4-palette-stand.test.js
  apps/web/__tests__/stands/login.stand.mjs
  apps/web/__tests__/stands/questionnaire.stand.mjs
  apps/web/__tests__/stands/registration.stand.mjs
Due: eslint --max-warnings=500

feat(test): band4 palette stand fixtures and consumer test
  apps/web/__tests__/stands/app-splash.stand.mjs
  apps/web/__tests__/stands/first-run.stand.mjs
  apps/web/__tests__/stands/login.stand.mjs
  apps/web/__tests__/stands/messenger.stand.mjs
  apps/web/__tests__/stands/product-card.stand.mjs
  apps/web/__tests__/stands/pwa-update.stand.mjs
  apps/web/__tests__/stands/registration.stand.mjs
  apps/web/__tests__/stands/service-curator.stand.mjs
  apps/web/__tests__/stands/settings-system.stand.mjs
  apps/web/__tests__/stands/spinners.stand.mjs
  apps/web/__tests__/stands/subscription.stand.mjs
  apps/web/__tests__/stands/undo-bar.stand.mjs
  apps/web/__tests__/stands/water-add.stand.mjs
  apps/web/__tests__/v4-palette-stand-zones.test.js
Due: eslint --max-warnings=500

fix(ui-v4): palette roles for polosa lane zones (2nd half)
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/610-aps-meal-flow.css
  apps/web/styles/modules/613-cycle-ui.css
  apps/web/styles/modules/731-ui-v4-activity.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
  apps/web/styles/modules/740-cascade-card.css
  apps/web/styles/modules/750-strength-builder.css
Due: none

fix(mcp): tasks_patch отказывает на повторяющемся якоре и называет размер правки
  apps/web/BUGS_HISTORY.md
  yandex-cloud-functions/heys-api-rpc/lib/heys_tasks_kv.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): atomic verdict writes with stamp guard and Windows lock retry
  apps/web/__tests__/ui-v4-verdicts-atomic-write.test.js
  scripts/lib/ui-v4-verdicts.mjs
Due: eslint --max-warnings=500

fix(norms): свести копии блока «Нормы» и поставить их под сторож
  apps/web/__tests__/user-tab-norms-duplicate-sync.test.js
  apps/web/heys_user_v12.js
Due: eslint --max-warnings=500

fix(mcp): поиск дочитывает пропущенное, если в первом проходе пусто
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
Due: eslint --max-warnings=500

fix(mcp): вопрос про вес штуки сначала отправляет искать
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

fix(mcp): ингредиент без разбивки жиров не входит в блюдо нулём
  yandex-cloud-functions/heys-mcp/__tests__/products.test.cjs
  yandex-cloud-functions/heys-mcp/lib/products.js
Due: eslint --max-warnings=500

fix(ui-v4): sand canon fallbacks after polosa palette migration
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/610-aps-meal-flow.css
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: none

fix(ui-v4): close settings-system unparsed facts tail (17→0)
  docs/ui/verdicts/settings-system.json
  scripts/ui-v4-check-verdict-facts-gate.mjs
  scripts/ui-v4-fix-settings-system-fact-addresses.mjs
Due: prettier --write

fix(infra): agent-check bypasses HEYS_COMMIT_SOURCE_ONLY
  scripts/auto-sync-legacy-bundles.mjs
Due: none

fix(ui-v4): foreign guard on hw-strip gate-coverage writer
  scripts/.hw-strip-gate-coverage-facts.mjs
Due: none

fix(ui-v4): close 104 high-risk color verdicts with sand/dark measures
  apps/web/__tests__/checkin-v4-canvas-razbor.test.js
  apps/web/__tests__/user-tab-norms-duplicate-sync.test.js
  apps/web/heys_steps_v1.js
  docs/ui/verdicts/checkin-morning.json
  docs/ui/verdicts/curator-cabinet.json
  docs/ui/verdicts/cycle.json
  docs/ui/verdicts/date-remainders.json
  docs/ui/verdicts/food-meal.json
  docs/ui/verdicts/gamification.json
  docs/ui/verdicts/login.json
  docs/ui/verdicts/nutrition-tab.json
  docs/ui/verdicts/product-card.json
  docs/ui/verdicts/pwa-update.json
  docs/ui/verdicts/registration.json
  docs/ui/verdicts/strength-builder.json
  docs/ui/verdicts/subscription.json
  docs/ui/verdicts/tab-activity.json
  docs/ui/verdicts/tips.json
  scripts/auto-sync-legacy-bundles.mjs
  scripts/ui-v4-classify-color-verdicts.mjs
  scripts/ui-v4-close-high-risk-a.mjs
  scripts/ui-v4-measure-sand-dark-colors.mjs
Due: eslint --max-warnings=500, prettier --write

fix: restore user-tab-norms test accidentally dropped in 59deac246
  apps/web/__tests__/user-tab-norms-duplicate-sync.test.js
Due: eslint --max-warnings=500

test(ui): unified v4 palette stand for 14 zones
  apps/web/__tests__/helpers/v4-palette-stand.mjs
  apps/web/__tests__/v4-palette-stand.test.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

fix(test): measureZone и SETS в стенде палитры — контракт, под который написан весь band
  apps/web/__tests__/helpers/v4-palette-stand.mjs
Due: none

chore(ui-v4): close remaining 48 high-risk color verdicts
  docs/ui/verdicts/checkin-morning.json
  docs/ui/verdicts/cycle.json
  docs/ui/verdicts/date-remainders.json
  docs/ui/verdicts/gamification.json
  docs/ui/verdicts/messenger.json
  docs/ui/verdicts/product-card.json
  docs/ui/verdicts/pwa-update.json
  docs/ui/verdicts/registration.json
  docs/ui/verdicts/strength-builder.json
  docs/ui/verdicts/subscription.json
  docs/ui/verdicts/tab-activity.json
  docs/ui/verdicts/tips.json
  scripts/ui-v4-close-high-risk-a.mjs
  scripts/ui-v4-measure-sand-dark-colors.mjs
Due: prettier --write

fix(ui): blue-dark --v4-tint-warm и расширение stand band4
  apps/web/__tests__/stands/app-splash.stand.mjs
  apps/web/__tests__/stands/first-run.stand.mjs
  apps/web/__tests__/stands/login.stand.mjs
  apps/web/__tests__/stands/messenger.stand.mjs
  apps/web/__tests__/stands/product-card.stand.mjs
  apps/web/__tests__/stands/pwa-update.stand.mjs
  apps/web/__tests__/stands/questionnaire.stand.mjs
  apps/web/__tests__/stands/registration.stand.mjs
  apps/web/__tests__/stands/service-curator.stand.mjs
  apps/web/__tests__/stands/spinners.stand.mjs
  apps/web/__tests__/stands/subscription.stand.mjs
  apps/web/__tests__/stands/undo-bar.stand.mjs
  apps/web/__tests__/stands/water-add.stand.mjs
  apps/web/__tests__/v4-palette-stand-zones.test.js
  apps/web/styles/modules/002-ui-v4-palette-roles.css
Due: eslint --max-warnings=500

fix(test): стенды входа и анкеты — в контур сведения, не в деплойный гейт
  apps/web/vitest.config.ts
Due: eslint --max-warnings=500

fix(ui-v4): css-test-guards crossed-rule + activity foreign fallbacks
  apps/web/__tests__/boot-spinner-mark.test.js
  apps/web/__tests__/login-v4-structure.test.js
  apps/web/__tests__/one-wait-sign-smoke.test.js
  apps/web/styles/modules/731-ui-v4-activity.css
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: eslint --max-warnings=500

fix(css): restore v4 token contracts for deploy vitest
  apps/web/styles/heys-components.css
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
Due: none

test(ui-v4): fix per-zone grep and polosa6 computed flake
  apps/web/__tests__/helpers/date-picker-probe-css.mjs
  apps/web/__tests__/polosa6-task106-date-remainders-touch-44px.test.js
  apps/web/__tests__/ui-v4-verdicts-per-zone.test.js
Due: eslint --max-warnings=500

test(ui): close stand band4 coverage gaps + self-report
  apps/web/__tests__/stands/app-splash.stand.mjs
  apps/web/__tests__/stands/pwa-update.stand.mjs
  apps/web/__tests__/stands/questionnaire.stand.mjs
  apps/web/__tests__/stands/registration.stand.mjs
  apps/web/__tests__/v4-palette-stand-zones.test.js
Due: eslint --max-warnings=500

fix(ui): свести геймификацию с контрактом для design-gates
  apps/web/styles/modules/000-base-and-gamification.css
Due: none

chore(ui): food-meal naKind pilot — 86 legacy «—»
  docs/ui/verdicts/food-meal.json
  scripts/.food-meal-nakind-apply.mjs
  scripts/lib/ui-v4-verdicts.mjs
Due: prettier --write

chore(ui-v4): freeze verdict snapshot obligations, split check chain
  AGENTS.md
  CLAUDE.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/verdicts/README.md
  package.json
  scripts/ui-v4-check-verdict-addresses-gate.mjs
Due: prettier --write

fix(test): таймаут стенда зон — тот, что просил автор теста
  apps/web/__tests__/v4-palette-stand-zones.test.js
Due: eslint --max-warnings=500

feat(ui): palette stands for all 28 verdict zones
  apps/web/__tests__/stands/checkin-morning.stand.mjs
  apps/web/__tests__/stands/curator-cabinet.stand.mjs
  apps/web/__tests__/stands/curator-edits.stand.mjs
  apps/web/__tests__/stands/cycle.stand.mjs
  apps/web/__tests__/stands/date-remainders.stand.mjs
  apps/web/__tests__/stands/food-meal.stand.mjs
  apps/web/__tests__/stands/gamification.stand.mjs
  apps/web/__tests__/stands/home-widgets.stand.mjs
  apps/web/__tests__/stands/norm-correction.stand.mjs
  apps/web/__tests__/stands/nutrition-tab.stand.mjs
  apps/web/__tests__/stands/reports-insights.stand.mjs
  apps/web/__tests__/stands/strength-builder.stand.mjs
  apps/web/__tests__/stands/tab-activity.stand.mjs
  apps/web/__tests__/stands/tips.stand.mjs
Due: none

fix(test): все стенды палитры — в контур сведения, кроме механики
  apps/web/vitest.config.ts
Due: eslint --max-warnings=500

docs(ui): блокировка входа зовёт куратора и на 15 минутах — вопрос дизайнеру
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

docs(policy): визуальную правку начинает дизайнер, а не код
  AGENTS.md
  CLAUDE.md
Due: prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
