Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix: защита от null в lsGet для dayData в heys_steps_v1.js
  apps/web/heys_steps_v1.js
  docs/tasks/2025-12-11-caloric-debt-optimum-integration.md
Due: eslint --max-warnings=500, prettier --write

feat: timePicker компонент + исправлен формат минут '00' вместо '0'
  apps/web/heys_meal_step_v1.js
  apps/web/heys_step_modal_v1.js
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

fix: предотвращение race condition при добавлении meal/product
  apps/web/heys_day_v12.js
  apps/web/heys_storage_supabase_v1.js
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500

test: добавлены тесты для защиты от race condition при sync
  apps/web/__tests__/sync-race-condition.test.js
  apps/web/vitest.config.ts
Due: eslint --max-warnings=500

ci: добавлен pre-push hook с обязательным прогоном тестов sync
  .husky/pre-push
Due: none

test: расширенный набор тестов sync/auth/storage (91 тест)
  .husky/pre-push
  apps/web/__tests__/auth-session.test.js
  apps/web/__tests__/merge-day-data.test.js
  apps/web/__tests__/storage-layer.test.js
Due: eslint --max-warnings=500

test: добавлены тесты защиты продуктов (39 тестов)
  .husky/pre-push
  apps/web/__tests__/products-protection.test.js
Due: eslint --max-warnings=500

test: добавлены тесты для моделей данных (50 тестов)
  .husky/pre-push
  apps/web/__tests__/data-models.test.js
Due: eslint --max-warnings=500

test: add storage quota/compress, events sync, PWA update tests (208 total)
  .husky/pre-push
  apps/web/__tests__/events-sync.test.js
  apps/web/__tests__/pwa-update-logic.test.js
  apps/web/__tests__/storage-compress.test.js
  apps/web/__tests__/storage-quota.test.js
Due: eslint --max-warnings=500

test: add critical tests for insulin wave and cycle logic
  .husky/pre-push
  apps/web/__tests__/cycle.test.js
  apps/web/__tests__/insulin-wave.test.js
  apps/web/heys_insulin_wave_v1.js
Due: eslint --max-warnings=500

docs: add refeed day checkin prompt
  docs/tasks/2025-12-12-refeed-day-checkin.md
  todo.md
Due: prettier --write

feat(auth): phone+PIN login + RTR-safe session
  apps/web/heys_app_v12.js
  apps/web/heys_auth_v1.js
  apps/web/heys_login_screen_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/src/tailwind.css
  apps/web/tailwind.config.js
  database/2025-12-12_phone_pin_auth.sql
Due: eslint --max-warnings=500

fix: null-safe coldExposure in getInitialData (steps)
  apps/web/heys_steps_v1.js
Due: eslint --max-warnings=500

feat(cloud): add forcePushDay and forcePushAllDays for manual sync
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix(auth): auto-refresh expired token + show toast when session expired
  apps/web/heys_app_v12.js
Due: eslint --max-warnings=500

fix(sync): force=true now bypasses hasUpdates check in pull-to-refresh
  apps/web/.turbo/turbo-build.log
  apps/web/heys_storage_supabase_v1.js
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500

feat: add version footer to stats tab + auto-generate version with date/time
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/scripts/update-version.cjs
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

fix: add tailwindcss for Vercel build
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: force version update in build script
  apps/web/package.json
Due: prettier --write

fix: use Moscow time for version timestamp
  apps/web/scripts/update-version.cjs
Due: none

fix: ensure failed sync items return to queue (prevent data loss)
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix: restore session persistence (RTR-safe v2)
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix: use getSession() instead of refreshSession() for token recovery
  apps/web/heys_app_v12.js
Due: eslint --max-warnings=500

fix: flush memory cache after sync to fix pull-to-refresh
  apps/web/heys_app_v12.js
  apps/web/heys_login_screen_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_storage_layer_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500, prettier --write

fix: guarantee fresh cloud data on pull-to-refresh
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_login_screen_v1.js
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

feat(login): redesign client login screen - single-page entry, centered phone input, cleaner layout
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_login_screen_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_user_v12.js
  apps/web/styles/modules/000-base-and-gamification.css
  database/2025-12-12_phone_pin_auth.sql
  docs/tasks/2025-12-12-phone-pin-login.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

fix(auth): rtr-safe v4 - prevent 400 refresh_token errors
  apps/web/heys_app_v12.js
  apps/web/heys_storage_supabase_v1.js
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500

feat(proxy): add RPC proxy for Supabase functions (get_client_salt)
  apps/web/api/rpc.js
  apps/web/heys_app_v12.js
  apps/web/vercel.json
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500, prettier --write

fix(ui): client mode shows profile name instead of 'choose client'
  apps/web/heys_app_v12.js
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

refactor(app): cache isRpcMode and profile for performance
  apps/web/heys_app_v12.js
  apps/web/heys_meal_optimizer_v1.js
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

feat(login): auto-focus PIN after phone input and auto-submit on last PIN digit
  apps/web/heys_day_v12.js
  apps/web/heys_insulin_wave_v1.js
  apps/web/heys_login_screen_v1.js
  apps/web/heys_models_v1.js
  apps/web/heys_refeed_v1.js
  apps/web/index.html
  apps/web/styles/main.css
  apps/web/styles/modules/710-refeed.css
Due: eslint --max-warnings=500

fix(refeed): stop infinite console spam when HEYS.Steps is missing
  apps/web/heys_refeed_v1.js
Due: eslint --max-warnings=500

feat: move version display from stats tab to login screen
  apps/web/heys_day_v12.js
  apps/web/heys_login_screen_v1.js
Due: eslint --max-warnings=500

feat: refeed day improvements
  apps/web/heys_advice_v1.js
  apps/web/heys_app_v12.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_ratio_zones_v1.js
  apps/web/public/version.json
  apps/web/styles/modules/100-metrics-and-graphs.css
  docs/tasks/2025-12-12-refeed-day-checkin.md
Due: eslint --max-warnings=500, prettier --write

fix: remove expires_at token validation (tokens disabled in Supabase)
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_day_pickers.js
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/styles/modules/000-base-and-gamification.css
  check_rpc.html
  database/fix_reset_pin.sql
  database/fix_reset_pin_anon.sql
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

fix: enable rememberMe for curator login (was hardcoded false)
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_ratio_zones_v1.js
  apps/web/heys_refeed_v1.js
Due: eslint --max-warnings=500

fix: restore session based on stored token, not rememberMe flag
  TESTS/suites/refeed-boundaries.test.js
  apps/web/heys_app_v12.js
  apps/web/heys_refeed_v1.js
  apps/web/styles/modules/710-refeed.css
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500

fix: remove expires_at check that deletes tokens on page load
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_refeed_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/public/sw.js
  apps/web/public/version.json
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500, prettier --write

debug: add detailed logging for session storage
  apps/web/heys_app_v12.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/styles/modules/710-refeed.css
  docs/DATA_MODEL_REFERENCE.md
Due: eslint --max-warnings=500, prettier --write

fix: add renderRefeedToggle function to exports
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_refeed_v1.js
  apps/web/public/sw.js
  apps/web/public/version.json
  docs/DATA_MODEL_REFERENCE.md
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
