Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix: correct generateWeeklyWrap call signature (days, patterns, healthScore, weightPrediction)
  apps/web/heys_predictive_insights_v1.js
Due: eslint --max-warnings=500

fix(insights): restore bridge script for predictive insights components
  apps/web/heys_app_v12.js
  apps/web/index.html
Due: eslint --max-warnings=500

fix: export analyze() and 40+ functions to HEYS.PredictiveInsights
  apps/web/heys_predictive_insights_v1.js
  apps/web/insights/pi_ui_cards.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/insights/pi_ui_rings.js
Due: eslint --max-warnings=500

fix: import CONFIG in pi_patterns.js (10 usages)
  apps/web/insights/pi_patterns.js
Due: eslint --max-warnings=500

fix: import calculateDayKcal in pi_patterns.js (3 usages)
  apps/web/insights/pi_patterns.js
Due: eslint --max-warnings=500

fix: add ALL missing imports to pi_patterns.js (calculateItemKcal, calculateTrend)
  apps/web/insights/pi_patterns.js
Due: eslint --max-warnings=500

fix(PI): fix analytics API access and InfoButton loading order
  apps/web/heys_predictive_insights_v1.js
  apps/web/insights/pi_ui_cards.js
Due: eslint --max-warnings=500

fix: add missing imports for InsulinWave module refactoring
  apps/web/heys_insulin_wave_v1.js
  apps/web/heys_iw_calc.js
  apps/web/heys_iw_constants.js
  apps/web/heys_iw_ui.js
  apps/web/heys_iw_utils.js
Due: eslint --max-warnings=500

test: fix insulin-wave tests for refactored module (internals not exposed)
  apps/web/__tests__/insulin-wave.test.js
Due: eslint --max-warnings=500

docs: add MODULE_ARCHITECTURE guidelines and pre-commit checker
  .eslintrc.cjs
  .github/copilot-instructions.md
  .husky/pre-commit
  docs/dev/CODE_STYLE.md
  docs/dev/MODULE_ARCHITECTURE.md
  scripts/check-module-architecture.sh
  scripts/eslint-rules/index.cjs
  scripts/eslint-rules/module-architecture.cjs
Due: prettier --write

refactor: orphan products recovery + AI proactive insights guide
  .github/copilot-instructions.md
  apps/web/heys_app_v12.js
  apps/web/heys_day_utils.js
  docs/dev/PROMPTS_AND_AUDIT.md
  packages/shared/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500, prettier --write

chore: add legacy allowlist to architecture checker
  scripts/check-module-architecture.sh
Due: none

fix(insulin-wave): add POSTPRANDIAL_EXERCISE constant import
  apps/web/heys_iw_calc.js
Due: eslint --max-warnings=500

refactor(pwa): extract PWA code from monolith to modules
  apps/web/heys_app_v12.js
  apps/web/heys_feature_flags_v1.js
  apps/web/heys_platform_apis_v1.js
  apps/web/heys_pwa_module_v1.js
Due: eslint --max-warnings=500

fix: add insights folder to build and deploy pipeline
  .github/workflows/deploy-yandex.yml
  apps/web/insights/pi_analytics_api.js
  apps/web/insights/pi_patterns.js
  apps/web/insights/pi_ui_cards.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/insights/pi_ui_rings.js
  apps/web/insights/pi_ui_whatif.js
  apps/web/vite.config.ts
Due: eslint --max-warnings=500, prettier --write

fix: restore pi_ui_rings.js v3.0.1 with lazy getter
  apps/web/.turbo/turbo-build.log
  apps/web/index.html
  apps/web/insights/pi_ui_rings.js
  apps/web/public/sw.js
  apps/web/public/version.json
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

fix: bump insight modules version to v6 for cache invalidation
  apps/web/index.html
Due: none

fix(insights): restore v3.0.1-3.0.2 modules from 1e7c04c
  apps/web/insights/pi_analytics_api.js
  apps/web/insights/pi_patterns.js
  apps/web/insights/pi_ui_cards.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/insights/pi_ui_whatif.js
Due: eslint --max-warnings=500

fix(pi_ui_rings): close JSDoc comment for MetabolicStateRing
  apps/web/insights/pi_ui_rings.js
Due: eslint --max-warnings=500

docs: strengthen mandatory improvements checklist in AI instructions
  .github/copilot-instructions.md
Due: prettier --write

feat: добавлены 3 DX-улучшения для production сборки
  apps/web/.turbo/turbo-build.log
  apps/web/index.html
  apps/web/insights/.eslintrc.json
  apps/web/package.json
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/scripts/strip-console-logs.js
  apps/web/scripts/vite-plugin-version-hash.js
  apps/web/vite.config.ts
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  pnpm-lock.yaml
Due: eslint --max-warnings=500, prettier --write

chore: comment out debug console.log statements
  apps/web/heys_day_v12.js
  apps/web/heys_predictive_insights_v1.js
Due: eslint --max-warnings=500

fix: исправлен синтаксис — закомментированный console.log ломал загрузку HEYS
  apps/web/heys_day_v12.js
Due: eslint --max-warnings=500

fix: comment out 3 more broken console.log blocks (lines 1932, 1976, 7058)
  apps/web/heys_day_v12.js
Due: eslint --max-warnings=500

fix: add missing utility imports to extracted day components
  apps/web/heys_day_add_product.js
  apps/web/heys_day_meal_card.js
  apps/web/heys_day_meal_scoring.js
  apps/web/heys_day_popups.js
  apps/web/heys_day_v12.js
Due: eslint --max-warnings=500

refactor: remove warnMissing fallbacks, add explicit dependency checks
  apps/web/heys_day_advice_handlers.js
  apps/web/heys_day_calculations.js
  apps/web/heys_day_day_handlers.js
  apps/web/heys_day_meal_handlers.js
  apps/web/heys_day_meals_list.js
  apps/web/heys_day_pickers.js
  apps/web/heys_day_v12.js
Due: eslint --max-warnings=500

chore: stabilize module limits keying
  config/module-limits.json
  package.json
  scripts/check-module-architecture.sh
  scripts/eslint-rules/module-architecture.cjs
  scripts/generate-module-limits.js
Due: eslint --max-warnings=500, prettier --write

refactor: centralize harm field normalization via HEYS.models.normalizeHarm()
  apps/web/day/_meals.js
  apps/web/heys_cloud_shared_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_add_product.js
  apps/web/heys_day_meal_handlers.js
  apps/web/heys_models_v1.js
  docs/DATA_MODEL_REFERENCE.md
Due: eslint --max-warnings=500, prettier --write

feat: add Harm Score v2.0 module (heys_harm_v1.js)
  apps/web/.turbo/turbo-build.log
  apps/web/__tests__/import-fixes.test.js
  apps/web/__tests__/products-protection.test.js
  apps/web/__tests__/storage-compress.test.js
  apps/web/day/_meals.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_app_swipe_nav_v1.js
  apps/web/heys_app_tab_state_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_add_product.js
  apps/web/heys_day_calculations.js
  apps/web/heys_day_meal_handlers.js
  apps/web/heys_harm_v1.js
  apps/web/heys_models_v1.js
  apps/web/index.html
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/styles/modules/720-predictive-insights.css
  docs/DATA_MODEL_REFERENCE.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

fix: product saves only after harm step confirmation + sort products by newest first
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_core_v12.js
Due: eslint --max-warnings=500

chore: update web and db
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_root_impl_v1.js
  apps/web/heys_cloud_shared_v1.js
  apps/web/heys_confirm_modal_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_add_product.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_harm_v1.js
  apps/web/heys_models_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/index.html
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/600-steps-and-aps.css
  database/2025-01-01_publish_shared_product.sql
  database/2025-01-01_publish_shared_product_curator.sql
  database/2025-01-18_extended_nutrients.sql
  database/2025-01-18_extended_nutrients_v2.sql
  database/2025-01-18_nova_backfill.sql
  database/2026-01-18_backfill_nova.sql
  database/2026-01-18_extended_nutrients.sql
  database/2026-01-18_publish_extended_nutrients.sql
  database/2026-01-18_update_get_shared_products.sql
  todo.md
  yandex-cloud-functions/heys-api-rest/index.js
Due: eslint --max-warnings=500, prettier --write

feat: update shared products export and sodium fields
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_cloud_shared_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_day_utils.js
  apps/web/heys_export_utils_v1.js
  apps/web/heys_models_v1.js
  apps/web/heys_shared_products_export_fields_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/styles/heys-components.css
  apps/web/styles/modules/600-steps-and-aps.css
  database/2025-01-18_update_sodium_values.sql
  database/2026-01-18_update_get_shared_products.sql
  database/2026-01-18_update_sodium100.sql
  database/2026-01-18_update_sodium100_auto.sql
  docs/DATA_MODEL_REFERENCE.md
  heys_shared_products_export.json
  scripts/export_shared_products.py
  scripts/generate-sodium100-from-names.mjs
  scripts/generate_shared_products_update_sql.cjs
  scripts/generate_shared_products_update_sql.js
  yandex-cloud-functions/migrations/yandex_postgresql_setup.sql
Due: eslint --max-warnings=500, prettier --write

chore: update web styles and data
  apps/web/day/_meals.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_insights_data_v1.js
  apps/web/heys_models_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/500-pwa-and-offline.css
  database/2026-01-18_update_get_shared_products.sql
  scripts/temp_sync.sql
  yandex-cloud-functions/heys-api-rpc/heys-api-rpc.zip
Due: eslint --max-warnings=500

fix: refine web auth and day flows
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_add_product.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_day_utils.js
  apps/web/heys_login_screen_v1.js
  apps/web/heys_models_v1.js
  apps/web/heys_reports_tab_impl_v1.js
Due: eslint --max-warnings=500

chore: sync remaining web and logs
  apps/web/heys_day_caloric_balance_v1.js
  apps/web/heys_day_insights_data_v1.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_day_stats_vm_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/shared/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

feat: update day insights and supplements
  apps/web/heys_core_v12.js
  apps/web/heys_day_insights_data_v1.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_day_stats_vm_v1.js
  apps/web/heys_day_utils.js
  apps/web/heys_paywall_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/heys_toast_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/styles/heys-components.css
  apps/web/widgets/widget_data.js
  config/module-limits.json
Due: eslint --max-warnings=500, prettier --write

refactor: DevLog вместо console.log + форматирование
  .github/log777.yml
  apps/web/heys_app_auth_init_v1.js
  apps/web/heys_app_sync_effects_v1.js
  apps/web/heys_app_tab_state_v1.js
  apps/web/heys_app_tabs_v1.js
  apps/web/heys_cloud_queue_v1.js
  apps/web/heys_feature_flags_v1.js
  apps/web/heys_module_loader_v1.js
  apps/web/heys_module_perf_v1.js
  apps/web/heys_paywall_v1.js
  apps/web/heys_platform_apis_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_subscriptions_v1.js
  apps/web/heys_toast_v1.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_yesterday_verify_v1.js
  apps/web/insights/pi_advanced.js
  apps/web/insights/pi_analytics_api.js
  apps/web/insights/pi_calculations.js
  apps/web/insights/pi_patterns.js
  apps/web/insights/pi_stats.js
  apps/web/insights/pi_ui_cards.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/insights/pi_ui_whatif.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --max-warnings=500, prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
