Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

docs(легаси-токены): запрет на 300-modals обновлён — работа по нему сделана
  docs/ui/legacy-map-red-pink.md
Due: prettier --write

docs(ui): close F3 on emerald map after owner decision (task 41b)
  docs/ui/legacy-map-emerald-green.md
Due: prettier --write

fix(ui): migrate emerald legacy tokens per map section 3 (task 42)
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/200-dark-and-effects.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/600-steps-and-aps.css
Due: none

revert(scope): undo emerald task 42 in 500-pwa — check-in zone
  apps/web/styles/modules/500-pwa-and-offline.css
Due: none

docs(диспетчеризация): задачу называть списком файлов, а не семейством токенов
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

docs(вердикты): дизайнер снял четыре элемента, приняв находку про роль
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/verdicts/checkin-morning.json
  scripts/lib/ui-v4-verdicts.mjs
Due: prettier --write

chore(гейт): затянуть заморозку чужих запасных под правку клеток дня
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: none

docs(диспетчеризация): поправка — грязный скрипт гейта обычно не чужой WIP
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

docs(вердикты): каталог виджетов получил кадр — и оказался несведённым
  docs/ui/verdicts/home-widgets.json
Due: prettier --write

fix(ui): finish legacy token migration tasks 43-45
  apps/web/styles/modules/000-base-and-gamification.css
  scripts/ui-check-undeclared-vars.mjs
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: none

docs(находки): блокирующий вопрос про роль «чернила на герое» вынесен дизайнеру
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

fix(ui-v4): registration height-weight row margin 18px
  apps/web/heys_profile_step_v1.js
Due: eslint --max-warnings=500

fix(ui-v4): product-card portions step numeric contract
  apps/web/styles/modules/611-aps-product-card.css
Due: none

feat(копирование): ноль, пустое и дефект перестали быть одним нулём
  apps/web/__tests__/copy-meal-unknown-values-v4.test.js
  apps/web/heys_day_copy_meal_modal_v1.js
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/ui/verdicts/food-meal.json
Due: eslint --max-warnings=500, prettier --write

docs(находки): дизайнер закрыл девятнадцать записей, осталось три
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: prettier --write

fix(ui-v4): развилка F3 закрыта — slate-100 в «Метриках» разошёлся по ролям
  apps/web/styles/modules/100-metrics-and-graphs.css
Due: none

docs(ui-v4): решение по F3 записано в карту slate и в реестр раздачи
  docs/ui/UI_V4_DISPATCH_LEDGER.md
  docs/ui/legacy-map-slate.md
Due: prettier --write

feat(чек-ин): слой остаётся диалогом — решение владельца, дубль заголовка снят
  apps/web/__tests__/checkin-reserve-question-v4.test.js
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/300-modals-and-day.css
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/ui/designer-answers/Бриф-слой-шаговых-модалок.md
  docs/ui/verdicts/checkin-morning.json
  docs/ui/verdicts/cycle.json
  docs/ui/verdicts/water-add.json
  scripts/lib/ui-v4-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): текст на тёмной панели в 200-dark — на обычные чернила набора
  apps/web/styles/modules/200-dark-and-effects.css
Due: none

style(v4): 612-training-step — slate-100 → v4 roles (task 21)
  apps/web/styles/modules/612-training-step.css
Due: none

docs(реестр): бесхозные 28 строк в исходнике геймификации описаны до потери
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

fix(ui-v4): map slate-100 to v4 roles in 500-pwa-and-offline
  apps/web/styles/modules/500-pwa-and-offline.css
Due: none

fix(ui-v4): F3 закрыта в 000 — slate-100 разошёлся по v4-ролям
  apps/web/styles/modules/000-base-and-gamification.css
Due: none

fix(ui-v4): вернул объявление --color-slate-100 — его ещё читают 16 мест
  apps/web/styles/modules/000-base-and-gamification.css
Due: none

docs(реестр): полоса курсора на два-три дня и разбор снятого объявления
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

fix(роли): два места slate-100 в оболочке шага на чернила набора
  apps/web/styles/modules/600-steps-and-aps.css
Due: none

docs(находки): текст на синем акценте и крестик шапки приёма — два открытых
  docs/ui/UI_V4_DISPATCH_LEDGER.md
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

fix(ui-v4): migrate legacy colors in 500-pwa task 22
  apps/web/styles/modules/500-pwa-and-offline.css
Due: none

test(шаг приёма): активная точка сторожится ролью, а не литералом
  apps/web/__tests__/meal-time-v4-structure.test.js
Due: eslint --max-warnings=500

docs(реестр): пересчёт полосы 22-26 — в счёт white попадало white-space
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

docs(реестр): красный локально не значит красный в контуре
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

docs(вердикты): строка замера встала первой — и показала, что её нет в коде
  docs/ui/verdicts/reports-insights.json
  scripts/lib/ui-v4-verdicts.mjs
Due: prettier --write

feat(опись): три ведра тёплых литералов считаются командой
  docs/ui/UI_V4_BARE_LITERALS_INVENTORY.md
  scripts/ui-v4-list-bare-literals.mjs
Due: prettier --write

fix(опись): ведро 1 было завышено на 84 места ролями с именем набора
  scripts/ui-v4-list-bare-literals.mjs
Due: none

docs(опись): числа вёдер приведены к исправленному счёту
  docs/ui/UI_V4_BARE_LITERALS_INVENTORY.md
Due: prettier --write

fix(ui): bucket-1 bare literals in consents, steps, widgets, product-card
  apps/web/heys_consents_v1.js
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/611-aps-product-card.css
  apps/web/widgets/widget_data.js
Due: eslint --max-warnings=500

fix(ui): bucket 1 bare literals in boot/critical/shell (29)
  apps/web/heys_app_shell_v1.js
  apps/web/styles/critical.css
  apps/web/styles/heys-boot-mark.css
  scripts/ui-v4-check-bare-color-literals.mjs
Due: eslint --max-warnings=500

style(ui-v4): bucket 1 bare hex to v4 roles in 500-pwa CSS
  apps/web/styles/modules/500-pwa-and-offline.css
Due: none

docs(опись): решение по тёплым литералам вынесено из генерируемого файла
  docs/ui/UI_V4_BARE_LITERALS_DECISION.md
  docs/ui/UI_V4_BARE_LITERALS_INVENTORY.md
  scripts/ui-v4-list-bare-literals.mjs
Due: prettier --write

docs(реестр): запрет дизайнера снял задачу 23 и половину 25
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
