Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(strength): task 60 lane 1 test+head fixes for m4/gap6b
  apps/web/__tests__/strength-builder-functional-smoke.test.js
  apps/web/__tests__/strength-builder-interrupted-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-proposal-started-v4-canvas-contract.test.js
  apps/web/strength/heys_strength_builder_ui_v1.js
  scripts/.sb-task60-flow-handoff.json
  scripts/.task60-flow-commit-msg.txt
Due: eslint --max-warnings=500, prettier --write

fix(ui): food-meal видимые тач-цели 44px (полоса 4 · задача 63)
  apps/web/__tests__/add-product-search-v4-structure.test.js
  apps/web/__tests__/meal-time-v4-structure.test.js
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/610-aps-meal-flow.css
Due: eslint --max-warnings=500

fix(strength-builder): drop duplicate unit key from session subtitle
  apps/web/strength/heys_strength_builder_ui_v1.js
Due: eslint --max-warnings=500

fix(strength-builder): time unit key in head only, not distance/bodyweight
  apps/web/strength/heys_strength_builder_ui_v1.js
Due: eslint --max-warnings=500

test(web): stabilize infra timeouts in vitest band 5
  apps/web/__tests__/auto-sync-agent-check.test.js
  apps/web/__tests__/feedback-policy-contract.test.js
  apps/web/__tests__/helpers/git-clean-env.mjs
  apps/web/__tests__/helpers/playwright-browser.mjs
  apps/web/__tests__/integrate-agents.test.js
  apps/web/__tests__/login-error-codes-contract.test.js
  apps/web/__tests__/strength-builder-curator-gym-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-day-feed-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-drop-set-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-offscreen-timer-geometry.test.js
  apps/web/__tests__/strength-builder-rest-dock-geometry.test.js
  apps/web/__tests__/ui-v4-reverse-coverage.test.js
Due: eslint --max-warnings=500

fix(strength-builder): task66 align rest-origin smoke with canvas contract
  apps/web/__tests__/strength-builder-ui.test.js
  scripts/.sb-task66-builder-ui-handoff.json
  scripts/.task66-builder-ui-commit-msg.txt
Due: eslint --max-warnings=500, prettier --write

test(food-meal): align copy-meal fix pill height with 44px touch target
  apps/web/__tests__/copy-meal-unknown-values-v4.test.js
Due: eslint --max-warnings=500

fix(verdict-guard): classify task51 writer as GUARDED
  scripts/.polosa6-task71-piece2-commit-msg.txt
  scripts/.task51-apply-verified-equals.mjs
Due: none

fix(strength-builder): task66 weight-edit progress key only in head
  apps/web/__tests__/boot-spinner-mark.test.js
Due: eslint --max-warnings=500

feat(ship): isolated GIT_INDEX_FILE commits for parallel polosas
  docs/operations/AGENT_SHIPPING_RUNBOOK.md
  package.json
  scripts/check-agent-shipping-docs.mjs
  scripts/git-commit-isolated.mjs
  scripts/git-isolated-index-race.test.mjs
  scripts/lib/git-isolated-index.mjs
  scripts/ship.mjs
Due: prettier --write

fix(strength-builder): task66 weight-edit progress key only in head
  apps/web/__tests__/strength-builder-weight-edit-session-v4-canvas-contract.test.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  scripts/.sb-task66-weight-edit-handoff.json
Due: eslint --max-warnings=500, prettier --write

fix(шаги): каскад и гейт — одна цель 10000, без dist-скана
  apps/web/__tests__/steps-goal-single-default.test.js
  apps/web/heys_cascade_card_v1.js
Due: eslint --max-warnings=500

feat(ui): touch-target visible gate + inventory (полоса 4 · задача 69)
  apps/web/__tests__/ui-v4-touch-target-visible-gate.test.js
  scripts/.polosa4-task69-touch-target-baseline.json
  scripts/.polosa4-task69-touch-target-gate-handoff.json
  scripts/.polosa4-task69-touch-target-inventory.json
  scripts/ui-v4-check-touch-target-visible.mjs
Due: eslint --max-warnings=500, prettier --write

test(web): derive UI v4 band-5 gates from canvas package
  apps/web/__tests__/helpers/ui-v4-canvas-package.mjs
  apps/web/__tests__/ui-v4-contract-drift.test.js
  apps/web/__tests__/ui-v4-progress-report.test.js
  apps/web/__tests__/ui-v4-reverse-coverage.test.js
  apps/web/scripts/ui-v4-visual-fixture.mjs
  scripts/ui-v4-progress-report.mjs
Due: eslint --max-warnings=500

docs(ui-v4): task67 полоса 2 — package-36 rehash 7 зон + touch вердикты
  docs/ui/verdicts/curator-cabinet.json
  docs/ui/verdicts/food-meal.json
  docs/ui/verdicts/norm-correction.json
  docs/ui/verdicts/nutrition-tab.json
  docs/ui/verdicts/product-card.json
  docs/ui/verdicts/settings-system.json
  docs/ui/verdicts/strength-builder.json
Due: prettier --write

feat(ui-v4): построчный список расхождений для дизайнера — все 869 одним файлом
  docs/ui/UI_V4_DIVERGENCE_ROWS.json
  docs/ui/UI_V4_DIVERGENCE_ROWS.md
  scripts/ui-v4-designer-divergence-list.mjs
Due: prettier --write

chore(ui-v4): храповик вслед за пакетом 36 — семь снижений, рост не тронут
  scripts/lib/ui-v4-verdicts.mjs
Due: none

test(bibliography): реестр сторожит правило, а не число 25
  apps/web/__tests__/day-bibliography.test.js
Due: eslint --max-warnings=500

chore(ui-v4): allowlist Tier A опустел — оба продуктовых долга закрыты
  scripts/.ui-v4-literal-lock-tests-allowlist.json
Due: prettier --write

feat(scripts): canonical verdict handoff schema + zone-agnostic apply
  apps/web/__tests__/handoff-schema.test.js
  scripts/handoff-schema.json
  scripts/lib/handoff-batch-apply.mjs
  scripts/lib/handoff-schema.mjs
  scripts/ui-v4-handoff-inventory.mjs
  scripts/ui-v4-verdict-batch-apply.mjs
Due: eslint --max-warnings=500, prettier --write

test(widgets): quick-actions edit-mode waits survive fake timers
  apps/web/__tests__/nutrition-tab-v4-contract-fixes.test.js
  apps/web/day/_meals.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

test(widgets): quick-actions edit waits real timers
  apps/web/__tests__/widgets-quick-actions-v4.test.js
Due: eslint --max-warnings=500

fix(verdicts): remove false computed-style evidence on strength-builder plan feed
  package.json
Due: prettier --write

fix(verdicts): remove false computed-style evidence on strength-builder plan feed
  docs/ui/verdicts/strength-builder.json
Due: prettier --write

feat(ui-v4): task 77 MVP zone measure runner
  scripts/.task77-summarize-control.mjs
  scripts/ui-v4-measure-zone.mjs
Due: none

feat(ui-v4): task72 visual fixture for three zones
  apps/web/heys_ui_onboarding_v1.js
  apps/web/heys_ui_v4_visual_fixture_v1.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  docs/ui/verdicts/first-run.json
  docs/ui/verdicts/messenger.json
  docs/ui/verdicts/subscription.json
  scripts/.sb-task72-visual-fixture-handoff.json
Due: eslint --max-warnings=500, prettier --write

test(web): stabilize task 76 progress report and Playwright teardown
  apps/web/__tests__/helpers/committed-verdict-zones.mjs
  apps/web/__tests__/helpers/playwright-browser.mjs
  apps/web/__tests__/strength-builder-offscreen-timer-geometry.test.js
  apps/web/__tests__/strength-builder-rest-dock-geometry.test.js
  apps/web/__tests__/ui-v4-progress-report.test.js
Due: eslint --max-warnings=500

feat(verdicts): messenger strip-1 verdicts (276 rows, 0 ?)
  docs/ui/verdicts/messenger.json
Due: prettier --write

test(web): stabilize task 76 part 1 push blockers
  scripts/.task67-polosa2-stepb-verdict-apply.mjs
  scripts/.task67-polosa2-touch-verdict-apply.mjs
Due: none

fix(вес): коннектор отличает расчётный вес от измеренного
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

ui(v4): expand parseContractAssertions with PICK patterns (task 75)
  apps/web/__tests__/ui-v4-assertions.test.js
  scripts/lib/ui-v4-assertions.mjs
Due: eslint --max-warnings=500

feat(ui-v4): wire dom-measure pipeline into zone runner (Task 77)
  apps/web/__tests__/ui-v4-dom-measure.test.js
  scripts/lib/ui-v4-dom-measure.mjs
  scripts/ui-v4-measure-zone.mjs
Due: eslint --max-warnings=500

fix(verdicts): убраны два выдуманных ключа в nutrition-tab
  apps/web/__tests__/handoff-schema.test.js
  apps/web/__tests__/ui-v4-dom-measure.test.js
  apps/web/heys_ui_v4_visual_fixture_v1.js
  docs/ui/verdicts/nutrition-tab.json
  scripts/.sb-task72-visual-fixture-handoff.json
  scripts/.task60-entry-followup-commit-msg.txt
  scripts/.task66-weight-edit-commit-msg.txt
  scripts/.task67-polosa2-stepb-verdict-apply.mjs
  scripts/.task67-polosa2-touch-verdict-apply.mjs
  scripts/.task77-summarize-control.mjs
  scripts/git-commit-isolated.mjs
  scripts/git-isolated-index-race.test.mjs
  scripts/handoff-schema.json
  scripts/lib/git-isolated-index.mjs
  scripts/lib/handoff-batch-apply.mjs
  scripts/lib/handoff-schema.mjs
  scripts/ui-v4-handoff-inventory.mjs
  scripts/ui-v4-measure-zone.mjs
  scripts/ui-v4-verdict-batch-apply.mjs
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): wire dom-measure pipeline into zone runner (Task 77)
  apps/web/__tests__/ui-v4-dom-measure.test.js
  scripts/ui-v4-measure-zone.mjs
Due: eslint --max-warnings=500

feat(чек-ин): «не взвешивался» через коннектор
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

feat(продукты): карточки-близнецы больше не заставляют переспрашивать
  yandex-cloud-functions/heys-mcp/__tests__/products.test.cjs
  yandex-cloud-functions/heys-mcp/lib/products.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

fix(verdicts): 58 непроверенных «≠» возвращены в «?» по решению владельца
  docs/ui/verdicts/strength-builder.json
  scripts/lib/ui-v4-verdicts.mjs
Due: prettier --write

fix(web): nutrition-tab chip 44px + date sheet smoke
  apps/web/__tests__/nutrition-tab-v4-contract-fixes.test.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
Due: eslint --max-warnings=500

feat(ui): pending unknown-intent markers for verdict semantics gate
  apps/web/__tests__/ui-v4-verdict-semantics.test.js
  scripts/ui-v4-check-verdict-semantics.mjs
Due: eslint --max-warnings=500

docs(ui): close first-run contract verdicts (131 rows, 0 ?)
  docs/ui/verdicts/first-run.json
Due: prettier --write
