Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 4518522f
  apps/web/public/whats-new.json
Due: prettier --write

docs(fingers): training methodology source materials
  apps/web/fingers/methodology/AUDIT_SOURCES.md
  apps/web/fingers/methodology/BIBLIOGRAPHY.md
  apps/web/fingers/methodology/CLAUDE.md
  apps/web/fingers/methodology/CONSTRUCTOR_SPEC.md
  apps/web/fingers/methodology/IMPLEMENTATION_MAP.md
  apps/web/fingers/methodology/IMPLEMENTATION_READINESS.md
  apps/web/fingers/methodology/METHODOLOGY.md
  apps/web/fingers/methodology/PLAYBOOK.md
  apps/web/fingers/methodology/PROTOCOL_POOL.md
  apps/web/fingers/methodology/tools/impl-coverage.mjs
  apps/web/fingers/methodology/tools/school-weights.mjs
Due: prettier --write

chore(scripts): add pnpm ship unified solo-flow
  CLAUDE.md
  package.json
  scripts/check-agent-staging.mjs
  scripts/ship.mjs
Due: prettier --write

chore(release): add whats-new for 8dd6e926
  apps/web/public/whats-new.json
Due: prettier --write

chore(scripts): emit technical whats-new from ship; simplify flow docs
  CLAUDE.md
  scripts/ship.mjs
Due: prettier --write

chore(release): whats-new for e4b9372e
  apps/web/public/whats-new.json
Due: prettier --write

docs(fingers): methodology phase-1 kickoff + spec/playbook updates
  apps/web/fingers/methodology/CONSTRUCTOR_SPEC.md
  apps/web/fingers/methodology/IMPLEMENTATION_MAP.md
  apps/web/fingers/methodology/KICKOFF.md
  apps/web/fingers/methodology/METHODOLOGY.md
  apps/web/fingers/methodology/PLAYBOOK.md
  apps/web/fingers/methodology/tools/impl-coverage.mjs
Due: prettier --write

chore(scripts): add --force-technical override for ship docs/chore flow
  scripts/prepare-release.mjs
  scripts/ship.mjs
Due: none

chore(release): whats-new for add --force-technical override for ship docs/chore flow
  apps/web/public/whats-new.json
Due: prettier --write

chore(scripts): add main-branch guard to ship; warn before silent agent-branch push
  CLAUDE.md
  scripts/ship.mjs
Due: prettier --write

chore(release): whats-new for add main-branch guard to ship; warn before silent agent-branch push
  apps/web/public/whats-new.json
Due: prettier --write

test(fingers): safety regression baseline before strangler
  apps/web/__tests__/fingers-mix-engine.test.js
  apps/web/fingers/methodology/KICKOFF.md
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for safety regression baseline before strangler
  apps/web/public/whats-new.json
Due: prettier --write

chore(security): apply SECDEF hardening to prod DB (SEC-015/016 fixed)
  docs/SECURITY_REVIEW.md
  security-reports/migrations/2026-06-08_M1_harden_secdef.txt
  security-reports/migrations/2026-06-08_M2_revoke_public.txt
Due: prettier --write

chore(release): whats-new for apply SECDEF hardening to prod DB (SEC-015/016 fixed)
  apps/web/public/whats-new.json
Due: prettier --write

docs(security): fix prettier-mangled identifiers in deploy-status block
  docs/SECURITY_REVIEW.md
Due: prettier --write

chore(release): whats-new for fix prettier-mangled identifiers in deploy-status block
  apps/web/public/whats-new.json
Due: prettier --write

chore(security): SEC-003 — REST POST stop leaking 42601, reject empty body
  docs/SECURITY_REVIEW.md
  scripts/security-smoke-test.sh
  yandex-cloud-functions/heys-api-rest/index.js
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for SEC-003 — REST POST stop leaking 42601, reject empty body
  apps/web/public/whats-new.json
Due: prettier --write

docs(security): mark SEC-015/016 live-verified via prod PIN+curator smoke
  apps/web/fingers/heys_fingers_quality_catalog_v1.js
  docs/SECURITY_REVIEW.md
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for mark SEC-015/016 live-verified via prod PIN+curator smoke
  apps/web/public/whats-new.json
Due: prettier --write

chore(release): whats-new for SEC-014 partial — SAST noise reduction 98% (excludes + FP filters)
  apps/web/public/whats-new.json
Due: prettier --write

chore(security): SEC-014 fixed — SAST baseline-ratchet, continue-on-error снят
  .github/workflows/security-scan.yml
  apps/web/__tests__/fingers-mix-engine.test.js
  apps/web/__tests__/sync-race-condition.test.js
  apps/web/bundle-manifest.json
  apps/web/fingers/heys_fingers_quality_catalog_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_hooks.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.42c54e6a03c2.js
  apps/web/public/boot-calc.bundle.42c54e6a03c2.js.gz
  apps/web/public/boot-calc.bundle.a9fc899d2d43.js
  apps/web/public/boot-calc.bundle.a9fc899d2d43.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  docs/SECURITY_REVIEW.md
  scripts/bootstrap-bypass-allowlist.txt
  scripts/security/sast-scan.js
  security-reports/sast-baseline.json
  security-reports/sast-report.html
  security-reports/sast-report.json
  security-reports/sast-report.sarif
  todo.md
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for SEC-014 fixed — SAST baseline-ratchet, continue-on-error снят
  apps/web/public/whats-new.json
Due: prettier --write

chore(fingers): block_catalog — 36 atoms × 9 blocks from PROTOCOL_POOL (phase1 step3 part1)
  apps/web/__tests__/fingers-block-catalog.test.js
  apps/web/bundle-manifest.json
  apps/web/fingers/heys_fingers_block_catalog_v1.js
  apps/web/heys_fingers_bundle_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/scripts/bundle-fingers.cjs
  scripts/bootstrap-bypass-allowlist.txt
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

chore(scripts): close cross-agent capture gaps in ship + legacy-sync
  scripts/auto-sync-legacy-bundles.mjs
  scripts/ship.mjs
Due: none

chore(release): whats-new for 1c00fd30
  apps/web/public/whats-new.json
Due: prettier --write

fix(security): allow http://localhost:* in CSP connect-src for local dev (SEC-005 patch)
  apps/web/index.html
Due: none

docs(claude): update ship contract — explicit staging + cross-agent rules
  CLAUDE.md
Due: prettier --write

chore(release): whats-new for a091f3cc
  apps/web/public/whats-new.json
Due: prettier --write

chore(scripts): fix ship.mjs — rename ensureSomethingToCommit, drop dup git add -A
  scripts/ship.mjs
Due: none

chore(release): whats-new for fix ship.mjs — rename ensureSomethingToCommit, drop dup git add -A
  apps/web/public/whats-new.json
Due: prettier --write

fix(checkin): required-блок в начало мастера до опциональных шагов
  apps/web/bundle-manifest.json
  apps/web/heys_morning_checkin_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.1f2a1740151d.js
  apps/web/public/postboot-3-ui-lazy.bundle.1f2a1740151d.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.855557bb4376.js
  apps/web/public/postboot-3-ui-lazy.bundle.855557bb4376.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for required-блок в начало мастера до опциональных шагов
  apps/web/public/whats-new.json
Due: prettier --write

docs(claude): one explicit --no-verify grant is enough, don't re-ask
  CLAUDE.md
Due: prettier --write

chore(release): whats-new for 25a81041
  apps/web/public/whats-new.json
Due: prettier --write

docs(claude): check @{u}..HEAD before reset to avoid dropping foreign unpushed commits
  CLAUDE.md
Due: prettier --write

chore(release): whats-new
  apps/web/public/whats-new.json
Due: prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
