Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

docs(правила): скрипт, который считает, — тоже находка, и его проверяют глазами
  AGENTS.md
  CLAUDE.md
Due: prettier --write

fix(штрихкод): фиолетовое снятой системы ушло с кнопок на роли
  apps/web/styles/modules/610-aps-meal-flow.css
  apps/web/styles/modules/611-aps-product-card.css
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

test(гейты): сверка с кадрами называет свой охват числом и держит его храповиком
  apps/web/__tests__/canvas-razbor-helpers.js
  apps/web/__tests__/checkin-v4-canvas-razbor.test.js
  apps/web/__tests__/curator-panel-canvas-geometry.test.js
  apps/web/__tests__/spinners-pwa-v4-canvas-razbor.test.js
Due: eslint --max-warnings=500

docs(вердикты): планер, ярус Питание, блок Динамики, Баланс за период
  docs/ui/verdicts/reports-insights.json
Due: prettier --write

fix(инсайты): вход в обоснование планера был тише всего в карточке
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

docs(вердикты): роль набора в модуле признана ошибкой — одиннадцать строк переставлены
  docs/ui/verdicts/cycle.json
  docs/ui/verdicts/settings-system.json
Due: prettier --write

fix(поиск): цель штрихкода дотянулась до 44
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/ui/verdicts/food-meal.json
Due: prettier --write

docs(вердикты): прочерки недель, чтение разбора, третий скелетон
  docs/ui/verdicts/reports-insights.json
Due: prettier --write

docs(отчёты): запасное значение линии недель приведено к роли
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/styles/modules/733-ui-v4-reports.css
Due: eslint --max-warnings=500

fix(вставка строки): поле кода и примечание ушли с легаси-переменных
  apps/web/styles/modules/611-aps-product-card.css
  docs/ui/verdicts/product-card.json
Due: prettier --write

fix(правка набора): карточка «Весь набор» стала карточкой
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/ui/verdicts/food-meal.json
Due: prettier --write

test(гейты): все двенадцать разборов кадров называют охват, и он собирается сам
  apps/web/__tests__/canvas-razbor-helpers.js
  apps/web/__tests__/curator-edits-canvas-razbor.test.js
  apps/web/__tests__/curator-edits-splash-v4-canvas-razbor.test.js
  apps/web/__tests__/date-remainders-v4-canvas-razbor.test.js
  apps/web/__tests__/gamification-v4-canvas-razbor.test.js
  apps/web/__tests__/login-v4-canvas-razbor.test.js
  apps/web/__tests__/norm-correction-canvas-razbor.test.js
  apps/web/__tests__/nutrition-v4-canvas-razbor.test.js
  apps/web/__tests__/settings-cycle-v4-canvas-razbor.test.js
  apps/web/__tests__/tips-v4-canvas-razbor.test.js
  apps/web/__tests__/widgets-bd-sheet-canvas-razbor.test.js
Due: eslint --max-warnings=500

docs(вердикты): лестница порогов и панель «Что если»
  docs/ui/verdicts/reports-insights.json
Due: prettier --write

docs(инсайты): высота строки порога и три отступления «Что если»
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/styles/modules/734-ui-v4-insights.css
Due: eslint --max-warnings=500

docs(дизайн): пакет вопросов пересобран — 56 открытых записей вместо 48
  docs/ui/UI_V4_DESIGNER_REQUEST.md
Due: prettier --write

test(актив): слова кадров сверяются машиной, роли ушли с имени набора
  apps/web/__tests__/activity-v4-canvas-razbor.test.js
  apps/web/__tests__/aps-css-zones.test.js
  apps/web/__tests__/morning-checkin-v4-contract-geometry.test.js
  apps/web/styles/modules/610-aps-meal-flow.css
  apps/web/styles/modules/611-aps-product-card.css
Due: eslint --max-warnings=500

fix(вставка строки): блок «Распознано» встал на кадр и потерял две подложки под одной ролью
  docs/ui/verdicts/product-card.json
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: prettier --write

test(гейты): парные сверки геометрии тоже называют охват
  apps/web/__tests__/activity-v4-canvas-geometry.test.js
  apps/web/__tests__/nutrition-v4-canvas-geometry.test.js
  apps/web/__tests__/widgets-v4-canvas-geometry.test.js
Due: eslint --max-warnings=500

docs(находки): главное число Отчётов описано тремя разными кеглями
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/reports-insights.json
Due: prettier --write

docs(вердикты): экран «Подробно» — прогноз, итоги, состав ярусов
  docs/ui/verdicts/reports-insights.json
Due: prettier --write

fix(инсайты): в «Подробно» число итога было тише имени периода
  apps/web/insights/pi_ui_dashboard.js
  apps/web/styles/modules/734-ui-v4-insights.css
Due: eslint --max-warnings=500

fix(вставка строки): строка публикации и схема полей ушли с инлайна прежней системы
  apps/web/heys_add_product_step_v1.js
  apps/web/styles/modules/611-aps-product-card.css
  docs/ui/verdicts/product-card.json
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: eslint --max-warnings=500, prettier --write

fix(создание продукта): выбор «в базу или разово» потерял синеву прежней системы
  apps/web/styles/modules/611-aps-product-card.css
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: none

feat(отчёты): выбор окна собран чипами по новому слою контракта
  apps/web/__tests__/reports-tiers-contract.test.js
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/implementation/REPORTS_INSIGHTS_V4_IMPLEMENTATION_2026-08-29.md
  docs/ui/verdicts/reports-insights.json
Due: eslint --max-warnings=500, prettier --write

fix(советы): три кадра-сироты сведены, у зоны дат не осталось строк без вердикта
  apps/web/__tests__/date-remainders-v4-canvas-razbor.test.js
  apps/web/styles/modules/400-water-and-hydration.css
  docs/ui/verdicts/date-remainders.json
Due: eslint --max-warnings=500, prettier --write

fix(создание продукта): главная кнопка и пресеты граммовки ушли с зелёного прежней системы
  apps/web/styles/modules/611-aps-product-card.css
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: none

docs(доска): вечерний передел зон — Отчёты и входной флоу сменили владельцев
  docs/ui/UI_V4_CONDUCTOR_BOARD.md
Due: prettier --write

fix(отчёты): пять карточек обещали белый фон, отступление снято из списка
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

refactor(оболочка): последние десять мёртвых копий сняты, потолок гейта пуст
  apps/web/__tests__/aps-css-zones.test.js
  apps/web/styles/modules/600-steps-and-aps.css
Due: eslint --max-warnings=500

docs(отчёты): красный у падающего показателя — четвёртая пара строк, спорящих в одной поставке
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/reports-insights.json
Due: eslint --max-warnings=500, prettier --write

chore(гейты): храповик затянут на закрытом долге
  scripts/ui-v4-check-foreign-fallbacks.mjs
  scripts/ui-v4-check-undefined-roles.mjs
Due: none

fix(поиск): четыре тупика поиска заговорили словами кадров
  apps/web/__tests__/add-product-search-edge-v4-structure.test.js
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/ui/verdicts/food-meal.json
Due: eslint --max-warnings=500, prettier --write

fix(создание продукта): поля и кнопка промпта ушли с легаси-переменных, фокус стал внутренним
  apps/web/styles/modules/611-aps-product-card.css
Due: none

fix(строка приёма): список приёмов дня держит один гейт, а не два красных
  apps/web/__tests__/food-meal-day-list-canvas-geometry.test.js
  apps/web/__tests__/nutrition-v4-canvas-geometry.test.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
Due: eslint --max-warnings=500

fix(регистрация): дорожка чтения обрела радиус, первый кадр зоны сведён
  apps/web/styles/modules/733-ui-v4-login-theme.css
  docs/ui/verdicts/questionnaire.json
  docs/ui/verdicts/registration.json
Due: prettier --write

feat(отчёты): покадровый разбор пошёл — шапка, герой и матрица сведены парами
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/ui/verdicts/reports-insights.json
Due: eslint --max-warnings=500, prettier --write

docs(дизайн): пакет прошёл проверку по коду — четыре вопроса сняты, семь переписаны
  docs/ui/UI_V4_DESIGNER_REQUEST.md
Due: prettier --write

fix(отчёты): три отступления разбора внесены в общий реестр гейта
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
Due: eslint --max-warnings=500

fix(создание продукта): «Вставить из буфера» и подписи шага ушли с легаси-переменных
  apps/web/styles/modules/611-aps-product-card.css
Due: none

fix(каскад): дорожка шкалы Score стояла на роли обводки дневника
  apps/web/styles/modules/740-cascade-card.css
Due: none

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
