Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix(fingers): #6 derived level НЕ сеет creds (MVC != tissue-time, strong-newbie safety)
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

fix(fingers): #7+#8 — ultimate floor beginner + grip+edge дедуп (ревью #7)
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

feat(fingers): plumbing Гейта #1 — enrichment MVC/level из records (ревью #8)
  apps/web/__tests__/fingers-engine-router.test.js
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/fingers/heys_fingers_engine_router_v1.js
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

test(fingers): parity-snapshot useCountdownCycle перед reps-runner refactor (Step 1/4)
  apps/web/__tests__/fingers-timer-cycle.test.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

feat(fingers): Step 2-3 — useRepsCycle hook + RepsCounterDisplay (timer module)
  apps/web/__tests__/fingers-reps-cycle.test.js
  apps/web/__tests__/fingers-reps-display.test.js
  apps/web/fingers/heys_fingers_timer_v1.js
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

feat(fingers): Step 4 — ExerciseRunner dispatcher + useExerciseShell (Hang/Reps split)
  apps/web/__tests__/fingers-exercise-runner.test.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
Due: eslint --max-warnings=500

docs(fingers): methodology review handoffs from cloud reviewer
  apps/web/fingers/methodology/REVIEW_HANDOFF.md
  apps/web/fingers/methodology/REVIEW_step3-4.1.md
  apps/web/fingers/methodology/REVIEW_step4.3.md
Due: prettier --write

fix(gamification): break BLOCKED-loop — symmetric 30d cutoff for cloudDailyXP count
  apps/web/bundle-manifest.json
  apps/web/heys_gamification_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.8b28efd874a6.js
  apps/web/public/postboot-1-game-lazy.bundle.8b28efd874a6.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.e57d8f80cb6a.js
  apps/web/public/postboot-1-game-lazy.bundle.e57d8f80cb6a.js.gz
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 9b3ca706
  apps/web/public/whats-new.json
Due: prettier --write

chore(scripts): smoother parallel-agent flow — auto-stash + zones + auto-whats-new + source-only
  .claude/agent-zones.json
  .husky/post-commit
  scripts/agent-zones.mjs
  scripts/auto-pop-foreign-stash.mjs
  scripts/auto-sync-legacy-bundles.mjs
  scripts/check-agent-staging.mjs
  scripts/push-agent.mjs
Due: prettier --write

fix(scripts): убрал мёртвый await в tryAutoFromCommits (push-agent)
  scripts/push-agent.mjs
Due: none

chore(release): add whats-new for f39bfc7f
  apps/web/public/whats-new.json
Due: prettier --write

docs(fingers): обновить KICKOFF — Шаги 1-4 в проде, осталось re-shadow до flag=on
  apps/web/fingers/methodology/KICKOFF.md
Due: prettier --write

docs(fingers): добавить сводку готовности (аудит 2026-06-09) — методология×движок по разделам
  apps/web/fingers/methodology/METHODOLOGY.md
Due: prettier --write

docs(fingers): план дальнейшей работы + статус реализации по подразделам в IMPLEMENTATION_MAP
  apps/web/fingers/methodology/IMPLEMENTATION_MAP.md
Due: prettier --write

chore(release): whats-new for fingers IMPLEMENTATION_MAP tracker
  apps/web/public/whats-new.json
Due: prettier --write

feat(fingers): Шаг 5 — UI на continuous doseShape (ARC/mileage/technique drills)
  apps/web/__tests__/fingers-continuous-display.test.js
  apps/web/__tests__/fingers-exercise-runner.test.js
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
  apps/web/fingers/heys_fingers_timer_v1.js
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(release): whats-new for Шаг 5 — UI на continuous doseShape (ARC/mileage/technique drills)
  apps/web/public/whats-new.json
Due: prettier --write

feat(fingers): Шаг 5b — UI на attempts doseShape (болдер-лимит/дайно/кампус/RFD)
  apps/web/__tests__/fingers-attempts-display.test.js
  apps/web/__tests__/fingers-exercise-runner.test.js
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
  apps/web/fingers/heys_fingers_timer_v1.js
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(release): whats-new for Шаг 5b — UI на attempts doseShape (болдер-лимит/дайно/кампус/RFD)
  apps/web/public/whats-new.json
Due: prettier --write

feat(fingers): Шаг 5c — UI на circuit doseShape (4x4/EMOM/связки/повторы трассы/power intervals)
  apps/web/__tests__/fingers-circuit-display.test.js
  apps/web/__tests__/fingers-exercise-runner.test.js
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
  apps/web/fingers/heys_fingers_timer_v1.js
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(release): whats-new for circuit doseShape (Шаг 5c)
  apps/web/public/whats-new.json
Due: prettier --write

feat(fingers): Шаг 5d — UI на process doseShape (тактика redpoint, checklist)
  apps/web/__tests__/fingers-exercise-runner.test.js
  apps/web/__tests__/fingers-process-display.test.js
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
  apps/web/fingers/heys_fingers_timer_v1.js
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(release): whats-new for process doseShape (Шаг 5d)
  apps/web/public/whats-new.json
Due: prettier --write

fix(scripts): обрезка длинного subject в whats-new commit под лимит 100
  scripts/ship.mjs
Due: none

chore(release): whats-new for ship.mjs subject truncation
  apps/web/public/whats-new.json
Due: prettier --write

feat(fingers): B3 — detectPlateau + axes policy (§1.2/§1.3 advisory)
  apps/web/__tests__/fingers-progression-axes.test.js
  apps/web/fingers/heys_fingers_progression_v1.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/heys_fingers_bundle_v1.js
  apps/web/scripts/bundle-fingers.cjs
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(release): whats-new for B3 — detectPlateau + axes policy (§1.2/§1.3 advisory)
  apps/web/public/whats-new.json
Due: prettier --write

refactor(fingers): A4 — общее timer-core ядро, useCountdownCycle+useRepsCycle тонкие
  apps/web/fingers/heys_fingers_timer_v1.js
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(release): whats-new for A4 — общее timer-core ядро, useCountdownCycle+useRepsCycle тонкие
  apps/web/public/whats-new.json
Due: prettier --write

fix(day): не возвращать followup зарядки после завершения
  apps/web/__tests__/morning-activation-followup.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_day_trainings_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.9b8bf0c4f8c4.js
  apps/web/public/postboot-3-ui-lazy.bundle.9b8bf0c4f8c4.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.c95652217d24.js
  apps/web/public/postboot-3-ui-lazy.bundle.c95652217d24.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(gitignore): ignore local task backlog
  .gitignore
Due: none

docs(fingers): update methodology implementation status
  apps/web/fingers/methodology/IMPLEMENTATION_MAP.md
  apps/web/fingers/methodology/IMPLEMENTATION_READINESS.md
  apps/web/fingers/methodology/KICKOFF.md
Due: prettier --write

docs(security): record tier2 review handoff
  docs/SECURITY_REVIEW_tier2.md
Due: prettier --write

chore(deps): refresh workspace dependency locks
  apps/web/package.json
  package.json
  packages/core/package.json
  packages/search/package.json
  packages/shared/package.json
  packages/storage/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

docs(calories): add methodology audit review
  review/caloric-methodology-audit/FIX_PLAN.md
  review/caloric-methodology-audit/METHODOLOGY_AUDIT.md
  review/caloric-methodology-audit/PRODUCT_BASE_SCAN.md
  review/caloric-methodology-audit/README.md
  review/caloric-methodology-audit/SECOND_PASS.md
  review/caloric-methodology-audit/THIRD_PASS.md
  review/caloric-methodology-audit/VERIFICATION.md
  review/caloric-methodology-audit/scan_products.cjs
  review/caloric-methodology-audit/verify_caloric.cjs
Due: prettier --write

docs(marketing): add HEYS growth planning package
  маркетинг/00_Сводная_панель.xlsx
  маркетинг/01_Ревью_продукта_и_рынка_РФ.md
  маркетинг/02_SWOT_сильные_слабые.md
  маркетинг/03_Каналы_и_продакт-плейсмент.md
  маркетинг/04_Маркетинговый_план.md
  маркетинг/05_Финмодель.xlsx
  маркетинг/06_Конкурентный_разбор.md
  маркетинг/07_Плейбук_каналов_и_креативы.md
  маркетинг/08_Воронка_онбординг_CRO.md
  маркетинг/09_Привлечение_кураторов.md
  маркетинг/10_Слепые_зоны_и_широкий_контекст.md
  маркетинг/11_Фазовое_ценообразование_и_запуск.md
  маркетинг/12_Конкуренты_сводная_таблица.md
  маркетинг/13_AI_распознавание_и_ревью_тарифов.md
  маркетинг/14_Telegram_плейбук.md
  маркетинг/15_Ревизия_и_лог_решений.md
  маркетинг/16_Методология_сильных_сторон_конкурентов.md
  маркетинг/17_Бот_лид-магнит_и_онбординг-квиз.md
  маркетинг/18_Измеримость.md
  маркетинг/README.md
Due: prettier --write

chore(release): add whats-new for c60c048b
  apps/web/public/whats-new.json
Due: prettier --write

fix(fingers): учитывать группы хвата в S2 freshness
  apps/web/__tests__/fingers-validators.test.js
  apps/web/fingers/heys_fingers_validators_v1.js
  apps/web/fingers/methodology/PROTOCOL_POOL.md
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for fd765536
  apps/web/public/whats-new.json
Due: prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
