Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat(landing): add private A/B/C version switcher and C draft route
  apps/landing/src/app/page.tsx
  apps/landing/src/app/v/b/page.tsx
  apps/landing/src/app/v/c/page.tsx
  apps/landing/src/components/VersionSwitcherFab.tsx
  apps/landing/src/components/versions/VersionA.tsx
  apps/landing/src/components/versions/VersionDraft.tsx
  apps/landing/src/config/landing-versions.ts
  маркетинг/00_Дашборд.html
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/40_Аудит_лендинга_mobile_2026-07-26.md
  маркетинг/41_Единый_релизный_контур_и_очередь_промптов_2026-07-26.md
  маркетинг/46_Landing_C_эталон_и_план_разработки_2026-07-31.md
  маркетинг/README.md
Due: eslint --max-warnings=500, prettier --write

docs(landing): note menu coupling with hero and refresh baseline A menu description
  маркетинг/40_Аудит_лендинга_mobile_2026-07-26.md
  маркетинг/46_Landing_C_эталон_и_план_разработки_2026-07-31.md
Due: prettier --write

feat(landing): build version C skeleton with sticky action
  apps/landing/src/app/v/c/page.tsx
  apps/landing/src/components/versions/VersionC.tsx
  apps/landing/src/components/versions/c/PriceSection.tsx
  apps/landing/src/components/versions/c/RecognitionSection.tsx
  apps/landing/src/components/versions/c/ReviewedWeekSection.tsx
  apps/landing/src/components/versions/c/SecondLayerSection.tsx
  apps/landing/src/components/versions/c/StickyCta.tsx
  apps/landing/src/components/versions/c/TrialSection.tsx
  маркетинг/00_Дашборд.html
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/46_Landing_C_эталон_и_план_разработки_2026-07-31.md
Due: eslint --max-warnings=500, prettier --write

feat(landing): fill version C with week artifact, outcome and objections
  apps/landing/src/components/versions/c/PriceObjections.tsx
  apps/landing/src/components/versions/c/PriceSection.tsx
  apps/landing/src/components/versions/c/ReviewedWeekSection.tsx
  apps/landing/src/components/versions/c/TrialSection.tsx
  apps/landing/src/components/versions/c/WeekArtifact.tsx
  apps/landing/src/components/versions/c/WeekOutcome.tsx
  маркетинг/00_Дашборд.html
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/46_Landing_C_эталон_и_план_разработки_2026-07-31.md
Due: eslint --max-warnings=500, prettier --write

feat(landing): rebuild mobile menu as a sectioned index with sticky header
  apps/landing/src/assets/logo-horizontal.svg
  apps/landing/src/components/HeroSSR.tsx
  apps/landing/src/components/LandingHeader.tsx
  apps/landing/src/components/LandingNav.tsx
  apps/landing/src/components/MobileNavMenu.tsx
  apps/landing/src/config/landing-variants.ts
  apps/landing/src/styles/globals.css
Due: eslint --max-warnings=500

docs(brand): add logo sources, fonts and brand reference
  docs/brand/README.md
  docs/brand/fonts/Agrandir-Regular.ttf
  docs/brand/fonts/HeliosExtLightC.otf
  docs/brand/heys-design-sketch.pdf
  docs/brand/logo/heys-logo-report.txt
  docs/brand/logo/heys-logo-sheet-fonts.ai
  docs/brand/logo/heys-logo-sheet.ai
  docs/brand/logo/heys-logo-sheet.svg
Due: prettier --write

docs: register brand sources and mobile nav owner in the docs map
  docs/README.md
  docs/reference/systems/LANDING_AND_LEADS.md
Due: prettier --write

chore(landing): доработать версию C и починить сборку черновых роутов
  apps/landing/src/app/page.tsx
  apps/landing/src/app/v/b/page.tsx
  apps/landing/src/app/v/c/page.tsx
  apps/landing/src/components/VersionSwitcherFab.tsx
  apps/landing/src/components/versions/VersionC.tsx
  apps/landing/src/components/versions/c/PriceSection.tsx
  apps/landing/src/components/versions/c/ReviewedWeekSection.tsx
  apps/landing/src/components/versions/c/WeekArtifact.tsx
  apps/landing/src/config/landing-versions.ts
  маркетинг/46_Landing_C_эталон_и_план_разработки_2026-07-31.md
Due: eslint --max-warnings=500, prettier --write

feat(planning): hide games behind curator or client access
  apps/web/__tests__/planning-games-ui.test.js
  apps/web/__tests__/planning-home-subtab.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_planning_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.195ebcefd335.js
  apps/web/public/postboot-3-ui-lazy.bundle.195ebcefd335.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.e1eb174c5a2a.js
  apps/web/public/postboot-3-ui-lazy.bundle.e1eb174c5a2a.js.gz
  apps/web/public/sw.js
  docs/assemble-day/assemble_prodution_megaplan.md
  docs/reference/systems/PLANNING.md
Due: eslint --max-warnings=500, prettier --write

fix(landing): lift the sticky mobile header off the content with elevation
  apps/landing/src/components/LandingNav.tsx
Due: eslint --max-warnings=500

docs(marketing): design Landing B-Future canon and open curator identity
  docs/README.md
  маркетинг/15_Ревизия_и_лог_решений.md
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/30_Конкурентные_решения.md
  маркетинг/47_Landing_B_Future_нарратив_и_план_разработки_2026-07-31.md
  маркетинг/README.md
Due: prettier --write

feat(landing): build version B skeleton with four full-screen chapters
  apps/landing/src/app/v/b/page.tsx
  apps/landing/src/components/versions/VersionB.tsx
  apps/landing/src/components/versions/VersionDraft.tsx
  apps/landing/src/components/versions/b/Chapter.tsx
  apps/landing/src/components/versions/b/CuratorIntro.tsx
  apps/landing/src/components/versions/b/MediaSlot.tsx
  apps/landing/src/components/versions/b/WeekFrame.tsx
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/47_Landing_B_Future_нарратив_и_план_разработки_2026-07-31.md
Due: eslint --max-warnings=500, prettier --write

feat(landing): fill version B slots with marked interim photos
  .gitignore
  apps/landing/public/b/curator-placeholder.svg
  apps/landing/public/b/plate-breakfast.webp
  apps/landing/public/b/plate-dinner.webp
  apps/landing/public/b/plate-lunch.webp
  apps/landing/src/components/versions/VersionB.tsx
  apps/landing/src/components/versions/b/CuratorIntro.tsx
  apps/landing/src/components/versions/b/MediaSlot.tsx
  маркетинг/47_Landing_B_Future_нарратив_и_план_разработки_2026-07-31.md
Due: eslint --max-warnings=500, prettier --write

fix(landing): show the version switcher to everyone and unbreak html cache headers
  .github/workflows/deploy-yandex.yml
  apps/landing/src/components/VersionSwitcherFab.tsx
  маркетинг/15_Ревизия_и_лог_решений.md
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/46_Landing_C_эталон_и_план_разработки_2026-07-31.md
  маркетинг/47_Landing_B_Future_нарратив_и_план_разработки_2026-07-31.md
Due: eslint --max-warnings=500, prettier --write

docs(assemble-day): retarget the plan at a full life simulator
  docs/assemble-day/01_PRODUCT_VISION.md
  docs/assemble-day/02_GAMEPLAY_CAMPAIGN.md
  docs/assemble-day/06_UI_UX.md
  docs/assemble-day/09_CALIBRATION_QA.md
  docs/assemble-day/10_DECISION_REGISTER.md
  docs/assemble-day/12_ROADMAP.md
  docs/assemble-day/CAUSAL_REDUCER_PROTOCOL.md
  docs/assemble-day/CHANGELOG.md
  docs/assemble-day/GAME_STATE_SCHEMA.md
  docs/assemble-day/README.md
  docs/assemble-day/assemble_prodution_megaplan.md
  docs/assemble-day/reports/life-sim-direction-audit-v0.1.md
Due: prettier --write

feat(assemble-day): add a period contract, bounded state and state-driven Monday
  packages/assemble-day-engine/src/__tests__/campaign.test.ts
  packages/assemble-day-engine/src/__tests__/periods.test.ts
  packages/assemble-day-engine/src/__tests__/planning.test.ts
  packages/assemble-day-engine/src/__tests__/reducer.test.ts
  packages/assemble-day-engine/src/campaign.ts
  packages/assemble-day-engine/src/content/scenario.ts
  packages/assemble-day-engine/src/periods.ts
  packages/assemble-day-engine/src/planning.ts
  packages/assemble-day-engine/src/reducer.ts
  packages/assemble-day-engine/src/schema.ts
  packages/assemble-day-engine/src/types.ts
Due: eslint --max-warnings=500

feat(assemble-day): anchor the checkpoint and add a campaign restart
  apps/web/__tests__/planning-game-assemble-day.test.js
  apps/web/assemble-day/heys_assemble_day_game_v1.ts
  apps/web/heys_planning_game_assemble_day_v1.js
  apps/web/styles/modules/912-planning-game-assemble-day.css
Due: eslint --max-warnings=500

feat(landing): add the curator standard to version C and unshrink the hero button
  .claude/launch.json
  apps/landing/src/app/v/c/page.tsx
  apps/landing/src/components/HeroSSR.tsx
  apps/landing/src/components/versions/VersionC.tsx
  apps/landing/src/components/versions/c/PriceSection.tsx
  apps/landing/src/components/versions/c/RecognitionSection.tsx
  apps/landing/src/components/versions/c/ReviewedWeekSection.tsx
  apps/landing/src/components/versions/c/SecondLayerSection.tsx
  apps/landing/src/components/versions/c/StickyCta.tsx
  apps/landing/src/components/versions/c/TrialSection.tsx
  apps/landing/src/components/versions/c/TrustStrip.tsx
  apps/landing/src/components/versions/c/WeekArtifact.tsx
  apps/landing/src/components/versions/c/curatorStandard.ts
  apps/landing/src/config/landing-variants.ts
  apps/landing/src/styles/globals.css
Due: eslint --max-warnings=500, prettier --write

docs(marketing): close the baseline A optimisation task and log the version C pass
  docs/reference/systems/LANDING_AND_LEADS.md
  маркетинг/00_Дашборд.html
  маркетинг/15_Ревизия_и_лог_решений.md
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/40_Аудит_лендинга_mobile_2026-07-26.md
  маркетинг/41_Единый_релизный_контур_и_очередь_промптов_2026-07-26.md
  маркетинг/46_Landing_C_эталон_и_план_разработки_2026-07-31.md
Due: prettier --write

feat(landing): give version B a scroll-driven hero and a font switcher
  apps/landing/src/app/v/b/page.tsx
  apps/landing/src/components/LandingNav.tsx
  apps/landing/src/components/versions/VersionDraft.tsx
  apps/landing/src/components/versions/b/FontSwitcherFab.tsx
  apps/landing/src/components/versions/b/HeroScrollStage.tsx
  маркетинг/45_Future_референс_лендинга_2026-07-29.md
Due: eslint --max-warnings=500, prettier --write

feat(assemble-day): add employment formats, campaign invariants and a QA profile
  apps/web/__tests__/planning-game-assemble-day.test.js
  apps/web/heys_planning_game_assemble_day_v1.js
  docs/assemble-day/03_ECONOMY_CAREER.md
  docs/assemble-day/04_FAMILY_SOCIAL.md
  docs/assemble-day/09_CALIBRATION_QA.md
  docs/assemble-day/10_DECISION_REGISTER.md
  docs/assemble-day/12_ROADMAP.md
  docs/assemble-day/CHANGELOG.md
  docs/assemble-day/GAME_STATE_SCHEMA.md
  docs/assemble-day/README.md
  docs/assemble-day/assemble_prodution_megaplan.md
  packages/assemble-day-engine/src/__tests__/campaign.test.ts
  packages/assemble-day-engine/src/__tests__/contracts.test.ts
  packages/assemble-day-engine/src/__tests__/employment.test.ts
  packages/assemble-day-engine/src/__tests__/family.test.ts
  packages/assemble-day-engine/src/__tests__/periods.test.ts
  packages/assemble-day-engine/src/__tests__/qa-profile.test.ts
  packages/assemble-day-engine/src/__tests__/qa.test.ts
  packages/assemble-day-engine/src/__tests__/reducer.test.ts
  packages/assemble-day-engine/src/content/actions.ts
  packages/assemble-day-engine/src/content/presentation.ts
  packages/assemble-day-engine/src/content/scenario.ts
  packages/assemble-day-engine/src/employment.ts
  packages/assemble-day-engine/src/index.ts
  packages/assemble-day-engine/src/invariants.ts
  packages/assemble-day-engine/src/periods.ts
  packages/assemble-day-engine/src/qa-merge.ts
  packages/assemble-day-engine/src/qa-profile.ts
  packages/assemble-day-engine/src/qa.ts
  packages/assemble-day-engine/src/reducer.ts
  packages/assemble-day-engine/src/schema.ts
  packages/assemble-day-engine/src/simulation.ts
  packages/assemble-day-engine/src/types.ts
Due: eslint --max-warnings=500, prettier --write

fix(landing): order the version B page imports the way the lint rule expects
  apps/landing/src/app/v/b/page.tsx
Due: eslint --max-warnings=500

docs(marketing): record that version B now carries two competing first screens
  маркетинг/47_Landing_B_Future_нарратив_и_план_разработки_2026-07-31.md
Due: prettier --write

feat(landing): give version B its own first screen, typeface and pricing CTA
  .claude/launch.json
  apps/landing/src/app/v/b/page.tsx
  apps/landing/src/components/versions/VersionB.tsx
  apps/landing/src/components/versions/VersionDraft.tsx
  apps/landing/src/components/versions/b/FontSwitcherFab.tsx
  apps/landing/src/components/versions/b/HeroScrollStage.tsx
  apps/landing/src/components/versions/b/fonts.ts
Due: eslint --max-warnings=500, prettier --write

docs(marketing): record the merged first screen, the typeface pick and the CTA
  маркетинг/45_Future_референс_лендинга_2026-07-29.md
  маркетинг/47_Landing_B_Future_нарратив_и_план_разработки_2026-07-31.md
Due: prettier --write

fix(landing): lift the version B hero text off the header and narrow the demo
  apps/landing/src/components/versions/b/HeroScrollStage.tsx
  маркетинг/45_Future_референс_лендинга_2026-07-29.md
Due: eslint --max-warnings=500, prettier --write

feat(assemble-day): profile campaign QA and keep a mid-step payment from bankrupting a decision
  docs/assemble-day/06_UI_UX.md
  docs/assemble-day/README.md
  docs/assemble-day/reports/qa-profile-v1.0.json
  packages/assemble-day-engine/package.json
  packages/assemble-day-engine/src/__tests__/qa-profile.test.ts
  packages/assemble-day-engine/src/campaign.ts
  packages/assemble-day-engine/src/cli/run-qa-profile.ts
  packages/assemble-day-engine/src/content/scenario.ts
  packages/assemble-day-engine/src/qa-profile.ts
  packages/assemble-day-engine/src/qa.ts
  packages/assemble-day-engine/src/reducer.ts
  packages/assemble-day-engine/src/simulation.ts
Due: eslint --max-warnings=500, prettier --write

feat(assemble-day): turn the character card into a place panorama and make the face readable
  apps/web/__tests__/planning-game-assemble-day.test.js
  apps/web/assemble-day/heys_assemble_day_game_v1.ts
  apps/web/heys_planning_game_assemble_day_v1.js
  apps/web/styles/modules/912-planning-game-assemble-day.css
  docs/assemble-day/10_DECISION_REGISTER.md
  docs/assemble-day/CHANGELOG.md
  docs/assemble-day/assemble_prodution_megaplan.md
  docs/reference/systems/ASSEMBLE_DAY_ENGINE.md
  packages/assemble-day-engine/src/__tests__/presentation.test.ts
  packages/assemble-day-engine/src/content/presentation.ts
  packages/assemble-day-engine/src/types.ts
Due: eslint --max-warnings=500, prettier --write

feat(mcp): add HEYS diary connector
  yandex-cloud-functions/__tests__/function-inventory.test.cjs
  yandex-cloud-functions/api-gateway-spec.yaml
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/function-inventory.cjs
  yandex-cloud-functions/heys-mcp/.ycignore
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/TELEGRAM_MEAL_LOGGING_AUDIT.md
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/handler.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/mcp.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/oauth.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/products.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/api-gateway-mcp-paths.yaml
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/crypto-tokens.js
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/heys-api.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/oauth.js
  yandex-cloud-functions/heys-mcp/lib/products.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
  yandex-cloud-functions/heys-mcp/package-lock.json
  yandex-cloud-functions/heys-mcp/package.json
  yandex-cloud-functions/heys-mcp/shared/lockbox-client.js
  yandex-cloud-functions/heys-mcp/shared/secrets.js
Due: eslint --max-warnings=500, prettier --write

feat(mcp): create products from labels
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/products.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

docs(mcp): record product tool deployment
  yandex-cloud-functions/heys-mcp/README.md
Due: prettier --write

feat(mcp): curator mode + meal editing
  yandex-cloud-functions/api-gateway-spec.yaml
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/products.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/api-gateway-mcp-paths.yaml
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/crypto-tokens.js
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/heys-api.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/oauth.js
  yandex-cloud-functions/heys-mcp/lib/products.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
  yandex-cloud-functions/heys-mcp/package.json
Due: eslint --max-warnings=500, prettier --write

feat(mcp): serve the curator connector on its own URL
  yandex-cloud-functions/api-gateway-spec.yaml
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/handler.test.cjs
  yandex-cloud-functions/heys-mcp/api-gateway-mcp-paths.yaml
  yandex-cloud-functions/heys-mcp/index.js
Due: eslint --max-warnings=500, prettier --write

feat(mcp): curator message tools + shared catalog lookup
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/products.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/shared-catalog.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/heys-api.js
  yandex-cloud-functions/heys-mcp/lib/products.js
  yandex-cloud-functions/heys-mcp/lib/shared-catalog.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

feat(messenger): remind clients to include time and grams
  apps/web/bundle-manifest.json
  apps/web/heys_messenger_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.77b76c62eb83.js
  apps/web/public/boot-app.bundle.77b76c62eb83.js.gz
  apps/web/public/boot-app.bundle.7c149e7441d6.js
  apps/web/public/boot-app.bundle.7c149e7441d6.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/styles/modules/1000-messenger.css
Due: eslint --max-warnings=500, prettier --write

feat(assemble-day): Sprint 24 bounded-state, production year and QA runner acceleration
  apps/web/__tests__/planning-game-assemble-day.test.js
  apps/web/assemble-day/heys_assemble_day_game_v1.ts
  apps/web/heys_planning_game_assemble_day_v1.js
  packages/assemble-day-engine/package.json
  packages/assemble-day-engine/src/__tests__/campaign.test.ts
  packages/assemble-day-engine/src/__tests__/contracts.test.ts
  packages/assemble-day-engine/src/__tests__/periods.test.ts
  packages/assemble-day-engine/src/__tests__/qa-profile.test.ts
  packages/assemble-day-engine/src/__tests__/qa.test.ts
  packages/assemble-day-engine/src/__tests__/reducer.test.ts
  packages/assemble-day-engine/src/campaign.ts
  packages/assemble-day-engine/src/cli/run-qa-profile.ts
  packages/assemble-day-engine/src/content/actions.ts
  packages/assemble-day-engine/src/content/presentation.ts
  packages/assemble-day-engine/src/content/scenario.ts
  packages/assemble-day-engine/src/invariants.ts
  packages/assemble-day-engine/src/periods.ts
  packages/assemble-day-engine/src/planning.ts
  packages/assemble-day-engine/src/qa-merge.ts
  packages/assemble-day-engine/src/qa-profile.ts
  packages/assemble-day-engine/src/qa.ts
  packages/assemble-day-engine/src/reducer.ts
  packages/assemble-day-engine/src/schema.ts
  packages/assemble-day-engine/src/simulation.ts
  packages/assemble-day-engine/src/types.ts
  packages/assemble-day-engine/vitest.config.ts
  scripts/qa/measure-assemble-day-sprint-24-growth.mts
Due: eslint --max-warnings=500, prettier --write

docs(assemble-day): record Sprint 24 review journal, readiness table and QA reports
  docs/assemble-day/05_STATE_CAUSAL_ENGINE.md
  docs/assemble-day/11_HYPOTHESES_BACKLOG.md
  docs/assemble-day/12_ROADMAP.md
  docs/assemble-day/CAUSAL_QA_PLAN.md
  docs/assemble-day/CHANGELOG.md
  docs/assemble-day/GAME_STATE_SCHEMA.md
  docs/assemble-day/HANDOFF_FOR_IMPLEMENTER.md
  docs/assemble-day/README.md
  docs/assemble-day/SCENARIO_WEEK_01.md
  docs/assemble-day/TECHNICAL_CONTRACT_ADDENDUM.md
  docs/assemble-day/assemble_prodution_megaplan.md
  docs/assemble-day/reports/owner-observation-expanded-build-v0.1.md
  docs/assemble-day/reports/qa-profile-v1.1.json
  docs/assemble-day/reports/qa-profile-v1.2-extended-diagnostic.json
  docs/assemble-day/reports/qa-profile-v1.2.json
  docs/assemble-day/reports/qa-profile-v1.3.json
  docs/assemble-day/reports/sprint-24-implementation-protocol.md
  docs/reference/systems/ASSEMBLE_DAY_ENGINE.md
Due: prettier --write
