Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat(day): add RefeedCard and SupplementsCard to diary section
  apps/web/heys_core_v12.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_tab_render_v1.js
Due: eslint --max-warnings=500

refactor(day): remove duplicate RefeedCard and SupplementsCard from page shell
  apps/web/heys_day_page_shell.js
Due: eslint --max-warnings=500

feat(goal-progress): add refeed toggle label below button
  apps/web/heys_day_goal_progress_v1.js
Due: eslint --max-warnings=500

feat(storage): export compress function for cloud sync
  apps/web/heys_storage_layer_v1.js
Due: eslint --max-warnings=500

feat(cloud-sync): compress data before uploading to cloud
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

feat(supplements): collapsible card with pink background
  apps/web/heys_supplements_v1.js
Due: eslint --max-warnings=500

feat(weekly-reports): add average macros (BJU) to weekly wrap
  apps/web/heys_weekly_reports_v2.js
Due: eslint --max-warnings=500

style(css): improve macro rings and weekly wrap styling
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/100-metrics-and-graphs.css
Due: none

fix(advice): handle string-serialized tracking stats
  apps/web/advice/_core.js
  apps/web/heys_advice_bundle_v1.js
Due: eslint --max-warnings=500

fix(app-shell): add settings-open class to tabs for z-index fix
  apps/web/heys_app_shell_v1.js
Due: eslint --max-warnings=500

fix(build): add styles/modules and subdirs to build script + update SW cache version
  apps/web/day/_meals.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_effects.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/package.json
  apps/web/public/sw.js
  apps/web/src/utils/service-worker-manager.ts
Due: eslint --max-warnings=500, prettier --write

fix(day): rerender after supplements init
  apps/web/heys_supplements_v1.js
Due: eslint --max-warnings=500

fix(day): lazy-load supplements module
  apps/web/heys_day_diary_section.js
Due: eslint --max-warnings=500

fix(day): fallback dateKey for supplements card
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_diary_section.js
Due: eslint --max-warnings=500

fix: sync diary section bundles with supplements lazy-load
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
Due: eslint --max-warnings=500

feat(build): add bundle-meals script to prebuild/predev pipeline
  apps/web/package.json
  apps/web/scripts/bundle-meals.cjs
Due: prettier --write

feat(sync): enhance pull-to-refresh reliability with flush queue
  apps/web/heys_day_pull_refresh_v1.js
Due: eslint --max-warnings=500

refactor(storage): disable client-side compression for cloud sync
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

chore: disable eslint/loc checks in pre-commit hook
  .lintstagedrc.json
Due: prettier --write

chore: update generated day meals bundle
  apps/web/heys_day_meals_bundle_v1.js
Due: eslint --max-warnings=500

fix(gamification): prevent XP reset on sync - multi-key fallback search
  apps/web/heys_gamification_v1.js
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

feat(scripts): add products audit tool
  reports/products-audit-2026-01-31.json
  scripts/audit-products.cjs
Due: prettier --write

feat(scripts): add harm score recalculation tools
  scripts/recalc-harm.cjs
  scripts/recalculate-harm.cjs
Due: none

feat(scripts): add client harm sync utility
  scripts/sync-harm-to-clients.cjs
Due: none

chore: add VS Code workspace config with custom theme
  scripts/main_heys.code-workspace
Due: none

feat(db): add harm recalculation SQL migrations
  database/2026-01-31_grant_heys_rest_shared_products_write.sql
  database/2026-01-31_recalc_harm.sql
  database/2026-01-31_recalculate_harm.sql
  database/2026-02-01_harm_function.sql
  database/2026-02-01_products_sync.sql
Due: none

chore(data): update shared_products with recalculated harm scores
  heys_shared_products_export.json
Due: prettier --write

feat(api): enable shared_products write operations
  yandex-cloud-functions/api-gateway-spec.yaml
  yandex-cloud-functions/heys-api-rest/index.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

style(css): add gamification animations and UI improvements
  apps/web/styles/gamification-animations.css
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/100-metrics-and-graphs.css
Due: none

feat(gamification): enhance XP and achievement system
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_gamification_v1.js
Due: eslint --max-warnings=500

refactor(storage): improve data models and sync layer
  apps/web/heys_models_v1.js
  apps/web/heys_storage_layer_v1.js
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

refactor(meals): improve meal and product UI components
  apps/web/day/_meals.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_add_product.js
  apps/web/heys_day_core_bundle_v1.js
Due: eslint --max-warnings=500

refactor(day): enhance day tracking utilities and effects
  apps/web/heys_day_calendar_metrics.js
  apps/web/heys_day_effects.js
  apps/web/heys_day_insights_data_v1.js
  apps/web/heys_day_stats_vm_v1.js
  apps/web/heys_day_steps_ui.js
  apps/web/heys_day_utils.js
Due: eslint --max-warnings=500

refactor(core): update core modules and workers
  apps/web/heys_core_v12.js
  apps/web/heys_steps_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/heys_training_step_v1.js
  parse_worker.js
Due: eslint --max-warnings=500

chore: ignore products export backup file
  .gitignore
Due: none

fix(pwa): prevent hanging and duplicate toasts on update
  apps/web/heys_app_hooks_v1.js
  apps/web/public/sw.js
Due: eslint --max-warnings=500

style: format whitespace
  apps/web/heys_app_hooks_v1.js
  apps/web/public/sw.js
Due: eslint --max-warnings=500

fix(react): move useRef to component level - fix React error #321
  apps/web/heys_app_hooks_v1.js
Due: eslint --max-warnings=500

feat(auth): add force-logout on session expiry
  apps/web/heys_app_hooks_v1.js
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

feat(products): add portions sync and RPC update function
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_cloud_shared_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_products_context_v1.js
  database/2026-02-02_update_shared_product_portions.sql
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500
