Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix(morning): gate optional refeed check-in
  apps/web/__tests__/morning-checkin-stability.test.js
  apps/web/heys_morning_checkin_v1.js
Due: eslint --max-warnings=500

fix(products): dedupe smart product suggestions
  apps/web/__tests__/add-product-smart-products.test.js
  apps/web/heys_add_product_step_v1.js
Due: eslint --max-warnings=500

chore(products): add safe review import tooling
  scripts/products/apply-safe-product-db-operations.cjs
  scripts/products/prepare-product-review-db-import.cjs
Due: none

chore(web): update legacy bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.ad135d3f51cf.js
  apps/web/public/boot-app.bundle.ad135d3f51cf.js.gz
  apps/web/public/boot-app.bundle.eabed5a06103.js
  apps/web/public/boot-app.bundle.eabed5a06103.js.gz
  apps/web/public/boot-day.bundle.5387cdca1936.js
  apps/web/public/boot-day.bundle.5387cdca1936.js.gz
  apps/web/public/boot-day.bundle.adc64182db88.js
  apps/web/public/boot-day.bundle.adc64182db88.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.0ecbe27baa99.js
  apps/web/public/postboot-1-game-lazy.bundle.0ecbe27baa99.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.5c6c0d8ecd06.js
  apps/web/public/postboot-1-game-lazy.bundle.5c6c0d8ecd06.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.1f3f809b21f6.js
  apps/web/public/postboot-3-ui-lazy.bundle.1f3f809b21f6.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.8035ea0190d1.js
  apps/web/public/postboot-3-ui-lazy.bundle.8035ea0190d1.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(day): write hunger events through storage wrapper
  apps/web/heys_hunger_energy_status_ui_v1.js
Due: eslint --max-warnings=500

chore(web): refresh hunger status bundle [bundle-size-ok]
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-day.bundle.1510ca98d361.js
  apps/web/public/boot-day.bundle.1510ca98d361.js.gz
  apps/web/public/boot-day.bundle.5387cdca1936.js
  apps/web/public/boot-day.bundle.5387cdca1936.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for e1aed670 [bundle-size-ok]
  apps/web/public/whats-new.json
Due: prettier --write

chore(perf): update boot bundle size baseline
  apps/web/__perf_baselines__/boot-split-baselines.json
Due: prettier --write

fix(day): stabilize check-ins and hunger prompts
  apps/web/__tests__/hunger-energy-status-ui.test.js
  apps/web/__tests__/morning-checkin-stability.test.js
  apps/web/__tests__/yandex-api-session-guards.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.2b5b58449270.js
  apps/web/public/boot-core.bundle.2b5b58449270.js.gz
  apps/web/public/boot-core.bundle.6af4781cd91b.js
  apps/web/public/boot-core.bundle.6af4781cd91b.js.gz
  apps/web/public/boot-day.bundle.1510ca98d361.js
  apps/web/public/boot-day.bundle.1510ca98d361.js.gz
  apps/web/public/boot-day.bundle.3a417c660ef9.js
  apps/web/public/boot-day.bundle.3a417c660ef9.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.1f3f809b21f6.js
  apps/web/public/postboot-3-ui-lazy.bundle.1f3f809b21f6.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.d94ec02694fa.js
  apps/web/public/postboot-3-ui-lazy.bundle.d94ec02694fa.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for stabilize check-ins and hunger prompts
  apps/web/public/whats-new.json
Due: prettier --write

feat(ops): add status checks and deploy receipts
  database/2026-07-05_ops_dashboard_followups.sql
  database/2026-07-05_ops_incidents_and_status.sql
  package.json
  packages/core/src/server.js
  scripts/bootstrap-bypass-allowlist.txt
  yandex-cloud-functions/__tests__/check-heys-ops-status.test.cjs
  yandex-cloud-functions/check-heys-ops-status.cjs
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/heys-bot-client/index.js
  yandex-cloud-functions/heys-cron-trial-drip/index.js
  yandex-cloud-functions/heys-maintenance/index.js
Due: eslint --max-warnings=500, prettier --write

chore(web): refresh legacy bundles
  apps/web/bundle-manifest.json
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.10e152a13c71.js
  apps/web/public/boot-app.bundle.10e152a13c71.js.gz
  apps/web/public/boot-app.bundle.eabed5a06103.js
  apps/web/public/boot-app.bundle.eabed5a06103.js.gz
  apps/web/public/boot-calc.bundle.cd01dabf4466.js
  apps/web/public/boot-calc.bundle.cd01dabf4466.js.gz
  apps/web/public/boot-calc.bundle.d8eb6c7d24ad.js
  apps/web/public/boot-calc.bundle.d8eb6c7d24ad.js.gz
  apps/web/public/boot-core.bundle.0bb346681da3.js
  apps/web/public/boot-core.bundle.0bb346681da3.js.gz
  apps/web/public/boot-core.bundle.6af4781cd91b.js
  apps/web/public/boot-core.bundle.6af4781cd91b.js.gz
  apps/web/public/boot-day.bundle.3a417c660ef9.js
  apps/web/public/boot-day.bundle.3a417c660ef9.js.gz
  apps/web/public/boot-day.bundle.abfa75fa5e76.js
  apps/web/public/boot-day.bundle.abfa75fa5e76.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.0ecbe27baa99.js
  apps/web/public/postboot-1-game-lazy.bundle.0ecbe27baa99.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.7023b7767bc2.js
  apps/web/public/postboot-1-game-lazy.bundle.7023b7767bc2.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.c7a4932c99be.js
  apps/web/public/postboot-3-ui-lazy.bundle.c7a4932c99be.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.d94ec02694fa.js
  apps/web/public/postboot-3-ui-lazy.bundle.d94ec02694fa.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

feat(web): improve curator reviews and hunger check-ins
  apps/web/__tests__/curator-actions-banner.test.js
  apps/web/__tests__/hunger-energy-status-ui.test.js
  apps/web/__tests__/yandex-api-session-guards.test.js
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_app_auth_init_v1.js
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_curator_actions_banner_v1.js
  apps/web/heys_day_activity_v1.js
  apps/web/heys_day_main_block_v1.js
  apps/web/heys_day_page_shell.js
  apps/web/heys_day_side_block_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/heys_login_screen_v1.js
  apps/web/heys_meal_step_v1.js
  apps/web/heys_subscription_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/200-dark-and-effects.css
  apps/web/styles/modules/500-pwa-and-offline.css
  yandex-cloud-functions/heys-api-rpc/__tests__/curator-action-diff.test.js
  yandex-cloud-functions/heys-api-rpc/curator-action-diff.js
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-cron-reminders/__tests__/curator-action-format.test.js
  yandex-cloud-functions/heys-cron-reminders/curator-action-format.js
Due: eslint --max-warnings=500, prettier --write

chore(mobile): add rustore phone screenshots
  apps/mobile/release/rustore-screenshots-phone-720x1280/heys-rustore-phone-01.jpg
  apps/mobile/release/rustore-screenshots-phone-720x1280/heys-rustore-phone-02.jpg
  apps/mobile/release/rustore-screenshots-phone-720x1280/heys-rustore-phone-03.jpg
  apps/mobile/release/rustore-screenshots-phone-720x1280/heys-rustore-phone-04.jpg
  apps/mobile/release/rustore-screenshots-phone-720x1280/heys-rustore-phone-05.jpg
  apps/mobile/release/rustore-screenshots-phone-720x1280/heys-rustore-phone-06.jpg
  apps/mobile/release/rustore-screenshots-phone-720x1280/heys-rustore-phone-07.jpg
  apps/mobile/release/rustore-screenshots-phone-720x1280/heys-rustore-phone-08.jpg
  apps/mobile/release/rustore-screenshots-phone-720x1280/heys-rustore-phone-09.jpg
  apps/mobile/release/rustore-screenshots-phone-720x1280/heys-rustore-phone-10.jpg
Due: none

chore(release): add whats-new for 7cf4862f
  apps/web/public/whats-new.json
Due: prettier --write

fix(web): clear push blockers for curator review [bundle-size-ok]
  apps/web/__perf_baselines__/boot-split-baselines.json
  apps/web/__tests__/curator-actions-banner.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_curator_actions_banner_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.93d0343581dd.js
  apps/web/public/postboot-3-ui-lazy.bundle.93d0343581dd.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.c7a4932c99be.js
  apps/web/public/postboot-3-ui-lazy.bundle.c7a4932c99be.js.gz
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for c3909434
  apps/web/public/whats-new.json
Due: prettier --write

fix(cloud): harden ops checks and changelog acks
  scripts/bootstrap-bypass-allowlist.txt
  yandex-cloud-functions/check-heys-ops-status.cjs
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

chore(web): refresh legacy bundles
  apps/web/bundle-manifest.json
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.32cdc197e057.js
  apps/web/public/boot-calc.bundle.32cdc197e057.js.gz
  apps/web/public/boot-calc.bundle.cd01dabf4466.js
  apps/web/public/boot-calc.bundle.cd01dabf4466.js.gz
  apps/web/public/boot-day.bundle.52ec0b714dbd.js
  apps/web/public/boot-day.bundle.52ec0b714dbd.js.gz
  apps/web/public/boot-day.bundle.abfa75fa5e76.js
  apps/web/public/boot-day.bundle.abfa75fa5e76.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-2-insights-lazy.bundle.2cdf8708a73a.js
  apps/web/public/postboot-2-insights-lazy.bundle.2cdf8708a73a.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.87ac8412985d.js
  apps/web/public/postboot-2-insights-lazy.bundle.87ac8412985d.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(web): stabilize meal add flows and hunger status
  apps/web/__tests__/hunger-energy-status-engine.test.js
  apps/web/__tests__/meal-preset-bulk-add.test.js
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_day_add_product.js
  apps/web/heys_day_effects.js
  apps/web/heys_day_meal_optimizer_section.js
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/heys_hunger_energy_status_v1.js
  apps/web/insights/pi_ui_meal_rec_card.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 71a0a9d3
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): recover stalled client uploads
  apps/web/__tests__/heys-storage-write-context-session.test.js
  apps/web/__tests__/sync-queue-runtime-pure.test.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_sync_queue_runtime_pure_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

feat(planning): add task matrix
  apps/web/__tests__/planning-home-subtab.test.js
  apps/web/__tests__/planning-quick-target.test.js
  apps/web/__tests__/planning-sync-persistence.test.js
  apps/web/__tests__/planning-task-matrix.test.js
  apps/web/heys_planning_quick_target_v1.js
  apps/web/heys_planning_store_v1.js
  apps/web/heys_planning_tasks_v1.js
  apps/web/heys_planning_v1.js
  apps/web/styles/modules/900-planning.css
Due: eslint --max-warnings=500

feat(web): improve hunger energy cues
  apps/web/__tests__/hunger-energy-status-ui.test.js
  apps/web/heys_hunger_energy_status_ui_v1.js
Due: eslint --max-warnings=500

fix(web): simplify morning activation followup
  apps/web/__tests__/morning-activation-followup.test.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_steps_v1.js
Due: eslint --max-warnings=500

fix(web): improve messenger composer layout
  apps/web/heys_messenger_v1.js
  apps/web/styles/modules/1000-messenger.css
Due: eslint --max-warnings=500

chore(web): refresh legacy bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.10e152a13c71.js
  apps/web/public/boot-app.bundle.10e152a13c71.js.gz
  apps/web/public/boot-app.bundle.ee6b594d2071.js
  apps/web/public/boot-app.bundle.ee6b594d2071.js.gz
  apps/web/public/boot-core.bundle.0bb346681da3.js
  apps/web/public/boot-core.bundle.0bb346681da3.js.gz
  apps/web/public/boot-core.bundle.20eb98c63ced.js
  apps/web/public/boot-core.bundle.20eb98c63ced.js.gz
  apps/web/public/boot-day.bundle.52ec0b714dbd.js
  apps/web/public/boot-day.bundle.52ec0b714dbd.js.gz
  apps/web/public/boot-day.bundle.a8b2e38d1615.js
  apps/web/public/boot-day.bundle.a8b2e38d1615.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.93d0343581dd.js
  apps/web/public/postboot-3-ui-lazy.bundle.93d0343581dd.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.caf5cf744bbe.js
  apps/web/public/postboot-3-ui-lazy.bundle.caf5cf744bbe.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for bc84c103
  apps/web/public/whats-new.json
Due: prettier --write

feat(web): add stable hunger context prompt
  apps/web/__tests__/hunger-energy-status-ui.test.js
  apps/web/heys_hunger_energy_status_ui_v1.js
Due: eslint --max-warnings=500

fix(web): require explicit morning check-in actions
  apps/web/__tests__/morning-checkin-stability.test.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_yesterday_verify_v1.js
Due: eslint --max-warnings=500

chore(web): refresh legacy bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-day.bundle.a8b2e38d1615.js
  apps/web/public/boot-day.bundle.a8b2e38d1615.js.gz
  apps/web/public/boot-day.bundle.dffd91c99287.js
  apps/web/public/boot-day.bundle.dffd91c99287.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.7023b7767bc2.js
  apps/web/public/postboot-1-game-lazy.bundle.7023b7767bc2.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.768248b456c7.js
  apps/web/public/postboot-1-game-lazy.bundle.768248b456c7.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.c0a1c8f2481c.js
  apps/web/public/postboot-3-ui-lazy.bundle.c0a1c8f2481c.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.caf5cf744bbe.js
  apps/web/public/postboot-3-ui-lazy.bundle.caf5cf744bbe.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 42838087
  apps/web/public/whats-new.json
Due: prettier --write

fix(web): improve hunger energy context
  apps/web/__tests__/hunger-energy-status-engine.test.js
  apps/web/__tests__/hunger-energy-status-ui.test.js
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/heys_hunger_energy_status_v1.js
Due: eslint --max-warnings=500

fix(web): guard haptic feedback calls
  apps/web/heys_pull_refresh.js
  apps/web/heys_swipeable.js
  apps/web/heys_undo_v1.js
Due: eslint --max-warnings=500

chore(web): refresh legacy bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-core.bundle.20eb98c63ced.js
  apps/web/public/boot-core.bundle.20eb98c63ced.js.gz
  apps/web/public/boot-core.bundle.cc964b305ec8.js
  apps/web/public/boot-core.bundle.cc964b305ec8.js.gz
  apps/web/public/boot-day.bundle.bec0fc780f2e.js
  apps/web/public/boot-day.bundle.bec0fc780f2e.js.gz
  apps/web/public/boot-day.bundle.dffd91c99287.js
  apps/web/public/boot-day.bundle.dffd91c99287.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.4b498205934b.js
  apps/web/public/postboot-3-ui-lazy.bundle.4b498205934b.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.c0a1c8f2481c.js
  apps/web/public/postboot-3-ui-lazy.bundle.c0a1c8f2481c.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 0ccf9c7e
  apps/web/public/whats-new.json
Due: prettier --write

fix(web): improve inline login form behavior
  apps/web/index.html
Due: none

fix(web): вход и синхронизация стали надежнее [bundle-size-ok]
  apps/web/__tests__/consent-gate-flow.test.js
  apps/web/__tests__/first-login-onboarding-guardrails.test.js
  apps/web/__tests__/heys-storage-write-context-session.test.js
  apps/web/__tests__/hunger-energy-status-ui.test.js
  apps/web/__tests__/planning-sync-persistence.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_app_derived_state_v1.js
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_app_gate_state_v1.js
  apps/web/heys_app_root_impl_v1.js
  apps/web/heys_app_runtime_effects_v1.js
  apps/web/heys_app_runtime_state_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/heys_login_screen_v1.js
  apps/web/heys_planning_store_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.35db34b53bba.js
  apps/web/public/boot-app.bundle.35db34b53bba.js.gz
  apps/web/public/boot-app.bundle.ee6b594d2071.js
  apps/web/public/boot-app.bundle.ee6b594d2071.js.gz
  apps/web/public/boot-core.bundle.cc964b305ec8.js
  apps/web/public/boot-core.bundle.cc964b305ec8.js.gz
  apps/web/public/boot-core.bundle.d6fca3f269e6.js
  apps/web/public/boot-core.bundle.d6fca3f269e6.js.gz
  apps/web/public/boot-day.bundle.a79466387dcb.js
  apps/web/public/boot-day.bundle.a79466387dcb.js.gz
  apps/web/public/boot-day.bundle.bec0fc780f2e.js
  apps/web/public/boot-day.bundle.bec0fc780f2e.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.26439be899f2.js
  apps/web/public/postboot-3-ui-lazy.bundle.26439be899f2.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.4b498205934b.js
  apps/web/public/postboot-3-ui-lazy.bundle.4b498205934b.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for вход и синхронизация стали надежнее [bundle-size-ok]
  apps/web/public/whats-new.json
Due: prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
