Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: улучшенный DatePicker с индикаторами дней и умные подсказки по БЖУ
  .github/copilot-instructions.md
  .github/log777.yml
  apps/web/heys_app_v12.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_pickers.js
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_dev_utils.js
  apps/web/heys_simple_analytics.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/styles/main.css
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

refactor: cleanup console logs, add smart sync logging
  apps/web/heys_app_v12.js
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_storage_supabase_v1.js
  docs/tasks/2025-11-28-smart-toast-recommendations.md
  docs/tasks/2025-11-28-training-modal.md
  docs/tasks/2025-11-28-water-tracking.md
  docs/tasks/archive/2025-11-28-logging-audit.md
  todo.md
Due: eslint --max-warnings=500, prettier --write

feat: training modal with 2-step flow, zones, presets, validation
  .github/copilot-instructions.md
  apps/web/.turbo/turbo-build.log
  apps/web/heys_day_v12.js
  apps/web/heys_models_v1.js
  apps/web/styles/main.css
  docs/DATA_MODEL_REFERENCE.md
  docs/tasks/2025-11-28-smart-toast-recommendations.md
  docs/tasks/2025-11-29-advice-module.md
  docs/tasks/archive/2025-11-28-training-modal.md
  docs/tasks/archive/2025-11-28-water-tracking.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

fix: water card grid layout - align right content to top
  apps/web/styles/main.css
  docs/tasks/2025-11-28-smart-toast-recommendations.md
  docs/tasks/2025-11-29-advice-module.md
Due: prettier --write

docs: audit fixes for smart-toast and advice-module prompts
  docs/tasks/2025-11-28-smart-toast-recommendations.md
  docs/tasks/2025-11-29-advice-module.md
Due: prettier --write

docs: add deep audit recommendations to toast-improvements-v2 and fix advice-module prompt
  docs/tasks/2025-11-29-advice-module.md
  docs/tasks/2025-11-29-toast-improvements-v2.md
Due: prettier --write

feat: implement HEYS Advice Module for smart recommendations
  apps/web/.turbo/turbo-build.log
  apps/web/heys_advice_v1.js
  apps/web/heys_day_v12.js
  apps/web/index.html
  apps/web/styles/main.css
  docs/tasks/archive/2025-11-28-smart-toast-recommendations.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

fix: resolve searchOpen undefined error in uiState
  apps/web/heys_day_v12.js
Due: eslint --max-warnings=500

feat(advice): improve toast visibility and expand logic
  apps/web/heys_advice_v1.js
  apps/web/heys_day_v12.js
  apps/web/styles/main.css
  docs/tasks/2025-11-29-toast-improvements-v2.md
Due: eslint --max-warnings=500, prettier --write

feat: expand advice module to 77 smart tips
  apps/web/.turbo/turbo-build.log
  apps/web/heys_advice_v1.js
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/styles/main.css
  docs/DATA_MODEL_REFERENCE.md
  docs/tasks/2025-11-29-advice-module.md
  docs/tasks/2025-11-29-toast-improvements-v2.md
  docs/tasks/archive/2025-11-29-advice-module-expansion.md
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/shared/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

feat(advice): add Phase 2 prompt with 26 new советов + Phase 0 helpers complete
  apps/web/.turbo/turbo-build.log
  apps/web/heys_advice_v1.js
  docs/tasks/2025-11-29-advice-module-phase2.md
  docs/tasks/archive/2025-11-29-advice-module.md
  docs/tasks/archive/2025-11-29-toast-improvements-v2.md
  packages/core/.turbo/turbo-build.log
  packages/core/vitest.config.ts
  packages/search/.turbo/turbo-build.log
  packages/shared/package.json
  packages/shared/src/security/threat-detection-bridge.ts
  packages/shared/tsconfig.tsbuildinfo
  packages/shared/vitest.config.ts
  packages/storage/.turbo/turbo-build.log
  packages/threat-detection/.eslintrc.cjs
  packages/threat-detection/eslint.config.js
  packages/threat-detection/package.json
  packages/threat-detection/src/__tests__/AnomalyDetectionEngine.test.ts
  packages/threat-detection/src/__tests__/ThreatDetectionService.test.ts
  packages/threat-detection/src/core/IncidentResponseManager.ts
  packages/threat-detection/src/demo.ts
  packages/threat-detection/src/index.ts
  packages/threat-detection/src/ml/AnomalyDetectionEngine.ts
  packages/threat-detection/src/ml/ThreatIntelligenceEngine.ts
  packages/threat-detection/src/simple-demo.ts
  packages/threat-detection/src/types/index.ts
  packages/threat-detection/tsconfig.json
  packages/threat-detection/vitest.config.ts
  packages/ui/.turbo/turbo-build.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

feat: kcal sparkline card + weight chart improvements
  .github/copilot-instructions.md
  apps/web/.turbo/turbo-build.log
  apps/web/heys_advice_v1.js
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/styles/main.css
  docs/DATA_MODEL_REFERENCE.md
  docs/tasks/2025-11-29-product-portions.md
  docs/tasks/2025-11-29-weight-trend-sparkline.md
  docs/tasks/archive/2025-11-29-advice-module-phase2.md
  docs/tasks/archive/2025-11-29-grams-input-modal.md
  done.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

refactor: cleanup dead code + sparkline improvements + prompt v3.2
  apps/web/heys_day_v12.js
  apps/web/styles/main.css
  docs/tasks/2025-11-29-product-portions.md
Due: eslint --max-warnings=500, prettier --write

feat: порции продуктов + улучшения спарклайнов калорий/веса
  apps/web/.turbo/turbo-build.log
  apps/web/heys_day_pickers.js
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_models_v1.js
  apps/web/styles/main.css
  docs/DATA_MODEL_REFERENCE.md
  docs/tasks/2025-11-29-smart-correlations.md
  docs/tasks/2025-11-29-sparkline-enhancements-v2.md
  docs/tasks/archive/2025-11-29-product-portions.md
  done.md
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

fix: sync pnpm-lock.yaml with package.json
  pnpm-lock.yaml
Due: prettier --write

docs: add Data Overview tab prompt with deep audit v2
  .github/copilot-instructions.md
  apps/web/.turbo/turbo-build.log
  apps/web/heys_advice_v1.js
  apps/web/heys_app_v12.js
  apps/web/heys_day_pickers.js
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_ratio_zones_v1.js
  apps/web/heys_user_v12.js
  apps/web/index.html
  apps/web/styles/main.css
  docs/tasks/2025-11-30-data-overview-tab.md
  docs/tasks/2025-11-30-week-heatmap.md
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

feat(sparkline): perfect dot-line animation sync via Bezier path length
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_data_overview_v1.js
  apps/web/heys_day_v12.js
  apps/web/index.html
  apps/web/styles/main.css
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500

feat(sparkline): animate streak & forecast lines, add sleep emoji sync
  apps/web/heys_data_overview_v1.js
  apps/web/heys_day_v12.js
  apps/web/styles/main.css
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500

feat(sparkline): smooth Bezier forecast lines for kcal, goal, weight
  apps/web/.turbo/turbo-build.log
  apps/web/heys_data_overview_v1.js
  apps/web/heys_day_v12.js
  apps/web/styles/main.css
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500

feat: add twemoji emoji support for Windows/Linux, fix sparkline animations
  apps/web/heys_core_v12.js
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_user_v12.js
  apps/web/index.html
  apps/web/styles/main.css
Due: eslint --max-warnings=500

feat: улучшения UX приёмов пищи и wheel picker
  apps/web/heys_day_v12.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_wheel_picker.js
  apps/web/styles/main.css
Due: eslint --max-warnings=500

feat: WOW features for sleep/day cards - emoji, comparison, pulse, tips
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_user_v12.js
  apps/web/styles/main.css
  docs/tasks/2025-11-30-xp-levels-system.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

feat: ratio status badge in stats header + ratioZones colors for cards
  apps/web/heys_day_v12.js
  apps/web/styles/main.css
Due: eslint --max-warnings=500

feat: compact WeekHeatmap, theme button in header, profile name display
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/styles/main.css
  docs/tasks/2025-11-30-xp-levels-system.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

fix: pull-to-refresh now works — use window.scrollY instead of missing container
  apps/web/heys_day_v12.js
  docs/tasks/2025-11-30-xp-levels-system.md
Due: eslint --max-warnings=500, prettier --write

feat: add Service Worker for PWA offline caching with auto-versioning
  apps/web/.turbo/turbo-build.log
  apps/web/heys_day_v12.js
  apps/web/index.html
  apps/web/package.json
  apps/web/styles/main.css
  docs/tasks/2025-11-30-xp-levels-system.md
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500, prettier --write

fix: use __dirname for sw.js path in prebuild (Vercel compatibility)
  apps/web/package.json
  docs/tasks/2025-11-30-xp-levels-system.md
Due: prettier --write

fix: use process.cwd() instead of __dirname for node -e
  apps/web/package.json
Due: prettier --write

fix: add public/ assets to git (sw.js, icons) - were gitignored
  apps/web/public/clear-sw.html
  apps/web/public/favicon.svg
  apps/web/public/icon-192.png
  apps/web/public/icon-192.svg
  apps/web/public/icon-512.png
  apps/web/public/icon-512.svg
  apps/web/public/sw.js
Due: eslint --max-warnings=500

fix: disable SW on localhost to avoid Vite HMR conflicts
  apps/web/heys_app_v12.js
  apps/web/heys_gamification_v1.js
  apps/web/index.html
  apps/web/styles/main.css
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500

feat: add offline indicator with auto-sync on reconnect
  apps/web/.turbo/turbo-build.log
  apps/web/heys_core_v12.js
  apps/web/heys_day_v12.js
  apps/web/public/sw.js
  apps/web/styles/main.css
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500

feat: PWA improvements - Update Toast, Background Sync, Smart Prefetch, Optimistic UI Queue
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_hooks.js
  apps/web/heys_day_v12.js
  apps/web/index.html
  apps/web/public/sw.js
  apps/web/styles/main.css
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500

feat: add cloud sync status indicator in header
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/styles/main.css
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

fix: cloud sync indicator now works for all data changes
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_hooks.js
  apps/web/heys_day_v12.js
  apps/web/styles/main.css
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

feat: cloud sync indicator handles offline/online transitions
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

fix: prevent Twemoji infinite loop when offline
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/index.html
  apps/web/styles/main.css
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

fix: skip Supabase network requests when offline
  apps/web/.turbo/turbo-build.log
  apps/web/heys_storage_supabase_v1.js
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

chore: remove debug ANIM CHECK log
  apps/web/.turbo/turbo-build.log
  apps/web/heys_day_v12.js
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

feat: robust offline sync with persistent queue
  .vscode/settings.json
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/styles/main.css
  docs/tasks/2025-11-30-pwa-features.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  todo.md
Due: eslint --max-warnings=500, prettier --write
