Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

test(mobility): relax resume UI timeout
  apps/web/__tests__/mobility-ui.test.js
Due: eslint --max-warnings=500

chore(release): add whats-new for mobility test stability
  apps/web/public/whats-new.json
Due: prettier --write

test(mobility): set ui suite timeout
  apps/web/__tests__/mobility-ui.test.js
Due: eslint --max-warnings=500

chore(release): add whats-new for mobility ui test timeout
  apps/web/public/whats-new.json
Due: prettier --write

test(mobility): align ui scenario timeouts
  apps/web/__tests__/mobility-ui.test.js
Due: eslint --max-warnings=500

chore(release): add whats-new for mobility ui timeout alignment
  apps/web/public/whats-new.json
Due: prettier --write

chore(security): harden CORS and auth logging
  apps/tg-mini/src/App.tsx
  apps/tg-mini/src/api/auth.ts
  apps/tg-mini/src/api/httpClient.ts
  apps/tg-mini/src/hooks/useTelegramWebApp.ts
  apps/web/bundle-manifest.json
  apps/web/insights/pi_early_warning.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  yandex-cloud-functions/heys-api-leads/index.js
  yandex-cloud-functions/heys-api-rest/index.js
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-sms/index.js
Due: eslint --max-warnings=500, prettier --write

fix(nutrition): keep diary adds after product commit
  apps/web/__tests__/product-commit-gate-contract.test.js
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_add_product.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.5f1d4ceb83ce.js
  apps/web/public/boot-calc.bundle.5f1d4ceb83ce.js.gz
  apps/web/public/boot-calc.bundle.ae00782ad538.js
  apps/web/public/boot-calc.bundle.ae00782ad538.js.gz
  apps/web/public/boot-core.bundle.9dca9a9b7d6d.js
  apps/web/public/boot-core.bundle.9dca9a9b7d6d.js.gz
  apps/web/public/boot-core.bundle.d47dabba7d6a.js
  apps/web/public/boot-core.bundle.d47dabba7d6a.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.60e524357d9a.js
  apps/web/public/postboot-3-ui-lazy.bundle.60e524357d9a.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.d36c755565c3.js
  apps/web/public/postboot-3-ui-lazy.bundle.d36c755565c3.js.gz
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 9c2ef4b6
  apps/web/public/whats-new.json
Due: prettier --write

chore(mobile): add rustore release icon
  apps/mobile/release/HEYS-rustore-icon-512.png
Due: none

chore(release): add whats-new for bd4d528b
  apps/web/public/whats-new.json
Due: prettier --write

chore(mobile): add rustore release logo
  apps/mobile/release/HEYS-rustore-logo-from-landing-512.png
Due: none

chore(release): add whats-new for 9edfb497
  apps/web/public/whats-new.json
Due: prettier --write

fix(header): fit gamification bar on mobile
  apps/web/bundle-manifest.json
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.13061c91cf56.js
  apps/web/public/boot-app.bundle.13061c91cf56.js.gz
  apps/web/public/boot-app.bundle.24051f122364.js
  apps/web/public/boot-app.bundle.24051f122364.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.ce381dbe4a22.js
  apps/web/public/postboot-1-game-lazy.bundle.ce381dbe4a22.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.d4110df623bb.js
  apps/web/public/postboot-1-game-lazy.bundle.d4110df623bb.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/000-base-and-gamification.css
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for a1ee9e5d
  apps/web/public/whats-new.json
Due: prettier --write

chore(lint): support ref-based storage scans
  scripts/lint-direct-localstorage-writes.mjs
  scripts/lint-unscoped-client-writes.mjs
Due: none

chore(push): make agent preflight explicit
  apps/web/WHATS_NEW_COPY.md
  apps/web/__tests__/push-agent.test.js
  scripts/push-agent.mjs
  scripts/push-safe.mjs
Due: eslint --max-warnings=500, prettier --write

chore(push): run guards against committed head
  .husky/pre-push
  scripts/lint-bundle-size.mjs
  scripts/lint-direct-localstorage-writes.mjs
  scripts/lint-raw-session-clear.mjs
  scripts/lint-unscoped-client-writes.mjs
  scripts/push-preflight.mjs
Due: none

chore(push): optimize committed-head guard scans
  .husky/pre-push
  apps/web/WHATS_NEW_COPY.md
  scripts/lint-direct-localstorage-writes.mjs
  scripts/lint-raw-session-clear.mjs
  scripts/lint-unscoped-client-writes.mjs
  scripts/push-agent.mjs
  scripts/push-preflight.mjs
Due: prettier --write

chore(push): scope pre-push vitest cache to head
  .gitignore
  .husky/pre-push
  apps/web/__tests__/pre-push-vitest-cache.test.js
  scripts/pre-push-vitest-cache.mjs
  scripts/push-agent.mjs
  scripts/push-preflight.mjs
Due: eslint --max-warnings=500

chore(release): add whats-new for 1518bdd8
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): sync meal presets across devices
  apps/web/__tests__/hot-sync-curator-path.test.js
  apps/web/__tests__/merge-scalar-kv-meta.test.js
  apps/web/__tests__/storage-registry.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_storage_registry_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.6e0661ef0828.js
  apps/web/public/boot-core.bundle.6e0661ef0828.js.gz
  apps/web/public/boot-core.bundle.d47dabba7d6a.js
  apps/web/public/boot-core.bundle.d47dabba7d6a.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for f518b808
  apps/web/public/whats-new.json
Due: prettier --write

chore(products): add brand fingerprints and dedupe tools
  apps/web/__tests__/overlay-cloud-snapshot-suppress.test.js
  apps/web/__tests__/product-brand-fingerprint.test.js
  apps/web/__tests__/product-commit-gate-contract.test.js
  apps/web/day/_meals.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_cloud_shared_v1.js
  apps/web/heys_day_add_product.js
  apps/web/heys_models_v1.js
  apps/web/heys_products_overlay_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/styles/modules/600-steps-and-aps.css
  database/2026-07-02_add_product_brand.sql
  database/2026-07-02_add_product_brand_fingerprint.sql
  database/2026-07-02_clean_dayv2_shape.sql
  database/2026-07-02_dedupe_products_overlay.sql
  database/2026-07-02_product_brand_backfill_dry_run.sql
  database/2026-07-02_product_brand_fingerprint_backfill_apply.sql
  database/2026-07-02_product_brand_fingerprint_backfill_dry_run.sql
  database/2026-07-02_product_duplicate_audit.sql
  database/yandex_migration/001_schema.sql
  scripts/bootstrap-bypass-allowlist.txt
  scripts/db/audit-product-brand-candidates.mjs
  scripts/db/dedupe-legacy-products.mjs
  yandex-cloud-functions/heys-api-rest/index.js
Due: eslint --max-warnings=500

chore(sync): harden checkin and planning persistence
  apps/web/DEBUGGING.md
  apps/web/__tests__/default-tab-sync.test.js
  apps/web/__tests__/hot-sync-curator-path.test.js
  apps/web/__tests__/morning-checkin-stability.test.js
  apps/web/__tests__/planning-sync-persistence.test.js
  apps/web/__tests__/storage-layer.test.js
  apps/web/__tests__/yesterday-verify-scoping.test.js
  apps/web/day/_advice.js
  apps/web/heys_app_gates_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_app_tab_state_v1.js
  apps/web/heys_client_log_trace_v1.js
  apps/web/heys_iw_constants.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_planning_chrono_v1.js
  apps/web/heys_planning_store_v1.js
  apps/web/heys_planning_tasks_v1.js
  apps/web/heys_predictive_insights_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_storage_layer_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/heys_yesterday_verify_v1.js
  apps/web/insights/pi_advanced.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/900-planning.css
  apps/web/styles/modules/905-planning-chrono.css
Due: eslint --max-warnings=500, prettier --write

chore(login): refine client pin entry experience
  apps/landing/COPY_VOICE.md
  apps/web/heys_login_screen_v1.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500, prettier --write

chore(data): add product audit exports
  output/legacy-products-dedupe-2026-07-02-after.json
  output/legacy-products-dedupe-2026-07-02-final.json
  output/legacy-products-dedupe-2026-07-02.json
  output/product-brand-candidates-2026-07-02-after-dedupe.json
  output/product-brand-candidates-2026-07-02-after.json
  output/product-brand-candidates-2026-07-02-final.json
  output/product-brand-candidates-2026-07-02-hkrutka.json
  output/product-brand-candidates-2026-07-02-overlay-tail-after.json
  output/product-brand-candidates-2026-07-02-overlay-tail.json
  output/product-brand-candidates-2026-07-02.json
Due: prettier --write

chore(build): sync legacy runtime bundles
  apps/web/bundle-manifest.json
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.24051f122364.js
  apps/web/public/boot-app.bundle.24051f122364.js.gz
  apps/web/public/boot-app.bundle.dccebc7a97b0.js
  apps/web/public/boot-app.bundle.dccebc7a97b0.js.gz
  apps/web/public/boot-calc.bundle.5f1d4ceb83ce.js
  apps/web/public/boot-calc.bundle.5f1d4ceb83ce.js.gz
  apps/web/public/boot-calc.bundle.84929ef49693.js
  apps/web/public/boot-calc.bundle.84929ef49693.js.gz
  apps/web/public/boot-core.bundle.6e0661ef0828.js
  apps/web/public/boot-core.bundle.6e0661ef0828.js.gz
  apps/web/public/boot-core.bundle.fc59b015278c.js
  apps/web/public/boot-core.bundle.fc59b015278c.js.gz
  apps/web/public/boot-init.bundle.dd4545585722.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/heys-logo-hero-blue.png
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-eager.bundle.bb651c659737.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.5c6c0d8ecd06.js
  apps/web/public/postboot-1-game-lazy.bundle.5c6c0d8ecd06.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.d4110df623bb.js
  apps/web/public/postboot-1-game-lazy.bundle.d4110df623bb.js.gz
  apps/web/public/postboot-2-insights-eager.bundle.807cb783ab2f.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.87ac8412985d.js
  apps/web/public/postboot-2-insights-lazy.bundle.87ac8412985d.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.fa39ace5cf00.js
  apps/web/public/postboot-2-insights-lazy.bundle.fa39ace5cf00.js.gz
  apps/web/public/postboot-3-ui-eager.bundle.2da300f79259.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.af1a36c81e33.js
  apps/web/public/postboot-3-ui-lazy.bundle.af1a36c81e33.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.d36c755565c3.js
  apps/web/public/postboot-3-ui-lazy.bundle.d36c755565c3.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for ac2d915d
  apps/web/public/whats-new.json
Due: prettier --write

docs(agents): codify HEYS push flow
  AGENTS.md
  CLAUDE.md
Due: prettier --write

fix(day): center product action sheet
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.84929ef49693.js
  apps/web/public/boot-calc.bundle.84929ef49693.js.gz
  apps/web/public/boot-calc.bundle.e502f820b4f1.js
  apps/web/public/boot-calc.bundle.e502f820b4f1.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 5c885d37
  apps/web/public/whats-new.json
Due: prettier --write

fix(login): keep touch keypad inputs stable
  apps/web/bundle-manifest.json
  apps/web/heys_login_screen_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.ad135d3f51cf.js
  apps/web/public/boot-app.bundle.ad135d3f51cf.js.gz
  apps/web/public/boot-app.bundle.dccebc7a97b0.js
  apps/web/public/boot-app.bundle.dccebc7a97b0.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for ce19ffdc
  apps/web/public/whats-new.json
Due: prettier --write

fix(day): render product action sheet in portal
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.d8eb6c7d24ad.js
  apps/web/public/boot-calc.bundle.d8eb6c7d24ad.js.gz
  apps/web/public/boot-calc.bundle.e502f820b4f1.js
  apps/web/public/boot-calc.bundle.e502f820b4f1.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 8efdb4de
  apps/web/public/whats-new.json
Due: prettier --write

chore(products): add curator cloud products export
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_core_v12.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.2b5b58449270.js
  apps/web/public/boot-core.bundle.2b5b58449270.js.gz
  apps/web/public/boot-core.bundle.fc59b015278c.js
  apps/web/public/boot-core.bundle.fc59b015278c.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.8035ea0190d1.js
  apps/web/public/postboot-3-ui-lazy.bundle.8035ea0190d1.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.af1a36c81e33.js
  apps/web/public/postboot-3-ui-lazy.bundle.af1a36c81e33.js.gz
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
  yandex-cloud-functions/api-gateway-spec-v2.yaml
  yandex-cloud-functions/api-gateway-spec.yaml
  yandex-cloud-functions/heys-api-auth/index.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for f048380c
  apps/web/public/whats-new.json
Due: prettier --write

feat(day): add hunger energy status guidance
  apps/web/__tests__/hunger-energy-status-engine.test.js
  apps/web/__tests__/hunger-energy-status-ui.test.js
  apps/web/__tests__/insulin-wave.test.js
  apps/web/config/insulin-wave-config.json
  apps/web/heys_day_insulin_wave_ui_v1.js
  apps/web/heys_day_page_shell.js
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/heys_hunger_energy_status_v1.js
  apps/web/heys_iw_constants.js
  apps/web/heys_iw_ui.js
  apps/web/heys_messenger_api_v1.js
  apps/web/heys_metabolic_intelligence_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/400-water-and-hydration.css
  docs/HUNGER_ENERGY_STATUS_ACCEPTANCE.md
  docs/HUNGER_ENERGY_STATUS_CONCEPT.md
  docs/HUNGER_ENERGY_STATUS_DECISION_ENGINE.md
  docs/HUNGER_ENERGY_STATUS_EVIDENCE.md
  docs/HUNGER_ENERGY_STATUS_FOOD_PRIORITY.md
  docs/HUNGER_ENERGY_STATUS_INPUTS.md
  docs/HUNGER_ENERGY_STATUS_REVIEW.md
  docs/HUNGER_ENERGY_STATUS_RISK_BUDGET.md
  docs/HUNGER_ENERGY_STATUS_SCENARIOS.md
  docs/HUNGER_ENERGY_STATUS_UI_MODAL.md
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
