Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

docs(актив): вердикты по строкам контракта вкладки записаны в снимок
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

docs(актив): протокол блока 11 и две записи дизайнеру
  docs/implementation/ACTIVITY_TAB_V4_PROTOCOL.md
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

fix(ci): зелёный deploy-гейт — пять тестов и сканер приведены к текущей истине
  apps/web/__tests__/longpress-hint-product-rule.test.js
  apps/web/__tests__/page-side-padding-guard.test.js
  apps/web/__tests__/pi_meal_planner_ui_contract.test.js
  apps/web/__tests__/registration-server-norms-contract.test.js
  apps/web/heys_curator_actions_banner_v1.js
  apps/web/scripts/ui-v4-visual-fixture.mjs
  scripts/security/sast-scan.js
Due: eslint --max-warnings=500

docs(ui): лист копирования в питании прошёл мимо перекраски v4
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

docs(ui): у ненайденного кольца воды записана причина, а не вердикт
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

fix(local): sync после push больше не может снести исходники packages
  scripts/ensure-local-toolchain.mjs
  scripts/sync-local-workspace.mjs
Due: none

fix(шаги): полосу можно тянуть, и оценка показывается тем числом, которым считали
  apps/web/__tests__/activity-numbers-net-and-plan.test.js
  apps/web/__tests__/activity-steps-estimate-and-slider.test.js
  apps/web/heys_day_activity_v1.js
  apps/web/heys_day_steps_ui.js
  apps/web/heys_day_tab_impl_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

feat(кабинет): Ops dashboard стал служебным листом и потерял свою систему цветов
  apps/web/heys_app_gate_flow_v1.js
  apps/web/styles/modules/734-ui-v4-curator-panel.css
Due: eslint --max-warnings=500

fix(local): восстановление packages идёт и после упавшей установки
  scripts/sync-local-workspace.mjs
Due: none

fix(инсайты): полоса БЖУ встала под строку, роль --v4-warn закрыта в файле
  apps/web/insights/pi_ui_dashboard.js
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/ui/ui-v4-contract-verdicts.json
  scripts/bootstrap-bypass-allowlist.txt
  scripts/ui-v4-check-undefined-roles.mjs
Due: eslint --max-warnings=500, prettier --write

feat(виджеты): волна и сон догнали свои кадры
  apps/web/heys_widgets_insulin_wave_v4.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

feat(чек-ин): шкалы и цель по шагам сведены с разбором — восемь кадров
  apps/web/__tests__/checkin-v4-canvas-razbor.test.js
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/implementation/MORNING_CHECKIN_V4_PROTOCOL.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(local): починка workspace возвращает пропавшие пакеты, а не всё дерево
  apps/web/__tests__/sync-local-restore-scope.test.js
  scripts/sync-local-workspace.mjs
Due: eslint --max-warnings=500

fix(prepush): временное дерево больше не уносит с собой настоящий node_modules
  scripts/pre-push-vitest-cache.mjs
Due: none

fix(инсайты): полоса БЖУ вернулась к разметке кадра, расхождение отдано дизайнеру
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(чек-ин): отступ первой шкалы задавался мёртвым селектором
  apps/web/__tests__/checkin-v4-canvas-razbor.test.js
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

feat(актив): строка «Следующая тренировка» сведена с кадром «день отдыха»
  apps/web/__tests__/activity-program-next-row.test.js
  apps/web/heys_day_trainings_v1.js
  apps/web/styles/modules/731-ui-v4-activity.css
  docs/implementation/ACTIVITY_TAB_V4_PROTOCOL.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(волна): тёплый тон нахлёста доехал до числа
  apps/web/__tests__/widgets-bd-sheet-canvas-razbor.test.js
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

docs(ui): вердикты двух шторок и находка о тесной шапке 2×1
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

fix(отчёты): лента дней — точка на ролях набора, «Ещё N» принадлежит списку
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/ui/ui-v4-contract-verdicts.json
  scripts/ui-v4-check-undefined-roles.mjs
Due: eslint --max-warnings=500, prettier --write

feat(чек-ин): вход в развилку и три вида шага веса — восемь кадров
  apps/web/__tests__/checkin-v4-canvas-razbor.test.js
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/715-yesterday-verify.css
  docs/implementation/MORNING_CHECKIN_V4_PROTOCOL.md
  docs/ui/ui-v4-contract-verdicts.json
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(калории, оценка дня): тон прибавки и столбики недели по кадрам
  apps/web/__tests__/widgets-bd-sheet-canvas-razbor.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

fix(гейт): объявления ролей собираются по тексту без комментариев
  scripts/ui-v4-check-undefined-roles.mjs
Due: none

fix(ядро): свободные переменные в продуктах и оболочке — падение вкладки и мёртвый guard
  apps/web/heys_app_shell_v1.js
  apps/web/heys_core_v12.js
Due: eslint --max-warnings=500

feat(оценка дня): семь дней стали видны, число встало текстовым акцентом
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(день): «Готово» в минутах по зонам, запасная формула шагов и метка дня в журнале
  apps/web/heys_day_steps_ui.js
  apps/web/heys_day_training_handlers.js
  apps/web/heys_day_utils.js
Due: eslint --max-warnings=500

fix(синхронизация): защитный период после signIn получил объявление
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix(инсайты): рамка метки планера красится тоном, а не ролью половины наборов
  apps/web/__tests__/line-roles-v4.test.js
  apps/web/styles/modules/733-ui-v4-reports.css
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

fix(экраны): свободные переменные в кабинете, согласиях, советах, волне и отчётах
  apps/web/advice/_core.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_consents_v1.js
  apps/web/heys_iw_calc.js
  apps/web/heys_metabolic_intelligence_v1.js
  apps/web/heys_planning_schedule_v1.js
  apps/web/heys_subscriptions_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/heys_yandex_api_v1.js
Due: eslint --max-warnings=500

feat(проверки): гейт на свободные переменные в легаси-слое apps/web
  .husky/pre-commit
  apps/web/insights/pi_ui_meal_rec_card.js
  docs/operations/AGENT_SHIPPING_RUNBOOK.md
  scripts/lint-legacy-undef-allowlist.txt
  scripts/lint-legacy-undef.mjs
Due: eslint --max-warnings=500, prettier --write

fix(вода, тепловая карта): сетка месяца перестала вылезать за плитку
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(локалка): восстановление пропавших пакетов больше не откатывает apps/ целиком
  scripts/ensure-local-toolchain.mjs
Due: none

feat(инсайты): лестница порогов стоит в двух местах, экран порогов получил концовку
  apps/web/insights/pi_ui_dashboard.js
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

test(local): сверка восстановления workspace идёт по обеим копиям
  apps/web/__tests__/sync-local-restore-scope.test.js
Due: eslint --max-warnings=500

fix(волна): тест «Спокойного окна» догнал переехавшую подпись
  apps/web/__tests__/widgets-insulin-overnight-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

feat(чек-ин): слои, добавки и итог сведены — зона закрыта целиком
  apps/web/__tests__/canvas-razbor-helpers.js
  apps/web/__tests__/checkin-v4-canvas-razbor.test.js
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/implementation/MORNING_CHECKIN_V4_PROTOCOL.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(гейт копии): слова кадра Главной снова проверяются
  apps/web/__tests__/widgets-canvas-copy.test.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

test(программа): ассерт ссылки догнал слово кадра
  apps/web/__tests__/program-week-overview.test.js
Due: eslint --max-warnings=500

feat(актив): карточка назначенного плана сведена с кадром
  apps/web/__tests__/activity-plan-card-frame.test.js
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/731-ui-v4-activity.css
  docs/implementation/ACTIVITY_TAB_V4_PROTOCOL.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write
