Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(scripts): attach web node_modules in pre-push clean worktree
  scripts/pre-push-vitest-cache.mjs
Due: none

fix(scripts): detect prepare-release CLI on Windows paths
  apps/web/__tests__/pre-push-vitest-cache.test.js
  scripts/prepare-release.mjs
Due: eslint --max-warnings=500

feat(ui-v4): home widgets and sand-dark chrome match canvas
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/__tests__/sync-pending-banner-v4.test.js
  apps/web/__tests__/widgets-v4-sphere.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_page_shell.js
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/critical.css
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/1000-messenger.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/widgets/widget_data.js
  docs/ui/handoff-v4/canvas/README.md
Due: eslint --max-warnings=500, prettier --write

test(legal): drop PIN allowlist assertions from 1.11
  apps/web/__tests__/consent-readonly-stable.test.js
Due: eslint --max-warnings=500

test(bot): expect privacy policy 1.8 on HEYS Start leads
  yandex-cloud-functions/heys-bot-client/CRM_SMOKE.md
  yandex-cloud-functions/heys-bot-client/__tests__/start-lead-crm.test.cjs
Due: prettier --write

fix(web): consents CRLF hash + deploy gate drift and tests
  apps/web/__tests__/app-header-tab-switch.test.js
  apps/web/__tests__/auth-pin-keypad-rollout.test.js
  apps/web/__tests__/consent-release-contract.test.js
  apps/web/__tests__/revoke-personal-data-purge.test.js
  apps/web/heys_consents_v1.js
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/critical.css
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/1000-messenger.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/720-predictive-insights.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/731-ui-v4-activity.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
  apps/web/styles/modules/734-ui-v4-insights.css
Due: eslint --max-warnings=500

test(ui-v4): expect sand-dark nav literals after drift fix
  apps/web/__tests__/app-nav-v4-frame.test.js
Due: eslint --max-warnings=500

test(ui-v4): allow v4 role fallbacks after drift fix
  apps/web/__tests__/sync-pending-banner-v4.test.js
  apps/web/__tests__/widgets-v4-sphere.test.js
Due: eslint --max-warnings=500

fix(legal): canary syncs active consents only for 1.11
  docs/implementation/LEGAL_1_11_PROTOCOL_2026-08-14.md
  scripts/check-live-legal-drift.mjs
  scripts/ci/__fixtures__/legal-drift.mjs
  scripts/ci/__tests__/legal-drift-canary.test.mjs
Due: prettier --write

fix(web): hide bottom tabs over consent screen on iPhone
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/__tests__/consent-honest-summaries.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_consents_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500

feat(landing): align version D copy with 1.11 and curator wording
  apps/landing/src/app/legal/layout.tsx
  apps/landing/src/components/FooterSSR.tsx
  apps/landing/src/components/__tests__/versionD-positioning.test.ts
  apps/landing/src/components/quiz/TrialQuiz.tsx
  apps/landing/src/components/quiz/quizModel.ts
  apps/landing/src/components/versions/d/CuratorSection.tsx
  apps/landing/src/components/versions/d/FooterD.tsx
  apps/landing/src/components/versions/d/PricingD.tsx
  docs/release/landing-cards.md
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): sand login and PEP access-code screens
  apps/web/__tests__/access-code-setup-keypad.test.js
  apps/web/__tests__/login-v4-structure.test.js
  apps/web/__tests__/pep-access-v4-structure.test.js
  apps/web/__tests__/theme-login-picker.test.js
  apps/web/__tests__/trial-intake-login-copy.test.js
  apps/web/heys_client_access_code_setup_v1.js
  apps/web/heys_login_screen_v1.js
  apps/web/heys_login_theme_picker_v1.js
  apps/web/styles/modules/733-ui-v4-login-theme.css
  todo.md
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): sand meal diary screens and add-product fork
  apps/web/__tests__/barcode-contract.test.js
  apps/web/__tests__/meal-add-flow-v4-structure.test.js
  apps/web/__tests__/meal-mood-v4-structure.test.js
  apps/web/__tests__/meal-name-localization.test.js
  apps/web/__tests__/meal-time-v4-structure.test.js
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/day/_meals.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_nutrition_v1.js
  apps/web/heys_day_utils.js
  apps/web/heys_meal_step_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/600-steps-and-aps.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: eslint --max-warnings=500, prettier --write

docs(release): record 9fbd3cd8 green deploy and 1.11 front
  docs/implementation/LEGAL_1_11_PROTOCOL_2026-08-14.md
  docs/legal/consent-forms.md
  docs/release/release-plan.md
  docs/release/release-track-a.md
  docs/release/release-track-b.md
  docs/release/release-track-c.md
Due: prettier --write

docs(stable): PIN login bridge for the frozen copy
  docs/release/stable-heyslab-build-recipe.md
  scripts/stable/heys_stable_pin_bridge_v1.js
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): put sand login markup into the static shell
  apps/web/index.html
Due: none

fix(ui-v4): restore classic drift literals and insulin wave contract
  apps/web/heys_meal_step_v1.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/733-ui-v4-login-theme.css
Due: eslint --max-warnings=500

fix(ui-v4): use sand-hero tokens that pass classic drift
  apps/web/__tests__/login-v4-structure.test.js
  apps/web/__tests__/meal-add-flow-v4-structure.test.js
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/733-ui-v4-login-theme.css
Due: eslint --max-warnings=500

docs(release): record 38834138 green deploy
  docs/implementation/LEGAL_1_11_PROTOCOL_2026-08-14.md
  docs/legal/consent-forms.md
  docs/release/release-plan.md
  docs/release/release-track-a.md
  docs/release/release-track-b.md
  docs/release/release-track-c.md
  docs/release/release-track-d.md
Due: prettier --write

fix(sync): restore cloud dayv2 when local shell is empty but newer
  apps/web/DEBUGGING.md
  apps/web/__perf_baselines__/storage-quota-audit-2026-05-22.md
  apps/web/__tests__/app-critical-data-ready.test.js
  apps/web/__tests__/hot-sync-curator-path.test.js
  apps/web/__tests__/storage-quota-meter.test.js
  apps/web/__tests__/storage-registry.test.js
  apps/web/__tests__/usage-stats-from-store.test.js
  apps/web/heys_storage_layer_v1.js
  apps/web/heys_storage_registry_v1.js
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): flatten critical header chrome to sand ground
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/styles/critical.css
Due: eslint --max-warnings=500

fix(postboot): fetch lazy-manifest with cache no-store
  apps/web/__tests__/boot-perf-postboot-split.test.js
  apps/web/heys_game_facade_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_postboot3_facade_v1.js
  apps/web/insights/pi_facade.js
Due: eslint --max-warnings=500

test(ui-v4): extend structure contracts and regression guards
  TESTS/advice-defects-3c.test.js
  apps/web/__tests__/activity-v4-structure.test.js
  apps/web/__tests__/add-product-create-harm-portions-v4-structure.test.js
  apps/web/__tests__/add-product-grams-summary-v4-structure.test.js
  apps/web/__tests__/add-product-presets-v4-structure.test.js
  apps/web/__tests__/add-product-search-edge-v4-structure.test.js
  apps/web/__tests__/add-product-search-v4-structure.test.js
  apps/web/__tests__/add-product-smart-products.test.js
  apps/web/__tests__/advice-menu-open.test.js
  apps/web/__tests__/advice-v4-panels.test.js
  apps/web/__tests__/app-tab-skeletons.test.js
  apps/web/__tests__/auth-pin-keypad-rollout.test.js
  apps/web/__tests__/barcode-contract.test.js
  apps/web/__tests__/blank-screen-guard.test.js
  apps/web/__tests__/cloud-sync-indicator-simple.test.js
  apps/web/__tests__/date-picker-sheet-v4-structure.test.js
  apps/web/__tests__/default-tab-sync.test.js
  apps/web/__tests__/first-login-onboarding-guardrails.test.js
  apps/web/__tests__/gamification-screens-v4-structure.test.js
  apps/web/__tests__/home-tab-activity.test.js
  apps/web/__tests__/insights-v4-structure.test.js
  apps/web/__tests__/login-error-codes-contract.test.js
  apps/web/__tests__/login-v4-structure.test.js
  apps/web/__tests__/meal-add-flow-v4-structure.test.js
  apps/web/__tests__/meal-mood-v4-structure.test.js
  apps/web/__tests__/meal-plate-guide.test.js
  apps/web/__tests__/meal-time-v4-structure.test.js
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/__tests__/pep-access-v4-structure.test.js
  apps/web/__tests__/pwa-install-banner-v4-structure.test.js
  apps/web/__tests__/reports-v4-structure.test.js
  apps/web/__tests__/theme-login-picker.test.js
  apps/web/__tests__/widgets-v4-sphere.test.js
Due: eslint --max-warnings=500

fix(backup): tighten daily backup restore consistency checks
  yandex-cloud-functions/heys-client-daily-backup/__tests__/backup-consistency.test.cjs
  yandex-cloud-functions/heys-client-daily-backup/index.js
  yandex-cloud-functions/heys-client-daily-backup/restore-client-backup.js
Due: eslint --max-warnings=500

fix(ui-v4): remove dark shell blue gradient from header chrome
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/styles/heys-components.css
Due: eslint --max-warnings=500

docs(backup): tell the truth about backup layers and enable photo orphan delete
  docs/legal/backup-retention.md
  docs/legal/operator/heys-retention-policy-draft.md
  docs/legal/operator/internal-policy-pdn.md
  docs/reference/systems/BACKGROUND_JOBS.md
  docs/reference/systems/BACKUP_AND_REPORTS.md
  docs/release/lawyer-A-data-flow.md
  docs/release/lawyer-F-backups.md
  docs/release/lawyer-README.md
  yandex-cloud-functions/BACKUP_CONSOLE_GUIDE.md
  yandex-cloud-functions/DISASTER_RECOVERY_RUNBOOK.md
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/heys-client-daily-backup/README.md
Due: prettier --write

fix(ui-v4): reset tab scroll without viewport remount
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/__tests__/home-tab-activity.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_lifecycle_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500

fix(ops): resolve deploy-all capacity policy path on Git Bash
  yandex-cloud-functions/deploy-all.sh
Due: none

docs(legal): add 1.11 lawyer pack and ascii sources
  docs/legal/HEYS-legal-1.11-lawyer.zip
  docs/legal/_pack-1.11-ascii/00-README.txt
  docs/legal/_pack-1.11-ascii/01-personal-data-consent-1.0.md
  docs/legal/_pack-1.11-ascii/02-warning-intake-1.0.md
  docs/legal/_pack-1.11-ascii/03-body-measurements-consent-1.0.md
  docs/legal/_pack-1.11-ascii/04-supplements-consent-1.0.md
  docs/legal/_pack-1.11-ascii/05-pep-agreement-1.1.md
  docs/legal/_pack-1.11-ascii/06-user-agreement-1.11.md
  docs/legal/_pack-1.11-ascii/07-privacy-policy-1.8.md
  docs/legal/_pack-1.11-ascii/08-push-notifications-consent-1.1.md
  docs/legal/_pack-1.11-ascii/09-refund-1.2.md
  docs/legal/_pack-1.11-ascii/10-marketing-consent-1.4.md
  docs/legal/_pack-1.11-ascii/11-speech-transcription-consent-1.2.md
  docs/legal/_pack-1.11-ascii/12-curator-access-consent-1.1.md
  docs/legal/_pack-1.11-ascii/13-subprocessors-1.3.md
  docs/legal/_pack-1.11-ascii/14-landing-application-consent.txt
  docs/legal/_pack-1.11-ascii/15-WITHDRAWN-health-data-consent-1.5.md
  docs/legal/_pack-1.11-ascii/16-WITHDRAWN-NOTE.txt
Due: prettier --write

docs(ui-v4): handoff canvas, APS audit and implementation status
  docs/implementation/PROTOCOL_SETTINGS_SHEET_2026-08-14.md
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  docs/ui/handoff-v4/APS_LAYOUT_AUDIT.md
  docs/ui/handoff-v4/canvas/README.md
  docs/ui/handoff-v4/canvas/Добавление еды.dc.html
  docs/ui/handoff-v4/canvas/Лендинг D - сборка.dc.html
Due: prettier --write

docs(release): update track C status after ui v4 batch
  docs/release/release-track-c.md
Due: prettier --write

chore: ignore local agent scratch dirs
  .gitignore
Due: none

chore(web): rebuild legacy bundles for day guard and tab scroll fixes
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.37aa99b84ef8.js
  apps/web/public/boot-app.bundle.37aa99b84ef8.js.gz
  apps/web/public/boot-app.bundle.73ccf5ef38b6.js
  apps/web/public/boot-app.bundle.73ccf5ef38b6.js.gz
  apps/web/public/boot-core.bundle.c3feec50d62c.js
  apps/web/public/boot-core.bundle.c3feec50d62c.js.gz
  apps/web/public/boot-core.bundle.f9efc427bfd9.js
  apps/web/public/boot-core.bundle.f9efc427bfd9.js.gz
  apps/web/public/boot-day.bundle.4b20e69a8024.js
  apps/web/public/boot-day.bundle.4b20e69a8024.js.gz
  apps/web/public/boot-day.bundle.7d1efa38dcf5.js
  apps/web/public/boot-day.bundle.7d1efa38dcf5.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

docs(backup): record live photo cleanup and single-snapshot backup
  docs/reference/systems/BACKGROUND_JOBS.md
  docs/reference/systems/BACKUP_AND_REPORTS.md
Due: prettier --write

test(web): align pre-push contracts with ui v4 and Windows imports
  apps/web/__tests__/activity-v4-structure.test.js
  apps/web/__tests__/agent-staging.test.js
  apps/web/__tests__/barcode-contract.test.js
  apps/web/__tests__/insights-v4-structure.test.js
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/__tests__/pep-access-v4-structure.test.js
  apps/web/__tests__/pre-push-vitest-cache.test.js
  apps/web/__tests__/prepare-release-skip.test.js
  apps/web/__tests__/push-agent.test.js
  apps/web/__tests__/sync-merge-shared.test.js
Due: eslint --max-warnings=500

fix(ci): skip Windows-incompatible script Vitest imports on pre-push
  scripts/pre-push-vitest-cache.mjs
Due: none

feat(web): adaptive daily steps goal from history and morning context
  apps/web/__tests__/adaptive-steps-goal.test.js
  apps/web/heys_steps_v1.js
  docs/DATA_MODEL_REFERENCE.md
Due: eslint --max-warnings=500, prettier --write
