Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix(ui): Activity v4 stage-4 structure per owner review
  apps/web/__tests__/activity-v4-structure.test.js
  apps/web/heys_day_activity_v1.js
  apps/web/heys_morning_activation_calendar_v1.js
  apps/web/styles/modules/731-ui-v4-activity.css
Due: eslint --max-warnings=500

docs(ui): note Activity v4 stage-4 structure commit
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

style(ui-v4): stage 6 batch 13 — planning-chrono CSS paint codemod
  apps/web/styles/modules/905-planning-chrono.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

style(ui-v4): stage 6 batch 14 — PWA/offline CSS paint codemod
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

docs(ui-v4): актуализировать план — блокеров нет, очередь работ, готовность 30-35%
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

style(ui-v4): stage 6 CSS batch — meal-optimizer module
  apps/web/styles/modules/800-meal-optimizer.css
Due: none

style(ui-v4): stage 6 batch 15 — water/hydration CSS paint codemod
  apps/web/styles/modules/400-water-and-hydration.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

style(ui-v4): stage 6 CSS batch — 710-refeed module
  apps/web/styles/modules/710-refeed.css
Due: none

style(ui-v4): stage 6 batch 15 — cascade-card CSS paint codemod
  apps/web/styles/modules/740-cascade-card.css
Due: none

style(ui-v4): stage 6 CSS batch — yesterday-verify module
  apps/web/styles/modules/715-yesterday-verify.css
Due: none

style(ui-v4): stage 6 CSS batch — strength-builder module
  apps/web/styles/modules/750-strength-builder.css
Due: none

style(ui-v4): stage 6 CSS batch — drums-finger-trainer module
  apps/web/styles/modules/drums-finger-trainer.css
Due: none

docs(ui-v4): сверка макета входа с кодом — согласовано, две задачи вскрыты
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

style(ui-v4): stage 6 CSS batch — steps-and-aps module
  apps/web/styles/modules/600-steps-and-aps.css
Due: none

style(ui-v4): stage 6 CSS batch — planning-game-assemble-day module
  apps/web/styles/modules/912-planning-game-assemble-day.css
Due: none

style(ui-v4): stage 6 CSS batch — planning-goal-map module
  apps/web/styles/modules/906-planning-goal-map.css
Due: none

style(ui-v4): stage 6 CSS batch — planning-reading module
  apps/web/styles/modules/907-planning-reading.css
Due: none

style(ui-v4): stage 6 CSS batch — planning-games module
  apps/web/styles/modules/908-planning-games.css
Due: none

style(ui-v4): stage 6 CSS batch — planning-game-word-builder module
  apps/web/styles/modules/909-planning-game-word-builder.css
Due: none

style(ui-v4): stage 6 CSS batch — planning-game-robot-route module
  apps/web/styles/modules/910-planning-game-robot-route.css
Due: none

style(ui-v4): stage 6 CSS batch — planning-game-color-trail module
  apps/web/styles/modules/911-planning-game-color-trail.css
Due: none

docs(ui-v4): Stage 6 post-15 batches and parallel waves summary
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

docs(ui-v4): exclude static tailwind.css from Stage 6 drift scope
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  scripts/ui-v4-check-classic-drift.mjs
Due: prettier --write

style(ui-v4): stage 6 heys-components classic-matching paint
  apps/web/styles/heys-components.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

feat(ui-v4): Nutrition tab stage 4 structure
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_nutrition_card_v1.js
  apps/web/heys_day_nutrition_v1.js
  apps/web/heys_day_page_shell.js
  apps/web/heys_day_stats_bundle_loader_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_day_tab_render_v1.js
  apps/web/styles/main.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500

feat(ui-v4): Nutrition tab stage 4 paint
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: eslint --max-warnings=500, prettier --write

docs: fix Nutrition paint commit SHA in UI v4 plan
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

feat(ui-v4): перцептивный порог замены и фон экрана по палитре
  apps/web/styles/critical.css
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/1000-messenger.css
  apps/web/styles/modules/200-dark-and-effects.css
  apps/web/styles/modules/300-modals-and-day.css
  apps/web/styles/modules/310-client-switch-overlay.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/710-refeed.css
  apps/web/styles/modules/715-yesterday-verify.css
  apps/web/styles/modules/720-predictive-insights.css
  apps/web/styles/modules/725-metabolic-intelligence.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/731-ui-v4-activity.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
  apps/web/styles/modules/800-meal-optimizer.css
  apps/web/styles/modules/900-planning.css
  apps/web/styles/modules/905-planning-chrono.css
  apps/web/styles/modules/906-planning-goal-map.css
  apps/web/styles/modules/907-planning-reading.css
  apps/web/styles/modules/908-planning-games.css
  apps/web/styles/modules/909-planning-game-word-builder.css
  apps/web/styles/modules/911-planning-game-color-trail.css
  apps/web/styles/modules/912-planning-game-assemble-day.css
  apps/web/styles/modules/drums-finger-trainer.css
  apps/web/styles/modules/fingers.css
  scripts/ui-v4-apply-near-roles.mjs
  scripts/ui-v4-check-classic-drift.mjs
Due: none

fix(ui-v4): фон экрана — два независимых старых бага, оба гасили тёмные палитры
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/730-widgets-dashboard.css
Due: none

feat(ui-v4): login screen theme palette picker (stage 5)
  apps/web/__tests__/theme-login-picker.test.js
  apps/web/heys_login_screen_v1.js
  apps/web/heys_login_theme_picker_v1.js
  apps/web/index.html
  apps/web/styles/heys-components.css
  apps/web/styles/main.css
  apps/web/styles/modules/733-ui-v4-login-theme.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): рама вокруг вкладок — шапка, FAB и роль приподнятой поверхности
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/1000-messenger.css
  apps/web/styles/modules/400-water-and-hydration.css
Due: eslint --max-warnings=500

docs(ui-v4): основа плана изменена — вперёд без отката, четыре палитры
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

docs(ui-v4): промпты исполнителю зашиты в план по всем пяти задачам
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

refactor(ui-v4): use suffix dark theme selector in scope
  apps/web/heys_day_copy_meal_modal_v1.js
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/heys_loading_progress_v1.js
  apps/web/heys_mobility_bundle_v1.js
  apps/web/heys_move_modal_v1.js
  apps/web/mobility/heys_mobility_ui_v1.js
  apps/web/styles/critical.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/001-design-tokens.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/1000-messenger.css
  apps/web/styles/modules/200-dark-and-effects.css
  apps/web/styles/modules/300-modals-and-day.css
  apps/web/styles/modules/310-client-switch-overlay.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/710-refeed.css
  apps/web/styles/modules/715-yesterday-verify.css
  apps/web/styles/modules/720-predictive-insights.css
  apps/web/styles/modules/725-metabolic-intelligence.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/740-cascade-card.css
  apps/web/styles/modules/900-planning.css
  apps/web/styles/modules/905-planning-chrono.css
  apps/web/styles/modules/906-planning-goal-map.css
  apps/web/styles/modules/907-planning-reading.css
  apps/web/styles/modules/908-planning-games.css
  apps/web/styles/modules/911-planning-game-color-trail.css
  apps/web/styles/modules/912-planning-game-assemble-day.css
  apps/web/styles/modules/fingers.css
  apps/web/tailwind.config.js
Due: eslint --max-warnings=500

refactor(ui-v4): remove classic palette, default to sand
  apps/web/__tests__/boot-theme.test.js
  apps/web/__tests__/theme-login-picker.test.js
  apps/web/__tests__/theme-login-priority.test.js
  apps/web/__tests__/theme-v1.test.js
  apps/web/heys_app_hooks_v1.js
  apps/web/heys_boot_theme_v1.js
  apps/web/heys_login_theme_picker_v1.js
  apps/web/heys_theme_v1.js
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): пять вкладок в навигации, Задачи и Доска в меню настроек
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

docs(ui-v4): лампочка советов тоже в меню, с оговорками по переносу
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

docs(ui): канвасы собраны в одно место с индексом
  docs/ui/handoff-v4/README.md
  docs/ui/handoff-v4/canvas/HEYS v4 - все пять вкладок.dc.html
  docs/ui/handoff-v4/canvas/HEYS v4 - согласованная спецификация.dc.html
  docs/ui/handoff-v4/canvas/README.md
  docs/ui/handoff-v4/canvas/Актив - этап 4.dc.html
  docs/ui/handoff-v4/canvas/Вход v4.dc.html
  docs/ui/handoff-v4/canvas/Выбор оформления на входе.dc.html
  docs/ui/handoff-v4/canvas/Геймификация v4.dc.html
  docs/ui/handoff-v4/canvas/Главная - виджеты по инвентарю.dc.html
  docs/ui/handoff-v4/canvas/Добавление еды.dc.html
  docs/ui/handoff-v4/canvas/Отчёты и Инсайты v4.dc.html
  docs/ui/handoff-v4/canvas/Подвал.dc.html
  docs/ui/handoff-v4/canvas/Правка куратора после старта.dc.html
Due: prettier --write

feat(web): restructure v4 frame nav and header
  apps/web/heys_app_nav_icons_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_app_swipe_nav_v1.js
  apps/web/heys_gamification_bar_v1.js
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500

feat(web): style v4 frame nav and gamification header
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/styles/modules/000-base-and-gamification.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: eslint --max-warnings=500, prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
