Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(ui-v4): sharpen home visual parity
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/__tests__/widgets-v4-ink-ladder-contract.test.js
  apps/web/__tests__/widgets-v4-sphere.test.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): align meal transfer sheets
  apps/web/__tests__/copy-meal-empty-target-v4.test.js
  apps/web/__tests__/food-meal-transfer-v4.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): align nutrition empty-day shell
  apps/web/__tests__/nutrition-tab-v4-states.test.js
  apps/web/__tests__/nutrition-v4-shell-contract.test.js
  apps/web/__tests__/quick-actions-one-stack.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_nutrition_v1.js
  apps/web/heys_day_page_shell.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/732-ui-v4-nutrition.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/nutrition-tab.v4.dc.html
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): focus active strength approach
  apps/web/__tests__/nutrition-tab-v4-contract-fixes.test.js
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/heys_day_diary_section.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): align strength empty typography
  apps/web/__tests__/strength-builder-empty-v4-canvas-contract.test.js
  apps/web/styles/modules/750-strength-builder.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): align strength superset creation
  apps/web/__tests__/strength-builder-empty-v4-canvas-contract.test.js
  apps/web/__tests__/strength-superset-create-v4-canvas-contract.test.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/strength/heys_strength_catalog_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): align applied norm correction
  apps/web/__tests__/curator-panel-persist-decision.test.js
  apps/web/__tests__/curator-panel-rows.test.js
  apps/web/__tests__/curator-panel-sheet-render.test.js
  apps/web/__tests__/norm-correction-direction-date.test.js
  apps/web/__tests__/norm-correction-owner-flow.test.js
  apps/web/__tests__/norm-correction-weekly-card.test.js
  apps/web/__tests__/norm-correction.test.js
  apps/web/heys_curator_panel_v1.js
  apps/web/heys_norm_correction_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/scripts/ui-v4-completed-frame-evidence.mjs
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/heys-components.css
  apps/web/styles/modules/734-ui-v4-curator-panel.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/reference/systems/NUTRITION_AND_INSULIN.md
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
  docs/ui/verdicts/norm-correction.json
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): align strength finish evidence
  apps/web/__tests__/strength-builder-finish-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/scripts/ui-v4-completed-frame-evidence.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/strength/heys_strength_finish_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/ui/verdicts/strength-builder.json
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): align active strength builder
  apps/web/__tests__/strength-builder-calm-canvas-contract.test.js
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/scripts/ui-v4-completed-frame-evidence.mjs
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/ui/verdicts/strength-builder.json
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): align collapsed strength builder
  apps/web/__tests__/kernel-strength-approach-schema.test.js
  apps/web/__tests__/strength-builder-calm-canvas-contract.test.js
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/_kernel/heys_kernel_strength_v1.js
  apps/web/scripts/ui-v4-completed-frame-evidence.mjs
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/reference/systems/TRAINING_MODES.md
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
  docs/ui/verdicts/strength-builder.json
  yandex-cloud-functions/heys-mcp/lib/web-mirror/_kernel/heys_kernel_strength_v1.js
Due: eslint --max-warnings=500, prettier --write

fix(гейты): четыре красных гейта ролей сведены к нулю
  apps/web/styles/modules/610-aps-meal-flow.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/731-ui-v4-activity.css
  apps/web/styles/modules/734-ui-v4-curator-panel.css
  apps/web/styles/modules/734-ui-v4-insights.css
  apps/web/styles/modules/750-strength-builder.css
  scripts/ui-v4-check-foreign-fallbacks.mjs
  scripts/ui-v4-check-undefined-roles.mjs
Due: none

fix(insights): нормализовать переносы строк и снять красный с числа
  apps/web/styles/modules/734-ui-v4-insights.css
Due: none

fix(widgets, registration): снять мёртвую настройку и обновить два храповика
  apps/web/__tests__/registration-questionnaire-v4-razbor.test.js
  apps/web/__tests__/water-add-v4.test.js
  apps/web/heys_widgets_registry_v1.js
Due: eslint --max-warnings=500

fix(ui-v4): свести ветку к зелёному — контракт против кадра, формат вердикта, адреса
  apps/web/__tests__/insights-cascade-v4.test.js
  apps/web/__tests__/line-roles-v4.test.js
  apps/web/__tests__/ui-v4-code-screen-coverage.test.js
  apps/web/__tests__/widgets-v4-sphere.test.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/UI_V4_SCREEN_COVERAGE.json
  docs/ui/verdicts/product-card.json
  docs/ui/verdicts/reports-insights.json
  docs/ui/verdicts/strength-builder.json
  scripts/ui-check-undeclared-vars.mjs
  scripts/ui-v4-check-foreign-fallbacks.mjs
  scripts/ui-v4-fix-verdict-addresses.mjs
Due: eslint --max-warnings=500, prettier --write

chore(гейт адресов): заморозка moved 122 -> 154 после сведения ветки UI v4
  scripts/ui-v4-check-verdict-addresses.mjs
Due: none

test(охват экранов): поднять собственный лимит теста с 15 до 45 секунд
  apps/web/__tests__/ui-v4-code-screen-coverage.test.js
Due: eslint --max-warnings=500

test(канвас): дать четырём наборам разбора свой лимит времени
  apps/web/__tests__/strength-builder-calm-canvas-contract.test.js
  apps/web/__tests__/strength-builder-finish-v4-canvas-contract.test.js
  apps/web/__tests__/ui-v4-progress-report.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
Due: eslint --max-warnings=500

fix(ci): три дефекта, видимых только на раннере
  .github/workflows/deploy-yandex.yml
  apps/web/__tests__/strength-builder-calm-canvas-contract.test.js
  apps/web/__tests__/strength-builder-offscreen-timer-geometry.test.js
  apps/web/__tests__/strength-builder-rest-dock-geometry.test.js
Due: eslint --max-warnings=500, prettier --write

fix(deps): шесть находок аудита сведены к нулю
  apps/web/package.json
  apps/web/vite.code-splitting.config.ts
  package.json
  pnpm-lock.yaml
  scripts/security/dependency-check.js
  security-reports/dependency-security-report.html
  security-reports/dependency-security-report.json
  security-reports/dependency-vulnerabilities.csv
Due: eslint --max-warnings=500, prettier --write

fix(deploy): убрать мёртвый демо-стенд из цепочки выкладки
  .github/workflows/deploy-yandex.yml
  docs/reference/systems/INFRA_OPERATIONS.md
Due: prettier --write

fix(docs): проверка досье врала на Windows из-за переносов строк
  scripts/check-reference-links.mjs
Due: none

fix(виджеты): листы «Разбор» и веса набирались системным шрифтом вместо Figtree
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/verdicts/home-widgets.json
  scripts/lib/ui-v4-verdicts.mjs
  scripts/ui-v4-check-bare-color-literals.mjs
Due: prettier --write

fix(вода): подпись плитки белела над водой и была нечитаема
  apps/web/__tests__/water-add-v4.test.js
  apps/web/heys_widgets_ui_v1.js
Due: eslint --max-warnings=500

fix(виджеты): «хорошее» значение красилось ролью заливки вместо текстовой
  apps/web/styles/modules/730-widgets-dashboard.css
Due: none

feat(снимки): стенд вкладки «Актив» — у зоны его не было вовсе
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
Due: none

feat(снимки): стенд карточки продукта — зона видна при каждом добавлении еды
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
Due: none

fix(deps): поднять границы fast-uri и qs под advisory 2 сентября
  package.json
  pnpm-lock.yaml
  security-reports/dependency-security-report.html
  security-reports/dependency-security-report.json
Due: prettier --write

docs(правила): UI v4 выкачен на прод — снять допущение про локальный слой
  AGENTS.md
  CLAUDE.md
Due: prettier --write

fix(день): шаги отличают «не вводил» от явного нуля
  apps/web/__tests__/ensure-day-steps-null.test.js
  apps/web/heys_models_v1.js
Due: eslint --max-warnings=500

feat(стенды): чек-ин утра снимается автоматически
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
Due: none

feat(вода): плитка 1×1 вернулась к раскладке кадра, норма снова на месте
  apps/web/__tests__/water-add-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/water-add.json
  scripts/lib/ui-v4-verdicts.mjs
  scripts/ui-v4-check-verdict-addresses.mjs
Due: eslint --max-warnings=500, prettier --write

fix(mcp): блок стенограммы встаёт по времени, а не в конец файла
  yandex-cloud-functions/heys-mcp/__tests__/transcript-chrono-order.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

fix(mcp): граница дневниковых суток сведена с приложением
  yandex-cloud-functions/heys-mcp/__tests__/diary-day-boundary.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

feat(тренд здоровья): линия под числом наконец рисуется на живых данных
  apps/web/__tests__/widgets-v4-canvas-geometry.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/widgets/widget_data.js
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

chore(git): контракт переводов строк вместо догадок
  .gitattributes
Due: none

feat(шаговые модалки): оболочка переведена на v4, тренд здоровья красится кадром
  apps/web/__tests__/morning-checkin-v4-contract-geometry.test.js
  apps/web/__tests__/step-modal-shell-v4.test.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/600-steps-and-aps.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

feat(шаговые модалки): эмодзи ушли из шапки
  apps/web/__tests__/step-modal-shell-v4.test.js
  apps/web/heys_step_modal_v1.js
Due: eslint --max-warnings=500

feat(шапка шага): заголовок, крест и порядок по кадрам, счётчик базы в правке
  apps/web/__tests__/meal-time-v4-structure.test.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

feat(главная): пустой день по кадрам, пороги тренда вернулись, привязка стендов по метке
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/__tests__/widgets-v4-canvas-geometry.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/UI_V4_SAND_ROLES_INVENTORY.md
  docs/ui/verdicts/home-widgets.json
  scripts/lib/ui-v4-canvas-index.mjs
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: eslint --max-warnings=500, prettier --write

fix(загрузка): react-bundle перестал приезжать дважды
  apps/web/__tests__/boot-assets-guard.test.js
  apps/web/index.html
Due: eslint --max-warnings=500
