Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

feat: curator subscription modal + fix badges + admin_cancel_subscription
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_paywall_v1.js
  apps/web/heys_yandex_api_v1.js
  database/2026-02-08_fix_extend_and_curator_clients.sql
  yandex-cloud-functions/heys-api-rpc/apply_fix_migration.js
  yandex-cloud-functions/heys-api-rpc/apply_migrations.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

refactor(auth): migrate admin functions to JWT-only authorization
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_trial_queue_v1.js
  apps/web/heys_yandex_api_v1.js
  database/2026-02-09_admin_functions_jwt_only.sql
  docs/AUTH_ARCHITECTURE_ANALYSIS.md
  yandex-cloud-functions/heys-api-rpc/apply_migrations.js
  yandex-cloud-functions/heys-api-rpc/deploy-with-lockbox.sh
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

fix: migration to JWT-only admin functions, DB schema fixes for trials
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_effects.js
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_storage_layer_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_trial_queue_v1.js
  database/2025-12-25_p1_session_functions.sql
  database/2026-02-08_fix_extend_and_curator_clients.sql
  database/2026-02-09_fix_admin_get_all_clients.sql
  database/2026-02-09_fix_extend_trial_payment.sql
  database/2026-02-09_fix_get_client_data_by_session.sql
  database/2026-02-09_fix_meta_column.sql
  database/2026-02-09_fix_payment_method.sql
  database/2026-02-09_jwt_only_all_functions.sql
  yandex-cloud-functions/heys-api-rpc/apply_migrations.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

fix: lead→trial→subscription chain — 6 critical bugs
  apps/web/heys_subscriptions_v1.js
  apps/web/heys_yandex_api_v1.js
  database/2026-02-10_trial_chain_fixes.sql
  yandex-cloud-functions/heys-api-leads/index.js
  yandex-cloud-functions/heys-api-rpc/apply_migrations.js
Due: eslint --max-warnings=500

fix: pgbouncer idle connection recovery — retry loop + health check in RPC handler
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/shared/db-pool.js
Due: eslint --max-warnings=500

fix: coalesce decrypt fallback to plain v column
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

refactor(landing): keep only variant A as main landing
  apps/landing/src/app/[variant]/page.tsx
  apps/landing/src/app/page.tsx
  apps/landing/src/components/TrialForm.tsx
  apps/landing/src/components/TrialSSR.tsx
  apps/landing/src/components/VersionSwitcherSSR.tsx
  apps/landing/src/components/VersionSwitcherWrapper.tsx
  yandex-cloud-functions/heys-api-rpc/shared/db-pool.js
Due: eslint --max-warnings=500

feat: leads management v3.0 & shared db pool infrastructure
  apps/landing/src/app/page.tsx
  apps/landing/src/components/HeroSSR.tsx
  apps/web/heys_trial_queue_v1.js
  apps/web/heys_yandex_api_v1.js
  database/2026-02-09_admin_update_lead_status.sql
  yandex-cloud-functions/heys-api-leads/index.js
  yandex-cloud-functions/heys-api-leads/shared/db-pool.js
  yandex-cloud-functions/heys-api-leads/shared/health-check.js
  yandex-cloud-functions/heys-api-leads/shared/package.json
  yandex-cloud-functions/heys-api-leads/shared/pool-metrics.js
  yandex-cloud-functions/heys-api-rpc/check_logs.sh
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

feat: update web insights/reports and enhance API logging/db-pooling
  apps/web/.turbo/turbo-build.log
  apps/web/day/_meals.js
  apps/web/heys_confirm_modal_v1.js
  apps/web/heys_day_insights_data_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/public/build-meta.json
  apps/web/public/sw.js
  apps/web/public/version.json
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  yandex-cloud-functions/heys-api-auth/index.js
  yandex-cloud-functions/heys-api-auth/shared/db-pool.js
  yandex-cloud-functions/heys-api-health/certs/root.crt
  yandex-cloud-functions/heys-api-health/index.js
  yandex-cloud-functions/heys-api-health/package-lock.json
  yandex-cloud-functions/heys-api-health/package.json
  yandex-cloud-functions/heys-api-rest/db-pool.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

feat: add GitHub workflows and deployment automation
  .github/workflows/api-health-monitor.yml
  .github/workflows/cloud-functions-deploy.yml
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/health-check.sh
  yandex-cloud-functions/validate-env.sh
Due: prettier --write

docs: add monitoring and automation documentation
  yandex-cloud-functions/AUTOMATION_STATUS.md
  yandex-cloud-functions/FIXED_SUMMARY.md
  yandex-cloud-functions/MONITORING_CHANGELOG.md
  yandex-cloud-functions/MONITORING_GUIDE.md
  yandex-cloud-functions/MONITORING_QUICK_REF.md
Due: prettier --write

refactor(health): simplify health check endpoint
  yandex-cloud-functions/heys-api-health/index.js
Due: eslint --max-warnings=500

refactor(api): improve db-pool and rpc logging
  yandex-cloud-functions/heys-api-rest/db-pool.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

refactor(web): improve formatting and UI consistency
  apps/web/day/_meals.js
  apps/web/heys_daily_missions_v1.js
  apps/web/heys_day_calendar_metrics.js
  apps/web/heys_day_insights_data_v1.js
  apps/web/heys_day_sparklines_v1.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_day_stats_vm_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/200-dark-and-effects.css
Due: eslint --max-warnings=500

chore: add .ycignore files and update copilot instructions
  .github/copilot-instructions.md
  yandex-cloud-functions/heys-api-health/.ycignore
  yandex-cloud-functions/heys-api-leads/.ycignore
  yandex-cloud-functions/heys-api-rest/.ycignore
  yandex-cloud-functions/heys-api-sms/.ycignore
Due: prettier --write

feat: add 24/7 monitoring and auto-healing for cloud functions
  .github/copilot-instructions.md
  .github/workflows/api-health-monitor.yml
  .github/workflows/cloud-functions-deploy.yml
  INCIDENT_RESOLUTION_2026-02-11.md
  yandex-cloud-functions/INCIDENT_PREVENTION.md
  yandex-cloud-functions/MONITORING_QUICK_REF.md
  yandex-cloud-functions/QUICK_FIX.md
  yandex-cloud-functions/README.md
Due: prettier --write

fix(ci): resolve 3 issues in API health monitor
  .github/workflows/api-health-monitor.yml
  yandex-cloud-functions/TELEGRAM_SETUP.md
Due: prettier --write

feat: add monthly reports service and enhance predictive insights dashboard
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_root_impl_v1.js
  apps/web/heys_app_tab_state_v1.js
  apps/web/heys_monthly_reports_service_v1.js
  apps/web/heys_monthly_reports_v1.js
  apps/web/heys_predictive_insights_v1.js
  apps/web/heys_reports_tab_impl_v1.js
  apps/web/index.html
  apps/web/insights/pi_advanced.js
  apps/web/insights/pi_patterns.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/styles/heys-components.css
  apps/web/styles/main.css
Due: eslint --max-warnings=500

feat(insights): c13 vitamin defense radar implementation
  apps/web/__tests__/data-models.test.js
  apps/web/__tests__/pi_patterns.test.js
  apps/web/insights/pi_constants.js
  apps/web/insights/pi_patterns.js
  apps/web/insights/pi_science_info.js
Due: eslint --max-warnings=500

feat(insights): c13 ui card integration
  apps/web/insights/pi_constants.js
  apps/web/insights/pi_science_info.js
  apps/web/insights/pi_ui_cards.js
Due: eslint --max-warnings=500

feat(insights): integrate c13 into main analyzer
  apps/web/heys_predictive_insights_v1.js
Due: eslint --max-warnings=500

feat(insights): c22 b-complex & anemia risk implementation
  apps/web/__tests__/pi_patterns.test.js
  apps/web/heys_predictive_insights_v1.js
  apps/web/insights/pi_constants.js
  apps/web/insights/pi_patterns.js
  apps/web/insights/pi_ui_cards.js
Due: eslint --max-warnings=500

docs(insights): update v6 phase1 status (c13+c22)
  HEYS_Insights_v5_Deep_Analytics_c7.md
Due: prettier --write

feat(insights): phase2 c14+c15 implementation
  apps/web/__tests__/pi_patterns.test.js
  apps/web/heys_predictive_insights_v1.js
  apps/web/insights/pi_constants.js
  apps/web/insights/pi_patterns.js
  apps/web/insights/pi_ui_cards.js
Due: eslint --max-warnings=500

feat(insights): phase3 c16+c18 implementation
  apps/web/__tests__/pi_patterns.test.js
  apps/web/heys_predictive_insights_v1.js
  apps/web/insights/pi_constants.js
  apps/web/insights/pi_patterns.js
  apps/web/insights/pi_ui_cards.js
Due: eslint --max-warnings=500

feat(insights): phase4 c17+c19 implementation
  apps/web/__tests__/pi_patterns.test.js
  apps/web/heys_predictive_insights_v1.js
  apps/web/insights/pi_constants.js
  apps/web/insights/pi_patterns.js
  apps/web/insights/pi_ui_cards.js
Due: eslint --max-warnings=500

fix: improve predictive insights patterns and cards
  apps/web/__tests__/pi_patterns.test.js
  apps/web/heys_predictive_insights_v1.js
  apps/web/insights/pi_constants.js
  apps/web/insights/pi_patterns.js
  apps/web/insights/pi_ui_cards.js
Due: eslint --max-warnings=500

fix: guard health score formula and pattern fallbacks
  apps/web/heys_predictive_insights_v1.js
  apps/web/insights/pi_advanced.js
  apps/web/insights/pi_patterns.js
Due: eslint --max-warnings=500

feat: heys insights v5.2.0 memoization and dark mode
  apps/web/index.html
  apps/web/insights/patterns/metabolic.js
  apps/web/insights/patterns/quality.js
  apps/web/insights/patterns/training_nutrition.js
  apps/web/insights/pi_advanced.js
  apps/web/insights/pi_analytics_api.js
  apps/web/insights/pi_cache.js
  apps/web/insights/pi_constants.js
  apps/web/insights/pi_patterns.js
  apps/web/insights/pi_science_info.js
  apps/web/insights/pi_stats.js
  apps/web/insights/pi_ui_cards.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/720-predictive-insights.css
  docs/DATA_MODEL_REFERENCE.md
Due: eslint --max-warnings=500, prettier --write

fix: invalidate pattern cache after cloud sync
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix: unconditional infobutton rendering to prevent hooks violations
  apps/web/insights/pi_ui_cards.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/insights/pi_ui_rings.js
Due: eslint --max-warnings=500

docs: update documentation for v5.2.0
  HEYS_Insights_v5_Deep_Analytics_c7.md
  docs/DATA_MODEL_REFERENCE.md
Due: prettier --write

feat(insights): modularize pattern analyzers and shared UI helpers
  HEYS_Insights_v5_Deep_Analytics_c7.md
  PATTERN_DIAGNOSTIC_RESOLUTION.md
  apps/web/CHANGELOG.md
  apps/web/__tests__/pi_ui_helpers.test.js
  apps/web/debug_patterns.js
  apps/web/index.html
  apps/web/insights/patterns/activity.js
  apps/web/insights/patterns/body.js
  apps/web/insights/patterns/lifestyle.js
  apps/web/insights/patterns/metabolic.js
  apps/web/insights/patterns/micronutrients.js
  apps/web/insights/patterns/psychology.js
  apps/web/insights/patterns/quality.js
  apps/web/insights/patterns/sleep.js
  apps/web/insights/patterns/timing.js
  apps/web/insights/pi_analytics_api.js
  apps/web/insights/pi_calculations.js
  apps/web/insights/pi_data.js
  apps/web/insights/pi_patterns.js
  apps/web/insights/pi_ui_cards.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/insights/pi_ui_helpers.js
  apps/web/insights/pi_ui_rings.js
  apps/web/insights/pi_ui_whatif.js
  check_patterns_v2.js
Due: eslint --max-warnings=500, prettier --write

fix(storage): enforce Store API usage and document data quality rules
  README.md
  apps/web/heys_app_sync_effects_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_caloric_balance_v1.js
  apps/web/heys_metabolic_intelligence_v1.js
  apps/web/heys_predictive_insights_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_tdee_v1.js
  docs/API_DOCUMENTATION.md
  docs/ARCHITECTURE.md
  docs/DATA_MODEL_REFERENCE.md
  docs/STORE_API_QUICKREF.md
  docs/TECHNICAL_ARCHITECTURE.md
Due: eslint --max-warnings=500, prettier --write

chore(security): add scanning pipeline and harden validation/tests
  TESTS/heys_advice_engine.test.js
  TESTS/security-automation.test.js
  apps/web/src/components/OptimizedImage/OptimizedImage.tsx
  apps/web/src/components/OptimizedImage/__tests__/OptimizedImage.test.tsx
  apps/web/src/components/__tests__/ErrorBoundary.test.tsx
  apps/web/src/middleware/__tests__/auth.test.ts
  apps/web/src/middleware/auth.ts
  apps/web/styles/heys-components.css
  package.json
  packages/logger/src/transports.ts
  packages/shared/src/monitoring/logger.ts
  packages/shared/src/performance/CodeSplitter.simple.test.ts
  packages/shared/src/performance/LazyLoader.ts
  packages/shared/src/performance/advanced-cache-manager.ts
  packages/shared/src/performance/advanced-cache-strategies.test.ts
  packages/shared/src/performance/mobile-performance-optimizer.test.ts
  packages/shared/src/performance/mobile.ts
  packages/shared/src/performance/performance.test.ts
  packages/shared/src/performance/profiler.ts
  packages/shared/src/security/validation.ts
  scripts/security/dependency-check.js
  scripts/security/sast-scan.js
  scripts/security/security-report.js
  security-reports/consolidated/consolidated-security-report.json
  security-reports/consolidated/executive-security-summary.json
  security-reports/consolidated/security-dashboard.html
  security-reports/dependency-security-report.html
  security-reports/dependency-security-report.json
  security-reports/dependency-vulnerabilities.csv
  security-reports/sast-report.html
  security-reports/sast-report.json
  security-reports/sast-report.sarif
  vitest.config.ts
  vitest.setup.ts
Due: eslint --max-warnings=500, prettier --write

feat(micronutrients): add migration and client update utilities
  apps/web/__tests__/insulin-wave.test.js
  update_micronutrients.html
  update_micronutrients_console.js
  yandex-cloud-functions/migrations/2026-02-12_add_micronutrients.sql
Due: eslint --max-warnings=500

chore(security): sanitize db utility scripts and require env secrets
  check_timestamps.cjs
  enrich_kv_with_timestamps.cjs
  yandex-cloud-functions/scripts/check_kv_products.cjs
  yandex-cloud-functions/scripts/enrich_kv_products.cjs
  yandex-cloud-functions/scripts/populate_micronutrients.cjs
Due: none

test(iw/ui): stabilize canary bootstrap and ensure DOM setup
  apps/web/__tests__/__snapshots__/iw_api_canary.test.js.snap
  apps/web/__tests__/iw_api_canary.test.js
  check_timestamps.cjs
  packages/ui/src/__tests__/Button.test.tsx
  yandex-cloud-functions/scripts/check_kv_products.cjs
Due: eslint --max-warnings=500

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
