Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

refactor(auth): pass jwtSecret as parameter instead of global
  yandex-cloud-functions/heys-api-auth/index.js
Due: eslint --max-warnings=500

chore: ignore tsup temp build artifacts
  .gitignore
Due: none

fix: decompress cloud data on sync - fix products.map error
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_core_v12.js
  apps/web/heys_storage_layer_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  database/2025-12-26_grant_client_kv_store_heys_rest.sql
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-test.log
  packages/search/.turbo/turbo-build.log
  packages/shared/.turbo/turbo-test.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  yandex-cloud-functions/api-gateway-spec.yaml
  yandex-cloud-functions/heys-api-auth/index.js
  yandex-cloud-functions/heys-api-rest/index.js
Due: eslint --max-warnings=500, prettier --write

feat(landing): separate purchase and trial flows
  apps/landing/src/app/page.tsx
  apps/landing/src/components/Hero.tsx
  apps/landing/src/components/Pricing.tsx
  apps/landing/src/components/PurchaseSection.tsx
  apps/landing/src/components/Trial.tsx
  apps/landing/src/components/TrialCapacity.tsx
  packages/shared/src/performance/BundleAnalyzer.ts
  packages/shared/src/performance/CodeSplitter.ts
  packages/shared/src/performance/LazyLoader.ts
  packages/shared/src/performance/LighthouseOptimizer.ts
  packages/shared/src/performance/TreeShaker.ts
  packages/shared/src/performance/__tests__/logger-guard.test.ts
  packages/shared/src/performance/advanced-cache-manager.ts
  packages/shared/src/performance/cache-integration-layer.ts
  packages/shared/src/performance/components/LazyComponent.ts
  packages/shared/src/performance/configs/vite-lazy-loading.config.ts
  packages/shared/src/performance/http-cache-strategy.ts
  packages/shared/src/performance/load-testing-tools.ts
  packages/shared/src/performance/logger.ts
  packages/shared/src/performance/mobile-performance-optimizer.ts
  packages/shared/src/performance/mobile.ts
  packages/shared/src/performance/network-optimization-integration.ts
  packages/shared/src/performance/network-optimizer.ts
  packages/shared/src/performance/network-performance-dashboard.ts
  packages/shared/src/performance/performance-regression-tester.ts
  packages/shared/src/performance/performance-test-framework.ts
  packages/shared/tsconfig.tsbuildinfo
Due: eslint --max-warnings=500

feat(landing): add A/B/C testing with three tonal variants
  apps/landing/src/app/page.tsx
  apps/landing/src/components/Hero.tsx
  apps/landing/src/components/Trial.tsx
  apps/landing/src/components/VersionSwitcher.tsx
  apps/landing/src/config/landing-variants.ts
  apps/landing/src/context/VariantContext.tsx
  todo.md
Due: eslint --max-warnings=500, prettier --write

feat(landing): a/b/c variant system complete
  apps/landing/src/app/page.tsx
  apps/landing/src/components/FAQVariant.tsx
  apps/landing/src/components/Hero.tsx
  apps/landing/src/components/VariantLandingSections.tsx
  apps/landing/src/config/landing-variants.ts
  docs/HEYS_BRIEF.md
Due: eslint --max-warnings=500, prettier --write

feat(landing): add variant D (original emotional design)
  apps/landing/src/components/VersionSwitcher.tsx
  apps/landing/src/config/landing-variants.ts
Due: eslint --max-warnings=500

fix(landing): replace бесплатно→0₽, rewrite variant D, enhance variant A hero
  apps/landing/src/app/layout.tsx
  apps/landing/src/components/Pricing.tsx
  apps/landing/src/components/PurchaseSection.tsx
  apps/landing/src/components/TrialCapacity.tsx
  apps/landing/src/components/TrialForm.tsx
  apps/landing/src/config/landing-variants.ts
  apps/landing/src/lib/ab-test.ts
Due: eslint --max-warnings=500

feat(landing): add SSR variant pages /a /b /c /d with deploy timestamp
  [A-D]
  apps/landing/src/app/[variant]/page.tsx
  apps/landing/src/components/FAQVariantSSR.tsx
  apps/landing/src/components/FooterSSR.tsx
  apps/landing/src/components/HeroSSR.tsx
  apps/landing/src/components/PricingSSR.tsx
  apps/landing/src/components/TrialSSR.tsx
  apps/landing/src/components/VariantLandingSectionsSSR.tsx
  apps/landing/src/components/VersionSwitcherSSR.tsx
Due: eslint --max-warnings=500

fix: resolve typescript errors in SSR components
  apps/landing/src/components/PricingSSR.tsx
  apps/landing/src/components/TrialSSR.tsx
  apps/landing/src/components/VersionSwitcher.tsx
Due: eslint --max-warnings=500

fix(landing): unify trial copy and remove debug labels
  apps/landing/src/components/TrialSSR.tsx
  apps/landing/src/components/VersionSwitcherSSR.tsx
  apps/landing/src/config/landing-variants.ts
Due: eslint --max-warnings=500

fix(web): switch to verify_client_pin_v3 and parse session token
  apps/web/heys_auth_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_yandex_api_v1.js
Due: eslint --max-warnings=500

fix(rpc): add jsonb type hints for session KV
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

test: stabilize vitest worker timeouts
  vitest.config.ts
  vitest.setup.ts
Due: eslint --max-warnings=500

chore(yc): rebuild heys-api-rpc.zip
  yandex-cloud-functions/heys-api-rpc.zip
Due: none

chore: align landing copy and kv fixes
  apps/landing/src/app/[variant]/page.tsx
  apps/landing/src/components/HeroSSR.tsx
  apps/landing/src/components/PricingSSR.tsx
  apps/landing/src/components/Solution.tsx
  apps/landing/src/components/VersionSwitcherSSR.tsx
  apps/landing/src/components/VersionSwitcherWrapper.tsx
  apps/landing/src/config/landing-variants.ts
  apps/web/heys_app_v12.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  database/2025-12-25_p1_kv_session_functions.sql
  docs/DATA_MODEL_REFERENCE.md
  docs/HEYS_BRIEF.md
  todo.md
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

fix: sync улучшения и UI фиксы
  apps/web/heys_day_v12.js
  apps/web/heys_insulin_wave_v1.js
  apps/web/heys_meal_step_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
Due: eslint --max-warnings=500

feat(landing): hero section layout refinements
  apps/landing/src/app/page.tsx
  apps/landing/src/components/FAQVariant.tsx
  apps/landing/src/components/Hero.tsx
  apps/landing/src/components/HeroSSR.tsx
  apps/landing/src/components/Trial.tsx
  apps/landing/src/components/VariantLandingSections.tsx
  apps/landing/src/components/VersionSwitcher.tsx
  apps/landing/src/components/VersionSwitcherSSR.tsx
  apps/landing/src/config/landing-variants.ts
  apps/landing/src/context/VariantContext.tsx
  docs/HEYS_BRIEF_FULL.md
  package.json
  phone3.jpg
Due: eslint --max-warnings=500, prettier --write

feat(landing): add premium hamburger menu + fix spacing
  apps/landing/src/components/HeroSSR.tsx
Due: eslint --max-warnings=500

fix: remove unused _variant param from HeroSSR
  apps/landing/src/components/HeroSSR.tsx
Due: eslint --max-warnings=500

fix: deploy landing to heyslab.ru bucket
  .github/workflows/deploy-yandex.yml
Due: prettier --write

feat(landing): add smooth fade-in animations for mobile hero
  apps/landing/src/components/HeroSSR.tsx
Due: eslint --max-warnings=500

feat: rest-to-rpc migration for shared products publishing
  apps/landing/src/components/HeroSSR.tsx
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_storage_supabase_v1.js
  database/2025-01-01_publish_shared_product.sql
  database/2025-01-01_publish_shared_product_curator.sql
  scripts/deploy-landing.sh
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

fix: enable translit in search — рафа → rafa → Raffaello
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_core_v12.js
Due: eslint --max-warnings=500

fix(search): improve ranking - exact word match > startsWith prefix
  apps/web/heys_smart_search_v2.js
Due: eslint --max-warnings=500

fix(deploy): read version.json from prebuild instead of overwriting it
  .github/workflows/deploy-yandex.yml
Due: prettier --write

fix(pull-refresh): remove duplicate setDay causing screen flicker
  apps/web/heys_day_v12.js
Due: eslint --max-warnings=500

fix(pull-refresh): eliminate re-renders with refs and batched setState
  apps/web/heys_day_v12.js
Due: eslint --max-warnings=500

fix(deploy): correct landing bucket name heys-static (was heyslab.ru)
  .github/workflows/deploy-yandex.yml
Due: prettier --write

fix: calculate caloric excess from refeed target (+35%) for refeed days
  apps/web/heys_day_v12.js
Due: eslint --max-warnings=500

feat: v54-57 fixes — RPC upload, session token migration, white widgets bg, docs update
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_auth_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_subscription_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/styles/modules/730-widgets-dashboard.css
  database/fixes/2025-01-02_fix_client_kv_store_pk_v2.sql
  database/fixes/2026-01-02_fix_client_kv_store_pk.sql
  docs/ARCHITECTURE.md
  docs/HEYS_BRIEF_FULL.md
  docs/SECURITY_RUNBOOK.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
  yandex-cloud-functions/heys-api-rest/index.js
Due: eslint --max-warnings=500, prettier --write

fix: curator login 500 error + PIN auth infinite loop
  apps/web/heys_app_v12.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_yandex_api_v1.js
Due: eslint --max-warnings=500

docs: update brief and todo with completed auth bugfixes
  docs/HEYS_BRIEF.md
  todo.md
Due: prettier --write

docs: add detailed YuKassa and 54-FZ checklist to brief
  docs/HEYS_BRIEF.md
Due: prettier --write

docs: expand YuKassa/54-FZ section with OSNO risk, models, OKVED table, risks
  docs/HEYS_BRIEF.md
Due: prettier --write

docs: add YuKassa webhook contract, idempotency, DB schema, tech risks
  docs/HEYS_BRIEF.md
Due: prettier --write

docs: consolidate HEYS_BRIEF and archive old version; feat: update web app components
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_hooks.js
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_metabolic_intelligence_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/styles/modules/100-metrics-and-graphs.css
  docs/HEYS_BRIEF.md
  docs/archive/HEYS_BRIEF_ARCHIVED_2025-01-03.md
  docs/archive/HEYS_BRIEF_FULL_ARCHIVED_2025-01-03.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

feat(landing): add 4 content sections with ~80% scale
  apps/landing/src/app/[variant]/page.tsx
  apps/landing/src/components/HeroSSR.tsx
  apps/landing/src/components/sections/ContextSection.tsx
  apps/landing/src/components/sections/ControlSection.tsx
  apps/landing/src/components/sections/DecisionsSection.tsx
  apps/landing/src/components/sections/ProofBar.tsx
  apps/landing/src/components/sections/SupportSection.tsx
  apps/landing/src/components/sections/index.ts
  apps/landing/src/config/landing-variants.ts
Due: eslint --max-warnings=500

feat: pwa update flow + security hardening v2.0
  .vscode/tasks.json
  apps/web/heys_app_v12.js
  apps/web/heys_profile_step_v1.js
  apps/web/heys_user_v12.js
  apps/web/public/sw.js
  docs/SECURITY_RUNBOOK.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  scripts/security-smoke-test.sh
  yandex-cloud-functions/heys-api-rest/index.js
Due: eslint --max-warnings=500, prettier --write

fix(pwa): force logout on ANY version change (v55)
  apps/web/heys_app_v12.js
Due: eslint --max-warnings=500

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
