Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix(sync): кураторская правка тренировки переживает stale-снимок приложения
  apps/web/__tests__/sync-merge-shared.test.js
  apps/web/heys_day_trainings_v1.js
  apps/web/heys_sync_merge_v1.js
  yandex-cloud-functions/heys-api-rest/lib/heys_sync_merge_v1.cjs
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500

feat(web): единая motion policy — HEYS.motion и animate-always
  apps/web/__tests__/motion-policy.test.js
  apps/web/heys_motion_policy_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/MOTION_POLICY.md
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

feat(web): FAB воды с чипами объёма и столбиком v4
  apps/web/__tests__/water-add-v4.test.js
  apps/web/heys_day_day_handlers.js
  apps/web/heys_day_page_shell.js
  apps/web/styles/modules/400-water-and-hydration.css
  docs/implementation/WATER_ADD_V4_PROTOCOL.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/water-add.v4.dc.html
Due: eslint --max-warnings=500, prettier --write

docs(ui): канвас v4 — data-contract, motion gates и INDEX
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/app-splash.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/checkin-morning.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/curator-edits.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/date-remainders.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/login.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/pwa-update.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/questionnaire.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/registration.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/settings-system.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/spinners.v4.dc.html
Due: prettier --write

docs(typing-board): учебные сутки с 05:00 и свежие уроки
  typing-board.html
Due: none

chore(web): пересборка legacy-бандлов после motion policy и воды v4
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-core.bundle.25b6aa92331b.js
  apps/web/public/boot-core.bundle.25b6aa92331b.js.gz
  apps/web/public/boot-core.bundle.66b8bacf389c.js
  apps/web/public/boot-core.bundle.66b8bacf389c.js.gz
  apps/web/public/boot-day.bundle.b22ca453ec67.js
  apps/web/public/boot-day.bundle.b22ca453ec67.js.gz
  apps/web/public/boot-day.bundle.e31caf868d8c.js
  apps/web/public/boot-day.bundle.e31caf868d8c.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.1475ac0d159d.js
  apps/web/public/postboot-3-ui-lazy.bundle.1475ac0d159d.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.e3d91a4d52bd.js
  apps/web/public/postboot-3-ui-lazy.bundle.e3d91a4d52bd.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(sync): не выдавать stale-снимку тренировки чужую свежесть
  apps/web/__tests__/sync-merge-shared.test.js
  apps/web/heys_sync_merge_v1.js
  yandex-cloud-functions/heys-api-rest/lib/heys_sync_merge_v1.cjs
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500

feat(water): плитка nrmB, чипы FAB и столбик по канвасу v4
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/__tests__/water-add-v4.test.js
  apps/web/__tests__/water-goal-single-source.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_day_handlers.js
  apps/web/heys_day_nutrition_v1.js
  apps/web/heys_day_page_shell.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_day_tab_render_v1.js
  apps/web/heys_day_water_state.js
  apps/web/heys_day_water_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.4f5fd9d87fa3.js
  apps/web/public/boot-calc.bundle.4f5fd9d87fa3.js.gz
  apps/web/public/boot-calc.bundle.69fd98560574.js
  apps/web/public/boot-calc.bundle.69fd98560574.js.gz
  apps/web/public/boot-day.bundle.380eb30e6cac.js
  apps/web/public/boot-day.bundle.380eb30e6cac.js.gz
  apps/web/public/boot-day.bundle.b22ca453ec67.js
  apps/web/public/boot-day.bundle.b22ca453ec67.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.1475ac0d159d.js
  apps/web/public/postboot-3-ui-lazy.bundle.1475ac0d159d.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.7b154741aaaa.js
  apps/web/public/postboot-3-ui-lazy.bundle.7b154741aaaa.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
  apps/web/widgets/widget_data.js
  docs/implementation/WATER_ADD_V4_PROTOCOL.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/water-add.v4.dc.html
Due: eslint --max-warnings=500, prettier --write

chore(lint): baseline localStorage allowlist 165
  scripts/bootstrap-bypass-allowlist.baseline
Due: none

test(widgets): nrmB вода — sphere-тесты без v4WaterValueState
  apps/web/__tests__/widgets-v4-sphere.test.js
Due: eslint --max-warnings=500

fix(ui): classic-drift — вода по канвасу, sand-act focus
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
Due: none

fix(water): контракт dim .55/.62, сетка 64px, столбик по палитрам
  apps/web/__tests__/water-add-v4.test.js
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/WATER_ADD_V4_PROTOCOL.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/water-add.v4.dc.html
Due: eslint --max-warnings=500, prettier --write

docs(sync): аудит меток и разрешения конфликтов в dayv2
  docs/implementation/DAY_SYNC_STAMP_AUDIT_2026-08-20.md
Due: prettier --write

docs(ui): v4 canvas brief, html generator, plan §0 override
  docs/README.md
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  docs/ui/README.md
  docs/ui/build-ui-v4-canvas-brief-html.mjs
  docs/ui/ui-v4-canvas-brief.html
  docs/ui/ui-v4-canvas-brief.md
  package.json
Due: prettier --write

docs(ui): v3 canvas brief from INDEX, fix html generator
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  docs/ui/build-ui-v4-canvas-brief-html.mjs
  docs/ui/ui-v4-canvas-brief.html
  docs/ui/ui-v4-canvas-brief.md
Due: prettier --write

docs(release): приказ об ответственном за ПДн и сверка гейта готовности
  docs/release/prikaz-otvetstvennyy-za-obrabotku-pdn.md
  docs/release/release-plan.md
  docs/release/release-track-e.md
  docs/release/soglasie-personal-data-v1.0.md
  scripts/bootstrap-bypass-allowlist.txt
Due: prettier --write

docs(release): prompt-lawyer-3 — пять вопросов в окно до 27.08
  docs/release/prompt-lawyer-3.md
Due: prettier --write

docs(release): приказ переделан в распоряжение по разбору юриста
  docs/release/prikaz-otvetstvennyy-za-obrabotku-pdn.md
  docs/release/rasporyazhenie-ob-organizacii-obrabotki-pdn.md
  docs/release/release-track-e.md
Due: prettier --write

docs(release): решение об устранении расхождений в сведениях реестра
  docs/release/reshenie-o-korrektirovke-svedeniy-reestra.md
Due: prettier --write

docs(push): белый список хостов доставки — юридический контроль, не оптимизация
  yandex-cloud-functions/heys-api-push/push-endpoint-host.js
Due: eslint --max-warnings=500

docs(release): проект согласия на доступ куратора 1.2
  docs/release/curator-access-consent-v1.2-draft-2026-08-20.md
Due: prettier --write

fix(ci): якорь по содержимому вместо номера строки в allowlist
  scripts/bootstrap-bypass-allowlist.txt
Due: none

fix(web): вернуть внутренние отступы карточки приёма в листе куратора
  apps/web/__tests__/curator-sheet-palette.test.js
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

docs(ui): пересборка пакета канвасов v4 и брифа контрактов
  docs/ui/build-ui-v4-canvas-brief-html.mjs
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/checkin-morning.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/gamification.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/login.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/spinners.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tips.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/water-add.v4.dc.html
  docs/ui/ui-v4-canvas-brief.html
  docs/ui/ui-v4-canvas-brief.md
Due: prettier --write

docs(ui): приёмочный лист канвасов v4 — генератор, валидатор и план закрытия
  docs/ui/build-acceptance-filled.mjs
  docs/ui/composer-handoff-v4-acceptance-code.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE.md
  docs/ui/validate-acceptance-canvas.mjs
Due: prettier --write

feat(water): карточка воды v4 в «Разборе дня» вместо sky-карточки v2
  apps/web/__tests__/heys-day-water-persistence.test.js
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/__tests__/water-add-v4.test.js
  apps/web/__tests__/water-review-card-v4.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_audio_v1.js
  apps/web/heys_day_day_handlers.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_handlers_bundle_v1.js
  apps/web/heys_day_nutrition_card_v1.js
  apps/web/heys_day_nutrition_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_day_tab_render_v1.js
  apps/web/heys_day_water_card_v1.js
  apps/web/heys_day_water_state.js
  apps/web/heys_day_water_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
  docs/implementation/NUTRITION_TAB_AS_IS.md
  docs/implementation/WATER_REVIEW_CARD_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

feat(push): локальные напоминания через service worker
  apps/web/heys_push_v1.js
  apps/web/heys_steps_v1.js
  apps/web/public/sw.js
Due: eslint --max-warnings=500

feat(widgets): закрытый день, палитра v4 и reduced-motion в виджетах
  apps/web/heys_widgets_ui_v1.js
  apps/web/heys_widgets_variants_v4.js
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/widgets/widget_data.js
Due: eslint --max-warnings=500

feat(day): выходной в капсуле даты и короткий хаптик-тик
  apps/web/__tests__/date-header-row.test.js
  apps/web/__tests__/date-picker-v4-capsule.test.js
  apps/web/heys_day_pickers.js
  apps/web/heys_day_utils.js
  apps/web/heys_platform_apis_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500

fix(checkin): коридор совета по шагам и карточка добавок без пустого состояния
  apps/web/__tests__/morning-checkin-v4-layout-smoke.test.js
  apps/web/heys_steps_v1.js
Due: eslint --max-warnings=500

chore(bundles): пересборка legacy-бандлов под карточку воды v4
  apps/web/bundle-manifest.json
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.1a0e0d228409.js
  apps/web/public/boot-app.bundle.1a0e0d228409.js.gz
  apps/web/public/boot-app.bundle.bd400b8e2fd8.js
  apps/web/public/boot-app.bundle.bd400b8e2fd8.js.gz
  apps/web/public/boot-calc.bundle.3f6b2319a94c.js
  apps/web/public/boot-calc.bundle.3f6b2319a94c.js.gz
  apps/web/public/boot-calc.bundle.4f5fd9d87fa3.js
  apps/web/public/boot-calc.bundle.4f5fd9d87fa3.js.gz
  apps/web/public/boot-day.bundle.380eb30e6cac.js
  apps/web/public/boot-day.bundle.380eb30e6cac.js.gz
  apps/web/public/boot-day.bundle.ddfa606349ba.js
  apps/web/public/boot-day.bundle.ddfa606349ba.js.gz
  apps/web/public/bundle-manifest.json
Due: eslint --max-warnings=500, prettier --write

docs(release): переподписывать нечего, но гейт не соберёт подписи под 1.2
  docs/release/curator-access-consent-v1.2-draft-2026-08-20.md
  docs/release/release-plan.md
Due: prettier --write

feat(consents): мягкое переподписание необязательных документов
  apps/web/__tests__/optional-consent-recheck.test.js
  apps/web/heys_app_overlays_props_v1.js
  apps/web/heys_app_overlays_v1.js
  apps/web/heys_app_root_impl_v1.js
  apps/web/heys_app_runtime_effects_v1.js
  apps/web/heys_app_runtime_state_v1.js
  apps/web/heys_consents_v1.js
  apps/web/heys_yandex_api_v1.js
  database/2026-08-21_optional_consent_recheck_v1.sql
  docs/release/curator-access-consent-v1.2-draft-2026-08-20.md
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): показывать записанные показатели дня в подтверждении записи
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

fix(db): psql.sh на Windows падал из-за заглушки python3
  scripts/db/get-pg-password.sh
Due: none

fix(styles): текстовые роли объявлены для всех тем, а не только тёмной
  apps/web/__tests__/text-role-tokens.test.js
  apps/web/styles/modules/001-design-tokens.css
Due: eslint --max-warnings=500

feat(auth): удалённый рубильник экрана входа — серверная часть
  database/2026-08-21_public_app_status_v1.sql
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

docs(release): снять фиксированную дату релиза 31 августа
  docs/release/release-plan.md
Due: prettier --write

docs(ui): канвас вкладки «Питание» v4 и перенос планера в «Инсайты»
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-nutrition-tab.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/nutrition-tab.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tab-insights.v4.dc.html
Due: prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
