Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix(checkin-morning): «Дописать точно» в развилке разбора теперь уводит в дневник
  apps/web/__tests__/yesterday-verify-exit-to-diary.test.js
  apps/web/heys_app_overlays_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_yesterday_verify_v1.js
  docs/implementation/MORNING_CHECKIN_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

fix(sync): sync:local сам чинит пропавший esbuild, не трогая dev:local
  scripts/sync-local-workspace.mjs
Due: none

feat(mcp): склейка приёмов в 10-минутном окне и защита от задвоенной записи
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

feat(reports-v4): ярус «Неделя к неделе» и вердикты пакета на 59 строк
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_day_stats_v1.js
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/implementation/REPORTS_INSIGHTS_V4_IMPLEMENTATION_2026-08-29.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-reports-insights.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/history/tab-insights.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/history/tab-reports.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/reports-insights.v4.dc.html
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(day): спросить перед записью приёма, который выглядит дублем
  apps/web/__tests__/meal-duplicate-guard.test.js
  apps/web/day/_meals.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

fix(day): гейт дубля не должен съедать запись при сбое модалки
  apps/web/day/_meals.js
Due: eslint --max-warnings=500

feat(insights-v4): вид планера по кадру, время приёма в «Ритме», «Как посчитано»
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/insights/pi_ui_meal_rec_card.js
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/implementation/REPORTS_INSIGHTS_V4_IMPLEMENTATION_2026-08-29.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(mcp): свести тест множителя цикла с движком — гейт деплоя был красным с 26 августа
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
Due: none

fix(checkin-morning): возврат на отвеченный разбор больше не пустой экран
  apps/web/__tests__/yesterday-verify-exit-to-diary.test.js
  apps/web/heys_yesterday_verify_v1.js
Due: eslint --max-warnings=500

fix(reports-insights-v4): план прошлых дней из движка и «N из M» у счётных
  apps/web/__tests__/insights-v4-pattern-support.test.js
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_discipline_matrix_v1.js
  apps/web/insights/patterns/lifestyle.js
  apps/web/insights/patterns/timing.js
  docs/implementation/REPORTS_INSIGHTS_V4_IMPLEMENTATION_2026-08-29.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

test(reports-insights-v4): список отступлений сверяется с вердиктами снимка
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
Due: eslint --max-warnings=500

feat(reports-insights-v4): пакет 64 строки — формы чисел планера, прочерк Score
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/heys_day_stats_v1.js
  apps/web/insights/pi_ui_meal_rec_card.js
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/implementation/REPORTS_INSIGHTS_V4_IMPLEMENTATION_2026-08-29.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-reports-insights.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/contract-audit.js
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/reports-insights.v4.dc.html
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(insights): рекомпозиция перестала быть «стабильно», талия вошла в расчёт
  apps/web/__tests__/body-composition-recomposition.test.js
  apps/web/insights/patterns/body.js
  apps/web/insights/pi_constants.js
Due: eslint --max-warnings=500

fix(insights): проверка прогноза и ранние сигналы считают норму клиента, а не 2000
  apps/web/__tests__/insights-missing-callees.test.js
  apps/web/insights/pi_analytics_api.js
Due: eslint --max-warnings=500

fix(day): вернуть боковые поля вкладок и стопку быстрых действий
  apps/web/__tests__/lazy-module-capture-guard.test.js
  apps/web/__tests__/page-side-padding-guard.test.js
  apps/web/heys_day_page_shell.js
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500

fix(widgets): риск срыва перестал строить регрессию по расчётным весам
  apps/web/__tests__/crash-risk-estimated-weights.test.js
  apps/web/heys_widgets_data_crash_risk_v1.js
Due: eslint --max-warnings=500

fix(insights-v4): «Ритм приёмов» и заглушка переживают живой день
  apps/web/__tests__/insights-v4-pattern-support.test.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/styles/modules/734-ui-v4-insights.css
Due: eslint --max-warnings=500

docs(ui): порог строки недели ссылается на порог с другим знаменателем
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

feat(reports-insights-v4): голос куратора, нулевая строка, пороги недели и риска
  apps/web/__tests__/discipline-matrix.test.js
  apps/web/__tests__/insights-v4-pattern-support.test.js
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_discipline_matrix_v1.js
  apps/web/insights/pi_early_warning.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-norm-correction.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-reports-insights.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/norm-correction.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/reports-insights.v4.dc.html
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(insights-v4): все 24 фразы предупреждений по образцам контракта
  apps/web/__tests__/insights-v4-pattern-support.test.js
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/insights/pi_early_warning.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): бриф дизайнеру на запланированные приёмы и прогноз дня
  docs/README.md
  docs/ui/prompts/БРИФ-планируемые-приёмы.md
Due: prettier --write

feat(insights-v4): экраны «Подробно» — фенотип осями и таблица порогов
  apps/web/__tests__/insights-v4-structure.test.js
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): бриф на прототип планируемых приёмов — второй заход, с подводными камнями
  docs/README.md
  docs/ui/prompts/БРИФ-планируемые-приёмы.md
Due: prettier --write

docs(ui): бриф планируемых приёмов — автор набросков куратор через коннектор
  docs/README.md
  docs/ui/prompts/БРИФ-планируемые-приёмы.md
Due: prettier --write

docs(ui): бриф планируемых приёмов — доставка пушем и жизненный цикл одного дня
  docs/ui/prompts/БРИФ-планируемые-приёмы.md
Due: prettier --write

docs(ui): бриф планируемых приёмов — погасший набросок остаётся куратору, план на завтра
  docs/ui/prompts/БРИФ-планируемые-приёмы.md
Due: prettier --write

docs(ui): третий проход аудита — прогнозная норма, три слоя дня, шесть новых камней
  docs/ui/prompts/БРИФ-планируемые-приёмы.md
Due: prettier --write

fix(reports): лист периодов перестал считать пропущенные дни и расчётные веса
  apps/web/__tests__/period-reports-day-and-weight.test.js
  apps/web/heys_monthly_reports_service_v1.js
  apps/web/heys_weekly_reports_v2.js
Due: eslint --max-warnings=500

docs(ui): решения подводных камней планируемых приёмов — три правила вместо списка заплаток
  docs/ui/prompts/БРИФ-планируемые-приёмы.md
Due: prettier --write

fix(reports): одна формула плана, вместо стрелки веса — названная дельта
  apps/web/__tests__/period-reports-day-and-weight.test.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_monthly_reports_v1.js
  apps/web/heys_weekly_reports_v2.js
Due: eslint --max-warnings=500

fix(reports): норма БЖУ в отчёте считается для самого дня, а не для пустого
  apps/web/__tests__/period-reports-day-and-weight.test.js
  apps/web/heys_weekly_reports_v2.js
Due: eslint --max-warnings=500

fix(reports): лист перешёл на общий счётчик дней, средние делит еда
  apps/web/__tests__/period-reports-day-and-weight.test.js
  apps/web/heys_monthly_reports_service_v1.js
  apps/web/heys_monthly_reports_v1.js
  apps/web/heys_weekly_reports_v2.js
Due: eslint --max-warnings=500

docs(ui): вердикты на девять строк листа периодов, гейт зелёный
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

fix(reports): месяц считается по дням, виджет входа перестал считать сам
  apps/web/__tests__/period-reports-day-and-weight.test.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_monthly_reports_service_v1.js
  apps/web/heys_weekly_reports_v2.js
Due: eslint --max-warnings=500

fix(reports): средний вес считается и в дни без записанного питания
  apps/web/__tests__/period-reports-day-and-weight.test.js
  apps/web/heys_monthly_reports_service_v1.js
  apps/web/heys_weekly_reports_v2.js
Due: eslint --max-warnings=500

chore(reports): снять legacy ReportsTab целиком — модуль больше не грузится
  apps/web/heys_reports_tab_impl_v1.js
  apps/web/heys_reports_v12.js
  apps/web/heys_simple_analytics.js
  config/module-limits.json
  docs/legacy/LEGACY_REPORTS_REMOVAL_PLAN.md
  docs/reference/systems/BACKUP_AND_REPORTS.md
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

fix(reports): выбор «Только надёжные» переживает закрытие окна + вердикты зоны
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_monthly_reports_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(insights): копия предупреждений по контракту — число в фразе, следствие в подстроке
  apps/web/__tests__/insights-v4-pattern-support.test.js
  apps/web/__tests__/warnings-copy-contract.test.js
  apps/web/insights/pi_early_warning.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): завести зону «поправка на факт» под гейт дрейфа контракта
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

feat(weight): канонический тренд веса для поправки на факт
  apps/web/__tests__/weight-trend-canonical.test.js
  apps/web/heys_widgets_weight_dynamics_v4.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
