Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(сведение): экраны сведены с шестьдесят первой сборкой
  apps/web/bundle-manifest.json
  apps/web/insights/pi_ui_dashboard.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-2-insights-lazy.bundle.9539aca4c3b3.js
  apps/web/public/postboot-2-insights-lazy.bundle.9539aca4c3b3.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.a0d49f2e08b4.js
  apps/web/public/postboot-2-insights-lazy.bundle.a0d49f2e08b4.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
  apps/web/styles/modules/733-ui-v4-login-theme.css
  apps/web/styles/modules/750-strength-builder.css
Due: eslint --max-warnings=500, prettier --write

chore(вердикты): отпечатки пересняты под 61-ю сборку, разбор сохранён
  docs/ui/verdicts/checkin-morning.json
  docs/ui/verdicts/cycle.json
  docs/ui/verdicts/date-remainders.json
  docs/ui/verdicts/first-run.json
  docs/ui/verdicts/food-meal.json
  docs/ui/verdicts/home-widgets.json
  docs/ui/verdicts/login.json
  docs/ui/verdicts/messenger.json
  docs/ui/verdicts/nutrition-tab.json
  docs/ui/verdicts/registration.json
  docs/ui/verdicts/reports-insights.json
  docs/ui/verdicts/strength-builder.json
  docs/ui/verdicts/subscription.json
  docs/ui/verdicts/tips.json
  docs/ui/verdicts/water-add.json
  scripts/lib/ui-v4-assertions.mjs
  scripts/lib/ui-v4-verdicts.mjs
Due: prettier --write

docs(журнал): пятнадцать записей закрыты ответами 61-й сборки
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: prettier --write

test(гейты): правило CSS ищется от начала селектора, а не подстрокой
  apps/web/__tests__/activity-plan-card-frame.test.js
  apps/web/__tests__/activity-program-next-row.test.js
  apps/web/__tests__/activity-proposal-card-frame.test.js
  apps/web/__tests__/activity-zero-and-calendar-grid.test.js
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/__tests__/checkin-reserve-question-v4.test.js
  apps/web/__tests__/copy-meal-unknown-values-v4.test.js
  apps/web/__tests__/cycle-v4-ink-ladder-contract.test.js
  apps/web/__tests__/first-run-tour-v4-canvas.test.js
  apps/web/__tests__/gamification-v4-ink-ladder-contract.test.js
  apps/web/__tests__/helpers/css-rule.mjs
  apps/web/__tests__/home-widgets-gamification-product-rules.test.js
  apps/web/__tests__/home-widgets-quick-layer-catalog-v4.test.js
  apps/web/__tests__/insights-cascade-v4.test.js
  apps/web/__tests__/longpress-hint-product-rule.test.js
  apps/web/__tests__/nutrition-v4-sage-roles.test.js
  apps/web/__tests__/polosa4-task104-pkg36-touch-44px.test.js
  apps/web/__tests__/polosa4-task41-legacy-surface-v4.test.js
  apps/web/__tests__/polosa4-task63-food-meal-touch-44px.test.js
  apps/web/__tests__/polosa4-task63-product-card-touch-44px.test.js
  apps/web/__tests__/polosa4-touch-design-48.test.js
  apps/web/__tests__/polosa6-task106-date-remainders-touch-44px.test.js
  apps/web/__tests__/product-card-v4-current-contract.test.js
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/__tests__/reports-v4-weight-empty-state.test.js
  apps/web/__tests__/settings-v4-notify-detail.test.js
  apps/web/__tests__/strength-builder-exercise-card-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-interrupted-v4-canvas-contract.test.js
  apps/web/__tests__/subscription-package-a-remainder-v4.test.js
  apps/web/__tests__/system-font-viewport-v4.test.js
  apps/web/__tests__/ui-v4-tips-settings-product-rules.test.js
  apps/web/__tests__/ui-v4-transient-geometry.test.js
  apps/web/__tests__/v4-tap-target-contract.test.js
  apps/web/__tests__/v4-tap-target-expander-smoke.test.js
  apps/web/__tests__/widgets-v4-goal-bar-contract.test.js
Due: eslint --max-warnings=500

docs(виджеты): отметил, что кадры тренда догнали код, а не наоборот
  apps/web/bundle-manifest.json
  apps/web/heys_widgets_ui_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

test(гейты): инлайн-поиск правила CSS переведён на якорный адрес
  apps/web/__tests__/activity-plan-card-frame.test.js
  apps/web/__tests__/activity-program-next-row.test.js
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/__tests__/checkin-reserve-question-v4.test.js
  apps/web/__tests__/checkin-weight-v4-canvas.test.js
  apps/web/__tests__/curator-edits-v4-product-rules.test.js
  apps/web/__tests__/curator-panel-view.test.js
  apps/web/__tests__/helpers/css-rule.mjs
  apps/web/__tests__/home-widgets-gamification-product-rules.test.js
  apps/web/__tests__/home-widgets-number-format-unread-v4.test.js
  apps/web/__tests__/meal-advice-family-icon.test.js
  apps/web/__tests__/meal-time-v4-structure.test.js
  apps/web/__tests__/messenger-header-inbox-v4-palette.test.js
  apps/web/__tests__/morning-checkin-v4-smoke.test.js
  apps/web/__tests__/norm-correction-weekly-card.test.js
  apps/web/__tests__/nutrition-tab-v4-contract-fixes.test.js
  apps/web/__tests__/one-wait-sign-smoke.test.js
  apps/web/__tests__/page-side-padding-guard.test.js
  apps/web/__tests__/place-holder-product-rule.test.js
  apps/web/__tests__/polosa4-task114-activity-program-unified-path.test.js
  apps/web/__tests__/press-state-v4-product-rule.test.js
  apps/web/__tests__/pwa-update-logic.test.js
  apps/web/__tests__/registration-birthdate-wheel-frame.test.js
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/__tests__/reports-v4-formats.test.js
  apps/web/__tests__/sync-pending-banner-v4.test.js
  apps/web/__tests__/text-role-tokens.test.js
  apps/web/__tests__/tips-v4-canvas-razbor.test.js
  apps/web/__tests__/ui-v4-header-appearance.test.js
  apps/web/__tests__/undo-bar-v4-contract.test.js
  apps/web/__tests__/water-add-v4.test.js
  apps/web/__tests__/widget-motion.test.js
  apps/web/__tests__/widgets-calories-v4-contract.test.js
  apps/web/__tests__/widgets-v4-sphere.test.js
  apps/web/__tests__/yesterday-verify-fork-row-flex.test.js
Due: eslint --max-warnings=500

fix(коммит): изолированный коммит снова умеет снимать файл
  scripts/lib/git-isolated-index.mjs
Due: none

chore(канвас): архив «Модальный конструктор тренировки» снят, распакованный остаётся
  docs/ui/handoff-v4/canvas/Модальный конструктор тренировки.zip
Due: none

feat(мессенджер): в шапке видно, прочитали ли твоё последнее сообщение
  apps/web/__tests__/messenger-thread-subtitle.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_messenger_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.61a6c5c25f8b.js
  apps/web/public/boot-app.bundle.61a6c5c25f8b.js.gz
  apps/web/public/boot-app.bundle.6c40af052a8b.js
  apps/web/public/boot-app.bundle.6c40af052a8b.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

docs(сверка): шестой заход к дизайнеру, и срез теперь собирается сам
  docs/ui/UI_V4_DESIGNER_REQUEST_6.md
  scripts/ui-v4-designer-request.mjs
Due: prettier --write

fix(главная, питание): каталог со своей поверхностью, ритм воды из записей, курсив пустого приёма
  apps/web/__tests__/widgets-water-rhythm-bins.test.js
  apps/web/bundle-manifest.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.2465f873c9ac.js
  apps/web/public/postboot-3-ui-lazy.bundle.2465f873c9ac.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.408e215cf2ea.js
  apps/web/public/postboot-3-ui-lazy.bundle.408e215cf2ea.js.gz
  apps/web/public/sw.js
  apps/web/scripts/ui-v4-visual-cases/home-widgets.mjs
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
  apps/web/widgets/widget_data.js
Due: eslint --max-warnings=500, prettier --write

fix(календарь): подпись прогноза цикла снята, отпечатки под 65-ю сборку
  apps/web/__tests__/cycle-v4-contract.test.js
  apps/web/__tests__/cycle-v4-ink-ladder-contract.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_cycle_ui_v1.js
  apps/web/heys_day_pickers.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.a287c0560c0e.js
  apps/web/public/boot-calc.bundle.a287c0560c0e.js.gz
  apps/web/public/boot-calc.bundle.a9eae809370c.js
  apps/web/public/boot-calc.bundle.a9eae809370c.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.64e1f8e2678c.js
  apps/web/public/postboot-1-game-lazy.bundle.64e1f8e2678c.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.66a3f08187ae.js
  apps/web/public/postboot-1-game-lazy.bundle.66a3f08187ae.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/verdicts/app-splash.json
  docs/ui/verdicts/curator-edits.json
  docs/ui/verdicts/date-remainders.json
  docs/ui/verdicts/gamification.json
  docs/ui/verdicts/norm-correction.json
  docs/ui/verdicts/product-card.json
  docs/ui/verdicts/pwa-update.json
  docs/ui/verdicts/questionnaire.json
  docs/ui/verdicts/reports-insights.json
  docs/ui/verdicts/service-curator.json
  docs/ui/verdicts/settings-system.json
  docs/ui/verdicts/spinners.json
  docs/ui/verdicts/strength-builder.json
  docs/ui/verdicts/undo-bar.json
Due: eslint --max-warnings=500, prettier --write

chore(вердикты): храповик Конструктора подтянут после 65-й сборки
  scripts/lib/ui-v4-verdicts.mjs
Due: none

docs(сверка): седьмой заход к дизайнеру — 12 записей
  docs/ui/UI_V4_DESIGNER_REQUEST_7.md
Due: prettier --write

chore(канвас): шестьдесят восьмая сборка пакета дизайна
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-home-widgets.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-strength-builder.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-tab-activity.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/strength-builder.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tab-activity.v4.dc.html
Due: prettier --write

feat(стенд): снимок запоминает, что именно подгрузил
  apps/web/scripts/ui-v4-visual-capture.mjs
Due: none

chore(канвас): шестьдесят девятая сборка пакета дизайна
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-tab-activity.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tab-activity.v4.dc.html
Due: prettier --write

fix(актив): расход силовой — по проделанной работе, минуты по зонам — одним правилом
  apps/web/__tests__/activity-strength-kcal-modest.test.js
  apps/web/__tests__/activity-zone-split-single-rule.test.js
  apps/web/_kernel/heys_kernel_strength_v1.js
  apps/web/bundle-manifest.json
  apps/web/heys_day_activity_v1.js
  apps/web/heys_day_calculations.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_trainings_v1.js
  apps/web/heys_iw_utils.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.0ff46b4aaa25.js
  apps/web/public/boot-calc.bundle.0ff46b4aaa25.js.gz
  apps/web/public/boot-calc.bundle.a9eae809370c.js
  apps/web/public/boot-calc.bundle.a9eae809370c.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.64e1f8e2678c.js
  apps/web/public/postboot-1-game-lazy.bundle.64e1f8e2678c.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.c7099b7c1170.js
  apps/web/public/postboot-1-game-lazy.bundle.c7099b7c1170.js.gz
  apps/web/public/sw.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/_kernel/heys_kernel_strength_v1.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_day_calculations.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_iw_utils.js
Due: eslint --max-warnings=500, prettier --write

chore(вердикты): отпечатки под сборки 68–69
  docs/ui/verdicts/home-widgets.json
  docs/ui/verdicts/strength-builder.json
  docs/ui/verdicts/tab-activity.json
Due: prettier --write

chore(вердикты): отпечатки под сборки 68–69
  scripts/lib/ui-v4-verdicts.mjs
Due: none

feat(актив): число расхода силовой больше не выходит голым
  apps/web/__tests__/activity-strength-estimate-line.test.js
  apps/web/heys_day_activity_v1.js
  apps/web/styles/modules/731-ui-v4-activity.css
Due: eslint --max-warnings=500

feat(актив): подставленное распределение по зонам помечено
  apps/web/__tests__/activity-zones-estimated-mark.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_day_calculations.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_trainings_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.0ff46b4aaa25.js
  apps/web/public/boot-calc.bundle.0ff46b4aaa25.js.gz
  apps/web/public/boot-calc.bundle.613468023a53.js
  apps/web/public/boot-calc.bundle.613468023a53.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/styles/modules/000-base-and-gamification.css
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_day_calculations.js
Due: eslint --max-warnings=500, prettier --write

feat(виджеты): плитка «Шаги · Как сейчас» собрана по своему кадру
  apps/web/__tests__/home-widgets-steps-now-canvas-geometry.test.js
  apps/web/__tests__/widgets-new-six-v4.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_widgets_ui_v1.js
  apps/web/heys_widgets_variants_v4.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.408e215cf2ea.js
  apps/web/public/postboot-3-ui-lazy.bundle.408e215cf2ea.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.ad645d6b3050.js
  apps/web/public/postboot-3-ui-lazy.bundle.ad645d6b3050.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

chore(дизайн): пакет v4, семьдесят первая сборка
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-tab-activity.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/contract-audit.js
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tab-activity.v4.dc.html
Due: eslint --max-warnings=500, prettier --write

fix(актив): подпись расхода сведена с кадрами 71-й сборки
  apps/web/__tests__/activity-strength-estimate-line.test.js
  apps/web/__tests__/activity-v4-canvas-razbor.test.js
  apps/web/heys_day_activity_v1.js
  apps/web/styles/modules/731-ui-v4-activity.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/tab-activity.json
Due: eslint --max-warnings=500, prettier --write

docs(дизайн): срез № 8 — тринадцать открытых записей
  docs/ui/UI_V4_DESIGNER_REQUEST_8.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  scripts/ui-v4-designer-request.mjs
Due: prettier --write

chore(дизайн): пакет v4, семьдесят вторая сборка
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-home-widgets.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-tab-activity.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tab-activity.v4.dc.html
Due: prettier --write

revert(виджеты): плитка «Шаги · Как сейчас» снята — права была строка, а не кадр
  apps/web/__tests__/home-widgets-steps-now-canvas-geometry.test.js
  apps/web/__tests__/widgets-new-six-v4.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_widgets_ui_v1.js
  apps/web/heys_widgets_variants_v4.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.408e215cf2ea.js
  apps/web/public/postboot-3-ui-lazy.bundle.408e215cf2ea.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.ad645d6b3050.js
  apps/web/public/postboot-3-ui-lazy.bundle.ad645d6b3050.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

feat(тренировки): ряд «Минуты по зонам» вместо пилюль зон
  apps/web/__tests__/activity-zones-estimated-mark.test.js
  apps/web/__tests__/fixtures/v4-tap-target-inset-manifest.json
  apps/web/__tests__/training-card-strength-hr-zones.test.js
  apps/web/heys_day_trainings_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/200-dark-and-effects.css
  docs/ui/verdicts/tab-activity.json
  scripts/lib/ui-v4-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

docs(актив): кадры ряда зон сведены, запись закрыта
  apps/web/__tests__/activity-v4-canvas-razbor.test.js
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: eslint --max-warnings=500, prettier --write

fix(силовая, питание): две правки по ответам 72-й сборки
  apps/web/__tests__/food-meal-transfer-v4.test.js
  apps/web/__tests__/strength-builder-approach-types-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-drop-set-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/__tests__/strength-builder-warmup-drop-v4-canvas-contract.test.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: eslint --max-warnings=500, prettier --write

fix(силовая): ряд фильтров каталога — одна строка с прокруткой
  apps/web/__tests__/strength-catalog-filter-row-single-line.test.js
  apps/web/styles/modules/750-strength-builder.css
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

fix(чек-ин): карточка кофе доведена — заметка про вчера и чистка прежнего места
  apps/web/__tests__/checkin-last-coffee-v4.test.js
  apps/web/__tests__/checkin-v4-canvas-razbor.test.js
  apps/web/__tests__/checkin-weight-v4-canvas.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_steps_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.408e215cf2ea.js
  apps/web/public/postboot-3-ui-lazy.bundle.408e215cf2ea.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.ff1191ad2fef.js
  apps/web/public/postboot-3-ui-lazy.bundle.ff1191ad2fef.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: eslint --max-warnings=500, prettier --write

feat(куратор): подпись «Проставлена задним числом» у строк правок
  apps/web/__tests__/curator-actions-banner.test.js
  apps/web/__tests__/curator-edits-v4-product-rules.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_curator_actions_banner_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.8a41f57a9025.js
  apps/web/public/postboot-3-ui-lazy.bundle.8a41f57a9025.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.ff1191ad2fef.js
  apps/web/public/postboot-3-ui-lazy.bundle.ff1191ad2fef.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: eslint --max-warnings=500, prettier --write

fix(виджеты): «Закрыто в среднем» считается по тем же пунктам, что в знаменателе
  apps/web/__tests__/home-widgets-breakdown-batch2-v4.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_widgets_variants_v4.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.5072d2e30ce8.js
  apps/web/public/postboot-3-ui-lazy.bundle.5072d2e30ce8.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.8a41f57a9025.js
  apps/web/public/postboot-3-ui-lazy.bundle.8a41f57a9025.js.gz
  apps/web/public/sw.js
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

feat(инсайты): ярус «Метаболизм» — входы вместо карточек, пороги туда же
  apps/web/__tests__/insights-v4-structure.test.js
  apps/web/bundle-manifest.json
  apps/web/insights/pi_ui_dashboard.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-2-insights-lazy.bundle.7f98f0b1a27b.js
  apps/web/public/postboot-2-insights-lazy.bundle.7f98f0b1a27b.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.a0d49f2e08b4.js
  apps/web/public/postboot-2-insights-lazy.bundle.a0d49f2e08b4.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: eslint --max-warnings=500, prettier --write

docs(дизайн): срез № 9 — три вопроса после сборки 72
  docs/ui/UI_V4_DESIGNER_REQUEST_9.md
Due: prettier --write

chore(вердикты): строка яруса «Метаболизм» сведена — вердикт и храповик за ней
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  docs/ui/verdicts/reports-insights.json
  scripts/lib/ui-v4-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write
