Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix(cloudfn): run tests for disabled-only function changes without failing CI
  .github/workflows/cloud-functions-deploy.yml
  yandex-cloud-functions/__tests__/function-inventory.test.cjs
  yandex-cloud-functions/function-inventory.cjs
Due: prettier --write

fix(scripts): retry CDN bundle probes after deploy on push:agent
  scripts/push-agent.mjs
Due: none

feat(mcp): diary-only curator endpoint without board and agent schemas
  yandex-cloud-functions/heys-mcp/CURATOR_GUIDE.md
  yandex-cloud-functions/heys-mcp/__tests__/handler.test.cjs
  yandex-cloud-functions/heys-mcp/api-gateway-mcp-paths.yaml
  yandex-cloud-functions/heys-mcp/index.js
Due: eslint --max-warnings=500, prettier --write

feat(mcp): per-call telemetry via Cloud Logging with daily aggregates
  database/2026-08-17_mcp_telemetry.sql
  docs/reference/systems/BACKGROUND_JOBS.md
  scripts/mcp-stats.mjs
  yandex-cloud-functions/heys-maintenance/__tests__/mcp-telemetry.test.cjs
  yandex-cloud-functions/heys-maintenance/index.js
  yandex-cloud-functions/heys-maintenance/mcp-telemetry.js
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/telemetry.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/telemetry.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): catch unparsed telemetry lines and name the missing migration
  scripts/mcp-stats.mjs
  yandex-cloud-functions/heys-maintenance/__tests__/mcp-telemetry.test.cjs
  yandex-cloud-functions/heys-maintenance/mcp-telemetry.js
  yandex-cloud-functions/heys-mcp/README.md
Due: eslint --max-warnings=500, prettier --write

fix(mcp): persist log group id and give maintenance time to read Logging
  database/2026-08-17_mcp_telemetry.sql
  docs/reference/systems/BACKGROUND_JOBS.md
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/heys-mcp/README.md
Due: prettier --write

fix(mcp): restore uptime_ms in telemetry and repoint the timing runbook
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/telemetry.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/telemetry.js
Due: eslint --max-warnings=500, prettier --write

feat(mcp): expose diary curator path on production API gateway
  yandex-cloud-functions/api-gateway-spec.yaml
Due: prettier --write

docs(mcp): add 30-second telemetry log check runbook
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
Due: prettier --write

fix(mcp): populate fn_version from handler context
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/telemetry.js
Due: eslint --max-warnings=500

fix(mcp): take function version from handler context, correct the log filter docs
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/telemetry.test.cjs
Due: prettier --write

docs(mcp): add telemetry roadmap and record the packaging outage
  todo.md
  yandex-cloud-functions/heys-mcp/MCP_TELEMETRY_ROADMAP.md
Due: prettier --write

feat(mcp): return session_id and seq to the client, harden deploy packaging
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/heys-mcp/MCP_TELEMETRY_ROADMAP.md
  yandex-cloud-functions/heys-mcp/__tests__/telemetry.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/telemetry.js
Due: eslint --max-warnings=500, prettier --write

docs(mcp): correct the roadmap statement the previous commit invalidated
  yandex-cloud-functions/heys-mcp/MCP_TELEMETRY_ROADMAP.md
Due: prettier --write

docs(todo): mark the MCP telemetry link as built, not pending
  todo.md
Due: prettier --write

docs(todo): point the telemetry entry at the code commit
  todo.md
Due: prettier --write

docs(mcp): correct the outage diagnosis — tar, not a nested folder
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/heys-mcp/MCP_TELEMETRY_ROADMAP.md
Due: prettier --write

fix(web): stabilize settings push consent PIN and QA diagnostics
  apps/web/__tests__/app-header-tab-switch.test.js
  apps/web/heys_app_shell_v1.js
Due: eslint --max-warnings=500

fix(web): hide curator day cue after acknowledge
  apps/web/__tests__/curator-actions-banner.test.js
  apps/web/heys_curator_actions_banner_v1.js
Due: eslint --max-warnings=500

fix(web): restore padding on curator meal card capsule
  apps/web/__tests__/curator-sheet-palette.test.js
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

feat(mcp): stamp the transcript block with the call's session_id and seq
  yandex-cloud-functions/heys-mcp/MCP_TELEMETRY_ROADMAP.md
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/telemetry.test.cjs
  yandex-cloud-functions/heys-mcp/lib/call-context.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
Due: eslint --max-warnings=500, prettier --write

feat(mcp): correlate по окну времени и ts в метке стенограммы
  scripts/mcp-correlate.mjs
  todo.md
  yandex-cloud-functions/heys-mcp/MCP_TELEMETRY_ROADMAP.md
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/mcp-correlate.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/telemetry.test.cjs
  yandex-cloud-functions/heys-mcp/lib/call-context.js
  yandex-cloud-functions/heys-mcp/lib/mcp-correlate.js
  yandex-cloud-functions/heys-mcp/lib/telemetry.js
Due: eslint --max-warnings=500, prettier --write

chore(scripts): portable Git Bash для деплоя на Windows
  .vscode/settings.json
  package.json
  scripts/portable-git-bash.cmd
  scripts/portable-git-bash.ps1
Due: prettier --write

fix(mcp): correlate не молчит про пропуски и сдвиг ts
  scripts/mcp-correlate.mjs
  yandex-cloud-functions/heys-mcp/__tests__/mcp-correlate.test.cjs
  yandex-cloud-functions/heys-mcp/lib/call-context.js
  yandex-cloud-functions/heys-mcp/lib/mcp-correlate.js
Due: eslint --max-warnings=500

feat(mcp): tasks_mcp_trace — correlate стенограммы с Cloud Logging по запросу
  todo.md
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/heys-maintenance/mcp-telemetry.js
  yandex-cloud-functions/heys-maintenance/shared/mcp-logging-read.js
  yandex-cloud-functions/heys-mcp/MCP_TELEMETRY_ROADMAP.md
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/mcp-correlate.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/mcp-logging-read.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/mcp-trace-tools.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tool-annotations.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/mcp-correlate.js
  yandex-cloud-functions/heys-mcp/lib/mcp-trace-tools.js
  yandex-cloud-functions/heys-mcp/shared/mcp-logging-read.js
  yandex-cloud-functions/shared/mcp-logging-read.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): схлопывать блоки одного хода перед correlate
  scripts/mcp-correlate.mjs
  yandex-cloud-functions/heys-mcp/MCP_TELEMETRY_ROADMAP.md
  yandex-cloud-functions/heys-mcp/__tests__/mcp-correlate.test.cjs
  yandex-cloud-functions/heys-mcp/lib/mcp-correlate.js
  yandex-cloud-functions/heys-mcp/lib/mcp-trace-tools.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): heading в tasks_mcp_trace после mergeSameTurnExchanges
  yandex-cloud-functions/heys-mcp/__tests__/mcp-trace-tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/mcp-trace-tools.js
Due: eslint --max-warnings=500

docs(todo): закрыть фазу 3 шаг 1 tasks_mcp_trace
  todo.md
Due: prettier --write

docs(todo): версия heys-mcp d4ees65po9nfvrbsgc8q
  todo.md
Due: prettier --write

fix(mcp): ретраи Cloud Logging на socket hang up / 401
  yandex-cloud-functions/heys-maintenance/shared/mcp-logging-read.js
  yandex-cloud-functions/heys-mcp/__tests__/mcp-logging-read.test.cjs
  yandex-cloud-functions/heys-mcp/lib/mcp-trace-tools.js
  yandex-cloud-functions/heys-mcp/shared/mcp-logging-read.js
  yandex-cloud-functions/shared/mcp-logging-read.js
Due: eslint --max-warnings=500

feat(mcp): telemetry mcp_call Postgres trace aggregation
  .gitignore
  database/2026-08-17_mcp_telemetry.sql
  database/2026-08-18_mcp_call_events.sql
  docs/reference/systems/BACKGROUND_JOBS.md
  scripts/db/apply-sql.cjs
  scripts/lockbox-add-mcp-telemetry-secret.mjs
  scripts/mcp-baseline-p50.mjs
  scripts/mcp-stats.mjs
  todo.md
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/mcp-telemetry-rpc.js
  yandex-cloud-functions/heys-api-rpc/tests/mcp_telemetry_rpc.contract.test.js
  yandex-cloud-functions/heys-api-rpc/tests/mcp_telemetry_rpc.unit.test.js
  yandex-cloud-functions/heys-maintenance/__tests__/mcp-telemetry.test.cjs
  yandex-cloud-functions/heys-maintenance/mcp-telemetry.js
  yandex-cloud-functions/heys-maintenance/shared/mcp-logging-read.js
  yandex-cloud-functions/heys-mcp/MCP_TELEMETRY_ROADMAP.md
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/mcp-logging-read.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/mcp-trace-tools.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/telemetry.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/heys-api.js
  yandex-cloud-functions/heys-mcp/lib/mcp-correlate.js
  yandex-cloud-functions/heys-mcp/lib/mcp-trace-tools.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/telemetry.js
  yandex-cloud-functions/heys-mcp/shared/mcp-logging-read.js
  yandex-cloud-functions/shared/mcp-logging-read.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): trace taskDay default and heading tie-break
  scripts/mcp-baseline-fetch.mjs
  scripts/mcp-baseline-p50.mjs
  todo.md
  yandex-cloud-functions/heys-mcp/MCP_TELEMETRY_ROADMAP.md
  yandex-cloud-functions/heys-mcp/__tests__/mcp-trace-tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/mcp-trace-tools.js
Due: eslint --max-warnings=500, prettier --write

feat(heys-mcp): tasks_mcp_trace flow breakdown
  yandex-cloud-functions/heys-mcp/MCP_TELEMETRY_ROADMAP.md
  yandex-cloud-functions/heys-mcp/__tests__/mcp-correlate.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/mcp-trace-tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/mcp-correlate.js
  yandex-cloud-functions/heys-mcp/lib/mcp-trace-tools.js
Due: eslint --max-warnings=500, prettier --write

chore(db): psql.ps1 wrapper for prod Postgres on Windows
  .gitignore
  scripts/db/README.md
  scripts/db/get-pg-password.sh
  scripts/db/psql.ps1
Due: prettier --write

perf(heys-mcp): curator fast-path for pieces meals
  scripts/mcp-trace-local.cjs
  todo.md
  yandex-cloud-functions/heys-maintenance/shared/mcp-logging-read.js
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
Due: eslint --max-warnings=500, prettier --write

fix(heys-mcp): composite copy_meal fast path in instructions
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

fix(heys-mcp): normalize CRLF on task file read
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

docs(agents): default answers to lists and summary tables
  AGENTS.md
  CLAUDE.md
Due: prettier --write

docs(ops): MCP trace runbook for any device
  docs/README.md
  docs/operations/MCP_TRACE_RUNBOOK.md
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
Due: prettier --write

fix(heys-mcp): trace traps in curator rule and tool description
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/mcp-trace-tools.js
Due: eslint --max-warnings=500

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
