Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

feat(gates): проверка правил CSS, которые не рисует ни одна строка кода
  docs/ui/UI_V4_FINDINGS.md
  package.json
  scripts/ui-v4-check-dead-class-rules.mjs
Due: prettier --write

fix(ui): сняты 25 правил, которые не рисует ни одна строка кода
  apps/web/styles/heys-components.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/734-ui-v4-insights.css
  apps/web/styles/modules/750-strength-builder.css
  apps/web/styles/modules/fingers.css
Due: none

fix(ship): два скрипта изолированного коммита не лежали в репозитории
  .gitignore
  scripts/check-agent-shipping-docs.mjs
  scripts/git-commit-isolated.mjs
  scripts/lib/git-isolated-index.mjs
Due: none

docs(ui): журнал обхода экранов владельцем
  docs/ui/UI_V4_OWNER_WALKTHROUGH.md
Due: prettier --write

fix(стенды): одиннадцать снимков вернулись в сверку
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

fix(сверка нормы): текст и вторая кнопка встали на роль чернил
  apps/web/styles/heys-components.css
Due: none

fix(первый вход): стенд поднимает слой обзора, не запуская тур
  apps/web/bundle-manifest.json
  apps/web/heys_ui_onboarding_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.267e20dbcb93.js
  apps/web/public/boot-app.bundle.267e20dbcb93.js.gz
  apps/web/public/boot-app.bundle.89cbe39580ac.js
  apps/web/public/boot-app.bundle.89cbe39580ac.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(календарь привычки): «сегодня» обведено акцентом, а не чернилами
  apps/web/__tests__/checkin-reserve-question-v4.test.js
  apps/web/styles/modules/731-ui-v4-activity.css
Due: eslint --max-warnings=500

fix(шторка зарядки): календарь перестал тащить вид прежней оболочки
  apps/web/__tests__/checkin-reserve-question-v4.test.js
  apps/web/styles/modules/731-ui-v4-activity.css
Due: eslint --max-warnings=500

fix(шторка зарядки): сетка дней встала по кадру до пикселя
  apps/web/__tests__/checkin-reserve-question-v4.test.js
  apps/web/styles/modules/731-ui-v4-activity.css
Due: eslint --max-warnings=500

fix(шторка зарядки): зазоры между блоками встали по кадру
  apps/web/__tests__/checkin-reserve-question-v4.test.js
  apps/web/styles/modules/300-modals-and-day.css
Due: eslint --max-warnings=500

fix(шторка зарядки): крест тонкий, как в кадре, и по краю содержимого
  apps/web/__tests__/checkin-reserve-question-v4.test.js
  apps/web/styles/modules/300-modals-and-day.css
Due: eslint --max-warnings=500

fix(шторка зарядки): крест справа стоит зеркально кадру
  apps/web/__tests__/checkin-reserve-question-v4.test.js
  apps/web/styles/modules/300-modals-and-day.css
Due: eslint --max-warnings=500

docs(ui): вопрос дизайнеру — слой чек-ина с полями против кадров во весь экран
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

docs(дизайн): поставка пакета 53 — чек-ин переведён в слой поверх дня
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-checkin-morning.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/checkin-morning.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/checkin-morning.v4.html
Due: prettier --write

fix(чек-ин): слой поверх дня по пакету 53, кнопки подвала без полей
  apps/web/__tests__/morning-checkin-v4-layout-smoke.test.js
  apps/web/__tests__/step-modal-shell-v4.test.js
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

fix(чек-ин): шапка высотой с точки, а не 44 — шаг встал по кадру
  apps/web/__tests__/morning-checkin-v4-layout-smoke.test.js
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

docs(ui): вопрос о слое чек-ина закрыт пакетом 53 — запись в архиве
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: prettier --write

docs(дизайн): архив пакета 53 рядом с распакованной поставкой
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
Due: none

fix(чек-ин): над «Вес на утро» 30 без плашки серии, как в кадре
  apps/web/__tests__/morning-checkin-v4-layout-smoke.test.js
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

fix(ui): шрифт страницы Manrope; шапка и календарь резервного вопроса по кадру
  apps/web/__tests__/checkin-reserve-question-v4.test.js
  apps/web/styles/critical.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/300-modals-and-day.css
  apps/web/styles/modules/731-ui-v4-activity.css
Due: eslint --max-warnings=500

fix(ui): «Вес на утро» на --ink-2, «пропуск» в календаре на --val-bad
  apps/web/__tests__/checkin-reserve-question-v4.test.js
  apps/web/__tests__/morning-checkin-v4-layout-smoke.test.js
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/731-ui-v4-activity.css
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

feat(ui): Manrope в коде приложения; «Расчётный» на --c1; сборка
  apps/web/bundle-manifest.json
  apps/web/heys_consents_v1.js
  apps/web/heys_day_low_cal_banner_v1.js
  apps/web/heys_paywall_v1.js
  apps/web/heys_profile_step_v1.js
  apps/web/heys_pwa_module_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_steps_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.267e20dbcb93.js
  apps/web/public/boot-app.bundle.267e20dbcb93.js.gz
  apps/web/public/boot-app.bundle.61d1ed081b97.js
  apps/web/public/boot-app.bundle.61d1ed081b97.js.gz
  apps/web/public/boot-core.bundle.8f1f2fb39794.js
  apps/web/public/boot-core.bundle.8f1f2fb39794.js.gz
  apps/web/public/boot-core.bundle.9779e6c4cca9.js
  apps/web/public/boot-core.bundle.9779e6c4cca9.js.gz
  apps/web/public/boot-day.bundle.2fc716b6b3c0.js
  apps/web/public/boot-day.bundle.2fc716b6b3c0.js.gz
  apps/web/public/boot-day.bundle.ccedcf65b861.js
  apps/web/public/boot-day.bundle.ccedcf65b861.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.4e13242b0009.js
  apps/web/public/postboot-1-game-lazy.bundle.4e13242b0009.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.e374e127cb86.js
  apps/web/public/postboot-1-game-lazy.bundle.e374e127cb86.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.664f3b5e7333.js
  apps/web/public/postboot-3-ui-lazy.bundle.664f3b5e7333.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.92583e8db8b3.js
  apps/web/public/postboot-3-ui-lazy.bundle.92583e8db8b3.js.gz
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/strength/heys_strength_proposal_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
Due: eslint --max-warnings=500, prettier --write

fix(стенды): без рамки фокуса и с текстом экрана рядом со снимком
  apps/web/scripts/ui-v4-visual-capture.mjs
Due: none

fix(стенды): правки куратора в состоянии кадра «Куратор · две даты»
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
Due: none

fix(лист куратора): тексты правок и сводок в формулировках кадров
  apps/web/__tests__/curator-actions-banner.test.js
  apps/web/__tests__/curator-sheet-canvas-smoke.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_curator_actions_banner_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.664f3b5e7333.js
  apps/web/public/postboot-3-ui-lazy.bundle.664f3b5e7333.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.6f4aac68f045.js
  apps/web/public/postboot-3-ui-lazy.bundle.6f4aac68f045.js.gz
  apps/web/public/sw.js
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

fix(цикл): вторая кнопка решений — обводка; «назад» в выборе даты кругом 34
  apps/web/styles/modules/500-pwa-and-offline.css
Due: none

feat(первый вход): экран «с компьютера» сведён с кадром v4
  apps/web/__tests__/desktop-gate-qr.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_app_gates_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.61d1ed081b97.js
  apps/web/public/boot-app.bundle.61d1ed081b97.js.gz
  apps/web/public/boot-app.bundle.93d77d6ba9cc.js
  apps/web/public/boot-app.bundle.93d77d6ba9cc.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500, prettier --write

fix(первый вход): QR «с компьютера» тёмный на белом в любом наборе
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

feat(первый вход): обзор приложения сведён с кадрами first-run.v4
  apps/web/__tests__/first-run-tour-v4-canvas.test.js
  apps/web/__tests__/ui-v4-code-screen-coverage.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_curator_actions_banner_v1.js
  apps/web/heys_ui_onboarding_v1.js
  apps/web/heys_ui_v4_visual_fixture_v1.js
  apps/web/heys_undo_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.42cebe07291e.js
  apps/web/public/boot-app.bundle.42cebe07291e.js.gz
  apps/web/public/boot-app.bundle.93d77d6ba9cc.js
  apps/web/public/boot-app.bundle.93d77d6ba9cc.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.3b2a6786a39c.js
  apps/web/public/postboot-3-ui-lazy.bundle.3b2a6786a39c.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.6f4aac68f045.js
  apps/web/public/postboot-3-ui-lazy.bundle.6f4aac68f045.js.gz
  apps/web/public/sw.js
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/heys-components.css
  docs/ui/UI_V4_SCREEN_COVERAGE.json
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(листы копирования): список во всю высоту, полнота под итогом, круг у «+»
  apps/web/__tests__/copy-meal-empty-target-v4.test.js
  apps/web/__tests__/copy-meal-unknown-values-v4.test.js
  apps/web/__tests__/first-run-tour-v4-canvas.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_day_copy_meal_modal_v1.js
  apps/web/heys_ui_onboarding_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.42cebe07291e.js
  apps/web/public/boot-app.bundle.42cebe07291e.js.gz
  apps/web/public/boot-app.bundle.54ae2722baaa.js
  apps/web/public/boot-app.bundle.54ae2722baaa.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.2159a5279b99.js
  apps/web/public/postboot-3-ui-lazy.bundle.2159a5279b99.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.3b2a6786a39c.js
  apps/web/public/postboot-3-ui-lazy.bundle.3b2a6786a39c.js.gz
  apps/web/public/sw.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/styles/modules/610-aps-meal-flow.css
Due: eslint --max-warnings=500, prettier --write

fix(листы копирования): высота по содержимому, как у переноса
  apps/web/__tests__/food-meal-transfer-v4.test.js
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: eslint --max-warnings=500, prettier --write

docs(находки v4): кадры листов копирования рисуют 706 вопреки решению 3.09
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

docs(находки v4): серая «Отмена» в листах копирования — отступление от кадра
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

docs(находки v4): серая «Отмена» — решение владельца, кадры перерисовать
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

fix(главная): плитка тренда называет себя целиком, «Вес за месяц» — число слева
  apps/web/__tests__/polosa4-task96-weight-tile-composition.test.js
  apps/web/__tests__/widgets-health-trend-growth-v4.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_widgets_ui_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.2159a5279b99.js
  apps/web/public/postboot-3-ui-lazy.bundle.2159a5279b99.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.ece74581b5f5.js
  apps/web/public/postboot-3-ui-lazy.bundle.ece74581b5f5.js.gz
  apps/web/public/sw.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

fix(главная): новая плитка тренда считает за 14 дней, как в контракте
  apps/web/__tests__/widgets-health-trend-growth-v4.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_widgets_registry_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.98830d75b25e.js
  apps/web/public/postboot-3-ui-lazy.bundle.98830d75b25e.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.ece74581b5f5.js
  apps/web/public/postboot-3-ui-lazy.bundle.ece74581b5f5.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

test(стенды): пустой день Главной сверяется плитками, а не всем экраном
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
Due: none

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
