Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(ci): suppress no-op deploy notifications
  .github/workflows/cloud-functions-deploy.yml
  yandex-cloud-functions/__tests__/serverless-capacity-contract.test.cjs
Due: prettier --write

fix(landing): restore hero video opening
  apps/landing/public/hero-curator-demo-poster.jpg
  apps/landing/public/hero-curator-demo.mp4
  apps/landing/public/hero-curator-demo.webm
  apps/landing/src/components/HeroFlowDemo.tsx
Due: eslint --max-warnings=500

fix(legal): align consent versions and RKN disclosure
  apps/landing/src/app/legal/agreements/page.tsx
  apps/landing/src/app/legal/health-data-consent/page.tsx
  apps/landing/src/app/legal/privacy-policy/page.tsx
  apps/landing/src/config/legal-versions.ts
  apps/web/__tests__/consent-offline-cache.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_consents_v1.js
  apps/web/heys_legal_versions_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.148a51db1d9e.js
  apps/web/public/boot-core.bundle.148a51db1d9e.js.gz
  apps/web/public/boot-core.bundle.8584c5a44fe4.js
  apps/web/public/boot-core.bundle.8584c5a44fe4.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/docs/consent-forms.md
  apps/web/public/docs/v1.4/health-data-consent.md
  apps/web/public/docs/v1.6/privacy-policy.md
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.81ee9d4f6ac8.js
  apps/web/public/postboot-1-game-lazy.bundle.81ee9d4f6ac8.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.a28e66ed3e69.js
  apps/web/public/postboot-1-game-lazy.bundle.a28e66ed3e69.js.gz
  apps/web/public/sw.js
  docs/legal/operator/README.md
  docs/legal/operator/heys-data-register.md
  docs/legal/operator/heys-pdn-monthly-audit.md
  docs/legal/operator/heys-r0-r2-signoff-package.md
  docs/legal/operator/heys-rkn-publication-consents-update-2026-07-27.md
  docs/legal/operator/pdn-compliance-operating-model.md
  docs/legal/operator/rkn-notification-heys.md
  docs/reference/systems/LANDING_AND_LEADS.md
  scripts/lint-pdn-monthly-audit.mjs
  маркетинг/00_Дашборд.html
  маркетинг/14_Telegram_плейбук.md
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/24_Telegram_посты_батч1.md
  маркетинг/25_Roadmap_Ф0_Ф1.md
  маркетинг/31_РКН_уведомление_ПДн_ИП.md
  маркетинг/32_ПДн_governance_релизный_контур.md
  маркетинг/README.md
Due: eslint --max-warnings=500, prettier --write

fix(legal): correct July privacy update date
  apps/web/public/docs/privacy-policy.md
  apps/web/public/docs/v1.6/privacy-policy.md
  scripts/lint-pdn-monthly-audit.mjs
Due: prettier --write

fix(ci): harden cloud functions rollout
  .github/workflows/cloud-functions-deploy.yml
  docs/reference/systems/INFRA_OPERATIONS.md
  scripts/ci/__tests__/send-telegram-alert.test.mjs
  yandex-cloud-functions/__tests__/function-inventory.test.cjs
  yandex-cloud-functions/__tests__/serverless-capacity-contract.test.cjs
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/test-functions.sh
Due: prettier --write

fix(trial): harden encrypted intake rollout
  apps/web/__tests__/blank-screen-guard.test.js
  apps/web/__tests__/trial-intake-flow.test.js
  apps/web/heys_trial_intake_v1.js
  database/2026-07-27_trial_intake_reconsent_fix.sql
  docs/implementation/TRIAL_INTAKE_FLOW_PROTOCOL.md
  docs/reference/systems/TRIAL_INTAKE.md
  scripts/db/test-trial-intake-migration.mjs
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

fix(trial): isolate intake route overlays
  apps/web/__tests__/trial-intake-flow.test.js
  apps/web/heys_app_overlays_v1.js
  docs/implementation/TRIAL_INTAKE_FLOW_PROTOCOL.md
  docs/reference/systems/TRIAL_INTAKE.md
Due: eslint --max-warnings=500, prettier --write

docs(marketing): align campaign privacy guidance
  маркетинг/00_Дашборд.html
  маркетинг/07_Плейбук_каналов_и_креативы.md
  маркетинг/14_Telegram_плейбук.md
  маркетинг/15_Ревизия_и_лог_решений.md
  маркетинг/18_Измеримость.md
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/24_Telegram_посты_батч1.md
  маркетинг/41_Единый_релизный_контур_и_очередь_промптов_2026-07-26.md
Due: prettier --write

fix(legal): sync formatted document hashes
  docs/legal/legal-document-manifest.json
Due: prettier --write

chore(web): sync legacy release bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.1a07b49dbc93.js
  apps/web/public/boot-app.bundle.1a07b49dbc93.js.gz
  apps/web/public/boot-app.bundle.ee579d32e002.js
  apps/web/public/boot-app.bundle.ee579d32e002.js.gz
  apps/web/public/boot-core.bundle.8584c5a44fe4.js
  apps/web/public/boot-core.bundle.8584c5a44fe4.js.gz
  apps/web/public/boot-core.bundle.d7e89f1ed8da.js
  apps/web/public/boot-core.bundle.d7e89f1ed8da.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.60ab616d6aa5.js
  apps/web/public/postboot-1-game-lazy.bundle.60ab616d6aa5.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.a28e66ed3e69.js
  apps/web/public/postboot-1-game-lazy.bundle.a28e66ed3e69.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

feat(genda): add ophthalmology test trainer
  apps/genda-tests/DEPLOYMENT.md
  apps/genda-tests/IMPLEMENTATION_PROTOCOL.md
  apps/genda-tests/README.md
  apps/genda-tests/package.json
  apps/genda-tests/scripts/build-question-bank.mjs
  apps/genda-tests/scripts/build.mjs
  apps/genda-tests/scripts/serve.mjs
  apps/genda-tests/scripts/validate-question-bank.mjs
  apps/genda-tests/src/app.js
  apps/genda-tests/src/assets/helios-ext-light-c.otf
  apps/genda-tests/src/assets/trainer-logo.png
  apps/genda-tests/src/data/question-bank.json
  apps/genda-tests/src/index.html
  apps/genda-tests/src/logic.js
  apps/genda-tests/src/styles.css
  apps/genda-tests/src/theme.js
  apps/genda-tests/tests/data.test.mjs
  apps/genda-tests/tests/logic.test.mjs
Due: eslint --max-warnings=500, prettier --write

feat(genda): add exam restart control
  apps/genda-tests/src/app.js
  apps/genda-tests/src/styles.css
Due: eslint --max-warnings=500

fix(consent): release legal versions 1.7/1.7/1.5
  .github/workflows/deploy-yandex.yml
  apps/web/__tests__/consent-proof-v2.test.js
  database/2026-07-27_consent_proof_v2.sql
  docs/implementation/CONSENT_PAYMENT_SPEECHKIT_ANALYTICS_PROTOCOL.md
  docs/reference/systems/INFRA_OPERATIONS.md
  scripts/db/migrate.test.mjs
  scripts/db/migrations/manifest.json
  scripts/db/test-trial-intake-migration.mjs
  scripts/verify-legal-release.mjs
Due: eslint --max-warnings=500, prettier --write

feat(genda): add plain-language answer card
  apps/genda-tests/src/app.js
  apps/genda-tests/src/styles.css
Due: eslint --max-warnings=500

fix(landing): unblock production build
  apps/landing/src/components/__tests__/AnalyticsConsentGate.test.tsx
Due: eslint --max-warnings=500

chore(ci): enforce shipping policy drift checks
  .github/workflows/agent-shipping-docs.yml
  AGENTS.md
  CLAUDE.md
  docs/operations/AGENT_SHIPPING_RUNBOOK.md
  package.json
  scripts/check-agent-shipping-docs.mjs
  scripts/check-agent-shipping-docs.test.mjs
Due: prettier --write

feat(trial): harden protected intake v2
  apps/web/__tests__/trial-intake-flow.test.js
  apps/web/heys_trial_intake_v1.js
  apps/web/heys_trial_queue_v1.js
  apps/web/heys_yandex_api_v1.js
  database/2026-07-27_trial_intake_flow_v2.sql
  docs/implementation/TRIAL_INTAKE_FLOW_V2_PROTOCOL.md
  docs/reference/systems/TRIAL_INTAKE.md
  scripts/db/migrations/manifest.json
  scripts/db/test-trial-intake-migration.mjs
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

fix(ci): tolerate formatted shipping policy table
  scripts/check-agent-shipping-docs.mjs
  scripts/check-agent-shipping-docs.test.mjs
Due: none

docs(trial): refresh rollout evidence
  docs/implementation/TRIAL_INTAKE_FLOW_V2_PROTOCOL.md
  docs/reference/systems/TRIAL_INTAKE.md
Due: prettier --write

feat(ops): monitor production legal drift
  .github/workflows/deploy-yandex.yml
  .github/workflows/legal-drift-canary.yml
  docs/reference/systems/INFRA_OPERATIONS.md
  docs/reference/systems/PWA_OFFLINE_PUSH.md
  scripts/check-live-legal-drift.mjs
  scripts/ci/__fixtures__/legal-drift.mjs
  scripts/ci/__tests__/legal-drift-canary.test.mjs
Due: prettier --write

fix(ci): run shipping policy check on main pushes
  .github/workflows/agent-shipping-docs.yml
Due: prettier --write

test(trial): retire direct lead conversion contract
  apps/web/__tests__/trial-queue-telegram-recovery.test.js
  yandex-cloud-functions/heys-api-rpc/tests/admin_convert_lead_contract.test.js
Due: eslint --max-warnings=500

chore(web): sync legacy release artifacts
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.13e132e4a7fc.js
  apps/web/public/boot-app.bundle.13e132e4a7fc.js.gz
  apps/web/public/boot-app.bundle.ee579d32e002.js.gz
  apps/web/public/boot-core.bundle.22c870ace71e.js
  apps/web/public/boot-core.bundle.22c870ace71e.js.gz
  apps/web/public/boot-core.bundle.d7e89f1ed8da.js
  apps/web/public/boot-core.bundle.d7e89f1ed8da.js.gz
  apps/web/public/boot-day.bundle.eaa5e5270ae3.js
  apps/web/public/boot-day.bundle.eaa5e5270ae3.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.6442a6bc4d7e.js
  apps/web/public/postboot-1-game-lazy.bundle.6442a6bc4d7e.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.37f15e15c3a5.js
  apps/web/public/postboot-3-ui-lazy.bundle.37f15e15c3a5.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(copy): humanize curator follow-up wording
  apps/landing/src/components/sections/HowItWorksSection.tsx
  маркетинг/00_Дашборд.html
  маркетинг/40_Аудит_лендинга_mobile_2026-07-26.md
Due: eslint --max-warnings=500, prettier --write

fix(landing): remove repeated comparison subtitle
  apps/landing/COPY_VOICE.md
  apps/landing/src/components/sections/ComparisonSection.tsx
  маркетинг/40_Аудит_лендинга_mobile_2026-07-26.md
Due: eslint --max-warnings=500, prettier --write

chore(build): sync generated artifacts for agent integration
  apps/web/bundle-manifest.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(legal): sync 1.8 release hashes
  apps/web/__tests__/consent-proof-v2.test.js
  database/2026-07-28_activate_user_agreement_v1_8.sql
  docs/legal/legal-document-manifest.json
  scripts/verify-legal-release.mjs
Due: eslint --max-warnings=500, prettier --write

fix(payments): sync active oferta contract
  apps/web/__tests__/consent-release-contract.test.js
  docs/reference/systems/SUBSCRIPTION_AND_PAYMENTS.md
  yandex-cloud-functions/heys-api-payments/index.js
Due: eslint --max-warnings=500, prettier --write

feat(planning): refine Color Trail territory game
  apps/web/__tests__/planning-game-color-trail.test.js
  apps/web/heys_planning_game_color_trail_v1.js
  apps/web/styles/modules/911-planning-game-color-trail.css
  docs/implementation/PLANNING_GAMES_UI_PROTOCOL.md
  docs/reference/systems/PLANNING.md
Due: eslint --max-warnings=500, prettier --write

fix(trial): harden first real trial flow
  apps/web/__tests__/subscription-curator-guard.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_day_page_shell.js
  apps/web/heys_paywall_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.13e132e4a7fc.js
  apps/web/public/boot-app.bundle.13e132e4a7fc.js.gz
  apps/web/public/boot-app.bundle.66707da23433.js
  apps/web/public/boot-app.bundle.66707da23433.js.gz
  apps/web/public/boot-core.bundle.22c870ace71e.js
  apps/web/public/boot-core.bundle.22c870ace71e.js.gz
  apps/web/public/boot-core.bundle.6d6025b06018.js
  apps/web/public/boot-core.bundle.6d6025b06018.js.gz
  apps/web/public/boot-day.bundle.12470d6a2f36.js
  apps/web/public/boot-day.bundle.12470d6a2f36.js.gz
  apps/web/public/boot-day.bundle.eaa5e5270ae3.js
  apps/web/public/boot-day.bundle.eaa5e5270ae3.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  docs/TRIAL_MACHINE.md
  docs/reference/systems/SUBSCRIPTION_AND_PAYMENTS.md
  docs/reference/systems/TRIAL_INTAKE.md
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

fix(landing): polish curator copy
  apps/landing/src/components/sections/CuratorSection.tsx
Due: eslint --max-warnings=500
