Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(release): add whats-new for 2584d41a
  apps/web/public/whats-new.json
Due: prettier --write

chore(fingers): complete implementation todo
  apps/web/__tests__/fingers-assessment.test.js
  apps/web/__tests__/fingers-engine-router.test.js
  apps/web/__tests__/fingers-exercise-runner.test.js
  apps/web/__tests__/fingers-happy-path.test.js
  apps/web/__tests__/fingers-reps-cycle.test.js
  apps/web/__tests__/fingers-session-ui-performance.test.js
  apps/web/__tests__/fingers-settings-assessment.test.js
  apps/web/__tests__/fingers-timer-cycle.test.js
  apps/web/__tests__/fingers-voice-lifecycle.test.js
  apps/web/fingers/IMPLEMENTATION_TODO.md
  apps/web/fingers/README.md
  apps/web/fingers/heys_fingers_engine_router_v1.js
  apps/web/fingers/heys_fingers_programs_catalog_v1.js
  apps/web/fingers/heys_fingers_records_store_v1.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
  apps/web/fingers/heys_fingers_timer_v1.js
  apps/web/fingers/heys_fingers_voice_v1.js
  apps/web/scripts/bundle-fingers.cjs
Due: eslint --max-warnings=500, prettier --write

chore(release): rebuild legacy bundles
  apps/web/bundle-manifest.json
  apps/web/heys_fingers_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.7307ae6e21ff.js
  apps/web/public/boot-core.bundle.7307ae6e21ff.js.gz
  apps/web/public/boot-core.bundle.bf0e76d32a81.js
  apps/web/public/boot-core.bundle.bf0e76d32a81.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): update fingers bundle allowlist
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore(release): add whats-new for d161fbe6
  apps/web/public/whats-new.json
Due: prettier --write

chore(ci): optimize yandex deploy workflow
  .github/workflows/deploy-yandex.yml
Due: prettier --write

chore(ci): keep deploy gate git history
  .github/workflows/deploy-yandex.yml
Due: prettier --write

docs(agents): collector flow for shared main checkout
  CLAUDE.md
Due: prettier --write

feat(fingers): enable methodology engine rollout
  apps/web/__tests__/fingers-edge-history.test.js
  apps/web/__tests__/fingers-periodization.test.js
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/fingers/heys_fingers_block_catalog_v1.js
  apps/web/fingers/heys_fingers_edge_history_v1.js
  apps/web/fingers/heys_fingers_engine_router_v1.js
  apps/web/fingers/heys_fingers_periodization_engine_v1.js
  apps/web/fingers/heys_fingers_quality_catalog_v1.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
  apps/web/fingers/heys_fingers_test_battery_v1.js
  apps/web/fingers/methodology/IMPLEMENTATION_MAP.md
  apps/web/fingers/methodology/IMPLEMENTATION_READINESS.md
  apps/web/fingers/methodology/KICKOFF.md
  apps/web/fingers/methodology/METHODOLOGY.md
  apps/web/fingers/methodology/tools/status-sync.mjs
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

fix(sync): harden write context upload resilience
  TESTS/regressions/task-005-write-context-resilience.test.ts
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

chore(marketing): sync competitor audit dashboard
  .lintstagedrc.json
  apps/landing/src/components/PricingSSR.tsx
  apps/landing/src/config/landing-variants.ts
  scripts/sync-marketing-dashboard.mjs
  маркетинг/00_Дашборд.html
  маркетинг/15_Ревизия_и_лог_решений.md
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/29_Аудит_конкурентов_глубокий.md
  маркетинг/tools/build_dashboard.py
  маркетинг/Обновить_дашборд.command
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 5fdafc3d
  apps/web/public/whats-new.json
Due: prettier --write

chore(release): rebuild legacy bundles
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_fingers_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.1798ceb9dc97.js
  apps/web/public/boot-calc.bundle.1798ceb9dc97.js.gz
  apps/web/public/boot-calc.bundle.86df303fccb3.js
  apps/web/public/boot-calc.bundle.86df303fccb3.js.gz
  apps/web/public/boot-core.bundle.7307ae6e21ff.js
  apps/web/public/boot-core.bundle.7307ae6e21ff.js.gz
  apps/web/public/boot-core.bundle.8c9a61e1b2af.js
  apps/web/public/boot-core.bundle.8c9a61e1b2af.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

test(fingers): expect new engine rollout default
  apps/web/__tests__/fingers-engine-router.test.js
Due: eslint --max-warnings=500

feat(fingers): тест-батарея — напоминания ретеста и графики прогресса
  apps/web/__tests__/fingers-test-battery.test.js
  apps/web/fingers/heys_fingers_test_battery_v1.js
  apps/web/styles/modules/fingers.css
Due: eslint --max-warnings=500

chore(release): whats-new for тест-батарея — напоминания ретеста и графики прогресса
  apps/web/public/whats-new.json
Due: prettier --write

docs(fingers): карта реализации — 8.4/8.6 готовы, движковый бэклог Фазы 2 закрыт
  apps/web/fingers/methodology/IMPLEMENTATION_MAP.md
  apps/web/fingers/methodology/KICKOFF.md
  apps/web/fingers/methodology/METHODOLOGY.md
Due: prettier --write

chore(release): whats-new for карта реализации — 8.4/8.6 готовы, движковый бэклог Фазы 2 закрыт
  apps/web/public/whats-new.json
Due: prettier --write

feat(drums): finger-control тренажёр — каталог, UI, тест
  apps/web/__tests__/drums-finger-trainer.test.js
  apps/web/hobby/drums-finger-control/heys_drums_catalog_v1.js
  apps/web/hobby/drums-finger-control/heys_drums_ui_v1.js
  apps/web/styles/modules/drums-finger-trainer.css
Due: eslint --max-warnings=500

chore(release): whats-new for finger-control тренажёр — каталог, UI, тест
  apps/web/public/whats-new.json
Due: prettier --write

feat(fingers): add deterministic mix reroll preview
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
  apps/web/styles/modules/fingers.css
Due: eslint --max-warnings=500

docs(fingers): clarify live wiring gaps
  apps/web/fingers/methodology/IMPLEMENTATION_MAP.md
  apps/web/fingers/methodology/KICKOFF.md
  apps/web/fingers/methodology/METHODOLOGY.md
Due: prettier --write

fix(day): show resolve banner for empty pending days
  TESTS/regressions/task-006-empty-day-resolve-banner.test.js
  apps/web/heys_day_low_cal_banner_v1.js
Due: eslint --max-warnings=500

docs(drums): preserve finger control methodology
  apps/web/hobby/drums-finger-control/METHODOLOGY_AUDIT.md
  apps/web/hobby/drums-finger-control/PROGRAM_30_DAYS.md
  apps/web/hobby/drums-finger-control/SESSION_LIBRARY.json
  apps/web/hobby/drums-finger-control/SOURCES.md
Due: prettier --write

docs(marketing): add competitor implementation map
  маркетинг/30_Имплемент_мап.md
Due: prettier --write

chore(legacy): rebuild fingers and day bundles
  apps/web/bundle-manifest.json
  apps/web/heys_fingers_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-day.bundle.189e6ee33dd5.js
  apps/web/public/boot-day.bundle.189e6ee33dd5.js.gz
  apps/web/public/boot-day.bundle.4386c636b0b8.js
  apps/web/public/boot-day.bundle.4386c636b0b8.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 532f5bd6
  apps/web/public/whats-new.json
Due: prettier --write

docs: update fingers and marketing implementation maps
  .lintstagedrc.json
  AGENTS.md
  CLAUDE.md
  apps/web/fingers/methodology/IMPLEMENTATION_MAP.md
  apps/web/fingers/methodology/KICKOFF.md
  apps/web/fingers/methodology/METHODOLOGY.md
  scripts/check-agent-staging.mjs
  scripts/sync-marketing-dashboard.mjs
  маркетинг/00_Дашборд.html
  маркетинг/15_Ревизия_и_лог_решений.md
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/26_Конкурентка_навигатор.md
  маркетинг/29_Аудит_конкурентов_глубокий.md
  маркетинг/30_Имплемент_мап.md
  маркетинг/README.md
  маркетинг/tools/build_dashboard.py
Due: prettier --write

chore(release): add whats-new for cd0e7d46
  apps/web/public/whats-new.json
Due: prettier --write

test: update agent staging trunk policy
  apps/web/__tests__/agent-staging.test.js
Due: eslint --max-warnings=500

ci: fix security report artifact paths
  .github/workflows/security-scan.yml
Due: prettier --write

chore(deps): clear dependency security blockers
  apps/landing/package.json
  apps/web/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
  scripts/security/security-report.js
Due: eslint --max-warnings=500, prettier --write

feat(fingers): wire methodology engine explainability
  apps/web/__tests__/fingers-assessment.test.js
  apps/web/__tests__/fingers-engine-router.test.js
  apps/web/__tests__/fingers-mesocycle.test.js
  apps/web/__tests__/fingers-mvc-history.test.js
  apps/web/__tests__/fingers-profile-store.test.js
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/__tests__/fingers-tissue-history.test.js
  apps/web/__tests__/fingers-validators.test.js
  apps/web/fingers/heys_fingers_assessment_v1.js
  apps/web/fingers/heys_fingers_bibliography_v1.js
  apps/web/fingers/heys_fingers_engine_router_v1.js
  apps/web/fingers/heys_fingers_profile_store_v1.js
  apps/web/fingers/heys_fingers_records_store_v1.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
  apps/web/fingers/heys_fingers_test_battery_v1.js
  apps/web/fingers/heys_fingers_tissue_history_v1.js
  apps/web/fingers/heys_fingers_validators_v1.js
  apps/web/fingers/methodology/CONSTRUCTOR_SPEC.md
  apps/web/fingers/methodology/IMPLEMENTATION_MAP.md
  apps/web/fingers/methodology/IMPLEMENTATION_READINESS.md
  apps/web/fingers/methodology/KICKOFF.md
  apps/web/fingers/methodology/METHODOLOGY.md
  apps/web/fingers/methodology/REVIEW_HANDOFF.md
  apps/web/heys_fingers_bundle_v1.js
  apps/web/scripts/bundle-fingers.cjs
  apps/web/styles/modules/fingers.css
Due: eslint --max-warnings=500, prettier --write

feat(marketing): add lead attribution measurement
  apps/landing/src/components/TrialForm.tsx
  database/2026-06-12_marketing_measurement.sql
  yandex-cloud-functions/heys-api-leads/index.js
  yandex-cloud-functions/heys-api-payments/index.js
  маркетинг/00_Дашборд.html
  маркетинг/01_Ревью_продукта_и_рынка_РФ.md
  маркетинг/02_SWOT_сильные_слабые.md
  маркетинг/03_Каналы_и_продакт-плейсмент.md
  маркетинг/04_Маркетинговый_план.md
  маркетинг/08_Воронка_онбординг_CRO.md
  маркетинг/15_Ревизия_и_лог_решений.md
  маркетинг/17_Бот_лид-магнит_и_онбординг-квиз.md
  маркетинг/18_Измеримость.md
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/24_Telegram_посты_батч1.md
  маркетинг/25_Roadmap_Ф0_Ф1.md
  маркетинг/30_Имплемент_мап.md
  маркетинг/README.md
  маркетинг/tools/build_dashboard.py
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 66a982f2
  apps/web/public/whats-new.json
Due: prettier --write

chore(lint): update fingers bundle allowlist
  scripts/bootstrap-bypass-allowlist.txt
Due: none

docs(marketing): focus release launch plan
  маркетинг/00_Дашборд.html
  маркетинг/00_Сводная_панель.xlsx
  маркетинг/14_Telegram_плейбук.md
  маркетинг/15_Ревизия_и_лог_решений.md
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/30_Имплемент_мап.md
  маркетинг/README.md
  маркетинг/tools/build_dashboard.py
Due: prettier --write

feat(landing): show real app hero flow
  apps/landing/COPY_VOICE.md
  apps/landing/next-env.d.ts
  apps/landing/next.config.js
  apps/landing/public/hero-real-advice.webp
  apps/landing/public/hero-real-diary.webp
  apps/landing/public/hero-real-messenger.webp
  apps/landing/public/hero-real-widgets.webp
  apps/landing/src/components/HeroFlowDemo.tsx
  apps/landing/src/components/HeroSSR.tsx
  apps/landing/src/styles/globals.css
  apps/landing/tsconfig.json
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 4c1172b9
  apps/web/public/whats-new.json
Due: prettier --write
