Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore: update what's-new for e3dcf977 (fix cross-device custom product HOT-sync Phase-ε)
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): phase-epsilon upsert when shared catalog not yet loaded
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.3314c2226fc6.js
  apps/web/public/boot-core.bundle.3314c2226fc6.js.gz
  apps/web/public/boot-core.bundle.777a6ae9f1e5.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore: update what's-new for 93a078c9 (fix phase-epsilon shared catalog timing)
  apps/web/public/whats-new.json
Due: prettier --write

feat(meal): one-time product mode — add to meal without polluting DB
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_add_product.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_day_orphan_alert.js
  apps/web/heys_day_utils.js
  apps/web/heys_smart_search_v2.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.3b64613b1bb4.js
  apps/web/public/boot-calc.bundle.3b64613b1bb4.js.gz
  apps/web/public/boot-calc.bundle.6b655c6690a6.js.gz
  apps/web/public/boot-core.bundle.2610db75e5a9.js
  apps/web/public/boot-core.bundle.2610db75e5a9.js.gz
  apps/web/public/boot-core.bundle.3314c2226fc6.js.gz
  apps/web/public/boot-day.bundle.9e22fa73c9e6.js
  apps/web/public/boot-day.bundle.9e22fa73c9e6.js.gz
  apps/web/public/boot-day.bundle.a54ebdd52ba2.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.b4ea1fb7e916.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.b6a4203085c7.js
  apps/web/public/postboot-3-ui-lazy.bundle.b6a4203085c7.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/600-steps-and-aps.css
Due: eslint --max-warnings=500, prettier --write

chore: update what's-new for db68ab0e (one-time product mode)
  apps/web/public/whats-new.json
Due: prettier --write

chore(lint): update allowlist line numbers after one-time product guards
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore: bump what's-new hash to 497084cc
  apps/web/public/whats-new.json
Due: prettier --write

feat(meal): swap chooser default to 'save to DB'
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.4f3746792044.js
  apps/web/public/postboot-3-ui-lazy.bundle.4f3746792044.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.b6a4203085c7.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore: bump what's-new hash to 87d421e7
  apps/web/public/whats-new.json
Due: prettier --write

refactor(planning): remove Context tab + scaffold Gantt v2 (under flag)
  apps/web/__perf_baselines__/storage-bypass-inventory.json
  apps/web/bundle-manifest.json
  apps/web/heys_feature_flags_v1.js
  apps/web/heys_planning_context_v1.js
  apps/web/heys_planning_gantt_layout_v1.js
  apps/web/heys_planning_gantt_migration_v1.js
  apps/web/heys_planning_gantt_v2.js
  apps/web/heys_planning_store_v1.js
  apps/web/heys_planning_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.2610db75e5a9.js.gz
  apps/web/public/boot-core.bundle.7af54079bc9b.js
  apps/web/public/boot-core.bundle.7af54079bc9b.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.4f3746792044.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.5f4776b7455e.js
  apps/web/public/postboot-3-ui-lazy.bundle.5f4776b7455e.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/900-planning.css
  config/module-limits.json
  scripts/bootstrap-bypass-allowlist.txt
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

fix(sync): protect overlay from stale legacy heys_products clobber on cloud-pull
  apps/web/bundle-manifest.json
  apps/web/heys_app_tabs_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.1410cd62b1b0.js
  apps/web/public/boot-app.bundle.1410cd62b1b0.js.gz
  apps/web/public/boot-app.bundle.f95fec8aadab.js.gz
  apps/web/public/boot-core.bundle.7af54079bc9b.js.gz
  apps/web/public/boot-core.bundle.94d80ec274a3.js
  apps/web/public/boot-core.bundle.94d80ec274a3.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore: bump what's-new hash to c47083a7
  apps/web/public/whats-new.json
Due: prettier --write

feat(training): history scan cache + rest-done audio beep + folded-row UI
  apps/web/bundle-manifest.json
  apps/web/heys_day_trainings_v1.js
  apps/web/heys_training_step_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500, prettier --write

chore: bump what's-new hash to 06074c52
  apps/web/public/whats-new.json
Due: prettier --write

feat(planning): gantt v2 phase 2-7 — touch, quick-edit, critical path, tests
  apps/web/__tests__/gantt-critical-path.test.js
  apps/web/__tests__/gantt-layout.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_planning_gantt_critical_path_v1.js
  apps/web/heys_planning_gantt_layout_v1.js
  apps/web/heys_planning_gantt_quick_edit_v1.js
  apps/web/heys_planning_gantt_touch_v1.js
  apps/web/heys_planning_gantt_v2.js
  apps/web/heys_planning_tasks_v1.js
  apps/web/heys_storage_registry_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.113b6441c11d.js
  apps/web/public/boot-app.bundle.113b6441c11d.js.gz
  apps/web/public/boot-app.bundle.1410cd62b1b0.js.gz
  apps/web/public/boot-core.bundle.0bf12e733677.js
  apps/web/public/boot-core.bundle.0bf12e733677.js.gz
  apps/web/public/boot-core.bundle.94d80ec274a3.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.1ba974d57cac.js
  apps/web/public/postboot-3-ui-lazy.bundle.1ba974d57cac.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.5f4776b7455e.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/900-planning.css
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

fix(moderation): full pending-products flow — server, client, curator badge
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_auth_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.113b6441c11d.js.gz
  apps/web/public/boot-app.bundle.aa47d482cabb.js
  apps/web/public/boot-app.bundle.aa47d482cabb.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.1ba974d57cac.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.9946fd203e0c.js
  apps/web/public/postboot-3-ui-lazy.bundle.9946fd203e0c.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/000-base-and-gamification.css
  database/2026-04-27_fix_pending_products_table.sql
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore: bump what's-new hash to b57b9420
  apps/web/public/whats-new.json
Due: prettier --write

feat(planning): gantt v2 phase 5+6 + swipe-nav fix
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-core.bundle.0bf12e733677.js.gz
  apps/web/public/boot-core.bundle.148d70684a30.js
  apps/web/public/boot-core.bundle.148d70684a30.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.9946fd203e0c.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.eb50a86bd39e.js
  apps/web/public/postboot-3-ui-lazy.bundle.eb50a86bd39e.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(sync): overlay-canonical guard now triggers on de-facto overlay use
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.1ba974d57cac.js
  apps/web/public/postboot-3-ui-lazy.bundle.1ba974d57cac.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.eb50a86bd39e.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore: bump what's-new hash to a2808761
  apps/web/public/whats-new.json
Due: prettier --write

feat(planning): gantt v2 phase 5+6 + swipe-nav fix (source restore)
  apps/web/bundle-manifest.json
  apps/web/heys_planning_gantt_v2.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.1ba974d57cac.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.eb50a86bd39e.js
  apps/web/public/postboot-3-ui-lazy.bundle.eb50a86bd39e.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/900-planning.css
Due: eslint --max-warnings=500, prettier --write

fix(planning): gantt v2 collapsed-mode chips — show 2-letter initials + clearer group rows
  apps/web/bundle-manifest.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/styles/modules/900-planning.css
Due: eslint --max-warnings=500, prettier --write

feat(orphan): add "Сделать разовыми" action to orphan-warning banner
  apps/web/bundle-manifest.json
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_day_orphan_alert.js
  apps/web/heys_day_utils.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.3b64613b1bb4.js.gz
  apps/web/public/boot-calc.bundle.40c20a929880.js
  apps/web/public/boot-calc.bundle.40c20a929880.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore: bump what's-new hash to 394f0bda
  apps/web/public/whats-new.json
Due: prettier --write

fix(products): deleted product no longer reappears instantly in personal list
  apps/web/bundle-manifest.json
  apps/web/heys_core_v12.js
  apps/web/heys_products_overlay_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.05fe6331b24b.js
  apps/web/public/boot-core.bundle.05fe6331b24b.js.gz
  apps/web/public/boot-core.bundle.148d70684a30.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore: bump what's-new hash to 7fb80d4d
  apps/web/public/whats-new.json
Due: prettier --write

fix(orphan): tombstone-aware getById + propagate orphan-tracking through stamp-cache
  apps/web/bundle-manifest.json
  apps/web/heys_core_v12.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_day_orphan_alert.js
  apps/web/heys_day_utils.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.40c20a929880.js.gz
  apps/web/public/boot-calc.bundle.e228cd4e9fc4.js
  apps/web/public/boot-calc.bundle.e228cd4e9fc4.js.gz
  apps/web/public/boot-core.bundle.05fe6331b24b.js.gz
  apps/web/public/boot-core.bundle.a537b696ff5a.js
  apps/web/public/boot-core.bundle.a537b696ff5a.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore: bump what's-new hash to 1ff4e832
  apps/web/public/whats-new.json
Due: prettier --write

feat(db): trial pipeline migrations
  database/2026-04-28_email.sql
  database/2026-04-28_lead_rate_limit.sql
  database/2026-04-28_leads_dedup.sql
  database/2026-04-28_payment_events.sql
  database/2026-04-28_pin_autogenerate.sql
  database/2026-04-28_telegram_bot.sql
Due: none

feat(api): rate-limit + honeypot + email + dedup in /leads
  yandex-cloud-functions/heys-api-leads/index.js
Due: eslint --max-warnings=500

feat(bot): heys-bot-client function for Telegram client interactions
  yandex-cloud-functions/.env.example
  yandex-cloud-functions/api-gateway-spec-v2.yaml
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/heys-bot-client/.ycignore
  yandex-cloud-functions/heys-bot-client/index.js
  yandex-cloud-functions/heys-bot-client/package-lock.json
  yandex-cloud-functions/heys-bot-client/package.json
  yandex-cloud-functions/heys-bot-client/shared/db-pool.js
  yandex-cloud-functions/shared/auth-helpers.js
Due: eslint --max-warnings=500, prettier --write

feat(drip): trial drip notifications via Telegram (Phase 1)
  scripts/cron-payments-poll.js
  scripts/cron-trial-notifications.js
  yandex-cloud-functions/heys-cron-trial-drip/.ycignore
  yandex-cloud-functions/heys-cron-trial-drip/index.js
  yandex-cloud-functions/heys-cron-trial-drip/package-lock.json
  yandex-cloud-functions/heys-cron-trial-drip/package.json
  yandex-cloud-functions/heys-cron-trial-drip/shared/db-pool.js
Due: eslint --max-warnings=500, prettier --write

feat(ui): trial countdown banner, welcome modal, curator-contact stub
  apps/web/bundle-manifest.json
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_subscriptions_v1.js
  apps/web/heys_trial_queue_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.aa47d482cabb.js.gz
  apps/web/public/boot-app.bundle.ad10c5ed0168.js
  apps/web/public/boot-app.bundle.ad10c5ed0168.js.gz
  apps/web/public/boot-core.bundle.4b0bf6fe1f05.js
  apps/web/public/boot-core.bundle.4b0bf6fe1f05.js.gz
  apps/web/public/boot-core.bundle.a537b696ff5a.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.2f6799d74c1a.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.fd00f698269a.js
  apps/web/public/postboot-1-game-lazy.bundle.fd00f698269a.js.gz
  apps/web/public/sw.js
  yandex-cloud-functions/heys-api-auth/index.js
Due: eslint --max-warnings=500, prettier --write

feat(landing): /legal/refund + /curator/onboarding + email field
  apps/landing/src/app/curator/onboarding/page.tsx
  apps/landing/src/app/legal/agreements/page.tsx
  apps/landing/src/app/legal/refund/page.tsx
  apps/landing/src/components/TrialForm.tsx
Due: eslint --max-warnings=500

feat(payments): webhook hardening + refund (phase 2 ready)
  yandex-cloud-functions/heys-api-payments/index.js
  yandex-cloud-functions/heys-api-payments/shared/auth-helpers.js
  yandex-cloud-functions/heys-api-payments/shared/db-pool.js
Due: eslint --max-warnings=500

chore: bump what's-new hash to 2fb1e1ec
  apps/web/public/whats-new.json
Due: prettier --write

chore(lint): allowlist welcome-flag setItem in heys_subscriptions_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore: bump what's-new hash to 0b345f10
  apps/web/public/whats-new.json
Due: prettier --write

fix(bot): correct default Telegram bot username to heyslab_bot
  apps/web/bundle-manifest.json
  apps/web/heys_trial_queue_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.7e99fae5e5ab.js
  apps/web/public/boot-app.bundle.7e99fae5e5ab.js.gz
  apps/web/public/boot-app.bundle.ad10c5ed0168.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore: bump what's-new hash for bot username fix
  apps/web/public/whats-new.json
Due: prettier --write
