Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(web): widget breakdown sheet uses defined v4 palette roles
  apps/web/styles/modules/730-widgets-dashboard.css
Due: none

docs(design): handoff v4 package 17 — full canvas sync
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-checkin-morning.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-cycle.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-date-remainders.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-home-widgets.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-nutrition-tab.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/REQUEST-cycle.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/curator-edits.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/cycle.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/date-remainders.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/food-add-short.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/food-add.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/gamification.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/login.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/nutrition-tab.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/pwa-update.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/questionnaire.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/registration.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/settings-system.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/spinners.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/app-splash.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/checkin-morning.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/curator-edits.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/cycle.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/registration.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/settings-system.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tab-activity.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tab-insights.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tab-reports.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tips.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/undo-bar.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/v4-canvas.css
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/water-add.v4.dc.html
Due: prettier --write

fix(web): restore widgets FAB water cross-day guard
  apps/web/heys_widgets_ui_v1.js
Due: eslint --max-warnings=500

fix(web): remove advice confetti flags from day celebration sources
  apps/web/advice/_other.js
Due: eslint --max-warnings=500

fix(web): restore stable stepsGoal slider aria-label in checkin
  apps/web/heys_steps_v1.js
Due: eslint --max-warnings=500

fix(web): keep view-change sheet opt backgrounds off transparent bleed
  apps/web/styles/modules/730-widgets-dashboard.css
Due: none

fix(test): avoid HEYS.Widgets.data reassignment in breakdown harness
  apps/web/__tests__/home-widgets-breakdown-v4.test.js
Due: eslint --max-warnings=500

feat(cycle): v4 engine multipliers, 28-day count, norm wiring
  apps/web/__tests__/cycle-engine-v4.test.js
  apps/web/__tests__/cycle.test.js
  apps/web/heys_cycle_v1.js
  apps/web/heys_day_caloric_balance_v1.js
  apps/web/heys_day_water_state.js
  apps/web/heys_day_weight_trends_v1.js
  apps/web/heys_iw_calc.js
  apps/web/heys_tdee_v1.js
  docs/ui/ui-v4-contract-verdicts.json
  scratchpad/verdicts/cycle-engine-verdicts-batch.json
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_cycle_v1.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_tdee_v1.js
Due: eslint --max-warnings=500, prettier --write

fix(web): home widgets rem tiles and breakdown data bindings
  apps/web/__tests__/home-widgets-breakdown-v4.test.js
  apps/web/__tests__/widgets-v4-canvas-geometry.test.js
  apps/web/heys_widgets_variants_v4.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/ui-v4-contract-verdicts.json
  scratchpad/verdicts/drift-batch-home-widgets-typography-breakdown.json
  scratchpad/verdicts/home-widgets-breakdown-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(web): cycle UI v4 — check-in step 5, ribbon, profile toggle, undo
  apps/web/__tests__/cycle-v4-contract.test.js
  apps/web/__tests__/morning-checkin-v4-a11y-smoke.test.js
  apps/web/heys_cycle_ui_v1.js
  apps/web/heys_day_cycle_card_v1.js
  apps/web/heys_day_cycle_state.js
  apps/web/heys_day_pickers.js
  apps/web/heys_day_sparklines_v1.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_user_tab_impl_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/500-pwa-and-offline.css
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500

feat(web): nutrition-tab cycle block and contract package 17 closure
  apps/web/__tests__/nutrition-tab-v4-contract-fixes.test.js
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/heys_day_nutrition_v1.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
  docs/ui/ui-v4-contract-verdicts.json
  scratchpad/verdicts/drift-batch-checkin-morning.json
  scratchpad/verdicts/drift-batch-nutrition-tab.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): canonical cloud-agent handoff for UI v4 completion
  docs/ui/UI_V4_COMPLETION_PROMPT.md
Due: prettier --write

docs(ui): handoff — session 26.08 workers DONE, +39 ahead
  docs/ui/UI_V4_COMPLETION_PROMPT.md
Due: prettier --write

docs(ui): cloud agent handoff — FS rules, lanes, pre-push blockers
  docs/ui/UI_V4_COMPLETION_PROMPT.md
Due: prettier --write

fix(ui-v4): replace undefined sand-act-fill/bg with palette roles
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/500-pwa-and-offline.css
Due: none

fix(nutrition-v4): chip min-height 34px per canvas contract
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
Due: eslint --max-warnings=500

fix(widgets-v4): wd-sheet opt row background not transparent
  apps/web/styles/modules/730-widgets-dashboard.css
Due: none

fix(checkin): steps slider aria-label stays «Цель по шагам»
  apps/web/heys_steps_v1.js
Due: eslint --max-warnings=500

docs(ui): add Recommended waves roster with copy-paste cloud prompts
  docs/ui/UI_V4_COMPLETION_PROMPT.md
Due: prettier --write

fix(lint): drop raw localStorage fallback for first perfect meal
  apps/web/heys_day_engagement_effects.js
Due: eslint --max-warnings=500

docs(ui): refresh handoff — all green, verdict totals, no stale blockers
  docs/ui/UI_V4_COMPLETION_PROMPT.md
Due: prettier --write

fix(ui-v4): cycle release gate, confirm modal z-index, verdict batches
  apps/web/__tests__/health-features-cycle-release-gate.test.js
  apps/web/__tests__/water-add-v4.test.js
  apps/web/heys_health_features_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(nutrition-tab): согласие — чип «Добавки» только при consent
  apps/web/__tests__/nutrition-tab-v4-contract-fixes.test.js
  apps/web/heys_day_nutrition_v1.js
Due: eslint --max-warnings=500

fix(home-widgets): роли плитки — --v4-hero/--v4-ok-bg вместо hardcoded
  apps/web/styles/modules/730-widgets-dashboard.css
  scripts/bootstrap-bypass-allowlist.txt
Due: none

docs(ui): verdicts home-widgets + nutrition-tab batch
  docs/ui/ui-v4-contract-verdicts.json
  scratchpad/verdicts/drift-batch-nutrition-tab.json
Due: prettier --write

fix(checkin-morning): a11y close 44px, save-fail retry, day rollover
  apps/web/heys_step_modal_v1.js
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/500-pwa-and-offline.css
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

docs(ui-v4): rehash verdicts for checkin, registration, water, login lanes
  docs/ui/ui-v4-contract-verdicts.json
  scratchpad/verdicts/drift-batch-checkin-morning-lane.json
  scratchpad/verdicts/drift-batch-login-lane.json
  scratchpad/verdicts/drift-batch-registration-lane.json
  scratchpad/verdicts/drift-batch-water-add-lane.json
  scripts/bootstrap-bypass-allowlist.txt
Due: prettier --write

feat(cycle-ui): two-step date marking, calendar sheet, disable dialog
  apps/web/__tests__/cycle-v4-contract.test.js
  apps/web/heys_cycle_ui_v1.js
  apps/web/heys_day_cycle_card_v1.js
  apps/web/heys_day_pickers.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_user_tab_impl_v1.js
  scratchpad/verdicts/cycle-ui-checkin-calendar-batch.json
Due: eslint --max-warnings=500, prettier --write

fix(registration): profile hints, limits, noun titles
  apps/web/heys_profile_step_v1.js
Due: eslint --max-warnings=500

fix(login): no greeting, two-line errors, contract copy
  apps/web/__tests__/login-v4-structure.test.js
  apps/web/heys_day_water_v1.js
  apps/web/heys_login_screen_v1.js
  apps/web/styles/modules/733-ui-v4-login-theme.css
Due: eslint --max-warnings=500

fix(tips): hero --v4-sand-surface, мягче goodAdvice, без confetti
  apps/web/__tests__/advice-v4-panels.test.js
  apps/web/day/_advice.js
  apps/web/heys_advice_rules_v1.js
  apps/web/styles/modules/400-water-and-hydration.css
  docs/ui/ui-v4-contract-verdicts.json
  scratchpad/verdicts/drift-batch-tips-completion.json
  scratchpad/verdicts/drift-batch-tips-hero.json
Due: eslint --max-warnings=500, prettier --write

fix(date-remainders): метка цикла 3px сверху, tabular-nums, active 70%
  apps/web/__tests__/date-remainders-v4-smoke.test.js
  apps/web/styles/modules/000-base-and-gamification.css
  scratchpad/verdicts/drift-batch-date-remainders-completion.json
Due: eslint --max-warnings=500, prettier --write

fix(registration): copy шага профиля и подсказка веса
  apps/web/heys_profile_step_v1.js
  docs/ui/ui-v4-contract-verdicts.json
  scratchpad/verdicts/drift-batch-registration-completion.json
Due: eslint --max-warnings=500, prettier --write

fix(gamification,pwa): streak RU, «Готово», офлайн #f2ede6
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_gamification_screens_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_platform_apis_v1.js
  apps/web/styles/heys-components.css
Due: eslint --max-warnings=500

fix(settings,curator): куратор без меню «Ещё»
  apps/web/heys_app_shell_v1.js
  apps/web/heys_curator_actions_banner_v1.js
Due: eslint --max-warnings=500

fix(tips): active 70% на кнопках, тест кураторского входа
  apps/web/__tests__/advice-v4-panels.test.js
  apps/web/heys_advice_rules_v1.js
  apps/web/styles/modules/400-water-and-hydration.css
Due: eslint --max-warnings=500

fix(ui-v4): close tips lane advice detail and curator gate
  apps/web/__tests__/advice-v4-panels.test.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): registration resume copy, water empty dash, nutrition consent gate
  apps/web/__tests__/advice-v4-panels.test.js
  apps/web/heys_day_nutrition_v1.js
  apps/web/heys_day_water_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): verdict batches wave2 — tips/gamification/pwa/spinners/date to =
  docs/ui/ui-v4-contract-verdicts.json
  scratchpad/verdicts/drift-batch-app-splash-completion.json
  scratchpad/verdicts/drift-batch-checkin-morning-completion.json
  scratchpad/verdicts/drift-batch-checkin-morning-save-fail.json
  scratchpad/verdicts/drift-batch-curator-edits-completion.json
  scratchpad/verdicts/drift-batch-date-remainders-completion.json
  scratchpad/verdicts/drift-batch-gamification-completion.json
  scratchpad/verdicts/drift-batch-pwa-update-completion.json
  scratchpad/verdicts/drift-batch-questionnaire-completion.json
  scratchpad/verdicts/drift-batch-settings-system-completion.json
  scratchpad/verdicts/drift-batch-spinners-completion.json
  scratchpad/verdicts/drift-batch-tips-completion.json
  scratchpad/verdicts/drift-batch-water-add-completion.json
  scratchpad/verdicts/drift-batch-wave2-date-remainders.json
  scratchpad/verdicts/drift-batch-wave2-gamification.json
  scratchpad/verdicts/drift-batch-wave2-login.json
  scratchpad/verdicts/drift-batch-wave2-pwa-update.json
  scratchpad/verdicts/drift-batch-wave2-registration.json
  scratchpad/verdicts/drift-batch-wave2-tips.json
  scratchpad/verdicts/drift-batch-wave2-water-add-equals.json
Due: prettier --write

docs(ui-v4): wave2 verdict batches login/pwa/reg/date/water/tips
  apps/web/__tests__/advice-v4-panels.test.js
Due: eslint --max-warnings=500
