Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

feat(web): add pattern transparency modal and AI parser v4.8.8 updates
  AI_PARSER_UPDATE_COMPLETE_v4.8.8.md
  apps/web/CHANGELOG.md
  apps/web/__tests__/cycle.test.js
  apps/web/__tests__/insulin-wave.test.js
  apps/web/__tests__/iw_api_canary.test.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_metabolic_intelligence_v1.js
  apps/web/heys_models_v1.js
  apps/web/heys_predictive_insights_v1.js
  apps/web/index.html
  apps/web/insights/patterns/activity.js
  apps/web/insights/patterns/body.js
  apps/web/insights/patterns/lifestyle.js
  apps/web/insights/patterns/micronutrients.js
  apps/web/insights/patterns/psychology.js
  apps/web/insights/patterns/quality.js
  apps/web/insights/patterns/sleep.js
  apps/web/insights/pi_advanced.js
  apps/web/insights/pi_calculations.js
  apps/web/insights/pi_constants.js
  apps/web/insights/pi_data.js
  apps/web/insights/pi_pattern_debugger.css
  apps/web/insights/pi_pattern_debugger.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/insights/pi_ui_rings.js
  apps/web/styles/modules/720-predictive-insights.css
  docs/AI_PRODUCT_PARSE_PROMPT.md
  test_ai_parser_v4.8.8.html
  test_parse_user_string.js
  test_parser_debug.html
Due: eslint --max-warnings=500, prettier --write

test: stabilize vitest environment and harden flaky UI tests
  apps/web/index.html
  apps/web/src/components/OptimizedImage/__tests__/OptimizedImage.test.tsx
  apps/web/src/components/__tests__/ErrorBoundary.test.tsx
  apps/web/styles/modules/720-predictive-insights.css
  package.json
  packages/core/src/server/__tests__/router.supabase.test.ts
  packages/core/vitest.config.ts
  packages/logger/vitest.config.ts
  packages/search/vitest.config.ts
  packages/shared/src/monitoring/__tests__/monitoring-service.test.ts
  packages/shared/src/performance/LazyLoader.simple.test.ts
  packages/shared/src/performance/mobile-performance-optimizer.test.ts
  packages/shared/vitest.config.ts
  packages/storage/vitest.config.ts
  packages/ui/src/__tests__/Button.test.tsx
  packages/ui/vitest.config.ts
  vitest.setup.ts
Due: eslint --max-warnings=500, prettier --write

feat(insights): add adaptive thresholds engine and analyzer integration
  apps/web/index.html
  apps/web/insights/patterns/activity.js
  apps/web/insights/patterns/metabolic.js
  apps/web/insights/patterns/quality.js
  apps/web/insights/patterns/sleep.js
  apps/web/insights/patterns/timing.js
  apps/web/insights/patterns/training_nutrition.js
  apps/web/insights/pi_patterns.js
  apps/web/insights/pi_stats.js
  apps/web/insights/pi_thresholds.js
  apps/web/insights/pi_ui_dashboard.js
Due: eslint --max-warnings=500

fix(insights): align health score weighting and transparency modal
  apps/web/insights/pi_advanced.js
  apps/web/insights/pi_pattern_debugger.css
  apps/web/insights/pi_pattern_debugger.js
  apps/web/styles/modules/720-predictive-insights.css
Due: eslint --max-warnings=500

docs(insights): update v13.3 notes and compact production summary
  .github/copilot-instructions.md
  HEYS_Insights_v5_Deep_Analytics_c7.md
  README.md
  apps/web/CHANGELOG.md
  docs/DATA_MODEL_REFERENCE.md
Due: prettier --write

feat(insights): integrate EWS, what-if and phenotype layers
  apps/web/heys_predictive_insights_v1.js
  apps/web/index.html
  apps/web/insights/patterns/activity.js
  apps/web/insights/patterns/lifestyle.js
  apps/web/insights/patterns/metabolic.js
  apps/web/insights/patterns/psychology.js
  apps/web/insights/patterns/quality.js
  apps/web/insights/patterns/sleep.js
  apps/web/insights/patterns/timing.js
  apps/web/insights/pi_advanced.js
  apps/web/insights/pi_analytics_api.js
  apps/web/insights/pi_data.js
  apps/web/insights/pi_early_warning.js
  apps/web/insights/pi_feedback_loop.js
  apps/web/insights/pi_math.js
  apps/web/insights/pi_meal_recommender.js
  apps/web/insights/pi_pattern_debugger.css
  apps/web/insights/pi_pattern_debugger.js
  apps/web/insights/pi_patterns.js
  apps/web/insights/pi_phenotype.js
  apps/web/insights/pi_science_info.js
  apps/web/insights/pi_stats.js
  apps/web/insights/pi_thresholds.js
  apps/web/insights/pi_ui_cards.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/insights/pi_ui_rings.js
  apps/web/insights/pi_whatif.js
  apps/web/src/components/insights/EarlyWarningBadge.tsx
  apps/web/src/components/insights/EarlyWarningDashboard.tsx
  apps/web/src/components/insights/MealRecommender.tsx
  apps/web/src/components/insights/WhatIfSimulator.tsx
Due: eslint --max-warnings=500

test(insights): add coverage for confidence, EWS and what-if modules
  apps/web/__tests__/advanced_confidence_patterns.test.js
  apps/web/__tests__/pi_early_warning.test.js
  apps/web/__tests__/pi_feedback_loop.test.js
  apps/web/__tests__/pi_meal_recommender.test.js
  apps/web/__tests__/pi_phenotype.test.js
  apps/web/__tests__/pi_whatif.test.js
  apps/web/insights/pi_stats.test.js
Due: eslint --max-warnings=500

docs(insights): refresh analytics guide and development instructions
  .github/copilot-instructions.md
  .vscode/settings.json
  CLAUDE.md
  HEYS_Insights_v5_Deep_Analytics_c7.md
Due: prettier --write

feat: add smart product picker and meal recommender integration
  apps/web/__tests__/pi_meal_recommender.test.js
  apps/web/__tests__/pi_product_picker.test.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_day_tab_render_v1.js
  apps/web/insights/pi_meal_recommender.js
  apps/web/insights/pi_product_picker.js
  apps/web/insights/pi_stats.js
  apps/web/insights/pi_ui_meal_rec_card.js
Due: eslint --max-warnings=500

feat: integrate early warning and what-if widgets in insights UI
  apps/web/__tests__/pi_early_warning.test.js
  apps/web/heys_early_warning_panel_v1.js
  apps/web/index.html
  apps/web/insights/pi_early_warning.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/insights/pi_ui_phenotype.js
  apps/web/insights/pi_ui_whatif_scenarios.js
  apps/web/insights/pi_whatif.js
  apps/web/styles/modules/720-predictive-insights.css
Due: eslint --max-warnings=500

docs: refresh insights roadmap and implementation summary
  HEYS_Insights_v5_Deep_Analytics_c7.md
Due: prettier --write

docs: add insights enterprise integration completion report
  docs/INSIGHTS_INTEGRATION_COMPLETE.md
Due: prettier --write

fix: improve meal recommender optimum flow and timing
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_day_tab_render_v1.js
  apps/web/insights/pi_meal_recommender.js
  apps/web/insights/pi_ui_meal_rec_card.js
Due: eslint --max-warnings=500

feat(ews): expand Early Warning System to v3.0.0 with 15 checks
  HEYS_Insights_v5_Deep_Analytics_c7.md
  apps/web/index.html
  apps/web/insights/pi_early_warning.js
Due: eslint --max-warnings=500, prettier --write

feat(ews): update UI components for v3.0.0 expansion (15 warnings)
  apps/web/heys_app_shell_v1.js
  apps/web/heys_early_warning_panel_v1.js
Due: eslint --max-warnings=500

feat(ews): add visual verification table for all 15 checks
  apps/web/index.html
  apps/web/insights/pi_early_warning.js
Due: eslint --max-warnings=500

fix(ews): wrap verification table in console.group for filtering
  apps/web/index.html
  apps/web/insights/pi_early_warning.js
Due: eslint --max-warnings=500

docs: add EWS v3.1 documentation and deployment guides
  HEYS_Insights_v5_Deep_Analytics_c7.md
  docs/EWS_V3.1_CHECKLIST.md
  docs/EWS_V3.1_DEPLOYMENT.md
  docs/EWS_V3.1_TESTING_GUIDE.md
  docs/EWS_V3.1_UI_INTEGRATION.md
Due: prettier --write

feat(widgets): implement Crash Risk v2.0 and new widget data provider system
  apps/web/heys_widgets_data_crash_risk_v1.js
  apps/web/heys_widgets_data_v1.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/widgets/widget_data.js
Due: eslint --max-warnings=500

feat(insights): implement Predictive Insights v5 and EWS v3.1
  apps/web/__tests__/pi_meal_recommender.test.js
  apps/web/heys_predictive_insights_v1.js
  apps/web/insights/pi_constants.js
  apps/web/insights/pi_early_warning.js
  apps/web/insights/pi_meal_rec_feedback.js
  apps/web/insights/pi_meal_rec_patterns.js
  apps/web/insights/pi_meal_recommender.js
  apps/web/insights/pi_product_picker.js
  apps/web/insights/pi_ui_cards.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/insights/pi_ui_meal_rec_card.js
  apps/web/insights/test_ews_v3.1.js
  apps/web/styles/modules/720-predictive-insights.css
  apps/web/styles/modules/725-metabolic-intelligence.css
Due: eslint --max-warnings=500

chore: integrate improved analytics, cleanup logs and update reports service
  apps/web/heys_app_twemoji_effect_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_monthly_reports_service_v1.js
  apps/web/heys_monthly_reports_v1.js
  apps/web/index.html
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/200-dark-and-effects.css
Due: eslint --max-warnings=500

feat(ews): implement EWS v4.0-v4.2 global score, causal chains, weekly progress and phenotype
  apps/web/insights/pi_causal_chains.js
  apps/web/insights/pi_early_warning.js
  apps/web/insights/pi_phenotype.js
  database/2026-02-16_ews_weekly_snapshots.sql
  database/2026-02-16_ews_weekly_snapshots_rpc.sql
  docs/EWS_PHENOTYPE_CHEAT_SHEET.md
  docs/EWS_WEEKLY_CLOUD_SYNC_DEPLOYMENT.md
Due: eslint --max-warnings=500, prettier --write

feat(insights): add section-specific priority rules for CRASH_RISK and PRIORITY_ACTIONS
  apps/web/insights/pi_constants.js
  apps/web/insights/pi_ui_dashboard.js
Due: eslint --max-warnings=500

feat(mealrec): expand meal recommender v3.1 with 12 patterns, ML product picker and meal planner
  apps/web/__tests__/pi_meal_planner.test.js
  apps/web/__tests__/pi_meal_recommender.test.js
  apps/web/insights/pi_meal_planner.js
  apps/web/insights/pi_meal_rec_feedback.js
  apps/web/insights/pi_meal_rec_patterns.js
  apps/web/insights/pi_meal_recommender.js
  apps/web/insights/pi_product_picker.js
  apps/web/insights/pi_ui_meal_rec_card.js
Due: eslint --max-warnings=500

feat(feedback): implement feedback loop v1.0 with outcome modal and ML weight adjustment
  ML_FEEDBACK_LOOP_VERIFICATION.md
  apps/web/__tests__/pi_feedback_loop.test.js
  apps/web/insights/pi_feedback_loop.js
  apps/web/insights/pi_outcome_modal.js
Due: eslint --max-warnings=500, prettier --write

feat(ui): add EWS badge to app shell, update warning panel, day bundle and styles
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_lifecycle_v1.js
  apps/web/heys_early_warning_panel_v1.js
  apps/web/heys_steps_v1.js
  apps/web/index.html
  apps/web/insights/pi_pattern_debugger.css
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

docs: update Insights v5 analytics with phases 11-14 completion and updated backlog
  HEYS_Insights_v5_Deep_Analytics_c7.md
  docs/plans/MEALREC_UX_CONSISTENCY_PROMPT.md
  test-output-sprint1.txt
Due: prettier --write

feat(insights): multi-meal per-meal products + adaptive budget split v1.4.0 / v3.3.0
  apps/web/insights/pi_meal_planner.js
  apps/web/insights/pi_meal_recommender.js
Due: eslint --max-warnings=500

feat(insights): acuteness-decay priority weights + pattern boost v4.3.0
  apps/web/insights/pi_constants.js
  apps/web/insights/pi_ui_dashboard.js
Due: eslint --max-warnings=500

feat(ui): meal-rec-card UX consistency — smart names, scenario badges, subtitles
  apps/web/insights/pi_ui_meal_rec_card.js
  apps/web/styles/heys-components.css
Due: eslint --max-warnings=500

chore: bump cache-bust versions; update insights + mealrec UX docs
  HEYS_Insights_v5_Deep_Analytics_c7.md
  apps/web/index.html
  docs/plans/MEALREC_UX_CONSISTENCY_PROMPT.md
Due: prettier --write

feat(ui): user-friendly prompt in multi-meal subtitle (v27.7)
  apps/web/insights/pi_ui_meal_rec_card.js
  docs/plans/MEALREC_UX_CONSISTENCY_PROMPT.md
Due: eslint --max-warnings=500, prettier --write

feat: cascade card v2.0.0 - 10-factor behavioral scoring
  apps/web/heys_cascade_card_v1.js
  apps/web/index.html
  apps/web/styles/modules/740-cascade-card.css
  docs/CASCADE_CARD_MODULE.md
Due: eslint --max-warnings=500, prettier --write

feat: cascade card v2.2.0 — soft chain degradation + score-driven states
  apps/web/heys_cascade_card_v1.js
  apps/web/styles/modules/740-cascade-card.css
  docs/CASCADE_CARD_MODULE.md
Due: eslint --max-warnings=500, prettier --write

docs: add comprehensive Meal Planner documentation v4.0.4
  .github/copilot-instructions.md
  CLAUDE.md
  docs/API_DOCUMENTATION.md
  docs/ARCHITECTURE.md
  docs/DATA_MODEL_REFERENCE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/HEYS_BRIEF.md
  docs/HEYS_Project_Context.md
  docs/MEAL_PLANNER_DOCUMENTATION.md
  docs/SECURITY_DOCUMENTATION.md
  docs/SECURITY_RUNBOOK.md
  docs/SUPABASE_PROXY.md
  docs/TECHNICAL_ARCHITECTURE.md
  docs/plans/MEALREC_UX_CONSISTENCY_PROMPT.md
Due: prettier --write

style: update UI components for Meal Planner card
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_hooks_v1.js
  apps/web/heys_app_sync_effects_v1.js
  apps/web/heys_cloud_shared_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_add_product.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_caloric_balance_v1.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_iw_v41.js
  apps/web/heys_meal_optimizer_v1.js
  apps/web/heys_metabolic_intelligence_v1.js
  apps/web/heys_models_v1.js
  apps/web/heys_reports_tab_impl_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_tdee_v1.js
  apps/web/heys_tef_v1.js
  apps/web/heys_yesterday_verify_v1.js
  apps/web/insights/pi_analytics_api.js
  apps/web/insights/pi_constants.js
  apps/web/insights/pi_meal_planner.js
  apps/web/insights/pi_meal_rec_patterns.js
  apps/web/insights/pi_meal_recommender.js
  apps/web/insights/pi_product_picker.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/insights/pi_ui_meal_rec_card.js
  apps/web/styles/heys-components.css
  apps/web/styles/main.css
Due: eslint --max-warnings=500

chore(backend): update cloud functions and database migrations for shared products
  database/2026-02-19_fix_get_shared_products_extended.sql
  parse_worker.js
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/heys-api-rpc/apply_migrations.js
Due: eslint --max-warnings=500

chore: update project configuration and utility scripts
  .github/skills/heys-testing/examples/vitest-unit.test.ts
  apps/web/day/_meal_quality.js
  tmpclaude-0768-cwd
  tmpclaude-0a5f-cwd
  tmpclaude-1ee5-cwd
  tmpclaude-4675-cwd
  tmpclaude-47aa-cwd
  tmpclaude-6d8b-cwd
  tmpclaude-7247-cwd
  tmpclaude-733f-cwd
  tmpclaude-75e9-cwd
  tmpclaude-782a-cwd
  tmpclaude-7e1d-cwd
  tmpclaude-8b97-cwd
  tmpclaude-9372-cwd
  tmpclaude-978e-cwd
  tmpclaude-b017-cwd
  tmpclaude-b131-cwd
  tmpclaude-bfb8-cwd
  tmpclaude-daae-cwd
  tmpclaude-dba8-cwd
  tmpclaude-ddb4-cwd
  tmpclaude-de14-cwd
  tmpclaude-e338-cwd
  tmpclaude-ec40-cwd
  tmpclaude-f248-cwd
  tmpclaude-faea-cwd
Due: eslint --max-warnings=500

fix(product-picker): v4.0.5 — LATE_EVENING category override + sleepGIPenalty extended
  apps/web/insights/pi_product_picker.js
  docs/MEAL_PLANNER_DOCUMENTATION.md
Due: eslint --max-warnings=500, prettier --write

fix(meal-planner): v2.2.0/v3.6.0 — wave-aware timing for meal recommendation card
  apps/web/insights/pi_meal_planner.js
  apps/web/insights/pi_meal_recommender.js
Due: eslint --max-warnings=500

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
