Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat(food): implement atomic v4 copy and move flows
  apps/web/__tests__/copy-meal-empty-target-v4.test.js
  apps/web/__tests__/food-meal-transfer-v4.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/day/_meals.js
  apps/web/heys_day_copy_meal_modal_v1.js
  apps/web/heys_move_modal_v1.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/implementation/UI_V4_FULL_CONVERGENCE_PROTOCOL.md
  docs/reference/systems/NUTRITION_AND_INSULIN.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_HANDOFF_CODEX.md
  docs/ui/verdicts/food-meal.json
Due: eslint --max-warnings=500, prettier --write

feat(insights): implement inline v4 what-if flow
  apps/web/__tests__/insights-v4-whatif-inline.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/insights/pi_ui_whatif_scenarios.js
  apps/web/insights/pi_whatif.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/implementation/UI_V4_FULL_CONVERGENCE_PROTOCOL.md
  docs/reference/systems/ANALYTICS_AND_SCORING.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_HANDOFF_CODEX.md
  docs/ui/verdicts/reports-insights.json
Due: eslint --max-warnings=500, prettier --write

feat(strength): align workout finish with v4 canvas
  apps/web/__tests__/activity-numbers-net-and-plan.test.js
  apps/web/__tests__/strength-builder-finish-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/heys_day_trainings_v1.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/strength/heys_strength_finish_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/implementation/UI_V4_FULL_CONVERGENCE_PROTOCOL.md
  docs/reference/systems/TRAINING_MODES.md
  docs/ui/UI_V4_HANDOFF_CODEX.md
  docs/ui/verdicts/strength-builder.json
Due: eslint --max-warnings=500, prettier --write

feat(insights): align v4 weight prediction
  apps/web/__tests__/insights-v4-canvas-razbor.test.js
  apps/web/__tests__/insights-v4-weight-prediction.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/insights/pi_advanced.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/implementation/UI_V4_FULL_CONVERGENCE_PROTOCOL.md
  docs/reference/systems/ANALYTICS_AND_SCORING.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_HANDOFF_CODEX.md
  docs/ui/verdicts/reports-insights.json
Due: eslint --max-warnings=500, prettier --write

fix(insights): use canvas accent for forecast
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/implementation/UI_V4_FULL_CONVERGENCE_PROTOCOL.md
  docs/ui/verdicts/reports-insights.json
Due: prettier --write

feat(strength): make assigned draft match v4 canvas
  apps/web/__tests__/activity-plan-card-frame.test.js
  apps/web/__tests__/models-plan-passthrough.test.js
  apps/web/__tests__/strength-builder-empty-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/heys_day_trainings_v1.js
  apps/web/heys_models_v1.js
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/implementation/CURATOR_TRAINING_PROGRAM_PROTOCOL_2026-08-09.md
  docs/implementation/STRENGTH_BUILDER_REDESIGN_PROTOCOL_2026-08-09.md
  docs/implementation/UI_V4_FULL_CONVERGENCE_PROTOCOL.md
  docs/reference/systems/TRAINING_MODES.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_HANDOFF_CODEX.md
  docs/ui/verdicts/strength-builder.json
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

feat(norm): align applied lowering with v4 canvas
  apps/web/__tests__/norm-correction-weekly-card.test.js
  apps/web/__tests__/norm-correction.test.js
  apps/web/heys_norm_correction_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/styles/heys-components.css
  docs/implementation/UI_V4_FULL_CONVERGENCE_PROTOCOL.md
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_HANDOFF_CODEX.md
  docs/ui/verdicts/norm-correction.json
Due: eslint --max-warnings=500, prettier --write

feat(strength): align interrupted session with v4 canvas
  apps/web/__tests__/strength-builder-interrupted-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/implementation/UI_V4_FULL_CONVERGENCE_PROTOCOL.md
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_HANDOFF_CODEX.md
  docs/ui/verdicts/strength-builder.json
Due: eslint --max-warnings=500, prettier --write

fix(strength): guard assigned plan outcomes
  apps/web/__tests__/activity-plan-card-frame.test.js
  apps/web/__tests__/kernel-training-plan.test.js
  apps/web/__tests__/strength-builder-empty-v4-canvas-contract.test.js
  apps/web/__tests__/strength-plan-outcome-web.test.js
  apps/web/__tests__/training-plan-expenditure.test.js
  apps/web/_kernel/heys_kernel_strength_v1.js
  apps/web/heys_day_norm_v1.js
  apps/web/heys_day_trainings_v1.js
  apps/web/heys_iw_constants.js
  apps/web/heys_tdee_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  docs/implementation/UI_V4_FULL_CONVERGENCE_PROTOCOL.md
  docs/reference/systems/TRAINING_MODES.md
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_HANDOFF_CODEX.md
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/_kernel/heys_kernel_strength_v1.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_day_norm_v1.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_iw_constants.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_tdee_v1.js
Due: eslint --max-warnings=500, prettier --write

feat(strength): align plan feed with v4 canvas
  apps/web/__tests__/activity-plan-card-frame.test.js
  apps/web/__tests__/program-week-overview.test.js
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/heys_day_trainings_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/731-ui-v4-activity.css
Due: eslint --max-warnings=500

docs(ui-v4): record plan feed convergence
  docs/implementation/UI_V4_FULL_CONVERGENCE_PROTOCOL.md
  docs/reference/systems/TRAINING_MODES.md
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_HANDOFF_CODEX.md
  docs/ui/verdicts/strength-builder.json
Due: prettier --write

feat(ui-v4): add canonical visual automation
  apps/web/__tests__/ui-v4-progress-report.test.js
  apps/web/__tests__/ui-v4-reverse-coverage.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  scripts/lib/ui-v4-canvas-index.mjs
  scripts/ui-v4-progress-report.mjs
Due: eslint --max-warnings=500

docs(ui-v4): record visual automation baseline
  docs/implementation/UI_V4_FULL_CONVERGENCE_PROTOCOL.md
Due: prettier --write

feat(ui-v4): add typed contract assertions
  apps/web/__tests__/ui-v4-assertions.test.js
  apps/web/__tests__/ui-v4-progress-report.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  scripts/lib/ui-v4-assertions.mjs
  scripts/ui-v4-progress-report.mjs
Due: eslint --max-warnings=500

docs(ui-v4): record typed automation progress
  docs/implementation/UI_V4_FULL_CONVERGENCE_PROTOCOL.md
Due: prettier --write

feat(ui-v4): capture first strength evidence batch
  apps/web/__tests__/ui-v4-dom-contracts.test.js
  apps/web/__tests__/ui-v4-dom-evidence.test.js
  apps/web/__tests__/ui-v4-progress-report.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/scripts/ui-v4-dom-contracts.mjs
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  scripts/lib/ui-v4-dom-evidence.mjs
  scripts/ui-v4-progress-report.mjs
Due: eslint --max-warnings=500

feat(ui-v4): align strength plan feed with canvas
  apps/web/__tests__/activity-plan-card-frame.test.js
  apps/web/__tests__/program-week-overview.test.js
  apps/web/heys_day_trainings_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/731-ui-v4-activity.css
Due: eslint --max-warnings=500

feat(ui-v4): converge builder and superset frames
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/strength/heys_strength_catalog_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
Due: eslint --max-warnings=500

fix(ui-v4): restore strength finish palette
  apps/web/__tests__/strength-builder-finish-v4-canvas-contract.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/styles/modules/750-strength-builder.css
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): align lowered norm correction screen
  apps/web/__tests__/norm-correction-weekly-card.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/heys-components.css
  docs/implementation/UI_V4_FULL_CONVERGENCE_PROTOCOL.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/norm-correction.v4.dc.html
Due: eslint --max-warnings=500, prettier --write

test(ui-v4): bind completed frames to row evidence
  apps/web/__tests__/ui-v4-completed-frame-evidence.test.js
  apps/web/scripts/ui-v4-completed-frame-evidence.mjs
  docs/implementation/UI_V4_FULL_CONVERGENCE_PROTOCOL.md
  docs/ui/verdicts/norm-correction.json
  docs/ui/verdicts/strength-builder.json
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): align strength exercise catalog
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/strength/heys_strength_catalog_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): align active strength builder frame
  apps/web/__tests__/strength-builder-calm-canvas-contract.test.js
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): align registration personal step
  apps/web/__tests__/registration-canvas-parity.test.js
  apps/web/__tests__/registration-v4-contract-geometry.test.js
  apps/web/__tests__/registration-v4-contract-sweep.test.js
  apps/web/heys_profile_step_v1.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/ui/UI_V4_DESIGNER_REQUEST.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/registration.v4.dc.html
Due: eslint --max-warnings=500, prettier --write

test(ui-v4): normalize active builder fixture
  apps/web/scripts/ui-v4-visual-capture.mjs
Due: none

test(ui-v4): keep active builder fixture semantically open
  apps/web/scripts/ui-v4-visual-capture.mjs
Due: none

fix(ui-v4): align empty strength builder frame
  apps/web/__tests__/strength-builder-empty-v4-canvas-contract.test.js
  apps/web/styles/modules/750-strength-builder.css
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
Due: eslint --max-warnings=500, prettier --write

test(ui-v4): bind next visual frames to evidence
  apps/web/__tests__/registration-v4-contract-sweep.test.js
  apps/web/__tests__/strength-builder-calm-canvas-contract.test.js
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/__tests__/ui-v4-completed-frame-evidence.test.js
  apps/web/scripts/ui-v4-completed-frame-evidence.mjs
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/ui/verdicts/registration.json
  docs/ui/verdicts/strength-builder.json
  scripts/lib/ui-v4-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): align cycle date picker
  apps/web/__tests__/cycle-date-picker-v4.test.js
  apps/web/heys_day_pickers.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/ui/UI_V4_DESIGNER_REQUEST.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/cycle.v4.dc.html
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): align empty meal copy sheet
  apps/web/__tests__/copy-meal-empty-target-v4.test.js
  apps/web/__tests__/food-meal-transfer-v4.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/heys_day_copy_meal_modal_v1.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/ui/UI_V4_DESIGNER_REQUEST.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/food-meal.v4.dc.html
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): align meal copy target sheet
  apps/web/__tests__/copy-meal-empty-target-v4.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/ui/UI_V4_DESIGNER_REQUEST.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/food-meal.v4.dc.html
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): align meal move sheet
  apps/web/__tests__/food-meal-transfer-v4.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/food-meal.v4.dc.html
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): align norm correction typography
  apps/web/__tests__/norm-correction-weekly-card.test.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/styles/heys-components.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): align insights what-if panel
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/reports-insights.v4.dc.html
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): align home widget grid
  apps/web/__tests__/widgets-v4-canvas-geometry.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): make home empty states honest
  apps/web/__tests__/home-widgets-empty-day-v4.test.js
  apps/web/__tests__/widgets-data-missing-sources.test.js
  apps/web/__tests__/widgets-v4-canvas-geometry.test.js
  apps/web/__tests__/widgets-v4-sphere.test.js
  apps/web/heys_widgets_data_crash_risk_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/widgets/widget_data.js
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/reference/IMPROVEMENT_HISTORY.md
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

test(ui-v4): capture empty home screen
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): align home shell geometry
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/__tests__/widgets-screen-budget-v4.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): reduce home tile visual delta
  apps/web/__tests__/widget-insulin-wave-v4.test.js
  apps/web/__tests__/widgets-v4-sphere.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): align home widget details
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/__tests__/widgets-v4-sphere.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write
