Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

docs(release): archive signed legal docs to подписано folder
  docs/release/release-track-a.md
  docs/release/release-track-b.md
  docs/release/release-track-d.md
  docs/release/подписано в реальности/ocenka-pravovogo-rezhima.md
  docs/release/подписано в реальности/prinyatie-riska-ch14-st12.md
Due: prettier --write

feat(web): hdr sticky date collapse in scroll viewport
  apps/web/__tests__/app-header-tab-switch.test.js
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/__tests__/hdr-date-collapse.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/styles/critical.css
  apps/web/styles/modules/000-base-and-gamification.css
  docs/implementation/HDR_DATE_COLLAPSE_PROTOCOL.md
  docs/ui/handoff-v4/ПРОМПТ_дизайнеру_sticky_дата_скролл.md
Due: eslint --max-warnings=500, prettier --write

feat(web): registration welcome split and profile step v4
  apps/web/__tests__/first-login-registration-flow.test.js
  apps/web/__tests__/login-v4-structure.test.js
  apps/web/__tests__/registration-canvas-parity.test.js
  apps/web/__tests__/registration-welcome-split-smoke.test.js
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_app_gate_state_v1.js
  apps/web/heys_app_root_impl_v1.js
  apps/web/heys_profile_step_v1.js
  apps/web/styles/modules/733-ui-v4-login-theme.css
  docs/implementation/REGISTRATION_WELCOME_SPLIT_PROTOCOL.md
  docs/ui/handoff-v4/canvas/Регистрация и чек-ин v4.dc.html
  docs/ui/handoff-v4/canvas/Согласия v4.dc.html
Due: eslint --max-warnings=500, prettier --write

feat(web): morning checkin v4 flow and layout
  apps/web/__tests__/morning-checkin-readiness.test.js
  apps/web/__tests__/morning-checkin-stability.test.js
  apps/web/__tests__/morning-checkin-v4-layout-smoke.test.js
  apps/web/__tests__/morning-checkin-v4-smoke.test.js
  apps/web/heys_app_morning_checkin_v1.js
  apps/web/heys_morning_checkin_v1.js
  docs/implementation/MORNING_CHECKIN_V4_PROTOCOL.md
  docs/ui/handoff-v4/ПРОМПТ_дизайнеру_чек-ин_все_шаги.md
Due: eslint --max-warnings=500, prettier --write

feat(web): consents v4 honest summaries and markdown render
  apps/web/__tests__/consent-honest-summaries.test.js
  apps/web/__tests__/consent-markdown-render.test.js
  apps/web/heys_consents_v1.js
Due: eslint --max-warnings=500

feat(web): curator changelog sheet v4 palette
  apps/web/__tests__/curator-actions-banner.test.js
  apps/web/__tests__/curator-sheet-canvas-smoke.test.js
  apps/web/__tests__/curator-sheet-palette.test.js
  apps/web/heys_curator_actions_banner_v1.js
  apps/web/heys_curator_push_onboarding_banner_v1.js
  docs/implementation/CURATOR_CHANGELOG_SHEET_V4_PROTOCOL.md
  docs/ui/handoff-v4/ПРОМПТ_дизайнеру_лист_куратора.md
Due: eslint --max-warnings=500, prettier --write

feat(web): push consent signing and SW ready guard
  apps/web/__tests__/push-sw-ready-guard.test.js
  apps/web/heys_push_v1.js
  apps/web/public/sw.js
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

feat(web): adaptive steps goal, step modal and yesterday verify
  apps/web/__tests__/adaptive-steps-goal.test.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_yesterday_verify_v1.js
Due: eslint --max-warnings=500

style(web): figtree font and v4 css palette polish
  apps/web/__tests__/boot-spinner-mark.test.js
  apps/web/public/fonts/figtree/Figtree-Variable.ttf
  apps/web/public/fonts/figtree/OFL.txt
  apps/web/styles/heys-boot-mark.css
  apps/web/styles/heys-components.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

feat(web): overlays, widgets dashboard and loading progress wiring
  apps/web/heys_app_overlays_v1.js
  apps/web/heys_app_tab_state_v1.js
  apps/web/heys_loading_progress_v1.js
  apps/web/heys_models_v1.js
  apps/web/heys_user_tab_impl_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/widgets/widget_data.js
Due: eslint --max-warnings=500

docs: sync handoff, onboarding and v4 plan; add typing board
  docs/HEYS-HANDOFF-BOOTSTRAP.md
  docs/dev/ONBOARDING.md
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  docs/reference/systems/SUBSCRIPTION_AND_PAYMENTS.md
  docs/ui/handoff-v4/README.md
  docs/ui/handoff-v4/canvas/README.md
  typing-board.html
  yandex-cloud-functions/__tests__/messenger-gateway-contract.test.cjs
Due: prettier --write

chore(web): rebuild legacy bundles for v4 UI batch
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.0aed5029363d.js
  apps/web/public/boot-app.bundle.0aed5029363d.js.gz
  apps/web/public/boot-app.bundle.44fd86df8afc.js
  apps/web/public/boot-app.bundle.44fd86df8afc.js.gz
  apps/web/public/boot-core.bundle.11fb66997c2d.js
  apps/web/public/boot-core.bundle.11fb66997c2d.js.gz
  apps/web/public/boot-core.bundle.a16c6183c48f.js
  apps/web/public/boot-core.bundle.a16c6183c48f.js.gz
  apps/web/public/boot-day.bundle.0afdddd3a83d.js
  apps/web/public/boot-day.bundle.0afdddd3a83d.js.gz
  apps/web/public/boot-day.bundle.3461aaf14ade.js
  apps/web/public/boot-day.bundle.3461aaf14ade.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.537c16219350.js
  apps/web/public/postboot-1-game-lazy.bundle.537c16219350.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.e9440f3462da.js
  apps/web/public/postboot-1-game-lazy.bundle.e9440f3462da.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.896f09784b73.js
  apps/web/public/postboot-3-ui-lazy.bundle.896f09784b73.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.cdf412c5ec19.js
  apps/web/public/postboot-3-ui-lazy.bundle.cdf412c5ec19.js.gz
  apps/web/scripts/boot-frame-capture.mjs
Due: eslint --max-warnings=500, prettier --write

test(web): sync guardrails with v4 boot mark and yesterday verify
  apps/web/__tests__/boot-spinner-mark.test.js
  apps/web/__tests__/curator-sheet-palette.test.js
  apps/web/__tests__/morning-checkin-stability.test.js
Due: eslint --max-warnings=500

test(web): sync registration resume guardrails for deploy gate
  apps/web/__tests__/first-login-onboarding-guardrails.test.js
  apps/web/__tests__/morning-checkin-flow-resume.test.js
Due: eslint --max-warnings=500

test(web): fix deploy-gate tests for push SW guard and profile resume
  apps/web/__tests__/consent-gate-flow.test.js
  apps/web/__tests__/push-vapid-key-rotation.test.js
  apps/web/__tests__/reports-v4-structure.test.js
Due: eslint --max-warnings=500

fix(web): restore classic act-text literal for ui v4 drift gate
  apps/web/styles/modules/000-base-and-gamification.css
Due: none

fix(security): green SAST baseline and dependency gate for v4 batch
  package.json
  pnpm-lock.yaml
  scripts/security/dependency-check.js
  scripts/security/sast-scan.js
  security-reports/sast-baseline.json
Due: eslint --max-warnings=500, prettier --write

fix(security): normalize SAST evidence line endings for CI parity
  scripts/security/sast-scan.js
  security-reports/sast-baseline.json
Due: eslint --max-warnings=500, prettier --write

feat(web): curator changelog v4 sheet grouping and curator name header
  apps/web/__tests__/curator-actions-banner.test.js
  apps/web/__tests__/curator-sheet-canvas-smoke.test.js
  apps/web/__tests__/yandex-api-session-guards.test.js
  apps/web/heys_curator_actions_banner_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/implementation/CURATOR_CHANGELOG_SHEET_V4_PROTOCOL.md
  yandex-cloud-functions/heys-api-rpc/__tests__/curator-action-diff.test.js
  yandex-cloud-functions/heys-api-rpc/curator-action-diff.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

fix(test): stabilize reports cache signature tests on Mondays
  apps/web/__tests__/reports-tab-phantom-calls.test.js
Due: eslint --max-warnings=500

perf(mcp): cut transcript round-trips on every diary write
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
Due: eslint --max-warnings=500, prettier --write

docs(mcp): keep the timing journal rows inside the table
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
Due: prettier --write

docs(mcp): correct which tools carry the write tail
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
Due: prettier --write

perf(mcp): overlap independent upstream reads on write tools
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

docs(mcp): record the post-deploy timing check
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
Due: prettier --write

perf(mcp): stop forcing a preset lookup before every composite meal
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
Due: eslint --max-warnings=500, prettier --write

docs(cloudfn): record post-deploy timings and the required YC root cert
  yandex-cloud-functions/DEPLOY_GUIDE.md
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
Due: prettier --write

fix(mcp): stop the fast path from promising one call under the check-in gate
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
Due: eslint --max-warnings=500

feat(web): yesterday verify v4 gate before morning check-in
  apps/web/__tests__/yesterday-verify-v4-pack.test.js
  apps/web/heys_yesterday_verify_v1.js
  apps/web/styles/modules/715-yesterday-verify.css
Due: eslint --max-warnings=500

feat(web): morning check-in v4 ritual, activation and protocol
  apps/web/__tests__/morning-activation-followup.test.js
  apps/web/__tests__/morning-checkin-v4-layout-smoke.test.js
  apps/web/__tests__/morning-checkin-v4-smoke.test.js
  apps/web/heys_morning_checkin_v1.js
  docs/implementation/MORNING_CHECKIN_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

feat(web): steps v4 flow with cascade step modal
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_steps_v1.js
Due: eslint --max-warnings=500

feat(web): app shell v4 frame, PWA offline shell and boot mark
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/__tests__/boot-spinner-mark.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_activity_v1.js
  apps/web/styles/heys-boot-mark.css
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

chore(web): rebuild legacy bundles for v4 morning flow
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.0aed5029363d.js
  apps/web/public/boot-app.bundle.0aed5029363d.js.gz
  apps/web/public/boot-app.bundle.6533e4b092c7.js
  apps/web/public/boot-app.bundle.6533e4b092c7.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.b63957f425c2.js
  apps/web/public/postboot-1-game-lazy.bundle.b63957f425c2.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.e9440f3462da.js
  apps/web/public/postboot-1-game-lazy.bundle.e9440f3462da.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.1706e40d9927.js
  apps/web/public/postboot-3-ui-lazy.bundle.1706e40d9927.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.896f09784b73.js
  apps/web/public/postboot-3-ui-lazy.bundle.896f09784b73.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(security): refresh SAST and dependency scan reports
  security-reports/dependency-security-report.html
  security-reports/dependency-security-report.json
  security-reports/sast-report.html
  security-reports/sast-report.json
  security-reports/sast-report.sarif
Due: prettier --write

chore: log 2026-08-17 typing practice session
  typing-board.html
Due: none

fix(mcp): penalize ingredient matches deep in composite product names
  yandex-cloud-functions/heys-mcp/lib/products.js
Due: eslint --max-warnings=500

test(mcp): cover composite-name product search ranking
  yandex-cloud-functions/heys-mcp/__tests__/products.test.cjs
Due: none

test(web): align morning check-in resume fixtures with v4 morningRest step
  apps/web/__tests__/morning-checkin-flow-resume.test.js
Due: eslint --max-warnings=500

fix(web): restore v4 color literals and update yesterday verify stability checks
  apps/web/__tests__/morning-checkin-stability.test.js
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/715-yesterday-verify.css
Due: eslint --max-warnings=500
