Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

docs(вердикты): кадры вариантов воды — предложения, а не экраны
  docs/ui/verdicts/water-add.json
Due: prettier --write

feat(инсайты): шапка и герой сведены с кадром, переносы строк возвращены
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/ui/verdicts/reports-insights.json
Due: eslint --max-warnings=500, prettier --write

fix(вредность): расшифровка оценки получила правила, которых у неё не было
  apps/web/styles/modules/611-aps-product-card.css
  docs/ui/verdicts/product-card.json
Due: prettier --write

fix(фото приёма): «Снять» вместо второй кнопки добавления
  apps/web/heys_day_add_product.js
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/ui/verdicts/food-meal.json
Due: eslint --max-warnings=500, prettier --write

test(анкета): зона закрыта, у неё появился свой тест сверки
  apps/web/__tests__/questionnaire-v4-contract-geometry.test.js
  apps/web/heys_trial_intake_v1.js
  docs/ui/verdicts/questionnaire.json
Due: eslint --max-warnings=500, prettier --write

feat(геймификация): зона сведена с разбором кадров, вердикты закрыты все 392
  apps/web/__tests__/gamification-v4-canvas-razbor.test.js
  apps/web/heys_gamification_screens_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  docs/implementation/GAMIFICATION_V4_CANVAS_RAZBOR.md
  docs/ui/verdicts/gamification.json
Due: eslint --max-warnings=500, prettier --write

docs(питание): совет внутри приёма нарисован, но не собран
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/nutrition-tab.json
Due: prettier --write

fix(отказ сохранения): экран «Продукт не сохранён» сведён с кадром
  apps/web/styles/modules/600-steps-and-aps.css
  docs/ui/verdicts/product-card.json
Due: prettier --write

test(зона): покадровый разбор «Инсайтов» вынесен в свой файл
  apps/web/__tests__/insights-v4-canvas-razbor.test.js
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
Due: eslint --max-warnings=500

feat(стили): храповик на переменные, которые читаются и нигде не объявляются
  scripts/ui-check-undeclared-vars.mjs
Due: none

fix(разбор строки): имя и макросы красились несуществующими токенами
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/611-aps-product-card.css
  docs/ui/verdicts/product-card.json
Due: prettier --write

chore(гейты): храповик необъявленных переменных включён в ui:v4:check
  package.json
Due: prettier --write

fix(инсайты): «Подробно» перестало выглядеть подписью карточки
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/ui/verdicts/reports-insights.json
Due: prettier --write

fix(отчёты): строка каскада Score была плотнее любой другой строки зоны
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/styles/modules/733-ui-v4-reports.css
Due: eslint --max-warnings=500

fix(наборы): две роли, которых нет ни в одном наборе, и два мёртвых правила
  apps/web/__tests__/add-product-presets-v4-structure.test.js
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/ui/verdicts/food-meal.json
  scripts/ui-v4-check-undefined-roles.mjs
Due: eslint --max-warnings=500, prettier --write

docs(вердикты): зона «Питание» закрыта — 0 строк без вердикта
  docs/ui/verdicts/nutrition-tab.json
Due: prettier --write

fix(разбор, вторичная кнопка): холодный серый бренда и лишняя тень плашки
  apps/web/styles/modules/600-steps-and-aps.css
  docs/implementation/PRODUCT_CARD_V4_PROTOCOL.md
  docs/ui/verdicts/product-card.json
Due: prettier --write

docs(правила): зелёная проверка обязана отличать «сошлось» от «не смотрели»
  AGENTS.md
  CLAUDE.md
Due: prettier --write

chore(гейт): заморозка запасных значений затянута на пять мест
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: none

feat(питание): блок оценки и риска сведён, знаменатель охвата пересчитан
  apps/web/__tests__/nutrition-v4-canvas-razbor.test.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
  docs/implementation/NUTRITION_TAB_V4_CANVAS_RAZBOR.md
Due: eslint --max-warnings=500, prettier --write

fix(сборка набора): экран собран в порядке кадра и ушёл с прежней системы
  apps/web/heys_add_product_step_v1.js
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/ui/verdicts/food-meal.json
Due: eslint --max-warnings=500, prettier --write

fix(правка, сканер): авто-расчёт стал строкой, шаблон — обводкой
  apps/web/styles/heys-components.css
  apps/web/styles/modules/611-aps-product-card.css
  docs/ui/verdicts/product-card.json
Due: prettier --write

test(отчёты): плитки «Итога периода» закрыты парами
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
Due: eslint --max-warnings=500

fix(вердикты): реестр гейта опережал снимок на одну запись
  docs/ui/verdicts/reports-insights.json
Due: prettier --write

docs(дизайн): пакет пересобран на вечер — 69 записей, четыре закрытых уехали в архив
  docs/ui/UI_V4_DESIGNER_REQUEST.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: prettier --write

fix(инсайты): лестница нового пользователя перестала быть списком
  apps/web/styles/modules/734-ui-v4-insights.css
Due: none

fix(пресеты граммовки): невидимая цель 44 вместо плашки 35 × 32
  apps/web/styles/modules/611-aps-product-card.css
  docs/ui/verdicts/product-card.json
Due: prettier --write

feat(питание): кадры зон в сверке, охват 18 строк из достижимых 59
  apps/web/__tests__/nutrition-v4-canvas-razbor.test.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
  docs/implementation/NUTRITION_TAB_V4_CANVAS_RAZBOR.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/nutrition-tab.json
Due: eslint --max-warnings=500, prettier --write

fix(модалки набора): содержимое ушло с инлайна и чужих классов
  apps/web/heys_add_product_step_v1.js
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/ui/verdicts/food-meal.json
Due: eslint --max-warnings=500, prettier --write

docs(карточка продукта): проза канваса расходится со своим разбором семь раз
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/product-card.json
Due: prettier --write

docs(вердикты): плитки «Итога периода» закрыты в снимке
  docs/ui/verdicts/reports-insights.json
Due: prettier --write

test(зона): реестр отступлений разделён, гейт называет сторону расхождения
  apps/web/__tests__/insights-v4-canvas-razbor.test.js
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
Due: eslint --max-warnings=500

docs(карточка продукта): очередь правок в чужом файле сведена в список
  docs/implementation/PRODUCT_CARD_V4_PROTOCOL.md
Due: prettier --write

docs(проверка зон): замер покрытия кабинета и три вердикта против мёртвых правил
  docs/ui/UI_V4_AUDIT_CLOSED_ZONES.md
Due: prettier --write

fix(спарклайн): тёмная половина моста тоже закрыта
  apps/web/styles/modules/600-steps-and-aps.css
Due: none

fix(палитра): пробники замера переехали на корневой элемент
  docs/ui/UI_V4_SAND_ROLES_MEASURED.md
  scripts/ui-v4-measure-set-axis.mjs
Due: prettier --write

feat(разбор): общий разборщик научился читать рамку
  apps/web/__tests__/canvas-razbor-helpers.js
  apps/web/__tests__/nutrition-v4-canvas-razbor.test.js
  docs/implementation/NUTRITION_TAB_V4_CANVAS_RAZBOR.md
Due: eslint --max-warnings=500, prettier --write

docs(проверка зон): чек-ин — 365 вердиктов ссылаются на гейт, не читающий их строк
  docs/ui/UI_V4_AUDIT_CLOSED_ZONES.md
Due: prettier --write

fix(вердикты): вердикт удостоверял удалённый компонент
  docs/ui/verdicts/reports-insights.json
Due: prettier --write

docs(вердикты): причина у яруса «Каскад» уточнена по замеру, а не по чтению
  docs/ui/verdicts/reports-insights.json
Due: prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
