Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(питание): итог приёма после добавления продукта и его подвал по контракту
  apps/web/__tests__/add-product-grams-summary-v4-structure.test.js
  apps/web/__tests__/add-product-search-edge-v4-structure.test.js
  apps/web/__tests__/nutrition-v4-add-product-summary.test.js
  apps/web/day/_meals.js
  apps/web/heys_day_add_product.js
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/ui/verdicts/food-meal.json
Due: eslint --max-warnings=500, prettier --write

fix(шапка): значок советов и его счётчик перестали резаться строкой уровня
  apps/web/__tests__/ui-v4-header-appearance.test.js
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500

feat(чек-ин): резервный вопрос после еды сведён с кадром
  apps/web/__tests__/checkin-reserve-question-v4.test.js
  apps/web/heys_morning_activation_calendar_v1.js
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/300-modals-and-day.css
  docs/ui/verdicts/checkin-morning.json
Due: eslint --max-warnings=500, prettier --write

feat(стенды): резервный вопрос снимается сам и сразу нашёл два дефекта
  apps/web/__tests__/checkin-reserve-question-v4.test.js
  apps/web/heys_steps_v1.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/731-ui-v4-activity.css
Due: eslint --max-warnings=500

feat(резервный вопрос): крест ушёл вправо, заголовок остался по центру
  apps/web/__tests__/checkin-reserve-question-v4.test.js
  apps/web/styles/modules/300-modals-and-day.css
Due: eslint --max-warnings=500

fix(виджеты): проверка тренда здоровья сторожит правило, а не текст строки
  apps/web/__tests__/widgets-data-missing-sources.test.js
  apps/web/heys_pwa_module_v1.js
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-checkin-morning.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-home-widgets.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/checkin-morning.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/contract-audit.js
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/contract-snapshot.js
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/cycle.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/food-meal.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/norm-correction.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/nutrition-tab.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/registration.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/reports-insights.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/checkin-morning.v4.html
  scripts/lib/ui-v4-dom-measure.mjs
Due: eslint --max-warnings=500, prettier --write

feat(шаговые модалки): линия под шапкой убрана, кегли листа по своему кадру
  apps/web/__tests__/step-modal-shell-v4.test.js
  apps/web/styles/modules/300-modals-and-day.css
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

fix(стенограмма): chrono приехал в ту копию, которая пишет файл
  yandex-cloud-functions/heys-api-rpc/lib/heys_tasks_kv.cjs
  yandex-cloud-functions/heys-mcp/__tests__/transcript-chrono-order.test.cjs
Due: none

fix(резервный вопрос): подпись шапки встала слева вместе с заголовком
  apps/web/__tests__/checkin-reserve-question-v4.test.js
  apps/web/styles/modules/300-modals-and-day.css
Due: eslint --max-warnings=500

fix(стенограмма): chrono разрешён и во внешней проверке режима
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-mcp/__tests__/transcript-chrono-order.test.cjs
Due: eslint --max-warnings=500

fix(гейты v4): контур сведения отделён от выкатки, rehash перестал красить зелёным
  .github/workflows/deploy-yandex.yml
  .github/workflows/ui-v4-design-gates.yml
  AGENTS.md
  CLAUDE.md
  apps/web/vitest.config.ts
  scripts/ui-v4-check-contract-drift.mjs
Due: eslint --max-warnings=500, prettier --write

test(гейты v4): четыре проверки сторожат правило, а не форму записи
  apps/web/__tests__/activity-v4-structure.test.js
  apps/web/__tests__/home-widgets-empty-day-v4.test.js
  apps/web/__tests__/ui-v4-reverse-coverage.test.js
  apps/web/__tests__/widgets-bd-sheet-canvas-razbor.test.js
Due: eslint --max-warnings=500

chore(вердикты): baseline подтянут за разбором чек-ина и питания
  scripts/lib/ui-v4-verdicts.mjs
Due: none

fix(задачник): облако принимало целиковый файл поверх чужой правки
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/lib/heys_tasks_kv.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks-whole-file-write.test.cjs
  yandex-cloud-functions/heys-mcp/lib/heys-api.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

fix(чек-ин): утренний чек-ин сведён с пакетом 3 сентября
  apps/web/__tests__/checkin-v4-canvas-razbor.test.js
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/checkin-morning.json
Due: eslint --max-warnings=500, prettier --write

fix(виджеты): плитки Главной молчали о том, что сами считают
  apps/web/__tests__/widgets-canvas-copy.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/heys_widgets_weight_dynamics_v4.js
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

test(контракт): ключи задачника тоже берутся под FOR UPDATE
  apps/web/__tests__/sync-merge-shared.test.js
Due: eslint --max-warnings=500

fix(secrets): порядок похода в сейф разлит по 14 отставшим копиям
  yandex-cloud-functions/heys-api-auth/shared/secrets.js
  yandex-cloud-functions/heys-api-leads/shared/secrets.js
  yandex-cloud-functions/heys-api-messages/shared/secrets.js
  yandex-cloud-functions/heys-api-payments/shared/secrets.js
  yandex-cloud-functions/heys-api-photos/shared/secrets.js
  yandex-cloud-functions/heys-api-push/shared/secrets.js
  yandex-cloud-functions/heys-api-rpc/shared/secrets.js
  yandex-cloud-functions/heys-bot-client/shared/secrets.js
  yandex-cloud-functions/heys-cron-reminders/shared/secrets.js
  yandex-cloud-functions/heys-cron-security-alerts/shared/secrets.js
  yandex-cloud-functions/heys-cron-speechkit-transcribe/shared/secrets.js
  yandex-cloud-functions/heys-cron-trial-drip/shared/secrets.js
  yandex-cloud-functions/heys-maintenance/shared/secrets.js
  yandex-cloud-functions/heys-mcp/__tests__/secrets-lockbox-order-copies.test.cjs
  yandex-cloud-functions/heys-mcp/shared/secrets.js
Due: eslint --max-warnings=500

feat(задачник): облако сливает две правки одного файла вместо выбора победителя
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/lib/heys_tasks_kv.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks-three-way-merge.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

fix(db): масса общего каталога проверяется двумя правилами вместо одного
  docs/reference/systems/PRODUCTS_AND_SEARCH.md
  scripts/db/migrations/2026-09-03_shared_products_macro_mass_rule.sql
  scripts/db/migrations/manifest.json
  yandex-cloud-functions/heys-api-rpc/__tests__/pg-check-violation.test.js
  yandex-cloud-functions/heys-api-rpc/shared/pg-check-violation.js
Due: eslint --max-warnings=500, prettier --write

feat(виджеты): «Динамика веса» получила вид 2×2 по кадру дизайна
  apps/web/__tests__/widgets-canvas-copy.test.js
  apps/web/__tests__/widgets-weight-dynamics-chart-2x2.test.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/heys_widgets_variants_v4.js
  apps/web/heys_widgets_weight_dynamics_v4.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

feat(продукты): куратор через коннектор правит общую карточку, а не только копию клиента
  yandex-cloud-functions/heys-mcp/CURATOR_GUIDE.md
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/product-shared-edit.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/heys-api.js
  yandex-cloud-functions/heys-mcp/lib/products.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

fix(продукты): отказ общей базы по CHECK больше не выглядит как «http_500»
  yandex-cloud-functions/heys-mcp/__tests__/product-shared-edit.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

fix(sast): адрес REST-шлюза перестал читаться как SQL-инъекция
  scripts/security/sast-scan.js
Due: eslint --max-warnings=500

docs(дизайн): ответ на разбор дизайнера — шесть разделов и три поправки к своим же записям
  docs/ui/composer-supplements-marks-answers.md
  docs/ui/designer-answers/А1-А3.md
  docs/ui/designer-answers/Ответ-3-сентября.md
  docs/ui/verdicts/settings-system.json
  scripts/bootstrap-bypass-allowlist.txt
Due: prettier --write

fix(советы приёма): блок следует набору, а не песочной палитре
  apps/web/__tests__/cycle-v4-contract.test.js
  apps/web/__tests__/food-meal-transfer-v4.test.js
  apps/web/__tests__/meal-advice-family-icon.test.js
  apps/web/__tests__/nutrition-v4-canvas-razbor.test.js
  apps/web/__tests__/supplements-known-ids-mirror-catalog.test.js
  apps/web/heys_day_meal_optimizer_section.js
  apps/web/heys_health_features_v1.js
  apps/web/heys_meal_optimizer_v1.js
  apps/web/heys_meal_step_v1.js
  apps/web/heys_move_modal_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/610-aps-meal-flow.css
  apps/web/styles/modules/611-aps-product-card.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/731-ui-v4-activity.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
  apps/web/styles/modules/734-ui-v4-curator-panel.css
  apps/web/styles/modules/734-ui-v4-insights.css
  apps/web/styles/modules/750-strength-builder.css
  apps/web/styles/modules/800-meal-optimizer.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/designer-answers/mapping-советы-приёма.md
  docs/ui/designer-answers/Протокол-правок-3-сентября.md
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: eslint --max-warnings=500, prettier --write

fix(лист переноса): высота по содержимому вместо трёхсот пикселей пустоты
  apps/web/__tests__/meal-advice-family-icon.test.js
  apps/web/heys_meal_optimizer_v1.js
  apps/web/styles/modules/610-aps-meal-flow.css
  apps/web/styles/modules/800-meal-optimizer.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/designer-answers/mapping-советы-приёма.md
  docs/ui/designer-answers/Протокол-правок-3-сентября.md
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

docs(правила): запись в общее дерево — проверка перед перезаписью
  AGENTS.md
  CLAUDE.md
  scripts/check-agent-policy-parity.mjs
Due: prettier --write

feat(цикл): инсайт называет цену поправки числом и виден в дни надбавки
  apps/web/__tests__/cycle-insight-balance.test.js
  apps/web/heys_cycle_ui_v1.js
  apps/web/heys_day_stats_v1.js
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/ui/designer-answers/Протокол-правок-3-сентября.md
  docs/ui/verdicts/cycle.json
  scripts/lib/ui-v4-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

feat(задачник): отметка дела больше не закрывает день
  yandex-cloud-functions/heys-api-rpc/lib/heys_tasks_kv.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
  yandex-cloud-functions/heys-mcp/lib/tool-annotations.js
Due: eslint --max-warnings=500

docs(куратор): правило закрытия дня знает про отметку по ходу
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
Due: eslint --max-warnings=500

fix(дизайн): пакет лежит как поставлен — prettier его больше не переписывает
  .prettierignore
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-app-splash.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-checkin-morning.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-curator-cabinet.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-curator-edits.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-cycle.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-date-remainders.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-food-meal.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-gamification.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-home-widgets.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-login.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-norm-correction.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-nutrition-tab.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-product-card.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-pwa-update.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-questionnaire.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-registration.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-reports-insights.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-settings-system.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-spinners.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-strength-builder.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-tab-activity.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-tips.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-undo-bar.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-water-add.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ANSWERS-coder-blank.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ANSWERS-designer-27-open.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/DESIGNER-answer-2026-09-03.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/QUESTIONS-to-coder.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/REQUEST-cycle.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/canon-atoms.json
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/fixtures/workout-23-sets.json
Due: prettier --write

fix(коннектор): чтение многих ключей режется на пачки и делится на отказе
  yandex-cloud-functions/heys-mcp/__tests__/kv-many-chunking.test.cjs
  yandex-cloud-functions/heys-mcp/lib/heys-api.js
Due: eslint --max-warnings=500

docs(вердикты): четыре зоны пересмотрены под пакет 3 сентября
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/cycle.json
  docs/ui/verdicts/spinners.json
  docs/ui/verdicts/undo-bar.json
  docs/ui/verdicts/water-add.json
  scripts/lib/ui-v4-verdicts.mjs
Due: prettier --write

docs(вердикты): геймификация пересмотрена под пакет 3 сентября
  docs/ui/verdicts/gamification.json
  scripts/lib/ui-v4-verdicts.mjs
Due: prettier --write

docs(вердикты): food-meal пересмотрен, пять записей журнала закрыты решением
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/verdicts/food-meal.json
  scripts/lib/ui-v4-verdicts.mjs
Due: prettier --write

feat(роли бд): heys-api-auth переведена на собственную роль
  scripts/db/migrations/2026-09-03_rls_policies_heys_rpc_auth.sql
  scripts/db/migrations/manifest.json
  yandex-cloud-functions/deploy-all.sh
Due: prettier --write

docs(вердикты): виджеты Главной пересмотрены под пакет 3 сентября
  apps/web/heys_widgets_variants_v4.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/verdicts/home-widgets.json
  scripts/lib/ui-v4-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write
