Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat(heys-mcp): route dish composition questions to heys_get_recipe
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
Due: eslint --max-warnings=500

fix(web): restore splash index.html markup dropped by bundle sync
  apps/web/index.html
Due: none

feat(ops): auto-deploy heys-mcp and smoke the live connector
  .github/workflows/cloud-functions-deploy.yml
  yandex-cloud-functions/__tests__/function-inventory.test.cjs
  yandex-cloud-functions/function-inventory.cjs
  yandex-cloud-functions/heys-mcp/MCP_TELEMETRY_ROADMAP.md
Due: prettier --write

fix(heys-mcp): put daily diary tools at the top of the tool list
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

feat(heys-mcp): log what tools/list actually returned to the client
  yandex-cloud-functions/heys-mcp/MCP_TELEMETRY_ROADMAP.md
  yandex-cloud-functions/heys-mcp/__tests__/mcp.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/telemetry.js
Due: eslint --max-warnings=500, prettier --write

fix(web): split PWA system splash from home icon and boot spinner
  apps/web/__tests__/boot-spinner-mark.test.js
  apps/web/public/apple-touch-icon.png
  apps/web/public/icon-192.png
  apps/web/public/icon-512.png
  apps/web/public/icon-maskable-192.png
  apps/web/public/icon-maskable-512.png
  apps/web/public/icon-v4-apple.svg
  apps/web/public/icon-v4.svg
  apps/web/public/manifest.json
  apps/web/scripts/generate-pwa-icons.mjs
  apps/web/styles/heys-boot-mark.css
Due: eslint --max-warnings=500, prettier --write

test(web): align modal dismiss tests with vitest harness
  apps/web/__tests__/heys_modal_dismiss.test.js
  apps/web/bundle-manifest.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(web): unblock push gates for widgets and fab allowlist
  apps/web/__tests__/widgets-missing-callees.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_widgets_ui_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.95a1ff943de2.js
  apps/web/public/postboot-3-ui-lazy.bundle.95a1ff943de2.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.b94a6d0f9ae3.js
  apps/web/public/postboot-3-ui-lazy.bundle.b94a6d0f9ae3.js.gz
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.baseline
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(web): restore v4 palette literals for deploy drift gate
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/730-widgets-dashboard.css
Due: none

fix(heys-mcp): get_period answers the week in one call
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

fix(web): put large H on Android maskable launcher icons
  apps/web/__tests__/boot-spinner-mark.test.js
  apps/web/public/apple-touch-icon.png
  apps/web/public/icon-192.png
  apps/web/public/icon-512.png
  apps/web/public/icon-maskable-192.png
  apps/web/public/icon-maskable-512.png
  apps/web/public/icon-v4-apple.svg
  apps/web/public/icon-v4.svg
  apps/web/public/manifest.json
  apps/web/scripts/generate-pwa-icons.mjs
Due: eslint --max-warnings=500, prettier --write

feat(web): widgets intro motion, edit controls, spark draw
  apps/web/__tests__/widget-motion.test.js
  apps/web/__tests__/widgets-v4-sphere.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_app_shell_v1.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.1a0e0d228409.js
  apps/web/public/boot-app.bundle.1a0e0d228409.js.gz
  apps/web/public/boot-app.bundle.c4135277ee46.js
  apps/web/public/boot-app.bundle.c4135277ee46.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.8c531ebd2680.js
  apps/web/public/postboot-3-ui-lazy.bundle.8c531ebd2680.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.95a1ff943de2.js
  apps/web/public/postboot-3-ui-lazy.bundle.95a1ff943de2.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/730-widgets-dashboard.css
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

docs(ui): refresh v4 handoff canvas for widgets motion
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/app-splash.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/date-remainders.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/settings-system.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/app-splash.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/checkin-morning.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/curator-edits.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/registration.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/settings-system.v4.html
Due: prettier --write

fix(web): use smaller sans-serif H on PWA launcher icons
  apps/web/__tests__/boot-spinner-mark.test.js
  apps/web/public/apple-touch-icon.png
  apps/web/public/icon-192.png
  apps/web/public/icon-512.png
  apps/web/public/icon-maskable-192.png
  apps/web/public/icon-maskable-512.png
  apps/web/public/icon-v4-apple.svg
  apps/web/public/icon-v4.svg
  apps/web/public/manifest.json
  apps/web/scripts/generate-pwa-icons.mjs
Due: eslint --max-warnings=500, prettier --write

fix(web): вернуть страховку от застревания PWA на старой версии
  apps/web/__tests__/pwa-update-logic.test.js
  apps/web/heys_platform_apis_v1.js
  docs/ui/handoff-v4/ПРОМПТ_дизайнеру_обновление_PWA.md
Due: eslint --max-warnings=500, prettier --write

docs(ui): согласовать промпт дизайнеру с решением по экранам обновления
  docs/ui/handoff-v4/ПРОМПТ_дизайнеру_обновление_PWA.md
Due: prettier --write

fix(web): свести экраны чек-ина v4 с канвасом
  apps/web/__tests__/morning-checkin-v4-layout-smoke.test.js
  apps/web/heys_steps_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/heys_yesterday_verify_v1.js
  docs/implementation/MORNING_CHECKIN_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

fix(web): одинаковая высота заголовка на всех шагах чек-ина
  apps/web/__tests__/morning-checkin-v4-layout-smoke.test.js
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/implementation/MORNING_CHECKIN_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

feat(web): перенести экраны обновления PWA на макет v4
  apps/web/__tests__/pwa-update-logic.test.js
  apps/web/heys_platform_apis_v1.js
  apps/web/styles/heys-components.css
  docs/reference/systems/PWA_OFFLINE_PUSH.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/pwa-update.v4.dc.html
  docs/ui/handoff-v4/ПРОМПТ_дизайнеру_обновление_PWA.md
Due: eslint --max-warnings=500, prettier --write

docs: подчистить формулировки после переноса макета обновления PWA
  docs/ui/handoff-v4/ПРОМПТ_дизайнеру_обновление_PWA.md
Due: prettier --write

fix(web): вернуть скорость вращения кольца обновления из макета
  apps/web/styles/heys-components.css
Due: none

feat(web): свести виджеты Главной с канвасом home-widgets v4
  apps/web/__tests__/widget-insulin-wave-v4.test.js
  apps/web/__tests__/widget-motion.test.js
  apps/web/__tests__/widget-variants-v4.test.js
  apps/web/__tests__/widgets-v4-sphere.test.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_insulin_wave_v4.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/heys_widgets_variants_v4.js
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/widgets/widget_data.js
  docs/implementation/HOME_WIDGETS_V4_PROTOCOL.md
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(web): свести риск-радар с канвасом home-widgets v4
  apps/web/__tests__/widgets-v4-sphere.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

fix(web): в «Главном риске» первой ужимается подпись, а не название риска
  apps/web/styles/modules/730-widgets-dashboard.css
Due: none

fix(web): вернуть подложку строкам в шторке смены вида
  apps/web/__tests__/widgets-v4-sphere.test.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

feat(web): риск-радар открывается «Шкалой» по умолчанию
  apps/web/__tests__/widget-variants-v4.test.js
  apps/web/heys_widgets_variants_v4.js
  docs/implementation/HOME_WIDGETS_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

fix(web): переименовать вид риск-радара «Как сейчас» в «Уровень и причины»
  apps/web/heys_widgets_variants_v4.js
  docs/implementation/HOME_WIDGETS_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

feat(web): добавление воды по канвасу water-add v4 (ветка В₃)
  apps/web/__tests__/water-add-v4.test.js
  apps/web/heys_day_day_handlers.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/WATER_ADD_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

fix(web): не гасить анимацию мерного столбика воды при reduce-motion
  apps/web/__tests__/water-add-v4.test.js
  apps/web/heys_day_day_handlers.js
  docs/implementation/WATER_ADD_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

fix(web): вода заливает карточку до краёв, как в канвасе
  apps/web/__tests__/water-add-v4.test.js
  apps/web/heys_day_day_handlers.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/WATER_ADD_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

fix(web): подпись и число воды — одной строкой, а не абсолютом от карточки
  apps/web/__tests__/water-add-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/WATER_ADD_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

fix(web): мелкий слой пунктира по кромке воды должен идти вдвое быстрее
  apps/web/__tests__/water-add-v4.test.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/WATER_ADD_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

fix(tasks): поднять лимит тела кураторского batch_upsert — задачник упирался в 256 КБ
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/lib/heys_tasks_kv.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

feat(web): убрать 100 мл воды кнопкой и свести звук капли с анимацией
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_day_handlers.js
  apps/web/heys_day_nutrition_card_v1.js
  apps/web/heys_day_nutrition_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.32d227066aa0.js
  apps/web/public/boot-calc.bundle.32d227066aa0.js.gz
  apps/web/public/boot-calc.bundle.69fd98560574.js
  apps/web/public/boot-calc.bundle.69fd98560574.js.gz
  apps/web/public/boot-core.bundle.25b6aa92331b.js
  apps/web/public/boot-core.bundle.25b6aa92331b.js.gz
  apps/web/public/boot-core.bundle.40b8700e4664.js
  apps/web/public/boot-core.bundle.40b8700e4664.js.gz
  apps/web/public/boot-day.bundle.0227ff9f917c.js
  apps/web/public/boot-day.bundle.0227ff9f917c.js.gz
  apps/web/public/boot-day.bundle.e31caf868d8c.js
  apps/web/public/boot-day.bundle.e31caf868d8c.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.0380167f559e.js
  apps/web/public/postboot-1-game-lazy.bundle.0380167f559e.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.a903fee49f25.js
  apps/web/public/postboot-1-game-lazy.bundle.a903fee49f25.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.8c531ebd2680.js
  apps/web/public/postboot-3-ui-lazy.bundle.8c531ebd2680.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.e3d91a4d52bd.js
  apps/web/public/postboot-3-ui-lazy.bundle.e3d91a4d52bd.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
  scripts/bootstrap-bypass-allowlist.txt
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

docs(ui): вторая сборка канваса v4 — экран добавления воды и ворота «канвас → код»
  .cursor/rules/canvas-to-code.mdc
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/app-splash.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/assets/water-drop.wav
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/checkin-morning.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/curator-edits.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/cycle.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/date-remainders.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/food-add.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/gamification.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/login.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/questionnaire.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/registration.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/settings-system.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/spinners.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tab-activity.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tab-food.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tab-insights.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tab-reports.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tips.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/water-add.v4.dc.html
Due: prettier --write

chore(scripts): сдвиг номеров строк в bootstrap allowlist после правок виджетов
  scripts/bootstrap-bypass-allowlist.txt
Due: none

docs(typing-board): наклон клавиатуры и баллистический удар в заметках
  typing-board.html
Due: none

chore(scripts): внести PWA-ключи обновления в allowlist прямых записей
  scripts/bootstrap-bypass-allowlist.baseline
  scripts/bootstrap-bypass-allowlist.txt
Due: none

fix(web): sand-roles in v4 widgets for classic-drift gate
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500
