Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(release): add whats-new for 745b3c83
  apps/web/public/whats-new.json
Due: prettier --write

chore(build): sync iPhone check-in bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.be3cecafba22.js
  apps/web/public/postboot-1-game-lazy.bundle.be3cecafba22.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.f7ce614a1a0a.js
  apps/web/public/postboot-1-game-lazy.bundle.f7ce614a1a0a.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.46c671d632d0.js
  apps/web/public/postboot-3-ui-lazy.bundle.46c671d632d0.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.5c2d41ae26a3.js
  apps/web/public/postboot-3-ui-lazy.bundle.5c2d41ae26a3.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(observability): recover curator diagnostics failures
  apps/web/__tests__/client-session-observability.test.js
  apps/web/heys_client_diagnostics_v1.js
  apps/web/heys_gamification_v1.js
  docs/reference/systems/CURATOR_WORKSPACE.md
  scripts/bootstrap-bypass-allowlist.txt
  scripts/db/migrations/2026-07-24_client_session_outcome_classification.sql
  yandex-cloud-functions/heys-api-messages/index.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 6fd28bac
  apps/web/public/whats-new.json
Due: prettier --write

chore(build): sync diagnostics bundles [bundle-size-ok]
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.4fae1a582f4a.js
  apps/web/public/boot-app.bundle.4fae1a582f4a.js.gz
  apps/web/public/boot-app.bundle.c4a84685df0f.js
  apps/web/public/boot-app.bundle.c4a84685df0f.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.3fc8fd85f4c4.js
  apps/web/public/postboot-1-game-lazy.bundle.3fc8fd85f4c4.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.f7ce614a1a0a.js
  apps/web/public/postboot-1-game-lazy.bundle.f7ce614a1a0a.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(release): simplify source push gates
  .github/workflows/deploy-yandex.yml
  .husky/pre-push
  apps/web/WHATS_NEW_COPY.md
  apps/web/__tests__/agent-staging.test.js
  apps/web/__tests__/pre-push-vitest-cache.test.js
  apps/web/__tests__/push-agent.test.js
  apps/web/__tests__/release-features.test.js
  apps/web/__tests__/whats-new-display.test.js
  apps/web/heys_app_overlays_v1.js
  apps/web/heys_app_root_impl_v1.js
  apps/web/heys_release_features_v1.js
  apps/web/heys_whats_new_modal_v1.js
  docs/reference/systems/PWA_OFFLINE_PUSH.md
  scripts/bootstrap-bypass-allowlist.txt
  scripts/check-agent-staging.mjs
  scripts/integrate-agents.mjs
  scripts/legacy-bundle-config.mjs
  scripts/pre-push-vitest-cache.mjs
  scripts/prepare-release.mjs
  scripts/push-agent.mjs
  scripts/push-preflight.mjs
  scripts/release-features.mjs
  scripts/release-prepare-and-commit.mjs
  scripts/ship.mjs
Due: eslint --max-warnings=500, prettier --write

test(release): align integration with disabled whats-new
  apps/web/__tests__/integrate-agents.test.js
Due: eslint --max-warnings=500

perf(ci): streamline source deploy flow
  .github/workflows/api-health-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/cloud-functions-deploy.yml
  .github/workflows/deploy-yandex.yml
  .github/workflows/gitleaks.yml
  .github/workflows/security-scan.yml
  .github/workflows/whats-new-guard.yml
  apps/web/__tests__/push-agent.test.js
  apps/web/package.json
  docs/reference/systems/PWA_OFFLINE_PUSH.md
  scripts/push-agent.mjs
Due: eslint --max-warnings=500, prettier --write

fix(ci): use repository pnpm version
  .github/workflows/ci.yml
  .github/workflows/deploy-yandex.yml
  .github/workflows/security-scan.yml
Due: prettier --write

perf(ci): restore parallel S3 transfers
  .github/workflows/deploy-yandex.yml
Due: prettier --write

fix: publish current HEYS updates
  .github/workflows/api-health-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/cloud-functions-deploy.yml
  .github/workflows/security-scan.yml
  .github/workflows/whats-new-guard.yml
  apps/web/__tests__/add-product-smart-products.test.js
  apps/web/__tests__/client-session-observability.test.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_client_log_trace_v1.js
  apps/web/styles/modules/600-steps-and-aps.css
  docs/reference/systems/PRODUCTS_AND_SEARCH.md
  docs/reference/systems/PWA_OFFLINE_PUSH.md
  scripts/db/migrations/2026-07-24_client_session_outcome_classification.sql
  yandex-cloud-functions/heys-api-rest/index.js
Due: eslint --max-warnings=500, prettier --write

chore(build): sync observability bundles [bundle-size-ok]
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.c4a84685df0f.js
  apps/web/public/boot-app.bundle.c4a84685df0f.js.gz
  apps/web/public/boot-app.bundle.ee54dfe81faf.js
  apps/web/public/boot-app.bundle.ee54dfe81faf.js.gz
  apps/web/public/boot-core.bundle.ad80c2dc132d.js
  apps/web/public/boot-core.bundle.ad80c2dc132d.js.gz
  apps/web/public/boot-core.bundle.f51a51cd858a.js
  apps/web/public/boot-core.bundle.f51a51cd858a.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.1ff2dfae6566.js
  apps/web/public/postboot-3-ui-lazy.bundle.1ff2dfae6566.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.5c2d41ae26a3.js
  apps/web/public/postboot-3-ui-lazy.bundle.5c2d41ae26a3.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(cloud): deploy secrets through Lockbox
  yandex-cloud-functions/__tests__/serverless-capacity-contract.test.cjs
  yandex-cloud-functions/deploy-all.sh
Due: none

fix(observability): improve client failure diagnostics
  apps/web/__tests__/client-session-observability.test.js
  apps/web/__tests__/morning-checkin-stability.test.js
  apps/web/heys_client_diagnostics_v1.js
  apps/web/heys_client_log_trace_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/insights/pi_early_warning.js
  docs/reference/systems/CURATOR_WORKSPACE.md
  docs/reference/systems/PWA_OFFLINE_PUSH.md
  scripts/bootstrap-bypass-allowlist.txt
  scripts/db/migrations/2026-07-24_client_session_outcome_classification.sql
  yandex-cloud-functions/heys-api-rest/index.js
Due: eslint --max-warnings=500, prettier --write

fix(release): verify bundle commits by source sha
  .github/workflows/deploy-yandex.yml
  apps/web/__tests__/push-agent.test.js
  apps/web/scripts/update-version.cjs
  docs/reference/systems/PWA_OFFLINE_PUSH.md
  scripts/build-meta-target.cjs
  scripts/push-agent.mjs
Due: eslint --max-warnings=500, prettier --write

chore(build): sync diagnostic bundles [bundle-size-ok]
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.2857136c1790.js
  apps/web/public/boot-app.bundle.2857136c1790.js.gz
  apps/web/public/boot-app.bundle.ee54dfe81faf.js
  apps/web/public/boot-app.bundle.ee54dfe81faf.js.gz
  apps/web/public/boot-core.bundle.90f791a79ae6.js
  apps/web/public/boot-core.bundle.90f791a79ae6.js.gz
  apps/web/public/boot-core.bundle.ad80c2dc132d.js
  apps/web/public/boot-core.bundle.ad80c2dc132d.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-2-insights-lazy.bundle.0f573b24160f.js
  apps/web/public/postboot-2-insights-lazy.bundle.0f573b24160f.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.30772139e834.js
  apps/web/public/postboot-2-insights-lazy.bundle.30772139e834.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.1ff2dfae6566.js
  apps/web/public/postboot-3-ui-lazy.bundle.1ff2dfae6566.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.e74fe1ceb3e1.js
  apps/web/public/postboot-3-ui-lazy.bundle.e74fe1ceb3e1.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(release): trust canonical ci artifacts
  apps/web/__tests__/push-agent.test.js
  docs/reference/systems/PWA_OFFLINE_PUSH.md
  scripts/push-agent.mjs
Due: eslint --max-warnings=500, prettier --write

fix(observability): track foreground client visits
  apps/web/DEBUGGING.md
  apps/web/__tests__/client-session-observability.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_client_diagnostics_v1.js
  apps/web/heys_client_log_trace_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.2857136c1790.js
  apps/web/public/boot-app.bundle.2857136c1790.js.gz
  apps/web/public/boot-app.bundle.97f82e6f43d0.js
  apps/web/public/boot-app.bundle.97f82e6f43d0.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  docs/reference/systems/CURATOR_WORKSPACE.md
  docs/reference/systems/PWA_OFFLINE_PUSH.md
  scripts/bootstrap-bypass-allowlist.txt
  scripts/db/migrations/2026-07-24_client_visit_observability.sql
  scripts/db/migrations/manifest.json
  yandex-cloud-functions/heys-api-rest/index.js
Due: eslint --max-warnings=500, prettier --write

fix: preserve PIN login diagnostics
  apps/web/__tests__/client-session-observability.test.js
  apps/web/__tests__/heys-app-auth-init-session.test.js
  apps/web/heys_app_auth_init_v1.js
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_client_log_trace_v1.js
  docs/reference/systems/CURATOR_WORKSPACE.md
  docs/reference/systems/PWA_OFFLINE_PUSH.md
  scripts/bootstrap-bypass-allowlist.txt
  scripts/db/migrations/2026-07-24_pin_login_observability.sql
  scripts/db/migrations/manifest.json
Due: eslint --max-warnings=500, prettier --write

fix(observability): correct warning status and sync timing
  apps/web/__tests__/client-session-observability.test.js
  apps/web/heys_client_log_trace_v1.js
  scripts/db/migrations/2026-07-24_client_session_outcome_classification.sql
  scripts/db/migrations/2026-07-24_client_visit_observability.sql
  scripts/db/migrations/2026-07-24_pin_login_observability.sql
Due: eslint --max-warnings=500

feat(planning): add reading workspace and diagnostics
  .svelte-kit/ambient.d.ts
  .svelte-kit/env.d.ts
  .svelte-kit/non-ambient.d.ts
  .svelte-kit/tsconfig.json
  .svelte-kit/types/route_meta_data.json
  .svelte-kit/types/src/routes/$types.d.ts
  .svelte-kit/types/src/routes/dashboard/$types.d.ts
  apps/landing/package.json
  apps/web/__tests__/blank-screen-guard.test.js
  apps/web/__tests__/diagnostics-daily-megalog.test.js
  apps/web/__tests__/planning-home-subtab.test.js
  apps/web/__tests__/planning-reading.test.js
  apps/web/heys_app_initialize_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_app_tab_state_v1.js
  apps/web/heys_app_tabs_v1.js
  apps/web/heys_client_diagnostics_v1.js
  apps/web/heys_planning_reading_v1.js
  apps/web/heys_planning_v1.js
  apps/web/heys_reading_catalog_v1.js
  apps/web/reading/AUTHORING.md
  apps/web/styles/main-deferred.css
  apps/web/styles/modules/907-planning-reading.css
  docs/reference/systems/CURATOR_WORKSPACE.md
  docs/reference/systems/PLANNING.md
  docs/reference/systems/PWA_OFFLINE_PUSH.md
  package.json
  packages/shared/package.json
  pnpm-lock.yaml
  scripts/bootstrap-bypass-allowlist.txt
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

chore(build): sync planning bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.1432a1a1de8f.js
  apps/web/public/boot-app.bundle.1432a1a1de8f.js.gz
  apps/web/public/boot-app.bundle.97f82e6f43d0.js
  apps/web/public/boot-app.bundle.97f82e6f43d0.js.gz
  apps/web/public/boot-init.bundle.66abdbb7b961.js
  apps/web/public/boot-init.bundle.66abdbb7b961.js.gz
  apps/web/public/boot-init.bundle.aa88e7072335.js
  apps/web/public/boot-init.bundle.aa88e7072335.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.187c6e115e9d.js
  apps/web/public/postboot-3-ui-lazy.bundle.187c6e115e9d.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.e74fe1ceb3e1.js
  apps/web/public/postboot-3-ui-lazy.bundle.e74fe1ceb3e1.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

test(planning): load reading module in goals runtime
  apps/web/__tests__/planning-goals-ui.test.js
Due: eslint --max-warnings=500

feat: expand reading and observability workflows
  .github/workflows/deploy-yandex.yml
  apps/web/__tests__/client-session-observability.test.js
  apps/web/__tests__/planning-reading.test.js
  apps/web/__tests__/reading-authoring-contract.test.js
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_client_diagnostics_v1.js
  apps/web/heys_client_log_trace_v1.js
  apps/web/heys_planning_reading_v1.js
  apps/web/heys_reading_catalog_v1.js
  apps/web/reading/AUTHORING.md
  apps/web/reading/books/carl-sewell-customers-for-life_v1.js
  apps/web/reading/books/ray-dalio-principles_v1.js
  apps/web/reading/templates/book-summary.template.js
  apps/web/styles/modules/907-planning-reading.css
  docs/reference/systems/CURATOR_WORKSPACE.md
  docs/reference/systems/HOW_HEYS_WORKS.md
  docs/reference/systems/INFRA_OPERATIONS.md
  docs/reference/systems/PLANNING.md
  docs/reference/systems/PWA_OFFLINE_PUSH.md
  package.json
  packages/core/src/server.js
  scripts/bootstrap-bypass-allowlist.txt
  scripts/create-reading-summary.mjs
  scripts/db/migrations/2026-07-24_client_entry_observability.sql
  scripts/db/migrations/2026-07-24_pin_login_observability.sql
  scripts/db/migrations/2026-07-25_client_observability_runtime_env.sql
  scripts/db/migrations/manifest.json
  scripts/deploy-frontend.sh
  scripts/deploy-prod-local.sh
  scripts/deploy-web-scoped.sh
  scripts/legacy-bundle-config.mjs
  scripts/validate-reading-catalog.mjs
  scripts/web-deploy-scope.mjs
  scripts/web-deploy-scope.test.mjs
  yandex-cloud-functions/heys-api-rest/index.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

chore(build): sync reading and observability bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.1432a1a1de8f.js
  apps/web/public/boot-app.bundle.1432a1a1de8f.js.gz
  apps/web/public/boot-app.bundle.c80723b6eaaf.js
  apps/web/public/boot-app.bundle.c80723b6eaaf.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.187c6e115e9d.js
  apps/web/public/postboot-3-ui-lazy.bundle.187c6e115e9d.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.8e74304a690b.js
  apps/web/public/postboot-3-ui-lazy.bundle.8e74304a690b.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore: allow device-local reading preferences
  scripts/bootstrap-bypass-allowlist.txt
Due: none

feat(reading): standardize book summaries
  apps/web/__tests__/planning-reading.test.js
  apps/web/__tests__/reading-authoring-contract.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_planning_reading_v1.js
  apps/web/heys_reading_catalog_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.36f4810f02e2.js
  apps/web/public/postboot-3-ui-lazy.bundle.36f4810f02e2.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.8e74304a690b.js
  apps/web/public/postboot-3-ui-lazy.bundle.8e74304a690b.js.gz
  apps/web/public/sw.js
  apps/web/reading/AUTHORING.md
  apps/web/reading/books/carl-sewell-customers-for-life_v1.js
  apps/web/reading/books/ray-dalio-principles_v1.js
  apps/web/reading/templates/book-summary.template.js
  apps/web/styles/modules/907-planning-reading.css
  docs/implementation/READING_CONTRACT_V2_PROTOCOL.md
  docs/reference/systems/PLANNING.md
  scripts/create-reading-summary.mjs
  scripts/validate-reading-catalog.mjs
Due: eslint --max-warnings=500, prettier --write

feat(reading): add calibrated summaries and improve search
  apps/web/__tests__/planning-reading.test.js
  apps/web/__tests__/reading-authoring-contract.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_reading_catalog_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.36f4810f02e2.js
  apps/web/public/postboot-3-ui-lazy.bundle.36f4810f02e2.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.c0f9b8bb79eb.js
  apps/web/public/postboot-3-ui-lazy.bundle.c0f9b8bb79eb.js.gz
  apps/web/public/sw.js
  apps/web/reading/books/daniel-kahneman-thinking-fast-and-slow_v1.js
  apps/web/reading/books/james-clear-atomic-habits_v1.js
  docs/implementation/READING_CONTRACT_V2_PROTOCOL.md
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

feat(reading): introduce v3 authoring contract and expand catalog
  apps/web/__tests__/reading-authoring-contract.test.js
  apps/web/heys_reading_catalog_v1.js
  apps/web/reading/AUTHORING.md
  apps/web/reading/ROADMAP.md
  apps/web/reading/books/atul-gawande-checklist-manifesto_v1.js
  apps/web/reading/books/carl-sewell-customers-for-life_v1.js
  apps/web/reading/books/daniel-kahneman-thinking-fast-and-slow_v1.js
  apps/web/reading/books/james-clear-atomic-habits_v1.js
  apps/web/reading/books/kahneman-sibony-sunstein-noise_v1.js
  apps/web/reading/books/michael-gerber-e-myth-revisited_v1.js
  apps/web/reading/books/ray-dalio-principles_v1.js
  apps/web/reading/books/richard-rumelt-good-strategy-bad-strategy_v1.js
  apps/web/reading/books/stephen-covey-seven-habits_v1.js
  apps/web/reading/books/will-guidara-unreasonable-hospitality_v1.js
  apps/web/reading/personalization/poltavsky_v1.json
  apps/web/reading/templates/book-summary.template.js
  docs/implementation/READING_CONTRACT_V2_PROTOCOL.md
  docs/implementation/READING_CONTRACT_V3_PROTOCOL.md
  package.json
  scripts/bootstrap-bypass-allowlist.txt
  scripts/create-reading-summary.mjs
  scripts/legacy-bundle-config.mjs
  scripts/sync-reading-personalization.mjs
  scripts/validate-reading-catalog.mjs
Due: eslint --max-warnings=500, prettier --write

feat(reading): add highlights and personalized reader guidance
  apps/web/__tests__/planning-reading.test.js
  apps/web/heys_planning_reading_v1.js
  apps/web/styles/modules/900-planning.css
  apps/web/styles/modules/907-planning-reading.css
  docs/reference/systems/PLANNING.md
Due: eslint --max-warnings=500, prettier --write

fix(messenger): remove misleading recent-history empty state
  apps/web/heys_messenger_v1.js
Due: eslint --max-warnings=500

chore(build): refresh reading and messenger bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.92dfd884d940.js
  apps/web/public/boot-app.bundle.92dfd884d940.js.gz
  apps/web/public/boot-app.bundle.c80723b6eaaf.js
  apps/web/public/boot-app.bundle.c80723b6eaaf.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.575eafedfce7.js
  apps/web/public/postboot-3-ui-lazy.bundle.575eafedfce7.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.c0f9b8bb79eb.js
  apps/web/public/postboot-3-ui-lazy.bundle.c0f9b8bb79eb.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(security): patch brace expansion denial of service
  package.json
  patches/minimatch@3.1.4.patch
  patches/minimatch@5.1.8.patch
  pnpm-lock.yaml
Due: prettier --write

feat(reading): publish The Power of Now summary
  apps/web/__tests__/planning-reading.test.js
  apps/web/__tests__/reading-authoring-contract.test.js
  apps/web/reading/ROADMAP.md
  apps/web/reading/books/eckhart-tolle-power-of-now_v1.js
  apps/web/reading/personalization/poltavsky_v1.json
  docs/implementation/READING_CONTRACT_V3_PROTOCOL.md
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

chore(security): refresh dependency audit reports
  security-reports/dependency-security-report.html
  security-reports/dependency-security-report.json
  security-reports/dependency-vulnerabilities.csv
Due: prettier --write

chore(build): refresh reading bundle
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.575eafedfce7.js
  apps/web/public/postboot-3-ui-lazy.bundle.575eafedfce7.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.f1386fb7dae1.js
  apps/web/public/postboot-3-ui-lazy.bundle.f1386fb7dae1.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(messenger): allow mobile line breaks
  apps/web/__tests__/messenger-reliability-contract.test.js
  apps/web/heys_messenger_v1.js
Due: eslint --max-warnings=500

chore(infra): remove obsolete hosting references
  apps/landing/next.config.js
  apps/web/api/sms.js
  apps/web/package.json
  apps/web/test-sms.html
  archive/root-cleanup-2026-04/IMPLEMENTATION_COMPLETE_v5.0.md
  docs/ANTILOG.md
  docs/EWS_WEEKLY_CLOUD_SYNC_DEPLOYMENT.md
  docs/HEYS_BRIEF.md
  docs/SECURITY_DOCUMENTATION.md
  docs/YANDEX_DEPLOY_SETUP.md
  docs/archive/HEYS_BRIEF_FULL_ARCHIVED_2025-01-03.md
  docs/reference/systems/INFRA_OPERATIONS.md
  docs/tasks/2025-12-08-fix-infinite-update-loop.md
  docs/tasks/2025-12-20-payments-yukassa.md
  emt-v3-stable-clean/project-detector.js
  emt-v3-stable-clean/utils/project-detector-v3.0-stable.js
  lighthouse-report.html
  packages/shared/tsconfig.tsbuildinfo
  yandex-cloud-functions/DEPLOY_GUIDE.md
  yandex-cloud-functions/heys-api-auth/index.js
  yandex-cloud-functions/heys-api-rest/index.js
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-sms/index.js
  спринт devop.txt
Due: eslint --max-warnings=500, prettier --write

fix(deploy): source session secret from Lockbox
  yandex-cloud-functions/__tests__/serverless-capacity-contract.test.cjs
  yandex-cloud-functions/deploy-all.sh
Due: none

fix(messenger): lock background scroll
  apps/web/__tests__/messenger-reliability-contract.test.js
  apps/web/heys_messenger_v1.js
  apps/web/styles/modules/1000-messenger.css
Due: eslint --max-warnings=500
