Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

build(web): бандлы под снятые виджеты и «Шаги» на v4
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.29021e7a2807.js
  apps/web/public/boot-app.bundle.29021e7a2807.js.gz
  apps/web/public/boot-app.bundle.5e87657fcafc.js
  apps/web/public/boot-app.bundle.5e87657fcafc.js.gz
  apps/web/public/boot-core.bundle.4077c4d4fdad.js
  apps/web/public/boot-core.bundle.4077c4d4fdad.js.gz
  apps/web/public/boot-core.bundle.becc7ed7ae3d.js
  apps/web/public/boot-core.bundle.becc7ed7ae3d.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.ace73adf6892.js
  apps/web/public/postboot-1-game-lazy.bundle.ace73adf6892.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.defaaead6571.js
  apps/web/public/postboot-1-game-lazy.bundle.defaaead6571.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.1e37b9d2675f.js
  apps/web/public/postboot-3-ui-lazy.bundle.1e37b9d2675f.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.463e8583004a.js
  apps/web/public/postboot-3-ui-lazy.bundle.463e8583004a.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

feat(widgets): состояние «скоро» получило имя — «Клетчатка»
  apps/web/__tests__/widgets-catalog-preview-v4.test.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_registry_v1.js
  docs/ui/UI_V4_FINDINGS.md
  scripts/bootstrap-bypass-allowlist.txt
  todo.md
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): строка «готовится» названа — контракт виджетов закрыт целиком
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

feat(nutrition): лист правки приёма по пакету канваса 21.08
  apps/web/heys_day_nutrition_v1.js
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
Due: eslint --max-warnings=500

feat(undo): бар отмены по кадру v4 + уход со вкладки больше не хоронит отмену
  apps/web/__tests__/app-header-tab-switch.test.js
  apps/web/__tests__/undo-bar-v4-contract.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_planning_tasks_v1.js
  apps/web/heys_undo_v1.js
  apps/web/styles/heys-components.css
  docs/implementation/NUTRITION_TAB_V4_PROTOCOL.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(mcp): набор не разваливается из-за удалённой карточки
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

fix(mcp): личная карточка выигрывает у одноимённой общей
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

docs(reference): досье продуктов — правило дубля и наборы при удалении
  docs/reference/systems/PRODUCTS_AND_SEARCH.md
Due: prettier --write

fix(products): удаление во вкладке «База» спрашивает про наборы и блюда
  apps/web/__tests__/product-usage-before-delete.test.js
  apps/web/heys_core_v12.js
  docs/reference/systems/PRODUCTS_AND_SEARCH.md
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

docs(monitoring): «incorrect password» — не только health, и не безобидно
  yandex-cloud-functions/MONITORING_QUICK_REF.md
Due: prettier --write

feat(undo): бар отмены по сквозному канвасу — кольцо, пилюля и пачка
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/__tests__/undo-bar-v4-contract.test.js
  apps/web/day/_meals.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_day_trainings_v1.js
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/heys_planning_tasks_v1.js
  apps/web/heys_undo_v1.js
  apps/web/styles/heys-components.css
  docs/implementation/NUTRITION_TAB_V4_PROTOCOL.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/ui-v4-contract-verdicts.json
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

docs(ops): разбор 502 — не падение Яндекса, а единственный источник пароля
  yandex-cloud-functions/MONITORING_QUICK_REF.md
  yandex-cloud-functions/heys-api-rest/secrets.js
  yandex-cloud-functions/heys-api-sms/secrets.js
  yandex-cloud-functions/heys-client-daily-backup/secrets.js
  yandex-cloud-functions/heys-cron-photo-cleanup/secrets.js
  yandex-cloud-functions/heys-snapshot-demo/secrets.js
  yandex-cloud-functions/shared/secrets.js
Due: eslint --max-warnings=500, prettier --write

fix(products): связь с общей базой перестала зависеть от полноты карточки
  apps/web/__tests__/product-shared-link-backfill.test.js
  apps/web/heys_core_v12.js
  apps/web/heys_models_v1.js
  apps/web/heys_products_overlay_v1.js
Due: eslint --max-warnings=500

fix(secrets): сначала сходить в сейф, потом стирать плейсхолдеры
  yandex-cloud-functions/MONITORING_QUICK_REF.md
  yandex-cloud-functions/__tests__/secrets-lockbox-order.test.mjs
  yandex-cloud-functions/heys-api-rest/db-pool.js
  yandex-cloud-functions/heys-api-rest/secrets.js
  yandex-cloud-functions/heys-api-sms/secrets.js
  yandex-cloud-functions/heys-client-daily-backup/secrets.js
  yandex-cloud-functions/heys-cron-photo-cleanup/secrets.js
  yandex-cloud-functions/heys-snapshot-demo/secrets.js
  yandex-cloud-functions/shared/secrets.js
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): пакет дизайна 21.08 — сквозной канвас отмены
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/date-remainders.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/nutrition-tab.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tips.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/undo-bar.v4.dc.html
Due: prettier --write

fix(sync): страница, не влезшая в ответ, больше не обрывает загрузку базы
  apps/web/__tests__/sync-bootstrap-oversized-page.test.js
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix(day): добавление продукта — объект листа больше не уезжает в слот приёма
  apps/web/__tests__/add-product-onadd-contract.test.js
  apps/web/day/_meals.js
Due: eslint --max-warnings=500

fix(sync): отказ, замаскированный CORS, тоже считается «страница не влезла»
  apps/web/__tests__/sync-bootstrap-oversized-page.test.js
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix(sync): задачник больше не качается, а упавшая страница не обнуляет доехавшие
  apps/web/__tests__/sync-bootstrap-oversized-page.test.js
  apps/web/heys_storage_supabase_v1.js
  yandex-cloud-functions/heys-api-rest/index.js
Due: eslint --max-warnings=500

fix(search): «Частые» пересобираются, когда история приехала на устройство
  apps/web/__tests__/usage-stats-refresh-on-history.test.js
  apps/web/heys_smart_search_v2.js
Due: eslint --max-warnings=500

fix(search): счётчик дней сохраняется без прямой записи в хранилище
  apps/web/heys_smart_search_v2.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

fix(products): каталог не публикуется в облако из незагруженного состояния
  apps/web/__tests__/overlay-publish-guard.test.js
  apps/web/heys_core_v12.js
  apps/web/heys_products_overlay_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

docs(products): инвариант 11 и разбор затёртого каталога
  AGENTS.md
  CLAUDE.md
  apps/web/BUGS_HISTORY.md
  scripts/bootstrap-bypass-allowlist.txt
Due: prettier --write

fix(lint): два исключения виджетов привязаны к тексту, а не к номеру строки
  scripts/bootstrap-bypass-allowlist.txt
Due: none

docs(ui-v4): пакет дизайна — правила снятия виджета и канвас отмены в индексе
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
Due: none

fix(widgets): снятие типа — одноразовая миграция, незнакомый тип не удаляется
  apps/web/__tests__/widgets-flow-layout-v4.test.js
  apps/web/__tests__/widgets-retired-migration.test.js
  apps/web/heys_widgets_core_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

test(widgets): тест серии перестал зависеть от переводов строк
  apps/web/__tests__/widgets-streak-single-source.test.js
Due: eslint --max-warnings=500

build(dev): бандлы догоняют исходники сами — на pull и на старте локалки
  AGENTS.md
  CLAUDE.md
  apps/web/package.json
  package.json
  scripts/verify-legacy-bundles.mjs
Due: prettier --write

test(day): два контракта дня перестали зависеть от переводов строк
  apps/web/__tests__/advice-render-loop-contract.test.js
  apps/web/__tests__/hunger-energy-status-ui.test.js
Due: eslint --max-warnings=500

feat(widgets): дефолтный набор по контракту, сброс в расстановке, защита раскладки
  apps/web/__tests__/widgets-flow-layout-v4.test.js
  apps/web/__tests__/widgets-layout-shrink-guard.test.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): пять расхождений дефолтного набора закрыты, отступлений не осталось
  apps/web/__tests__/widgets-layout-shrink-guard.test.js
  apps/web/heys_widgets_core_v1.js
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(mcp): быт считается один раз, активность видна в каждом ответе про день
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

docs(handoff-v4): пакет канваса 22 августа — карта и приёмочные листы догнали контракты
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-nutrition-tab.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
Due: prettier --write

fix(widgets): вкладка падала в ErrorBoundary — осиротевший вызов снятой модалки
  apps/web/__tests__/widgets-ui-no-undef.test.js
  apps/web/heys_widgets_ui_v1.js
Due: eslint --max-warnings=500

perf(mcp): одна реплика куратора — один вызов вместо цепочки кругов
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/mcp-correlate.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/mcp-correlate.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/telemetry.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

fix(widgets): «Рекомендуемый экран» виден всю расстановку, а не при раскрытом каталоге
  apps/web/__tests__/widgets-layout-shrink-guard.test.js
  apps/web/heys_widgets_ui_v1.js
Due: eslint --max-warnings=500

feat(water): вид карточки один — «Кольцо», «Полоса» снята с продукта
  apps/web/__tests__/heys-day-water-persistence.test.js
  apps/web/__tests__/water-review-card-v4.test.js
  apps/web/heys_day_water_v1.js
  apps/web/styles/modules/400-water-and-hydration.css
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/water-add.v4.dc.html
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(gateway): ошибки шлюза перестали маскироваться под обрыв связи
  apps/web/heys_storage_supabase_v1.js
  yandex-cloud-functions/__tests__/gateway-cors-contract.test.cjs
  yandex-cloud-functions/api-gateway-spec.yaml
  yandex-cloud-functions/test-functions.sh
Due: eslint --max-warnings=500, prettier --write

feat(alerts): схлопывание личного каталога продуктов кричит само
  scripts/db/migrations/2026-08-22_products_catalog_watch_v1.sql
  scripts/db/migrations/manifest.json
  yandex-cloud-functions/heys-cron-security-alerts/__tests__/catalog-shrink.test.cjs
  yandex-cloud-functions/heys-cron-security-alerts/index.js
Due: eslint --max-warnings=500, prettier --write

docs(dr): восстановление каталога продуктов проверено, а не описано на словах
  apps/web/BUGS_HISTORY.md
  yandex-cloud-functions/DISASTER_RECOVERY_RUNBOOK.md
  yandex-cloud-functions/heys-client-daily-backup/restore-products-catalog.js
Due: eslint --max-warnings=500, prettier --write
