Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: remove Node.js version restrictions for Vercel
  apps/web/vercel.json
  package.json
Due: prettier --write

fix: use 20.x in .nvmrc for Vercel
  .nvmrc
Due: none

fix: remove @vercel/node runtime to fix Node.js version conflict
  apps/web/vercel.json
Due: prettier --write

fix: restore API functions config without runtime override
  apps/web/vercel.json
Due: prettier --write

fix: add maxDuration to functions config (empty object not allowed)
  apps/web/vercel.json
Due: prettier --write

fix: remove functions block - edge functions auto-detected by runtime config
  apps/web/vercel.json
Due: prettier --write

fix: explicitly declare edge function in vercel.json
  apps/web/vercel.json
Due: prettier --write

fix: remove framework and functions - let Vercel auto-detect edge functions
  apps/web/vercel.json
Due: prettier --write

test: add health check endpoint to debug API routing
  apps/web/api/health.ts
Due: eslint --max-warnings=500

fix: rename catch-all to [[...path]].ts format
  apps/web/api/supabase/[[...path]].ts
Due: eslint --max-warnings=500

fix: convert supabase proxy to JavaScript for Vercel Edge compatibility
  apps/web/api/supabase/[...path].js
  apps/web/api/supabase/[[...path]].ts
Due: eslint --max-warnings=500

fix: use node serverless runtime for supabase proxy
  apps/web/api/supabase/[...path].js
Due: eslint --max-warnings=500

chore: set nodejs20 runtime for api functions
  apps/web/vercel.json
Due: prettier --write

fix: remove functions runtime block causing build error
  apps/web/vercel.json
Due: prettier --write

fix: add explicit supabase auth token proxy route
  apps/web/api/supabase/auth/v1/token.js
Due: eslint --max-warnings=500

fix: read request body for supabase token proxy
  apps/web/api/supabase/auth/v1/token.js
Due: eslint --max-warnings=500

fix: use ESM export for supabase token proxy
  apps/web/api/supabase/auth/v1/token.js
Due: eslint --max-warnings=500

chore: expose supabase error body and accept header
  apps/web/api/supabase/auth/v1/token.js
Due: eslint --max-warnings=500

fix: forward Authorization/Accept/x-client-info headers to supabase
  apps/web/api/supabase/[...path].js
  apps/web/api/supabase/auth/v1/token.js
Due: eslint --max-warnings=500

fix: append apikey to supabase proxy urls
  apps/web/api/supabase/[...path].js
  apps/web/api/supabase/auth/v1/token.js
Due: eslint --max-warnings=500

fix: use env SUPABASE_URL/KEY and remove apikey query
  apps/web/api/supabase/[...path].js
  apps/web/api/supabase/auth/v1/token.js
Due: eslint --max-warnings=500

chore: add supabase env debug endpoint
  apps/web/api/supabase/debug-env.js
Due: eslint --max-warnings=500

fix: support VITE_SUPABASE_* env variables in API routes
  apps/web/api/supabase/[...path].js
  apps/web/api/supabase/auth/v1/token.js
  apps/web/api/supabase/debug-env.js
Due: eslint --max-warnings=500

fix: skip content-encoding headers to prevent ERR_CONTENT_DECODING_FAILED
  apps/web/api/supabase/[...path].js
  apps/web/api/supabase/auth/v1/token.js
Due: eslint --max-warnings=500

feat: add explicit /api/supabase/rest/v1/ proxy endpoint
  apps/web/api/supabase/rest/v1/[...path].js
Due: eslint --max-warnings=500

fix: add logout endpoint + rewrite rest/v1 to flat proxy
  apps/web/api/rest.js
  apps/web/api/supabase/auth/v1/logout.js
  apps/web/vercel.json
Due: eslint --max-warnings=500, prettier --write

feat: add storage proxy for meal photos
  apps/web/api/storage.js
  apps/web/vercel.json
Due: eslint --max-warnings=500, prettier --write

fix: pass table name via query param in rewrite
  apps/web/api/rest.js
  apps/web/vercel.json
Due: eslint --max-warnings=500, prettier --write

debug: add debug-rest endpoint to inspect Vercel rewrite
  apps/web/api/debug-rest.js
  apps/web/vercel.json
Due: eslint --max-warnings=500, prettier --write

fix: use 'table' query param from Vercel rewrite
  apps/web/api/rest.js
  apps/web/vercel.json
Due: eslint --max-warnings=500, prettier --write

docs: add SUPABASE_PROXY.md with full troubleshooting guide
  docs/SUPABASE_PROXY.md
Due: prettier --write

docs: add SUPABASE_PROXY link to copilot-instructions
  .github/copilot-instructions.md
Due: prettier --write

fix: центрирование login/client select модалок, скрытие TabBar при авторизации
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  packages/shared/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500

feat(insulin-wave): добавлен расчёт углеводов для корректировки длины волны
  apps/web/heys_insulin_wave_v1.js
Due: eslint --max-warnings=500

fix: storage proxy path handling, increase tab switch labels margin
  apps/web/api/debug-storage.js
  apps/web/api/storage.js
  apps/web/heys_day_v12.js
  apps/web/heys_insulin_wave_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/vercel.json
  docs/SUPABASE_PROXY.md
Due: eslint --max-warnings=500, prettier --write

feat(checkin): add body measurements step to morning check-in
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/600-steps-and-aps.css
  docs/DATA_MODEL_REFERENCE.md
Due: eslint --max-warnings=500, prettier --write

fix: исправлен синтаксис в MealCard и выравнивание meal-type-label
  apps/web/heys_day_v12.js
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500

fix: копирование CSS модулей в билд для PWA
  apps/web/package.json
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: eslint --max-warnings=500, prettier --write

refactor: перенос measurements-card стилей в базовый CSS модуль
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/200-dark-and-effects.css
Due: none

feat: body measurements step + insulin wave meal warning
  apps/web/.turbo/turbo-build.log
  apps/web/heys_advice_v1.js
  apps/web/heys_insulin_wave_v1.js
  apps/web/heys_meal_step_v1.js
  apps/web/heys_models_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/300-modals-and-day.css
  apps/web/styles/modules/600-steps-and-aps.css
  docs/tasks/archive/2025-12-07-body-measurements-step.md
  docs/tasks/archive/2025-12-07-insulin-wave-meal-warning.md
  done.md
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/shared/.turbo/turbo-type-check.log
  packages/shared/tsconfig.tsbuildinfo
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500, prettier --write
