Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

perf: increase DayTab sync fallback 800ms→5000ms to avoid empty re-render
  apps/web/bundle-manifest.json
  apps/web/heys_app_tabs_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.176b0458a223.js.gz
  apps/web/public/boot-app.bundle.2e787becf30e.js
  apps/web/public/boot-app.bundle.2e787becf30e.js.gz
  apps/web/public/bundle-manifest.json
Due: eslint --max-warnings=500, prettier --write

fix: remove syncVer from DayTab key to prevent full-tab remount after sync
  apps/web/bundle-manifest.json
  apps/web/heys_app_shell_v1.js
  apps/web/heys_app_tabs_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.2e787becf30e.js.gz
  apps/web/public/boot-app.bundle.fdc0ebd280cb.js
  apps/web/public/boot-app.bundle.fdc0ebd280cb.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

docs: actualize loading optimization docs to v9.6 final state
  docs/AI_KEY_FILES.md
  docs/ARCHITECTURE.md
  docs/PERFORMANCE_OPTIMIZATION_MID_TIER.md
  docs/SYNC_OPTIMIZATION_PLAN.md
Due: prettier --write

fix: sync APP_VERSION in heys_pwa_module_v1.js to prevent false PWA update loop on first load
  apps/web/heys_pwa_module_v1.js
  apps/web/scripts/update-version.cjs
Due: eslint --max-warnings=500

docs: full audit & actualization of all key docs (26.02.2026)
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/SYNC_OPTIMIZATION_PLAN.md
  docs/TECHNICAL_ARCHITECTURE.md
Due: prettier --write

chore: add explicit logging for PWA reload triggers
  apps/web/heys_platform_apis_v1.js
Due: eslint --max-warnings=500

docs: reorganize sync/perf docs — merge 4 into 2, archive stale, add cross-links
  .github/log777.yml
  docs/AI_KEY_FILES.md
  docs/PERFORMANCE_OPTIMIZATION_MID_TIER.md
  docs/SYNC_AUDIT_2026-01-05.md
  docs/SYNC_OPTIMIZATION_PLAN.md
  docs/SYNC_PERFORMANCE_REPORT.md
  docs/SYNC_PERFORMANCE_SESSIONS_LOG.md
  docs/archive/README.md
  docs/archive/bundle-splitting-report-2025-09.md
  docs/archive/performance-baseline-2025-09.md
  docs/performance-baseline.md
  docs/plans/LOAD_OPTIMIZATION_PLAN_2026-02-25.md
  infra/README.md
Due: prettier --write

fix: cascadeBar infinite pendulum on fresh incognito load
  apps/web/heys_cascade_card_v1.js
  apps/web/package.json
  pnpm-lock.yaml
Due: eslint --max-warnings=500, prettier --write

fix: set _syncCompletedAt before heys:day-updated to fix cascade pre-sync guard (v65)
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

chore(build): bump version to 2026.02.26.1124.f4c6c977
  apps/web/heys_pwa_module_v1.js
  apps/web/public/build-meta.json
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/react-bundle.js
Due: eslint --max-warnings=500, prettier --write

docs: add DATA_MODEL_NUTRITION/ANALYTICS, SYNC_REFERENCE; expand doc index
  .github/copilot-instructions.md
  CLAUDE.md
  README.md
  docs/AI_KEY_FILES.md
  docs/ARCHITECTURE.md
  docs/DATA_MODEL_ANALYTICS.md
  docs/DATA_MODEL_NUTRITION.md
  docs/DATA_MODEL_REFERENCE.md
  docs/STORE_API_QUICKREF.md
  docs/SYNC_PERFORMANCE_REPORT.md
  docs/SYNC_PERFORMANCE_SESSIONS_LOG.md
  docs/SYNC_REFERENCE.md
  docs/TECHNICAL_ARCHITECTURE.md
  docs/archive/README.md
  docs/archive/legacy/Parameter_Sync_Logic.ru.md
  docs/dev/STORAGE_PATTERNS.md
  docs/tasks/2025-11-30-pwa-features.md
  docs/tasks/2025-12-01-sync-refactor-prompt.md
  docs/tasks/2026-01-10-refactor-storage-supabase.md
Due: prettier --write

docs: add SCORING/APP_SYSTEMS refs; unify doc complexes (v5.6.0)
  .github/copilot-instructions.md
  CLAUDE.md
  docs/APP_SYSTEMS_REFERENCE.md
  docs/CHANGELOG_DATA_MODEL.md
  docs/DATA_MODEL_ANALYTICS.md
  docs/DATA_MODEL_NUTRITION.md
  docs/DATA_MODEL_REFERENCE.md
  docs/SCORING_REFERENCE.md
Due: prettier --write

feat(web): adaptive render gate & day UI improvements
  apps/web/heys_app_tabs_v1.js
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_day_animations.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/public/boot-app.bundle.fdc0ebd280cb.js
  apps/web/public/boot-calc.bundle.35b159a72e66.js
  apps/web/public/boot-core.bundle.574f738d3e52.js
  apps/web/public/boot-day.bundle.7320c50778ec.js
  apps/web/public/boot-init.bundle.878c88e526e7.js
Due: eslint --max-warnings=500

perf(ui): inline login gate and skeleton UI for instant FCP
  apps/web/day/_advice.js
  apps/web/heys_app_auth_init_v1.js
  apps/web/heys_app_initialize_v1.js
  apps/web/heys_app_sync_effects_v1.js
  apps/web/heys_app_tabs_v1.js
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_login_screen_v1.js
  apps/web/heys_pwa_module_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/styles/critical.css
Due: eslint --max-warnings=500

build: add gzip middleware for dev server
  apps/web/vite.config.ts
Due: eslint --max-warnings=500

docs: update sync performance and architecture logs
  docs/ARCHITECTURE.md
  docs/SYNC_PERFORMANCE_REPORT.md
  docs/SYNC_PERFORMANCE_SESSIONS_LOG.md
  docs/SYNC_REFERENCE.md
Due: prettier --write

chore: update bundles and cache version
  apps/web/.turbo/turbo-build.log
  apps/web/bundle-manifest.json
  apps/web/public/boot-app.bundle.82f8201d13bf.js
  apps/web/public/boot-app.bundle.82f8201d13bf.js.gz
  apps/web/public/boot-app.bundle.fdc0ebd280cb.js
  apps/web/public/boot-app.bundle.fdc0ebd280cb.js.gz
  apps/web/public/boot-core.bundle.11e1203df3d1.js
  apps/web/public/boot-core.bundle.11e1203df3d1.js.gz
  apps/web/public/boot-core.bundle.574f738d3e52.js.gz
  apps/web/public/boot-init.bundle.82e8e5c885dc.js
  apps/web/public/boot-init.bundle.82e8e5c885dc.js.gz
  apps/web/public/boot-init.bundle.878c88e526e7.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-1-game.bundle.1b16a058a8f9.js.gz
  apps/web/public/postboot-1-game.bundle.7f1c5f112d43.js
  apps/web/public/postboot-1-game.bundle.7f1c5f112d43.js.gz
  apps/web/public/react-bundle.js.gz
  apps/web/public/sw.js
  apps/web/public/version.json
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

fix(cascade): update history guard to handle Phase A sync events properly
  .claude/plans/gentle-greeting-wren.md
  apps/web/.turbo/turbo-build.log
  apps/web/bundle-manifest.json
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_pwa_module_v1.js
  apps/web/index.html
  apps/web/public/boot-init.bundle.82e8e5c885dc.js.gz
  apps/web/public/boot-init.bundle.965ff6f2560f.js
  apps/web/public/boot-init.bundle.965ff6f2560f.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/public/version.json
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

fix(advice): cold-start guard v1.0 — wait Phase B before tab_open toast
  apps/web/day/_advice.js
  apps/web/heys_day_bundle_v1.js
  apps/web/public/boot-calc.bundle.35b159a72e66.js
Due: eslint --max-warnings=500

docs: update sync architecture, cascade guard v6.2, and data loss protection documentation
  docs/DATA_LOSS_PROTECTION.md
  docs/EWS_WEEKLY_CLOUD_SYNC_DEPLOYMENT.md
  docs/SYNC_PERFORMANCE_REPORT.md
  docs/SYNC_PERFORMANCE_SESSIONS_LOG.md
  docs/SYNC_REFERENCE.md
  docs/dev/STORAGE_PATTERNS.md
Due: prettier --write

perf: fix CSS gate 6-7s skeleton delay on client select
  apps/web/heys_app_initialize_v1.js
  apps/web/heys_app_tabs_v1.js
  apps/web/index.html
  apps/web/public/sw.js
Due: eslint --max-warnings=500

fix: pwa update lifecycle — css re-precache, cache-busted reload, no-store html
  apps/web/bundle-manifest.json
  apps/web/heys_app_update_checks_v1.js
  apps/web/heys_platform_apis_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.82f8201d13bf.js.gz
  apps/web/public/boot-app.bundle.e539ebd7a716.js
  apps/web/public/boot-app.bundle.e539ebd7a716.js.gz
  apps/web/public/boot-calc.bundle.35b159a72e66.js
  apps/web/public/boot-calc.bundle.35b159a72e66.js.gz
  apps/web/public/boot-calc.bundle.9701e1633ac1.js
  apps/web/public/boot-calc.bundle.9701e1633ac1.js.gz
  apps/web/public/boot-core.bundle.11e1203df3d1.js.gz
  apps/web/public/boot-core.bundle.d78546fb6349.js
  apps/web/public/boot-core.bundle.d78546fb6349.js.gz
  apps/web/public/boot-day.bundle.0f10e7bf96dc.js
  apps/web/public/boot-day.bundle.0f10e7bf96dc.js.gz
  apps/web/public/boot-day.bundle.7320c50778ec.js
  apps/web/public/boot-day.bundle.7320c50778ec.js.gz
  apps/web/public/boot-init.bundle.965ff6f2560f.js.gz
  apps/web/public/boot-init.bundle.d7f2ba085f85.js
  apps/web/public/boot-init.bundle.d7f2ba085f85.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-2-insights.bundle.bd05d07de042.js.gz
  apps/web/public/postboot-2-insights.bundle.eeccbf4ef697.js
  apps/web/public/postboot-2-insights.bundle.eeccbf4ef697.js.gz
  apps/web/public/postboot-3-ui.bundle.5115341c9cfc.js.gz
  apps/web/public/postboot-3-ui.bundle.9df20d00d993.js
  apps/web/public/postboot-3-ui.bundle.9df20d00d993.js.gz
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

fix: detect Vite-processed CSS in production — eliminates 3s skeleton delay
  apps/web/bundle-manifest.json
  apps/web/heys_app_initialize_v1.js
  apps/web/index.html
  apps/web/public/boot-init.bundle.26d91a786979.js
  apps/web/public/boot-init.bundle.26d91a786979.js.gz
  apps/web/public/boot-init.bundle.d7f2ba085f85.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix: prevent React LoginScreen from overriding HTML gate curator form
  apps/web/bundle-manifest.json
  apps/web/heys_app_auth_init_v1.js
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_login_screen_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.8f833e7623d1.js
  apps/web/public/boot-app.bundle.8f833e7623d1.js.gz
  apps/web/public/boot-app.bundle.e539ebd7a716.js.gz
  apps/web/public/boot-core.bundle.d78546fb6349.js.gz
  apps/web/public/boot-core.bundle.dffe9b518737.js
  apps/web/public/boot-core.bundle.dffe9b518737.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

docs: update sync reference and add curator vs client docs
  .github/copilot-instructions.md
  .github/log777.yml
  CLAUDE.md
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_pwa_module_v1.js
  apps/web/public/heys-iw-config.json
  apps/web/public/version.json
  docs/CURATOR_VS_CLIENT.md
  docs/SYNC_PERFORMANCE_REPORT.md
  docs/SYNC_PERFORMANCE_SESSIONS_LOG.md
  docs/SYNC_REFERENCE.md
  docs/dev/STORAGE_PATTERNS.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

fix(sync): apply v58 and v59 PIN cold-start resilience fixes
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.021cf9a50103.js
  apps/web/public/boot-core.bundle.021cf9a50103.js.gz
  apps/web/public/boot-core.bundle.dffe9b518737.js.gz
  apps/web/public/bundle-manifest.json
  docs/CURATOR_VS_CLIENT.md
  docs/SYNC_PERFORMANCE_REPORT.md
  docs/SYNC_REFERENCE.md
Due: eslint --max-warnings=500, prettier --write

fix(sync): v60 — route PIN clients to bootstrapClientSync (paginated REST)
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.021cf9a50103.js.gz
  apps/web/public/boot-core.bundle.85cc3d52cbca.js
  apps/web/public/boot-core.bundle.85cc3d52cbca.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

fix: v61 five production issues from log analysis
  apps/web/.turbo/turbo-build.log
  apps/web/bundle-manifest.json
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_platform_apis_v1.js
  apps/web/heys_pwa_module_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/insights/pi_meal_rec_feedback.js
  apps/web/public/boot-app.bundle.3af03331a49b.js
  apps/web/public/boot-app.bundle.3af03331a49b.js.gz
  apps/web/public/boot-app.bundle.8f833e7623d1.js.gz
  apps/web/public/boot-core.bundle.79a5c1431bb6.js
  apps/web/public/boot-core.bundle.79a5c1431bb6.js.gz
  apps/web/public/boot-core.bundle.85cc3d52cbca.js.gz
  apps/web/public/boot-init.bundle.034ea703f881.js
  apps/web/public/boot-init.bundle.034ea703f881.js.gz
  apps/web/public/boot-init.bundle.26d91a786979.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-1-game.bundle.2906d25cd7c8.js
  apps/web/public/postboot-1-game.bundle.2906d25cd7c8.js.gz
  apps/web/public/postboot-1-game.bundle.7f1c5f112d43.js.gz
  apps/web/public/postboot-2-insights.bundle.78c3f56e4d8a.js
  apps/web/public/postboot-2-insights.bundle.78c3f56e4d8a.js.gz
  apps/web/public/postboot-2-insights.bundle.eeccbf4ef697.js.gz
  apps/web/public/sw.js
  apps/web/public/version.json
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

feat: update landing page with new sections and A/B testing variants
  apps/landing/src/app/layout.tsx
  apps/landing/src/app/page.tsx
  apps/landing/src/components/HeroSSR.tsx
  apps/landing/src/components/PricingSSR.tsx
  apps/landing/src/components/Solution.tsx
  apps/landing/src/components/sections/ComparisonSection.tsx
  apps/landing/src/components/sections/NavigatorSection.tsx
  apps/landing/src/components/sections/ObjectionsSection.tsx
  apps/landing/src/components/sections/PainSection.tsx
  apps/landing/src/components/sections/TrustSection.tsx
  apps/landing/src/components/sections/index.ts
  apps/landing/src/config/landing-variants.ts
  apps/landing/src/lib/ab-test.ts
  apps/landing/src/styles/globals.css
  docs/LANDING_COPY_FINAL.md
Due: eslint --max-warnings=500, prettier --write

docs: update sync and curator vs client flow for v62
  docs/CURATOR_VS_CLIENT.md
  docs/SYNC_REFERENCE.md
Due: prettier --write

docs: create ANTILOG.md documentation for console logs suppression strategy
  docs/ANTILOG.md
Due: prettier --write

feat(landing): implement A/B testing infrastructure and migrate components to SSR
  apps/landing/src/app/layout.tsx
  apps/landing/src/app/page.tsx
  apps/landing/src/components/ABTestSwitcher.tsx
  apps/landing/src/components/FAQ.tsx
  apps/landing/src/components/FAQVariantSSR.tsx
  apps/landing/src/components/Footer.tsx
  apps/landing/src/components/FooterSSR.tsx
  apps/landing/src/components/HeroSSR.tsx
  apps/landing/src/components/HowItWorks.tsx
  apps/landing/src/components/Pricing.tsx
  apps/landing/src/components/PricingSSR.tsx
  apps/landing/src/components/Problem.tsx
  apps/landing/src/components/PurchaseSection.tsx
  apps/landing/src/components/Solution.tsx
  apps/landing/src/components/TrialCapacity.tsx
  apps/landing/src/components/TrialForm.tsx
  apps/landing/src/components/TrialSSR.tsx
  apps/landing/src/components/VariantLandingSectionsSSR.tsx
  apps/landing/src/components/sections/ComparisonSection.tsx
  apps/landing/src/components/sections/ContextSection.tsx
  apps/landing/src/components/sections/ControlSection.tsx
  apps/landing/src/components/sections/DecisionsSection.tsx
  apps/landing/src/components/sections/HowItWorksSection.tsx
  apps/landing/src/components/sections/NavigatorSection.tsx
  apps/landing/src/components/sections/ObjectionsSection.tsx
  apps/landing/src/components/sections/PainSection.tsx
  apps/landing/src/components/sections/ProofBar.tsx
  apps/landing/src/components/sections/SupportSection.tsx
  apps/landing/src/components/sections/TrustSection.tsx
  apps/landing/src/components/sections/index.ts
  apps/landing/src/config/landing-variants.ts
  apps/landing/src/lib/ab-test.ts
  apps/landing/tailwind.config.js
Due: eslint --max-warnings=500

chore: untrack turbo build logs
  apps/web/.turbo/turbo-build.log
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: none

feat(web): update CRS logic to v3.7.0 and rebuild legacy bundles
  apps/web/bundle-manifest.json
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_pwa_module_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.16e82d745029.js.gz
  apps/web/public/boot-core.bundle.e620c40d1985.js
  apps/web/public/boot-core.bundle.e620c40d1985.js.gz
  apps/web/public/boot-init.bundle.034ea703f881.js.gz
  apps/web/public/boot-init.bundle.7cf2b4357f16.js
  apps/web/public/boot-init.bundle.7cf2b4357f16.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

feat(landing): update A/B test variants copy and landing sections
  apps/landing/patch_layout.cjs
  apps/landing/src/app/layout.tsx
  apps/landing/src/components/FAQVariantSSR.tsx
  apps/landing/src/components/PricingSSR.tsx
  apps/landing/src/components/TrialSSR.tsx
  apps/landing/src/components/VariantLandingSectionsSSR.tsx
  apps/landing/src/components/sections/ComparisonSection.tsx
  apps/landing/src/components/sections/HowItWorksSection.tsx
  apps/landing/src/components/sections/NavigatorSection.tsx
  apps/landing/src/components/sections/ObjectionsSection.tsx
  apps/landing/src/components/sections/PainSection.tsx
  apps/landing/src/components/sections/TrustSection.tsx
  apps/landing/src/config/landing-variants.ts
  apps/landing/src/lib/ab-test.ts
  apps/web/heys_pwa_module_v1.js
  apps/web/public/build-meta.json
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

chore: remove temp helper scripts
  apps/landing/patch_layout.cjs
Due: none

feat(landing): update landing variants, AB testing and section styles
  apps/landing/src/app/layout.tsx
  apps/landing/src/components/ABTestSwitcher.tsx
  apps/landing/src/components/HeroSSR.tsx
  apps/landing/src/components/PricingSSR.tsx
  apps/landing/src/components/ScrollToTopFAB.tsx
  apps/landing/src/components/VariantLandingSectionsSSR.tsx
  apps/landing/src/components/sections/ComparisonSection.tsx
  apps/landing/src/components/sections/HowItWorksSection.tsx
  apps/landing/src/components/sections/NavigatorSection.tsx
  apps/landing/src/components/sections/ObjectionsSection.tsx
  apps/landing/src/components/sections/PainSection.tsx
  apps/landing/src/components/sections/TrustSection.tsx
  apps/landing/src/config/landing-variants.ts
  apps/landing/src/styles/globals.css
  fix_affordance.js
  fix_affordance2.js
  fix_inner.js
  fix_interactive.js
  fix_interactive2.js
  update_texts.js
  update_trust_ab.js
Due: eslint --max-warnings=500

fix(landing): remove unused abHeadline variable to fix ESLint build error
  apps/landing/src/components/HeroSSR.tsx
Due: eslint --max-warnings=500

feat(landing): add direct purchase modal to pricing cards
  apps/landing/src/components/PricingSSR.tsx
  apps/landing/src/components/PurchaseButton.tsx
  apps/landing/src/components/modals/PurchaseModal.tsx
Due: eslint --max-warnings=500

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
