Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(ui-v4): meal advice swap CTA and vegetable copy
  apps/web/__tests__/meal-advice-family-icon.test.js
  apps/web/heys_day_meal_optimizer_section.js
  apps/web/heys_meal_optimizer_v1.js
  docs/ui/verdicts/nutrition-tab.json
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): reports periods card chevron as SVG path
  apps/web/heys_monthly_reports_v1.js
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/ui/verdicts/reports-insights.json
Due: eslint --max-warnings=500, prettier --write

fix(strength): task48 superset sheet routing, cabinet edit, bodyweight honesty
  маркетинг/01_Ревью_продукта_и_рынка_РФ.md
  маркетинг/15_Ревизия_и_лог_решений.md
Due: prettier --write

fix(ui-v4): boot fail mark circle r9 behind cross
  apps/web/__tests__/ui-v4-transient-geometry.test.js
  apps/web/heys_app_initialize_v1.js
  apps/web/index.html
  docs/ui/verdicts/spinners.json
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): activity month label and trainings chevron
  apps/web/heys_day_activity_v1.js
  apps/web/heys_morning_activation_calendar_v1.js
  apps/web/styles/modules/300-modals-and-day.css
  docs/ui/verdicts/tab-activity.json
Due: eslint --max-warnings=500, prettier --write

fix(strength): task48 superset_ui proposal_ui reachability tails
  apps/web/__tests__/strength-superset-screen-reachability.test.js
  apps/web/strength/heys_strength_proposal_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  scripts/.sb-task48-proposal-handoff.json
  scripts/.sb-task48-superset-handoff.json
Due: eslint --max-warnings=500, prettier --write

fix(strength-builder): wire sheet ctx.openPlanVsDone for builder lane
  apps/web/strength/heys_strength_builder_ui_v1.js
  scripts/.sb-task48-builder-handoff.json
Due: eslint --max-warnings=500, prettier --write

docs(маркетинг): цены и канон Self по источнику правды лендинга
  маркетинг/01_Ревью_продукта_и_рынка_РФ.md
  маркетинг/15_Ревизия_и_лог_решений.md
Due: prettier --write

chore(scripts): extend check-pricing-sync gate to marketing canon
  scripts/check-pricing-sync.cjs
  scripts/check-pricing-sync.test.mjs
Due: none

chore(scripts): add pricing-sync-inventory audit for Task 49a
  scripts/pricing-sync-inventory.mjs
Due: none

chore(ui-v4): храповик mismatch в семи зонах и инвариант вместо литералов
  apps/web/__tests__/ui-v4-verdict-semantics.test.js
  scripts/lib/ui-v4-verdicts.mjs
Due: eslint --max-warnings=500

chore(ui-v4): storozh literal-lock tests — фаза 1 инвентарь
  scripts/.ui-v4-literal-lock-tests-allowlist.json
  scripts/ui-v4-check-literal-lock-tests.mjs
Due: prettier --write

docs(brief): раздел тарифов помечен февральским срезом, числа не тронуты
  docs/HEYS_BRIEF.md
Due: prettier --write

fix(curator-panel): wire client row tap to edit status screen
  apps/web/__tests__/curator-panel-edit-status-reachability.test.js
  apps/web/heys_curator_panel_v1.js
  scripts/.sb-task50-curator-cabinet-handoff.json
  scripts/.task50-commit-msg.txt
Due: eslint --max-warnings=500, prettier --write

test(nutrition): inventory functional smoke scenarios Task 52
  scripts/.nutrition-build-functional-smoke-inventory.mjs
  scripts/.nutrition-functional-smoke-foreign-defects.md
  scripts/.nutrition-functional-smoke-inventory.json
  scripts/bootstrap-bypass-allowlist.txt
Due: prettier --write

fix(strength): revert collapsed exercise title to 12.5px
  apps/web/__tests__/nutrition-functional-smoke.test.js
Due: eslint --max-warnings=500

docs(ui-v4): task51 полоса 2 — 20 verified ≠→=
  docs/ui/verdicts/checkin-morning.json
  docs/ui/verdicts/gamification.json
  docs/ui/verdicts/nutrition-tab.json
  docs/ui/verdicts/reports-insights.json
  docs/ui/verdicts/settings-system.json
  docs/ui/verdicts/strength-builder.json
Due: prettier --write

fix(reports-insights): warm bare literals phase2 → v4 roles
  apps/web/__tests__/activity-numbers-net-and-plan.test.js
Due: eslint --max-warnings=500

fix(reports-insights): warm bare literals phase2 → v4 roles
  apps/web/__tests__/polosa4-task53-bare-literals-reports-insights.test.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/styles/modules/740-cascade-card.css
  scripts/.polosa4-task53-bare-literals-reports-insights-handoff.json
  scripts/raw-session-clear-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): polosa4 task53 phase2 — nutrition-tab bare literals (CSS)
  apps/web/__tests__/polosa4-task53-bare-literals-nutrition-tab.test.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
  scripts/.polosa4-task53-nutrition-tab-handoff.json
Due: eslint --max-warnings=500, prettier --write

fix(strength): revert collapsed exercise title to 12.5px
  apps/web/styles/modules/750-strength-builder.css
Due: none

fix(test): strength menu sheet contract — openPlanVsDone wiring
  apps/web/__tests__/strength-builder-menu-sheet-v4-canvas-contract.test.js
  scripts/.sb-task56-lane1-handoff.json
  scripts/.task56-commit-msg.txt
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): polosa4 task53 water-add — warm bare literals phase 2
  apps/web/__tests__/polosa4-task53-bare-literals-water-add.test.js
  apps/web/heys_day_day_handlers.js
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/widgets/widget_data.js
  scripts/.polosa4-task53-bare-literals-water-add-handoff.json
Due: eslint --max-warnings=500, prettier --write

fix(ui): home-widgets bucket-2 amber literals → v4 warn roles
  apps/web/__tests__/polosa4-task53-bare-literals-home-widgets.test.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_user_v12.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/styles/heys-components.css
  scripts/.polosa4-task53-bare-literals-home-widgets-handoff.json
  scripts/.polosa4-task53-hw-commit-msg.txt
  scripts/raw-session-clear-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(ui-v4): храповик вслед за 20 закрытыми «≠» и откатом спорной строки
  scripts/lib/ui-v4-verdicts.mjs
Due: none

chore(ui-v4): polosa 6 task57 — tier A infra literal-lock
  apps/web/__tests__/ui-v4-verdict-semantics.test.js
Due: eslint --max-warnings=500

chore(ui-v4): literal-lock Tier A mandatory in ui:v4:check
  package.json
  scripts/.ui-v4-literal-lock-tests-allowlist-hex.json
  scripts/.ui-v4-literal-lock-tests-allowlist.json
  scripts/ui-v4-check-literal-lock-tests.mjs
Due: prettier --write

fix(spinners): warm bare literals phase2 → v4 roles
  apps/web/__tests__/polosa4-task53-bare-literals-spinners.test.js
  apps/web/heys_consents_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/styles/heys-boot-mark.css
  scripts/.polosa4-task53-bare-literals-spinners-commit-msg.txt
  scripts/.polosa4-task53-bare-literals-spinners-handoff.json
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: eslint --max-warnings=500, prettier --write

docs(дизайн): поставка пакета 36 — три новые зоны и семь решений владельца в кадрах
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-curator-cabinet.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-food-meal.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-norm-correction.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-nutrition-tab.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-product-card.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-settings-system.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-strength-builder.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/curator-cabinet.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/food-meal.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/norm-correction.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/nutrition-tab.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/product-card.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/settings-system.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/settings-system.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/strength-builder.v4.dc.html
Due: prettier --write

docs(дизайн): пакет 36 — три новые зоны, ответы кодеру и приёмочные листы
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-first-run.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-messenger.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-subscription.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/first-run.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/messenger.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/first-run.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/messenger.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/subscription.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/subscription.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ОТВЕТ-отступления-для-дизайнера.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ОТВЕТ-расхождения-findings.md
Due: prettier --write

test(day-loop): close ci-overdue-open-layer GAP
  apps/web/__tests__/day-loop-functional-smoke.test.js
  scripts/.day-loop-build-inventory.mjs
  scripts/.day-loop-functional-smoke-inventory.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): рамка роадмапа — приоритет по цене простоя, не по полноте
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

fix(strength): wire open-card rest copy for dispute-k K9
  apps/web/__tests__/ui-v4-dom-contracts.test.js
  apps/web/scripts/ui-v4-dom-contracts.mjs
Due: eslint --max-warnings=500

docs(ui-v4): bootstrap verdict zones first-run, subscription, messenger
  apps/web/__tests__/desktop-gate-qr.test.js
  scripts/.ui-v4-literal-lock-tests-allowlist.json
Due: eslint --max-warnings=500, prettier --write

fix(food-meal): ink-ladder сторожит роль, не литерал fallback
  apps/web/__tests__/tab-activity-v4-current-contract.test.js
Due: eslint --max-warnings=500

test(home-widgets): ruleBlock вместо slice 700 для user-select
  apps/web/__tests__/home-widgets-gamification-product-rules.test.js
Due: eslint --max-warnings=500

fix(strength): Task 60 lane 1 — interrupted, proposal-started M4, GAP 6b
  apps/web/__tests__/food-meal-v4-ink-ladder-contract.test.js
  apps/web/__tests__/home-widgets-gamification-product-rules.test.js
  apps/web/__tests__/polosa4-task63-product-card-touch-44px.test.js
  apps/web/__tests__/pre-push-vitest-cache.test.js
  apps/web/__tests__/product-card-v4-current-contract.test.js
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/611-aps-product-card.css
  docs/ui/verdicts/first-run.json
  docs/ui/verdicts/messenger.json
  docs/ui/verdicts/subscription.json
  scripts/.polosa4-task63-product-card-touch-commit-msg.txt
  scripts/.polosa4-task63-product-card-touch-handoff.json
  scripts/.sb-task60-dispute-k-handoff.json
  scripts/.sb-task60-entry-handoff.json
  scripts/.task60-dispute-k-commit-msg.txt
  scripts/.task60-entry-commit-msg.txt
  scripts/pre-push-vitest-cache.mjs
Due: eslint --max-warnings=500, prettier --write

fix(scripts): safe temp-tree delete for pre-push vitest cache
  apps/web/__tests__/home-widgets-gamification-product-rules.test.js
Due: eslint --max-warnings=500

test(calm): вернуть спорные строки в список и снять решённую
  apps/web/__tests__/polosa4-task63-food-meal-touch-44px.test.js
  scripts/.polosa4-task63-food-meal-touch-handoff.json
Due: eslint --max-warnings=500, prettier --write

test(calm): вернуть спорные строки в список и снять решённую
  apps/web/__tests__/strength-builder-calm-canvas-contract.test.js
Due: eslint --max-warnings=500
