Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: use env vars instead of secrets in workflow condition
  .github/workflows/deploy-yandex.yml
Due: prettier --write

ci: disable tests in deploy workflow, skip flaky tests
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-yandex.yml
  apps/web/__tests__/import-fixes.test.js
  apps/web/package.json
  apps/web/src/components/CuratorPanel/__tests__/CuratorPanel.test.tsx
  apps/web/src/hooks/__tests__/useServiceWorker.test.ts
  apps/web/src/utils/__tests__/validator.test.ts
  apps/web/vitest.config.ts
Due: eslint --max-warnings=500, prettier --write

chore: update lockfile
  pnpm-lock.yaml
Due: prettier --write

fix(ci): use manifest.json instead of manifest.webmanifest in deploy
  .github/workflows/deploy-yandex.yml
Due: prettier --write

ci: add health check, CDN docs, fix purge paths
  .github/workflows/deploy-yandex.yml
  infra/README.md
Due: prettier --write

ci: make hardcoded version check non-blocking (changelogs are OK)
  .github/workflows/docs-check.yml
Due: prettier --write

ci: remove --delete from s3 sync (no IAM delete permission)
  .github/workflows/deploy-yandex.yml
Due: prettier --write

ci: add apps/landing to pnpm workspace
  pnpm-workspace.yaml
Due: prettier --write

ci: update pnpm-lock.yaml with landing deps
  pnpm-lock.yaml
Due: prettier --write

fix(cors): add app.heyslab.ru to allowed origins
  yandex-cloud-functions/heys-api-leads/index.js
  yandex-cloud-functions/heys-api-rest/index.js
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-sms/index.js
Due: eslint --max-warnings=500

fix(build): copy widgets folder to dist
  apps/web/vite.config.ts
Due: eslint --max-warnings=500

chore: remove unused CI workflows
  .github/workflows/docs-check.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/security-scan-new.yml
  .github/workflows/security-scan.yml
  apps/web/test-output.txt
  apps/web/vitest.setup.ts
Due: eslint --max-warnings=500, prettier --write

fix: add missing shared_products_pending table to Yandex Cloud
  yandex-cloud-functions/migrations/2025-12-22_missing_tables.sql
Due: none

fix(cdn): set 10min cache for JS files (was 1 year)
  .github/workflows/deploy-yandex.yml
Due: prettier --write

fix(cdn): add JS files to CDN cache invalidation
  .github/workflows/deploy-yandex.yml
  apps/web/heys_advice_v1.js
  apps/web/heys_day_v12.js
  apps/web/heys_sounds_v1.js
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

fix: dynamic cache-busting for heys_app_v12.js
  .github/workflows/deploy-yandex.yml
  apps/web/heys_app_v12.js
  apps/web/index.html
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/scripts/update-version.cjs
Due: eslint --max-warnings=500, prettier --write

feat: disable SMS verification for consents (use checkbox+logging)
  apps/web/heys_consents_v1.js
Due: eslint --max-warnings=500

refactor: improve consent texts for 152-ФЗ compliance
  apps/web/heys_consents_v1.js
Due: eslint --max-warnings=500

docs: 152-ФЗ compliance - fill real business details, enhance health consent (v1.2)
  apps/web/heys_consents_v1.js
  docs/legal/consent-forms.md
  docs/legal/privacy-policy.md
  docs/legal/user-agreement.md
Due: eslint --max-warnings=500, prettier --write

fix: use U.lsGet/lsSet for localStorage operations + version bump
  apps/web/heys_app_v12.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_v12.js
  apps/web/index.html
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

fix: add cache-busting for legal documents to fix stale cache (v1.2)
  apps/web/heys_consents_v1.js
Due: eslint --max-warnings=500

fix: add legal docs to public folder for deployment
  .gitignore
  apps/web/public/docs/chat-rules.md
  apps/web/public/docs/consent-forms.md
  apps/web/public/docs/privacy-policy.md
  apps/web/public/docs/user-agreement.md
Due: prettier --write

fix: bypass SW cache for .md legal documents
  apps/web/public/sw.js
Due: eslint --max-warnings=500

fix: legal docs caching (152-ФЗ compliance)
  .github/workflows/deploy-yandex.yml
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix: add legal docs to CDN purge (152-ФЗ compliance)
  .github/workflows/deploy-yandex.yml
Due: prettier --write

fix: versioned doc URLs to prevent CDN stale content (152-ФЗ)
  .github/workflows/deploy-yandex.yml
  apps/web/heys_app_v12.js
  apps/web/heys_consents_v1.js
  apps/web/index.html
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

fix(deploy): proper cache control for mutable JS files
  .github/workflows/deploy-yandex.yml
Due: prettier --write

fix(consents): add emergency switch to prevent verify_code when SMS disabled
  apps/web/heys_consents_v1.js
  apps/web/index.html
Due: eslint --max-warnings=500

fix: normalize YandexAPI response in consents module
  apps/web/heys_consents_v1.js
  apps/web/index.html
Due: eslint --max-warnings=500

fix: restore PIN session with RPC mode and sync on page refresh
  apps/web/heys_app_v12.js
Due: eslint --max-warnings=500

feat: добавлена система Toast-уведомлений
  apps/web/heys_app_v12.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_supplements_v1.js
  apps/web/heys_toast_v1.js
  apps/web/index.html
Due: eslint --max-warnings=500

docs: update status — all services LIVE, ЮKassa unblocked (v3.4)
  docs/HEYS_BRIEF.md
  todo.md
Due: prettier --write

feat(pwa): 🚀 Major PWA Enhancement - Update Badge, Wake Lock, Share Target, Idle Detection
  apps/web/heys_app_v12.js
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_yesterday_verify_v1.js
  apps/web/index.html
  apps/web/public/manifest.json
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/styles/main.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/715-yesterday-verify.css
Due: eslint --max-warnings=500, prettier --write

feat(pwa): add super-app APIs (Barcode, FileSystem, Credentials, Vibration, Animations)
  apps/web/heys_app_v12.js
  apps/web/index.html
  apps/web/public/manifest.json
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

fix(sw): improve update detection using registration.active
  apps/web/heys_app_v12.js
  apps/web/index.html
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

perf(ci): optimize deploy workflow - parallel uploads
  .github/workflows/deploy-yandex.yml
Due: prettier --write

fix(ci): add fetch-depth to deploy-functions job for git diff
  .github/workflows/deploy-yandex.yml
Due: prettier --write

fix(pwa): reset session and localStorage on CACHES_CLEARED
  apps/web/heys_app_v12.js
Due: eslint --max-warnings=500
