Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(lint): разрешить device-local запись вида карточки воды
  scripts/bootstrap-bypass-allowlist.baseline
  scripts/bootstrap-bypass-allowlist.txt
Due: none

fix(water): капля и звук не ветвятся по prefers-reduced-motion
  apps/web/__tests__/motion-policy.test.js
  apps/web/__tests__/water-add-v4.test.js
  apps/web/heys_day_day_handlers.js
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

fix(widgets): «хорошее» значение в плитках v4 снова песочно-зелёное
  apps/web/styles/modules/730-widgets-dashboard.css
Due: none

test(widgets,steps): снять контракты, отменённые решениями владельца
  apps/web/__tests__/adaptive-steps-goal.test.js
  apps/web/__tests__/widget-variants-v4.test.js
Due: eslint --max-warnings=500

feat(widgets): раскладка Главной по порядку чтения и размер как свойство вида
  apps/web/__tests__/widgets-flow-layout-v4.test.js
  apps/web/__tests__/widgets-v4-sphere.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/heys_widgets_variants_v4.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(consents): баннер зовёт подписать только то, что подписать можно
  apps/web/__tests__/optional-consent-recheck.test.js
  apps/web/heys_consents_v1.js
Due: eslint --max-warnings=500

fix(nutrition): числа и палитры вкладки «Питание» по контракту канваса
  apps/web/advice/_core.js
  apps/web/heys_day_calculations.js
  apps/web/heys_day_day_handlers.js
  apps/web/heys_day_nutrition_state_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/NUTRITION_TAB_V4_PROTOCOL.md
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_day_calculations.js
Due: eslint --max-warnings=500, prettier --write

feat(consents): экран повторной подписи для документов вне онбординга
  apps/web/__tests__/optional-consent-recheck.test.js
  apps/web/heys_app_overlays_props_v1.js
  apps/web/heys_app_overlays_v1.js
  apps/web/heys_app_root_impl_v1.js
  apps/web/heys_consents_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

fix(consents): короткое имя документа в листе повторной подписи
  apps/web/heys_consents_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

feat(widgets): пустые плитки прочерком, превью в каталоге и память прокрутки
  apps/web/__tests__/widgets-flow-layout-v4.test.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
Due: eslint --max-warnings=500, prettier --write

feat(widgets): каталог рисует настоящую плитку, вид v4 работает и в расстановке
  apps/web/__tests__/widgets-catalog-preview-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
Due: eslint --max-warnings=500, prettier --write

fix(widgets): карточка листа рисуется в своём формате, а не в формате плитки
  apps/web/__tests__/widget-variants-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/heys_widgets_variants_v4.js
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
Due: eslint --max-warnings=500, prettier --write

feat(nutrition): вкладка «Питание» по контракту канваса v4
  apps/web/__tests__/day-diary-section-mobile-fast-path.test.js
  apps/web/__tests__/nutrition-tab-v4-states.test.js
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/day/_meals.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_nutrition_card_v1.js
  apps/web/heys_day_nutrition_v1.js
  apps/web/heys_day_page_shell.js
  apps/web/heys_day_picker_modals.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/heys_meal_step_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
  docs/implementation/NUTRITION_TAB_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

fix(nutrition): правки после ревью и сверки с приёмочным листом
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_nutrition_state_v1.js
  apps/web/heys_day_nutrition_v1.js
  apps/web/heys_day_page_shell.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_toast_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
  docs/implementation/NUTRITION_TAB_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

docs(nutrition): пометить as-is вкладки «Питание» как снимок «до»
  docs/implementation/NUTRITION_TAB_AS_IS.md
Due: prettier --write

docs(handoff-v4): пакет канваса v4 — вкладка «Питание» доведена до передачи
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-nutrition-tab.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/nutrition-tab.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/water-add.v4.dc.html
Due: prettier --write

chore(bundles): пересобрать легаси-бандлы под текущие исходники
  apps/web/bundle-manifest.json
  apps/web/heys_advice_bundle_v1.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.5e87657fcafc.js
  apps/web/public/boot-app.bundle.5e87657fcafc.js.gz
  apps/web/public/boot-app.bundle.bd400b8e2fd8.js
  apps/web/public/boot-app.bundle.bd400b8e2fd8.js.gz
  apps/web/public/boot-calc.bundle.3f6b2319a94c.js
  apps/web/public/boot-calc.bundle.3f6b2319a94c.js.gz
  apps/web/public/boot-calc.bundle.f6b22fee5f6c.js
  apps/web/public/boot-calc.bundle.f6b22fee5f6c.js.gz
  apps/web/public/boot-core.bundle.4077c4d4fdad.js
  apps/web/public/boot-core.bundle.4077c4d4fdad.js.gz
  apps/web/public/boot-core.bundle.66b8bacf389c.js
  apps/web/public/boot-core.bundle.66b8bacf389c.js.gz
  apps/web/public/boot-day.bundle.12744626a575.js
  apps/web/public/boot-day.bundle.12744626a575.js.gz
  apps/web/public/boot-day.bundle.ddfa606349ba.js
  apps/web/public/boot-day.bundle.ddfa606349ba.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.0380167f559e.js
  apps/web/public/postboot-1-game-lazy.bundle.0380167f559e.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.defaaead6571.js
  apps/web/public/postboot-1-game-lazy.bundle.defaaead6571.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.463e8583004a.js
  apps/web/public/postboot-3-ui-lazy.bundle.463e8583004a.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.7b154741aaaa.js
  apps/web/public/postboot-3-ui-lazy.bundle.7b154741aaaa.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(nutrition): свести геометрию вкладки с кадрами канваса
  apps/web/__tests__/nutrition-v4-canvas-geometry.test.js
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/heys_paywall_v1.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
  docs/implementation/NUTRITION_TAB_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

test(nutrition,widgets): контракты приведены к принятым решениям v4
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/__tests__/reports-v4-structure.test.js
  apps/web/__tests__/subscription-curator-guard.test.js
Due: eslint --max-warnings=500

feat(ui-v4): гейт неопределённых ролей палитры и правило сведения с канвасом
  AGENTS.md
  CLAUDE.md
  apps/web/__tests__/ui-v4-undefined-roles.test.js
  package.json
  scripts/ui-v4-check-undefined-roles.mjs
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): журнал расхождений с контрактом и правило его вести
  AGENTS.md
  CLAUDE.md
  docs/README.md
  docs/implementation/NUTRITION_TAB_V4_PROTOCOL.md
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

test(widgets): гейт геометрии против кадров канваса и правки листа смены вида
  apps/web/__tests__/widgets-v4-canvas-geometry.test.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
Due: eslint --max-warnings=500, prettier --write

feat(widgets): «Инсулин», «Шаги», «Streak» и «Каскад» гасим как в разработке
  apps/web/__tests__/widgets-catalog-preview-v4.test.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
Due: eslint --max-warnings=500, prettier --write

feat(widgets): виджеты «в разработке» уходят и с уже собранных экранов
  apps/web/__tests__/widgets-flow-layout-v4.test.js
  apps/web/heys_widgets_core_v1.js
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(consents): код доступа в листе подписи вводится как везде
  apps/web/heys_consents_v1.js
Due: eslint --max-warnings=500

feat(ui-v4): снимок контрактов канвасов — гейт «контракт поехал»
  AGENTS.md
  CLAUDE.md
  apps/web/__tests__/ui-v4-contract-drift.test.js
  apps/web/heys_toast_v1.js
  docs/README.md
  docs/implementation/WATER_REVIEW_CARD_V4_PROTOCOL.md
  docs/ui/build-acceptance-filled.mjs
  docs/ui/composer-handoff-v4-acceptance-code.md
  docs/ui/ui-v4-contract-verdicts.json
  docs/ui/validate-acceptance-canvas.mjs
  package.json
  scripts/ui-v4-check-contract-drift.mjs
Due: eslint --max-warnings=500, prettier --write

perf(mcp): режем лишние круги модели и чиним связку трейса
  database/2026-08-21_mcp_call_events_conn_id.sql
  todo.md
  yandex-cloud-functions/heys-api-rpc/mcp-telemetry-rpc.js
  yandex-cloud-functions/heys-api-rpc/tests/mcp_telemetry_rpc.contract.test.js
  yandex-cloud-functions/heys-mcp/MCP_TELEMETRY_ROADMAP.md
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/mcp-correlate.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/repeat-guard.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/telemetry.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/call-context.js
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/mcp-correlate.js
  yandex-cloud-functions/heys-mcp/lib/mcp-trace-tools.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/repeat-guard.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/telemetry.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): вердикты по всем 101 строке контракта виджетов Главной
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

docs(agents): вердикт закрывает тот, кто сводил экран, и контракт перечитывают по ходу
  AGENTS.md
  CLAUDE.md
Due: prettier --write

docs(ui-v4): задание дизайнеру на четыре виджета без вида в канвасе
  docs/ui/BRIEF-widgets-in-development.md
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

fix(mcp): conn_id считается от метки чата, а не от токена
  todo.md
  yandex-cloud-functions/heys-mcp/MCP_TELEMETRY_ROADMAP.md
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/handler.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/telemetry.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/telemetry.js
Due: eslint --max-warnings=500, prettier --write

fix(nutrition): код под пакет канваса 21.08
  apps/web/__tests__/nutrition-v4-canvas-geometry.test.js
  apps/web/heys_day_nutrition_v1.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
  docs/implementation/NUTRITION_TAB_V4_PROTOCOL.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(mcp): серию считает телеметрия, а эффект подсказок стало видно
  database/2026-08-21_mcp_call_events_hint.sql
  scripts/mcp-stats.mjs
  todo.md
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/mcp-telemetry-rpc.js
  yandex-cloud-functions/heys-api-rpc/tests/mcp_telemetry_rpc.contract.test.js
  yandex-cloud-functions/heys-mcp/MCP_TELEMETRY_ROADMAP.md
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/repeat-guard.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/heys-api.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/telemetry.js
Due: eslint --max-warnings=500, prettier --write

perf(mcp): потолок счётчика серии — 250 мс, как у записи телеметрии
  todo.md
  yandex-cloud-functions/heys-mcp/lib/heys-api.js
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): в журнале расхождений остаются только открытые вопросы
  AGENTS.md
  CLAUDE.md
  docs/README.md
  docs/implementation/NUTRITION_TAB_V4_PROTOCOL.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

docs(nutrition): вкладка сведена — открытых вопросов к дизайну не осталось
  docs/implementation/NUTRITION_TAB_V4_PROTOCOL.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/ui-v4-contract-verdicts.json
  scripts/bootstrap-bypass-allowlist.txt
Due: prettier --write

fix(mcp): не обрывать запись телеметрии своим же таймаутом
  yandex-cloud-functions/heys-mcp/index.js
Due: eslint --max-warnings=500

feat(widgets): три типа сняты, «Шаги» на v4, каталог с состояниями ожидания
  apps/web/__tests__/widget-variants-v4.test.js
  apps/web/__tests__/widgets-catalog-preview-v4.test.js
  apps/web/__tests__/widgets-flow-layout-v4.test.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/heys_widgets_variants_v4.js
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/widgets/widget_data.js
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): запись про четыре виджета закрыта, задание дизайнеру снято
  docs/ui/BRIEF-widgets-in-development.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: prettier --write

docs(ui-v4): пакет дизайна 21 августа — «Шаги» на v4 и три снятых типа
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-nutrition-tab.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/date-remainders.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/nutrition-tab.v4.dc.html
Due: prettier --write
