Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix(landing): show curator name Anton in section 05
  apps/landing/src/components/versions/d/CuratorSection.tsx
Due: eslint --max-warnings=500

fix(landing): frame curator experience claim as personal practice
  apps/landing/COPY_VOICE.md
  apps/landing/src/components/versions/b/CuratorIntro.tsx
  apps/landing/src/components/versions/d/CuratorSection.tsx
Due: eslint --max-warnings=500, prettier --write

fix(landing): finish HeroD scroll zoom on mobile and counter-scale play
  apps/landing/src/components/versions/d/HeroD.tsx
Due: eslint --max-warnings=500

fix(landing): stop HeroD zoom at centered mockup without covering badge
  apps/landing/src/components/versions/d/HeroD.tsx
Due: eslint --max-warnings=500

fix(landing): narrower HeroD final scale and clear CTA below phone
  apps/landing/src/components/versions/d/HeroD.tsx
Due: eslint --max-warnings=500

fix(landing): trim HeroD bottom padding to zoom travel only
  apps/landing/src/components/versions/d/HeroD.tsx
Due: eslint --max-warnings=500

feat(heys-mcp): flexible supplements and standup checkpoint fixes
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/profile.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

fix(checkin): skip morning wizard when curator filled core steps
  apps/web/__tests__/curator-authorship.test.js
  apps/web/__tests__/morning-checkin-flow-resume.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_morning_checkin_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.3da8086083a6.js
  apps/web/public/postboot-3-ui-lazy.bundle.3da8086083a6.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.7275ea050782.js
  apps/web/public/postboot-3-ui-lazy.bundle.7275ea050782.js.gz
  apps/web/public/sw.js
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
Due: eslint --max-warnings=500, prettier --write

fix(landing): align D CTAs, move trial after week, drop founder-led
  apps/landing/COPY_VOICE.md
  apps/landing/design/landing-d/README.md
  apps/landing/src/components/__tests__/versionD-positioning.test.ts
  apps/landing/src/components/versions/d/HeroD.tsx
  apps/landing/src/components/versions/d/PainSection.tsx
  apps/landing/src/components/versions/d/PricingD.tsx
  apps/landing/src/components/versions/d/ReviewedWeek.tsx
Due: eslint --max-warnings=500, prettier --write

fix(landing): fix import order so D build passes eslint
  apps/landing/src/components/versions/d/PricingD.tsx
  apps/landing/src/components/versions/d/ReviewedWeek.tsx
Due: eslint --max-warnings=500

chore(web): bump SW cache after scoped check-in deploy
  apps/web/bundle-manifest.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

feat(heys-mcp): refeed day set and clear via connector
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

fix(tasks): append-only RPC for transcript/journal over 256KB limit
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/heys-api.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

fix(tasks): bundle tasks KV module into heys-api-rpc deploy
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/lib/heys_tasks_kv.cjs
Due: eslint --max-warnings=500

fix(tasks): include rotated journal/transcript archive in context corpus
  yandex-cloud-functions/heys-api-rpc/lib/heys_tasks_kv.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

fix(tasks): keep tasks_context honesty boundary in tool description
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
Due: eslint --max-warnings=500

feat(heys-mcp): add MCP tool annotations for connector UI
  yandex-cloud-functions/heys-mcp/__tests__/tool-annotations.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tool-annotations.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

fix(tasks): agent closes own completed tasks; ask if unsure
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
Due: eslint --max-warnings=500

fix(ci): align auto-sync integration tests with owned/foreign generated baseline
  apps/web/__tests__/auto-sync-agent-check.test.js
Due: eslint --max-warnings=500

fix(api-rpc): block stale client from resurrecting tombstoned meals
  yandex-cloud-functions/heys-api-rpc/__tests__/merge-missing-content-guard.test.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

test(web): update merge-save contract for tombstone guard
  apps/web/__tests__/sync-merge-shared.test.js
Due: eslint --max-warnings=500

fix(deps): bump js-yaml override to 4.3.1 (CVE-2026)
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(ci): bypass ghost deploy queue via new concurrency group
  .github/workflows/deploy-yandex.yml
Due: prettier --write

feat(heys-mcp): soft-nudge journal and fact reminders after checkpoint
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

fix(heys-mcp): cut diary friction for 2-3-call meal logging
  docs/audits/2026-08-07_mcp_diary_friction.md
  scripts/smoke-delete-meal-tombstone.cjs
  todo.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/products.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/products.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): resolve client aliases like «мне» without list_clients
  docs/audits/2026-08-07_mcp_diary_friction.md
  todo.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): block tasks_context on diary alias addressing
  docs/audits/2026-08-07_mcp_diary_friction.md
  todo.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): block tasks_context archaeology reframe for address aliases
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

fix(heys-mcp): Layer 4 MAX diary alias guards and morphology
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

fix(heys-mcp): load diary aliases from KV file shape text/rev
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/curator.js
Due: eslint --max-warnings=500

feat(heys-mcp): board_reminder soft-nudge + standup decide groups parity
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

feat(board): PWA read-only tab and /mcp/board HTTP bridge
  apps/web/bundle-manifest.json
  apps/web/heys_app_root_impl_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_app_shortcuts_v1.js
  apps/web/heys_board_tab_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.cb28f142aa27.js
  apps/web/public/boot-app.bundle.cb28f142aa27.js.gz
  apps/web/public/boot-app.bundle.d5a0967ec408.js
  apps/web/public/boot-app.bundle.d5a0967ec408.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.7275ea050782.js
  apps/web/public/postboot-3-ui-lazy.bundle.7275ea050782.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.9291157910b5.js
  apps/web/public/postboot-3-ui-lazy.bundle.9291157910b5.js.gz
  apps/web/public/sw.js
  packages/core/src/server.js
  scripts/legacy-bundle-config.mjs
  yandex-cloud-functions/api-gateway-spec.yaml
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/heys-mcp/__tests__/board.test.cjs
  yandex-cloud-functions/heys-mcp/api-gateway-mcp-paths.yaml
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/board.js
Due: eslint --max-warnings=500, prettier --write

fix(board): use lsSet for board snapshot cache
  apps/web/bundle-manifest.json
  apps/web/heys_board_tab_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.9291157910b5.js
  apps/web/public/postboot-3-ui-lazy.bundle.9291157910b5.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.a2597494278e.js
  apps/web/public/postboot-3-ui-lazy.bundle.a2597494278e.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(board): drop raw localStorage write fallback
  apps/web/bundle-manifest.json
  apps/web/heys_board_tab_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.a2597494278e.js
  apps/web/public/postboot-3-ui-lazy.bundle.a2597494278e.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.a95447018927.js
  apps/web/public/postboot-3-ui-lazy.bundle.a95447018927.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(board): theme write via lsSet only
  apps/web/bundle-manifest.json
  apps/web/heys_board_tab_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.3494f10b5d38.js
  apps/web/public/postboot-3-ui-lazy.bundle.3494f10b5d38.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.725a97092cd7.js
  apps/web/public/postboot-3-ui-lazy.bundle.725a97092cd7.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(board): define slot/habit toggle state — crash on board tab
  apps/web/bundle-manifest.json
  apps/web/heys_board_tab_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.117d9b4db78d.js
  apps/web/public/postboot-3-ui-lazy.bundle.117d9b4db78d.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.725a97092cd7.js
  apps/web/public/postboot-3-ui-lazy.bundle.725a97092cd7.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(heys-mcp): board OPTIONS CORS for credentialed PWA requests
  yandex-cloud-functions/heys-mcp/__tests__/handler.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
Due: eslint --max-warnings=500

fix(mcp): считать норму дня сервером целиком, не из кэша отрисовки
  apps/web/BUGS_HISTORY.md
  apps/web/__tests__/caloric-debt-core.test.js
  apps/web/__tests__/caloric-display-optimum-meta.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_day_caloric_balance_v1.js
  apps/web/heys_day_caloric_debt_core_v1.js
  apps/web/heys_day_caloric_display_state.js
  apps/web/heys_day_sparkline_data_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/index.html
  apps/web/public/boot-day.bundle.bd1db36d371d.js
  apps/web/public/boot-day.bundle.bd1db36d371d.js.gz
  apps/web/public/boot-day.bundle.f1dc80fcd975.js
  apps/web/public/boot-day.bundle.f1dc80fcd975.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  docs/DATA_MODEL_REFERENCE.md
  docs/implementation/MCP_NORM_SERVER_SIDE_2026-08-08.md
  scripts/legacy-bundle-config.mjs
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_day_caloric_debt_core_v1.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_iw_constants.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_iw_shim.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_iw_utils.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_refeed_v1.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/index.js
Due: eslint --max-warnings=500, prettier --write

fix(tdee): считать расход над покоем и брать возраст из даты рождения
  apps/web/BUGS_HISTORY.md
  apps/web/__tests__/caloric-debt-core.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_day_caloric_debt_core_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_low_cal_banner_v1.js
  apps/web/heys_day_utils.js
  apps/web/heys_tdee_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.132acb74570d.js
  apps/web/public/boot-calc.bundle.132acb74570d.js.gz
  apps/web/public/boot-calc.bundle.b1ef5a8d98b7.js
  apps/web/public/boot-calc.bundle.b1ef5a8d98b7.js.gz
  apps/web/public/boot-day.bundle.18622e346f73.js
  apps/web/public/boot-day.bundle.18622e346f73.js.gz
  apps/web/public/boot-day.bundle.f1dc80fcd975.js
  apps/web/public/boot-day.bundle.f1dc80fcd975.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_day_caloric_debt_core_v1.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_tdee_v1.js
Due: eslint --max-warnings=500, prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
