Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: React CDN → local bundle + reduce console noise (v4.7.1)
  .github/log777.yml
  apps/web/advice/_core.js
  apps/web/day/_meals.js
  apps/web/heys_app_client_management_v1.js
  apps/web/heys_app_sync_effects_v1.js
  apps/web/heys_app_tabs_v1.js
  apps/web/heys_consents_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_meal_handlers.js
  apps/web/heys_day_utils.js
  apps/web/heys_dev_utils.js
  apps/web/heys_storage_layer_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_subscription_v1.js
  apps/web/heys_trial_queue_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/src/react-globals.ts
  apps/web/vite.config.ts
Due: eslint --max-warnings=500, prettier --write

feat: Product rename cascade + улучшения RationTab v4.8.0
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_derived_state_v1.js
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_app_root_impl_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_app_sync_effects_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_effects.js
  apps/web/heys_models_v1.js
  apps/web/heys_platform_apis_v1.js
  apps/web/heys_storage_layer_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/styles/heys-components.css
Due: eslint --max-warnings=500

feat(core): расширить backfill extended полей продуктов (29 атрибутов)
  apps/web/heys_core_v12.js
  todo.md
Due: eslint --max-warnings=500, prettier --write

feat(pwa): PWA Recovery System — auto-recovery при ошибках загрузки
  apps/web/heys_app_dependency_loader_v1.js
  apps/web/heys_app_initialize_v1.js
  apps/web/heys_app_root_component_v1.js
  apps/web/heys_app_root_impl_v1.js
  apps/web/heys_app_root_v1.js
  apps/web/heys_app_ui_state_v1.js
  apps/web/heys_app_v12.js
  apps/web/heys_core_v12.js
  apps/web/heys_platform_apis_v1.js
  apps/web/index.html
  apps/web/src/components/ErrorBoundary.tsx
  apps/web/styles/heys-components.css
  apps/web/sw.js
  todo.md
Due: eslint --max-warnings=500, prettier --write

refactor: consolidate PWA update UI into PlatformAPIs module
  apps/web/heys_app_update_notifications_v1.js
  apps/web/heys_platform_apis_v1.js
  apps/web/heys_pwa_module_v1.js
  apps/web/styles/heys-components.css
  todo.md
Due: eslint --max-warnings=500, prettier --write

fix: lazy React loading + PWA update dialog improvements
  apps/web/heys_app_update_checks_v1.js
  apps/web/heys_day_animations.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_effects.js
  apps/web/heys_day_hooks.js
  apps/web/heys_day_picker_modals.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_platform_apis_v1.js
  apps/web/heys_pwa_module_v1.js
  apps/web/heys_yesterday_verify_v1.js
  apps/web/index.html
  apps/web/styles/heys-components.css
Due: eslint --max-warnings=500

chore: sync react globals
  apps/web/index.html
  apps/web/package.json
  apps/web/react-bundle.js
  apps/web/src/react-globals-sync.ts
Due: eslint --max-warnings=500, prettier --write

chore: update web bundling
  apps/web/heys_advice_v1.js
  apps/web/index.html
  apps/web/package.json
  apps/web/scripts/bundle-advice.cjs
  apps/web/scripts/bundle-day.cjs
  apps/web/vite.config.ts
Due: eslint --max-warnings=500, prettier --write

fix: bundle day/advice assets
  apps/web/heys_advice_bundle_v1.js
  apps/web/heys_day_bundle_v1.js
  apps/web/index.html
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

chore: update app shell
  apps/web/heys_app_shell_v1.js
  apps/web/heys_platform_apis_v1.js
  apps/web/public/sw.js
Due: eslint --max-warnings=500

fix: deploy missing files (react-bundle, day/, advice/)
  .github/workflows/deploy-yandex.yml
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix: use compiled tailwind css
  apps/web/index.html
  apps/web/styles/tailwind.css
  apps/web/sw.js
Due: eslint --max-warnings=500

fix: load meal expand state impl
  apps/web/heys_day_meal_expand_state_impl_v1.js
  apps/web/heys_day_meal_expand_state_v1.js
  apps/web/index.html
  apps/web/sw.js
Due: eslint --max-warnings=500

fix: load day meals module
  apps/web/index.html
Due: none

fix: drop missing meal expand script
  apps/web/index.html
Due: none

fix: bump meals module cache
  apps/web/index.html
Due: none

chore: update sw cache version
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

chore: track sw version files
  .gitignore
  apps/web/public/sw.js
Due: eslint --max-warnings=500

chore: unignore web public dir
  .gitignore
Due: none

chore: use build meta for updates
  apps/web/heys_app_update_checks_v1.js
  apps/web/heys_platform_apis_v1.js
  apps/web/public/sw.js
  apps/web/scripts/update-version.cjs
  apps/web/sw.js
  docs/YANDEX_DEPLOY_SETUP.md
Due: eslint --max-warnings=500, prettier --write

fix: harden day tab init and cache updates
  .github/workflows/deploy-yandex.yml
  apps/web/heys_day_tab_impl_v1.js
  apps/web/index.html
  apps/web/public/docs/health-data-consent.md
  apps/web/public/docs/v1.0/health-data-consent.md
  apps/web/public/docs/v1.2/privacy-policy.md
  apps/web/public/docs/v1.2/user-agreement.md
  apps/web/public/manifest.json
  apps/web/sw.js
Due: eslint --max-warnings=500, prettier --write

fix: guard day meal expand state
  apps/web/heys_day_tab_impl_v1.js
  apps/web/index.html
  apps/web/sw.js
Due: eslint --max-warnings=500

fix: refresh sw js caching
  apps/web/public/sw.js
Due: eslint --max-warnings=500

chore: streamline service worker source
  .github/workflows/deploy-yandex.yml
  apps/web/heys_day_guards_v1.js
  apps/web/sw.js
Due: eslint --max-warnings=500, prettier --write

chore: reduce DayTab HEYS refs
  apps/web/heys_day_tab_impl_v1.js
Due: eslint --max-warnings=500

fix: add fallback for dayMealExpandState + debug logs for load order
  apps/web/day/_meals.js
  apps/web/heys_day_tab_impl_v1.js
Due: eslint --max-warnings=500

fix: wait for meals deps + bump cache
  apps/web/day/_meals.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/index.html
Due: eslint --max-warnings=500

fix: compute kcal fallback in yesterday verify
  apps/web/heys_yesterday_verify_v1.js
  apps/web/index.html
Due: eslint --max-warnings=500

fix: retry yesterday kcal after products load
  apps/web/heys_yesterday_verify_v1.js
  apps/web/index.html
Due: eslint --max-warnings=500

refactor: add unified storage helpers (readStoredValue/writeStoredValue)
  apps/web/day/_advice.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_auth_init_v1.js
  apps/web/heys_app_client_helpers_v1.js
  apps/web/heys_app_date_state_v1.js
  apps/web/heys_app_derived_state_v1.js
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_app_hooks_v1.js
  apps/web/heys_app_onboarding_v1.js
  apps/web/heys_app_root_impl_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_bootstrap_v1.js
  apps/web/heys_cloud_shared_v1.js
  apps/web/heys_cycle_v1.js
  apps/web/heys_data_overview_v1.js
  apps/web/heys_day_runtime_ui_state_v1.js
  apps/web/heys_meal_step_v1.js
  apps/web/heys_module_perf_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_refeed_v1.js
  apps/web/heys_simple_analytics.js
  apps/web/heys_steps_v1.js
  apps/web/heys_subscription_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/heys_tdee_v1.js
  apps/web/heys_user_v12.js
  apps/web/widgets/widget_data.js
Due: eslint --max-warnings=500

feat(storage): add hidden products + fallback product lookup
  apps/web/heys_storage_layer_v1.js
Due: eslint --max-warnings=500

feat(gamification): weekly challenge UI + achievements improvements
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500

feat(advice): enhance advice core with storage helpers
  apps/web/advice/_core.js
  apps/web/heys_advice_bundle_v1.js
Due: eslint --max-warnings=500

refactor(day): add storage helpers + recovery logging
  apps/web/day/_meals.js
  apps/web/heys_day_add_product.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_engagement_effects.js
  apps/web/heys_day_hooks.js
  apps/web/heys_day_lifecycle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_day_utils.js
Due: eslint --max-warnings=500

style: code formatting (whitespace, IIFE spacing)
  apps/web/heys_app_tabs_v1.js
  apps/web/heys_app_ui_state_v1.js
  apps/web/heys_app_update_notifications_v1.js
  apps/web/heys_smart_search_v2.js
  apps/web/heys_trial_queue_v1.js
  apps/web/heys_ui_onboarding_v1.js
  apps/web/heys_user_tab_impl_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/heys_yesterday_verify_v1.js
  apps/web/insights/pi_ui_dashboard.js
Due: eslint --max-warnings=500

docs: improve JSDoc comments for storage modules
  apps/web/heys_core_v12.js
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

style(css): add steps and APS component styles
  apps/web/styles/heys-components.css
  apps/web/styles/modules/600-steps-and-aps.css
Due: none

docs: update data model reference and todo
  docs/DATA_MODEL_REFERENCE.md
  todo.md
Due: prettier --write

chore: add lottie animation + update todo + ignore worktrees
  .gitignore
  apps/web/public/assets/lottie/level-up-ceremony.json
  todo.md
Due: prettier --write
