Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(release): bump whats-new build hash to da249c9e
  apps/web/public/whats-new.json
Due: prettier --write

feat(maintenance): kv health-check + weekly zombie cleanup в heys-maintenance
  todo.md
  yandex-cloud-functions/heys-maintenance/index.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 3231f7ae
  apps/web/public/whats-new.json
Due: prettier --write

fix(products): neutralize shape-inference cleanup paths (plan F1+F2)
  apps/web/BUGS_HISTORY.md
  apps/web/__tests__/merge-scalar-kv-meta.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_pwa_module_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.3b491530c16c.js
  apps/web/public/boot-core.bundle.3b491530c16c.js.gz
  apps/web/public/boot-core.bundle.c0d224453df8.js
  apps/web/public/boot-core.bundle.c0d224453df8.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 988371f8
  apps/web/public/whats-new.json
Due: prettier --write

chore(ops): изоляция опасных SQL-скриптов в database/_dangerous (plan F15)
  database/_dangerous/README.md
  database/_dangerous/delete_client_products.sql
  database/_dangerous/delete_client_products_quick.sql
  database/_dangerous/fix_products_final.sql
Due: prettier --write

fix(products): tombstone-aware shrink-guard в HEYS.products.setAll (F3+F19)
  apps/web/bundle-manifest.json
  apps/web/heys_core_v12.js
  apps/web/heys_pwa_module_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.c0d224453df8.js
  apps/web/public/boot-core.bundle.c0d224453df8.js.gz
  apps/web/public/boot-core.bundle.c7747cba2966.js
  apps/web/public/boot-core.bundle.c7747cba2966.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to c923d9d0
  apps/web/public/whats-new.json
Due: prettier --write

fix(products): shrink-guard в OverlayStore.writeRaw (F4+F5)
  apps/web/bundle-manifest.json
  apps/web/heys_products_overlay_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.c7747cba2966.js
  apps/web/public/boot-core.bundle.c7747cba2966.js.gz
  apps/web/public/boot-core.bundle.de457dde9eb6.js
  apps/web/public/boot-core.bundle.de457dde9eb6.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 74edc095
  apps/web/public/whats-new.json
Due: prettier --write

fix(maintenance): корректное извлечение trigger_id из timer payload
  scripts/bootstrap-bypass-allowlist.txt
  yandex-cloud-functions/heys-maintenance/index.js
Due: eslint --max-warnings=500

chore(release): bump whats-new build hash to 126918ad
  apps/web/public/whats-new.json
Due: prettier --write

fix(products): tombstone-aware shrink-tolerance в cloud-sync (F9, D10)
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.8d4d72d9e51e.js
  apps/web/public/boot-core.bundle.8d4d72d9e51e.js.gz
  apps/web/public/boot-core.bundle.de457dde9eb6.js
  apps/web/public/boot-core.bundle.de457dde9eb6.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 67c3ec5c
  apps/web/public/whats-new.json
Due: prettier --write

fix(orphan-banner): закрытие race-фишек + auto-clone (F6+F7+F8)
  apps/web/bundle-manifest.json
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_day_orphan_alert.js
  apps/web/heys_day_utils.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.35b524052fc4.js
  apps/web/public/boot-calc.bundle.35b524052fc4.js.gz
  apps/web/public/boot-calc.bundle.623349d3ebea.js
  apps/web/public/boot-calc.bundle.623349d3ebea.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to d81e91ee
  apps/web/public/whats-new.json
Due: prettier --write

fix(products): multi-tab tombstone sync + защита от quota cleanup (F10+F11)
  apps/web/bundle-manifest.json
  apps/web/heys_app_sync_effects_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.01ef8ccd8745.js
  apps/web/public/boot-app.bundle.01ef8ccd8745.js.gz
  apps/web/public/boot-app.bundle.15eece4cbdf9.js
  apps/web/public/boot-app.bundle.15eece4cbdf9.js.gz
  apps/web/public/boot-core.bundle.832ccf45a05f.js
  apps/web/public/boot-core.bundle.832ccf45a05f.js.gz
  apps/web/public/boot-core.bundle.8d4d72d9e51e.js
  apps/web/public/boot-core.bundle.8d4d72d9e51e.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 845b30c4
  apps/web/public/whats-new.json
Due: prettier --write

feat(products): confirm с подсчётом использований при удалении (F12)
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.320e99c0a258.js
  apps/web/public/postboot-3-ui-lazy.bundle.320e99c0a258.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.b0bcbecfe108.js
  apps/web/public/postboot-3-ui-lazy.bundle.b0bcbecfe108.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 99ec43b0
  apps/web/public/whats-new.json
Due: prettier --write

feat(orphan-banner): best-match resolver + persistent orphan hint (F14+F13)
  apps/web/bundle-manifest.json
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_day_orphan_alert.js
  apps/web/heys_day_utils.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.35b524052fc4.js
  apps/web/public/boot-calc.bundle.35b524052fc4.js.gz
  apps/web/public/boot-calc.bundle.f757b611993e.js
  apps/web/public/boot-calc.bundle.f757b611993e.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to bd25eee8
  apps/web/public/whats-new.json
Due: prettier --write

chore(ops): добавлен safe-wipe-products.sh + audit RPC sync_shared_products_by_session (F16+F17)
  database/2026-05-24_drop_sync_shared_products_by_session.sql
  scripts/db/safe-wipe-products.sh
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

test(products): pure-logic тесты для shrink-guard и best-match (F18)
  apps/web/__tests__/shrink-guard.test.js
Due: eslint --max-warnings=500

chore(release): bump whats-new build hash to 7d4b10ca
  apps/web/public/whats-new.json
Due: prettier --write

chore(lint): update bootstrap-bypass-allowlist для line drift + F13 audit-key
  apps/web/bundle-manifest.json
  apps/web/heys_app_sync_effects_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to d4a98d21
  apps/web/public/whats-new.json
Due: prettier --write

fix(supplements): night-shift dateKey в reminder toast'ах + диагностический trace
  apps/web/bundle-manifest.json
  apps/web/heys_supplements_science_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.4e2e43180d3f.js
  apps/web/public/postboot-3-ui-lazy.bundle.4e2e43180d3f.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.b0bcbecfe108.js
  apps/web/public/postboot-3-ui-lazy.bundle.b0bcbecfe108.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to f8c3e579
  apps/web/public/whats-new.json
Due: prettier --write

feat(observability): client_event_log table + log_client_event_by_session RPC (F-EL1+F-EL2+F-EL3)
  database/2026-05-25_client_event_log.sql
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

feat(observability): client SDK для event log + boot integration (F-EL4+F-EL5+F-EL7)
  apps/web/__tests__/event-log.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_event_log_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.832ccf45a05f.js
  apps/web/public/boot-core.bundle.832ccf45a05f.js.gz
  apps/web/public/boot-core.bundle.cc948804fec7.js
  apps/web/public/boot-core.bundle.cc948804fec7.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

feat(observability): event log в 17 mutation points + retention (F-EL5.3+F-EL6)
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_sync_effects_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_add_product.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_day_handlers.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_day_steps_ui.js
  apps/web/heys_profile_step_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.01ef8ccd8745.js
  apps/web/public/boot-app.bundle.01ef8ccd8745.js.gz
  apps/web/public/boot-app.bundle.9231d762c27b.js
  apps/web/public/boot-app.bundle.9231d762c27b.js.gz
  apps/web/public/boot-calc.bundle.9329abf2b1ef.js
  apps/web/public/boot-calc.bundle.9329abf2b1ef.js.gz
  apps/web/public/boot-calc.bundle.f757b611993e.js
  apps/web/public/boot-calc.bundle.f757b611993e.js.gz
  apps/web/public/boot-core.bundle.23615a6c54c7.js
  apps/web/public/boot-core.bundle.23615a6c54c7.js.gz
  apps/web/public/boot-core.bundle.cc948804fec7.js
  apps/web/public/boot-core.bundle.cc948804fec7.js.gz
  apps/web/public/boot-day.bundle.818f65458ead.js
  apps/web/public/boot-day.bundle.818f65458ead.js.gz
  apps/web/public/boot-day.bundle.bd6bf0fda3df.js
  apps/web/public/boot-day.bundle.bd6bf0fda3df.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.4e2e43180d3f.js
  apps/web/public/postboot-3-ui-lazy.bundle.4e2e43180d3f.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.c7acf6bd1040.js
  apps/web/public/postboot-3-ui-lazy.bundle.c7acf6bd1040.js.gz
  apps/web/public/sw.js
  yandex-cloud-functions/heys-maintenance/index.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to c092fd8c
  apps/web/public/whats-new.json
Due: prettier --write

chore(lint): обновить allowlist после дрейфа строк в Wave 5.3
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore(release): bump whats-new build hash to cb8dff19
  apps/web/public/whats-new.json
Due: prettier --write

feat(monitoring): ежедневный утренний отчёт в Telegram (daily_report trigger)
  yandex-cloud-functions/heys-maintenance/index.js
Due: eslint --max-warnings=500

chore(release): bump whats-new build hash to c8a309a8
  apps/web/public/whats-new.json
Due: prettier --write

feat(maintenance): расширить daily report + добавить weekly digest
  yandex-cloud-functions/heys-maintenance/index.js
Due: eslint --max-warnings=500

chore(release): bump whats-new build hash to 72f6f0da
  apps/web/public/whats-new.json
Due: prettier --write

test(event-log): unit-тесты sanitization + batching + sample rate + recovery
  apps/web/__tests__/event-log.test.js
Due: eslint --max-warnings=500
