Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat(reports): enhance Weekly Wrap with breakdown popup
  apps/web/heys_weekly_reports_v2.js
  apps/web/styles/heys-components.css
Due: eslint --max-warnings=500

fix(heatmap): use isStreakDay instead of isPerfect for fire emoji
  apps/web/heys_day_stats_v1.js
  apps/web/styles/modules/100-metrics-and-graphs.css
Due: eslint --max-warnings=500

docs: add PWA resilience and offline/sync documentation
  docs/dev/ARCHITECTURE.md
  docs/dev/COMMON_ERRORS.md
Due: prettier --write

chore: update copilot instructions
  .github/copilot-instructions.md
Due: prettier --write

chore(api): add payload size diagnostic logging
  apps/web/heys_yandex_api_v1.js
Due: eslint --max-warnings=500

fix: add subscription_status and trial_ends_at to getClients response
  database/2026-02-04_update_get_curator_clients.sql
  yandex-cloud-functions/heys-api-auth/index.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

fix(auth): force redeploy heys-api-auth with subscription fields
  .vscode/settings.json
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_day_insights_data_v1.js
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/heys_yandex_api_v1.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  database/2026-02-04_admin_extend_subscription.sql
  database/2026-02-04_extend_trials.sql
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/shared/.turbo/turbo-type-check.log
  packages/shared/tsconfig.tsbuildinfo
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
  yandex-cloud-functions/heys-api-auth/index.js
  yandex-cloud-functions/heys-api-rpc/check_clients.js
  yandex-cloud-functions/heys-api-rpc/check_game.js
  yandex-cloud-functions/heys-api-rpc/extend_trials.js
  yandex-cloud-functions/heys-api-rpc/reset_game.js
Due: eslint --max-warnings=500, prettier --write

fix(rpc): redeploy heys-api-rpc for get_curator_clients
  .vscode/settings.json
  apps/web/heys_yandex_api_v1.js
  apps/web/styles/modules/100-metrics-and-graphs.css
  database/2026-02-04_update_get_curator_clients.sql
  yandex-cloud-functions/heys-api-rpc/apply_migrations.js
  yandex-cloud-functions/heys-api-rpc/audit_norms.js
  yandex-cloud-functions/heys-api-rpc/check_schema.js
  yandex-cloud-functions/heys-api-rpc/db_check.js
  yandex-cloud-functions/heys-api-rpc/db_check_game.js
Due: eslint --max-warnings=500, prettier --write

fix(rpc): add TYPE_HINTS for get_curator_clients p_curator_id::uuid
  .github/copilot-instructions.md
  apps/web/heys_day_stats_v1.js
  apps/web/heys_day_stats_vm_v1.js
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/heys_yandex_api_v1.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  database/2026-02-04_gamification_audit.sql
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/test_curator_clients.js
Due: eslint --max-warnings=500, prettier --write

fix(rpc): add gamification audit functions to allowlist
  apps/web/heys_day_stats_v1.js
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/index.html
  apps/web/styles/modules/100-metrics-and-graphs.css
  yandex-cloud-functions/heys-api-rpc/test_curator_clients.js
Due: eslint --max-warnings=500

chore: trigger deploy for gamification audit RPC
  apps/web/heys_day_stats_v1.js
  apps/web/heys_weekly_reports_v2.js
  yandex-cloud-functions/heys-api-rpc/apply_gamification_audit.js
  yandex-cloud-functions/heys-api-rpc/test_rpc_http.js
Due: eslint --max-warnings=500

fix(rpc): add JWT_SECRET fallback for get_curator_clients
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

chore(rpc): bump version to v2.5.0 for gamification audit
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

fix(ci): add JWT_SECRET to heys-api-rpc deploy
  .github/workflows/deploy-yandex.yml
Due: prettier --write

fix(ci): always run deploy-functions job (conditions inside steps)
  .github/workflows/deploy-yandex.yml
Due: prettier --write

fix(rpc): trigger deploy with JWT_SECRET
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

fix(rpc): force redeploy v2.5.1 for gamification audit
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

fix(gamification): enhanced logging and error handling for audit RPC
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_app_hooks_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_yandex_api_v1.js
  yandex-cloud-functions/heys-api-rpc/apply_gamification_audit.js
  yandex-cloud-functions/heys-api-rpc/check_bad_id.js
  yandex-cloud-functions/heys-api-rpc/check_bad_id_v2.js
  yandex-cloud-functions/heys-api-rpc/check_curator.js
  yandex-cloud-functions/heys-api-rpc/check_curator_dupes.js
  yandex-cloud-functions/heys-api-rpc/check_curator_dupes_fixed.js
  yandex-cloud-functions/heys-api-rpc/check_curator_dupes_fixed_2.js
  yandex-cloud-functions/heys-api-rpc/check_curator_dupes_fixed_3.js
  yandex-cloud-functions/heys-api-rpc/check_curator_v2.js
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/test_bad_curator.js
  yandex-cloud-functions/heys-api-rpc/test_real_curator.js
  yandex-cloud-functions/heys-api-rpc/test_real_curator_v2.js
Due: eslint --max-warnings=500

chore: update vscode chat session orientation setting
  .vscode/settings.json
Due: prettier --write

refactor(stats): improve gamification and stats modules UX
  apps/web/heys_day_stats_v1.js
  apps/web/heys_day_stats_vm_v1.js
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/100-metrics-and-graphs.css
Due: eslint --max-warnings=500

fix(gamification): improve streak calculation and sync (v2.6)
  apps/web/heys_day_calendar_metrics.js
  apps/web/heys_gamification_v1.js
Due: eslint --max-warnings=500

fix(api-rpc): handle P0001 business errors with 200 status
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

feat(gamification): fix water missions, duplicate achievements, XP drift
  apps/web/heys_gamification_v1.js
Due: eslint --max-warnings=500

feat: update web app components, styles and add missions
  apps/web/heys_app_gates_v1.js
  apps/web/heys_app_initialize_v1.js
  apps/web/heys_app_root_component_v1.js
  apps/web/heys_daily_missions_v1.js
  apps/web/heys_dark_theme_interceptor.js
  apps/web/heys_day_add_product.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_insulin_wave_ui_v1.js
  apps/web/heys_day_meal_card.js
  apps/web/heys_day_meal_handlers.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_day_stats_vm_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_expandable_card_v1.js
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_iw_ui.js
  apps/web/heys_meal_step_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_profile_step_v1.js
  apps/web/heys_reports_tab_impl_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/heys_trial_queue_v1.js
  apps/web/index.html
  apps/web/styles/heys-components.css
  apps/web/styles/modules/001-design-tokens.css
  apps/web/styles/modules/200-dark-and-effects.css
  apps/web/styles/modules/300-modals-and-day.css
  apps/web/styles/modules/715-yesterday-verify.css
  apps/web/styles/modules/720-predictive-insights.css
Due: eslint --max-warnings=500

feat(gamification): add RPC for deleting duplicate audit events
  apps/web/heys_gamification_v1.js
  database/2026-02-08_delete_gamification_events.sql
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

docs: add README for delete_gamification_events RPC
  database/2026-02-08_delete_gamification_events_README.md
Due: prettier --write

fix(migration): update delete_gamification_events - use heys_rpc role
  database/2026-02-08_delete_gamification_events.sql
  yandex-cloud-functions/heys-api-rpc/apply_migrations.js
Due: eslint --max-warnings=500

docs: add browser cleanup instructions for duplicate events
  database/BROWSER_CLEANUP_INSTRUCTIONS.js
Due: eslint --max-warnings=500

fix(rpc): add jsonwebtoken dependency for JWT verification
  yandex-cloud-functions/heys-api-rpc/package-lock.json
  yandex-cloud-functions/heys-api-rpc/package.json
Due: prettier --write

fix(ci): remove unused JWT_SECRET from rpc deploy to fix CI error
  .github/workflows/deploy-yandex.yml
Due: prettier --write

fix: sw.js syntax error + add JWT_SECRET to RPC deploy config
  .github/workflows/deploy-yandex.yml
  apps/web/public/sw.js
  yandex-cloud-functions/heys-api-rpc/deploy-with-lockbox.sh
Due: eslint --max-warnings=500, prettier --write

fix(ci): skip empty secrets in RPC/auth deploy to prevent YC errors
  .github/workflows/deploy-yandex.yml
Due: prettier --write

fix: deleteDuplicateAuditEvents — fix _getAllAuditEvents reference + curator_id auth
  apps/web/heys_gamification_v1.js
Due: eslint --max-warnings=500

fix(api): add delete_gamification_events_by_curator to CURATOR_ONLY_FUNCTIONS
  apps/web/heys_yandex_api_v1.js
Due: eslint --max-warnings=500

feat: trial machine v2.0 - timer starts on first login
  apps/web/.turbo/turbo-build.log
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_subscription_v1.js
  apps/web/heys_trial_queue_v1.js
  apps/web/index.html
  apps/web/public/build-meta.json
  apps/web/public/sw.js
  apps/web/public/version.json
  database/2026-02-08_trial_machine_fix.sql
  docs/TRIAL_MACHINE.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  yandex-cloud-functions/heys-api-rpc/apply_migrations.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

fix(security): remove dangerous JWT_SECRET fallback in RPC function
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

fix: track shared/db-pool in git, add deploy safety checks
  .github/workflows/deploy-yandex.yml
  .gitignore
  yandex-cloud-functions/heys-api-rpc/deploy-with-lockbox.sh
  yandex-cloud-functions/heys-api-rpc/shared/db-pool.js
  yandex-cloud-functions/heys-api-rpc/shared/health-check.js
  yandex-cloud-functions/heys-api-rpc/shared/package.json
  yandex-cloud-functions/heys-api-rpc/shared/pool-metrics.js
Due: eslint --max-warnings=500, prettier --write

feat: trial machine v3.0 — куратор выбирает дату старта триала, лиды с лендинга
  apps/web/heys_subscription_v1.js
  apps/web/heys_trial_queue_v1.js
  database/2026-02-08_trial_machine_fix.sql
  database/2026-02-09_trial_machine_v3.sql
  docs/TRIAL_MACHINE.md
  yandex-cloud-functions/heys-api-rpc/apply_migrations.js
  yandex-cloud-functions/heys-api-rpc/deploy-with-lockbox.sh
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

docs: обновление документации для Trial Machine v3.0
  .github/copilot-instructions.md
  docs/API_DOCUMENTATION.md
  docs/HEYS_BRIEF.md
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write
