Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix(verdicts): subscription package C — close 5 re-judged keys + offer text
  docs/ui/verdicts/subscription.json
  scripts/.polosa2-task102-subscription-package-c-apply.mjs
Due: prettier --write

fix(messenger): package 36 touch 44px verdicts
  docs/ui/verdicts/messenger.json
  scripts/.polosa2-task102-messenger-package36-apply.mjs
Due: prettier --write

fix(date-remainders): task106 44px arrows, touch targets
  apps/web/__tests__/date-remainders-v4-canvas-razbor.test.js
  apps/web/__tests__/polosa6-task106-date-remainders-touch-44px.test.js
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/date-remainders.v4.dc.html
  docs/ui/verdicts/date-remainders.json
  scripts/.polosa6-task106-date-remainders-apply.mjs
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): nutrition-tab task106 touch 44px pills and chip
  apps/web/__tests__/nutrition-tab-v4-contract-fixes.test.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
  docs/ui/verdicts/nutrition-tab.json
  scripts/.polosa6-task106-nutrition-tab-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

fix(norm-correction): раздел владения «вид кабинета куратора»
  docs/ui/verdicts/norm-correction.json
  scripts/.task106-norm-correction-msg.txt
  scripts/.task106-norm-correction-verdict-apply.mjs
Due: prettier --write

fix(ui-v4): home-widgets полоса 4 · task104 — razbor-66 + пакет 36
  apps/web/__tests__/polosa4-task104-pkg36-touch-44px.test.js
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/verdicts/home-widgets.json
  scripts/.polosa4-task104-hw-set-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

fix(ui): water-add task106 touch targets 44px visible
  docs/ui/verdicts/nutrition-tab.json
  scripts/.polosa6-task106-nutrition-tab-verdicts.mjs
Due: prettier --write

fix(ui): water-add task106 touch targets 44px visible
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/water-add.v4.dc.html
  docs/ui/verdicts/water-add.json
Due: prettier --write

fix(ui): water-add task106 touch targets 44px visible
  apps/web/__tests__/water-add-v4-canvas-geometry.test.js
  scripts/.task106-water-add-canvas-sync.mjs
  scripts/lib/ui-v4-verdicts.mjs
Due: eslint --max-warnings=500

docs(ui): факт по «Сессия · брошена вчера» переписан содержанием, не заметкой
  docs/ui/UI_V4_FINDINGS_FOR_DESIGNER.md
  docs/ui/verdicts/strength-builder.json
Due: prettier --write

docs(дизайн): ответ дизайнера по трём находкам — под версионный контроль
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ОТВЕТ-263-строки-по-находкам.md
Due: prettier --write

test(widgets): task104 computed sheetOpen/homeClosed sample
  apps/web/__tests__/polosa4-task96-weight-tile-composition.test.js
Due: eslint --max-warnings=500

docs(ui): вернул пометку о слабом основании на 22 строки — по просьбе дизайнера
  docs/ui/UI_V4_FINDINGS_FOR_DESIGNER.md
  docs/ui/verdicts/strength-builder.json
Due: prettier --write

fix(ui-v4): пакет 36 · тач-цели 44px в 5 зонах (полоса 4 · задача 104)
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/heys_app_gates_v1.js
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/cycle.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/first-run.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/gamification.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/reports-insights.v4.dc.html
  docs/ui/verdicts/cycle.json
  docs/ui/verdicts/first-run.json
  docs/ui/verdicts/gamification.json
  docs/ui/verdicts/product-card.json
  docs/ui/verdicts/reports-insights.json
Due: eslint --max-warnings=500, prettier --write

fix(web): task113 — migrate PAYWALL_STYLES to 735-ui-v4-subscription.css
  apps/web/__tests__/activity-numbers-net-and-plan.test.js
  apps/web/__tests__/activity-program-next-row.test.js
  apps/web/__tests__/polosa4-task114-activity-program-unified-path.test.js
  apps/web/heys_day_activity_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_day_trainings_v1.js
  apps/web/styles/modules/731-ui-v4-activity.css
Due: eslint --max-warnings=500

fix(web): task113 — migrate PAYWALL_STYLES to 735-ui-v4-subscription.css
  apps/web/__tests__/meal-time-v4-structure.test.js
  apps/web/__tests__/registration-v4-canvas-razbor.test.js
  apps/web/__tests__/registration-wheel-v4-palette.test.js
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/ui/verdicts/registration.json
  scripts/.task111-registration-wheel-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

fix(web): task113 — migrate PAYWALL_STYLES to 735-ui-v4-subscription.css
  apps/web/__tests__/subscription-cancel-queue-confirm.test.js
  apps/web/__tests__/subscription-package-a-remainder-v4.test.js
  apps/web/__tests__/subscription-package-a-v4.test.js
  apps/web/__tests__/subscription-paywall-computed-v4.test.js
  apps/web/heys_paywall_v1.js
  apps/web/heys_subscriptions_v1.js
  apps/web/styles/main.css
  apps/web/styles/modules/735-ui-v4-subscription.css
Due: eslint --max-warnings=500

fix(verdicts): task113 — subscription PAYWALL_STYLES facts → 735 CSS
  docs/ui/verdicts/subscription.json
Due: prettier --write

fix(registration): bottom sheet отзыва добавок + диск возврата
  apps/web/__tests__/registration-consent-revoke-sheet.test.js
  apps/web/heys_profile_step_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/heys_user_tab_impl_v1.js
  apps/web/styles/modules/733-ui-v4-login-theme.css
Due: eslint --max-warnings=500

fix(ui-v4): затемнение модалок — роль --scrim, алиасы dim сняты
  AGENTS.md
  CLAUDE.md
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/__tests__/date-picker-sheet-v4-structure.test.js
  apps/web/__tests__/pwa-update-logic.test.js
  apps/web/__tests__/settings-v4-notify-detail.test.js
  apps/web/__tests__/step-modal-shell-v4.test.js
  apps/web/heys_consents_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/610-aps-meal-flow.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
  apps/web/styles/modules/734-ui-v4-curator-panel.css
  apps/web/styles/modules/734-ui-v4-insights.css
  apps/web/styles/modules/735-ui-v4-subscription.css
  apps/web/styles/modules/750-strength-builder.css
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): выдуманная роль --v4-warn-surface убрана из логина
  apps/web/styles/modules/733-ui-v4-login-theme.css
Due: none

fix(ui-v4): task119 freeze 735 foreign-fallbacks baseline (4 since task113)
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: none

chore(ui-v4): pkg36 acceptance and ProgramDone gate timeout
  apps/web/__tests__/strength-proposal-v4-canvas-contract.test.js
  docs/ui/verdicts/checkin-morning.json
  docs/ui/verdicts/curator-cabinet.json
  docs/ui/verdicts/login.json
  scripts/.task101-pkg36-checkin-morning.mjs
  scripts/.task101-pkg36-curator-cabinet.mjs
  scripts/.task101-pkg36-login.mjs
  scripts/.task101-pkg36-strength-builder.mjs
Due: eslint --max-warnings=500, prettier --write

docs(verdicts): close subscription last 14 question marks
  apps/web/__tests__/subscription-curator-guard.test.js
  apps/web/__tests__/subscription-paywall-computed-v4.test.js
  docs/ui/verdicts/subscription.json
  scripts/.task118-subscription-q-apply.mjs
  scripts/.task118-subscription-q-commit-msg.txt
Due: eslint --max-warnings=500, prettier --write

docs(registration): verdicts for supplements revoke sheet (Task 112)
  apps/web/__tests__/registration-consent-revoke-colors.test.js
  docs/ui/verdicts/registration.json
Due: eslint --max-warnings=500, prettier --write

test(web): tab-activity finding 07 computed both render paths
  apps/web/__tests__/polosa4-task114-activity-program-unified-path.test.js
Due: eslint --max-warnings=500

docs(ui): tab-activity finding 07 verdicts = after task 114
  docs/ui/verdicts/tab-activity.json
  scripts/.polosa4-task120-tab-activity-finding07-verdicts.mjs
Due: prettier --write

feat(strength): cycle and period report screens
  apps/web/__tests__/strength-proposal-v4-canvas-contract.test.js
  apps/web/heys_day_trainings_v1.js
  apps/web/strength/heys_strength_proposal_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/ui/verdicts/strength-builder.json
  scripts/.task116-report-screens-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

feat(web): task121 curator kept norm channel
  apps/web/__tests__/norm-correction-curator-kept.test.js
  apps/web/heys_norm_correction_v1.js
  apps/web/heys_weekly_reports_v2.js
  scripts/.polosa4-task121-norm-correction-handoff.json
Due: eslint --max-warnings=500, prettier --write

fix(ui): registration revoke confirm — bad-text on surface, not red fill
  apps/web/__tests__/registration-consent-revoke-colors.test.js
  apps/web/styles/modules/733-ui-v4-login-theme.css
Due: eslint --max-warnings=500

fix(gates): allowlist localStorage — устойчивая форма вместо номера строки
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore(ui-v4): храповик — девять порогов вниз, заведён messenger
  scripts/lib/ui-v4-verdicts.mjs
Due: none

docs(registration): task123 полоса 2 — revoke sheet ·13/·16 verdicts
  docs/ui/verdicts/registration.json
Due: prettier --write

fix(subscription): converge readonly banner, toast and contact to v4 canvas
  apps/web/__tests__/subscription-package-c-v4.test.js
  apps/web/__tests__/subscription-readonly-surfaces-v4.test.js
  apps/web/heys_day_page_shell.js
  apps/web/heys_paywall_v1.js
  apps/web/heys_subscriptions_v1.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
  apps/web/styles/modules/735-ui-v4-subscription.css
  scripts/.task124-subscription-debts-commit-msg.txt
  scripts/.task124-subscription-debts-verdicts.mjs
  scripts/.task124-subscription-verdicts-commit-msg.txt
Due: eslint --max-warnings=500

docs(subscription): close task 124 readonly surface verdicts
  docs/ui/verdicts/subscription.json
Due: prettier --write

fix(web): tab-activity task 125 ink-data tones + chevron test
  apps/web/__tests__/polosa4-task114-activity-program-unified-path.test.js
  apps/web/styles/modules/731-ui-v4-activity.css
Due: eslint --max-warnings=500

docs(ui): tab-activity task 125 verdicts for 42 legacy ≠
  docs/ui/verdicts/tab-activity.json
Due: prettier --write

feat(web): task126 norm-correction header + geometry verdicts
  apps/web/__tests__/norm-correction-curator-kept.test.js
  apps/web/__tests__/norm-correction-weekly-card.test.js
  apps/web/heys_norm_correction_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/styles/heys-components.css
  docs/ui/verdicts/norm-correction.json
  scripts/.polosa4-task126-commit-msg.txt
  scripts/.polosa4-task126-handoff.json
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): pkg36 strength-builder verdict gap (task101 script never applied JSON)
  scripts/.task122-pkg36-gap-strength-builder.mjs
Due: none

feat(strength): task122 report computed sand+blue + E1 rest column
  apps/web/__tests__/strength-builder-calm-canvas-contract.test.js
  apps/web/__tests__/strength-proposal-v4-canvas-contract.test.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/ui/verdicts/strength-builder.json
  scripts/.task122-finding09-rest-verdicts.mjs
  scripts/.task122-report-computed-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
