Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(scripts): push-and-watch ждёт run своего коммита, а не последний по ветке
  scripts/push-and-watch.sh
Due: none

docs(agents): очевидно правильное решение принимать самому, не спрашивать
  CLAUDE.md
  docs/implementation/UI_V4_SPEC_2026-08-09.md
Due: prettier --write

docs(agents): в параллельной работе коммитить исходники, бандл держать локально
  AGENTS.md
  CLAUDE.md
Due: prettier --write

feat(training): шторка конструктора и история упражнения
  apps/web/heys_day_trainings_v1.js
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/strength/heys_strength_finish_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
Due: eslint --max-warnings=500

feat(training): режим порядка — стрелки двигают блок целиком
  apps/web/__tests__/kernel-strength-supersets.test.js
  apps/web/_kernel/heys_kernel_strength_v1.js
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/strength/heys_strength_catalog_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  scripts/bootstrap-bypass-allowlist.txt
  yandex-cloud-functions/heys-mcp/lib/web-mirror/_kernel/heys_kernel_strength_v1.js
Due: eslint --max-warnings=500

fix(scripts): вернуть allowlist к строкам, которые есть в main
  scripts/bootstrap-bypass-allowlist.txt
Due: none

fix(widgets): четыре вызова несуществующих функций на вкладке «Виджеты»
  apps/web/__tests__/widgets-data-missing-sources.test.js
  apps/web/__tests__/widgets-missing-callees.test.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_data_crash_risk_v1.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/widgets/widget_data.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

docs(ui): Главная остаётся чисто виджетовой — решение 4c
  docs/implementation/UI_V4_SPEC_2026-08-09.md
Due: prettier --write

docs(ui): плавающие кнопки остаются на всех четырёх вкладках
  docs/implementation/UI_V4_SPEC_2026-08-09.md
Due: prettier --write

feat(training): пустая тренировка и диалог незакрытых подходов
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/heys_day_trainings_v1.js
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
Due: eslint --max-warnings=500

docs(ui): Инсайты пересобираются по критерию отбора, а не перекрашиваются
  docs/implementation/UI_V4_SPEC_2026-08-09.md
Due: prettier --write

docs(ui): роль Инсайтов — предиктор в долгую, отбор без презумпции полезности
  docs/implementation/UI_V4_SPEC_2026-08-09.md
Due: prettier --write

fix(training): open() не пробрасывал историю, повтор и статус синка в экран
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/heys_day_trainings_v1.js
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
Due: eslint --max-warnings=500

docs(ui): Инсайты говорят голосом куратора — разметка девяти разделов
  docs/implementation/UI_V4_SPEC_2026-08-09.md
Due: prettier --write

fix(widgets): серия, каскад и липолиз перестали молча обнуляться
  apps/web/__tests__/tdee-resolve-daily-targets.test.js
  apps/web/__tests__/widgets-data-missing-sources.test.js
  apps/web/__tests__/widgets-missing-callees.test.js
  apps/web/heys_app_gates_v1.js
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_day_calendar_metrics.js
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_widgets_data_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/widgets/widget_data.js
  config/module-limits.json
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

test(widgets): регрессия на единый источник серии
  apps/web/__tests__/widgets-streak-single-source.test.js
Due: eslint --max-warnings=500

docs(reference): вкладка «Виджеты» — две записи в журнале закрытых проблем
  docs/reference/IMPROVEMENT_HISTORY.md
Due: prettier --write

feat(training): программа куратора — слои 2 и 3 (назначение и старт плана)
  apps/web/__tests__/models-plan-passthrough.test.js
  apps/web/heys_day_trainings_v1.js
  apps/web/heys_models_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/tool-annotations.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

docs(training): зафиксировать выполнение слоёв 2-3 программы куратора
  docs/implementation/CURATOR_TRAINING_PROGRAM_PROTOCOL_2026-08-09.md
Due: prettier --write

fix(day): «осталось ккал» и CRS-прогрев навигации считались против жёстких 2000
  apps/web/__tests__/tdee-resolve-daily-targets.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_add_product.js
Due: eslint --max-warnings=500

docs(reference): W-03 — последний призрак getOptimumForDay закрыт
  docs/reference/IMPROVEMENT_HISTORY.md
Due: prettier --write

fix(insights): норма калорий в аналитике перестала молча падать в 2000
  apps/web/insights/pi_analytics_api.js
Due: eslint --max-warnings=500

feat(training): пропуск назначенного дня — «отпустить» без переноса
  apps/web/__tests__/models-plan-passthrough.test.js
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/heys_day_trainings_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
Due: eslint --max-warnings=500

docs(training): зафиксировать реализацию пропуска (skipped) в слое 3
  docs/implementation/CURATOR_TRAINING_PROGRAM_PROTOCOL_2026-08-09.md
Due: prettier --write

docs(ui-v4): проверка каскада как трендовой оценки на данных прода
  docs/implementation/UI_V4_SPEC_2026-08-09.md
Due: prettier --write

feat(training): пуш об окончании отдыха — только с уже выданным разрешением
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/strength/heys_strength_builder_ui_v1.js
Due: eslint --max-warnings=500

fix(landing): ролик первого экрана больше не скачет масштабом в мобильном Safari
  .gitignore
  apps/landing/public/manifest.json
  apps/landing/src/app/layout.tsx
  apps/landing/src/components/versions/d/HeroD.tsx
Due: eslint --max-warnings=500, prettier --write

docs(training): зафиксировать итог шага 5 — почти закрыт, два блокера названы
  docs/implementation/STRENGTH_BUILDER_REDESIGN_PROTOCOL_2026-08-09.md
Due: prettier --write

feat(landing): цвет системных полос телефона идёт за содержимым страницы
  apps/landing/src/app/layout.tsx
  apps/landing/src/app/page.tsx
  apps/landing/src/components/versions/VersionD.tsx
  apps/landing/src/components/versions/d/FooterD.tsx
  apps/landing/src/components/versions/d/HeroD.tsx
  apps/landing/src/components/versions/d/NavD.tsx
  apps/landing/src/components/versions/d/ThemeBarColor.tsx
Due: eslint --max-warnings=500

fix(landing): чуть увеличить мокап демо в героe D
  apps/landing/src/components/versions/d/HeroD.tsx
Due: eslint --max-warnings=500

docs(ui-v4): решение владельца по HEYS Score — гибрид Отчёты + Инсайты
  docs/implementation/UI_V4_SPEC_2026-08-09.md
Due: prettier --write

fix(training): merge не даёт назначению перезаписать начатую сессию
  apps/web/__tests__/merge-plan-priority.test.js
  apps/web/heys_sync_merge_v1.js
  yandex-cloud-functions/heys-api-rest/lib/heys_sync_merge_v1.cjs
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500

docs(training): зафиксировать правило слияния плана в обоих протоколах
  docs/implementation/CURATOR_TRAINING_PROGRAM_PROTOCOL_2026-08-09.md
  docs/implementation/STRENGTH_BUILDER_REDESIGN_PROTOCOL_2026-08-09.md
Due: prettier --write

feat(cascade): расчёт трендовой серии сырого CRS для HEYS Score
  apps/web/__tests__/cascade-crs-raw-trend.test.js
  apps/web/heys_cascade_card_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

fix(landing): зум мокапа в героe D тоже увеличен, не только старт
  apps/landing/src/components/versions/d/HeroD.tsx
Due: eslint --max-warnings=500

docs(ui-v4): статус реализации расчёта сырого тренда + контракт разбора
  docs/implementation/UI_V4_SPEC_2026-08-09.md
Due: prettier --write

feat(mcp): heys_assign_program — назначить программу на несколько дней
  docs/implementation/CURATOR_TRAINING_PROGRAM_PROTOCOL_2026-08-09.md
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tool-annotations.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): дизайн-пакет v4 переехал в репозиторий
  docs/README.md
  docs/implementation/UI_V4_SPEC_2026-08-09.md
  docs/ui/handoff-v4/HEYS v4 - все пять вкладок.dc.html
  docs/ui/handoff-v4/HEYS v4 - согласованная спецификация.dc.html
  docs/ui/handoff-v4/README.md
  docs/ui/handoff-v4/assets/heys-logo-horizontal.svg
  docs/ui/handoff-v4/support.js
  docs/ui/handoff-v4/Главная - виджеты по инвентарю.dc.html
  docs/ui/handoff-v4/Отчёты и Инсайты v4.dc.html
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

feat(training): обзор программы куратора на карточке дня
  apps/web/__tests__/program-week-overview.test.js
  apps/web/heys_day_trainings_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  docs/implementation/CURATOR_TRAINING_PROGRAM_PROTOCOL_2026-08-09.md
Due: eslint --max-warnings=500, prettier --write

fix(lint): вернуть allowlist в согласие с HEAD после чужой незакоммиченной правки
  scripts/bootstrap-bypass-allowlist.txt
Due: none
