Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix(test): task81 lane1 — cache superset contract test setup
  apps/web/__tests__/strength-superset-boundaries-v4-canvas-contract.test.js
  apps/web/__tests__/strength-superset-flat-v4-canvas-contract.test.js
  scripts/.sb-task81-superset-handoff.json
  scripts/.task81-superset-commit-msg.txt
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): task81 food-meal copy unknown-values frame evidence
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  docs/ui/verdicts/food-meal.json
  scripts/.sb-task81-food-meal-handoff.json
  scripts/.task81-food-meal-commit-msg.txt
Due: eslint --max-warnings=500, prettier --write

docs(ui): product-card close 7 drift-reset verdicts (task 83)
  docs/ui/verdicts/product-card.json
Due: prettier --write

test(strength): task 81 lane 1 offscreen timer geometry hook teardown
  apps/web/__tests__/strength-builder-offscreen-timer-geometry.test.js
  scripts/.sb-task81-offscreen-handoff.json
  scripts/.task81-offscreen-commit-msg.txt
Due: eslint --max-warnings=500, prettier --write

fix(ui): food-meal close 15 drift-reset verdicts (task 83)
  apps/web/__tests__/add-product-search-edge-v4-structure.test.js
  apps/web/__tests__/date-picker-v4-capsule.test.js
  apps/web/__tests__/polosa4-task63-food-meal-touch-44px.test.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/610-aps-meal-flow.css
Due: eslint --max-warnings=500

chore(ui-v4): храповик product-card — рост 7 строк записан как перевод «?» в судимое
  scripts/lib/ui-v4-verdicts.mjs
Due: none

docs(ui): polosa4 task82 subscription facts handoff
  scripts/.polosa4-subscription-facts-gen.mjs
  scripts/.polosa4-subscription-facts.json
  scripts/.polosa4-task82-commit-msg.txt
Due: prettier --write

docs(ui-v4): task84 NO-GO — measure runner не для вердиктов
  scripts/ui-v4-measure-zone.mjs
Due: none

fix(ui): enforce five corpus unknown-intent verdict markers
  apps/web/__tests__/ui-v4-verdict-semantics.test.js
  scripts/ui-v4-check-verdict-semantics-gate.mjs
  scripts/ui-v4-check-verdict-semantics.mjs
Due: eslint --max-warnings=500

fix(messenger): canvas bubble palette --v4-c1/--v4-hero
  apps/web/__tests__/messenger-bubble-v4-palette.test.js
  apps/web/styles/modules/1000-messenger.css
  docs/ui/verdicts/messenger.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): nutrition-tab — два «≠» были устаревшими, код давно сведён
  docs/ui/verdicts/nutrition-tab.json
Due: prettier --write

docs(ui): apply subscription facts handoff (255 rows)
  docs/ui/verdicts/subscription.json
  scripts/.polosa4-subscription-verdict-apply.mjs
Due: prettier --write

docs(ui): task 86 strength-builder post-line verdict review
  docs/ui/verdicts/strength-builder.json
Due: prettier --write

chore(ui-v4): храповик — strength-builder 113→181, заведена зона subscription
  scripts/lib/ui-v4-verdicts.mjs
Due: none

docs(ui): task86 strength-builder verdict review handoff
  scripts/.sb-task86-strength-builder-verdicts-handoff.json
Due: prettier --write

fix(verdict-guard): три пакетных писателя вердиктов — защита чужих строк
  scripts/.polosa4-subscription-verdict-apply.mjs
  scripts/.task86-apply-verdicts.mjs
  scripts/.task88-set-verdicts.mjs
  scripts/bootstrap-bypass-allowlist.txt
Due: none

fix(ui-v4): task87 step1 — subscription visual scenarios as data
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/heys_ui_v4_visual_fixture_v1.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  scripts/.polosa4-task87-step1-commit-msg.txt
Due: eslint --max-warnings=500

fix(subscription): свести Package B paywall/payment к v4 контракту
  apps/web/heys_paywall_v1.js
  apps/web/heys_subscriptions_v1.js
Due: eslint --max-warnings=500

docs(ui): вердикты subscription Package B (72 строки, 5 кадров)
  docs/ui/verdicts/subscription.json
Due: prettier --write

feat(strength): full-screen proposal outcome screens L10–L12
  apps/web/__tests__/strength-proposal-ui.test.js
  apps/web/__tests__/strength-proposal-v4-canvas-contract.test.js
  apps/web/heys_day_trainings_v1.js
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/strength/heys_strength_proposal_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/ui/verdicts/strength-builder.json
  scripts/.sb-task92-l10-l12-handoff.json
  scripts/.task92-apply-verdicts.mjs
  scripts/.task92-commit-msg.txt
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(subscription): package A screens + settings row v4
  apps/web/__tests__/subscription-package-a-v4.test.js
  apps/web/__tests__/subscription-settings-status-contract.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_paywall_v1.js
  apps/web/heys_subscriptions_v1.js
  apps/web/heys_ui_v4_visual_fixture_v1.js
  apps/web/heys_user_tab_impl_v1.js
  apps/web/heys_user_v12.js
  apps/web/scripts/ui-v4-visual-fixture.mjs
  docs/ui/verdicts/subscription.json
  scripts/.polosa4-subscription-facts-gen.mjs
  scripts/.polosa4-subscription-facts.json
  scripts/.polosa4-task87-step2-package-a-apply.mjs
  scripts/ui-check-undeclared-vars.mjs
Due: eslint --max-warnings=500, prettier --write

fix(web): in-modal confirm for trial queue cancel
  apps/web/__tests__/subscription-cancel-queue-confirm.test.js
  apps/web/heys_paywall_v1.js
  docs/ui/verdicts/subscription.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): subscription task 90 contract/behavior verdicts
  docs/ui/verdicts/subscription.json
  scripts/.task90-subscription-verdict-handoff.json
Due: prettier --write

docs(ui): subscription task 90 contract/behavior verdicts
  docs/ui/verdicts/subscription.json
  scripts/.task90-subscription-verdict-apply.mjs
Due: prettier --write

docs(ui): закрыть вердикты Package C подписки (task 89)
  apps/web/__tests__/subscription-package-c-v4.test.js
  scripts/.polosa2-task89-package-c-apply.mjs
Due: eslint --max-warnings=500

fix(ui): padding треда мессенджера 6/14/0 gap 8 (task 89/85)
  apps/web/__tests__/messenger-thread-padding.test.js
  apps/web/styles/modules/1000-messenger.css
  docs/ui/verdicts/messenger.json
  scripts/.polosa2-task89-messenger-verdict-apply.mjs
Due: eslint --max-warnings=500, prettier --write

chore(ui-v4): заморозка голых литералов — мессенджер под охрану, пять файлов вниз
  scripts/ui-v4-check-bare-color-literals.mjs
Due: none

docs(subscription): close task87 package-A remainder ? (7 rows)
  apps/web/__tests__/subscription-package-a-remainder-v4.test.js
  docs/ui/verdicts/subscription.json
  scripts/.polosa4-task87-remainder-apply.mjs
Due: eslint --max-warnings=500, prettier --write

fix(widgets): один путь состава плитки «Динамика веса» curve
  apps/web/__tests__/polosa4-task96-weight-tile-composition.test.js
  apps/web/__tests__/widgets-weight-dynamics-g-curve-v4.test.js
  apps/web/heys_widgets_ui_v1.js
Due: eslint --max-warnings=500

feat(strength): ProgramDone geometry sync + L10–L12 text verdicts
  apps/web/__tests__/strength-proposal-ui.test.js
  apps/web/__tests__/strength-proposal-v4-canvas-contract.test.js
  apps/web/heys_day_trainings_v1.js
  apps/web/strength/heys_strength_proposal_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/ui/verdicts/strength-builder.json
  scripts/.sb-task95-program-done-handoff.json
  scripts/.task95-apply-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

chore(ui-v4): один порог храповика вместо двух; strength-builder 181→102, subscription 24→78
  docs/ui/verdicts/subscription.json
  scripts/lib/ui-v4-verdicts.mjs
  scripts/ui-v4-check-verdict-semantics-gate.mjs
Due: prettier --write

test(settings): «Настроить подробно» — сторожим ярус, а не расстояние в символах
  apps/web/__tests__/settings-v4-notify-detail.test.js
Due: eslint --max-warnings=500

fix(norm-correction): раздел владения «вид кабинета куратора»
  apps/web/heys_norm_correction_v1.js
  docs/ui/verdicts/norm-correction.json
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): пакет 36 · тач-цели 44px в 5 зонах (полоса 4 · задача 104)
  apps/web/__tests__/polosa4-task104-pkg36-touch-44px.test.js
Due: eslint --max-warnings=500

fix(subscription): trial screen kick/tier roles + verdict task104
  apps/web/heys_paywall_v1.js
  docs/ui/verdicts/subscription.json
Due: eslint --max-warnings=500, prettier --write

fix(verdicts): subscription task103 — replace 51 ≠ stub facts with file:line evidence
  docs/ui/verdicts/subscription.json
Due: prettier --write

fix(verdicts): subscription task103 — finish remaining 23 stub facts (bulk write)
  docs/ui/verdicts/subscription.json
Due: prettier --write

docs(ui): находки дизайнеру по одной — генератор и файл
  docs/ui/UI_V4_DIVERGENCE_ROWS.json
  docs/ui/UI_V4_DIVERGENCE_ROWS.md
  docs/ui/UI_V4_FINDINGS_FOR_DESIGNER.md
  scripts/ui-v4-designer-findings.mjs
Due: prettier --write

fix(ui-v4): package 36 touch targets — tips + settings-system
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/__tests__/ui-v4-header-appearance.test.js
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/1000-messenger.css
  apps/web/styles/modules/400-water-and-hydration.css
Due: eslint --max-warnings=500

fix(ui): water-add task106 touch targets 44px visible
  apps/web/__tests__/water-add-v4-canvas-geometry.test.js
  apps/web/__tests__/water-add-v4-canvas-razbor.test.js
  apps/web/__tests__/water-custom-volume-v4.test.js
  docs/ui/verdicts/water-add.json
Due: eslint --max-warnings=500, prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
