Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(heys-mcp): copy_meal in update_meal for existing meals
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

feat(norms): g/kg protein, scoped steps median, computeDisplayNorms (heys/798770)
  apps/web/__tests__/heys-display-norms.test.js
  apps/web/__tests__/tdee-resolve-daily-targets.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_calculations.js
  apps/web/heys_day_energy_context_v1.js
  apps/web/heys_day_nutrition_state_v1.js
  apps/web/heys_day_stats_block_v1.js
  apps/web/heys_day_stats_vm_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_day_utils.js
  apps/web/heys_macro_rings_core_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_tdee_v1.js
  apps/web/heys_yesterday_verify_v1.js
  apps/web/widgets/widget_data.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_day_calculations.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_tdee_v1.js
Due: eslint --max-warnings=500

fix(heys-mcp): honest copy path budget and arg_keys in stdout telemetry
  yandex-cloud-functions/heys-mcp/__tests__/telemetry.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/telemetry.js
Due: eslint --max-warnings=500

test(heys-mcp): sync day norm expectations with g/kg macros mirror
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
Due: none

feat(heys-mcp): copy one item via copy_meal.item_ids
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

docs(heys-mcp): arg_keys and copy_meal acceptance in timing log
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
Due: prettier --write

fix(heys-mcp): schema cache lives in the app, not the chat
  docs/operations/MCP_TRACE_RUNBOOK.md
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
Due: eslint --max-warnings=500, prettier --write

feat(heys-mcp): treat recipe requests as product creation
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
Due: eslint --max-warnings=500

fix(heys-mcp): dailyNorm macros use g/kg profile context (heys/798770)
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/index.js
Due: eslint --max-warnings=500

ci(cf): allow manual heys-mcp deploy with ALLOW_DISABLED reason
  .github/workflows/cloud-functions-deploy.yml
Due: prettier --write

docs(heys-mcp): peer search contract recovered from prod
  scripts/bootstrap-bypass-allowlist.txt
  yandex-cloud-functions/heys-mcp/PEER_SEARCH_CONTRACT.md
Due: prettier --write

feat(heys-mcp): recipe product and restored peer search
  scripts/bootstrap-bypass-allowlist.txt
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/products.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/products.js
  yandex-cloud-functions/heys-mcp/lib/tool-annotations.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

docs(heys-mcp): peer search restored, deploy gate lifted
  yandex-cloud-functions/heys-mcp/PEER_SEARCH_CONTRACT.md
Due: prettier --write

feat(web): recipe composition in product list and diary
  apps/web/__tests__/add-product-search-v4-structure.test.js
  apps/web/__tests__/curator-authorship.test.js
  apps/web/day/_meals.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_add_product.js
  apps/web/heys_models_v1.js
  apps/web/heys_sync_merge_v1.js
  apps/web/styles/modules/600-steps-and-aps.css
  yandex-cloud-functions/heys-api-rest/lib/heys_sync_merge_v1.cjs
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500

feat(tools): mcp:trace script and recipe invariants in dossier
  docs/reference/systems/PRODUCTS_AND_SEARCH.md
  package.json
  scripts/db/README.md
  scripts/db/psql.ps1
  scripts/db/psql.sh
  scripts/db/setup-windows-tools.ps1
  scripts/mcp-stats.mjs
  scripts/mcp-trace.mjs
Due: prettier --write

chore(lint): sync localStorage allowlist line drift
  scripts/bootstrap-bypass-allowlist.txt
Due: none

fix(heys-mcp): carry recipe over when cloning a product
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

chore(lint): pin widget localStorage allowlist by needle, not line
  scripts/bootstrap-bypass-allowlist.txt
Due: none

feat(web): плавный пересчёт калорий и БЖУ от прошлого значения
  apps/web/__tests__/widget-motion.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

fix(lint): recount allowlist after auto-fix, ban checkout for commit split
  docs/operations/AGENT_SHIPPING_RUNBOOK.md
  scripts/lint-direct-localstorage-writes.mjs
Due: prettier --write

fix(web): темп и характер анимации значений виджетов
  apps/web/__tests__/widget-motion.test.js
  apps/web/heys_widgets_ui_v1.js
Due: eslint --max-warnings=500

test(heys-mcp): cover reapply_recipe, add cross-runtime recipe parity
  apps/web/__tests__/recipe-nutrients-parity.test.js
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

feat(telemetry): arg_keys in Postgres and in the trace
  database/2026-08-18_mcp_call_events_arg_keys.sql
  yandex-cloud-functions/heys-api-rpc/mcp-telemetry-rpc.js
  yandex-cloud-functions/heys-api-rpc/tests/mcp_telemetry_rpc.contract.test.js
  yandex-cloud-functions/heys-mcp/__tests__/mcp-correlate.test.cjs
  yandex-cloud-functions/heys-mcp/lib/mcp-correlate.js
Due: eslint --max-warnings=500

fix(web): day-switch widget motion and local bundle tooling
  apps/web/__tests__/calendar-active-days-scope.test.js
  apps/web/__tests__/widget-motion.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.8dcc67944e2b.js
  apps/web/public/boot-calc.bundle.8dcc67944e2b.js.gz
  apps/web/public/boot-calc.bundle.ed66654bff04.js
  apps/web/public/boot-calc.bundle.ed66654bff04.js.gz
  apps/web/public/boot-core.bundle.11fb66997c2d.js
  apps/web/public/boot-core.bundle.11fb66997c2d.js.gz
  apps/web/public/boot-core.bundle.4235b113cc81.js
  apps/web/public/boot-core.bundle.4235b113cc81.js.gz
  apps/web/public/boot-day.bundle.3461aaf14ade.js
  apps/web/public/boot-day.bundle.3461aaf14ade.js.gz
  apps/web/public/boot-day.bundle.ce9d16035fda.js
  apps/web/public/boot-day.bundle.ce9d16035fda.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.a903fee49f25.js
  apps/web/public/postboot-1-game-lazy.bundle.a903fee49f25.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.b63957f425c2.js
  apps/web/public/postboot-1-game-lazy.bundle.b63957f425c2.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.2f0887f81586.js
  apps/web/public/postboot-3-ui-lazy.bundle.2f0887f81586.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.c39613e46775.js
  apps/web/public/postboot-3-ui-lazy.bundle.c39613e46775.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/vite.config.ts
  scripts/bundle-legacy.mjs
  typing-board.html
  yandex-cloud-functions/heys-api-rpc/lib/heys_tasks_kv.cjs
Due: eslint --max-warnings=500, prettier --write

fix(scripts): guard bundle rebuild when dev server holds lazy files
  apps/web/__tests__/bundle-dev-server-guard.test.js
  apps/web/bundle-manifest.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  docs/operations/AGENT_SHIPPING_RUNBOOK.md
  scripts/auto-sync-legacy-bundles.mjs
  scripts/bundle-legacy.mjs
  scripts/lib/bundle-dev-server-guard.mjs
Due: eslint --max-warnings=500, prettier --write

fix(scripts): commit with dev server up, skip locked bundles
  apps/web/__tests__/bundle-dev-server-guard.test.js
  apps/web/bundle-manifest.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  docs/operations/AGENT_SHIPPING_RUNBOOK.md
  scripts/auto-sync-legacy-bundles.mjs
  scripts/bundle-legacy.mjs
  scripts/lib/bundle-dev-server-guard.mjs
Due: eslint --max-warnings=500, prettier --write

feat(heys-mcp): block create_product on similar names and peer catalog hits
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

fix(ci): green Deploy and SAST after heys-mcp recipe gate
  apps/web/__tests__/reports-v4-structure.test.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/730-widgets-dashboard.css
  security-reports/sast-baseline.json
Due: eslint --max-warnings=500, prettier --write

feat(heys-mcp): prefer local repo over heys_code_* fallback
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/repo-tools.js
Due: eslint --max-warnings=500

fix(web): widgets edit on localhost only, shorter risk label
  apps/web/bundle-manifest.json
  apps/web/heys_widgets_ui_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.051b038c5d78.js
  apps/web/public/postboot-3-ui-lazy.bundle.051b038c5d78.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.2f0887f81586.js
  apps/web/public/postboot-3-ui-lazy.bundle.2f0887f81586.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(ci): harden CDN cache purge against slow Yandex API
  .github/workflows/deploy-yandex.yml
Due: prettier --write

feat(heys-mcp): catalog questions use search only, not heys_code_*
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

feat(web): PWA splash v4 — sand H icon and boot arc spinner
  apps/web/__tests__/boot-spinner-mark.test.js
  apps/web/index.html
  apps/web/public/icon-192.png
  apps/web/public/icon-512.png
  apps/web/public/icon-v4.svg
  apps/web/public/manifest.json
  apps/web/scripts/generate-pwa-icons.mjs
Due: eslint --max-warnings=500, prettier --write

fix(web): splash icon 1:1 — inset ring B and Caprasimo
  apps/web/public/fonts/Caprasimo-Regular.ttf
  apps/web/public/icon-192.png
  apps/web/public/icon-512.png
  apps/web/public/icon-v4.svg
  apps/web/scripts/generate-pwa-icons.mjs
Due: none

feat(heys-mcp): full recipe read/patch flow and recipe scope guard
  docs/reference/systems/PRODUCTS_AND_SEARCH.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/products.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

fix(web): flatten PWA icons for iOS (no alpha halo)
  apps/web/public/icon-192.png
  apps/web/public/icon-512.png
  apps/web/scripts/generate-pwa-icons.mjs
Due: none

fix(heys-mcp): resolve recipe ingredients across own list and shared base
  docs/reference/systems/PRODUCTS_AND_SEARCH.md
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/products.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

docs(ui): app-splash v4 handoff with iOS path 1 block
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/app-splash.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/app-splash.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/checkin-morning.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/curator-edits.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/registration.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/settings-system.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tab-insights.v4.dc.html
Due: prettier --write

fix(web): splash anchor, flat icon, and iOS touch icon
  apps/web/__tests__/boot-spinner-mark.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_app_initialize_v1.js
  apps/web/index.html
  apps/web/public/apple-touch-icon.png
  apps/web/public/boot-init.bundle.09acfb876cb4.js
  apps/web/public/boot-init.bundle.09acfb876cb4.js.gz
  apps/web/public/boot-init.bundle.de4b51c6a393.js
  apps/web/public/boot-init.bundle.de4b51c6a393.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/icon-192.png
  apps/web/public/icon-512.png
  apps/web/public/icon-v4-apple.svg
  apps/web/public/sw.js
  apps/web/scripts/generate-pwa-icons.mjs
  apps/web/styles/heys-boot-mark.css
Due: eslint --max-warnings=500, prettier --write
