Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

feat(strength-builder): svodka ZH2 tipy podkhodov i ZH3 drop-set s kanvasom v4
  apps/web/__tests__/strength-builder-approach-types-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-drop-set-v4-canvas-contract.test.js
  apps/web/_kernel/heys_kernel_strength_v1.js
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  yandex-cloud-functions/heys-mcp/lib/web-mirror/_kernel/heys_kernel_strength_v1.js
Due: eslint --max-warnings=500

chore(verdicts): strength-builder — вердикты Ж2+Ж3
  docs/ui/verdicts/strength-builder.json
Due: prettier --write

refactor(ui-v4): migrate 710/715/730 amber to v4 roles
  apps/web/styles/modules/710-refeed.css
  apps/web/styles/modules/715-yesterday-verify.css
  apps/web/styles/modules/730-widgets-dashboard.css
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: none

fix(ui): 610-aps-meal-flow amber ladder → v4 roles
  apps/web/styles/modules/610-aps-meal-flow.css
  scripts/bootstrap-bypass-allowlist.txt
Due: none

fix(ui): board tab — 7 янтарных литералов на v4-warn роли
  apps/web/heys_board_tab_v1.js
  scripts/raw-session-clear-allowlist.txt
Due: eslint --max-warnings=500

fix(ui): heys_day_sparklines amber ladder → v4 roles
  apps/web/heys_widgets_ui_v1.js
Due: eslint --max-warnings=500

fix(ui): checkin bucket-2 roles in heys_steps_v1.js
  apps/web/heys_steps_v1.js
Due: eslint --max-warnings=500

fix(ui): bucket-2 warm literals in consents registration flow
  apps/web/heys_day_sparklines_v1.js
Due: eslint --max-warnings=500

refactor(ui-v4): migrate 200-dark breakfast and insulin amber to v4 roles
  apps/web/styles/modules/200-dark-and-effects.css
Due: none

fix(ui): consents registration amber ladder → v4 roles
  apps/web/heys_consents_v1.js
Due: eslint --max-warnings=500

refactor(ui-v4): bucket-2 bare literals in 300-modals
  apps/web/styles/modules/300-modals-and-day.css
Due: none

fix(виджеты): тепловая карта · серия и месяц — роли, смоук
  apps/web/__tests__/widgets-heatmap-now-v4.test.js
  apps/web/__tests__/widgets-heatmap-series-month-v4.test.js
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

fix(ui): heys-components amber batch — 16 literals to v4 warn roles
  apps/web/styles/heys-components.css
Due: none

feat(виджеты): вердикты тепловая карта · серия и месяц — 14×=
  docs/ui/verdicts/home-widgets.json
Due: prettier --write

fix(ui): migrate 40 amber literals in 000-base CSS to v4 roles
  apps/web/styles/modules/000-base-and-gamification.css
Due: none

fix(ui): revert heatmap/streak WIP from widgets_ui amber commit
  apps/web/heys_widgets_ui_v1.js
Due: eslint --max-warnings=500

feat(strength-builder): З2 tri-set work screen + canvas contract test
  apps/web/__tests__/strength-builder-triset-work-v4-canvas-contract.test.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
Due: eslint --max-warnings=500

chore(verdicts): strength-builder З2 tri-set work 33 rows
  docs/ui/verdicts/strength-builder.json
Due: prettier --write

fix(ui): свести лист периодов reports-insights под v4-канвас
  apps/web/__tests__/reports-insights-v4-canon.test.js
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_monthly_reports_v1.js
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/ui/verdicts/reports-insights.json
  scripts/.ri-measure-period-colors.mjs
  scripts/.ri-period-sheet-verdicts.mjs
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(food-meal): bucket-2 amber in heys_meal_step_v1.js
  apps/web/heys_day_stats_v1.js
Due: eslint --max-warnings=500

fix(ui): user tab bucket-2 amber ladder → v4 roles
  apps/web/heys_user_tab_impl_v1.js
Due: eslint --max-warnings=500

fix(food-meal): meal-step bucket-2 amber roles
  apps/web/heys_gamification_v1.js
Due: eslint --max-warnings=500

fix(food-meal): heys_meal_step_v1 bucket-2 warn roles
  apps/web/heys_meal_step_v1.js
Due: eslint --max-warnings=500

fix(ui): перевести ведро-2 янтарь в heys_scales_v1.js
  apps/web/heys_scales_v1.js
Due: eslint --max-warnings=500

fix(ui): янтарная миграция heys_cascade_card_v1.js — 7 литералов на v4-роли
  apps/web/heys_cascade_card_v1.js
Due: eslint --max-warnings=500

fix(ui): amber ladder 5 literals in day/_meals.js
  apps/web/day/_meals.js
Due: eslint --max-warnings=500

fix(ui): migrate last product amber literals in 000-base CSS
  apps/web/styles/modules/000-base-and-gamification.css
Due: none

fix(web): свести day-score now/factors и risk-radar v4
  apps/web/__tests__/widgets-day-score-factors-v4.test.js
  apps/web/__tests__/widgets-day-score-now-v4.test.js
  apps/web/__tests__/widgets-risk-radar-v4.test.js
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

docs(registration): audit 67 neq verdicts — 2 stale to question
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/verdicts/registration.json
Due: prettier --write

docs(ui): home-widgets verdicts — day-score now/factors, risk-radar
  docs/ui/verdicts/home-widgets.json
Due: prettier --write

docs(reports-insights): computed sand+blue в f для цветовых «=»
  docs/ui/verdicts/reports-insights.json
  scripts/.ri-color-pairs.json
  scripts/.ri-measure-colors.mjs
Due: prettier --write

fix(ui-v4): аудит ≠ questionnaire + login
  docs/ui/verdicts/login.json
  docs/ui/verdicts/questionnaire.json
Due: prettier --write

docs(ui): перепроверка пяти ≠ в nutrition-tab
  docs/ui/verdicts/nutrition-tab.json
Due: prettier --write

docs(ui): undo-bar neq re-verified 2026-09-04
  docs/ui/verdicts/undo-bar.json
Due: prettier --write

fix(tab-activity): recheck 53 neq verdicts, 2 to question
  docs/ui/verdicts/tab-activity.json
Due: prettier --write

docs(cycle): пересмотр 36 вердиктов ≠ — 11 в ?, 25 с конкретным f
  docs/ui/verdicts/cycle.json
Due: prettier --write

docs(tips): audit 10 legacy neq verdicts — 6 confirmed, 4 to question
  docs/ui/verdicts/tips.json
Due: prettier --write

test(scales): expect v4 warn role tokens, not legacy hex
  apps/web/__tests__/scales.test.js
Due: eslint --max-warnings=500

docs(curator-cabinet): recheck 36 neq verdicts — 30 confirmed, 6 to question
  docs/ui/verdicts/curator-cabinet.json
  scripts/lib/ui-v4-verdicts.mjs
Due: prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
