Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

debug: add safeSetItem logging for auth token
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix: use originalSetItem for auth token to bypass intercept
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

debug: early check for auth token on page load
  apps/web/heys_app_v12.js
Due: eslint --max-warnings=500

fix: remove confusing curator session logs for client PIN login
  apps/web/heys_app_v12.js
Due: eslint --max-warnings=500

fix: dispatch heysSyncCompleted after client PIN login
  apps/web/heys_app_v12.js
Due: eslint --max-warnings=500

chore: bump version for debug early boot log
  apps/web/heys_app_v12.js
Due: eslint --max-warnings=500

fix: force morning checkin for users with incomplete profile
  apps/web/heys_morning_checkin_v1.js
Due: eslint --max-warnings=500

fix: show morning checkin for new users even during initialization
  apps/web/heys_app_v12.js
Due: eslint --max-warnings=500

fix: pin auth sync - set _pinAuthClientId flag and fix event name
  apps/web/heys_storage_supabase_v1.js
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

fix: persist PIN auth mode across page reloads
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix: refeed step registration and RPC sync failsafe
  apps/web/heys_refeed_v1.js
  apps/web/heys_storage_supabase_v1.js
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500

fix: handle null user in scheduleClientPush for PIN auth
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix: skip bootstrapClientSync in RPC mode and fix cleanupProducts key
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix: add _rpcSyncInProgress flag to prevent race condition
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

chore: add debug getters for _initialSyncCompleted and _rpcSyncInProgress
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix: semantic version comparison to prevent false update prompts
  apps/web/heys_app_v12.js
Due: eslint --max-warnings=500

fix: pullRefresh uses RPC sync for PIN auth clients
  apps/web/heys_day_v12.js
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

feat: add universal cloud.syncClient() for PIN auth support
  apps/web/heys_app_v12.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix: prevent redefinition of debug getters on HMR reload
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix: add retry with backoff for RPC SAVE + beforeunload protection
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix: hide browser's password reveal in PIN input
  .github/copilot-instructions.md
  apps/web/heys_login_screen_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500, prettier --write

ui: change refeed day emoji from 🔄 to 🍕
  apps/web/heys_day_pickers.js
  apps/web/heys_day_v12.js
  apps/web/heys_ratio_zones_v1.js
  apps/web/heys_refeed_v1.js
Due: eslint --max-warnings=500

fix: getRefeedZone null-safety for empty days
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_refeed_v1.js
  apps/web/public/sw.js
  apps/web/public/version.json
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

fix: use currentRatio instead of undefined ratio in IIFE
  apps/web/heys_day_v12.js
Due: eslint --max-warnings=500

fix: add renderRefeedCard wrapper function
  apps/web/heys_refeed_v1.js
Due: eslint --max-warnings=500

fix: replace undefined handleSave with setDay for refeed toggle
  apps/web/heys_day_v12.js
Due: eslint --max-warnings=500

ui: refeed toggle always visible, minimal style when inactive
  apps/web/heys_refeed_v1.js
  apps/web/styles/modules/710-refeed.css
Due: eslint --max-warnings=500

ui: move refeed toggle inside goal progress card
  apps/web/heys_day_v12.js
  apps/web/styles/modules/710-refeed.css
Due: eslint --max-warnings=500

ui: refeed toggle inline left of progress bar
  apps/web/heys_day_v12.js
  apps/web/heys_refeed_v1.js
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/710-refeed.css
Due: eslint --max-warnings=500

ui: move percent badge below progress bar (pointing up)
  apps/web/styles/modules/100-metrics-and-graphs.css
Due: none

ui: increase bottom padding for progress bar card
  apps/web/styles/modules/100-metrics-and-graphs.css
Due: none

ui: increase bottom padding to 36px for percent badge space
  apps/web/styles/modules/100-metrics-and-graphs.css
Due: none

fix: update mobile padding for goal-progress-bar (36px bottom)
  apps/web/styles/modules/300-modals-and-day.css
Due: none

ui: adjust mobile padding to 30px
  apps/web/styles/modules/300-modals-and-day.css
Due: none

fix: instant UI updates for weight/deficit + WheelPicker for deficit
  apps/web/heys_day_v12.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

fix: instant UI update for body measurements
  apps/web/heys_day_v12.js
Due: eslint --max-warnings=500

ui: refeed step - normal day selected by default, reorder options
  apps/web/heys_day_v12.js
  apps/web/heys_refeed_v1.js
Due: eslint --max-warnings=500

ui: remove checkmarks from refeed options, keep visual highlight only
  apps/web/heys_refeed_v1.js
Due: eslint --max-warnings=500

feat: week deficit card inside heatmap + dynamic colors + scientific popup
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_insulin_wave_v1.js
  apps/web/heys_models_v1.js
  apps/web/heys_tdee_v1.js
  apps/web/index.html
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

feat(ration): добавлен импорт/экспорт продуктов из JSON файла
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_core_v12.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/public/sw.js
  apps/web/public/version.json
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write
