Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(release): add whats-new for 0004148f
  apps/web/public/whats-new.json
Due: prettier --write

chore(mobile): add iOS shell screens
  apps/mobile/app/_layout.tsx
  apps/mobile/app/auth/login.tsx
  apps/mobile/app/index.tsx
  apps/mobile/app/settings/index.tsx
  apps/mobile/app/web/index.tsx
Due: eslint --max-warnings=500

ci(deploy): bound CDN purge duration
  .github/workflows/deploy-yandex.yml
Due: prettier --write

chore(mobile): align Expo runtime versions
  apps/mobile/package.json
Due: prettier --write

chore(security): refresh SAST reports
  scripts/security/sast-scan.js
Due: eslint --max-warnings=500

feat(auth): add mobile web session exchange
  yandex-cloud-functions/heys-api-auth/index.js
Due: eslint --max-warnings=500

fix(day): stabilize meal effect dependencies
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.ae00782ad538.js
  apps/web/public/boot-calc.bundle.ae00782ad538.js.gz
  apps/web/public/boot-calc.bundle.e8b5ee416113.js
  apps/web/public/boot-calc.bundle.e8b5ee416113.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for b2b779e0
  apps/web/public/whats-new.json
Due: prettier --write

chore(api): expose mobile session exchange routes
  yandex-cloud-functions/api-gateway-spec-v2.yaml
  yandex-cloud-functions/api-gateway-spec.yaml
Due: prettier --write

feat(auth): persist mobile session exchanges
  apps/mobile/IOS_UNLISTED_APP_PLAN.md
  database/2026-07-02_mobile_web_session_exchanges.sql
  yandex-cloud-functions/heys-api-auth/__tests__/mobile-session-exchange.contract.test.cjs
  yandex-cloud-functions/heys-api-auth/index.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for mobile session exchange
  apps/web/public/whats-new.json
Due: prettier --write

docs(mobile): update session exchange release state
  apps/mobile/IOS_UNLISTED_APP_PLAN.md
Due: prettier --write

chore(mobile): preserve web return path after exchange
  apps/mobile/app/web/index.tsx
  apps/mobile/src/features/webview/session-exchange.ts
Due: eslint --max-warnings=500

docs(mobile): record exchange return path handling
  apps/mobile/IOS_UNLISTED_APP_PLAN.md
Due: prettier --write

chore(release): add whats-new for mobile return path
  apps/web/public/whats-new.json
Due: prettier --write

chore(mobile): add app store release packet
  apps/mobile/APP_STORE_RELEASE_PACKET.md
  apps/mobile/CLIENT_INSTALL_GUIDE.md
  apps/mobile/IOS_UNLISTED_APP_PLAN.md
  apps/mobile/app.json
  apps/mobile/src/shared/config/urls.ts
  apps/web/public/docs/account-deletion.md
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for app store packet
  apps/web/public/whats-new.json
Due: prettier --write

fix(mobile): clear web session on logout
  apps/mobile/app/_layout.tsx
  apps/mobile/app/auth/logout.tsx
  apps/mobile/app/settings/index.tsx
Due: eslint --max-warnings=500

chore(release): add whats-new for mobile logout
  apps/web/public/whats-new.json
Due: prettier --write

docs(mobile): note native login release scope
  apps/mobile/IOS_UNLISTED_APP_PLAN.md
Due: prettier --write

docs(mobile): clarify app store auth scope
  apps/mobile/APP_STORE_RELEASE_PACKET.md
Due: prettier --write

feat(mobile): add native client PIN session exchange
  apps/mobile/app/auth/login.tsx
  apps/mobile/app/auth/logout.tsx
  apps/mobile/app/index.tsx
  apps/mobile/app/settings/index.tsx
  apps/mobile/src/features/auth/api.ts
  apps/mobile/src/features/session/types.ts
  database/2026-07-02_mobile_client_web_session_exchange.sql
  yandex-cloud-functions/heys-api-auth/__tests__/mobile-session-exchange.contract.test.cjs
  yandex-cloud-functions/heys-api-auth/index.js
Due: eslint --max-warnings=500

chore(release): add whats-new for client PIN exchange
  apps/web/public/whats-new.json
Due: prettier --write

chore(mobile): update app store assets
  apps/mobile/APP_STORE_RELEASE_PACKET.md
  apps/mobile/CLIENT_INSTALL_GUIDE.md
  apps/mobile/IOS_UNLISTED_APP_PLAN.md
  apps/mobile/app.json
  apps/mobile/assets/adaptive-icon.png
  apps/mobile/assets/favicon.png
  apps/mobile/assets/heys-icon-source.svg
  apps/mobile/assets/heys-splash-source.svg
  apps/mobile/assets/icon.png
  apps/mobile/assets/splash-icon.png
Due: prettier --write

chore(release): add whats-new for app store assets
  apps/web/public/whats-new.json
Due: prettier --write

chore(mobile): defer push notifications
  apps/mobile/app/settings/index.tsx
  apps/mobile/package.json
  apps/mobile/src/features/notifications/index.ts
Due: eslint --max-warnings=500, prettier --write

docs(mobile): document deferred push notifications
  apps/mobile/APP_STORE_RELEASE_PACKET.md
  apps/mobile/CLIENT_INSTALL_GUIDE.md
  apps/mobile/IOS_UNLISTED_APP_PLAN.md
Due: prettier --write

docs(mobile): tighten push dependency check
  apps/mobile/IOS_UNLISTED_APP_PLAN.md
Due: prettier --write

chore(mobile): polish app store shell
  apps/mobile/app.json
  apps/mobile/app/settings/index.tsx
Due: eslint --max-warnings=500, prettier --write

docs(mobile): tighten push UI check
  apps/mobile/IOS_UNLISTED_APP_PLAN.md
Due: prettier --write

chore(release): add whats-new for mobile shell polish
  apps/web/public/whats-new.json
Due: prettier --write

feat(mobile): add native account deletion flow
  apps/mobile/APP_STORE_RELEASE_PACKET.md
  apps/mobile/IOS_UNLISTED_APP_PLAN.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/settings/account-deletion.tsx
  apps/mobile/app/settings/index.tsx
  apps/mobile/src/features/auth/api.ts
  apps/web/public/docs/account-deletion.md
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for account deletion flow
  apps/web/public/whats-new.json
Due: prettier --write

docs(mobile): add app review demo credentials
  apps/mobile/APP_STORE_RELEASE_PACKET.md
Due: prettier --write

chore(sync): prevent planning cloud refresh re-upload
  apps/web/__tests__/planning-sync-persistence.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_planning_store_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.085bf35cc873.js
  apps/web/public/postboot-3-ui-lazy.bundle.085bf35cc873.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.949840320ff4.js
  apps/web/public/postboot-3-ui-lazy.bundle.949840320ff4.js.gz
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for b0b080ef
  apps/web/public/whats-new.json
Due: prettier --write

chore(web): add morning check-in diagnostics
  apps/web/heys_app_shell_v1.js
  apps/web/heys_client_log_trace_v1.js
  apps/web/heys_morning_checkin_v1.js
Due: eslint --max-warnings=500

chore(app): update mobile shell and planning source
  apps/mobile/_ctx.js
  apps/mobile/app.json
  apps/mobile/app/_layout.tsx
  apps/mobile/app/web/index.tsx
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/web/heys_planning_tasks_v1.js
  apps/web/styles/modules/900-planning.css
Due: eslint --max-warnings=500, prettier --write

chore(build): sync web legacy bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.13061c91cf56.js
  apps/web/public/boot-app.bundle.13061c91cf56.js.gz
  apps/web/public/boot-app.bundle.e131e76d8433.js
  apps/web/public/boot-app.bundle.e131e76d8433.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.60e524357d9a.js
  apps/web/public/postboot-3-ui-lazy.bundle.60e524357d9a.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.949840320ff4.js
  apps/web/public/postboot-3-ui-lazy.bundle.949840320ff4.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for web bundle sync
  apps/web/public/whats-new.json
Due: prettier --write
