Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(release): bump whats-new build hash to 8244c2a6
  apps/web/public/whats-new.json
Due: prettier --write

fix(diag): move getQueueDebug to storage_supabase (real upload-loop)
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.245add1e1ba8.js
  apps/web/public/boot-core.bundle.245add1e1ba8.js.gz
  apps/web/public/boot-core.bundle.e7ca01e82fa8.js
  apps/web/public/boot-core.bundle.e7ca01e82fa8.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to a56805e4
  apps/web/public/whats-new.json
Due: prettier --write

chore(sync): remove orphan heys_cloud_queue_v1.js (567 lines dead code)
  apps/web/heys_cloud_queue_v1.js
Due: eslint --max-warnings=500

chore(sync): drop orphan cloud_queue from legacy bundle config
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-core.bundle.1c4259d8fa4c.js
  apps/web/public/boot-core.bundle.1c4259d8fa4c.js.gz
  apps/web/public/boot-core.bundle.245add1e1ba8.js
  apps/web/public/boot-core.bundle.245add1e1ba8.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 43053fdf
  apps/web/public/whats-new.json
Due: prettier --write

fix(deploy): require VAPID env vars to prevent silent wipe on push functions
  yandex-cloud-functions/deploy-all.sh
Due: none

chore(release): bump whats-new build hash to dc2864b4
  apps/web/public/whats-new.json
Due: prettier --write

fix(curator-ux): drop startTransition в 7 tap-paths — tap'ы надёжно срабатывают
  apps/web/bundle-manifest.json
  apps/web/heys_day_activity_v1.js
  apps/web/heys_day_main_block_v1.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/index.html
  apps/web/public/boot-day.bundle.3f508bdcf6a7.js
  apps/web/public/boot-day.bundle.3f508bdcf6a7.js.gz
  apps/web/public/boot-day.bundle.54b04313e75a.js
  apps/web/public/boot-day.bundle.54b04313e75a.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.8992d29ec86f.js
  apps/web/public/postboot-3-ui-lazy.bundle.8992d29ec86f.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.9bda728bca56.js
  apps/web/public/postboot-3-ui-lazy.bundle.9bda728bca56.js.gz
  apps/web/public/sw.js
  docs/REFACTOR_REACT_MEMO_DAY_TAB.md
  todo.md
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to c3defb09
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): record network errors in upload diag + auto-resync on VPN-toggle
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.1c4259d8fa4c.js
  apps/web/public/boot-core.bundle.1c4259d8fa4c.js.gz
  apps/web/public/boot-core.bundle.93234cf39b81.js
  apps/web/public/boot-core.bundle.93234cf39b81.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to c36411f4
  apps/web/public/whats-new.json
Due: prettier --write

fix(curator-ux): drop startTransition в ещё 6 tap-paths + lint guard
  .husky/pre-push
  apps/web/bundle-manifest.json
  apps/web/day/_advice.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/index.html
  apps/web/insights/pi_ui_meal_rec_card.js
  apps/web/public/boot-calc.bundle.adee47e2deaa.js
  apps/web/public/boot-calc.bundle.adee47e2deaa.js.gz
  apps/web/public/boot-calc.bundle.d93123fad98e.js
  apps/web/public/boot-calc.bundle.d93123fad98e.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-2-insights-lazy.bundle.72ff20591161.js
  apps/web/public/postboot-2-insights-lazy.bundle.72ff20591161.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.e34692fbba58.js
  apps/web/public/postboot-2-insights-lazy.bundle.e34692fbba58.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.6a6dab6204bb.js
  apps/web/public/postboot-3-ui-lazy.bundle.6a6dab6204bb.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.9bda728bca56.js
  apps/web/public/postboot-3-ui-lazy.bundle.9bda728bca56.js.gz
  apps/web/public/sw.js
  scripts/lint-react-start-transition.mjs
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 9edbdc58
  apps/web/public/whats-new.json
Due: prettier --write

fix(messenger-push): drop requireInteraction/renotify/vibrate from payload
  yandex-cloud-functions/heys-api-messages/index.js
Due: eslint --max-warnings=500

chore(release): bump whats-new build hash to d9e342bf
  apps/web/public/whats-new.json
Due: prettier --write

chore(release-gate): temporarily disable whats-new gate + drop deprecated docker deploy
  .husky/pre-push
  package.json
  scripts/deploy.js
Due: eslint --max-warnings=500, prettier --write

fix(sync): break curator-side dayv2 merge/autosave write loop
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.93234cf39b81.js
  apps/web/public/boot-core.bundle.93234cf39b81.js.gz
  apps/web/public/boot-core.bundle.ccbb4299f62d.js
  apps/web/public/boot-core.bundle.ccbb4299f62d.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 41524f5c
  apps/web/public/whats-new.json
Due: prettier --write

fix(day-storage): anti-loop deadband в useCaloricDisplayState 5 ккал
  apps/web/bundle-manifest.json
  apps/web/heys_day_caloric_display_state.js
  apps/web/index.html
  apps/web/public/boot-day.bundle.40162eb981ed.js
  apps/web/public/boot-day.bundle.40162eb981ed.js.gz
  apps/web/public/boot-day.bundle.54b04313e75a.js
  apps/web/public/boot-day.bundle.54b04313e75a.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(diag): max-verbose sync badge click + write/event ring buffers
  apps/web/bundle-manifest.json
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_caloric_display_state.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.a619f835ba59.js
  apps/web/public/boot-app.bundle.a619f835ba59.js.gz
  apps/web/public/boot-app.bundle.a978e86441c3.js
  apps/web/public/boot-app.bundle.a978e86441c3.js.gz
  apps/web/public/boot-core.bundle.c54290f88304.js
  apps/web/public/boot-core.bundle.c54290f88304.js.gz
  apps/web/public/boot-core.bundle.ccbb4299f62d.js
  apps/web/public/boot-core.bundle.ccbb4299f62d.js.gz
  apps/web/public/boot-day.bundle.40162eb981ed.js
  apps/web/public/boot-day.bundle.40162eb981ed.js.gz
  apps/web/public/boot-day.bundle.6e919ba9c599.js
  apps/web/public/boot-day.bundle.6e919ba9c599.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(diag): expand sync badge dump — config/network/storage/perf/SW context
  apps/web/bundle-manifest.json
  apps/web/heys_app_shell_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.60121260d121.js
  apps/web/public/boot-app.bundle.60121260d121.js.gz
  apps/web/public/boot-app.bundle.a978e86441c3.js
  apps/web/public/boot-app.bundle.a978e86441c3.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(diag): deepest layer — Performance API, memory, raw queue, compute counters
  apps/web/bundle-manifest.json
  apps/web/heys_app_shell_v1.js
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/insights/pi_early_warning.js
  apps/web/public/boot-app.bundle.60121260d121.js
  apps/web/public/boot-app.bundle.60121260d121.js.gz
  apps/web/public/boot-app.bundle.a7d00e4a6140.js
  apps/web/public/boot-app.bundle.a7d00e4a6140.js.gz
  apps/web/public/boot-core.bundle.2b09dedbcc97.js
  apps/web/public/boot-core.bundle.2b09dedbcc97.js.gz
  apps/web/public/boot-core.bundle.c54290f88304.js
  apps/web/public/boot-core.bundle.c54290f88304.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.96488999be4b.js
  apps/web/public/postboot-1-game-lazy.bundle.96488999be4b.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.f0afe654ecda.js
  apps/web/public/postboot-1-game-lazy.bundle.f0afe654ecda.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.e34692fbba58.js
  apps/web/public/postboot-2-insights-lazy.bundle.e34692fbba58.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.f8fc9a7426ac.js
  apps/web/public/postboot-2-insights-lazy.bundle.f8fc9a7426ac.js.gz
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(diag): move ALL deep sync diag в clipboard text (был console-only)
  apps/web/bundle-manifest.json
  apps/web/heys_app_shell_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.5b81b872ffd5.js
  apps/web/public/boot-app.bundle.5b81b872ffd5.js.gz
  apps/web/public/boot-app.bundle.a7d00e4a6140.js
  apps/web/public/boot-app.bundle.a7d00e4a6140.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(diag): echo-loop hypothesis instrumentation — autosave ↔ hot-sync correlation
  apps/web/bundle-manifest.json
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_hooks.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.3c8768931b49.js
  apps/web/public/boot-app.bundle.3c8768931b49.js.gz
  apps/web/public/boot-app.bundle.5b81b872ffd5.js
  apps/web/public/boot-app.bundle.5b81b872ffd5.js.gz
  apps/web/public/boot-core.bundle.2b09dedbcc97.js
  apps/web/public/boot-core.bundle.2b09dedbcc97.js.gz
  apps/web/public/boot-core.bundle.b980e1695a84.js
  apps/web/public/boot-core.bundle.b980e1695a84.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(diag): track second write path — cloud.saveClientKey history
  apps/web/bundle-manifest.json
  apps/web/heys_app_shell_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.3c8768931b49.js
  apps/web/public/boot-app.bundle.3c8768931b49.js.gz
  apps/web/public/boot-app.bundle.3fe21f9b479e.js
  apps/web/public/boot-app.bundle.3fe21f9b479e.js.gz
  apps/web/public/boot-core.bundle.708774d7e16e.js
  apps/web/public/boot-core.bundle.708774d7e16e.js.gz
  apps/web/public/boot-core.bundle.b980e1695a84.js
  apps/web/public/boot-core.bundle.b980e1695a84.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(advice): anti-loop throttle 10s в appendDailyAdviceTraceSnapshot
  apps/web/advice/_core.js
  apps/web/bundle-manifest.json
  apps/web/heys_advice_bundle_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.90961c5011ee.js
  apps/web/public/postboot-1-game-lazy.bundle.90961c5011ee.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.96488999be4b.js
  apps/web/public/postboot-1-game-lazy.bundle.96488999be4b.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(advice): hard rate-throttle appendDailyAdviceTraceSnapshot + caller chain в diag
  apps/web/advice/_core.js
  apps/web/bundle-manifest.json
  apps/web/heys_advice_bundle_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.3fe21f9b479e.js
  apps/web/public/boot-app.bundle.3fe21f9b479e.js.gz
  apps/web/public/boot-app.bundle.46407de4034b.js
  apps/web/public/boot-app.bundle.46407de4034b.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.90961c5011ee.js
  apps/web/public/postboot-1-game-lazy.bundle.90961c5011ee.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.c6b652a1f244.js
  apps/web/public/postboot-1-game-lazy.bundle.c6b652a1f244.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(diag): expand saveClientKey caller stack to 7 frames для идентификации dayv2 writer
  apps/web/bundle-manifest.json
  apps/web/heys_app_shell_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.46407de4034b.js
  apps/web/public/boot-app.bundle.46407de4034b.js.gz
  apps/web/public/boot-app.bundle.b3c046e78570.js
  apps/web/public/boot-app.bundle.b3c046e78570.js.gz
  apps/web/public/boot-core.bundle.6436b74b0bee.js
  apps/web/public/boot-core.bundle.6436b74b0bee.js.gz
  apps/web/public/boot-core.bundle.708774d7e16e.js
  apps/web/public/boot-core.bundle.708774d7e16e.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(sync): content-eq dedup для dayv2 lsSet в курaторской сессии
  apps/web/bundle-manifest.json
  apps/web/heys_app_shell_v1.js
  apps/web/heys_core_v12.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.0247bf281e47.js
  apps/web/public/boot-app.bundle.0247bf281e47.js.gz
  apps/web/public/boot-app.bundle.b3c046e78570.js
  apps/web/public/boot-app.bundle.b3c046e78570.js.gz
  apps/web/public/boot-core.bundle.1ae18c1a1931.js
  apps/web/public/boot-core.bundle.1ae18c1a1931.js.gz
  apps/web/public/boot-core.bundle.6436b74b0bee.js
  apps/web/public/boot-core.bundle.6436b74b0bee.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(day): вынести lsSet из setDay reducer в addMealDirect (anti-loop)
  apps/web/heys_day_core_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(release): rebuild boot-calc bundle (manual: pre-commit hook regex bug)
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-calc.bundle.d93123fad98e.js
  apps/web/public/boot-calc.bundle.d93123fad98e.js.gz
  apps/web/public/boot-calc.bundle.e5453066e38a.js
  apps/web/public/boot-calc.bundle.e5453066e38a.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(day): убрать side-effects из 12 setDay reducer'ов в _meals.js + _meal_handlers.js
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meal_handlers.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.4187d9f338f9.js
  apps/web/public/boot-calc.bundle.4187d9f338f9.js.gz
  apps/web/public/boot-calc.bundle.e5453066e38a.js
  apps/web/public/boot-calc.bundle.e5453066e38a.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(day): закрыть оставшиеся 2 setDay-reducer'a с default-param (продолжение f23aa6a2)
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meal_handlers.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.4187d9f338f9.js
  apps/web/public/boot-calc.bundle.4187d9f338f9.js.gz
  apps/web/public/boot-calc.bundle.b7df406183d4.js
  apps/web/public/boot-calc.bundle.b7df406183d4.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore: убрать stack-spam в логе + fix regex в auto-sync (два архитектурных полирующих фикса)
  apps/web/bundle-manifest.json
  apps/web/heys_cascade_card_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.76c6ba35247c.js
  apps/web/public/postboot-1-game-lazy.bundle.76c6ba35247c.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.c6b652a1f244.js
  apps/web/public/postboot-1-game-lazy.bundle.c6b652a1f244.js.gz
  apps/web/public/sw.js
  scripts/auto-sync-legacy-bundles.mjs
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(diag): SHRINK detector сравнивает по updatedAt, не по max items (убирает stack spam)
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.1ae18c1a1931.js
  apps/web/public/boot-core.bundle.1ae18c1a1931.js.gz
  apps/web/public/boot-core.bundle.4294f61e70d7.js
  apps/web/public/boot-core.bundle.4294f61e70d7.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(day): addProductToMeal читает live LS snapshot вместо stale dayRef.current
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.9104cda3da55.js
  apps/web/public/boot-calc.bundle.9104cda3da55.js.gz
  apps/web/public/boot-calc.bundle.b7df406183d4.js
  apps/web/public/boot-calc.bundle.b7df406183d4.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(curator): закрыть cross-client pollution на switch (architectural, 2 layers)
  apps/web/bundle-manifest.json
  apps/web/heys_app_shell_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_profile_step_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.0247bf281e47.js
  apps/web/public/boot-app.bundle.0247bf281e47.js.gz
  apps/web/public/boot-app.bundle.98f2c98ebc64.js
  apps/web/public/boot-app.bundle.98f2c98ebc64.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.34d3242bf9a5.js
  apps/web/public/postboot-3-ui-lazy.bundle.34d3242bf9a5.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.6a6dab6204bb.js
  apps/web/public/postboot-3-ui-lazy.bundle.6a6dab6204bb.js.gz
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(ci): whats-new entry для fc1ce544 + gitleaks allowlist для public anon
  .gitleaks.toml
  apps/web/public/whats-new.json
Due: prettier --write

chore(ci): add .toml to TECHNICAL_FILE_PATTERNS
  scripts/prepare-release.mjs
Due: none
