Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(release): bump whats-new build hash to b7a2fab6
  apps/web/public/whats-new.json
Due: prettier --write

feat(messenger): badges + preview на карточках CuratorPanel
  apps/web/bundle-manifest.json
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_app_gate_state_v1.js
  apps/web/heys_messenger_api_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.8bf315958558.js
  apps/web/public/boot-app.bundle.8bf315958558.js.gz
  apps/web/public/boot-app.bundle.faeef8d2af27.js
  apps/web/public/boot-app.bundle.faeef8d2af27.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 0dff44fc
  apps/web/public/whats-new.json
Due: prettier --write

fix(messenger): cookie-based session auth для PIN-клиентов
  apps/web/bundle-manifest.json
  apps/web/heys_messenger_api_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.10ae3beb4335.js
  apps/web/public/boot-app.bundle.10ae3beb4335.js.gz
  apps/web/public/boot-app.bundle.8bf315958558.js
  apps/web/public/boot-app.bundle.8bf315958558.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  yandex-cloud-functions/heys-api-messages/index.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to d4514a03
  apps/web/public/whats-new.json
Due: prettier --write

fix(messenger): use HEYS design tokens for theme
  apps/web/bundle-manifest.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/styles/modules/1000-messenger.css
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 1625b6b4
  apps/web/public/whats-new.json
Due: prettier --write

feat(messenger): iOS push onboarding banner для куратора
  apps/web/bundle-manifest.json
  apps/web/heys_curator_push_onboarding_banner_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.04bba1b09d50.js
  apps/web/public/postboot-3-ui-lazy.bundle.04bba1b09d50.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.e908069ae7db.js
  apps/web/public/postboot-3-ui-lazy.bundle.e908069ae7db.js.gz
  apps/web/public/sw.js
  apps/web/public/whats-new.json
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 3c7861d9
  apps/web/public/whats-new.json
Due: prettier --write

chore(allowlist): add curator_push_onboarding_banner:62 (from edc5e5be branch)
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore(allowlist): bypass for heys_curator_push_onboarding_banner_v1.js:62
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore: add what's-new entry for 12813e24
  apps/web/public/whats-new.json
Due: prettier --write

chore(database): add per-client curator_write_locked flag + protection trigger
  database/2026-05-28_curator_write_lock.sql
Due: none

fix(storage): cloud.saveKey routes to client_kv_store only via whitelist
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.10ae3beb4335.js
  apps/web/public/boot-app.bundle.10ae3beb4335.js.gz
  apps/web/public/boot-app.bundle.e39d482551c7.js
  apps/web/public/boot-app.bundle.e39d482551c7.js.gz
  apps/web/public/boot-core.bundle.16de32d0a7b2.js
  apps/web/public/boot-core.bundle.16de32d0a7b2.js.gz
  apps/web/public/boot-core.bundle.995688ca0194.js
  apps/web/public/boot-core.bundle.995688ca0194.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to ada20a92
  apps/web/public/whats-new.json
Due: prettier --write

chore(database): curator_write_locked default-on for all clients + incident docs
  apps/web/BUGS_HISTORY.md
  database/2026-05-28_curator_write_lock_default_on.sql
Due: prettier --write

chore(storage): add v.updatedAt to profile/advice/ews payloads (Ticket M v1)
  apps/web/advice/_outcomes.js
  apps/web/bundle-manifest.json
  apps/web/heys_advice_bundle_v1.js
  apps/web/heys_morning_activation_calendar_v1.js
  apps/web/heys_profile_step_v1.js
  apps/web/heys_steps_v1.js
  apps/web/insights/pi_early_warning.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.1746e88750eb.js
  apps/web/public/postboot-1-game-lazy.bundle.1746e88750eb.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.a8ff3ebad47a.js
  apps/web/public/postboot-1-game-lazy.bundle.a8ff3ebad47a.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.795be3fee3d9.js
  apps/web/public/postboot-2-insights-lazy.bundle.795be3fee3d9.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.f7b436c457ff.js
  apps/web/public/postboot-2-insights-lazy.bundle.f7b436c457ff.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.04bba1b09d50.js
  apps/web/public/postboot-3-ui-lazy.bundle.04bba1b09d50.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.a8ff2560b7ff.js
  apps/web/public/postboot-3-ui-lazy.bundle.a8ff2560b7ff.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(rpc): hybrid timestamp last-write-wins for merge_save default branch (Ticket A v2)
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

chore(storage,rpc): blacklist curator UI-state keys at 4 write paths (Ticket B)
  apps/web/bundle-manifest.json
  apps/web/heys_app_global_bindings_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.cec0c8e78ee3.js
  apps/web/public/boot-app.bundle.cec0c8e78ee3.js.gz
  apps/web/public/boot-app.bundle.e39d482551c7.js
  apps/web/public/boot-app.bundle.e39d482551c7.js.gz
  apps/web/public/boot-core.bundle.995688ca0194.js
  apps/web/public/boot-core.bundle.995688ca0194.js.gz
  apps/web/public/boot-core.bundle.a9ac9bfd5361.js
  apps/web/public/boot-core.bundle.a9ac9bfd5361.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

chore(rpc): blacklist non-client-data keys at PIN-path generic dispatch (Ticket B follow-up)
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

chore(database): audit trigger on client_sessions.revoked_at + restrict revoke EXECUTE (Ticket F)
  apps/web/heys_day_bundle_v1.js
  database/2026-05-28_audit_session_revoke.sql
Due: eslint --max-warnings=500

fix(sync): server returns 401 + client surfaces session-expired (Ticket D)
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.a773dd1ead0d.js
  apps/web/public/boot-core.bundle.a773dd1ead0d.js.gz
  apps/web/public/boot-core.bundle.a9ac9bfd5361.js
  apps/web/public/boot-core.bundle.a9ac9bfd5361.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

fix(eventlog): emit meal-add events on meal creation (Ticket N, source)
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.693e5d765506.js
  apps/web/public/boot-calc.bundle.693e5d765506.js.gz
  apps/web/public/boot-calc.bundle.6ad5baf7d3af.js
  apps/web/public/boot-calc.bundle.6ad5baf7d3af.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 02821252
  apps/web/public/whats-new.json
Due: prettier --write

chore(release): bump whats-new build hash to 194b3fe6
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): clear user_id on pin-path upsert to fix curator_write_locked regression (p0)
  database/2026-05-28_fix_pin_path_user_id.sql
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

chore(database): record curator_write_locked unlock (incident closed)
  database/2026-05-28_curator_write_unlock.sql
Due: none

chore(release): bump whats-new build hash to 272be4f5
  apps/web/public/whats-new.json
Due: prettier --write

feat(messenger): toggle done, delete own, green bubble, date separators
  apps/web/bundle-manifest.json
  apps/web/heys_messenger_api_v1.js
  apps/web/heys_messenger_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.7b9085a3b319.js
  apps/web/public/boot-app.bundle.7b9085a3b319.js.gz
  apps/web/public/boot-app.bundle.cec0c8e78ee3.js
  apps/web/public/boot-app.bundle.cec0c8e78ee3.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/styles/modules/1000-messenger.css
  database/2026-05-28_message_delete.sql
  yandex-cloud-functions/api-gateway-spec-v2.yaml
  yandex-cloud-functions/heys-api-messages/index.js
Due: eslint --max-warnings=500, prettier --write

chore(allowlist): bump line numbers after Ticket M v1 updatedAt edits
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore(sql): record curator_write_locked unlock (incident closed)
  database/2026-05-28_message_done.sql
Due: none

chore(release): bump whats-new build hash to a5357f53
  apps/web/public/whats-new.json
Due: prettier --write

test(storage): use marker-based search instead of hardcoded line ranges
  apps/web/__tests__/merge-scalar-kv-meta.test.js
Due: eslint --max-warnings=500

chore(release): bump APP_VERSION to 2026.05.28.1328.185eff09
  apps/web/bundle-manifest.json
  apps/web/heys_pwa_module_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.a773dd1ead0d.js
  apps/web/public/boot-core.bundle.a773dd1ead0d.js.gz
  apps/web/public/boot-core.bundle.cd6b56bf515a.js
  apps/web/public/boot-core.bundle.cd6b56bf515a.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): sync build-meta + whats-new to 5542ff0b
  apps/web/public/build-meta.json
  apps/web/public/version.json
  apps/web/public/whats-new.json
Due: prettier --write

feat(messenger): quick reply templates + quote reply + trash outside bubble
  apps/web/bundle-manifest.json
  apps/web/heys_messenger_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.7b9085a3b319.js
  apps/web/public/boot-app.bundle.7b9085a3b319.js.gz
  apps/web/public/boot-app.bundle.ecd4b350359a.js
  apps/web/public/boot-app.bundle.ecd4b350359a.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/styles/modules/1000-messenger.css
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 31dbeca9
  apps/web/public/whats-new.json
Due: prettier --write

feat(advice): курaторская сессия — read-only history dropdown вместо live карточек
  apps/web/advice/_core.js
  apps/web/bundle-manifest.json
  apps/web/day/_advice.js
  apps/web/heys_advice_bundle_v1.js
  apps/web/heys_day_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.693e5d765506.js
  apps/web/public/boot-calc.bundle.693e5d765506.js.gz
  apps/web/public/boot-calc.bundle.d6946c4f983a.js
  apps/web/public/boot-calc.bundle.d6946c4f983a.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.1746e88750eb.js
  apps/web/public/postboot-1-game-lazy.bundle.1746e88750eb.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.8a667cd8cbd4.js
  apps/web/public/postboot-1-game-lazy.bundle.8a667cd8cbd4.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to d6c29ef0
  apps/web/public/whats-new.json
Due: prettier --write
