Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(insulin): lipolysis stats layout and edge cases
  apps/web/heys_day_v12.js
Due: eslint --max-warnings=500

style: metrics and graphs CSS updates
  apps/web/styles/modules/100-metrics-and-graphs.css
Due: none

feat(advice): unified toast → full list UX with smooth animations
  apps/web/heys_day_v12.js
  apps/web/styles/modules/400-water-and-hydration.css
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

fix: goal progress bar badge position synced with fill line
  apps/web/.turbo/turbo-build.log
  apps/web/heys_advice_v1.js
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_sounds_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/index.html
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/200-dark-and-effects.css
  apps/web/styles/modules/300-modals-and-day.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/600-steps-and-aps.css
  docs/tasks/2025-12-05-advice-gradients-sounds.md
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500, prettier --write

fix: add product modal scroll improvements - fixed header, scroll chaining fix
  .github/copilot-instructions.md
  apps/web/.turbo/turbo-build.log
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_v12.js
  apps/web/heys_models_v1.js
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/600-steps-and-aps.css
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

fix: hide 'create' step from progress dots in add product modal
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_v12.js
  apps/web/heys_step_modal_v1.js
  apps/web/styles/modules/100-metrics-and-graphs.css
Due: eslint --max-warnings=500

feat(advice): улучшения toast советов
  apps/web/heys_advice_v1.js
  apps/web/heys_day_v12.js
  apps/web/heys_steps_v1.js
Due: eslint --max-warnings=500

feat(advice): добавлены крутые details ко всем советам (126 из 146)
  apps/web/heys_advice_v1.js
Due: eslint --max-warnings=500

fix: советы не показываются до выбора клиента
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_morning_checkin_v1.js
Due: eslint --max-warnings=500

ui: refine advice toggles layout
  apps/web/heys_day_v12.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

fix: advice toast auto-expand bug + 500ms click protection
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_reports_v12.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/100-metrics-and-graphs.css
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/shared/.turbo/turbo-type-check.log
  packages/shared/tsconfig.tsbuildinfo
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500

feat: улучшен нижний navbar — уменьшены иконки, добавлены подписи ОТЧЕТЫ/ДНЕВНИК под переключателем, компактнее switch
  .github/log777.yml
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/300-modals-and-day.css
Due: eslint --max-warnings=500, prettier --write

fix: исправлен lint-staged для игнорируемых файлов
  package.json
Due: prettier --write

refactor: simplify popups & insulin wave animation
  apps/web/heys_day_v12.js
  apps/web/styles/modules/300-modals-and-day.css
Due: eslint --max-warnings=500

fix: слайдер граммов теперь работает на touch-устройствах
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_step_modal_v1.js
Due: eslint --max-warnings=500

refactor: улучшения модалки бытовой активности
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

fix: product lookup fallback + gamification bar overflow
  apps/web/heys_day_v12.js
  apps/web/heys_training_step_v1.js
  apps/web/index.html
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/600-steps-and-aps.css
Due: eslint --max-warnings=500

style: compact bottom nav + hide switch labels
  apps/web/heys_app_v12.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_training_step_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

fix: bottom nav redesign - icons only + switch labels
  apps/web/heys_app_v12.js
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500

fix: FAB и toast учитывают safe-area на iPhone, навигация назад пропускает скрытые шаги
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_step_modal_v1.js
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/200-dark-and-effects.css
Due: eslint --max-warnings=500

fix: use Vercel proxy for Supabase to bypass RU blocks
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_v12.js
  apps/web/styles/modules/600-steps-and-aps.css
  packages/shared/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500

fix: handle undefined signIn result on mobile (client not initialized)
  apps/web/.turbo/turbo-build.log
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

fix: add CDN fallback (unpkg → jsDelivr) for blocked networks
  apps/web/.turbo/turbo-build.log
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_v12.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/styles/modules/000-base-and-gamification.css
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

fix: switch to jsDelivr CDN (more reliable), remove onerror
  apps/web/.turbo/turbo-build.log
  apps/web/index.html
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: none

fix: update preload URLs to jsDelivr CDN
  apps/web/.turbo/turbo-build.log
  apps/web/index.html
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: none

feat: add Vercel Edge Function proxy for Supabase (bypass RU blocks)
  apps/web/.turbo/turbo-build.log
  apps/web/api/supabase/[...path].js
  apps/web/heys_day_hooks.js
  apps/web/index.html
  apps/web/vercel.json
  database/create_meal_photos_bucket.sql
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

fix: use full URL for Supabase proxy (SDK requires absolute URL)
  api/supabase/[...path].js
  apps/web/.turbo/turbo-build.log
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_storage_supabase_v1.js
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

fix: restore Supabase rewrite proxy in vercel.json
  api/supabase/[...path].js
  apps/web/.turbo/turbo-build.log
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_v12.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/vercel.json
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

feat: add photo processed checkbox for curator workflow
  apps/web/heys_day_v12.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/300-modals-and-day.css
  database/create_meal_photos_bucket.sql
Due: eslint --max-warnings=500

cleanup: remove insulin wave debug logging
  apps/web/heys_day_v12.js
Due: eslint --max-warnings=500

fix: insulin wave shake animation + meal undefined error
  apps/web/heys_day_v12.js
  apps/web/styles/modules/300-modals-and-day.css
Due: eslint --max-warnings=500

fix: cloud sync + products deduplication + render limit
  apps/web/.turbo/turbo-build.log
  apps/web/api/supabase/[...path].ts
  apps/web/heys_app_v12.js
  apps/web/heys_core_v12.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/vercel.json
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/shared/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

feat: улучшения модалки добавления продуктов
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_advice_v1.js
  apps/web/heys_day_v12.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_user_v12.js
  apps/web/styles/modules/300-modals-and-day.css
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/600-steps-and-aps.css
Due: eslint --max-warnings=500

chore: set Node.js version 18 for Vercel
  .nvmrc
Due: none

fix: add engines node >=18 <21 for Vercel
  package.json
Due: prettier --write

fix: защита профиля от перезаписи дефолтами + debug logs
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_user_v12.js
Due: eslint --max-warnings=500

fix: remove duplicate engines key in package.json
  package.json
Due: prettier --write

fix: set NODE_VERSION=18 in vercel.json
  apps/web/vercel.json
Due: prettier --write

fix: allow Node.js 20.x for Vercel deployment
  .nvmrc
  package.json
Due: prettier --write
