Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

docs(находки): запись про пилюлю-ответ ушла из журнала в архив
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

fix(лист действий): три иконки изображали не те действия — ответ дизайнера №34
  apps/web/__tests__/meal-actions-icons.test.js
  apps/web/heys_day_nutrition_v1.js
Due: eslint --max-warnings=500

docs(протокол): ответ №34 записан вместе с тем, что ограничение по нему не подтвердилось
  docs/implementation/FOOD_MEAL_V4_CANVAS_ALIGNMENT.md
Due: prettier --write

docs(ответы кодера): А1.4 — покрыта половина DSAR-контура, за сроком следит крон
  docs/ui/designer-answers/А1-А3.md
Due: prettier --write

fix(палитра): --card-bg объявлена — плитки перестали быть белыми во всех наборах
  apps/web/styles/modules/000-base-and-gamification.css
  scripts/ui-check-undeclared-vars.mjs
  scripts/ui-v4-check-bare-color-literals.mjs
Due: none

docs(runbook): файл сообщения коммита — в свой каталог, не в общий tmp
  docs/operations/AGENT_SHIPPING_RUNBOOK.md
Due: prettier --write

fix(звук, ответы): переключателей звука советов три, и тестов на ориентацию три
  apps/web/__tests__/advice-sound-two-controls.test.js
  apps/web/heys_audio_v1.js
  docs/ui/designer-answers/А4-А6.md
Due: eslint --max-warnings=500, prettier --write

feat(гейт): опись мест, где цвет унаследован, а не назван
  scripts/ui-v4-list-inherited-paint.mjs
Due: none

fix(отчёты): график «съедено и норма» — план ролью, прогноз и сетка сняты
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/heys_day_sparklines_v1.js
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/implementation/REPORTS_INSIGHTS_V4_IMPLEMENTATION_2026-08-29.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/reports-insights.json
Due: eslint --max-warnings=500, prettier --write

fix(белок по приёмам): полоса брала цвет родителя, потому что состояния не ставили
  apps/web/heys_widgets_ui_v1.js
Due: eslint --max-warnings=500

docs(ui): третья полоса того же рода — автоскрытие тоста
  docs/ui/UI_V4_DESIGNER_REQUEST_2.md
Due: prettier --write

docs(находки): заливка полосы цели и четыре места унаследованного цвета
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

feat(гейт): доказательства вердиктов проверяются на протухший адрес
  package.json
  scripts/ui-v4-check-verdict-addresses.mjs
Due: prettier --write

feat(гейт): чинилка протухших адресов и машинный вывод разбора
  scripts/ui-v4-check-verdict-addresses.mjs
  scripts/ui-v4-fix-verdict-addresses.mjs
Due: none

fix(чинилка): два запрета вместо двадцати ложных замен
  scripts/ui-v4-fix-verdict-addresses.mjs
Due: none

docs(вердикты): двадцать протухших адресов доказательств найдены заново, а не переписаны автоматом
  docs/ui/verdicts/home-widgets.json
  docs/ui/verdicts/login.json
  docs/ui/verdicts/spinners.json
  docs/ui/verdicts/tips.json
  docs/ui/verdicts/undo-bar.json
  docs/ui/verdicts/water-add.json
Due: prettier --write

docs(вердикты): ещё семь адресов доказательств найдены заново по смыслу, а не по имени
  docs/ui/verdicts/home-widgets.json
  docs/ui/verdicts/nutrition-tab.json
Due: prettier --write

fix(инсайты): сноска осей встала по кадру, опись ролей догнала свой счёт
  apps/web/__tests__/insights-v4-canvas-razbor.test.js
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/ui/UI_V4_SAND_ROLES_INVENTORY.md
Due: eslint --max-warnings=500, prettier --write

docs(доска): новый пакет заведён зоной и роздан девяти сессиям
  docs/ui/UI_V4_CONDUCTOR_BOARD.md
  docs/ui/verdicts/strength-builder.json
Due: prettier --write

chore(вердикты): снимок Конструктора снят — 1755 строк ждут вердикта
  docs/ui/verdicts/strength-builder.json
Due: prettier --write

feat(вода): плитка 1×1 собрана по новой раскладке, нормы на ней больше нет
  apps/web/__tests__/water-add-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

docs(чек-ин): три строки контракта закрыты вердиктом, фон пилюли — по строке
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/715-yesterday-verify.css
  docs/ui/verdicts/checkin-morning.json
Due: prettier --write

docs(конструктор): что уже реализовано в доле «программа и перенос»
  docs/implementation/STRENGTH_BUILDER_ЧТО_УЖЕ_ЕСТЬ_программа-и-перенос.md
Due: prettier --write

docs(правила): rehash без пересмотра вердиктов красит гейт зелёным
  AGENTS.md
  CLAUDE.md
Due: prettier --write

docs(виджеты): записка следующему — что осталось в Главной и где грабли
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
Due: prettier --write

docs(конструктор): разбор четырнадцати кадров про кураторские правки
  docs/implementation/STRENGTH_BUILDER_V4_CURATOR_EDITS_RAZBOR.md
Due: prettier --write

docs(вердикты): снятая строка отмены закрыта, ломаные цикла и первые строки Конструктора разобраны
  apps/web/__tests__/undo-bar-v4-contract.test.js
  docs/ui/verdicts/cycle.json
  docs/ui/verdicts/strength-builder.json
  docs/ui/verdicts/undo-bar.json
Due: eslint --max-warnings=500, prettier --write

docs(конструктор): уточнён состав пробелов, и третье ложное «нет» у меня же
  docs/implementation/STRENGTH_BUILDER_ЧТО_УЖЕ_ЕСТЬ_программа-и-перенос.md
Due: prettier --write

fix(гейт): подсказка дрейфа показывала устаревшую половину строки
  scripts/ui-v4-check-contract-drift.mjs
Due: none

docs(правила): шаблон поиска — один способ; вердикты пакетом не ставят
  AGENTS.md
  CLAUDE.md
Due: prettier --write

docs(конструктор): тринадцать спорных кадров сверены с живым кодом
  docs/ui/designer-answers/Конструктор-спорные.md
  docs/ui/verdicts/strength-builder.json
Due: prettier --write

docs(передача): работа по сведению v4 передана Codex
  docs/ui/UI_V4_HANDOFF_CODEX.md
Due: prettier --write

docs(конструктор): снятая ветка заведена, «Куратор и зал» разведён на три
  docs/implementation/STRENGTH_BUILDER_V4_CURATOR_EDITS_RAZBOR.md
  docs/ui/verdicts/strength-builder.json
Due: prettier --write

docs(дизайн): новый пакет в репозиторий — 24 канваса, 15563 строки
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-strength-builder.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-tab-activity.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/_kernel/heys_kernel_strength_v1.js
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/app-splash.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/canon-atoms.json
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/checkin-morning.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/contract-audit.js
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/contract-snapshot.js
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/curator-cabinet.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/curator-edits.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/cycle.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/date-remainders.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/fixtures/workout-23-sets.json
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/food-meal.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/gamification.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/login.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/norm-correction.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/nutrition-tab.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/product-card.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/pwa-update.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/questionnaire.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/registration.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/reports-insights.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/settings-system.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/spinners.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/app-splash.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/checkin-morning.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/curator-edits.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/cycle.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/registration.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/settings-system.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/strength-builder.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tab-activity.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tips.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/undo-bar.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/water-add.v4.dc.html
Due: eslint --max-warnings=500, prettier --write

docs(ui): третий пакет дизайнеру — девять споров из Конструктора
  docs/ui/UI_V4_DESIGNER_REQUEST_3.md
Due: prettier --write

chore(гейты): охват вырос, долг нет — храповик и опись подтянуты
  docs/ui/UI_V4_SAND_ROLES_INVENTORY.md
  scripts/ui-v4-check-bare-color-literals.mjs
Due: prettier --write

feat(пакет 1 сентября): блокировка входа стала экраном, зелёный ушёл из колеса
  apps/web/__tests__/date-remainders-v4-canvas-razbor.test.js
  apps/web/__tests__/login-error-codes-contract.test.js
  apps/web/__tests__/login-v4-canvas-razbor.test.js
  apps/web/__tests__/login-v4-structure.test.js
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/__tests__/registration-v4-contract-geometry.test.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_login_screen_v1.js
  apps/web/heys_profile_step_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/610-aps-meal-flow.css
  apps/web/styles/modules/733-ui-v4-login-theme.css
  docs/implementation/FOOD_MEAL_V4_CANVAS_ALIGNMENT.md
  docs/ui/verdicts/date-remainders.json
  docs/ui/verdicts/food-meal.json
  docs/ui/verdicts/login.json
  docs/ui/verdicts/registration.json
Due: eslint --max-warnings=500, prettier --write

docs(передача): 1053 изменённых строки — это 867 работы и 166 пустых
  docs/ui/UI_V4_HANDOFF_CODEX.md
Due: prettier --write

docs(ui): один файл всех открытых вопросов дизайнеру
  docs/ui/UI_V4_DESIGNER_OPEN.md
Due: prettier --write

test(инсайты): три кадра вошли в пары, и первый же из них вскрыл ложный вердикт
  apps/web/__tests__/insights-v4-canvas-razbor.test.js
  docs/ui/verdicts/reports-insights.json
Due: eslint --max-warnings=500, prettier --write
