Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

docs(agents): document the local dev-rebuild cycle for worktree isolation
  CLAUDE.md
Due: prettier --write

test(agents): sanitize git env in fixture tests so they survive pre-push
  apps/web/__tests__/auto-sync-agent-check.test.js
  apps/web/__tests__/integrate-agents.test.js
Due: eslint --max-warnings=500

feat(fingers): actionable asymmetry advice (B5)
  apps/web/__tests__/fingers-mvc-history.test.js
  apps/web/fingers/heys_fingers_records_store_v1.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
Due: eslint --max-warnings=500

chore(agents): add `pnpm agent:worktree <task>` provisioning helper
  CLAUDE.md
  package.json
  scripts/agent-worktree.mjs
Due: prettier --write

feat(fingers): weekly volume target + calendar day detail (B11, B18)
  apps/web/__tests__/fingers-progress-ext.test.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
Due: eslint --max-warnings=500

test(fingers): harden session-persistence teardown against shared-global flake
  apps/web/__tests__/fingers-session-persistence.test.js
Due: eslint --max-warnings=500

chore(day): trace every day-update handler exit + curator dayv2 hot-sync delivery
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_effects.js
  apps/web/heys_storage_supabase_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

feat(fingers): CSV export of training data (B12)
  apps/web/__tests__/fingers-progress-ext.test.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
Due: eslint --max-warnings=500

feat(fingers): mesocycle phases guide daily intensity (B7 core)
  apps/web/__tests__/fingers-mesocycle.test.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
Due: eslint --max-warnings=500

chore(release): whats-new for fea03a75 [bundle-size-ok]
  apps/web/public/whats-new.json
Due: prettier --write

chore(build): rebuild legacy bundles for curator-pull diagnostics [bundle-size-ok]
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.021ee869a509.js
  apps/web/public/boot-app.bundle.021ee869a509.js.gz
  apps/web/public/boot-app.bundle.c168a5871a23.js
  apps/web/public/boot-app.bundle.c168a5871a23.js.gz
  apps/web/public/boot-calc.bundle.3fe6091322d4.js
  apps/web/public/boot-calc.bundle.3fe6091322d4.js.gz
  apps/web/public/boot-calc.bundle.68fd26fc178b.js
  apps/web/public/boot-calc.bundle.68fd26fc178b.js.gz
  apps/web/public/boot-core.bundle.e874eb143c85.js
  apps/web/public/boot-core.bundle.e874eb143c85.js.gz
  apps/web/public/boot-core.bundle.fdc727719b0f.js
  apps/web/public/boot-core.bundle.fdc727719b0f.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(day): reconcile cross-device item edit when local day.updatedAt ran ahead (clock skew)
  apps/web/__tests__/sync-merge-shared.test.js
  apps/web/heys_day_effects.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(build): rebuild bundles + whats-new for clock-skew item reconcile [bundle-size-ok]
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.1fec07136711.js
  apps/web/public/boot-calc.bundle.1fec07136711.js.gz
  apps/web/public/boot-calc.bundle.68fd26fc178b.js
  apps/web/public/boot-calc.bundle.68fd26fc178b.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/whats-new.json
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(day): clear skew-inflated block-window instead of freezing incoming sync
  apps/web/heys_day_effects.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(build): rebuild bundles + whats-new for block-window skew cap [bundle-size-ok]
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.1fec07136711.js
  apps/web/public/boot-calc.bundle.1fec07136711.js.gz
  apps/web/public/boot-calc.bundle.544919e2ce38.js
  apps/web/public/boot-calc.bundle.544919e2ce38.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/whats-new.json
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(day): setTimeout fallback for day-apply so a paused rAF can't freeze the view
  apps/web/heys_day_effects.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(day): capture active-tab apply trace (PIN to curator stall, not rAF)
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_effects.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(build): rebuild bundles + whats-new for rAF fallback + active-tab trace [bundle-size-ok]
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.322b758502fe.js
  apps/web/public/boot-app.bundle.322b758502fe.js.gz
  apps/web/public/boot-app.bundle.c168a5871a23.js
  apps/web/public/boot-app.bundle.c168a5871a23.js.gz
  apps/web/public/boot-calc.bundle.544919e2ce38.js
  apps/web/public/boot-calc.bundle.544919e2ce38.js.gz
  apps/web/public/boot-calc.bundle.e216909792b0.js
  apps/web/public/boot-calc.bundle.e216909792b0.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/whats-new.json
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(day): refresh the viewed day when its LS advances, even if the event targets other dates
  apps/web/heys_day_effects.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(build): rebuild bundles + whats-new for viewed-day LS refresh fix [bundle-size-ok]
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.8f45e29bf556.js
  apps/web/public/boot-calc.bundle.8f45e29bf556.js.gz
  apps/web/public/boot-calc.bundle.e216909792b0.js
  apps/web/public/boot-calc.bundle.e216909792b0.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/whats-new.json
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(day): periodic content reconciler so a starved transition can't keep the screen stale
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_effects.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(build): rebuild bundles + whats-new for periodic reconciler [bundle-size-ok]
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.322b758502fe.js
  apps/web/public/boot-app.bundle.322b758502fe.js.gz
  apps/web/public/boot-app.bundle.595ae85c66c7.js
  apps/web/public/boot-app.bundle.595ae85c66c7.js.gz
  apps/web/public/boot-calc.bundle.3c3430e22bf8.js
  apps/web/public/boot-calc.bundle.3c3430e22bf8.js.gz
  apps/web/public/boot-calc.bundle.8f45e29bf556.js
  apps/web/public/boot-calc.bundle.8f45e29bf556.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/whats-new.json
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(day): stop the reconciler from looping (cloud spinner / dayv2 upload storm)
  apps/web/heys_day_effects.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(build): rebuild bundles + whats-new for reconciler loop fix [bundle-size-ok]
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.3c3430e22bf8.js
  apps/web/public/boot-calc.bundle.3c3430e22bf8.js.gz
  apps/web/public/boot-calc.bundle.42c54e6a03c2.js
  apps/web/public/boot-calc.bundle.42c54e6a03c2.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/whats-new.json
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(sync): gate cycleDay by cycle-tracking flag to stop cross-gender pollution
  apps/web/__tests__/sync-merge-shared.test.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_sync_merge_v1.js
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500

chore(build): sync generated artifacts for agent integration
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-core.bundle.ab682564585f.js
  apps/web/public/boot-core.bundle.ab682564585f.js.gz
  apps/web/public/boot-core.bundle.e874eb143c85.js
  apps/web/public/boot-core.bundle.e874eb143c85.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for agent integration [bundle-size-ok]
  apps/web/public/whats-new.json
Due: prettier --write

fix(day): time-throttle the saved-nutrient writeback to kill the data-saved storm
  apps/web/heys_day_caloric_display_state.js
Due: eslint --max-warnings=500

chore(build): rebuild bundles + whats-new for caloric-display throttle [bundle-size-ok]
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-day.bundle.57090328ef5b.js
  apps/web/public/boot-day.bundle.57090328ef5b.js.gz
  apps/web/public/boot-day.bundle.f96abe2a9a8b.js
  apps/web/public/boot-day.bundle.f96abe2a9a8b.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/whats-new.json
Due: eslint --max-warnings=500, prettier --write

perf(sync): skip switch-reload on first client activation
  apps/web/__tests__/client-switch-reload-guard.test.js
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

chore(build): sync generated artifacts for agent integration
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-core.bundle.ab682564585f.js
  apps/web/public/boot-core.bundle.ab682564585f.js.gz
  apps/web/public/boot-core.bundle.af07bb3faf8c.js
  apps/web/public/boot-core.bundle.af07bb3faf8c.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for agent integration
  apps/web/public/whats-new.json
Due: prettier --write

chore(build): update boot bundle size baseline
  apps/web/__perf_baselines__/boot-split-baselines.json
Due: prettier --write

feat(fingers): premium Today Coach UI + diagnostic transparency + grouped bibliography
  apps/web/fingers/heys_fingers_bibliography_v1.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
  apps/web/styles/modules/fingers.css
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(build): sync generated artifacts for agent integration
  apps/web/bundle-manifest.json
  apps/web/heys_fingers_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.8b1d4be74172.js
  apps/web/public/boot-core.bundle.8b1d4be74172.js.gz
  apps/web/public/boot-core.bundle.af07bb3faf8c.js
  apps/web/public/boot-core.bundle.af07bb3faf8c.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

feat(planning): Gantt v2 backlog zone, minimap nav, undo & progress fields
  apps/web/heys_planning_gantt_layout_v1.js
  apps/web/heys_planning_gantt_touch_v1.js
  apps/web/heys_planning_gantt_v2.js
  apps/web/heys_planning_tasks_v1.js
  apps/web/styles/modules/900-planning.css
Due: eslint --max-warnings=500

fix(fingers): correct López bibliography — split conflated 2012/2019 studies
  apps/web/fingers/heys_fingers_bibliography_v1.js
  apps/web/fingers/heys_fingers_constructor_v1.js
  apps/web/fingers/heys_fingers_grips_catalog_v1.js
  apps/web/fingers/heys_fingers_programs_catalog_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

fix: preserve whats-new acknowledgement on update reset
  apps/web/__tests__/whats-new-seen-flag-preserved.test.js
  apps/web/heys_platform_apis_v1.js
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

chore(build): sync generated artifacts for agent integration
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-core.bundle.8b1d4be74172.js
  apps/web/public/boot-core.bundle.8b1d4be74172.js.gz
  apps/web/public/boot-core.bundle.fd124c5ff626.js
  apps/web/public/boot-core.bundle.fd124c5ff626.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
