Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(ui-v4): close 60 gamification ? verdicts and geometry gate
  apps/web/__tests__/gamification-v4-canvas-geometry.test.js
  apps/web/__tests__/gamification-v4-canvas-razbor.test.js
  docs/ui/verdicts/gamification.json
Due: eslint --max-warnings=500, prettier --write

chore(ui-v4): close Z1 superset create canvas block
  apps/web/__tests__/strength-superset-create-v4-canvas-contract.test.js
  apps/web/styles/modules/750-strength-builder.css
  docs/ui/verdicts/strength-builder.json
Due: eslint --max-warnings=500, prettier --write

fix(ui): norm-correction close 156 pending verdicts
  apps/web/__tests__/norm-correction-v4-canvas-geometry.test.js
  docs/ui/verdicts/norm-correction.json
  scripts/.nc-set-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

fix(ui): water-add close frame verdicts and canvas gates
  apps/web/__tests__/water-add-v4-canvas-copy.test.js
  apps/web/__tests__/water-add-v4-canvas-geometry.test.js
  apps/web/__tests__/water-add-v4-canvas-razbor.test.js
  docs/ui/verdicts/water-add.json
Due: eslint --max-warnings=500, prettier --write

fix(виджеты): качество еды «Что снизило» — шапка и −N соседом
  apps/web/__tests__/widgets-food-now-v4.test.js
  apps/web/__tests__/widgets-food-why-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

fix(трейс): связка вызовов с обменом — по отрезку, а не по окну ±5 минут
  yandex-cloud-functions/heys-mcp/__tests__/mcp-correlate.test.cjs
  yandex-cloud-functions/heys-mcp/lib/mcp-correlate.js
  yandex-cloud-functions/heys-mcp/lib/mcp-trace-tools.js
Due: eslint --max-warnings=500

fix(food-meal): align wheel geometry and close verdict debt
  apps/web/__tests__/food-meal-v4-canvas-geometry.test.js
  apps/web/__tests__/meal-time-v4-structure.test.js
  apps/web/heys_meal_step_v1.js
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/ui/verdicts/food-meal.json
  scripts/.fm-set-food-meal-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

docs(чек-ин): вердикты день из пачки 06-19
  docs/ui/verdicts/checkin-morning.json
Due: prettier --write

fix(виджеты): качество еды «Неделя» — 26 px и столбики 44 px
  apps/web/__tests__/widgets-fiber-week-v4.test.js
  apps/web/__tests__/widgets-food-week-v4.test.js
  apps/web/__tests__/widgets-food-why-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

chore(вердикты): скрипт закрытия «Качество еды · Неделя»
  scripts/.hw-set-food-week-verdicts.mjs
Due: none

fix(чек-ин): пустой день и пачка незакрытых fork CSS
  apps/web/styles/modules/715-yesterday-verify.css
Due: none

fix(трейс): псевдоним сильнее времени, сутки по taskDay, сторож границы
  docs/ui/verdicts/strength-builder.json
  scripts/.sb-set-a1-a2-verdicts.mjs
Due: prettier --write

fix(трейс): псевдоним сильнее времени, сутки по taskDay, сторож границы
  yandex-cloud-functions/heys-mcp/__tests__/mcp-correlate.test.cjs
  yandex-cloud-functions/heys-mcp/lib/mcp-correlate.js
  yandex-cloud-functions/heys-mcp/lib/mcp-trace-tools.js
Due: eslint --max-warnings=500

fix(reports-insights): bare literals in metrics CSS to v4 roles
  apps/web/styles/modules/100-metrics-and-graphs.css
Due: none

fix(виджеты): качество еды «нет данных» — прочерк тоном пустого дня
  apps/web/__tests__/widgets-food-empty-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

docs(чек-ин): вердикты пустой день и пачка незакрытых
  docs/ui/verdicts/checkin-morning.json
Due: prettier --write

fix(ui-v4): reports-insights — тёплые литералы 720-predictive-insights на роли v4
  apps/web/styles/modules/720-predictive-insights.css
Due: none

feat(web): strength-builder D3 superset edit boundaries
  apps/web/__tests__/strength-superset-boundaries-v4-canvas-contract.test.js
  apps/web/strength/heys_strength_proposal_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/ui/verdicts/strength-builder.json
  scripts/.sb-set-superset-boundaries-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

fix(ui): amber ladder → v4 roles in six free-scope files
  apps/web/day/_meals.js
  apps/web/heys_day_stats_vm_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/styles/modules/200-dark-and-effects.css
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/725-metabolic-intelligence.css
Due: eslint --max-warnings=500

docs(ui-v4): home-widgets — закрыть Калории (152 ? → 0)
  apps/web/__tests__/widgets-calories-v4-contract.test.js
  docs/ui/verdicts/home-widgets.json
  scripts/.hw-set-calories-verdicts.mjs
  scripts/.sb-set-a1-a2-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

chore(ui): baseline bare literals for 600-steps after amber migration
  scripts/ui-v4-check-bare-color-literals.mjs
Due: none

fix(scripts): вернуть .sb-set-a1-a2-verdicts.mjs после случайного удаления
  scripts/.sb-set-a1-a2-verdicts.mjs
Due: none

fix(ui): offline overlay dark uses v4-surface not foreign fallback
  apps/web/styles/modules/200-dark-and-effects.css
Due: none

fix(water-add): bare-gate toast primary — роли acs вместо литералов
  apps/web/styles/modules/400-water-and-hydration.css
Due: none

fix(ui-v4): reports-insights — холодные bare-литералы 720-predictive-insights на роли v4
  apps/web/styles/modules/720-predictive-insights.css
  scripts/ui-v4-check-bare-color-literals.mjs
Due: none

fix(чек-ин): блок B вес сон шаги
  apps/web/__tests__/morning-checkin-v4-contract-geometry.test.js
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

fix(reports-insights): cold bare literals in metrics CSS to v4 roles
  apps/web/heys_yesterday_verify_v1.js
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/715-yesterday-verify.css
  scripts/ui-v4-check-bare-color-literals.mjs
Due: eslint --max-warnings=500

fix(чек-ин): блок C остальное цикл согласие
  docs/ui/verdicts/checkin-morning.json
  scripts/.checkin-block-c-verdicts.mjs
Due: prettier --write

fix(виджеты): ритм «Лента дня» — поле 14 px, точки 8 px
  apps/web/__tests__/widgets-rhythm-day-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
Due: eslint --max-warnings=500, prettier --write

feat(web): home-widgets rings BJU 49 verdicts and smoke
  apps/web/__tests__/widgets-rings-v4-contract.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/verdicts/home-widgets.json
  scripts/.hw-set-rings-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

chore(вердикты): закрыть «Ритм приёмов · Лента дня»
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/verdicts/home-widgets.json
Due: prettier --write

docs(чек-ин): вердикты блоки A и B
  docs/ui/verdicts/checkin-morning.json
Due: prettier --write

fix(home-widgets): close weight v4 contract (34 verdicts)
  apps/web/__tests__/widgets-v4-canvas-geometry.test.js
  apps/web/__tests__/widgets-weight-v4-contract.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/verdicts/home-widgets.json
  scripts/.hw-set-weight-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

chore(scripts): remove leftover calories verdicts helper
  scripts/.hw-set-calories-verdicts.mjs
Due: none

fix(home-widgets): close insulin wave v4 contract (99 verdicts)
  apps/web/__tests__/widgets-insulin-wave-v4-contract.test.js
  docs/ui/verdicts/home-widgets.json
  scripts/.hw-set-insulin-wave-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

fix(ui): date-picker-streak dark legacy uses v4 accent roles
  apps/web/styles/heys-components.css
Due: none

chore(ui): regenerate bare literals inventory after 251 amber→v4 migrations
  docs/ui/UI_V4_BARE_LITERALS_INVENTORY.md
Due: prettier --write

fix(стенограмма): знаки без слов вместо реплики Кина больше не проходят
  yandex-cloud-functions/heys-api-rpc/lib/heys_tasks_kv.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

fix(ui): 000-base amber bare to v4 roles by zone
  apps/web/styles/heys-components.css
  scripts/ui-v4-check-bare-color-literals.mjs
Due: none
