Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(fingers): align methodology safety readiness
  apps/web/__tests__/fingers-engine-router.test.js
  apps/web/fingers/heys_fingers_engine_router_v1.js
  apps/web/fingers/methodology/CONSTRUCTOR_SPEC.md
  apps/web/fingers/methodology/IMPLEMENTATION_MAP.md
  apps/web/fingers/methodology/IMPLEMENTATION_READINESS.md
  apps/web/fingers/methodology/KICKOFF.md
  apps/web/fingers/methodology/METHODOLOGY.md
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for methodology readiness
  apps/web/public/whats-new.json
Due: prettier --write

docs(fingers): sync readiness runbook
  apps/web/fingers/README.md
  apps/web/fingers/methodology/IMPLEMENTATION_READINESS.md
  apps/web/fingers/methodology/KICKOFF.md
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for sync readiness runbook
  apps/web/public/whats-new.json
Due: prettier --write

chore(dev): restore express router dependency
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/fingers/methodology/IMPLEMENTATION_READINESS.md
  apps/web/fingers/methodology/KICKOFF.md
  apps/web/heys_fingers_bundle_v1.js
  package.json
  pnpm-lock.yaml
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for restore express router dependency
  apps/web/public/whats-new.json
Due: prettier --write

chore(release): add whats-new for 48dc29b4
  apps/web/public/whats-new.json
Due: prettier --write

chore(lint): align localStorage allowlist
  scripts/bootstrap-bypass-allowlist.txt
Due: none

docs: update agent and marketing methodology rules
  AGENTS.md
  apps/landing/COPY_VOICE.md
  маркетинг/13_AI_распознавание_и_ревью_тарифов.md
  маркетинг/15_Ревизия_и_лог_решений.md
  маркетинг/19_Pro-first_методология_Фазы_0.md
  маркетинг/20_AI_распознавание_legal_safe_MVP.md
  маркетинг/21_Позиция_данные_важнее_AI.md
  маркетинг/README.md
Due: prettier --write

chore(fingers): enforce s4 ftl cap
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/fingers/methodology/IMPLEMENTATION_MAP.md
  apps/web/fingers/methodology/IMPLEMENTATION_READINESS.md
  apps/web/fingers/methodology/KICKOFF.md
  apps/web/fingers/methodology/METHODOLOGY.md
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for enforce s4 ftl cap
  apps/web/public/whats-new.json
Due: prettier --write

chore(fingers): add shadow envelope check
  apps/web/fingers/methodology/IMPLEMENTATION_READINESS.md
  apps/web/fingers/methodology/KICKOFF.md
  apps/web/fingers/methodology/tools/shadow-envelope.mjs
Due: prettier --write

chore(release): whats-new for add shadow envelope check
  apps/web/public/whats-new.json
Due: prettier --write

docs(agents): clarify coder role workflow
  AGENTS.md
  CLAUDE.md
Due: prettier --write

feat(drums): improve finger control trainer
  apps/web/__tests__/drums-finger-trainer.test.js
  apps/web/__tests__/storage-registry.test.js
  apps/web/heys_storage_registry_v1.js
  apps/web/hobby/drums-finger-control/ROADMAP.md
  apps/web/hobby/drums-finger-control/heys_drums_finger_trainer_v1.js
  apps/web/styles/modules/drums-finger-trainer.css
Due: eslint --max-warnings=500, prettier --write

feat(billing): introduce Self plan pricing
  apps/landing/src/app/legal/agreements/page.tsx
  apps/landing/src/app/legal/refund/page.tsx
  apps/landing/src/app/legal/user-agreement/page.tsx
  apps/landing/src/components/PricingSSR.tsx
  apps/landing/src/components/VariantLandingSectionsSSR.tsx
  apps/landing/src/components/sections/NavigatorSection.tsx
  apps/landing/src/config/landing-variants.ts
  apps/landing/src/config/legal-versions.ts
  apps/landing/src/config/pricing.ts
  apps/web/heys_paywall_v1.js
  apps/web/heys_subscriptions_v1.js
  apps/web/public/docs/user-agreement.md
  apps/web/public/docs/v1.6/user-agreement.md
  yandex-cloud-functions/heys-api-payments/index.js
Due: eslint --max-warnings=500, prettier --write

docs(marketing): update Pro-first launch materials
  маркетинг/00_Сводная_панель.xlsx
  маркетинг/05_Финмодель.xlsx
  маркетинг/08_Воронка_онбординг_CRO.md
  маркетинг/10_Слепые_зоны_и_широкий_контекст.md
  маркетинг/15_Ревизия_и_лог_решений.md
  маркетинг/19_Pro-first_методология_Фазы_0.md
  маркетинг/21_Позиция_данные_важнее_AI.md
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/23_Плейбук_куратора.md
  маркетинг/README.md
Due: prettier --write

refactor(drums): split trainer into catalog/persistence/engine/ui
  apps/web/__tests__/drums-finger-trainer.test.js
  apps/web/heys_day_stats_bundle_loader_v1.js
  apps/web/hobby/drums-finger-control/heys_drums_catalog_v1.js
  apps/web/hobby/drums-finger-control/heys_drums_engine_v1.js
  apps/web/hobby/drums-finger-control/heys_drums_persistence_v1.js
  apps/web/hobby/drums-finger-control/heys_drums_ui_v1.js
Due: eslint --max-warnings=500

feat(drums): real-time rolling notation view
  apps/web/__tests__/drums-finger-trainer.test.js
  apps/web/heys_day_stats_bundle_loader_v1.js
  apps/web/hobby/drums-finger-control/heys_drums_catalog_v1.js
  apps/web/hobby/drums-finger-control/heys_drums_engine_v1.js
  apps/web/hobby/drums-finger-control/heys_drums_notation_v1.js
  apps/web/hobby/drums-finger-control/heys_drums_ui_v1.js
  apps/web/styles/modules/drums-finger-trainer.css
Due: eslint --max-warnings=500

fix(caloric): align macro targets with net Atwater factors
  apps/web/heys_day_calculations.js
  apps/web/heys_day_caloric_balance_v1.js
  apps/web/heys_metabolic_intelligence_v1.js
  apps/web/heys_reports_tab_impl_v1.js
  apps/web/heys_tdee_v1.js
  apps/web/heys_yesterday_verify_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

docs(caloric): document methodology audit implementation
  review/caloric-methodology-audit/FIX_PLAN.md
  review/caloric-methodology-audit/FIX_PLAN_REVIEW.md
  review/caloric-methodology-audit/IMPL_LOG.md
  review/caloric-methodology-audit/verify_caloric.cjs
Due: prettier --write

docs(marketing): add launch roadmap and content navigation
  маркетинг/06_Конкурентный_разбор.md
  маркетинг/12_Конкуренты_сводная_таблица.md
  маркетинг/15_Ревизия_и_лог_решений.md
  маркетинг/16_Методология_сильных_сторон_конкурентов.md
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/23_Плейбук_куратора.md
  маркетинг/24_Telegram_посты_батч1.md
  маркетинг/25_Roadmap_Ф0_Ф1.md
  маркетинг/26_Конкурентка_навигатор.md
  маркетинг/README.md
Due: prettier --write

chore(release): add whats-new for cec23d98
  apps/web/public/whats-new.json
Due: prettier --write

chore(legacy): rebuild web bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.9a0df27acf04.js
  apps/web/public/boot-app.bundle.9a0df27acf04.js.gz
  apps/web/public/boot-app.bundle.cecd9a845105.js
  apps/web/public/boot-app.bundle.cecd9a845105.js.gz
  apps/web/public/boot-calc.bundle.849d5f7ed1fa.js
  apps/web/public/boot-calc.bundle.849d5f7ed1fa.js.gz
  apps/web/public/boot-calc.bundle.a654aec9033d.js
  apps/web/public/boot-calc.bundle.a654aec9033d.js.gz
  apps/web/public/boot-core.bundle.25f48370422e.js
  apps/web/public/boot-core.bundle.25f48370422e.js.gz
  apps/web/public/boot-core.bundle.f19e7ae8e307.js
  apps/web/public/boot-core.bundle.f19e7ae8e307.js.gz
  apps/web/public/boot-day.bundle.403ce611cda7.js
  apps/web/public/boot-day.bundle.403ce611cda7.js.gz
  apps/web/public/boot-day.bundle.4386c636b0b8.js
  apps/web/public/boot-day.bundle.4386c636b0b8.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.40851784f61a.js
  apps/web/public/postboot-1-game-lazy.bundle.40851784f61a.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.8b28efd874a6.js
  apps/web/public/postboot-1-game-lazy.bundle.8b28efd874a6.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.8415eb80e9ca.js
  apps/web/public/postboot-3-ui-lazy.bundle.8415eb80e9ca.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.e714ba76e4c2.js
  apps/web/public/postboot-3-ui-lazy.bundle.e714ba76e4c2.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

docs(agents): clarify legacy bundle policy
  AGENTS.md
Due: prettier --write

chore(checkin): preserve morning subjective fields
  TESTS/regressions/task-003-checkin-reopen-missing-steps.test.js
  TESTS/regressions/task-003-checkin-subjective-anticlobber.test.js
  apps/web/heys_day_day_handlers.js
  apps/web/heys_day_utils.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_steps_v1.js
Due: eslint --max-warnings=500

chore(drums): add tempo and click controls
  apps/web/__tests__/drums-finger-trainer.test.js
  apps/web/hobby/drums-finger-control/heys_drums_engine_v1.js
  apps/web/hobby/drums-finger-control/heys_drums_notation_v1.js
  apps/web/hobby/drums-finger-control/heys_drums_ui_v1.js
  apps/web/styles/modules/drums-finger-trainer.css
Due: eslint --max-warnings=500

chore(calc): document BMR and Atwater gates
  apps/web/heys_user_tab_impl_v1.js
  apps/web/heys_user_v12.js
  review/caloric-methodology-audit/FIX_PLAN.md
  review/caloric-methodology-audit/IMPL_LOG.md
  review/caloric-methodology-audit/test_calc_gates.cjs
  review/caloric-methodology-audit/verify_caloric.cjs
Due: eslint --max-warnings=500, prettier --write

chore(maintenance): improve heartbeat alerts
  yandex-cloud-functions/heys-maintenance/index.js
Due: eslint --max-warnings=500

chore(marketing): add dashboard generator and phase docs
  маркетинг/00_Дашборд.html
  маркетинг/00_Сводная_панель.xlsx
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/27_RFP_медэксперта.md
  маркетинг/28_Post-mortem_Ф0_шаблон.md
  маркетинг/tools/build_dashboard.py
Due: prettier --write

chore(marketing): sync dashboard before commit
  .lintstagedrc.json
  scripts/sync-marketing-dashboard.mjs
Due: prettier --write

chore(release): add whats-new for d541487b
  apps/web/public/whats-new.json
Due: prettier --write

chore(legacy): rebuild web bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.35394fe51fe3.js
  apps/web/public/boot-app.bundle.35394fe51fe3.js.gz
  apps/web/public/boot-app.bundle.cecd9a845105.js
  apps/web/public/boot-app.bundle.cecd9a845105.js.gz
  apps/web/public/boot-calc.bundle.849d5f7ed1fa.js
  apps/web/public/boot-calc.bundle.849d5f7ed1fa.js.gz
  apps/web/public/boot-calc.bundle.86df303fccb3.js
  apps/web/public/boot-calc.bundle.86df303fccb3.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.8415eb80e9ca.js
  apps/web/public/postboot-3-ui-lazy.bundle.8415eb80e9ca.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.a924f3952049.js
  apps/web/public/postboot-3-ui-lazy.bundle.a924f3952049.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(marketing): sync pricing audit and legal versions
  apps/web/heys_consents_v1.js
  apps/web/heys_legal_versions_v1.js
  yandex-cloud-functions/heys-api-payments/index.js
  маркетинг/00_Дашборд.html
  маркетинг/00_Сводная_панель.xlsx
  маркетинг/12_Конкуренты_сводная_таблица.md
  маркетинг/15_Ревизия_и_лог_решений.md
  маркетинг/29_Аудит_конкурентов_глубокий.md
  маркетинг/tools/build_dashboard.py
Due: eslint --max-warnings=500, prettier --write

chore(legacy): rebuild marketing pricing bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-core.bundle.bf0e76d32a81.js
  apps/web/public/boot-core.bundle.bf0e76d32a81.js.gz
  apps/web/public/boot-core.bundle.f19e7ae8e307.js
  apps/web/public/boot-core.bundle.f19e7ae8e307.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.40851784f61a.js
  apps/web/public/postboot-1-game-lazy.bundle.40851784f61a.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.a45601747884.js
  apps/web/public/postboot-1-game-lazy.bundle.a45601747884.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 73528d1a
  apps/web/public/whats-new.json
Due: prettier --write

feat(fingers): prepare methodology engine canary
  apps/web/__tests__/fingers-assessment.test.js
  apps/web/__tests__/fingers-boards-catalog.test.js
  apps/web/__tests__/fingers-boot-stub.test.js
  apps/web/__tests__/fingers-calendar-cooldown.test.js
  apps/web/__tests__/fingers-engine-router.test.js
  apps/web/__tests__/fingers-exercise-runner.test.js
  apps/web/__tests__/fingers-happy-path.test.js
  apps/web/__tests__/fingers-periodization.test.js
  apps/web/__tests__/fingers-profile-store.test.js
  apps/web/__tests__/fingers-progress-ext.test.js
  apps/web/__tests__/fingers-reps-cycle.test.js
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/__tests__/fingers-session-persistence.test.js
  apps/web/__tests__/fingers-timer-cycle.test.js
  apps/web/__tests__/fingers-today-recommend.test.js
  apps/web/fingers/IMPLEMENTATION_TODO.md
  apps/web/fingers/heys_fingers_assessment_v1.js
  apps/web/fingers/heys_fingers_boards_catalog_v1.js
  apps/web/fingers/heys_fingers_calendar_v1.js
  apps/web/fingers/heys_fingers_engine_router_v1.js
  apps/web/fingers/heys_fingers_onboarding_v1.js
  apps/web/fingers/heys_fingers_periodization_engine_v1.js
  apps/web/fingers/heys_fingers_profile_store_v1.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/fingers/heys_fingers_session_persistence_v1.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
  apps/web/fingers/heys_fingers_timer_v1.js
  apps/web/heys_fingers_boot_stub_v1.js
  apps/web/scripts/bundle-fingers.cjs
  apps/web/styles/modules/fingers.css
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for fingers canary
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): handle missing PIN session token
  apps/web/heys_storage_supabase_v1.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500
