Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

docs(вердикты): Актив вырос до 376 строк — 90 новых и 38 изменённых разобраны
  docs/ui/verdicts/tab-activity.json
Due: prettier --write

docs(ui): три вопроса из разбора Актива — пакет молча снял приглушение нуля
  docs/ui/UI_V4_DESIGNER_OPEN.md
Due: prettier --write

docs(ui): ответы дизайнера на 27 открытых — записаны до пересборки пакета
  docs/ui/UI_V4_DESIGNER_ANSWERS_2026-09-01.md
Due: prettier --write

docs(передача): что можно сейчас и что ждёт пересборки пакета
  docs/ui/UI_V4_HANDOFF_CODEX.md
Due: prettier --write

fix(отчёты): кривая веса — ролью, без прогноза, линии цели и подписей
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/heys_day_sparkline_state.js
  apps/web/heys_day_sparklines_v1.js
  apps/web/heys_day_stats_v1.js
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/implementation/REPORTS_INSIGHTS_V4_IMPLEMENTATION_2026-08-29.md
  docs/ui/verdicts/reports-insights.json
Due: eslint --max-warnings=500, prettier --write

fix(отчёты): с линии калорий сняты зелёный ореол и утолщение под курсором
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/styles/modules/733-ui-v4-reports.css
Due: eslint --max-warnings=500

docs(конструктор): одиннадцать кадров ядра экрана сверены с живым кодом
  docs/ui/designer-answers/Конструктор-ядро-экрана.md
Due: prettier --write

docs(передача): все 63 кадра Конструктора разобраны, три дефекта ядра названы
  docs/ui/UI_V4_HANDOFF_CODEX.md
Due: prettier --write

docs(отчёты): у кривой веса в тёмных наборах спор решает порядок файлов
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/implementation/REPORTS_INSIGHTS_V4_IMPLEMENTATION_2026-08-29.md
Due: prettier --write

test(отчёты): порядок модулей у графика калорий стал проверяемым допущением
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
Due: eslint --max-warnings=500

docs(отчёты): карточка «Динамики» в тёмных наборах холодная — записано находкой
  docs/implementation/REPORTS_INSIGHTS_V4_IMPLEMENTATION_2026-08-29.md
Due: prettier --write

docs(отчёты): порядок модулей — не везение, а объявленный механизм каскада
  apps/web/styles/modules/733-ui-v4-reports.css
Due: none

test(отчёты): гейт порядка модулей расширен с линий на саму карточку
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
Due: eslint --max-warnings=500

docs(отчёты): у двух карточек блока рамка разного цвета — обёртки разные
  docs/implementation/REPORTS_INSIGHTS_V4_IMPLEMENTATION_2026-08-29.md
Due: prettier --write

fix(актив): точка «сегодня» отделена обводкой, мёртвое правило календаря починено
  apps/web/__tests__/activity-zero-and-calendar-grid.test.js
  apps/web/styles/modules/731-ui-v4-activity.css
  docs/implementation/ACTIVITY_TAB_V4_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

fix(гейт адресов): имя ищется как идентификатор, а не как слово из прозы
  scripts/ui-v4-check-verdict-addresses.mjs
Due: none

fix(спиннеры): на второй неудаче куратор становится кнопкой, повтор — строкой
  apps/web/__tests__/boot-spinner-mark.test.js
  apps/web/heys_loading_progress_v1.js
  apps/web/styles/heys-boot-mark.css
  docs/implementation/SPINNERS_PWA_V4_CANVAS_RAZBOR.md
Due: eslint --max-warnings=500, prettier --write

fix(гейт актива): пара полосы перепривязана к .pbar, подложка ушла в исключения
  apps/web/__tests__/activity-v4-canvas-geometry.test.js
Due: eslint --max-warnings=500

fix(гейт литералов): Актив вошёл в охват — пять намеренных мест названы
  scripts/ui-v4-check-bare-color-literals.mjs
Due: none

docs(находки): 73 отвеченные записи уехали в архив, в журнале осталось девять
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: prettier --write

docs(дизайн): финальный пакет — 25 канвасов, 15 574 строки
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ANSWERS-coder-blank.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ANSWERS-designer-27-open.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/QUESTIONS-to-coder.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/app-splash.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/canon-atoms.js
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/checkin-morning.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/contract-audit.js
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/curator-cabinet.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/curator-edits.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/cycle.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/date-remainders.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/food-meal.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/gamification.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/login.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/norm-correction.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/nutrition-tab.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/product-card.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/pwa-update.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/questionnaire.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/registration.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/reports-insights.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/service-curator.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/settings-system.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/spinners.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/app-splash.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/checkin-morning.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/curator-edits.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/cycle.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/registration.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/settings-system.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/strength-builder.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tab-activity.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tips.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/undo-bar.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/v4-canvas.css
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/water-add.v4.dc.html
  docs/ui/verdicts/service-curator.json
Due: eslint --max-warnings=500, prettier --write

docs(передача): пересобранный пакет сведён — и две строки приехали не тем
  docs/ui/UI_V4_HANDOFF_CODEX.md
Due: prettier --write

docs(ui): 66 строк контракта спорят сами с собой — записка дизайнеру
  docs/ui/UI_V4_DESIGNER_NOTE_ROW_TAILS.md
Due: prettier --write

docs(передача): не две строки не догнали, а 66 спорят сами с собой
  docs/ui/UI_V4_HANDOFF_CODEX.md
Due: prettier --write

docs(дизайн): сопроводительные файлы пакета — INDEX, README, переписка
  docs/ui/UI_V4_BARE_LITERALS_INVENTORY.md
  docs/ui/handoff-v4/canvas/Модальный конструктор тренировки.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/prompts/ПРОМПТ-остаток-v4.md
Due: prettier --write

docs(передача): состояние рабочего дерева названо поимённо
  docs/ui/UI_V4_HANDOFF_CODEX.md
Due: prettier --write

docs(дизайн): пакет пересобран — 62 строки перевёрнуты решением вперёд
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/checkin-morning.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/contract-audit.js
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/curator-cabinet.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/date-remainders.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/food-meal.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/gamification.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/login.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/norm-correction.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/nutrition-tab.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/product-card.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/pwa-update.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/registration.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/reports-insights.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/spinners.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/checkin-morning.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/registration.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/strength-builder.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tab-activity.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tips.v4.dc.html
Due: eslint --max-warnings=500, prettier --write

docs(передача): 62 строки перевёрнуты, двадцать читать до конца
  docs/ui/UI_V4_HANDOFF_CODEX.md
Due: prettier --write

fix(гейт): реестр зон не знал двух канвасов нового пакета
  apps/web/scripts/ui-v4-visual-fixture.mjs
Due: none

fix(ui): reconcile cycle and reports canvas contracts
  apps/web/__tests__/curator-edits-splash-v4-canvas-razbor.test.js
  apps/web/__tests__/cycle-v4-ink-ladder-contract.test.js
  apps/web/heys_day_stats_v1.js
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/implementation/UI_V4_CODEX_IMPLEMENTATION_PROTOCOL.md
  docs/reference/systems/ANALYTICS_AND_SCORING.md
  docs/ui/UI_V4_CODEX_DESIGN_DISCREPANCIES.md
Due: eslint --max-warnings=500, prettier --write

fix(ui): complete canvas preflight contracts
  apps/web/__tests__/ui-v4-code-screen-coverage.test.js
  apps/web/__tests__/ui-v4-reverse-coverage.test.js
  apps/web/index.html
Due: eslint --max-warnings=500

fix(гейт деплоя): два упавших теста — тест сторожил литерал, код перекрасил лишнее
  apps/web/__tests__/date-picker-v4-capsule.test.js
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

fix(гейт деплоя): подсказка жеста берёт ближайшую ступень, а не литерал
  apps/web/__tests__/longpress-hint-product-rule.test.js
  apps/web/__tests__/widgets-v4-ink-ladder-contract.test.js
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

docs(передача): очередь работы переписана под состояние после выкладки
  docs/ui/UI_V4_HANDOFF_CODEX.md
Due: prettier --write

chore(ui-v4): enforce fail-closed verdict evidence
  apps/web/__tests__/ui-v4-address-shorthand.test.js
  apps/web/__tests__/ui-v4-set-verdict.test.js
  apps/web/__tests__/ui-v4-verdict-semantics.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  docs/ui/verdicts/README.md
  scripts/agent-commit-guards.test.mjs
  scripts/check-agent-staging.mjs
  scripts/lib/ui-v4-addresses.mjs
  scripts/lib/ui-v4-verdicts.mjs
  scripts/ui-v4-check-verdict-addresses.mjs
  scripts/ui-v4-check-verdict-semantics.mjs
  scripts/ui-v4-set-verdict.mjs
Due: eslint --max-warnings=500, prettier --write

feat(insights): align cascade card with v4 canvas
  apps/web/__tests__/insights-cascade-v4.test.js
  apps/web/__tests__/insights-v4-canvas-razbor.test.js
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/heys_cascade_card_v1.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/ui/verdicts/reports-insights.json
  scripts/lib/ui-v4-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

feat(strength): complete offscreen rest lifecycle
  apps/web/__tests__/strength-builder-calm-canvas-contract.test.js
  apps/web/__tests__/strength-builder-offscreen-timer-geometry.test.js
  apps/web/__tests__/strength-builder-rest-dock-geometry.test.js
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/heys_day_trainings_v1.js
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/reference/systems/TRAINING_MODES.md
  docs/ui/verdicts/strength-builder.json
Due: eslint --max-warnings=500, prettier --write

fix(norm): preserve explicit correction consent
  apps/web/__tests__/norm-correction-weekly-card.test.js
  apps/web/__tests__/norm-correction.test.js
  apps/web/heys_norm_correction_v1.js
  docs/implementation/UI_V4_NORM_CORRECTION_HANDOFF.md
  docs/ui/verdicts/norm-correction.json
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): checkpoint convergence evidence
  docs/implementation/UI_V4_FULL_CONVERGENCE_PROTOCOL.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_HANDOFF_CODEX.md
  docs/ui/verdicts/food-meal.json
Due: prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
