Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

docs(claude): split CLAUDE.md into compact reference + topical deep-docs
  CLAUDE.md
  apps/web/ARCHITECTURE.md
  apps/web/BUGS_HISTORY.md
  apps/web/DEBUGGING.md
Due: prettier --write

chore(release): bump whats-new build hash to e6382249
  apps/web/public/whats-new.json
Due: prettier --write

chore(tooling): db inspection scripts + simple-language rule in CLAUDE.md
  CLAUDE.md
  scripts/db/README.md
  scripts/db/audit-clients.sql
  scripts/db/audit-orphans.sql
  scripts/db/audit-products.sql
  scripts/db/get-pg-password.sh
  scripts/db/inspect-client.sh
  scripts/db/psql.sh
Due: prettier --write

chore(release): bump whats-new build hash to f293ced3
  apps/web/public/whats-new.json
Due: prettier --write

docs: how-to-react-to-hooks + storage file navigation + meal feature map
  CLAUDE.md
  apps/web/ARCHITECTURE.md
Due: prettier --write

chore(release): bump whats-new build hash to ef6a5fa3
  apps/web/public/whats-new.json
Due: prettier --write

fix(storage): disable cloud cleanup — destroys overlay TypeA + hidden_products
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.8a1eef7f8050.js
  apps/web/public/boot-core.bundle.8a1eef7f8050.js.gz
  apps/web/public/boot-core.bundle.95e4bccb0700.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 78d9136e
  apps/web/public/whats-new.json
Due: prettier --write

docs: post-mortem for cloud cleanup destruction + rule against shape-inference GC
  CLAUDE.md
  apps/web/BUGS_HISTORY.md
  todo.md
Due: prettier --write

chore(release): bump whats-new build hash to c627b57b
  apps/web/public/whats-new.json
Due: prettier --write

refactor(backup): schema v3 — allow-by-default + deny-list + restore safety
  apps/web/bundle-manifest.json
  apps/web/heys_app_backup_export_v1.js
  apps/web/heys_app_backup_import_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.76e022757c41.js.gz
  apps/web/public/boot-app.bundle.badb0241a385.js
  apps/web/public/boot-app.bundle.badb0241a385.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/whats-new.json
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

feat(sync): route curator KV upsert through warm heys-api-rpc
  CLAUDE.md
  apps/web/bundle-manifest.json
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.321ca77841f3.js
  apps/web/public/boot-calc.bundle.321ca77841f3.js.gz
  apps/web/public/boot-calc.bundle.49c73753dc76.js.gz
  apps/web/public/boot-core.bundle.8a1eef7f8050.js.gz
  apps/web/public/boot-core.bundle.cfc8dea16005.js
  apps/web/public/boot-core.bundle.cfc8dea16005.js.gz
  apps/web/public/boot-day.bundle.7be2774c8e92.js
  apps/web/public/boot-day.bundle.7be2774c8e92.js.gz
  apps/web/public/boot-day.bundle.bba3e86a6df1.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  database/2026-05-11_curator_kv_upsert.sql
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 3cc96ab2
  apps/web/public/whats-new.json
Due: prettier --write

docs(claude): require agents to execute deploys themselves
  CLAUDE.md
Due: prettier --write

chore(release): bump whats-new build hash to 6b08db2f
  apps/web/public/whats-new.json
Due: prettier --write

chore(lint): re-sync localStorage allowlist line numbers
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore(release): bump whats-new build hash to 9716ea8d
  apps/web/public/whats-new.json
Due: prettier --write

feat: cloud-sync planning scale + morning-activation sparkline
  .claude/scheduled_tasks.lock
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_sparkline_data_v1.js
  apps/web/heys_day_sparklines_v1.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_day_utils.js
  apps/web/heys_planning_tasks_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.0c7c5b3b3b8a.js
  apps/web/public/postboot-3-ui-lazy.bundle.0c7c5b3b3b8a.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.738fc34ef3e9.js.gz
  apps/web/public/sw.js
  apps/web/styles/critical.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/900-planning.css
  todo.md
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to c9d0b695
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): cross-client leak guard + switch audit log
  apps/web/bundle-manifest.json
  apps/web/heys_storage_layer_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.88e35ad574d6.js
  apps/web/public/boot-core.bundle.88e35ad574d6.js.gz
  apps/web/public/boot-core.bundle.cfc8dea16005.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  todo.md
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new entry for e2eae684
  apps/web/public/whats-new.json
Due: prettier --write

fix(auth): dual login overlay + 2s freeze on invalidated session
  apps/web/bundle-manifest.json
  apps/web/heys_app_auth_init_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.40a8c1c7260e.js
  apps/web/public/boot-app.bundle.40a8c1c7260e.js.gz
  apps/web/public/boot-app.bundle.badb0241a385.js.gz
  apps/web/public/boot-core.bundle.66ee479d7b4c.js
  apps/web/public/boot-core.bundle.66ee479d7b4c.js.gz
  apps/web/public/boot-core.bundle.88e35ad574d6.js.gz
  apps/web/public/boot-day.bundle.7be2774c8e92.js.gz
  apps/web/public/boot-day.bundle.a16890f3518f.js
  apps/web/public/boot-day.bundle.a16890f3518f.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.d8f9f2576523.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.f26f36c54e90.js
  apps/web/public/postboot-1-game-lazy.bundle.f26f36c54e90.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.1166ff884323.js
  apps/web/public/postboot-2-insights-lazy.bundle.1166ff884323.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.8dbc404d3993.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.0c7c5b3b3b8a.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.eddda6b04a60.js
  apps/web/public/postboot-3-ui-lazy.bundle.eddda6b04a60.js.gz
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

feat(macro-rings): unify ring colors and targets across DayTab/widgets/weekly
  apps/web/bundle-manifest.json
  apps/web/heys_day_stats_v1.js
  apps/web/heys_day_stats_vm_v1.js
  apps/web/heys_macro_ring_view_v1.js
  apps/web/heys_macro_rings_core_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-2-insights-lazy.bundle.1166ff884323.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.a2c6176fa8de.js
  apps/web/public/postboot-2-insights-lazy.bundle.a2c6176fa8de.js.gz
  apps/web/public/sw.js
  apps/web/widgets/widget_data.js
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

feat(planner): adaptive scenarios, hunger trade-off, replan, wave tweaks
  apps/web/__tests__/pi_meal_planner.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_insulin_wave_v1.js
  apps/web/heys_iw_calc.js
  apps/web/insights/pi_meal_planner.js
  apps/web/insights/pi_meal_recommender.js
  apps/web/insights/pi_ui_meal_rec_card.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/styles/heys-components.css
Due: eslint --max-warnings=500, prettier --write

docs: planner architecture/debugging sections + facts-table requirement
  CLAUDE.md
  apps/web/ARCHITECTURE.md
  apps/web/DEBUGGING.md
Due: prettier --write

chore: sync APP_VERSION with deployed build-meta
  .claude/scheduled_tasks.lock
  apps/web/bundle-manifest.json
  apps/web/heys_pwa_module_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new entry for 61c39624
  apps/web/public/whats-new.json
Due: prettier --write

chore: resync localStorage allowlist after line shifts
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore(release): bump whats-new build hash to 68eacaa5
  apps/web/public/whats-new.json
Due: prettier --write

refactor(auth): drop redundant __heysShowGateLogin calls in PIN/no-session/static-login paths
  apps/web/bundle-manifest.json
  apps/web/heys_app_auth_init_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.40a8c1c7260e.js.gz
  apps/web/public/boot-app.bundle.59463fe9cf21.js
  apps/web/public/boot-app.bundle.59463fe9cf21.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-2-insights-lazy.bundle.a2c6176fa8de.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.fce04fb0fb75.js
  apps/web/public/postboot-2-insights-lazy.bundle.fce04fb0fb75.js.gz
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to f58f95ff
  apps/web/public/whats-new.json
Due: prettier --write

fix(planner): scenario sync for planner_light + empty plan handling
  apps/web/bundle-manifest.json
  apps/web/insights/pi_meal_planner.js
  apps/web/insights/pi_meal_recommender.js
  apps/web/insights/pi_ui_meal_rec_card.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-2-insights-lazy.bundle.b075a9c19d63.js
  apps/web/public/postboot-2-insights-lazy.bundle.b075a9c19d63.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.fce04fb0fb75.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 119b573b
  apps/web/public/whats-new.json
Due: prettier --write

chore: untrack .turbo log files
  packages/core/.turbo/turbo-test.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-type-check.log
  packages/shared/.turbo/turbo-test.log
  packages/shared/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-type-check.log
Due: none

chore(release): bump whats-new build hash to a19d10b6
  apps/web/public/whats-new.json
Due: prettier --write

fix(planner): activate dormant analytics — recovery, SUGAR_RESET, advisories
  apps/web/__tests__/pi_meal_planner.test.js
  apps/web/bundle-manifest.json
  apps/web/insights/pi_meal_planner.js
  apps/web/insights/pi_meal_recommender.js
  apps/web/insights/pi_ui_meal_rec_card.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-2-insights-lazy.bundle.79b88dea582a.js
  apps/web/public/postboot-2-insights-lazy.bundle.79b88dea582a.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.b075a9c19d63.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 14f0237f
  apps/web/public/whats-new.json
Due: prettier --write

chore: bump localStorage allowlist line numbers after R12 edits
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore(release): bump whats-new build hash to 5fe0c9a2
  apps/web/public/whats-new.json
Due: prettier --write

fix(planner): use HEYS.models.todayISO (night-hour cutoff aware)
  apps/web/bundle-manifest.json
  apps/web/insights/pi_ui_meal_rec_card.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-2-insights-lazy.bundle.23e547fd9119.js
  apps/web/public/postboot-2-insights-lazy.bundle.23e547fd9119.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.79b88dea582a.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
