Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

test(главная): бросок из каталога на занятое место закрыт смоуком
  apps/web/__tests__/home-widgets-replace-from-catalog-v4.test.js
Due: eslint --max-warnings=500

test(стенды): дни чек-ина несут макросы, а не только калории
  apps/web/scripts/ui-v4-visual-cases/checkin-morning.mjs
Due: none

fix(чек-ин): крупная подпись шапки — только у слоёв, развилка разбора вернулась к кадру
  apps/web/__tests__/checkin-weight-v4-canvas.test.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_steps_v1.js
Due: eslint --max-warnings=500

test(хранилище): ключ клиента скоупится один раз — тест на настоящих исходниках
  apps/web/__tests__/ls-client-scope-roundtrip.test.js
Due: eslint --max-warnings=500

fix(главная): число калорий в переборе — 34 px и красное, как в кадре
  apps/web/__tests__/home-widgets-quick-layer-catalog-v4.test.js
  apps/web/scripts/ui-v4-visual-cases/home-widgets.mjs
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

fix(вода): норма считается одинаково от сырого и нормализованного профиля
  apps/web/__tests__/water-norm-profile-shape.test.js
  apps/web/heys_day_water_state.js
Due: eslint --max-warnings=500

fix(геймификация): норма воды для миссии берётся из профиля, а не 2000 для всех
  apps/web/heys_gamification_v1.js
Due: eslint --max-warnings=500

test(стенды): партия 1 — общие файлы стендов и находки четырёх зон
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

docs(todo): партия 1 сверки экранов закрыта
  todo.md
Due: prettier --write

docs(todo): подписка, уведомления и система — отдельные экраны
  todo.md
Due: prettier --write

fix(настройки): чипы быстрых действий и лист «на домашний экран» по кадрам
  apps/web/heys_app_shell_v1.js
  apps/web/scripts/ui-v4-visual-cases/settings-system.mjs
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

fix(силовая): вернуть корню слоя position: fixed — панель «Завершить» ушла за экран
  apps/web/__tests__/strength-builder-panel-onscreen.test.js
  apps/web/styles/modules/750-strength-builder.css
Due: eslint --max-warnings=500

test(стенды): кейсы силовой — правки куратора, карточка упражнения, возврат в сессию
  apps/web/scripts/ui-v4-visual-cases/strength-curator.mjs
Due: none

test(стенды): модули кейсов зон доехали до репозитория
  apps/web/scripts/ui-v4-visual-cases/app-splash.mjs
  apps/web/scripts/ui-v4-visual-cases/curator-edits.mjs
  apps/web/scripts/ui-v4-visual-cases/gamification.mjs
  apps/web/scripts/ui-v4-visual-cases/login.mjs
  apps/web/scripts/ui-v4-visual-cases/norm-correction.mjs
  apps/web/scripts/ui-v4-visual-cases/pwa-update.mjs
  apps/web/scripts/ui-v4-visual-cases/reports-insights.mjs
  apps/web/scripts/ui-v4-visual-cases/spinners.mjs
  apps/web/scripts/ui-v4-visual-cases/strength-builder.mjs
  apps/web/scripts/ui-v4-visual-cases/strength-curator.mjs
  apps/web/scripts/ui-v4-visual-cases/strength-session.mjs
  apps/web/scripts/ui-v4-visual-cases/tips.mjs
  apps/web/scripts/ui-v4-visual-cases/undo-bar.mjs
Due: none

feat(настройки): подписка, уведомления и система — отдельные экраны
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/__tests__/profile-v4-groups.test.js
  apps/web/__tests__/subscription-settings-status-contract.test.js
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_user_tab_impl_v1.js
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/735-ui-v4-subscription.css
Due: eslint --max-warnings=500

test(стенды): пустой день силовой снимается без назначенного плана
  apps/web/scripts/ui-v4-visual-capture.mjs
  scripts/bootstrap-bypass-allowlist.txt
Due: none

fix(силовая, актив): с экранов сняты пояснения, обращённые не к человеку
  apps/web/heys_curator_panel_v1.js
  apps/web/heys_day_activity_v1.js
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/strength/heys_strength_catalog_ui_v1.js
  apps/web/strength/heys_strength_finish_ui_v1.js
  apps/web/strength/heys_strength_proposal_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
Due: eslint --max-warnings=500

test(силовая): проверки больше не держат снятые пояснения на экране
  apps/web/__tests__/activity-plan-card-frame.test.js
  apps/web/__tests__/activity-v4-canvas-razbor.test.js
  apps/web/__tests__/ls-client-scope-roundtrip.test.js
  apps/web/__tests__/strength-builder-approach-table-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-calm-canvas-contract.test.js
  apps/web/__tests__/strength-builder-curator-edit-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-exercise-card-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-exercise-muscles-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-finish-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-interrupted-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-missed-today-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-order-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-proposal-started-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-triset-work-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/__tests__/strength-builder-validation-v4-canvas-contract.test.js
  apps/web/__tests__/strength-proposal-v4-canvas-contract.test.js
  apps/web/__tests__/strength-superset-create-v4-canvas-contract.test.js
  apps/web/__tests__/tab-activity-v4-current-contract.test.js
  apps/web/__tests__/ui-v4-code-screen-coverage.test.js
  apps/web/scripts/ui-v4-dom-contracts.mjs
  docs/ui/UI_V4_SCREEN_COVERAGE.json
  scripts/lib/ui-v4-screen-roots.mjs
Due: eslint --max-warnings=500, prettier --write

test(стенды): план в ленте и разминка с дроп-сетом снимаются снова
  apps/web/__tests__/activity-plan-card-frame.test.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-cases/strength-builder.mjs
  apps/web/strength/heys_strength_superset_ui_v1.js
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

fix(силовая): экраны связки и разминки носят цвета набора, а не прежней системы
  apps/web/styles/modules/750-strength-builder.css
Due: none

test(стенды): шесть кадров силовой снимаются, привязка кадров починена
  apps/web/__tests__/ui-v4-visual-harness.test.js
  apps/web/scripts/ui-v4-visual-cases/strength-curator.mjs
  apps/web/scripts/ui-v4-visual-cases/strength-session.mjs
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

test(стенды): первый вес и цель по шагам снимаются на данных кадра
  apps/web/scripts/ui-v4-visual-cases/checkin-morning.mjs
Due: none

fix(чек-ин): взвешивания в расчётном весе идут от старого к свежему
  apps/web/heys_steps_v1.js
Due: eslint --max-warnings=500

fix(инсайты): сравнение будней и выходных не пишет «NaN% ккал»
  apps/web/insights/patterns/lifestyle.js
Due: eslint --max-warnings=500

test(стенды): экраны отчётов и инсайтов снимаются целиком
  apps/web/scripts/ui-v4-visual-cases/reports-insights.mjs
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

docs(находки v4): вопрос дизайнеру про первый слой «Что заметили»
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

fix(календарь): сегодня — заливкой, выбранный день — обводкой
  apps/web/styles/modules/000-base-and-gamification.css
Due: none

fix(отчёты): до семи дней вкладка показывает заглушку, а не отчёт из нулей
  apps/web/heys_day_stats_v1.js
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

docs(пакет v4): 55-я сборка — канвас «Отчёты и Инсайты» с ответами дизайнера
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-reports-insights.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/reports-insights.v4.dc.html
Due: prettier --write

fix(инсайты): «Что заметили» — три карточки и кнопка «Ещё N»
  apps/web/insights/pi_ui_dashboard.js
Due: eslint --max-warnings=500

feat(инсайты): панель «Ещё N» — одна поверхность на два блока
  apps/web/insights/pi_ui_dashboard.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-cases/reports-insights.mjs
  apps/web/styles/modules/734-ui-v4-insights.css
Due: eslint --max-warnings=500

test(стенды): риск срыва сеется предельными данными, карточка всё равно молчит
  apps/web/scripts/ui-v4-visual-cases/reports-insights.mjs
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

docs(находки v4): счёт риска срыва на предельных данных — 39 при пороге 60
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

test(стенды): приёмы отчётов несут свою питательность
  apps/web/scripts/ui-v4-visual-cases/reports-insights.mjs
Due: none

docs(находки v4): предупреждения считаются по самой старой неделе
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

feat(инсайты): движок говорит с человеком — без значков, формул и символов
  apps/web/__tests__/insights-v4-pattern-support.test.js
  apps/web/__tests__/insights-voice-contract.test.js
  apps/web/__tests__/pi_meal_recommender.test.js
  apps/web/heys_predictive_insights_v1.js
  apps/web/insights/patterns/activity.js
  apps/web/insights/patterns/body.js
  apps/web/insights/patterns/lifestyle.js
  apps/web/insights/patterns/metabolic.js
  apps/web/insights/patterns/micronutrients.js
  apps/web/insights/patterns/psychology.js
  apps/web/insights/patterns/quality.js
  apps/web/insights/patterns/sleep.js
  apps/web/insights/patterns/timing.js
  apps/web/insights/patterns/training_nutrition.js
  apps/web/insights/pi_advanced.js
  apps/web/insights/pi_analytics_api.js
  apps/web/insights/pi_causal_chains.js
  apps/web/insights/pi_constants.js
  apps/web/insights/pi_early_warning.js
  apps/web/insights/pi_meal_planner.js
  apps/web/insights/pi_meal_rec_patterns.js
  apps/web/insights/pi_meal_recommender.js
  apps/web/insights/pi_outcome_modal.js
  apps/web/insights/pi_stats.js
  apps/web/insights/pi_whatif.js
Due: eslint --max-warnings=500

docs(находки v4): «Подробно» в инсайтах остался инженерной панелью
  docs/ui/UI_V4_FINDINGS.md
  scripts/bootstrap-bypass-allowlist.txt
Due: prettier --write

fix(предупреждения): окно — последние дни, а пустой справочник не значит ноль
  apps/web/__tests__/ews-day-order.test.js
  apps/web/__tests__/ews-empty-catalog.test.js
  apps/web/insights/pi_early_warning.js
Due: eslint --max-warnings=500

fix(инсайты): фильтр пустых находок узнаёт новые формулировки
  apps/web/__tests__/insights-empty-findings-filter.test.js
  apps/web/insights/pi_ui_dashboard.js
Due: eslint --max-warnings=500

fix(календарь): сегодня залит акцентом и в дне с записями, метка цикла — по строке
  apps/web/__tests__/date-remainders-v4-canvas-razbor.test.js
  apps/web/__tests__/date-remainders-v4-cell.test.js
  apps/web/scripts/ui-v4-visual-cases/date-remainders.mjs
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
