Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(release): bump whats-new build hash to 4cc3b1e8
  apps/web/public/whats-new.json
Due: prettier --write

fix(ui): поднять порог появления sync-lock modal с 3с до 6с
  apps/web/bundle-manifest.json
  apps/web/heys_app_hooks_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.134413fa0237.js
  apps/web/public/boot-app.bundle.134413fa0237.js.gz
  apps/web/public/boot-app.bundle.74bbfeabc763.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to d4629434
  apps/web/public/whats-new.json
Due: prettier --write

fix(auth): не очищать heys_session_token в switchClient на PIN-пути
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.8beb9df13ea0.js
  apps/web/public/boot-core.bundle.8beb9df13ea0.js.gz
  apps/web/public/boot-core.bundle.d5a1586a0db7.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to d5fcb0c6
  apps/web/public/whats-new.json
Due: prettier --write

fix(auth): tighten switchClient cleanup gate to require existing oldClientId
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.63bc0c4b47b2.js
  apps/web/public/boot-core.bundle.63bc0c4b47b2.js.gz
  apps/web/public/boot-core.bundle.8beb9df13ea0.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 82fa059f
  apps/web/public/whats-new.json
Due: prettier --write

feat(curator-actions): лента действий куратора у клиента (push + in-app banner)
  apps/web/bundle-manifest.json
  apps/web/heys_curator_actions_banner_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.5802d5791360.js
  apps/web/public/boot-core.bundle.5802d5791360.js.gz
  apps/web/public/boot-core.bundle.63bc0c4b47b2.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.4a2f2bf54cca.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.93d731261e9d.js
  apps/web/public/postboot-3-ui-lazy.bundle.93d731261e9d.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/500-pwa-and-offline.css
  database/2026-05-18_curator_actions_feed.sql
  scripts/legacy-bundle-config.mjs
  yandex-cloud-functions/heys-api-rpc/__tests__/curator-action-diff.test.js
  yandex-cloud-functions/heys-api-rpc/curator-action-diff.js
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-cron-reminders/__tests__/curator-action-format.test.js
  yandex-cloud-functions/heys-cron-reminders/curator-action-format.js
  yandex-cloud-functions/heys-cron-reminders/index.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 7c770a73
  apps/web/public/whats-new.json
Due: prettier --write

chore(lint): allowlist curator-actions banner dismiss setItem
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore(release): bump whats-new build hash to a00eb549
  apps/web/public/whats-new.json
Due: prettier --write

fix(curator-actions): фильтр служебных ключей + дедуп actions в banner
  apps/web/bundle-manifest.json
  apps/web/heys_curator_actions_banner_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.18e1140e7562.js
  apps/web/public/postboot-3-ui-lazy.bundle.18e1140e7562.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.93d731261e9d.js.gz
  apps/web/public/sw.js
  yandex-cloud-functions/heys-api-rpc/__tests__/curator-action-diff.test.js
  yandex-cloud-functions/heys-api-rpc/curator-action-diff.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 789e45e8
  apps/web/public/whats-new.json
Due: prettier --write

chore(lint): bump allowlist line for curator-banner dismiss setItem
  scripts/bootstrap-bypass-allowlist.txt
Due: none

fix(step-modal): кнопки "Далее"/preset перестали глотаться на iOS
  apps/web/bundle-manifest.json
  apps/web/heys_step_modal_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.18e1140e7562.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.41072ac2f953.js
  apps/web/public/postboot-3-ui-lazy.bundle.41072ac2f953.js.gz
  apps/web/public/sw.js
  apps/web/public/whats-new.json
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 87962d90
  apps/web/public/whats-new.json
Due: prettier --write

fix(curator-push): skip pending notification if client already acked banner
  yandex-cloud-functions/heys-cron-reminders/index.js
Due: eslint --max-warnings=500

chore(release): bump whats-new build hash to 3debf157
  apps/web/public/whats-new.json
Due: prettier --write

feat(curator-actions): рич формат приёма пищи в фиде куратора
  apps/web/bundle-manifest.json
  apps/web/heys_curator_actions_banner_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.2d1f424d9a34.js
  apps/web/public/postboot-3-ui-lazy.bundle.2d1f424d9a34.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.41072ac2f953.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/500-pwa-and-offline.css
  yandex-cloud-functions/heys-api-rpc/__tests__/curator-action-diff.test.js
  yandex-cloud-functions/heys-api-rpc/curator-action-diff.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 2ad7d669
  apps/web/public/whats-new.json
Due: prettier --write

chore(release): bump whats-new build hash to f19ca002
  apps/web/public/whats-new.json
Due: prettier --write

fix(curator-actions): banner перестал повторно появляться после ack
  apps/web/bundle-manifest.json
  apps/web/heys_curator_actions_banner_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.2d1f424d9a34.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.32416af12149.js
  apps/web/public/postboot-3-ui-lazy.bundle.32416af12149.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 93e45f3a
  apps/web/public/whats-new.json
Due: prettier --write

chore(lint): allowlist new local-ack setItem line in curator-banner
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore(release): bump whats-new build hash to a75ae17f
  apps/web/public/whats-new.json
Due: prettier --write

fix(security): bcrypt PIN cost 6 → 12 + widen anti-timing window to 250-350ms
  database/2025-12-25_p2_phone_enumeration_fix.sql
  database/2026-04-28_admin_set_client_pin.sql
  database/2026-04-28_telegram_bot.sql
  database/2026-05-19_pin_bcrypt_cost_12.sql
Due: none

chore(release): bump whats-new build hash to 9359d331
  apps/web/public/whats-new.json
Due: prettier --write

fix(security): revoke all client sessions on PIN reset
  database/2026-05-19_revoke_all_client_sessions.sql
Due: none

chore(release): bump whats-new build hash to bd7f4100
  apps/web/public/whats-new.json
Due: prettier --write

fix(auth): verify_client_pin_v3 INSERTs into correct column token_hash
  database/2025-12-25_p2_phone_enumeration_fix.sql
Due: none

chore(release): bump whats-new build hash to 31405e98
  apps/web/public/whats-new.json
Due: prettier --write

feat(security): httponly cookie carrier for client session token (phase c)
  apps/web/bundle-manifest.json
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.5802d5791360.js.gz
  apps/web/public/boot-core.bundle.7699adef3dc7.js
  apps/web/public/boot-core.bundle.7699adef3dc7.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 500ee758
  apps/web/public/whats-new.json
Due: prettier --write

chore: bump localstorage allowlist line for heys_yandex_api_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore(release): bump whats-new build hash to deb38d8d
  apps/web/public/whats-new.json
Due: prettier --write

feat(security): curator JWT carriage via HttpOnly cookie (defense-in-depth)
  apps/web/bundle-manifest.json
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.7699adef3dc7.js.gz
  apps/web/public/boot-core.bundle.cd92a5bd7976.js
  apps/web/public/boot-core.bundle.cd92a5bd7976.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  yandex-cloud-functions/heys-api-auth/index.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 769738b1
  apps/web/public/whats-new.json
Due: prettier --write

chore(release): bump whats-new build hash to 4b79d741
  apps/web/public/whats-new.json
Due: prettier --write
