Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: update landing subscription UI, paywall, leads cloud function and rotate bundles
  apps/landing/src/components/.!14411!TrialSSR.tsx
  apps/landing/src/components/.!14445!TrialSSR.tsx
  apps/landing/src/components/PricingSSR.tsx
  apps/landing/src/components/PurchaseButton.tsx
  apps/landing/src/components/TrialSSR.tsx
  apps/landing/src/config/landing-variants.ts
  apps/web/bundle-manifest.json
  apps/web/heys_paywall_v1.js
  apps/web/heys_subscriptions_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.3af03331a49b.js.gz
  apps/web/public/boot-app.bundle.7fb2d3bb5c82.js
  apps/web/public/boot-app.bundle.7fb2d3bb5c82.js.gz
  apps/web/public/boot-core.bundle.cc6b33299856.js
  apps/web/public/boot-core.bundle.cc6b33299856.js.gz
  apps/web/public/boot-core.bundle.e620c40d1985.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/docs/user-agreement.md
  apps/web/public/docs/v1.2/user-agreement.md
  apps/web/public/postboot-1-game.bundle.2098118cdf65.js
  apps/web/public/postboot-1-game.bundle.2098118cdf65.js.gz
  apps/web/public/postboot-1-game.bundle.d05687516b76.js.gz
  apps/web/public/sw.js
  docs/legal/user-agreement.md
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-type-check.log
  packages/shared/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-type-check.log
  yandex-cloud-functions/database_leads_alter.sql
  yandex-cloud-functions/heys-api-leads/index.js
Due: eslint --max-warnings=500, prettier --write

fix: remove accidental macOS temp editor files, add .!* to .gitignore, fix TrialForm button padding
  .gitignore
  apps/landing/src/components/.!14411!TrialSSR.tsx
  apps/landing/src/components/.!14445!TrialSSR.tsx
  apps/landing/src/components/TrialForm.tsx
Due: eslint --max-warnings=500

fix(landing): remove duplicate ctaText prop in PricingSSR causing TS build error
  apps/landing/src/components/PricingSSR.tsx
Due: eslint --max-warnings=500

fix(landing): fix ESLint import/order and replace console.error with logger
  apps/landing/src/components/FAQVariantSSR.tsx
  apps/landing/src/components/PricingSSR.tsx
  apps/landing/src/components/PurchaseButton.tsx
  apps/landing/src/components/modals/PurchaseModal.tsx
Due: eslint --max-warnings=500

fix: replace @heys/logger with local logger in PurchaseModal to fix webpack node:fs error
  apps/landing/src/components/FAQAccordion.tsx
  apps/landing/src/components/modals/PurchaseModal.tsx
  apps/landing/src/config/landing-variants.ts
Due: eslint --max-warnings=500

fix: add @types/react-dom to landing devDependencies (CI type-check failure)
  apps/landing/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: update landing FAQ answer for relapse scenario and fix missing newline in package.json
  apps/landing/src/config/landing-variants.ts
Due: eslint --max-warnings=500

feat(legal): implement 54-FZ compliance and payment oferta acceptance
  apps/landing/src/app/legal/agreements/page.tsx
  apps/landing/src/app/legal/health-data-consent/page.tsx
  apps/landing/src/app/legal/layout.tsx
  apps/landing/src/app/legal/privacy-policy/page.tsx
  apps/landing/src/app/legal/user-agreement/page.tsx
  apps/web/heys_consents_v1.js
  apps/web/heys_paywall_v1.js
  apps/web/heys_subscriptions_v1.js
  database/2026-03-01_payment_oferta_consent.sql
  yandex-cloud-functions/heys-api-payments/index.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

chore(ops): upgrade deployment and health check scripts to v2.0
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/health-check.sh
  yandex-cloud-functions/validate-env.sh
Due: none

feat(web): add Meal Presets and payment result handler
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_shortcuts_v1.js
  apps/web/heys_storage_layer_v1.js
  apps/web/heys_yandex_api_v1.js
Due: eslint --max-warnings=500

build(web): new production bundle and styles
  .gitignore
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.7fb2d3bb5c82.js.gz
  apps/web/public/boot-app.bundle.ec4051257d65.js
  apps/web/public/boot-app.bundle.ec4051257d65.js.gz
  apps/web/public/boot-core.bundle.8f68c74b02f6.js
  apps/web/public/boot-core.bundle.8f68c74b02f6.js.gz
  apps/web/public/boot-core.bundle.cc6b33299856.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-1-game.bundle.2098118cdf65.js.gz
  apps/web/public/postboot-1-game.bundle.9c7255855f57.js
  apps/web/public/postboot-1-game.bundle.9c7255855f57.js.gz
  apps/web/public/postboot-3-ui.bundle.1d535a046227.js
  apps/web/public/postboot-3-ui.bundle.1d535a046227.js.gz
  apps/web/public/postboot-3-ui.bundle.9df20d00d993.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/600-steps-and-aps.css
Due: eslint --max-warnings=500, prettier --write

feat(landing): update content sections and variants
  apps/landing/src/components/FAQVariantSSR.tsx
  apps/landing/src/components/HeroSSR.tsx
  apps/landing/src/components/PricingSSR.tsx
  apps/landing/src/components/TrialSSR.tsx
  apps/landing/src/components/sections/ComparisonSection.tsx
  apps/landing/src/components/sections/HowItWorksSection.tsx
  apps/landing/src/components/sections/NavigatorSection.tsx
  apps/landing/src/components/sections/ObjectionsSection.tsx
  apps/landing/src/components/sections/PainSection.tsx
  apps/landing/src/components/sections/TrustSection.tsx
  apps/landing/src/config/landing-variants.ts
Due: eslint --max-warnings=500

fix: compact grams modal — hide slider, reduce spacing and font sizes
  apps/web/bundle-manifest.json
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/styles/modules/600-steps-and-aps.css
  scripts/main_heys.code-workspace
Due: eslint --max-warnings=500, prettier --write

fix(api): fix ilike filter operator support in REST API format 1
  yandex-cloud-functions/heys-api-rest/index.js
Due: eslint --max-warnings=500

fix: move suggestedPresets useEffect after productsVersion declaration (TDZ)
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-3-ui.bundle.270c8024c11d.js.gz
  apps/web/public/postboot-3-ui.bundle.312653fef0cc.js
  apps/web/public/postboot-3-ui.bundle.312653fef0cc.js.gz
Due: eslint --max-warnings=500, prettier --write

fix: deduplicate suggested presets by normalized product names
  apps/web/bundle-manifest.json
  apps/web/heys_storage_layer_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.65a0ce34129f.js.gz
  apps/web/public/boot-core.bundle.bc6556c2aff5.js
  apps/web/public/boot-core.bundle.bc6556c2aff5.js.gz
  apps/web/public/bundle-manifest.json
Due: eslint --max-warnings=500, prettier --write

fix(heys_storage_layer_v1): update signature generator for ML presets and update ui bundle
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_profile_step_v1.js
  apps/web/heys_pwa_module_v1.js
  apps/web/heys_storage_layer_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.bc6556c2aff5.js.gz
  apps/web/public/boot-core.bundle.ef3b275e2446.js
  apps/web/public/boot-core.bundle.ef3b275e2446.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-3-ui.bundle.312653fef0cc.js.gz
  apps/web/public/postboot-3-ui.bundle.533d14dabf42.js
  apps/web/public/postboot-3-ui.bundle.533d14dabf42.js.gz
  apps/web/public/sw.js
  apps/web/public/version.json
  test_sig.js
  test_suggestion_engine.js
  yandex-cloud-functions/create_update_client_by_session.js
Due: eslint --max-warnings=500, prettier --write

feat(heys_storage_layer_v1): add detailed logging for generated preset suggestions
  apps/web/bundle-manifest.json
  apps/web/heys_pwa_module_v1.js
  apps/web/heys_storage_layer_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.116dd2641e2c.js
  apps/web/public/boot-core.bundle.116dd2641e2c.js.gz
  apps/web/public/boot-core.bundle.ef3b275e2446.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/public/version.json
  scripts/bundle-legacy.mjs
  test_heys_storage_layer.js
Due: eslint --max-warnings=500, prettier --write

chore(deploy): unify deployment workflows and scripts
  .github/workflows/cloud-functions-deploy.yml
  .github/workflows/deploy-yandex.yml
  scripts/deploy-frontend.sh
  scripts/deploy.js
  scripts/upload-to-yandex.sh
  yandex-cloud-functions/deploy-all.sh
Due: eslint --max-warnings=500, prettier --write

docs(deploy): align operational runbooks with 10s warmup limits
  yandex-cloud-functions/INCIDENT_PREVENTION.md
  yandex-cloud-functions/MONITORING_QUICK_REF.md
  yandex-cloud-functions/QUICK_FIX.md
  yandex-cloud-functions/README.md
Due: prettier --write

docs(agent): update AI guides to reflect 8 bundles
  .github/copilot-instructions.md
  CLAUDE.md
  docs/AI_KEY_FILES.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT_GUIDE.md
Due: prettier --write

docs(archive): add snapshot disclaimers to historical reports
  docs/archive/README.md
  docs/archive/bundle-splitting-report-2025-09.md
  docs/archive/performance-baseline-2025-09.md
  docs/reports/FINAL_REPORT.md
  docs/reports/MODERNIZATION_PROGRESS_REPORT.md
Due: prettier --write

feat(pwa): storage presets blacklist, daily summary refactor, widgets UI & CSS
  apps/landing/src/components/HeroSSR.tsx
  apps/web/bundle-manifest.json
  apps/web/heys_day_daily_summary_v1.js
  apps/web/heys_day_daily_table.js
  apps/web/heys_day_nutrition_state_v1.js
  apps/web/heys_predictive_insights_v1.js
  apps/web/heys_pwa_module_v1.js
  apps/web/heys_storage_layer_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/heys_widgets_data_crash_risk_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/index.html
  apps/web/insights/pi_ui_meal_rec_card.js
  apps/web/public/boot-core.bundle.116dd2641e2c.js.gz
  apps/web/public/boot-core.bundle.73a7627bc4cb.js
  apps/web/public/boot-core.bundle.73a7627bc4cb.js.gz
  apps/web/public/boot-day.bundle.0f10e7bf96dc.js.gz
  apps/web/public/boot-day.bundle.a1238d6fc4a1.js
  apps/web/public/boot-day.bundle.a1238d6fc4a1.js.gz
  apps/web/public/boot-init.bundle.7cf2b4357f16.js.gz
  apps/web/public/boot-init.bundle.801b410cbdd0.js
  apps/web/public/boot-init.bundle.801b410cbdd0.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-2-insights.bundle.1cd92f70ae0c.js
  apps/web/public/postboot-2-insights.bundle.1cd92f70ae0c.js.gz
  apps/web/public/postboot-2-insights.bundle.92f88e068db2.js.gz
  apps/web/public/postboot-3-ui.bundle.533d14dabf42.js.gz
  apps/web/public/postboot-3-ui.bundle.7cd134c23ff7.js
  apps/web/public/postboot-3-ui.bundle.7cd134c23ff7.js.gz
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/styles/heys-components.css
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/730-widgets-dashboard.css
  scripts/deploy-frontend.sh
Due: eslint --max-warnings=500, prettier --write

chore: archive task docs, remove build logs from tracking, ignore ai temp files
  .gitignore
  docs/tasks/archive/2025-11-30-pwa-features.md
  docs/tasks/archive/2025-12-01-sync-refactor-prompt.md
Due: prettier --write

style: unified diary card tokens (border, shadow, stack-gap 14px)
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/200-dark-and-effects.css
  apps/web/styles/modules/300-modals-and-day.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/740-cascade-card.css
Due: eslint --max-warnings=500

fix: lighten planner card to sky-50 bg, cascade tone-green to light sky-blue
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/740-cascade-card.css
Due: none

feat: update cascade card, insulin wave, app shell, styles and rebuild bundles
  apps/web/heys_app_shell_v1.js
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_day_insulin_wave_data_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.913ecc139301.js.gz
  apps/web/public/boot-app.bundle.98be2b10976e.js
  apps/web/public/boot-app.bundle.98be2b10976e.js.gz
  apps/web/public/boot-day.bundle.6ebfab72ee41.js.gz
  apps/web/public/boot-day.bundle.e5688e3d7732.js
  apps/web/public/boot-day.bundle.e5688e3d7732.js.gz
  apps/web/public/boot-init.bundle.17294c47c646.js.gz
  apps/web/public/boot-init.bundle.925c24feabd2.js
  apps/web/public/boot-init.bundle.925c24feabd2.js.gz
  apps/web/styles/critical.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/740-cascade-card.css
Due: eslint --max-warnings=500

chore: disable API health monitor schedule to save Copilot tokens
  .github/workflows/api-health-monitor.yml
Due: prettier --write

feat: update widgets bundles, CSS modules, tsconfig cleanup
  .github/copilot-instructions.md
  CLAUDE.md
  apps/landing/.instructions.md
  apps/web/.instructions.md
  apps/web/bundle-manifest.json
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-3-ui.bundle.7fa07303fae8.js
  apps/web/public/postboot-3-ui.bundle.7fa07303fae8.js.gz
  apps/web/public/postboot-3-ui.bundle.b39f1f5ae464.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/720-predictive-insights.css
  apps/web/styles/modules/730-widgets-dashboard.css
  packages/core/.turbo/turbo-type-check.log
  packages/logger/tsconfig.json
  packages/shared/tsconfig.tsbuildinfo
  packages/ui/.turbo/turbo-type-check.log
  tsconfig.json
Due: eslint --max-warnings=500, prettier --write

feat: update postboot-3-ui bundle, widgets CSS, index.html
  apps/web/heys_widgets_ui_v1.js
  apps/web/index.html
  apps/web/public/postboot-3-ui.bundle.7fa07303fae8.js.gz
  apps/web/public/postboot-3-ui.bundle.90f8a0d7bb31.js
  apps/web/public/postboot-3-ui.bundle.90f8a0d7bb31.js.gz
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

fix: remove garbage prefix from 715-yesterday-verify.css
  apps/web/styles/modules/715-yesterday-verify.css
Due: none

fix: repair unclosed CSS comment in 730-widgets-dashboard.css, fix CI build failure
  apps/web/styles/modules/715-yesterday-verify.css
  apps/web/styles/modules/730-widgets-dashboard.css
Due: none

feat: rebuild all bundles after CSS fix
  apps/web/bundle-manifest.json
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_pwa_module_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.2a55370dd408.js.gz
  apps/web/public/boot-calc.bundle.4dbb706da1b4.js
  apps/web/public/boot-calc.bundle.4dbb706da1b4.js.gz
  apps/web/public/boot-core.bundle.71b2569be69a.js
  apps/web/public/boot-core.bundle.71b2569be69a.js.gz
  apps/web/public/boot-core.bundle.73a7627bc4cb.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-3-ui.bundle.90f8a0d7bb31.js.gz
  apps/web/public/postboot-3-ui.bundle.fa806472631f.js
  apps/web/public/postboot-3-ui.bundle.fa806472631f.js.gz
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

chore: sync bundle hashes after manual deploy
  apps/web/bundle-manifest.json
  apps/web/heys_pwa_module_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.71b2569be69a.js.gz
  apps/web/public/boot-core.bundle.b4bd90e7f394.js
  apps/web/public/boot-core.bundle.b4bd90e7f394.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-3-ui.bundle.f00f4ba80d4e.js
  apps/web/public/postboot-3-ui.bundle.f00f4ba80d4e.js.gz
  apps/web/public/postboot-3-ui.bundle.fa806472631f.js.gz
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

chore: rebuild bundles with updated hashes
  apps/web/bundle-manifest.json
  apps/web/heys_app_shell_v1.js
  apps/web/heys_pwa_module_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.98be2b10976e.js.gz
  apps/web/public/boot-app.bundle.b304a038f7ae.js
  apps/web/public/boot-app.bundle.b304a038f7ae.js.gz
  apps/web/public/boot-core.bundle.b4bd90e7f394.js.gz
  apps/web/public/boot-core.bundle.c239ee4b1d3b.js
  apps/web/public/boot-core.bundle.c239ee4b1d3b.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-3-ui.bundle.5c1e0f984c9f.js
  apps/web/public/postboot-3-ui.bundle.5c1e0f984c9f.js.gz
  apps/web/public/postboot-3-ui.bundle.f00f4ba80d4e.js.gz
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500, prettier --write

feat: update web bundles and assistant guidance
  .github/agents/PromptAudit.agent.md
  .github/copilot-instructions.md
  .github/skills/heys-architecture/SKILL.md
  .github/skills/heys-code-style/SKILL.md
  .github/skills/heys-data-model/SKILL.md
  .github/skills/heys-database/SKILL.md
  .github/skills/heys-testing/SKILL.md
  CLAUDE.md
  apps/web/bundle-manifest.json
  apps/web/heys_day_energy_context_v1.js
  apps/web/heys_day_hooks.js
  apps/web/heys_day_nutrition_state_v1.js
  apps/web/heys_day_utils.js
  apps/web/heys_models_v1.js
  apps/web/heys_yesterday_verify_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.4dbb706da1b4.js.gz
  apps/web/public/boot-calc.bundle.6d7d603eb78d.js
  apps/web/public/boot-calc.bundle.6d7d603eb78d.js.gz
  apps/web/public/boot-core.bundle.97ae94ca7bec.js
  apps/web/public/boot-core.bundle.97ae94ca7bec.js.gz
  apps/web/public/boot-core.bundle.c239ee4b1d3b.js.gz
  apps/web/public/boot-day.bundle.0ecf99c286a2.js
  apps/web/public/boot-day.bundle.0ecf99c286a2.js.gz
  apps/web/public/boot-day.bundle.e5688e3d7732.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-1-game.bundle.2b5f910c8502.js.gz
  apps/web/public/postboot-1-game.bundle.cb0426d5129f.js
  apps/web/public/postboot-1-game.bundle.cb0426d5129f.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/715-yesterday-verify.css
Due: eslint --max-warnings=500, prettier --write

feat(web): improve advice feedback and selective legacy bundling
  .husky/pre-commit
  apps/web/advice/_core.js
  apps/web/bundle-manifest.json
  apps/web/day/_advice.js
  apps/web/heys_advice_bundle_v1.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_page_shell.js
  apps/web/heys_day_tab_render_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.6d7d603eb78d.js.gz
  apps/web/public/boot-calc.bundle.b5b942da9197.js
  apps/web/public/boot-calc.bundle.b5b942da9197.js.gz
  apps/web/public/boot-core.bundle.148d6784c6f3.js
  apps/web/public/boot-core.bundle.148d6784c6f3.js.gz
  apps/web/public/boot-core.bundle.97ae94ca7bec.js.gz
  apps/web/public/boot-day.bundle.0ecf99c286a2.js.gz
  apps/web/public/boot-day.bundle.3cb07376ab7d.js
  apps/web/public/boot-day.bundle.3cb07376ab7d.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-1-game.bundle.5eff7de1d742.js
  apps/web/public/postboot-1-game.bundle.5eff7de1d742.js.gz
  apps/web/public/postboot-1-game.bundle.cb0426d5129f.js.gz
  apps/web/public/postboot-2-insights.bundle.166ac9d8c132.js
  apps/web/public/postboot-2-insights.bundle.166ac9d8c132.js.gz
  apps/web/public/postboot-2-insights.bundle.96b0522959f1.js.gz
  apps/web/public/postboot-3-ui.bundle.5c1e0f984c9f.js.gz
  apps/web/public/postboot-3-ui.bundle.985e76494f19.js
  apps/web/public/postboot-3-ui.bundle.985e76494f19.js.gz
  apps/web/public/sw.js
  apps/web/public/version.json
  package.json
  scripts/auto-sync-legacy-bundles.mjs
  scripts/bundle-legacy.mjs
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write
