Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(tips): облако синка только при проблеме, иконки шапки 34×44
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/heys_gamification_bar_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/400-water-and-hydration.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(water): подпись кнопки со значением, сдвиг бликов на шаг
  apps/web/__tests__/water-add-v4.test.js
  apps/web/heys_day_page_shell.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): восемь решений дизайнера, не согласованных с владельцем
  docs/ui/UI_V4_FINDINGS.md
  scripts/raw-session-clear-allowlist.txt
Due: prettier --write

feat(widgets): режим правки списка, общая шкала темпа воды, тепловая карта
  apps/web/__tests__/widgets-quick-actions-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/heys_widgets_variants_v4.js
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/widgets/widget_data.js
Due: eslint --max-warnings=500

feat(login): слово «PIN» снято, системная клавиатура телефону, полка и шторка подписи
  apps/web/__tests__/access-code-setup-keypad.test.js
  apps/web/__tests__/login-v4-structure.test.js
  apps/web/__tests__/pep-access-v4-structure.test.js
  apps/web/heys_client_access_code_setup_v1.js
  apps/web/heys_consents_v1.js
  apps/web/heys_login_screen_v1.js
  apps/web/heys_login_theme_picker_v1.js
  apps/web/styles/modules/733-ui-v4-login-theme.css
Due: eslint --max-warnings=500

feat(intake): анкета сведена на токены набора и обзавелась выходами
  apps/web/heys_trial_intake_v1.js
Due: eslint --max-warnings=500

feat(gamification): карточки достижений, отбор группы, подсказка следующей ступени
  apps/web/heys_gamification_screens_v1.js
  apps/web/heys_gamification_v1.js
Due: eslint --max-warnings=500

feat(platform): слой обновления без мёртвых путей, доступность, звук капли
  apps/web/__tests__/boot-spinner-mark.test.js
  apps/web/heys_platform_apis_v1.js
  apps/web/heys_pwa_module_v1.js
  apps/web/styles/heys-components.css
Due: eslint --max-warnings=500

feat(day): трассировка волны, зоны клетчатки, точки недели, доступность календаря
  apps/web/__tests__/nutrition-tab-v4-contract-fixes.test.js
  apps/web/heys_day_nutrition_v1.js
  apps/web/heys_day_pickers.js
  apps/web/heys_day_water_v1.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
Due: eslint --max-warnings=500

feat(gamification): празднования сняты, строка уровня стала целью нажатия
  apps/web/heys_gamification_bar_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

feat(settings): шапка настроек едет со списком, шаг установки сведён с кадром
  apps/web/heys_app_shell_v1.js
  apps/web/heys_push_v1.js
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

feat(day): тумблер «Звук советов» снят, третья строка сводки на акценте
  apps/web/day/_advice.js
  apps/web/styles/modules/715-yesterday-verify.css
Due: eslint --max-warnings=500

docs(ui): 89 строк контракта закрыты вердиктом после первой волны
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

feat(registration): цели касания, клавиатура мастера, повтор сохранения, три конца
  apps/web/__tests__/registration-v4-contract-sweep.test.js
  apps/web/heys_profile_step_v1.js
  apps/web/heys_step_modal_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): три вопроса регистрации и точная граница блока по движению
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

feat(tips): «Детали» ведут в экран детали, шторка стала диалогом, пустое — плашкой
  apps/web/__tests__/advice-v4-tips-behaviour.test.js
  apps/web/styles/modules/400-water-and-hydration.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): пять вопросов из настроек и советов
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

feat(intake): сводка стала своим экраном, баннер куратора ведёт в дневник
  apps/web/__tests__/curator-actions-banner.test.js
  apps/web/__tests__/trial-intake-flow.test.js
  apps/web/heys_curator_actions_banner_v1.js
  apps/web/heys_trial_intake_v1.js
  scripts/raw-session-clear-allowlist.txt
Due: eslint --max-warnings=500

feat(water): минус встал в ряд объёмов пятой пилюлей
  apps/web/__tests__/quick-actions-one-stack.test.js
  apps/web/__tests__/water-review-card-v4.test.js
  apps/web/heys_day_water_v1.js
  apps/web/styles/modules/400-water-and-hydration.css
Due: eslint --max-warnings=500

feat(consents): согласия озвучены, подпись называет устройство, кнопка досчитывает
  apps/web/__tests__/consent-markdown-render.test.js
  apps/web/__tests__/consent-v4-accessibility-smoke.test.js
  apps/web/__tests__/registration-canvas-parity.test.js
  apps/web/heys_consents_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): спор двух канвасов о стопке, замер угла 48×48, снятая строка отмены
  apps/web/heys_push_v1.js
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(boot): знак загрузчика стал буквой, ступени — одной кнопкой, причина приходит позже
  apps/web/__tests__/app-tab-skeletons.test.js
  apps/web/__tests__/boot-spinner-mark.test.js
  apps/web/__tests__/boot-wait-steps-smoke.test.js
  apps/web/__tests__/login-word-code-only.test.js
  apps/web/heys_fingers_boot_stub_v1.js
  apps/web/heys_loading_progress_v1.js
  apps/web/index.html
  apps/web/styles/heys-boot-mark.css
  apps/web/styles/modules/100-metrics-and-graphs.css
Due: eslint --max-warnings=500

fix(ui): дефекты, найденные построчной ревизией сведённых зон
  apps/web/__tests__/consent-v4-accessibility-smoke.test.js
  apps/web/__tests__/registration-canvas-parity.test.js
  apps/web/heys_consents_v1.js
  apps/web/heys_day_water_v1.js
  apps/web/heys_platform_apis_v1.js
  apps/web/styles/heys-components.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): три вопроса по загрузчикам
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

feat(date): календарь стал нижним листом, капсула села на подложку
  apps/web/__tests__/date-picker-sheet-v4-structure.test.js
  apps/web/__tests__/date-picker-v4-capsule.test.js
  apps/web/__tests__/date-remainders-v4-smoke.test.js
  apps/web/__tests__/hdr-date-collapse.test.js
  apps/web/heys_day_pickers.js
  apps/web/styles/modules/000-base-and-gamification.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(checkin): капсула веса, поля шагов, просроченная строка и зоны питания
  apps/web/__tests__/morning-checkin-v4-contract-geometry.test.js
  apps/web/__tests__/morning-checkin-v4-layout-smoke.test.js
  apps/web/__tests__/pwa-install-banner-v4-structure.test.js
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): пять вопросов из даты и чек-ина
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

feat(boot): смена клиента и жест обновления взяли общий знак ожидания
  apps/web/__tests__/one-wait-sign-smoke.test.js
  apps/web/heys_client_switch_overlay_v1.js
  apps/web/heys_day_page_shell.js
  apps/web/heys_loading_progress_v1.js
  apps/web/public/icon-v4.svg
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/310-client-switch-overlay.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): четыре вопроса по знакам ожидания и иконке
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

fix(gamification): шапка падала на висячей ссылке после снятия празднований
  apps/web/heys_gamification_bar_v1.js
Due: eslint --max-warnings=500

feat(nutrition): шалфейный тинт и заливка развязаны на две роли
  apps/web/__tests__/nutrition-v4-canvas-geometry.test.js
  apps/web/__tests__/nutrition-v4-sage-roles.test.js
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
Due: eslint --max-warnings=500

feat(header): тумблер темы ушёл из шапки, оформление живёт одним адресом
  apps/web/__tests__/cloud-sync-indicator-simple.test.js
  apps/web/__tests__/ui-v4-header-appearance.test.js
  apps/web/heys_app_shell_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): два вопроса из шапки и настроек
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

feat(widgets): прогон перестройки стопки снят, кнопка растёт и сжимается по контракту
  apps/web/__tests__/quick-actions-fab-appearance.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): итог сведения 24.08 — соответствие контракту с 74 % до 96 %
  docs/ui/ui-v4-canvas-brief.md
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

feat(boot): кнопка отправки и загрузка фото взяли общий знак, мёртвый жест снят
  apps/web/__tests__/one-wait-sign-smoke.test.js
  apps/web/heys_messenger_v1.js
  apps/web/heys_pull_refresh.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/1000-messenger.css
  apps/web/styles/modules/300-modals-and-day.css
  docs/ui/ui-v4-contract-verdicts.json
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

docs(ui): слой обновления PWA — исключение из «одного знака»
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

feat(tips): «прочитано» и «скрыть» появились в детали совета
  apps/web/__tests__/advice-v4-tips-behaviour.test.js
  apps/web/day/_advice.js
  apps/web/heys_day_page_shell.js
  apps/web/heys_day_tab_render_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

refactor(widgets): уборка после снятого прогона перестройки стопки
  apps/web/__tests__/fab-visibility.test.js
  apps/web/heys_app_shell_v1.js
Due: eslint --max-warnings=500

docs(ui): итоговые числа сведения и запись в журнал сверки
  docs/ui/ui-v4-canvas-brief.md
Due: prettier --write
