Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

docs(perf): аудит лагов на Android (P30) и план правок по эффективности
  docs/PERF_ANDROID_2026-06.md
Due: prettier --write

chore(release): whats-new for аудит лагов на Android (P30) и план правок по эффективности
  apps/web/public/whats-new.json
Due: prettier --write

feat(fingers): add shared exercise registry picker
  apps/web/fingers/heys_fingers_session_ui_v1.js
  apps/web/heys_fingers_bundle_v1.js
  apps/web/public/exercises/front3_alt.webp
  apps/web/public/exercises/fullcrimp_alt.webp
  apps/web/public/exercises/halfcrimp_alt.webp
  apps/web/public/exercises/openhand4_alt.webp
  apps/web/styles/modules/fingers.css
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(web): tune trial copy and sync overlay timing
  apps/landing/src/components/TrialForm.tsx
  apps/web/bundle-manifest.json
  apps/web/heys_app_hooks_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.35394fe51fe3.js
  apps/web/public/boot-app.bundle.35394fe51fe3.js.gz
  apps/web/public/boot-app.bundle.51aa564b11cc.js
  apps/web/public/boot-app.bundle.51aa564b11cc.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

docs(marketing): add RKN notification draft
  маркетинг/00_Дашборд.html
  маркетинг/15_Ревизия_и_лог_решений.md
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/31_РКН_уведомление_ПДн_ИП.md
  маркетинг/README.md
Due: prettier --write

chore(release): add whats-new for d9f053ba
  apps/web/public/whats-new.json
Due: prettier --write

docs(perf): прогон №2 аудита Android и релиз-безопасный план правок
  docs/PERF_ANDROID_2026-06.md
  docs/PERF_ANDROID_2026-06_PASS2.md
Due: prettier --write

chore(release): whats-new for прогон №2 аудита Android и релиз-безопасный план правок
  apps/web/public/whats-new.json
Due: prettier --write

docs(perf): прогон №3 — React-рендер, бут, data-layer; дополнения A7-A9/B5-B7
  docs/PERF_ANDROID_2026-06_PASS2.md
  docs/PERF_ANDROID_2026-06_PASS3.md
Due: prettier --write

chore(release): whats-new for прогон №3 — React-рендер, бут, data-layer; дополнения A7-A9/B5-B7
  apps/web/public/whats-new.json
Due: prettier --write

docs(perf): прогон №4 — скролл-аудит; решения по header glass и hover-гарду
  docs/PERF_ANDROID_2026-06_PASS2.md
  docs/PERF_ANDROID_2026-06_PASS4_SCROLL.md
Due: prettier --write

chore(release): whats-new for прогон №4 — скролл-аудит; решения по header glass и hover-гарду
  apps/web/public/whats-new.json
Due: prettier --write

chore(build): подхват пересобранных бандлов параллельной сессии
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.1798ceb9dc97.js
  apps/web/public/boot-calc.bundle.1798ceb9dc97.js.gz
  apps/web/public/boot-calc.bundle.7d59a0a59f65.js
  apps/web/public/boot-calc.bundle.7d59a0a59f65.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/react-bundle.js.gz
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for подхват пересобранных бандлов параллельной сессии
  apps/web/public/whats-new.json
Due: prettier --write

perf(day): reconcile fast-path, sticky-bar через IntersectionObserver, стабильные keys
  apps/web/bundle-manifest.json
  apps/web/heys_day_effects.js
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for reconcile fast-path, sticky-bar через IntersectionObserver, стабильны…
  apps/web/public/whats-new.json
Due: prettier --write

perf(day): sticky-bar на IntersectionObserver и стабильные keys — в исходниках meals-бандла
  apps/web/bundle-manifest.json
  apps/web/day/_meal_quality.js
  apps/web/day/_meals.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.5924f585afca.js
  apps/web/public/boot-calc.bundle.5924f585afca.js.gz
  apps/web/public/boot-calc.bundle.7d59a0a59f65.js
  apps/web/public/boot-calc.bundle.7d59a0a59f65.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for sticky-bar на IntersectionObserver и стабильные keys — в исходниках m…
  apps/web/public/whats-new.json
Due: prettier --write

chore(build): подхват пересборки boot-calc из общего дерева
  apps/web/bundle-manifest.json
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for подхват пересборки boot-calc из общего дерева
  apps/web/public/whats-new.json
Due: prettier --write

perf(sync): day-trace console.info за флаг + кап _dayv2LastSeen
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.333e4cff09d2.js
  apps/web/public/boot-core.bundle.333e4cff09d2.js.gz
  apps/web/public/boot-core.bundle.8c9a61e1b2af.js
  apps/web/public/boot-core.bundle.8c9a61e1b2af.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for day-trace console.info за флаг + кап _dayv2LastSeen
  apps/web/public/whats-new.json
Due: prettier --write

perf(ui): perf-классы Android и visibility-pause + build-hash лог
  apps/web/index.html
Due: none

chore(release): whats-new for perf-классы Android и visibility-pause + build-hash лог
  apps/web/public/whats-new.json
Due: prettier --write

perf(boot): бюджет сериализации log-trace и ступенчатая загрузка lazy-чанков
  apps/web/bundle-manifest.json
  apps/web/heys_client_log_trace_v1.js
  apps/web/heys_game_facade_v1.js
  apps/web/heys_postboot3_facade_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-1-game-eager.bundle.bb651c659737.js
  apps/web/public/postboot-1-game-eager.bundle.bb651c659737.js.gz
  apps/web/public/postboot-1-game-eager.bundle.ec3e720f3597.js
  apps/web/public/postboot-1-game-eager.bundle.ec3e720f3597.js.gz
  apps/web/public/postboot-3-ui-eager.bundle.2da300f79259.js
  apps/web/public/postboot-3-ui-eager.bundle.2da300f79259.js.gz
  apps/web/public/postboot-3-ui-eager.bundle.c8fad97e55d3.js
  apps/web/public/postboot-3-ui-eager.bundle.c8fad97e55d3.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for бюджет сериализации log-trace и ступенчатая загрузка lazy-чанков
  apps/web/public/whats-new.json
Due: prettier --write

perf(ui): hover-гард, shimmer на transform, solid-шапка Android, пауза скрытых анимаций
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/1000-messenger.css
  apps/web/styles/modules/200-dark-and-effects.css
  apps/web/styles/modules/300-modals-and-day.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/710-refeed.css
  apps/web/styles/modules/715-yesterday-verify.css
  apps/web/styles/modules/720-predictive-insights.css
  apps/web/styles/modules/725-metabolic-intelligence.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/740-cascade-card.css
  apps/web/styles/modules/800-meal-optimizer.css
  apps/web/styles/modules/900-planning.css
  apps/web/styles/modules/905-planning-chrono.css
  apps/web/styles/modules/drums-finger-trainer.css
  apps/web/styles/modules/fingers.css
  scripts/perf-wrap-hover-guard.mjs
Due: none

chore(release): whats-new for hover-гард, shimmer на transform, solid-шапка Android, пауза скрытых…
  apps/web/public/whats-new.json
Due: prettier --write

docs(perf): статус реализации блоков A и D
  docs/PERF_ANDROID_2026-06_PASS4_SCROLL.md
Due: prettier --write

chore(release): whats-new for статус реализации блоков A и D
  apps/web/public/whats-new.json
Due: prettier --write

fix(photos): CSP-safe base64ToBlob через atob вместо fetch data:-URI
  apps/web/bundle-manifest.json
  apps/web/heys_storage_photos_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for CSP-safe base64ToBlob через atob вместо fetch data:-URI
  apps/web/public/whats-new.json
Due: prettier --write

docs(mobility): методология и карта реализации режима растяжек (snapshot)
  AGENTS.md
  CLAUDE.md
  apps/web/mobility/methodology/IMPLEMENTATION_MAP.md
  apps/web/mobility/methodology/METHODOLOGY.md
Due: prettier --write

chore(release): whats-new for методология и карта реализации режима растяжек (snapshot)
  apps/web/public/whats-new.json
Due: prettier --write

docs(agents): define training mode kernel contracts
  AGENTS.md
  CLAUDE.md
Due: prettier --write

docs(mobility): add constructor implementation spec
  apps/web/mobility/methodology/CONSTRUCTOR_SPEC.md
  apps/web/mobility/methodology/IMPLEMENTATION_MAP.md
Due: prettier --write

chore(web): add checkin trace diagnostics
  apps/web/heys_client_log_trace_v1.js
  apps/web/index.html
Due: eslint --max-warnings=500

docs(marketing): specify HEYS Start quiz funnel
  маркетинг/00_Дашборд.html
  маркетинг/00_Сводная_панель.xlsx
  маркетинг/17_Бот_лид-магнит_и_онбординг-квиз.md
  маркетинг/22_План_реализации_маркетинга.md
Due: prettier --write

feat(bot): add HEYS Start quiz webhook
  yandex-cloud-functions/.env.example
  yandex-cloud-functions/api-gateway-spec-v2.yaml
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/heys-bot-client/index.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for d2c03e71
  apps/web/public/whats-new.json
Due: prettier --write
