Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: prevent duplicate signIn when session already restored
  apps/web/heys_app_v12.js
Due: eslint --max-warnings=500

fix: double-check product existence before tracking orphan
  apps/web/heys_day_utils.js
Due: eslint --max-warnings=500

fix: fallback to localStorage for orphan product check
  apps/web/heys_day_utils.js
Due: eslint --max-warnings=500

fix: use clientId-aware localStorage keys for orphan check
  apps/web/heys_day_utils.js
Due: eslint --max-warnings=500

fix: prevent products count reduction in race conditions
  apps/web/heys_core_v12.js
Due: eslint --max-warnings=500

fix: add safeSetProducts to RationTabWithCloudSync
  apps/web/heys_app_v12.js
Due: eslint --max-warnings=500

docs: добавлены промпты для новых задач (profile wizard, insulin wave expand)
  apps/web/.turbo/turbo-build.log
  apps/web/heys_advice_v1.js
  apps/web/heys_cycle_v1.js
  apps/web/heys_day_pickers.js
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_insulin_wave_v1.backup.js
  apps/web/heys_models_v1.js
  apps/web/heys_morning_checkin_v1.js.backup
  apps/web/heys_steps_v1.js
  apps/web/heys_user_v12.js
  apps/web/index.html
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/600-steps-and-aps.css
  docs/DATA_MODEL_REFERENCE.md
  docs/tasks/2025-12-08-first-login-profile-checkin.md
  docs/tasks/2025-12-08-meal-card-insulin-wave-expand.md
  docs/tasks/archive/2025-12-08-insulin-wave-scientific-audit.md
  docs/tasks/archive/2025-12-08-menstrual-cycle-tracking.md
  done.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

feat(cycle): добавлен трекинг менструального цикла в DatePicker
  apps/web/heys_app_v12.js
  apps/web/heys_cycle_v1.js
  apps/web/heys_day_pickers.js
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/styles/modules/000-base-and-gamification.css
  docs/tasks/2025-12-08-first-login-profile-checkin.md
Due: eslint --max-warnings=500, prettier --write

feat(cycle): 🌸 water retention visualization on weight sparkline
  apps/web/heys_cycle_v1.js
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_models_v1.js
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/200-dark-and-effects.css
  docs/DATA_MODEL_REFERENCE.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

feat(add-product): большая зелёная кнопка Добавить, счётчик продуктов справа
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_step_modal_v1.js
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

style(modal): green header buttons, auto-fit text, fix layout
  apps/web/heys_day_v12.js
  apps/web/heys_step_modal_v1.js
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

refactor(insulin): научный аудит инсулиновой волны v2.1
  apps/web/heys_insulin_wave_v1.js
Due: eslint --max-warnings=500

docs: profile wizard v0.10.0 + refactor prompt + DATA_MODEL update
  docs/DATA_MODEL_REFERENCE.md
  docs/tasks/2025-12-09-refactor-heys-day-v12.md
  todo.md
Due: prettier --write

feat: add profile wizard for new users (#14)
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_profile_step_v1.js
  apps/web/index.html
  apps/web/styles/main.css
  apps/web/styles/modules/700-profile-wizard.css
Due: eslint --max-warnings=500

feat(profile-wizard): WheelPicker даты рождения, HintTooltip, compact mode
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_profile_step_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_steps_v1.js
  apps/web/index.html
  apps/web/styles/modules/500-pwa-and-offline.css
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

feat(add-product): объединение частых и последних продуктов в умный список
  apps/web/heys_add_product_step_v1.js
Due: eslint --max-warnings=500

fix: исправлен экспорт computeSmartProducts (была ссылка на старую функцию)
  apps/web/heys_add_product_step_v1.js
Due: eslint --max-warnings=500

fix(edit-grams): добавлен getInitialData для правильной инициализации граммов
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_insulin_wave_v1.js
Due: eslint --max-warnings=500

feat: улучшения UX модалки добавления/редактирования продукта
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_v12.js
  apps/web/styles/modules/600-steps-and-aps.css
Due: eslint --max-warnings=500

fix: wizard validation, step 2 layout, client name sync
  apps/web/heys_app_v12.js
  apps/web/heys_profile_step_v1.js
  apps/web/heys_user_v12.js
Due: eslint --max-warnings=500

feat: cycle tracking, confirm modal, steps improvements
  apps/web/heys_confirm_modal_v1.js
  apps/web/heys_cycle_v1.js
  apps/web/heys_day_v12.js
  apps/web/heys_meal_step_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/100-metrics-and-graphs.css
Due: eslint --max-warnings=500

fix: client sync and meal deletion persistence
  apps/web/heys_app_v12.js
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix: profile wizard data sync to settings
  apps/web/heys_day_v12.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_profile_step_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_user_v12.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/DATA_MODEL_REFERENCE.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

fix: merge logic for household/trainings - use updatedAt instead of max values
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_hooks.js
  apps/web/heys_day_v12.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/200-dark-and-effects.css
  docs/DATA_MODEL_REFERENCE.md
Due: eslint --max-warnings=500, prettier --write

feat: zone/household formula popups, products sync dedup fix, confirm modal
  .github/copilot-instructions.md
  apps/web/.turbo/turbo-build.log
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_insulin_wave_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/200-dark-and-effects.css
  docs/DATA_MODEL_REFERENCE.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

feat(profile): научный калькулятор цели веса с адаптивным TDEE
  apps/web/.turbo/turbo-build.log
  apps/web/heys_day_v12.js
  apps/web/heys_insulin_wave_v1.js
  apps/web/heys_user_v12.js
  apps/web/styles/modules/000-base-and-gamification.css
  docs/DATA_MODEL_REFERENCE.md
  docs/SCIENTIFIC_REFERENCES.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

feat(insulin-wave): v3.2.2 — Insulin Index fix for GL calculation
  apps/web/.turbo/turbo-build.log
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_v12.backup.js
  apps/web/heys_day_v12.js
  apps/web/heys_insulin_wave_v1.backup2.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_steps_v1.js
  apps/web/index.html
  apps/web/styles/modules/600-steps-and-aps.css
  docs/DATA_MODEL_REFERENCE.md
  docs/SCIENTIFIC_REFERENCES.md
  docs/tasks/2025-12-10-insulin-wave-new-factors.md
  docs/Научное исследование инсулина.docx
  docs/Научное исследование инсулина.pdf
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

feat: water tip, profile UI polish, cleanup debug logs
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_v12.js
  apps/web/heys_cycle_v1.js
  apps/web/heys_day_v12.js
  apps/web/heys_insulin_wave_v1.js
  apps/web/heys_models_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_sounds_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_user_v12.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/600-steps-and-aps.css
  docs/tasks/2025-12-10-meal-optimizer.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

debug: temp sync diagnostics on product add
  apps/web/heys_day_v12.js
  docs/tasks/2025-12-10-meal-optimizer.md
Due: eslint --max-warnings=500, prettier --write

fix(proxy): add accept-profile, content-profile to CORS headers
  apps/web/api/rest.js
  apps/web/api/storage.js
Due: eslint --max-warnings=500

chore: backup morning checkin, archive adaptive supabase routing docs
  apps/web/.turbo/turbo-build.log
  apps/web/api/health.ts
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_v12.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_insulin_wave_v1.js
  apps/web/heys_meal_optimizer_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_sparkline_utils_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/styles/main.css
  apps/web/styles/modules/001-design-tokens.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/200-dark-and-effects.css
  apps/web/styles/modules/800-meal-optimizer.css
  archive/backup-files-2025-12-10/heys_day_v12.backup.js
  archive/backup-files-2025-12-10/heys_day_v12.backup2.js
  archive/backup-files-2025-12-10/heys_day_v12.backup3.js
  archive/backup-files-2025-12-10/heys_insulin_wave_v1.backup.js
  archive/backup-files-2025-12-10/heys_insulin_wave_v1.backup2.js
  archive/backup-files-2025-12-10/heys_morning_checkin_v1.js.backup
  docs/tasks/2025-12-10-adaptive-supabase-routing.md
  docs/tasks/archive/2025-12-10-adaptive-supabase-routing.md
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500, prettier --write

fix: eliminate UI flickering by comparing day content instead of metadata
  apps/web/heys_advice_v1.js
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_models_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/200-dark-and-effects.css
  docs/DATA_MODEL_REFERENCE.md
  docs/tasks/2025-12-10-training-context-insulin-wave.md
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

feat(advice): добавлены PRIORITY константы, кэширование, 8 новых советов
  apps/web/heys_advice_v1.js
  apps/web/heys_app_v12.js
  apps/web/heys_day_hooks.js
  apps/web/heys_day_v12.js
  docs/DATA_MODEL_REFERENCE.md
  docs/tasks/2025-12-10-training-context-insulin-wave.md
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500, prettier --write

fix: getMealType undefined allMeals crash in advice module
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_advice_v1.js
  apps/web/heys_app_v12.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_hooks.js
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_storage_supabase_v1.js
  docs/tasks/2025-12-10-training-context-insulin-wave.md
Due: eslint --max-warnings=500, prettier --write

fix: add updatedAt to all setDay calls for proper autosave detection
  apps/web/heys_app_v12.js
  apps/web/heys_day_hooks.js
  apps/web/heys_day_v12.js
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix: add updatedAt to ALL setDay calls for complete autosave coverage
  apps/web/.turbo/turbo-build.log
  apps/web/heys_day_v12.js
  apps/web/heys_insulin_wave_v1.js
  apps/web/heys_models_v1.js
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500

feat(insulin-wave): add activity context for training-aware calculations v3.4.0
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_insulin_wave_v1.js
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500

chore: fix husky hooks permissions
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: training context v3.4.0 — harmMultiplier в meal quality score
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_steps_v1.js
  docs/DATA_MODEL_REFERENCE.md
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500, prettier --write

fix: add updatedAt to heys_norms for proper cloud sync
  apps/web/heys_profile_step_v1.js
  apps/web/heys_user_v12.js
Due: eslint --max-warnings=500
