Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat(mcp): heys_checkin — чек-ин через куратора закрывает гейт по-настоящему
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

fix(mcp): чек-ин пишет все три утренние оценки и гасит кураторскую метку
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

chore(web): досохранение сборки от 03.08 — новый хеш boot-core и синхронные манифесты
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-core.bundle.b7489da88200.js
  apps/web/public/boot-core.bundle.b7489da88200.js.gz
  apps/web/public/boot-core.bundle.d2f3e23bc83c.js
  apps/web/public/boot-core.bundle.d2f3e23bc83c.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

fix(web): чек-ин не открывается ради опциональных шагов и позитивного экрана
  apps/web/__tests__/morning-checkin-flow-resume.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_pwa_module_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.3da8086083a6.js
  apps/web/public/postboot-3-ui-lazy.bundle.3da8086083a6.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.ee4bb5bcf2a9.js
  apps/web/public/postboot-3-ui-lazy.bundle.ee4bb5bcf2a9.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

feat(mcp): память о мире — подошедшие факты доходят до модели, а не лежат в structured
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500, prettier --write

feat(mcp): журнал стал достижим, отменённое перестало выдаваться за действующее
  .github/workflows/deploy-yandex.yml
  scripts/ci/build-source-index.mjs
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/source-index.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/repo-tools.js
  yandex-cloud-functions/heys-mcp/lib/source-index.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500, prettier --write

docs(маркетинг): гейт приёма клиента — бесплатный триал сразу после релиза, ЮKassa следом
  маркетинг/00_Дашборд.html
  маркетинг/22_План_реализации_маркетинга.md
Due: prettier --write

fix(mcp): allow ChatGPT OAuth callback
  docs/SECURITY_REVIEW.md
  docs/implementation/SECURITY_HARDENING_PROTOCOL_2026-08-02.md
  todo.md
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/oauth.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/oauth.js
Due: eslint --max-warnings=500, prettier --write

docs(mcp): record ChatGPT OAuth deploy
  docs/implementation/SECURITY_HARDENING_PROTOCOL_2026-08-02.md
  todo.md
  yandex-cloud-functions/heys-mcp/README.md
Due: prettier --write

fix(mcp): complete ChatGPT DCR response
  todo.md
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/oauth.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/oauth.js
Due: eslint --max-warnings=500, prettier --write

docs(mcp): record ChatGPT DCR rollout
  todo.md
  yandex-cloud-functions/heys-mcp/README.md
Due: prettier --write

fix(ci): keep production shipping single-pass
  AGENTS.md
  CLAUDE.md
  docs/operations/AGENT_SHIPPING_RUNBOOK.md
  docs/reference/systems/INFRA_OPERATIONS.md
  todo.md
  yandex-cloud-functions/__tests__/function-inventory.test.cjs
  yandex-cloud-functions/function-inventory.cjs
  yandex-cloud-functions/heys-mcp/README.md
Due: prettier --write

fix(mcp): expose curator OAuth discovery alias
  yandex-cloud-functions/api-gateway-spec.yaml
  yandex-cloud-functions/heys-mcp/__tests__/handler.test.cjs
  yandex-cloud-functions/heys-mcp/api-gateway-mcp-paths.yaml
Due: prettier --write

fix(mcp): complete ChatGPT OAuth handshake
  yandex-cloud-functions/api-gateway-spec.yaml
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/handler.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/api-gateway-mcp-paths.yaml
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): add fresh ChatGPT curator endpoint
  yandex-cloud-functions/api-gateway-spec.yaml
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/handler.test.cjs
  yandex-cloud-functions/heys-mcp/api-gateway-mcp-paths.yaml
  yandex-cloud-functions/heys-mcp/index.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): route ChatGPT OAuth metadata aliases
  yandex-cloud-functions/api-gateway-spec.yaml
  yandex-cloud-functions/heys-mcp/api-gateway-mcp-paths.yaml
Due: prettier --write

fix(mcp): isolate ChatGPT OAuth discovery cache
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/handler.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): use root issuer for ChatGPT DCR
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/handler.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
Due: eslint --max-warnings=500, prettier --write

docs(mcp): record ChatGPT connector fallback
  yandex-cloud-functions/heys-mcp/README.md
Due: prettier --write

fix(mcp): support confidential ChatGPT OAuth
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/handler.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/oauth.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/oauth.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): support ChatGPT OAuth discovery
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/handler.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/api-gateway-chatgpt.yaml
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): advertise OAuth before ChatGPT discovery
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/handler.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): bypass ChatGPT OAuth discovery cache
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/handler.test.cjs
  yandex-cloud-functions/heys-mcp/chatgpt-api-gateway-spec.yaml
  yandex-cloud-functions/heys-mcp/index.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): expand ChatGPT gateway integrations
  yandex-cloud-functions/heys-mcp/chatgpt-api-gateway-spec.yaml
Due: prettier --write

Split planёrка agenda into dev/general blocks, add purchases block
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

Add priority to standup agenda items, sort by it within category
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

Add session (theme) grouping to standup agenda items
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

Review причины from close-day in the same pass as the transcript tail
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

heys_code_read: класть код в structured, не только в свободный текст
  yandex-cloud-functions/heys-mcp/__tests__/source-index.test.cjs
  yandex-cloud-functions/heys-mcp/lib/repo-tools.js
Due: eslint --max-warnings=500

fix(sync): не давать устаревшей копии дня затирать облако
  apps/web/__tests__/dayv2-entity-drop-guard.test.js
  apps/web/__tests__/sync-merge-shared.test.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_sync_merge_v1.js
  yandex-cloud-functions/heys-api-rest/lib/heys_sync_merge_v1.cjs
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500

fix(sync): guard dayv2 merge noConflict fast-path against silent content loss
  yandex-cloud-functions/heys-api-rpc/__tests__/merge-missing-content-guard.test.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

test(sync): update pinned merge-condition source assertions for missing-content guard
  apps/web/__tests__/sync-merge-shared.test.js
Due: eslint --max-warnings=500

fix(security): triage SAST false positives, patch vulnerable transitive deps
  package.json
  pnpm-lock.yaml
  security-reports/dependency-security-report.html
  security-reports/dependency-security-report.json
  security-reports/sast-baseline.json
  security-reports/sast-report.html
  security-reports/sast-report.json
  security-reports/sast-report.sarif
Due: prettier --write

fix(mcp): свежее сверху в стенограмме и один вопрос на задачу за круг
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

fix(mcp): allow Cursor OAuth redirect URIs in DCR
  yandex-cloud-functions/heys-mcp/__tests__/oauth.test.cjs
  yandex-cloud-functions/heys-mcp/lib/oauth.js
Due: eslint --max-warnings=500

fix(sync): keep stale PWA from wiping cloud check-in and meals
  apps/web/__tests__/sync-merge-shared.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_sync_merge_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.c10a1eb60f3a.js
  apps/web/public/boot-core.bundle.c10a1eb60f3a.js.gz
  apps/web/public/boot-core.bundle.d2f3e23bc83c.js
  apps/web/public/boot-core.bundle.d2f3e23bc83c.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  yandex-cloud-functions/heys-api-rest/lib/heys_sync_merge_v1.cjs
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500, prettier --write

fix(ship): recover owned generated baseline without touching foreign WIP
  docs/operations/AGENT_SHIPPING_RUNBOOK.md
  scripts/auto-sync-legacy-bundles.mjs
  scripts/legacy-generated-baseline.mjs
  scripts/legacy-generated-baseline.test.mjs
  scripts/ship.mjs
Due: prettier --write

docs: add HANDOFF snapshot and live-repo bootstrap findings
  docs/HEYS-HANDOFF-BOOTSTRAP.md
  docs/HEYS-HANDOFF.md
  docs/README.md
Due: prettier --write

chore(hooks): gate heys-mcp web-mirror formulas in pre-commit
  .husky/pre-commit
  docs/HEYS-HANDOFF-BOOTSTRAP.md
  docs/operations/AGENT_SHIPPING_RUNBOOK.md
  scripts/check-agent-shipping-docs.mjs
Due: prettier --write

fix(mcp): show NET Atwater kcal in product search results
  yandex-cloud-functions/heys-mcp/__tests__/products.test.cjs
  yandex-cloud-functions/heys-mcp/lib/products.js
Due: eslint --max-warnings=500
