Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(web): morning activation sync, cloud merge, legacy bundles
  apps/web/__tests__/client-state-manager-default-tab.test.js
  apps/web/__tests__/default-tab-sync.test.js
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_app_client_state_manager_v1.js
  apps/web/heys_app_tab_state_v1.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_day_stats_bundle_loader_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_day_trainings_v1.js
  apps/web/heys_models_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_undo_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.66e63e10f976.js.gz
  apps/web/public/boot-app.bundle.f4b399cd565c.js
  apps/web/public/boot-app.bundle.f4b399cd565c.js.gz
  apps/web/public/boot-calc.bundle.31b2fda88d6b.js
  apps/web/public/boot-calc.bundle.31b2fda88d6b.js.gz
  apps/web/public/boot-calc.bundle.842881899293.js.gz
  apps/web/public/boot-core.bundle.42979521838f.js
  apps/web/public/boot-core.bundle.42979521838f.js.gz
  apps/web/public/boot-core.bundle.ca89e13b6e8a.js.gz
  apps/web/public/boot-day.bundle.25365f45277b.js.gz
  apps/web/public/boot-day.bundle.72e840943e4b.js
  apps/web/public/boot-day.bundle.72e840943e4b.js.gz
  apps/web/public/boot-init.bundle.55f7f6c0b43e.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-1-game.bundle.87f0608cc06c.js.gz
  apps/web/public/postboot-2-insights.bundle.84741746c046.js.gz
  apps/web/public/postboot-3-ui.bundle.204dddc0cb81.js.gz
  apps/web/public/postboot-3-ui.bundle.5aef5f61fba3.js
  apps/web/public/postboot-3-ui.bundle.5aef5f61fba3.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore: add what's-new entry for edc49771
  apps/web/public/whats-new.json
Due: prettier --write

chore: add what's-new entry for 77c30404
  apps/web/public/whats-new.json
Due: prettier --write

chore: add what's-new entry for af1ac989
  apps/web/public/whats-new.json
Due: prettier --write

chore: normalize line endings in archived reports (CRLF)
  docs/archive/reports/MOBILE_WEB_AUDIT.md
  docs/archive/reports/OPTIMIZATION_REPORT.md
  scripts/push-safe.mjs
Due: prettier --write

chore: add what's-new entry for c9e3fbef
  apps/web/public/whats-new.json
Due: prettier --write

chore: remove Supabase SDK and Supabase-specific code
  .env.example
  .github/copilot-instructions.md
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.0a5cd381a84e.js
  apps/web/public/boot-core.bundle.0a5cd381a84e.js.gz
  apps/web/public/boot-core.bundle.df18c3d2f355.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/src/lib/supabase/__tests__/rls-policies.test.ts
  apps/web/src/lib/supabase/audit-service.ts
  apps/web/src/lib/supabase/field-encryption.ts
  apps/web/src/lib/supabase/profile-service.ts
  apps/web/src/lib/supabase/rls-policies.ts
  apps/web/src/lib/supabase/session-service.ts
  docs/SUPABASE_PROXY.md
  package.json
  packages/core/package.json
  packages/core/src/server.js
  packages/core/src/server/__tests__/router.supabase.test.ts
  packages/core/src/server/curatorData.ts
  packages/core/src/server/index.ts
  packages/core/src/server/router.ts
  packages/core/src/server/supabaseCuratorService.ts
  packages/core/src/server/telegramAuth.ts
  packages/core/tsup.config.ts
  packages/storage/src/legacy/heys_storage_supabase_v1.js
  packages/storage/src/legacy/heys_storage_supabase_v1.ts.old
  packages/storage/src/legacy/heys_storage_supabase_v1_backup.js
  pnpm-lock.yaml
Due: eslint --max-warnings=500, prettier --write

chore: add what's-new entry for d4d0525e
  apps/web/public/whats-new.json
Due: prettier --write

perf: remove permanent will-change, narrow transition:all, add overflow-anchor
  apps/web/styles/critical.css
  apps/web/styles/modules/000-base-and-gamification.css
Due: none

chore: add what's-new entry for cee47574
  apps/web/public/whats-new.json
Due: prettier --write

fix: replace implied consent with explicit checkbox in TrialForm (152-ФЗ)
  apps/landing/src/components/TrialForm.tsx
Due: eslint --max-warnings=500

chore: add what's-new entry for 3984f8af
  apps/web/public/whats-new.json
Due: prettier --write

chore: add what's-new entry for aadea797
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): eliminate cycling circle↔checkmark in cloud sync indicator
  apps/web/bundle-manifest.json
  apps/web/heys_app_hooks_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.332fa134687a.js
  apps/web/public/boot-app.bundle.332fa134687a.js.gz
  apps/web/public/boot-app.bundle.548005c8e34a.js.gz
  apps/web/public/boot-calc.bundle.9cd35cf9d631.js.gz
  apps/web/public/boot-calc.bundle.ace7932016f9.js
  apps/web/public/boot-calc.bundle.ace7932016f9.js.gz
  apps/web/public/boot-core.bundle.55bdd43a96ed.js.gz
  apps/web/public/boot-core.bundle.8e2589ceed76.js
  apps/web/public/boot-core.bundle.8e2589ceed76.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/react-bundle.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore: add what's-new entry for 5b0aa5bc (Исправления стабильности и синхронизации)
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): requestFlush on delete, upload_start log, 150 log entries, badge fixes
  apps/web/bundle-manifest.json
  apps/web/heys_app_hooks_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_trainings_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_subscription_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.332fa134687a.js.gz
  apps/web/public/boot-app.bundle.e081a0bc1969.js
  apps/web/public/boot-app.bundle.e081a0bc1969.js.gz
  apps/web/public/boot-core.bundle.8e2589ceed76.js.gz
  apps/web/public/boot-core.bundle.b13b6a10aff4.js
  apps/web/public/boot-core.bundle.b13b6a10aff4.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore: add what's-new entry for e5208260
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): add upload_error log entry on failed uploads
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.b00fb60318db.js
  apps/web/public/boot-core.bundle.b00fb60318db.js.gz
  apps/web/public/boot-core.bundle.b13b6a10aff4.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore: add what's-new entry for de57cb7f
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): exclude sync_log and pending_sync_ui_queue from cloud upload
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.b00fb60318db.js.gz
  apps/web/public/boot-core.bundle.b7d82c4c5b0a.js
  apps/web/public/boot-core.bundle.b7d82c4c5b0a.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore: add what's-new entry for f04fa37c
  apps/web/public/whats-new.json
Due: prettier --write

fix(yc-functions): gate localhost CORS, sanitize 500 errors, remove leaked test JWT
  yandex-cloud-functions/heys-api-auth/index.js
  yandex-cloud-functions/heys-api-payments/index.js
  yandex-cloud-functions/heys-api-rest/index.js
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/test_rpc_http.js
  yandex-cloud-functions/heys-api-sms/index.js
Due: eslint --max-warnings=500

chore: add what's-new entry for ef62e029
  apps/web/public/whats-new.json
Due: prettier --write

fix(security): auth brute-force protection, RPC body size limit, API Gateway throttling, gitleaks CI
  .github/workflows/gitleaks.yml
  yandex-cloud-functions/api-gateway-spec-v2.yaml
  yandex-cloud-functions/heys-api-auth/index.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

chore: add what's-new entry for 37b600f6
  apps/web/public/whats-new.json
Due: prettier --write

fix(security): db-level auth rate limits + yukassa webhook IP validation
  database/2026-04-23_curator_login_rate_limits.sql
  yandex-cloud-functions/heys-api-auth/index.js
  yandex-cloud-functions/heys-api-payments/index.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

chore: add what's-new entry for d64c2325
  apps/web/public/whats-new.json
Due: prettier --write

fix(security): ORDER BY whitelist, open-redirect guard, security headers in all YC functions
  yandex-cloud-functions/heys-api-auth/index.js
  yandex-cloud-functions/heys-api-health/index.js
  yandex-cloud-functions/heys-api-leads/index.js
  yandex-cloud-functions/heys-api-payments/index.js
  yandex-cloud-functions/heys-api-rest/index.js
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-sms/index.js
Due: eslint --max-warnings=500

chore: add what's-new entry for d102abe1
  apps/web/public/whats-new.json
Due: prettier --write

fix(security): harden SMS endpoint — api key from env only, validate phone/message length
  packages/core/src/server.js
Due: eslint --max-warnings=500

chore: add what's-new entry for 04d8cb47 (Улучшили безопасность и стабильность работы приложения)
  apps/web/public/whats-new.json
Due: prettier --write

chore(bundles): rebuild legacy bundles (boot-app/calc/core/init hash update)
  apps/web/bundle-manifest.json
  apps/web/heys_app_cloud_init_v1.js
  apps/web/heys_app_hooks_v1.js
  apps/web/heys_app_initialize_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.17120ecb943d.js
  apps/web/public/boot-app.bundle.17120ecb943d.js.gz
  apps/web/public/boot-app.bundle.e081a0bc1969.js.gz
  apps/web/public/boot-calc.bundle.4e1c71343fa0.js
  apps/web/public/boot-calc.bundle.4e1c71343fa0.js.gz
  apps/web/public/boot-calc.bundle.ace7932016f9.js.gz
  apps/web/public/boot-core.bundle.b7d82c4c5b0a.js.gz
  apps/web/public/boot-core.bundle.f20fc3e938ea.js
  apps/web/public/boot-core.bundle.f20fc3e938ea.js.gz
  apps/web/public/boot-init.bundle.55f7f6c0b43e.js.gz
  apps/web/public/boot-init.bundle.88aaf2b693f2.js
  apps/web/public/boot-init.bundle.88aaf2b693f2.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore: add what's-new entry for 6d8017b4
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): prevent stuck pending queue + logout-sync guards + dev CORS 127.0.0.1
  apps/web/__tests__/client-switch-tail.test.js
  apps/web/__tests__/logout-sync-guards.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_app_cloud_init_v1.js
  apps/web/heys_app_hooks_v1.js
  apps/web/heys_app_initialize_v1.js
  apps/web/heys_client_switch_overlay_v1.js
  apps/web/heys_cloud_queue_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_pickers.js
  apps/web/heys_storage_layer_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.17120ecb943d.js.gz
  apps/web/public/boot-app.bundle.7092bf4f7676.js
  apps/web/public/boot-app.bundle.7092bf4f7676.js.gz
  apps/web/public/boot-calc.bundle.380e4c4770d5.js
  apps/web/public/boot-calc.bundle.380e4c4770d5.js.gz
  apps/web/public/boot-calc.bundle.4e1c71343fa0.js.gz
  apps/web/public/boot-core.bundle.1164728e3089.js
  apps/web/public/boot-core.bundle.1164728e3089.js.gz
  apps/web/public/boot-core.bundle.f20fc3e938ea.js.gz
  apps/web/public/boot-init.bundle.42b73b15a6dc.js
  apps/web/public/boot-init.bundle.42b73b15a6dc.js.gz
  apps/web/public/boot-init.bundle.88aaf2b693f2.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  packages/core/src/__tests__/cors-origins.test.js
  packages/core/src/corsOrigins.js
  packages/core/src/server.js
Due: eslint --max-warnings=500, prettier --write

chore: add what's-new entry for 2492eb18 (sync stuck fix)
  apps/web/public/whats-new.json
Due: prettier --write

fix: buildProductIndex crash after switchClient
  apps/web/bundle-manifest.json
  apps/web/heys_core_v12.js
  apps/web/heys_models_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.1164728e3089.js.gz
  apps/web/public/boot-core.bundle.7260ba7143c5.js
  apps/web/public/boot-core.bundle.7260ba7143c5.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/public/whats-new.json
Due: eslint --max-warnings=500, prettier --write
