Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(products): show barcode search matches
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.4d9aef68a216.js
  apps/web/public/postboot-3-ui-lazy.bundle.4d9aef68a216.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.ac1ec618b2c4.js
  apps/web/public/postboot-3-ui-lazy.bundle.ac1ec618b2c4.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for b72cda29
  apps/web/public/whats-new.json
Due: prettier --write

fix(products): sync barcode bindings to overlay
  apps/web/__tests__/barcode-contract.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.4d9aef68a216.js
  apps/web/public/postboot-3-ui-lazy.bundle.4d9aef68a216.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.672efbf5fd4c.js
  apps/web/public/postboot-3-ui-lazy.bundle.672efbf5fd4c.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 98821182
  apps/web/public/whats-new.json
Due: prettier --write

fix(products): support shared barcode aliases
  apps/web/__tests__/barcode-contract.test.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_cloud_shared_v1.js
  apps/web/heys_storage_supabase_v1.js
  scripts/db/apply-shared-products-barcode.sh
  scripts/db/check-shared-products-barcode.sql
  scripts/db/migrations/2026-06-28_shared_products_barcodes_array.sql
  yandex-cloud-functions/heys-api-rest/index.js
Due: eslint --max-warnings=500

chore(release): add whats-new for f5b8ed30
  apps/web/public/whats-new.json
Due: prettier --write

chore(build): sync barcode bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-core.bundle.1b34f19bbc28.js
  apps/web/public/boot-core.bundle.1b34f19bbc28.js.gz
  apps/web/public/boot-core.bundle.fdf6fd786a26.js
  apps/web/public/boot-core.bundle.fdf6fd786a26.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.0082c6595c81.js
  apps/web/public/postboot-3-ui-lazy.bundle.0082c6595c81.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.672efbf5fd4c.js
  apps/web/public/postboot-3-ui-lazy.bundle.672efbf5fd4c.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(web): improve barcode management and followups
  TESTS/regressions/task-003-checkin-reopen-missing-steps.test.js
  apps/web/__tests__/barcode-contract.test.js
  apps/web/__tests__/morning-activation-followup.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_steps_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.0082c6595c81.js
  apps/web/public/postboot-3-ui-lazy.bundle.0082c6595c81.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.673db5271da1.js
  apps/web/public/postboot-3-ui-lazy.bundle.673db5271da1.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/600-steps-and-aps.css
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for c7ae0396
  apps/web/public/whats-new.json
Due: prettier --write

fix(products): stabilize barcode scan and aliases
  apps/web/__tests__/barcode-contract.test.js
  apps/web/__tests__/overlay-cloud-snapshot-suppress.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_products_overlay_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.1b34f19bbc28.js
  apps/web/public/boot-core.bundle.1b34f19bbc28.js.gz
  apps/web/public/boot-core.bundle.c57ff20f8039.js
  apps/web/public/boot-core.bundle.c57ff20f8039.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.673db5271da1.js
  apps/web/public/postboot-3-ui-lazy.bundle.673db5271da1.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.7a597e4d6515.js
  apps/web/public/postboot-3-ui-lazy.bundle.7a597e4d6515.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/600-steps-and-aps.css
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 205f849b
  apps/web/public/whats-new.json
Due: prettier --write

fix(products): sync barcode aliases globally
  apps/web/__tests__/barcode-contract.test.js
  apps/web/heys_add_product_step_v1.js
  apps/web/styles/modules/600-steps-and-aps.css
Due: eslint --max-warnings=500

chore(release): add whats-new for 36cbde67
  apps/web/public/whats-new.json
Due: prettier --write

chore(build): sync barcode bundle
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.7a597e4d6515.js
  apps/web/public/postboot-3-ui-lazy.bundle.7a597e4d6515.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.c895b734a3f7.js
  apps/web/public/postboot-3-ui-lazy.bundle.c895b734a3f7.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(morning): stabilize check-in persistence
  apps/web/__tests__/morning-checkin-stability.test.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_profile_step_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_yesterday_verify_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(build): sync generated artifacts for agent integration
  apps/web/bundle-manifest.json
  apps/web/heys_fingers_bundle_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.518929d1ac35.js
  apps/web/public/postboot-1-game-lazy.bundle.518929d1ac35.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.e67d451eda9a.js
  apps/web/public/postboot-1-game-lazy.bundle.e67d451eda9a.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.6e869ad4a4a6.js
  apps/web/public/postboot-3-ui-lazy.bundle.6e869ad4a4a6.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.c895b734a3f7.js
  apps/web/public/postboot-3-ui-lazy.bundle.c895b734a3f7.js.gz
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for agent integration
  apps/web/public/whats-new.json
Due: prettier --write

fix(products): auto-start barcode camera after permission
  apps/web/__tests__/barcode-contract.test.js
  apps/web/heys_add_product_step_v1.js
Due: eslint --max-warnings=500

chore(build): sync barcode camera bundle
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.44874d01346a.js
  apps/web/public/postboot-3-ui-lazy.bundle.44874d01346a.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.6e869ad4a4a6.js
  apps/web/public/postboot-3-ui-lazy.bundle.6e869ad4a4a6.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 1602afdd
  apps/web/public/whats-new.json
Due: prettier --write

chore(barcode): add iOS scanner polyfill fallback
  apps/web/__tests__/barcode-contract.test.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_platform_apis_v1.js
  apps/web/package.json
  apps/web/public/vendor/barcode/barcode-detector-polyfill.js
  apps/web/public/vendor/barcode/zbar-wasm.js
  apps/web/public/vendor/barcode/zbar.wasm
  apps/web/styles/modules/600-steps-and-aps.css
  pnpm-lock.yaml
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(checkin): harden morning flow completion
  apps/web/__tests__/morning-checkin-stability.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_effects.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.66355fd0e856.js
  apps/web/public/boot-calc.bundle.66355fd0e856.js.gz
  apps/web/public/boot-calc.bundle.87c2225dc9e2.js
  apps/web/public/boot-calc.bundle.87c2225dc9e2.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.44874d01346a.js
  apps/web/public/postboot-3-ui-lazy.bundle.44874d01346a.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.b7beb07f980d.js
  apps/web/public/postboot-3-ui-lazy.bundle.b7beb07f980d.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for ddc40571
  apps/web/public/whats-new.json
Due: prettier --write

chore(build): sync boot-core bundle
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-core.bundle.0f3fa25050c0.js
  apps/web/public/boot-core.bundle.0f3fa25050c0.js.gz
  apps/web/public/boot-core.bundle.c57ff20f8039.js
  apps/web/public/boot-core.bundle.c57ff20f8039.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(barcode): resolve iOS polyfill global lookup
  apps/web/__tests__/barcode-contract.test.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_platform_apis_v1.js
Due: eslint --max-warnings=500

chore(release): add whats-new for 6e36befb
  apps/web/public/whats-new.json
Due: prettier --write

chore(build): sync barcode scanner bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-core.bundle.0f3fa25050c0.js
  apps/web/public/boot-core.bundle.0f3fa25050c0.js.gz
  apps/web/public/boot-core.bundle.ffd9604195c0.js
  apps/web/public/boot-core.bundle.ffd9604195c0.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.0160f3ee367a.js
  apps/web/public/postboot-3-ui-lazy.bundle.0160f3ee367a.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.b7beb07f980d.js
  apps/web/public/postboot-3-ui-lazy.bundle.b7beb07f980d.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(barcode): scan cropped iPhone camera frames
  apps/web/__tests__/barcode-contract.test.js
  apps/web/heys_platform_apis_v1.js
Due: eslint --max-warnings=500

chore(build): sync barcode crop scanner bundle
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-core.bundle.f0eefd805794.js
  apps/web/public/boot-core.bundle.f0eefd805794.js.gz
  apps/web/public/boot-core.bundle.ffd9604195c0.js
  apps/web/public/boot-core.bundle.ffd9604195c0.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for f8f4d6fb
  apps/web/public/whats-new.json
Due: prettier --write

fix(barcode): add ean fallback scanner
  apps/web/__tests__/barcode-contract.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_platform_apis_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.9c1ecc6c8735.js
  apps/web/public/boot-core.bundle.9c1ecc6c8735.js.gz
  apps/web/public/boot-core.bundle.f0eefd805794.js
  apps/web/public/boot-core.bundle.f0eefd805794.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.0160f3ee367a.js
  apps/web/public/postboot-3-ui-lazy.bundle.0160f3ee367a.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.1cf52fa883ad.js
  apps/web/public/postboot-3-ui-lazy.bundle.1cf52fa883ad.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 7e7b6eb4
  apps/web/public/whats-new.json
Due: prettier --write

fix(barcode): share product barcodes through rpc
  apps/web/__tests__/barcode-contract.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_cloud_shared_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.68b494a5d119.js
  apps/web/public/boot-core.bundle.68b494a5d119.js.gz
  apps/web/public/boot-core.bundle.9c1ecc6c8735.js
  apps/web/public/boot-core.bundle.9c1ecc6c8735.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.1cf52fa883ad.js
  apps/web/public/postboot-3-ui-lazy.bundle.1cf52fa883ad.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.f2878b629974.js
  apps/web/public/postboot-3-ui-lazy.bundle.f2878b629974.js.gz
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
  scripts/db/apply-shared-products-barcode.sh
  scripts/db/check-shared-products-barcode.sql
  scripts/db/migrations/2026-06-28_get_shared_products_barcodes.sql
  scripts/db/migrations/2026-06-28_shared_products_barcode_attach.sql
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 9ee50242
  apps/web/public/whats-new.json
Due: prettier --write

fix(barcode): split scan entrypoints
  apps/web/__tests__/barcode-contract.test.js
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.4f8fe01fa7b4.js
  apps/web/public/boot-calc.bundle.4f8fe01fa7b4.js.gz
  apps/web/public/boot-calc.bundle.87c2225dc9e2.js
  apps/web/public/boot-calc.bundle.87c2225dc9e2.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.5bebb4fd4e9e.js
  apps/web/public/postboot-3-ui-lazy.bundle.5bebb4fd4e9e.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.f2878b629974.js
  apps/web/public/postboot-3-ui-lazy.bundle.f2878b629974.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 3cdfb443
  apps/web/public/whats-new.json
Due: prettier --write

fix(barcode): auto start scanner entry
  apps/web/__tests__/barcode-contract.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.5bebb4fd4e9e.js
  apps/web/public/postboot-3-ui-lazy.bundle.5bebb4fd4e9e.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.fd73955d5bc8.js
  apps/web/public/postboot-3-ui-lazy.bundle.fd73955d5bc8.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for b331ce9a
  apps/web/public/whats-new.json
Due: prettier --write

fix(barcode): prestart and reuse camera stream
  apps/web/__tests__/barcode-contract.test.js
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.13958f6d2815.js
  apps/web/public/boot-calc.bundle.13958f6d2815.js.gz
  apps/web/public/boot-calc.bundle.4f8fe01fa7b4.js
  apps/web/public/boot-calc.bundle.4f8fe01fa7b4.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.9ad2796846ef.js
  apps/web/public/postboot-3-ui-lazy.bundle.9ad2796846ef.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.fd73955d5bc8.js
  apps/web/public/postboot-3-ui-lazy.bundle.fd73955d5bc8.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 40fde697
  apps/web/public/whats-new.json
Due: prettier --write
