Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(agents): isolate generated artifacts from agent commits
  .github/workflows/deploy-yandex.yml
  .husky/pre-commit
  apps/web/__tests__/agent-staging.test.js
  apps/web/__tests__/auto-sync-agent-check.test.js
  apps/web/__tests__/prepare-release-skip.test.js
  apps/web/__tests__/push-agent.test.js
  package.json
  scripts/auto-sync-legacy-bundles.mjs
  scripts/check-agent-staging.mjs
  scripts/integrate-agents.mjs
  scripts/prepare-release.mjs
  scripts/push-agent.mjs
Due: eslint --max-warnings=500, prettier --write

chore(agents): harden bundle isolation against parallel-agent collisions
  CLAUDE.md
  apps/web/WHATS_NEW_COPY.md
  apps/web/__tests__/agent-staging.test.js
  apps/web/__tests__/auto-sync-agent-check.test.js
  apps/web/__tests__/integrate-agents.test.js
  apps/web/bundle-manifest.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  scripts/auto-sync-legacy-bundles.mjs
  scripts/check-agent-staging.mjs
  scripts/integrate-agents.mjs
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

chore(agents): fail-loud pre-push gate against stale-bundle deploy
  .husky/pre-push
Due: none

chore(agents): block agent commits from shared root during parallel work
  CLAUDE.md
  apps/web/__tests__/agent-staging.test.js
  scripts/check-agent-staging.mjs
Due: eslint --max-warnings=500, prettier --write

fix(planning): merge chrono activities/entries on cloud pull instead of replace
  apps/web/__tests__/planning-chrono-pure.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_planning_store_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.9afcaa28c07b.js
  apps/web/public/boot-core.bundle.9afcaa28c07b.js.gz
  apps/web/public/boot-core.bundle.aa88a0312215.js
  apps/web/public/boot-core.bundle.aa88a0312215.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.86599ee2fb4a.js
  apps/web/public/postboot-3-ui-lazy.bundle.86599ee2fb4a.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.8be7b90ca4e1.js
  apps/web/public/postboot-3-ui-lazy.bundle.8be7b90ca4e1.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(day): protect in-flight meal edits from stale forceReload overlay
  apps/web/heys_day_meal_handlers.js
Due: eslint --max-warnings=500

chore(release): add whats-new for d044a774
  apps/web/public/whats-new.json
  scripts/bootstrap-bypass-allowlist.txt
Due: prettier --write

chore(agents): verify HEAD not working tree in pre-push bundle gate
  .husky/pre-push
  scripts/verify-legacy-bundles.mjs
Due: none

fix(planning/chrono): tighter bubble cloud + reliable drag-to-trash
  apps/web/bundle-manifest.json
  apps/web/heys_planning_chrono_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.8be7b90ca4e1.js
  apps/web/public/postboot-3-ui-lazy.bundle.8be7b90ca4e1.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.bd834b100ad1.js
  apps/web/public/postboot-3-ui-lazy.bundle.bd834b100ad1.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/905-planning-chrono.css
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 49f16fc1
  apps/web/public/whats-new.json
Due: prettier --write

docs(agents): tell agents not to rebuild bundles manually before commit
  CLAUDE.md
Due: prettier --write

fix(planning/chrono): finalize concentric bubble packing
  apps/web/__tests__/planning-chrono-pure.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_planning_chrono_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.25db965a79b6.js
  apps/web/public/postboot-3-ui-lazy.bundle.25db965a79b6.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.bd834b100ad1.js
  apps/web/public/postboot-3-ui-lazy.bundle.bd834b100ad1.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for f754592c
  apps/web/public/whats-new.json
Due: prettier --write

fix(day): persist grams edits before hot sync
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.2bac3014e121.js
  apps/web/public/boot-calc.bundle.2bac3014e121.js.gz
  apps/web/public/boot-calc.bundle.49b000e76c45.js
  apps/web/public/boot-calc.bundle.49b000e76c45.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 690aba55
  apps/web/public/whats-new.json
Due: prettier --write

chore(release): cover grams sync fix
  apps/web/public/whats-new.json
Due: prettier --write

chore(release): default agent push coverage to auto
  apps/web/WHATS_NEW_COPY.md
  apps/web/__tests__/push-agent.test.js
  scripts/push-agent.mjs
Due: eslint --max-warnings=500, prettier --write

fix(sync): speed up curator hot sync polling
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.4d574a413df6.js
  apps/web/public/boot-core.bundle.4d574a413df6.js.gz
  apps/web/public/boot-core.bundle.9afcaa28c07b.js
  apps/web/public/boot-core.bundle.9afcaa28c07b.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 37ae1d0f
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): protect item grams from stale day uploads
  apps/web/__tests__/sync-merge-shared.test.js
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_sync_merge_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.215bb1e28386.js
  apps/web/public/boot-calc.bundle.215bb1e28386.js.gz
  apps/web/public/boot-calc.bundle.2bac3014e121.js
  apps/web/public/boot-calc.bundle.2bac3014e121.js.gz
  apps/web/public/boot-core.bundle.0697304c7c7c.js
  apps/web/public/boot-core.bundle.0697304c7c7c.js.gz
  apps/web/public/boot-core.bundle.4d574a413df6.js
  apps/web/public/boot-core.bundle.4d574a413df6.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 8dd73f79
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): stamp day mutations centrally
  apps/web/__tests__/sync-merge-shared.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_sync_merge_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.0697304c7c7c.js
  apps/web/public/boot-core.bundle.0697304c7c7c.js.gz
  apps/web/public/boot-core.bundle.4dbb019aa4eb.js
  apps/web/public/boot-core.bundle.4dbb019aa4eb.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for ad3b4493
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): close item-delete resurrection + HMR-safe central stamper
  .husky/pre-commit
  apps/web/BUGS_HISTORY.md
  apps/web/__tests__/sync-grams-conflict-review.test.js
  apps/web/__tests__/sync-merge-shared.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_day_meal_handlers.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_sync_merge_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.4dbb019aa4eb.js
  apps/web/public/boot-core.bundle.4dbb019aa4eb.js.gz
  apps/web/public/boot-core.bundle.ca35dd6076e6.js
  apps/web/public/boot-core.bundle.ca35dd6076e6.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  scripts/lint-sync-merge-cjs-mirror.mjs
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 0103594d [bundle-size-ok]
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): remove phantom item-deletion tombstones; explicit-delete only [bundle-size-ok]
  apps/web/__tests__/sync-merge-shared.test.js
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_sync_merge_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.215bb1e28386.js
  apps/web/public/boot-calc.bundle.215bb1e28386.js.gz
  apps/web/public/boot-calc.bundle.93e3b0707cfc.js
  apps/web/public/boot-calc.bundle.93e3b0707cfc.js.gz
  apps/web/public/boot-core.bundle.ca35dd6076e6.js
  apps/web/public/boot-core.bundle.ca35dd6076e6.js.gz
  apps/web/public/boot-core.bundle.fdc727719b0f.js
  apps/web/public/boot-core.bundle.fdc727719b0f.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 29af87d8 [bundle-size-ok]
  apps/web/public/whats-new.json
Due: prettier --write

chore(fingers): clarify health_data handling in code + privacy (B17prime A)
  apps/web/fingers/heys_fingers_records_store_v1.js
  docs/legal/privacy-policy.md
Due: eslint --max-warnings=500, prettier --write

feat(fingers): readiness-aware Today Coach + goal-based recommendations
  apps/web/__tests__/fingers-today-recommend.test.js
  apps/web/fingers/heys_fingers_onboarding_v1.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
Due: eslint --max-warnings=500

feat(fingers): per-set RPE + pain capture (B1)
  apps/web/__tests__/fingers-today-recommend.test.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
Due: eslint --max-warnings=500

test(fingers): happy-path integration + extract _buildFingersLog (B19)
  apps/web/__tests__/fingers-happy-path.test.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
Due: eslint --max-warnings=500

fix(day): apply LS on same-updatedAt content diff + show cross-device deletes
  apps/web/bundle-manifest.json
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_effects.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.021ee869a509.js
  apps/web/public/boot-app.bundle.021ee869a509.js.gz
  apps/web/public/boot-app.bundle.91f00034cfd2.js
  apps/web/public/boot-app.bundle.91f00034cfd2.js.gz
  apps/web/public/boot-calc.bundle.3fe6091322d4.js
  apps/web/public/boot-calc.bundle.3fe6091322d4.js.gz
  apps/web/public/boot-calc.bundle.93e3b0707cfc.js
  apps/web/public/boot-calc.bundle.93e3b0707cfc.js.gz
  apps/web/public/boot-day.bundle.c6c106c20072.js
  apps/web/public/boot-day.bundle.c6c106c20072.js.gz
  apps/web/public/boot-day.bundle.f96abe2a9a8b.js
  apps/web/public/boot-day.bundle.f96abe2a9a8b.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 6ad71e1d [bundle-size-ok]
  apps/web/public/whats-new.json
Due: prettier --write

feat(fingers): PR toast on new MVC record (B2)
  apps/web/fingers/heys_fingers_constructor_v1.js
Due: eslint --max-warnings=500

feat(fingers): warmup-skip readiness penalty (B9)
  apps/web/__tests__/fingers-warmup-penalty.test.js
  apps/web/fingers/heys_fingers_readiness_v1.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
Due: eslint --max-warnings=500

feat(fingers): pain-aware grip gating (B6 core)
  apps/web/__tests__/fingers-pain-gate.test.js
  apps/web/fingers/heys_fingers_age_gating_v1.js
  apps/web/fingers/heys_fingers_constructor_v1.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
Due: eslint --max-warnings=500

chore(fingers): make UI-prefs consistently local-only (B22)
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

feat(fingers): measured MVC timeseries + strength ratio (B3)
  apps/web/__tests__/fingers-mvc-history.test.js
  apps/web/fingers/heys_fingers_records_store_v1.js
Due: eslint --max-warnings=500

feat(fingers): auto weight progression suggestion (B4)
  apps/web/__tests__/fingers-progression.test.js
  apps/web/fingers/heys_fingers_constructor_v1.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
Due: eslint --max-warnings=500

chore(agents): re-land main/develop integration-only guard (lost in trunk rebuild)
  CLAUDE.md
  apps/web/__tests__/agent-staging.test.js
  scripts/check-agent-staging.mjs
  scripts/integrate-agents.mjs
Due: eslint --max-warnings=500, prettier --write
