Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(perf): update bundle size baseline
  apps/web/__perf_baselines__/boot-split-baselines.json
Due: prettier --write

chore(release): whats-new for update bundle size baseline
  apps/web/public/whats-new.json
Due: prettier --write

chore(web): refresh legacy bundles
  apps/web/bundle-manifest.json
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.35db34b53bba.js
  apps/web/public/boot-app.bundle.35db34b53bba.js.gz
  apps/web/public/boot-app.bundle.ae9299fc0919.js
  apps/web/public/boot-app.bundle.ae9299fc0919.js.gz
  apps/web/public/boot-calc.bundle.32cdc197e057.js
  apps/web/public/boot-calc.bundle.32cdc197e057.js.gz
  apps/web/public/boot-calc.bundle.80b3223d7c50.js
  apps/web/public/boot-calc.bundle.80b3223d7c50.js.gz
  apps/web/public/boot-core.bundle.af8ba8867589.js
  apps/web/public/boot-core.bundle.af8ba8867589.js.gz
  apps/web/public/boot-core.bundle.d6fca3f269e6.js
  apps/web/public/boot-core.bundle.d6fca3f269e6.js.gz
  apps/web/public/boot-day.bundle.a56002cd4dd4.js
  apps/web/public/boot-day.bundle.a56002cd4dd4.js.gz
  apps/web/public/boot-day.bundle.a79466387dcb.js
  apps/web/public/boot-day.bundle.a79466387dcb.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.0b94dbaf8534.js
  apps/web/public/postboot-3-ui-lazy.bundle.0b94dbaf8534.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.26439be899f2.js
  apps/web/public/postboot-3-ui-lazy.bundle.26439be899f2.js.gz
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(web): stabilize day sync and check-in flows
  apps/web/__tests__/consent-gate-flow.test.js
  apps/web/__tests__/hunger-energy-status-ui.test.js
  apps/web/__tests__/morning-activation-followup.test.js
  apps/web/bundle-manifest.json
  apps/web/day/_advice.js
  apps/web/day/_meals.js
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_day_effects.js
  apps/web/heys_day_hooks.js
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500, prettier --write

fix(cloud): retry stale db clients in maintenance
  yandex-cloud-functions/MONITORING_CHANGELOG.md
  yandex-cloud-functions/check-heys-ops-status.cjs
  yandex-cloud-functions/heys-api-auth/shared/db-pool.js
  yandex-cloud-functions/heys-api-leads/shared/db-pool.js
  yandex-cloud-functions/heys-api-messages/shared/db-pool.js
  yandex-cloud-functions/heys-api-payments/shared/db-pool.js
  yandex-cloud-functions/heys-api-photos/shared/db-pool.js
  yandex-cloud-functions/heys-api-push/shared/db-pool.js
  yandex-cloud-functions/heys-api-rest/db-pool.js
  yandex-cloud-functions/heys-api-rpc/shared/db-pool.js
  yandex-cloud-functions/heys-bot-client/shared/db-pool.js
  yandex-cloud-functions/heys-cron-reminders/shared/db-pool.js
  yandex-cloud-functions/heys-cron-security-alerts/shared/db-pool.js
  yandex-cloud-functions/heys-cron-trial-drip/shared/db-pool.js
  yandex-cloud-functions/heys-maintenance/index.js
  yandex-cloud-functions/heys-maintenance/shared/db-pool.js
  yandex-cloud-functions/shared/db-pool.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 5c70f19d
  apps/web/public/whats-new.json
Due: prettier --write

chore(web): refresh advice menu bundle
  apps/web/bundle-manifest.json
  apps/web/heys_day_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.313be605f4f6.js
  apps/web/public/boot-calc.bundle.313be605f4f6.js.gz
  apps/web/public/boot-calc.bundle.80b3223d7c50.js
  apps/web/public/boot-calc.bundle.80b3223d7c50.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(web): open advice menu reliably
  apps/web/__tests__/advice-menu-open.test.js
  apps/web/bundle-manifest.json
  apps/web/day/_advice.js
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 8e579928
  apps/web/public/whats-new.json
Due: prettier --write

fix(web): stabilize day sync and check-in writes
  apps/web/__tests__/day-mutation-guard.test.js
  apps/web/__tests__/heys-storage-write-context-session.test.js
  apps/web/__tests__/morning-activation-followup.test.js
  apps/web/__tests__/morning-checkin-stability.test.js
  apps/web/day/_meals.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_cycle_v1.js
  apps/web/heys_day_effects.js
  apps/web/heys_day_live_refresh_v1.js
  apps/web/heys_day_mutation_guard_v1.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_profile_step_v1.js
  apps/web/heys_refeed_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/heys_training_step_v1.js
  apps/web/heys_yesterday_verify_v1.js
  scripts/bootstrap-bypass-allowlist.txt
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500

chore(web): refresh legacy bundles
  apps/web/bundle-manifest.json
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.073ca33443a4.js
  apps/web/public/boot-app.bundle.073ca33443a4.js.gz
  apps/web/public/boot-app.bundle.ae9299fc0919.js
  apps/web/public/boot-app.bundle.ae9299fc0919.js.gz
  apps/web/public/boot-calc.bundle.313be605f4f6.js
  apps/web/public/boot-calc.bundle.313be605f4f6.js.gz
  apps/web/public/boot-calc.bundle.f4b40029cb3f.js
  apps/web/public/boot-calc.bundle.f4b40029cb3f.js.gz
  apps/web/public/boot-core.bundle.af8ba8867589.js
  apps/web/public/boot-core.bundle.af8ba8867589.js.gz
  apps/web/public/boot-core.bundle.ffcbc6e8999b.js
  apps/web/public/boot-core.bundle.ffcbc6e8999b.js.gz
  apps/web/public/boot-day.bundle.a56002cd4dd4.js
  apps/web/public/boot-day.bundle.a56002cd4dd4.js.gz
  apps/web/public/boot-day.bundle.e10979131196.js
  apps/web/public/boot-day.bundle.e10979131196.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.768248b456c7.js
  apps/web/public/postboot-1-game-lazy.bundle.768248b456c7.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.932799a75cea.js
  apps/web/public/postboot-1-game-lazy.bundle.932799a75cea.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.0b94dbaf8534.js
  apps/web/public/postboot-3-ui-lazy.bundle.0b94dbaf8534.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.2d0e260ccf69.js
  apps/web/public/postboot-3-ui-lazy.bundle.2d0e260ccf69.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 4f6ff23f
  apps/web/public/whats-new.json
Due: prettier --write

fix(web): close charge followup on later
  apps/web/__tests__/morning-activation-followup.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_steps_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.1a7753a60765.js
  apps/web/public/postboot-3-ui-lazy.bundle.1a7753a60765.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.2d0e260ccf69.js
  apps/web/public/postboot-3-ui-lazy.bundle.2d0e260ccf69.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for close charge followup on later
  apps/web/public/whats-new.json
Due: prettier --write

docs(agent): align UI and shipping guardrails
  AGENTS.md
  CLAUDE.md
  scripts/bootstrap-bypass-allowlist.txt
Due: prettier --write

feat(hunger): calibrate guidance and outcome follow-ups
  apps/web/__tests__/hunger-energy-calibration.test.js
  apps/web/__tests__/hunger-energy-status-engine.test.js
  apps/web/__tests__/hunger-energy-status-ui.test.js
  apps/web/heys_day_page_shell.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_day_tab_render_v1.js
  apps/web/heys_hunger_energy_calibration_v1.js
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/heys_hunger_energy_status_v1.js
  docs/HUNGER_ENERGY_STATUS_CALIBRATION.md
  docs/HUNGER_ENERGY_STATUS_DECISION_ENGINE.md
  docs/HUNGER_ENERGY_STATUS_FOOD_PRIORITY.md
  docs/HUNGER_ENERGY_STATUS_RISK_BUDGET.md
  yandex-cloud-functions/heys-api-push/index.js
  yandex-cloud-functions/heys-cron-reminders/__tests__/hunger-follow-up.test.js
  yandex-cloud-functions/heys-cron-reminders/hunger-follow-up.js
  yandex-cloud-functions/heys-cron-reminders/index.js
Due: eslint --max-warnings=500, prettier --write

feat(planning): add goal maps and resilient sync
  apps/web/__tests__/default-tab-sync.test.js
  apps/web/__tests__/gantt-migration.test.js
  apps/web/__tests__/planning-chrono-pure.test.js
  apps/web/__tests__/planning-chrono-render.test.js
  apps/web/__tests__/planning-goal-map-pure.test.js
  apps/web/__tests__/planning-goal-map-store.test.js
  apps/web/__tests__/planning-goal-map-ui.test.js
  apps/web/__tests__/planning-goals-ui.test.js
  apps/web/__tests__/planning-home-subtab.test.js
  apps/web/__tests__/planning-schedule-task-picker.test.js
  apps/web/__tests__/planning-sync-persistence.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_app_tab_state_v1.js
  apps/web/heys_planning_chrono_v1.js
  apps/web/heys_planning_gantt_migration_v1.js
  apps/web/heys_planning_goal_map_v1.js
  apps/web/heys_planning_schedule_v1.js
  apps/web/heys_planning_store_v1.js
  apps/web/heys_planning_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_sync_merge_v1.js
  apps/web/styles/main-deferred.css
  apps/web/styles/modules/900-planning.css
  apps/web/styles/modules/905-planning-chrono.css
  apps/web/styles/modules/906-planning-goal-map.css
  yandex-cloud-functions/heys-api-rest/lib/heys_sync_merge_v1.cjs
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500

fix(web): refine login and check-in controls
  apps/web/__tests__/morning-activation-followup.test.js
  apps/web/heys_login_screen_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/styles/heys-components.css
Due: eslint --max-warnings=500

fix(planning): improve compact goal map viewport
  apps/web/heys_planning_goal_map_v1.js
  apps/web/styles/modules/906-planning-goal-map.css
Due: eslint --max-warnings=500

chore(web): refresh legacy bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.073ca33443a4.js
  apps/web/public/boot-app.bundle.073ca33443a4.js.gz
  apps/web/public/boot-app.bundle.f5d90b227c00.js
  apps/web/public/boot-app.bundle.f5d90b227c00.js.gz
  apps/web/public/boot-core.bundle.e3d3c2e397f5.js
  apps/web/public/boot-core.bundle.e3d3c2e397f5.js.gz
  apps/web/public/boot-core.bundle.ffcbc6e8999b.js
  apps/web/public/boot-core.bundle.ffcbc6e8999b.js.gz
  apps/web/public/boot-day.bundle.70ceb40626b7.js
  apps/web/public/boot-day.bundle.70ceb40626b7.js.gz
  apps/web/public/boot-day.bundle.e10979131196.js
  apps/web/public/boot-day.bundle.e10979131196.js.gz
  apps/web/public/boot-init.bundle.dd4545585722.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-eager.bundle.bb651c659737.js.gz
  apps/web/public/postboot-2-insights-eager.bundle.807cb783ab2f.js.gz
  apps/web/public/postboot-3-ui-eager.bundle.2da300f79259.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.1a7753a60765.js
  apps/web/public/postboot-3-ui-lazy.bundle.1a7753a60765.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.b334ccfcd1b0.js
  apps/web/public/postboot-3-ui-lazy.bundle.b334ccfcd1b0.js.gz
  apps/web/public/sw.js
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

fix(planning): align goal map inspector controls
  apps/web/styles/modules/906-planning-goal-map.css
Due: none

chore(release): add whats-new for 1af73856
  apps/web/public/whats-new.json
Due: prettier --write

fix(planning): persist calendar preferences safely
  apps/web/__tests__/planning-schedule-task-picker.test.js
  apps/web/heys_planning_schedule_v1.js
Due: eslint --max-warnings=500

feat(planning): improve goal map dates and states
  apps/web/heys_planning_goal_map_v1.js
  apps/web/styles/modules/906-planning-goal-map.css
Due: eslint --max-warnings=500

chore(web): refresh planning bundle
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.1359739108ae.js
  apps/web/public/postboot-3-ui-lazy.bundle.1359739108ae.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.b334ccfcd1b0.js
  apps/web/public/postboot-3-ui-lazy.bundle.b334ccfcd1b0.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(planning): clear goal map history on primary actions
  apps/web/heys_planning_v1.js
Due: eslint --max-warnings=500

chore(web): finalize planning bundle metadata
  apps/web/bundle-manifest.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 1dfd8298
  apps/web/public/whats-new.json
Due: prettier --write

fix(mobile): unify authentication in webview
  AGENTS.md
  apps/mobile/APP_STORE_RELEASE_PACKET.md
  apps/mobile/BUILD_README.md
  apps/mobile/IOS_UNLISTED_APP_PLAN.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/auth/login.tsx
  apps/mobile/app/auth/logout.tsx
  apps/mobile/app/index.tsx
  apps/mobile/app/web/index.tsx
  apps/mobile/release/RUSTORE_REVIEW_NOTES.md
  apps/mobile/scripts/verify-release-apk.sh
  apps/mobile/src/features/deeplink/routes.ts
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(reminders): make hunger follow-ups idempotent
  apps/landing/COPY_VOICE.md
  docs/HUNGER_ENERGY_STATUS_CALIBRATION.md
  docs/HUNGER_ENERGY_STATUS_CONCEPT.md
  yandex-cloud-functions/heys-cron-reminders/__tests__/hunger-follow-up.test.js
  yandex-cloud-functions/heys-cron-reminders/hunger-follow-up.js
  yandex-cloud-functions/heys-cron-reminders/index.js
Due: eslint --max-warnings=500, prettier --write

fix(web): stabilize planning and daily flows
  apps/web/__tests__/add-product-smart-products.test.js
  apps/web/__tests__/advice-render-loop-contract.test.js
  apps/web/__tests__/hunger-energy-status-engine.test.js
  apps/web/__tests__/hunger-energy-status-ui.test.js
  apps/web/__tests__/morning-checkin-stability.test.js
  apps/web/__tests__/planning-chrono-pure.test.js
  apps/web/__tests__/planning-goal-map-pure.test.js
  apps/web/__tests__/planning-goal-map-ui.test.js
  apps/web/__tests__/planning-schedule-task-picker.test.js
  apps/web/__tests__/step-modal-render-loop-contract.test.js
  apps/web/__tests__/storage-layer.test.js
  apps/web/day/_advice.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_swipe_nav_v1.js
  apps/web/heys_day_advice_integration_v1.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_picker_modals.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/heys_hunger_energy_status_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_planning_chrono_v1.js
  apps/web/heys_planning_goal_map_v1.js
  apps/web/heys_planning_schedule_v1.js
  apps/web/heys_planning_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_storage_layer_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/900-planning.css
  apps/web/styles/modules/906-planning-goal-map.css
Due: eslint --max-warnings=500

chore(web): refresh legacy bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.19f95b5f0ffd.js
  apps/web/public/boot-app.bundle.19f95b5f0ffd.js.gz
  apps/web/public/boot-app.bundle.f5d90b227c00.js
  apps/web/public/boot-app.bundle.f5d90b227c00.js.gz
  apps/web/public/boot-calc.bundle.02d8411da031.js
  apps/web/public/boot-calc.bundle.02d8411da031.js.gz
  apps/web/public/boot-calc.bundle.f4b40029cb3f.js
  apps/web/public/boot-calc.bundle.f4b40029cb3f.js.gz
  apps/web/public/boot-core.bundle.aa3abc1194ff.js
  apps/web/public/boot-core.bundle.aa3abc1194ff.js.gz
  apps/web/public/boot-core.bundle.e3d3c2e397f5.js
  apps/web/public/boot-core.bundle.e3d3c2e397f5.js.gz
  apps/web/public/boot-day.bundle.65e8a4444e11.js
  apps/web/public/boot-day.bundle.65e8a4444e11.js.gz
  apps/web/public/boot-day.bundle.70ceb40626b7.js
  apps/web/public/boot-day.bundle.70ceb40626b7.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.1359739108ae.js
  apps/web/public/postboot-3-ui-lazy.bundle.1359739108ae.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.e5ebd67636e0.js
  apps/web/public/postboot-3-ui-lazy.bundle.e5ebd67636e0.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for refresh legacy bundles
  apps/web/public/whats-new.json
Due: prettier --write

test(goals): add goal map UI audit screenshots
  output/goal-map-audit/01-goals-list.png
  output/goal-map-audit/02-initial-map.png
  output/goal-map-audit/03-completed-readonly-map.png
  output/goal-map-audit/04-structure-readonly.png
  output/goal-map-audit/05-landscape-archived-map.png
  output/goal-map-audit/06-map-swipe-right-switches-tab.png
  output/goal-map-audit/07-cta-after-fix.png
Due: none

chore(workspace): add mine2d project
  scripts/main_heys.code-workspace
Due: none

chore(release): add whats-new for d1bb32c5
  apps/web/public/whats-new.json
Due: prettier --write

fix(checkin): resume morning flow across shells
  apps/web/__tests__/heys-storage-write-context-session.test.js
  apps/web/__tests__/morning-checkin-flow-resume.test.js
  apps/web/__tests__/morning-checkin-stability.test.js
  apps/web/__tests__/sync-merge-shared.test.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_sync_merge_v1.js
  yandex-cloud-functions/heys-api-rest/lib/heys_sync_merge_v1.cjs
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500

fix(checkin): harden progress conflict merge
  apps/web/__tests__/sync-merge-shared.test.js
  apps/web/heys_sync_merge_v1.js
  yandex-cloud-functions/heys-api-rest/lib/heys_sync_merge_v1.cjs
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500
