Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(security): csp headers in cloud functions
  yandex-cloud-functions/heys-api-auth/index.js
  yandex-cloud-functions/heys-api-health/index.js
  yandex-cloud-functions/heys-api-leads/index.js
  yandex-cloud-functions/heys-api-payments/index.js
  yandex-cloud-functions/heys-api-rest/index.js
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-sms/index.js
Due: eslint --max-warnings=500

chore(release): whats-new for csp headers in cloud functions
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): curator dayv2 pending-mutation registry (Phase 2)
  apps/web/__tests__/sync-race-condition.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_add_product.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_effects.js
  apps/web/heys_day_global_exports_v1.js
  apps/web/heys_day_hooks.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.595ae85c66c7.js
  apps/web/public/boot-app.bundle.595ae85c66c7.js.gz
  apps/web/public/boot-app.bundle.9a0df27acf04.js
  apps/web/public/boot-app.bundle.9a0df27acf04.js.gz
  apps/web/public/boot-calc.bundle.a4f7b1740c52.js
  apps/web/public/boot-calc.bundle.a4f7b1740c52.js.gz
  apps/web/public/boot-calc.bundle.a9fc899d2d43.js
  apps/web/public/boot-calc.bundle.a9fc899d2d43.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
  scripts/unscoped-client-writes-allowlist.txt
  todo.md
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for curator dayv2 pending-mutation registry (Phase 2)
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): Phase 3 — auto-mark pending via setBlockCloudUpdates setter
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_effects.js
  apps/web/heys_day_global_exports_v1.js
  apps/web/heys_day_picker_modals.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.a4f7b1740c52.js
  apps/web/public/boot-calc.bundle.a4f7b1740c52.js.gz
  apps/web/public/boot-calc.bundle.a654aec9033d.js
  apps/web/public/boot-calc.bundle.a654aec9033d.js.gz
  apps/web/public/boot-day.bundle.57090328ef5b.js
  apps/web/public/boot-day.bundle.57090328ef5b.js.gz
  apps/web/public/boot-day.bundle.95d13f1b57dc.js
  apps/web/public/boot-day.bundle.95d13f1b57dc.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for Phase 3 — auto-mark pending via setBlockCloudUpdates setter
  apps/web/public/whats-new.json
Due: prettier --write

chore(fingers): validators — S1–S8 + homed V_* (METHODOLOGY ч.9, phase1 step3 part2)
  apps/web/__tests__/fingers-validators.test.js
  apps/web/bundle-manifest.json
  apps/web/fingers/heys_fingers_validators_v1.js
  apps/web/heys_fingers_bundle_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/scripts/bundle-fingers.cjs
  scripts/bootstrap-bypass-allowlist.txt
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

fix(checkin): freeze step list during wizard session
  apps/web/bundle-manifest.json
  apps/web/heys_morning_checkin_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.855557bb4376.js
  apps/web/public/postboot-3-ui-lazy.bundle.855557bb4376.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.9b8bf0c4f8c4.js
  apps/web/public/postboot-3-ui-lazy.bundle.9b8bf0c4f8c4.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for freeze step list during wizard session
  apps/web/public/whats-new.json
Due: prettier --write

chore(fingers): assessment — scoring лимитера §3.2 (deficit × flag × levelPrior, phase1 step3 part3)
  apps/web/__tests__/fingers-assessment.test.js
  apps/web/bundle-manifest.json
  apps/web/fingers/heys_fingers_assessment_v1.js
  apps/web/heys_fingers_bundle_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/scripts/bundle-fingers.cjs
  scripts/bootstrap-bypass-allowlist.txt
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

chore(fingers): engine_router — strangler scaffold (flag=off → mixEngine, phase1 step4 part1)
  apps/web/__tests__/fingers-engine-router.test.js
  apps/web/bundle-manifest.json
  apps/web/fingers/heys_fingers_engine_router_v1.js
  apps/web/heys_fingers_bundle_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/scripts/bundle-fingers.cjs
  scripts/bootstrap-bypass-allowlist.txt
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

docs(security): SEC-018 + bump SEC-012 + Раздел 10 (L3-L5 attack plan)
  docs/SECURITY_REVIEW.md
Due: prettier --write

chore(release): whats-new for SEC-018 + bump SEC-012 + Раздел 10 (L3-L5 attack plan)
  apps/web/public/whats-new.json
Due: prettier --write

chore(scripts): agent workflow hardening — locks, deploy guard, push grant + train design
  CLAUDE.md
  docs/PUSH_TRAIN_DESIGN.md
  scripts/ship.mjs
  yandex-cloud-functions/deploy-all.sh
Due: prettier --write

chore(release): whats-new for d1fc7c2e (agent workflow hardening)
  apps/web/public/whats-new.json
Due: prettier --write

chore(fingers): pre-4.2 hardening — contract-guard в router + S2 window fix + ниты ревью
  apps/web/__tests__/fingers-block-catalog.test.js
  apps/web/__tests__/fingers-engine-router.test.js
  apps/web/__tests__/fingers-validators.test.js
  apps/web/fingers/heys_fingers_assessment_v1.js
  apps/web/fingers/heys_fingers_engine_router_v1.js
  apps/web/fingers/heys_fingers_validators_v1.js
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(scripts): ship-lock (Variant D) + redo push-train doc
  docs/PUSH_TRAIN_DESIGN.md
  scripts/ship.mjs
Due: prettier --write

chore(release): whats-new for ship-lock (Variant D) + redo push-train doc
  apps/web/public/whats-new.json
Due: prettier --write

chore(fingers): sessionBuilder — новый движок (phase1 step4 part2)
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/bundle-manifest.json
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/heys_fingers_bundle_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/scripts/bundle-fingers.cjs
  scripts/bootstrap-bypass-allowlist.txt
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

fix(fingers): level fail-closed в sessionBuilder (ревью 4.2 #1, safety)
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(security): SEC-018 body-size guards (REST 512K / photos 8M / pay+leads 64K)
  yandex-cloud-functions/heys-api-leads/index.js
  yandex-cloud-functions/heys-api-payments/index.js
  yandex-cloud-functions/heys-api-photos/index.js
  yandex-cloud-functions/heys-api-rest/index.js
Due: eslint --max-warnings=500

chore(release): whats-new for SEC-018 body-size guards (REST 512K / photos 8M / pay+leads 64K)
  apps/web/public/whats-new.json
Due: prettier --write

fix(fingers): полный output-контракт sessionBuilder (ревью 4.2 #2/#3)
  apps/web/__tests__/fingers-engine-router.test.js
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/fingers/heys_fingers_engine_router_v1.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

feat(fingers): shadow-compare в engine_router (ревью 4.3 #4.3e)
  apps/web/__tests__/fingers-engine-router.test.js
  apps/web/fingers/heys_fingers_engine_router_v1.js
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(security): SEC-019 leads origin guard (CSRF fix)
  yandex-cloud-functions/heys-api-leads/index.js
Due: eslint --max-warnings=500

chore(release): whats-new for SEC-019 leads origin guard (CSRF fix)
  apps/web/public/whats-new.json
Due: prettier --write

chore(security): SEC-012 invariant comment + journal updates (SEC-006/008/018/019, L3-L5 probes)
  apps/landing/src/components/sections/DemoSection.tsx
  docs/SECURITY_REVIEW.md
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for 7949b5f9 (SEC-012/019 + L3-L5 probes)
  apps/web/public/whats-new.json
Due: prettier --write

feat(fingers): shadow-diff distribution doseShape/modality + nonHangCount (ревью #3 #2 метрика)
  apps/web/__tests__/fingers-engine-router.test.js
  apps/web/fingers/heys_fingers_engine_router_v1.js
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(security): SEC-020 telegram bot webhook secret_token check
  yandex-cloud-functions/heys-bot-client/index.js
Due: eslint --max-warnings=500

chore(release): whats-new for SEC-020 telegram bot webhook secret_token check
  apps/web/public/whats-new.json
Due: prettier --write

chore(security): SEC-009 messages rate-limit moved to DB
  database/2026-06-08_messages_rate_limit.sql
  yandex-cloud-functions/heys-api-messages/index.js
Due: eslint --max-warnings=500

chore(release): whats-new for SEC-009 messages rate-limit moved to DB
  apps/web/public/whats-new.json
Due: prettier --write

docs(security): journal SEC-009/020 fixed + accepted-risk notes
  docs/SECURITY_REVIEW.md
Due: prettier --write

chore(release): whats-new for journal SEC-009/020 fixed + accepted-risk notes
  apps/web/public/whats-new.json
Due: prettier --write

feat(fingers): B1.5 cut — RENDERABLE_DOSESHAPES={hang,reps} (ревью #3 ограничение 2)
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

fix(fingers): S9 prerequisites enforcement (ревью #4 BFR/min-edge/fall-setup safety)
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/__tests__/fingers-validators.test.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/fingers/heys_fingers_validators_v1.js
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

docs(security): reviewer Tier-2 + canonical risk-ledger (SEC-004 pre-launch)
  docs/SECURITY_REVIEW.md
  docs/SECURITY_REVIEW_tier2.md
Due: prettier --write

chore(release): whats-new for reviewer Tier-2 + canonical risk-ledger (SEC-004 pre-launch)
  apps/web/public/whats-new.json
Due: prettier --write

feat(fingers): (b)+(A)+(B) — MVC-derive level + seed creds + filter warmup_done (ревью #5)
  apps/web/__tests__/fingers-session-builder.test.js
  apps/web/fingers/heys_fingers_block_catalog_v1.js
  apps/web/fingers/heys_fingers_session_builder_v1.js
  apps/web/heys_fingers_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500
