Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix(landing): clarify first trial CTA
  apps/landing/src/components/sections/PainSection.tsx
Due: eslint --max-warnings=500

fix(landing): compact first-month cards on mobile
  apps/landing/src/components/sections/HowItWorksSection.tsx
Due: eslint --max-warnings=500

fix(landing): refine format comparison
  apps/landing/src/components/sections/ComparisonSection.tsx
Due: eslint --max-warnings=500

fix(landing): strengthen hero trial microcopy contrast
  apps/landing/src/components/HeroSSR.tsx
Due: eslint --max-warnings=500

docs(marketing): record approved landing polish decisions
  маркетинг/40_Аудит_лендинга_mobile_2026-07-26.md
Due: prettier --write

fix(landing): correct handshake duotone path
  apps/landing/src/components/sections/HowItWorksSection.tsx
Due: eslint --max-warnings=500

docs(marketing): keep audit diff focused on approved decisions
  маркетинг/40_Аудит_лендинга_mobile_2026-07-26.md
Due: prettier --write

chore(agents): enforce Codex main-only workflow
  AGENTS.md
  docs/operations/AGENT_SHIPPING_RUNBOOK.md
  scripts/check-agent-shipping-docs.mjs
  scripts/check-agent-shipping-docs.test.mjs
Due: prettier --write

fix(bot): stop polling after offset commit failure
  docs/reference/systems/TELEGRAM.md
  yandex-cloud-functions/heys-bot-client/__tests__/start-lead-crm.test.cjs
  yandex-cloud-functions/heys-bot-client/index.js
Due: eslint --max-warnings=500, prettier --write

docs(marketing): record Telegram intake blocker
  маркетинг/00_Дашборд.html
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/41_Единый_релизный_контур_и_очередь_промптов_2026-07-26.md
Due: prettier --write

docs(game): add Assemble Day concept
  docs/ASSEMBLE_DAY_GAME_CONCEPT.md
Due: prettier --write

docs(ops): record deployed Telegram fix
  docs/reference/systems/TELEGRAM.md
  маркетинг/00_Дашборд.html
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/41_Единый_релизный_контур_и_очередь_промптов_2026-07-26.md
Due: prettier --write

fix(ci): update Turborepo config schema
  turbo.json
Due: prettier --write

fix(landing): clarify format comparison
  apps/landing/COPY_VOICE.md
  apps/landing/src/components/sections/ComparisonSection.tsx
  маркетинг/00_Дашборд.html
  маркетинг/40_Аудит_лендинга_mobile_2026-07-26.md
Due: eslint --max-warnings=500, prettier --write

fix(ci): restore fresh-install checks
  apps/web/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

docs(marketing): record Telegram repeat smoke
  маркетинг/00_Дашборд.html
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/41_Единый_релизный_контур_и_очередь_промптов_2026-07-26.md
Due: prettier --write

fix(landing): polish comparison section copy
  apps/landing/src/components/sections/ComparisonSection.tsx
Due: eslint --max-warnings=500

fix(landing): apply approved mobile audit polish
  apps/landing/src/components/HeroSSR.tsx
  apps/landing/src/components/sections/ComparisonSection.tsx
  apps/landing/src/components/sections/CuratorSection.tsx
  apps/landing/src/components/sections/HowItWorksSection.tsx
  apps/landing/src/components/sections/PainSection.tsx
Due: eslint --max-warnings=500

fix(trial): show claimed leads to assigned curator
  apps/web/__tests__/trial-intake-flow.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_trial_queue_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.66707da23433.js
  apps/web/public/boot-app.bundle.66707da23433.js.gz
  apps/web/public/boot-app.bundle.d29cbd495099.js
  apps/web/public/boot-app.bundle.d29cbd495099.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(telegram): assign claimed leads to curator
  database/2026-07-29_curator_telegram_binding.sql
  yandex-cloud-functions/heys-bot-client/__tests__/lead-taken-callback.test.cjs
  yandex-cloud-functions/heys-bot-client/index.js
Due: eslint --max-warnings=500

fix(telegram): record active privacy consent
  docs/implementation/TRIAL_INTAKE_FLOW_V2_PROTOCOL.md
  docs/reference/systems/TELEGRAM.md
  docs/reference/systems/TRIAL_INTAKE.md
  yandex-cloud-functions/heys-bot-client/CRM_SMOKE.md
  yandex-cloud-functions/heys-bot-client/__tests__/start-lead-crm.test.cjs
  yandex-cloud-functions/heys-bot-client/index.js
  маркетинг/00_Дашборд.html
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/41_Единый_релизный_контур_и_очередь_промптов_2026-07-26.md
  маркетинг/tools/build_dashboard.py
Due: eslint --max-warnings=500, prettier --write

fix(db): restore trial prepare internal execute
  docs/implementation/TRIAL_INTAKE_FLOW_V2_PROTOCOL.md
  docs/reference/systems/TELEGRAM.md
  docs/reference/systems/TRIAL_INTAKE.md
  scripts/db/migrate.test.mjs
  scripts/db/migrations/2026-07-29_trial_prepare_internal_execute.sql
  scripts/db/migrations/manifest.json
  маркетинг/00_Дашборд.html
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/41_Единый_релизный_контур_и_очередь_промптов_2026-07-26.md
Due: prettier --write

feat(trial): collect intake before client creation
  apps/web/__tests__/trial-intake-flow.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_trial_intake_v1.js
  apps/web/heys_trial_queue_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.523987781af3.js
  apps/web/public/boot-app.bundle.523987781af3.js.gz
  apps/web/public/boot-app.bundle.d29cbd495099.js
  apps/web/public/boot-app.bundle.d29cbd495099.js.gz
  apps/web/public/boot-core.bundle.0970a942db15.js
  apps/web/public/boot-core.bundle.0970a942db15.js.gz
  apps/web/public/boot-core.bundle.6d6025b06018.js
  apps/web/public/boot-core.bundle.6d6025b06018.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  docs/implementation/TRIAL_INTAKE_FLOW_V3_PROTOCOL.md
  docs/reference/systems/LANDING_AND_LEADS.md
  docs/reference/systems/TRIAL_INTAKE.md
  scripts/db/migrations/2026-07-29_trial_intake_preclient_v3.sql
  scripts/db/migrations/manifest.json
  scripts/db/test-trial-intake-migration.mjs
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-maintenance/index.js
Due: eslint --max-warnings=500, prettier --write

fix(trial): allow candidate session bootstrap hint
  scripts/bootstrap-bypass-allowlist.txt
Due: none

fix(trial): reload candidate intake in browser
  apps/web/__tests__/trial-intake-flow.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_app_gate_flow_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.50bfc353c9cd.js
  apps/web/public/boot-app.bundle.50bfc353c9cd.js.gz
  apps/web/public/boot-app.bundle.523987781af3.js
  apps/web/public/boot-app.bundle.523987781af3.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(trial): initialize consent request IP before use
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/tests/candidate_consent_rpc.contract.test.js
Due: eslint --max-warnings=500

docs(marketing): close trial intake v3 blocker
  маркетинг/00_Дашборд.html
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/41_Единый_релизный_контур_и_очередь_промптов_2026-07-26.md
  маркетинг/tools/build_dashboard.py
Due: prettier --write

fix(trial): reject legacy queue item by queue id
  apps/web/__tests__/trial-intake-flow.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_trial_queue_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.50bfc353c9cd.js
  apps/web/public/boot-app.bundle.50bfc353c9cd.js.gz
  apps/web/public/boot-app.bundle.9de784598d2e.js
  apps/web/public/boot-app.bundle.9de784598d2e.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

fix(trial): remove legacy application through queue rpc
  apps/web/__tests__/trial-intake-flow.test.js
  apps/web/heys_trial_queue_v1.js
Due: eslint --max-warnings=500

fix(bot): add safe Telegram DNS fallback
  docs/reference/systems/TELEGRAM.md
  scripts/bootstrap-bypass-allowlist.txt
  yandex-cloud-functions/heys-bot-client/__tests__/start-lead-crm.test.cjs
  yandex-cloud-functions/heys-bot-client/index.js
Due: eslint --max-warnings=500, prettier --write

chore: restore bootstrap allowlist reference
  scripts/bootstrap-bypass-allowlist.txt
Due: none

test(bot): adapt callback harness to Telegram transport
  scripts/bootstrap-bypass-allowlist.txt
  yandex-cloud-functions/heys-bot-client/__tests__/lead-taken-callback.test.cjs
Due: none

docs(marketing): align launch and tariff positioning
  scripts/bootstrap-bypass-allowlist.txt
  маркетинг/00_Дашборд.html
  маркетинг/15_Ревизия_и_лог_решений.md
  маркетинг/19_Pro-first_методология_Фазы_0.md
  маркетинг/22_План_реализации_маркетинга.md
  маркетинг/23_Плейбук_куратора.md
  маркетинг/30_Конкурентные_решения.md
  маркетинг/39_Протокол_реализации_лендинга_2026-06-22.md
  маркетинг/40_Аудит_лендинга_mobile_2026-07-26.md
  маркетинг/41_Единый_релизный_контур_и_очередь_промптов_2026-07-26.md
  маркетинг/43_Pro_Спорт_founder-led_пилот_2026-07-28.md
  маркетинг/44_Ревью_архитектуры_тарифного_выбора_2026-07-29.md
  маркетинг/45_Future_референс_лендинга_2026-07-29.md
  маркетинг/research/raw/future/2026-07-29/about-and-app.md
  маркетинг/research/raw/future/2026-07-29/faq-and-terms.md
  маркетинг/research/raw/future/2026-07-29/homepage.md
  маркетинг/research/raw/future/2026-07-29/survey-and-coach.md
  маркетинг/tools/build_dashboard.py
Due: prettier --write

feat(landing): clarify service flow and tariff choice
  apps/landing/COPY_VOICE.md
  apps/landing/src/app/page.tsx
  apps/landing/src/components/FAQAccordion.tsx
  apps/landing/src/components/HeroSSR.tsx
  apps/landing/src/components/PricingSSR.tsx
  apps/landing/src/components/__tests__/PricingSection.test.tsx
  apps/landing/src/components/pricing/PricingSectionContent.tsx
  apps/landing/src/components/sections/ComparisonSection.tsx
  apps/landing/src/components/sections/CuratorSection.tsx
  apps/landing/src/components/sections/HowItWorksSection.tsx
  apps/landing/src/components/sections/NavigatorSection.tsx
  apps/landing/src/components/sections/PainSection.tsx
  apps/landing/src/components/sections/TrustSection.tsx
  apps/landing/src/config/landing-variants.ts
  docs/implementation/PRICING_CONTEXTUAL_SUPPORT_PROTOCOL_2026-07-29.md
Due: eslint --max-warnings=500, prettier --write

feat(legal): prepare user agreement v1.9 release
  apps/landing/src/app/legal/user-agreement/page.tsx
  apps/landing/src/config/legal-versions.ts
  apps/web/__tests__/consent-proof-v2.test.js
  apps/web/__tests__/consent-release-contract.test.js
  apps/web/heys_consents_v1.js
  apps/web/heys_legal_versions_v1.js
  apps/web/public/docs/chat-rules.md
  apps/web/public/docs/consent-forms.md
  apps/web/public/docs/user-agreement.md
  apps/web/public/docs/v1.9/user-agreement.md
  database/2026-07-29_activate_user_agreement_v1_9.sql
  docs/legal/chat-rules.md
  docs/legal/consent-forms.md
  docs/legal/legal-document-manifest.json
  docs/legal/operator/heys-data-register.md
  docs/reference/systems/INFRA_OPERATIONS.md
  docs/reference/systems/TRIAL_INTAKE.md
  scripts/lint-pdn-monthly-audit.mjs
  scripts/verify-legal-release.mjs
  yandex-cloud-functions/heys-api-payments/index.js
Due: eslint --max-warnings=500, prettier --write

fix(security): make shared product moderation atomic
  apps/web/__tests__/curator-product-rpc-auth-contract.test.js
  apps/web/__tests__/shared-product-moderation-contract.test.js
  apps/web/heys_cloud_shared_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_yandex_api_v1.js
  docs/reference/systems/PRODUCTS_AND_SEARCH.md
  scripts/db/atomic-shared-product-moderation-sanitize.contract.test.mjs
  scripts/db/curator-product-acl.contract.test.mjs
  scripts/db/functions/update_shared_product_portions_by_curator.sql
  scripts/db/migrations/2026-07-29_atomic_shared_product_moderation.sql
  scripts/db/migrations/2026-07-29_atomic_shared_product_moderation_sanitize.sql
  scripts/db/migrations/2026-07-29_curator_product_function_acl.sql
  scripts/db/migrations/manifest.json
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-api-rpc/tests/curator_product_rpc_auth.contract.test.js
  yandex-cloud-functions/heys-api-rpc/tests/shared_product_moderation_rpc.contract.test.js
Due: eslint --max-warnings=500, prettier --write

feat(assemble-day): integrate planning game into web
  apps/web/__tests__/planning-game-assemble-day.test.js
  apps/web/__tests__/planning-games-ui.test.js
  apps/web/__tests__/storage-registry.test.js
  apps/web/assemble-day/heys_assemble_day_game_v1.ts
  apps/web/heys_planning_game_assemble_day_v1.js
  apps/web/heys_planning_v1.js
  apps/web/heys_storage_registry_v1.js
  apps/web/package.json
  apps/web/scripts/bundle-assemble-day-game.mjs
  apps/web/styles/modules/908-planning-games.css
  apps/web/styles/modules/912-planning-game-assemble-day.css
Due: eslint --max-warnings=500, prettier --write

fix(legal): sync v1.9 document hashes
  database/2026-07-29_activate_user_agreement_v1_9.sql
  docs/legal/legal-document-manifest.json
  yandex-cloud-functions/heys-api-payments/index.js
Due: eslint --max-warnings=500, prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
