Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

docs(протокол): пять видов долга вместо четырёх и урок про стареющее число
  docs/implementation/FOOD_MEAL_V4_CANVAS_ALIGNMENT.md
Due: prettier --write

fix(плитка score): у входа в разбор появилась строка, плитка собрана по кадру
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/heys_cascade_card_v1.js
  apps/web/styles/modules/733-ui-v4-reports.css
  apps/web/styles/modules/740-cascade-card.css
  docs/ui/verdicts/reports-insights.json
Due: eslint --max-warnings=500, prettier --write

test(чек-ин): отчёт охвата врал против себя и звал работать по сделанному
  apps/web/__tests__/checkin-v4-canvas-razbor.test.js
Due: eslint --max-warnings=500

docs(аудит): пять видов «доказательство не про это место» — списком
  docs/ui/UI_V4_AUDIT_CLOSED_ZONES.md
Due: prettier --write

docs(протокол): шестой урок — врёт и проверяющий инструмент
  docs/implementation/FOOD_MEAL_V4_CANVAS_ALIGNMENT.md
Due: prettier --write

fix(развилка разбора): подпись «ничего не ел» перестала ломаться на две строки
  apps/web/heys_yesterday_verify_v1.js
Due: eslint --max-warnings=500

fix(опись): пять файлов считались дважды, четыре места были мёртвыми
  docs/ui/UI_V4_BARE_LITERALS_INVENTORY.md
  scripts/ui-v4-list-bare-literals.mjs
Due: prettier --write

fix(отчёты): сноска особого периода рисовалась классом без единого правила
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/ui/verdicts/reports-insights.json
Due: eslint --max-warnings=500, prettier --write

fix(чек-ин): рамка кнопок выбора вернулась к кадру, разбор рамок перестал рваться на цвете
  apps/web/__tests__/canvas-razbor-helpers.js
  apps/web/__tests__/checkin-v4-canvas-razbor.test.js
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

docs(правила): число для человека пересчитывает другой своим кодом
  AGENTS.md
  CLAUDE.md
Due: prettier --write

docs(вердикты): именованные строки зоны закрыты, кроме голоса куратора
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  docs/ui/verdicts/reports-insights.json
Due: eslint --max-warnings=500, prettier --write

test(развилка): зеркало раскладки ряда кнопок больше не разъедется молча
  apps/web/__tests__/yesterday-verify-fork-row-flex.test.js
Due: eslint --max-warnings=500

fix(опись): своя переменная модуля с зашитым цветом — тоже место
  docs/ui/UI_V4_BARE_LITERALS_INVENTORY.md
  scripts/ui-v4-list-bare-literals.mjs
Due: prettier --write

fix(карточка продукта): цель нажатия была дана кнопке, которой никто не рисует
  apps/web/styles/modules/611-aps-product-card.css
  docs/implementation/PRODUCT_CARD_V4_PROTOCOL.md
  docs/ui/verdicts/product-card.json
Due: prettier --write

docs(протокол): отчётная половина закрыта, три места без правил названы
  docs/implementation/REPORTS_INSIGHTS_V4_IMPLEMENTATION_2026-08-29.md
Due: prettier --write

docs(опись): песочное на синем приходит из трёх источников, а не двух
  docs/ui/UI_V4_BARE_LITERALS_INVENTORY.md
  scripts/ui-v4-list-bare-literals.mjs
Due: prettier --write

docs(отчёты): последняя строка зоны закрыта — голос куратора разобран по самим фразам
  docs/ui/verdicts/reports-insights.json
Due: prettier --write

chore(гейт): храповик литералов подтянут за виджетами — 179 стало 178
  docs/ui/DESIGNER_QUESTIONS_TO_CODER.md
  scripts/ui-v4-check-bare-color-literals.mjs
Due: prettier --write

docs(ответы кодера): блоки А1–А3 — выход, язык, уведомления
  docs/ui/designer-answers/А1-А3.md
Due: prettier --write

docs(ответы дизайнеру): блоки А10–А12 — код от куратора, возраст, крупный шрифт
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_SAND_ROLES_INVENTORY.md
  docs/ui/designer-answers/А10-А12.md
Due: prettier --write

fix(отчёты, инсайты): решения дизайнера №25 и №28 — метка вилок стала плашкой, мёртвое правило снято
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/styles/modules/733-ui-v4-reports.css
  apps/web/styles/modules/734-ui-v4-insights.css
Due: eslint --max-warnings=500

fix(ответы дизайнера): снята роль чужого дня, оба факта про код переехали к его созданию
  apps/web/__tests__/access-code-setup-keypad.test.js
  apps/web/heys_client_access_code_setup_v1.js
  apps/web/heys_trial_intake_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/400-water-and-hydration.css
  docs/implementation/FOOD_MEAL_V4_CANVAS_ALIGNMENT.md
Due: eslint --max-warnings=500, prettier --write

docs(дизайнеру): ответы на блоки А4 звук, А5 ориентация, А6 долгое нажатие
  docs/ui/designer-answers/А4-А6.md
Due: prettier --write

docs(протокол): решения №25 и №28 записаны до приезда строк контракта
  docs/implementation/REPORTS_INSIGHTS_V4_IMPLEMENTATION_2026-08-29.md
Due: prettier --write

docs(находки): вернул запись про два блока обзора, потерянную чужим коммитом
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

docs(виджеты): ответы дизайнера №44 и №47 с замером новой копии
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
Due: prettier --write

docs(ответы дизайнеру): А7 пояс, А8 два устройства, А9 обучение
  docs/ui/designer-answers/А7-А9.md
Due: prettier --write

docs(ответы кодера): А3.2 — переключателей двенадцать, а не шесть; поправка
  docs/ui/designer-answers/А1-А3.md
Due: prettier --write

docs(находки): лист периодов живёт без кадра, и гейты про него не молчат
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

test(инсайты): охват главного кадра вырос вдвое и обзавёлся храповиком
  apps/web/__tests__/insights-v4-canvas-razbor.test.js
Due: eslint --max-warnings=500

docs(ui): семь решений владельца по ответам дизайнера
  docs/ui/UI_V4_OWNER_DECISIONS.md
Due: prettier --write

docs(ui): к ответу про плитку воды нужны отступы поимённо
  docs/ui/UI_V4_OWNER_DECISIONS.md
Due: prettier --write

feat(чек-ин): пилюля-ответ сведена с кадром, подпись холода отвечает на вопрос
  apps/web/__tests__/checkin-v4-canvas-razbor.test.js
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: eslint --max-warnings=500, prettier --write

fix(ответы дизайнеру): А9.3 отвечен неверно — жест есть, и продукт ему учит
  docs/ui/designer-answers/А7-А9.md
Due: prettier --write

docs(правила): два способа — это два признака, а не два прогона одного
  AGENTS.md
  CLAUDE.md
Due: prettier --write

fix(чек-ин): заголовки шагов пропадали в обоих тёмных наборах
  apps/web/styles/modules/500-pwa-and-offline.css
Due: none

docs(протокол): ход «что открывается» и четыре экрана без кадра
  docs/implementation/REPORTS_INSIGHTS_V4_IMPLEMENTATION_2026-08-29.md
Due: prettier --write

docs(ответы дизайнеру): три пробела «не знаю» закрыты фактами
  docs/ui/designer-answers/А7-А9.md
Due: prettier --write

docs(ответы кодера): А1.2 — палитра живёт и в профиле, и тест на неё есть
  docs/ui/designer-answers/А1-А3.md
Due: prettier --write

fix(питание, звук): кольцо воды нашлось, галочка звука советов ожила
  apps/web/__tests__/advice-sound-two-controls.test.js
  apps/web/__tests__/nutrition-v4-canvas-razbor.test.js
  apps/web/heys_user_tab_impl_v1.js
  docs/implementation/NUTRITION_TAB_V4_CANVAS_RAZBOR.md
  docs/ui/designer-answers/А4-А6.md
  docs/ui/verdicts/nutrition-tab.json
Due: eslint --max-warnings=500, prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
