Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

docs(ui-v4): макет экрана входа получен — три расхождения с кодом в этапе 5
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

docs(ui-v4): порог метки и текста — общее правило, оба края набора названы
  apps/web/__tests__/scales.test.js
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): close stage 3 tail — widget macro and risk radar scales
  apps/web/heys_scales_v1.js
  apps/web/heys_widgets_ui_v1.js
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(tooling): вернуть верные строки allowlist для widgets_ui
  apps/web/__tests__/scales.test.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

style(ui-v4): stage 6 CSS batch 1 — design tokens to v4 roles
  apps/web/styles/modules/001-design-tokens.css
  apps/web/styles/modules/310-client-switch-overlay.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

feat(ui-v4): вернуть «Как в системе» — предпочтение режима отдельно от палитры
  apps/web/__tests__/theme-login-priority.test.js
  apps/web/__tests__/theme-v1.test.js
  apps/web/heys_app_hooks_v1.js
  apps/web/heys_theme_v1.js
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): «Как в системе» перешло из плана в код
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

feat(ui-v4): stage 4 Home tab paint codemod (JS scope)
  apps/web/heys_widgets_data_crash_risk_v1.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/widgets/widget_data.js
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  scripts/ui-v4-home-paint-codemod.mjs
Due: eslint --max-warnings=500, prettier --write

style(ui-v4): stage 6 CSS batch 2 — critical + base/gamification start
  apps/web/styles/critical.css
  apps/web/styles/modules/000-base-and-gamification.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

docs(ui-v4): блокер этапа 5 — у темы два независимых источника
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

fix(ui-v4): день читает тему из HEYS.Theme, не пишет data-theme сам
  apps/web/__tests__/day-theme-consumer.test.js
  apps/web/__tests__/theme-v1.test.js
  apps/web/heys_day_effects.js
  apps/web/heys_day_runtime_ui_state_v1.js
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): вернуть классику — 227 замен показывали не тот цвет
  apps/web/__tests__/ui-v4-classic-drift.test.js
  apps/web/heys_widgets_data_crash_risk_v1.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/critical.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/001-design-tokens.css
  apps/web/styles/modules/310-client-switch-overlay.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  scripts/ui-v4-check-classic-drift.mjs
  scripts/ui-v4-home-paint-codemod.mjs
Due: eslint --max-warnings=500, prettier --write

docs(gamification): спецификация трёх экранов под набросок дизайнера
  docs/README.md
  docs/implementation/GAMIFICATION_V4_SPEC_2026-08-10.md
Due: prettier --write

docs(ui-v4): хвост сведения темы — запасные ветки тумблеров пишут data-theme
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

docs(gamification): видимость по стажу — что показано в первый день и дальше
  docs/implementation/GAMIFICATION_V4_SPEC_2026-08-10.md
Due: prettier --write

docs(gamification): как упростить, не урезая — три приёма вместо одного
  docs/implementation/GAMIFICATION_V4_SPEC_2026-08-10.md
Due: prettier --write

docs(ui-v4): третья точка индикатора — кольцо цветом вторичного текста
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

feat(ui-v4): подложка акцента и ступени метки вместо категорийной палитры
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/critical.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  scripts/bootstrap-bypass-allowlist.txt
  scripts/ui-v4-check-classic-drift.mjs
Due: eslint --max-warnings=500, prettier --write

docs(gamification): рекомендации дизайнера по семи вопросам
  docs/implementation/GAMIFICATION_V4_SPEC_2026-08-10.md
Due: prettier --write

style(ui-v4): stage 6 CSS batch 3 — base/gamification sections 30+
  apps/web/styles/modules/000-base-and-gamification.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  scripts/ui-v4-css-batch-codemod.mjs
Due: prettier --write

feat(ui-v4): тёмная активная вкладка — приглушённая подложка вместо плашки
  apps/web/styles/critical.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  scripts/ui-v4-check-classic-drift.mjs
Due: prettier --write

docs(gamification): прощение вчерашнего дня — решение и строка состояния
  docs/implementation/GAMIFICATION_V4_SPEC_2026-08-10.md
Due: prettier --write

style(ui-v4): stage 6 CSS batch 4 — dark-and-effects module
  apps/web/styles/modules/200-dark-and-effects.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

style(ui-v4): stage 6 CSS batch 5 — predictive-insights module
  apps/web/styles/modules/720-predictive-insights.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  scripts/bootstrap-bypass-allowlist.txt
Due: prettier --write

feat(xp): начислять XP за запись сна и веса
  apps/web/__tests__/sleep-weight-xp-events.test.js
  apps/web/heys_steps_v1.js
Due: eslint --max-warnings=500

refactor(gamification): одна шкала званий и внятный 25-й уровень
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_gamification_v1.js
Due: eslint --max-warnings=500

feat(day): подключить checkDayCompleted и видимость прощённого дня в серии
  apps/web/heys_day_calendar_metrics.js
  apps/web/heys_day_tab_impl_v1.js
Due: eslint --max-warnings=500

fix(gamification): дебаунс XP по reason, строка прощения серии, хвост чистки
  apps/web/heys_audio_v1.js
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

style(ui-v4): stage 6 CSS batch 6 — widgets-dashboard module
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  scripts/bootstrap-bypass-allowlist.txt
Due: prettier --write

docs(gamification): все семь рекомендаций реализованы — статус спецификации
  docs/implementation/GAMIFICATION_V4_SPEC_2026-08-10.md
Due: prettier --write

feat(ui-v4): Activity tab tiered layout (structure)
  apps/web/__tests__/activity-v4-structure.test.js
  apps/web/heys_day_activity_v1.js
  apps/web/heys_day_page_shell.js
  apps/web/heys_morning_activation_calendar_v1.js
  apps/web/styles/main.css
  apps/web/styles/modules/731-ui-v4-activity.css
Due: eslint --max-warnings=500

feat(ui-v4): Activity tab paint (--v4-* roles)
  apps/web/__tests__/activity-v4-structure.test.js
  apps/web/styles/modules/731-ui-v4-activity.css
Due: eslint --max-warnings=500

style(ui-v4): stage 6 CSS batch 7 — modals-and-day module
  apps/web/styles/modules/300-modals-and-day.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

docs(gamification): спецификация не врёт после реализации — раздел 0 для дизайнера
  docs/implementation/GAMIFICATION_V4_SPEC_2026-08-10.md
Due: prettier --write

style(ui-v4): stage 6 CSS batch 8 — metrics-and-graphs module
  apps/web/styles/modules/100-metrics-and-graphs.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

style(ui-v4): stage 6 CSS batch 9 — metabolic-intelligence module
  apps/web/styles/modules/725-metabolic-intelligence.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

fix(docs): работают все 17 действий из 17, а не 16
  docs/implementation/GAMIFICATION_V4_SPEC_2026-08-10.md
Due: prettier --write

style(ui-v4): stage 6 CSS batch 10 — planning module
  apps/web/styles/modules/900-planning.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

style(ui-v4): stage 6 CSS batch 11 — fingers module
  apps/web/styles/modules/fingers.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

style(ui-v4): stage 6 batch 12 — messenger CSS paint codemod
  apps/web/styles/modules/1000-messenger.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
