Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

chore(sql): prep clients.created_at column migration for daily report fix
  database/2026-05-26_clients_add_created_at.sql
Due: none

perf(daytab): skip no-op apply for day-updated events (saves 100-170ms per echo)
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_effects.js
  apps/web/public/whats-new.json
Due: eslint --max-warnings=500, prettier --write

chore(release): regenerate boot-calc bundle for perf 3830993f
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-calc.bundle.0dcc09c14c92.js
  apps/web/public/boot-calc.bundle.0dcc09c14c92.js.gz
  apps/web/public/boot-calc.bundle.5c78a0253d56.js
  apps/web/public/boot-calc.bundle.5c78a0253d56.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/whats-new.json
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to d8f49c8b
  apps/web/public/whats-new.json
Due: prettier --write

chore(allowlist): bump line numbers for day_effects + day_core_bundle after perf fix
  scripts/bootstrap-bypass-allowlist.txt
Due: none

perf(daytab): skip no-op event at :recv stage (saves another ~85ms per echo)
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_effects.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.0dcc09c14c92.js
  apps/web/public/boot-calc.bundle.0dcc09c14c92.js.gz
  apps/web/public/boot-calc.bundle.92c7b120f36d.js
  apps/web/public/boot-calc.bundle.92c7b120f36d.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/whats-new.json
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 99897e90
  apps/web/public/whats-new.json
Due: prettier --write

perf(models): lru cache for normalizeproductname (saves ~900ms per cold session)
  apps/web/bundle-manifest.json
  apps/web/heys_models_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.87620d320416.js
  apps/web/public/boot-core.bundle.87620d320416.js.gz
  apps/web/public/boot-core.bundle.d9663e392cb1.js
  apps/web/public/boot-core.bundle.d9663e392cb1.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/whats-new.json
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 42d19dc0
  apps/web/public/whats-new.json
Due: prettier --write

perf(day-core): map index for resolveproductbyitem (saves ~600ms per session)
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.821ca0188ba5.js
  apps/web/public/boot-calc.bundle.821ca0188ba5.js.gz
  apps/web/public/boot-calc.bundle.92c7b120f36d.js
  apps/web/public/boot-calc.bundle.92c7b120f36d.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/whats-new.json
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 9cc7995f
  apps/web/public/whats-new.json
Due: prettier --write

chore(allowlist): bump heys_day_core_bundle line numbers after resolveproductbyitem refactor
  scripts/bootstrap-bypass-allowlist.txt
Due: none

fix(day-core): use weakmap for multi-list products index cache
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.6ad5baf7d3af.js
  apps/web/public/boot-calc.bundle.6ad5baf7d3af.js.gz
  apps/web/public/boot-calc.bundle.821ca0188ba5.js
  apps/web/public/boot-calc.bundle.821ca0188ba5.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/whats-new.json
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 75bbe2b5
  apps/web/public/whats-new.json
Due: prettier --write

chore(allowlist): bump line numbers after weakmap refactor (-8 lines shift)
  scripts/bootstrap-bypass-allowlist.txt
Due: none

fix(pull-refresh): don't show sync overlay on touchstart preemptively
  apps/web/bundle-manifest.json
  apps/web/heys_day_pull_refresh_v1.js
  apps/web/index.html
  apps/web/public/boot-day.bundle.04d32d092677.js
  apps/web/public/boot-day.bundle.04d32d092677.js.gz
  apps/web/public/boot-day.bundle.818f65458ead.js
  apps/web/public/boot-day.bundle.818f65458ead.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/whats-new.json
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 0c5ba8bd
  apps/web/public/whats-new.json
Due: prettier --write

perf(add-product): memoize resolveusagestats (4.9s total expected to ~500ms)
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.3527e00d77e0.js
  apps/web/public/postboot-3-ui-lazy.bundle.3527e00d77e0.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.69d2718fbcaf.js
  apps/web/public/postboot-3-ui-lazy.bundle.69d2718fbcaf.js.gz
  apps/web/public/sw.js
  apps/web/public/whats-new.json
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 39b91793
  apps/web/public/whats-new.json
Due: prettier --write

perf(ux): tabs scroll smoothness + gamification re-render skip
  apps/web/bundle-manifest.json
  apps/web/heys_gamification_bar_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.2bb1bddec080.js
  apps/web/public/boot-app.bundle.2bb1bddec080.js.gz
  apps/web/public/boot-app.bundle.9231d762c27b.js
  apps/web/public/boot-app.bundle.9231d762c27b.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/whats-new.json
  apps/web/styles/critical.css
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 7a772c02
  apps/web/public/whats-new.json
Due: prettier --write

perf(vpn): sw stale-while-revalidate для phase a kv (ux speedup под vpn)
  apps/web/bundle-manifest.json
  apps/web/heys_platform_apis_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.6a050b9d644f.js
  apps/web/public/boot-core.bundle.6a050b9d644f.js.gz
  apps/web/public/boot-core.bundle.87620d320416.js
  apps/web/public/boot-core.bundle.87620d320416.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/src/utils/service-worker-manager.ts
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 76704112
  apps/web/public/whats-new.json
Due: prettier --write

fix(ux): keep header mounted on tasks tab to prevent gamification flash
  apps/web/bundle-manifest.json
  apps/web/heys_app_shell_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.2bb1bddec080.js
  apps/web/public/boot-app.bundle.2bb1bddec080.js.gz
  apps/web/public/boot-app.bundle.6881a01dabed.js
  apps/web/public/boot-app.bundle.6881a01dabed.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to cdecf3d6
  apps/web/public/whats-new.json
Due: prettier --write

fix(gamification): preserve dailyBonusClaimed across cloud snapshot apply
  apps/web/bundle-manifest.json
  apps/web/heys_gamification_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.6a050b9d644f.js
  apps/web/public/boot-core.bundle.6a050b9d644f.js.gz
  apps/web/public/boot-core.bundle.9cdf2551f6a7.js
  apps/web/public/boot-core.bundle.9cdf2551f6a7.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.0c15e96391c8.js
  apps/web/public/postboot-1-game-lazy.bundle.0c15e96391c8.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.4c3377cbcdb8.js
  apps/web/public/postboot-1-game-lazy.bundle.4c3377cbcdb8.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 60ebe62e
  apps/web/public/whats-new.json
Due: prettier --write

chore: bump allowlist line numbers after gamification edits
  scripts/bootstrap-bypass-allowlist.txt
Due: none

perf(vpn): optimistic mount + soft timeout + react-bundle preload (kills 60s white screen)
  apps/web/bundle-manifest.json
  apps/web/heys_app_auth_init_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.6881a01dabed.js
  apps/web/public/boot-app.bundle.6881a01dabed.js.gz
  apps/web/public/boot-app.bundle.a482c9e8476d.js
  apps/web/public/boot-app.bundle.a482c9e8476d.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 4d7bacfb
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): meal tombstones for cross-device deletion
  apps/web/__tests__/merge-day-data.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_models_v1.js
  apps/web/heys_sync_merge_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.276307ec2d3e.js
  apps/web/public/boot-core.bundle.276307ec2d3e.js.gz
  apps/web/public/boot-core.bundle.9cdf2551f6a7.js
  apps/web/public/boot-core.bundle.9cdf2551f6a7.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500, prettier --write

fix(gamification): hot-sync merge для heys_game + helper extract
  apps/web/__tests__/sync-race-condition.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_gamification_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.9cdf2551f6a7.js
  apps/web/public/boot-core.bundle.9cdf2551f6a7.js.gz
  apps/web/public/boot-core.bundle.e77ba0fdc41d.js
  apps/web/public/boot-core.bundle.e77ba0fdc41d.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.0c15e96391c8.js
  apps/web/public/postboot-1-game-lazy.bundle.0c15e96391c8.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.a8ff3ebad47a.js
  apps/web/public/postboot-1-game-lazy.bundle.a8ff3ebad47a.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 067fc99e + allowlist drift
  apps/web/public/whats-new.json
  scripts/bootstrap-bypass-allowlist.txt
Due: prettier --write

chore(sql): messenger schema and 7 RPCs (Phase 1 foundation)
  database/2026-05-27_client_messages.sql
Due: none

fix(auth): add Access-Control-Allow-Credentials in CORS headers
  yandex-cloud-functions/heys-api-auth/index.js
Due: eslint --max-warnings=500

chore(release): bump whats-new build hash to bcf3b4b8
  apps/web/public/whats-new.json
Due: prettier --write

chore(deploy): heys-api-messages cloud function + gateway routes
  yandex-cloud-functions/api-gateway-spec-v2.yaml
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/heys-api-messages/.ycignore
  yandex-cloud-functions/heys-api-messages/index.js
  yandex-cloud-functions/heys-api-messages/package.json
  yandex-cloud-functions/heys-api-messages/shared/db-pool.js
  yandex-cloud-functions/heys-api-messages/shared/health-check.js
  yandex-cloud-functions/heys-api-messages/shared/lockbox-client.js
  yandex-cloud-functions/heys-api-messages/shared/package.json
  yandex-cloud-functions/heys-api-messages/shared/pool-metrics.js
  yandex-cloud-functions/heys-api-messages/shared/secrets.js
Due: eslint --max-warnings=500, prettier --write

feat(messenger): client UI Phase 1 — 💬 FAB + thread modal
  apps/web/bundle-manifest.json
  apps/web/heys_app_shortcuts_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_day_page_shell.js
  apps/web/heys_messenger_api_v1.js
  apps/web/heys_messenger_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.3556c4f8e68c.js
  apps/web/public/boot-app.bundle.3556c4f8e68c.js.gz
  apps/web/public/boot-app.bundle.a482c9e8476d.js
  apps/web/public/boot-app.bundle.a482c9e8476d.js.gz
  apps/web/public/boot-day.bundle.04d32d092677.js
  apps/web/public/boot-day.bundle.04d32d092677.js.gz
  apps/web/public/boot-day.bundle.19dd354fa7aa.js
  apps/web/public/boot-day.bundle.19dd354fa7aa.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.3527e00d77e0.js
  apps/web/public/postboot-3-ui-lazy.bundle.3527e00d77e0.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.e908069ae7db.js
  apps/web/public/postboot-3-ui-lazy.bundle.e908069ae7db.js.gz
  apps/web/public/sw.js
  apps/web/styles/main.css
  apps/web/styles/modules/1000-messenger.css
  packages/core/src/server.js
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to c9265d58
  apps/web/public/whats-new.json
Due: prettier --write

feat(messenger): curator UI Phase 1 — unread badges + thread preview
  apps/web/bundle-manifest.json
  apps/web/heys_app_shell_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.3556c4f8e68c.js
  apps/web/public/boot-app.bundle.3556c4f8e68c.js.gz
  apps/web/public/boot-app.bundle.faeef8d2af27.js
  apps/web/public/boot-app.bundle.faeef8d2af27.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
