Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(deploy): передать heys-mcp id клиента задачника
  yandex-cloud-functions/deploy-all.sh
Due: none

fix(day): починить настоящий источник «undefined undefined» в карточке приёма
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.71d863516d40.js
  apps/web/public/boot-calc.bundle.71d863516d40.js.gz
  apps/web/public/boot-calc.bundle.a38ae3109472.js
  apps/web/public/boot-calc.bundle.a38ae3109472.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(messenger): move offline-queue refs into MessengerModal, not SearchPanel
  apps/web/__tests__/messenger-offline-queue.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_messenger_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.6e6209c79906.js
  apps/web/public/boot-app.bundle.6e6209c79906.js.gz
  apps/web/public/boot-app.bundle.ab2187fbafe3.js
  apps/web/public/boot-app.bundle.ab2187fbafe3.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

feat(mcp): управление доской задачника из чата
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

fix(web): не читать данные клиента без авторизации на старте
  apps/web/index.html
Due: none

chore(web): законченная работа параллельных сессий одним заходом
  apps/web/__tests__/day-calendar-remove-stamps.test.js
  apps/web/__tests__/merge-saved-eaten-cache.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_day_calendar_block_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_sync_merge_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.10034725b7cd.js
  apps/web/public/boot-core.bundle.10034725b7cd.js.gz
  apps/web/public/boot-core.bundle.b7489da88200.js
  apps/web/public/boot-core.bundle.b7489da88200.js.gz
  apps/web/public/boot-day.bundle.06032fcf18a2.js
  apps/web/public/boot-day.bundle.06032fcf18a2.js.gz
  apps/web/public/boot-day.bundle.30da0138f10f.js
  apps/web/public/boot-day.bundle.30da0138f10f.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  scripts/curator-board/README.md
  scripts/curator-board/board.html
  scripts/curator-board/server.mjs
  yandex-cloud-functions/heys-api-rest/lib/heys_sync_merge_v1.cjs
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500, prettier --write

fix(app): скелетон вместо карточки «Проверяем доступ» на загрузке
  apps/web/__tests__/blank-screen-guard.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_app_gate_flow_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.6e6209c79906.js
  apps/web/public/boot-app.bundle.6e6209c79906.js.gz
  apps/web/public/boot-app.bundle.d5a0967ec408.js
  apps/web/public/boot-app.bundle.d5a0967ec408.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): пометка вида слота — не даёт доске путать врезку с конфликтом
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

feat(mcp): развилки на доску вместо вопросов в переписке
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
Due: eslint --max-warnings=500

feat(mcp): дельта изменений, связи задач и обзор находок в задачнике
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

feat(mcp): потолок и дедупликация развилок, запись исхода находки
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

feat(mcp): окружение находки в контексте и память предпочтений куратора
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

fix(mcp): траты из чата в формате доски и картина месяца после записи
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

feat(mcp): календарь загруженности и картина бюджета — контекст для планирования
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

feat(mcp): недельный эксперимент «два ответа» с записью выбора
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

fix(mcp): читать задачи раньше растущих дней — потолок чтения вытеснял проекты
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

fix(cloudfn): слепой мониторинг не считается чистым, деплой проверяет вход до мутаций
  yandex-cloud-functions/LOCKBOX_MIGRATION_GUIDE.md
  yandex-cloud-functions/SECRETS_MANAGEMENT_README.md
  yandex-cloud-functions/__tests__/check-heys-ops-status.test.cjs
  yandex-cloud-functions/check-heys-ops-status.cjs
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/heys-cron-security-alerts/__tests__/telegram-delivery.test.cjs
  yandex-cloud-functions/heys-cron-security-alerts/index.js
Due: eslint --max-warnings=500, prettier --write

feat(mcp): снять и перенести событие, закрыть день, окно чтения и порядок поиска
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

feat(mcp): норма клиента в картине дня и защита файлов куратора кодом
  scripts/lint-heys-mcp-web-mirror.mjs
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_cycle_v1.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_day_calculations.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_tdee_v1.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/index.js
Due: eslint --max-warnings=500

chore(mcp): срок эксперимента «два ответа» — по 5 августа
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
Due: eslint --max-warnings=500

fix(cloudfn): пик памяти читается из гистограммы — правило было мёртвым
  docs/reference/systems/BACKGROUND_JOBS.md
  yandex-cloud-functions/MONITORING_CHANGELOG.md
  yandex-cloud-functions/__tests__/check-heys-ops-status.test.cjs
  yandex-cloud-functions/heys-cron-security-alerts/__tests__/fixtures/monitoring-used-memory.json
  yandex-cloud-functions/heys-cron-security-alerts/__tests__/telegram-delivery.test.cjs
  yandex-cloud-functions/heys-cron-security-alerts/index.js
  yandex-cloud-functions/test-functions.sh
Due: eslint --max-warnings=500, prettier --write

feat(mcp): стенограмма диалога в правилах — она перестала писаться после переезда в облако
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
Due: eslint --max-warnings=500

chore(mcp): потолок нерешённых развилок на доске — десять вместо пяти
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

feat(mcp): планёрка — повестка, расхождения и наблюдения с обучением на ответе
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

feat(mcp): напоминание про стенограмму и ранжирование поиска по свежести
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

feat(mcp): напоминания, быстрые дела и идеи в задачнике
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

fix(web): тест мессенджера больше не зависит от дня запуска
  apps/web/__tests__/messenger-bubble-redesign.test.js
Due: eslint --max-warnings=500

feat(mcp): подготовка к событию — задача, слот и напоминание как три роли
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
Due: eslint --max-warnings=500

feat(mcp): рабочая память читается первой, слот несёт занятые ресурсы
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

feat(mcp): память учится на ответах, проверяется фактом и выносится на пересмотр
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500, prettier --write

chore(mcp): день закрывается утром за вчера, а не вечером
  yandex-cloud-functions/heys-mcp/lib/curator.js
Due: eslint --max-warnings=500

feat(mcp): жёсткая проверка заголовка стенограммы — время, не тема
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

fix(mcp): запись в задачник не пропадает молча при гонке сессий
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
Due: eslint --max-warnings=500

feat(mcp): вложения в карточки задач через приватное хранилище
  yandex-cloud-functions/heys-mcp/__tests__/attachments.test.cjs
  yandex-cloud-functions/heys-mcp/lib/assets.js
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
Due: eslint --max-warnings=500

feat(mcp): страница вложений — приложить файл к задаче с телефона
  yandex-cloud-functions/api-gateway-spec.yaml
  yandex-cloud-functions/heys-mcp/__tests__/attach-handler.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/attach.test.cjs
  yandex-cloud-functions/heys-mcp/api-gateway-mcp-paths.yaml
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/attach.js
  yandex-cloud-functions/heys-mcp/lib/oauth.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): сжатие фото на странице вложений — CSP блокировал blob
  yandex-cloud-functions/heys-mcp/index.js
Due: eslint --max-warnings=500

feat(mcp): правила поведения сведены в коннектор, записано что куда писать
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
Due: eslint --max-warnings=500

feat(mcp): сутки с 3 утра, ревизия стенограммы по отметке и пятёрка простых вопросов
  yandex-cloud-functions/heys-mcp/__tests__/attachments.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/assets.js
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

docs(mcp): README описывает ревизию стенограммы и кандидатов на потерю
  yandex-cloud-functions/heys-mcp/README.md
Due: prettier --write
