Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

chore(ui-v4): baseline 0 bare literals for 400-water CSS
  scripts/ui-v4-check-bare-color-literals.mjs
Due: none

test(ui-v4): accept v4-c1 role on advice detail close/science
  apps/web/__tests__/advice-v4-panels.test.js
Due: eslint --max-warnings=500

docs(диспетчеризация): плотность коммитов теряет файлы молча — два обязательных правила
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

chore(ui-v4): baseline bare literals 730-widgets to 111
  scripts/ui-v4-check-bare-color-literals.mjs
Due: none

fix(ui): 720-insights sand hex → v4 roles (sand-provable)
  apps/web/styles/modules/720-predictive-insights.css
Due: none

chore(ui-v4): baseline bare literals 720-predictive-insights to 209
  scripts/ui-v4-check-bare-color-literals.mjs
Due: none

fix(ui): 100-metrics bare hex → v4 roles (task 22)
  apps/web/styles/modules/100-metrics-and-graphs.css
Due: none

fix(ui): heys-components sand literals → v4 roles (task 19)
  apps/web/styles/heys-components.css
Due: none

chore(ui-v4): baseline bare literals 100-metrics 197 after task 22
  scripts/ui-v4-check-bare-color-literals.mjs
Due: none

feat(чек-ин): колесо сна крупное, своё число цели тоном текста
  apps/web/__tests__/checkin-v4-canvas-razbor.test.js
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/ui/verdicts/checkin-morning.json
Due: eslint --max-warnings=500, prettier --write

docs(легаси-токены): пять карт соответствий на 941 место, 35 развилок владельцу
  docs/ui/legacy-map-blue.md
  docs/ui/legacy-map-emerald-green.md
  docs/ui/legacy-map-gray.md
  docs/ui/legacy-map-red-pink.md
  docs/ui/legacy-map-slate.md
Due: prettier --write

feat(актив): пять голых литералов на роли, подсказка шагов на тон данных
  apps/web/styles/modules/300-modals-and-day.css
  apps/web/styles/modules/731-ui-v4-activity.css
  docs/ui/verdicts/tab-activity.json
Due: prettier --write

fix(цикл): заполненная карточка на одной поверхности с пустой, добавки вторичны
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/ui/verdicts/checkin-morning.json
Due: prettier --write

docs(легаси-токены): решение владельца по slate — шесть A, третья развилка отложена
  docs/ui/legacy-map-slate.md
Due: prettier --write

docs(легаси-токены): red-pink подтверждён владельцем, 41 место к миграции
  docs/ui/legacy-map-red-pink.md
Due: prettier --write

fix(ui): migrate --color-slate-* in 200-dark and 600-steps (task 33)
  apps/web/styles/modules/200-dark-and-effects.css
  apps/web/styles/modules/600-steps-and-aps.css
Due: none

fix(ui): migrate --color-slate-* in 200-dark and 600-steps (task 33)
  apps/web/styles/modules/200-dark-and-effects.css
  apps/web/styles/modules/610-aps-meal-flow.css
  apps/web/styles/tailwind.css
Due: none

fix(ui): slate tokens → v4 roles in 612-training-step (task 31)
  apps/web/styles/modules/612-training-step.css
Due: none

fix(ui): slate tokens to v4 roles in 100-metrics (task 30)
  apps/web/styles/modules/100-metrics-and-graphs.css
Due: none

fix(ui-v4): migrate slate tokens in base CSS (task 32)
  apps/web/styles/modules/000-base-and-gamification.css
Due: none

chore(ui-v4): foreign-fallbacks baseline after slate strip 30-34
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: none

fix(ui-v4): две голых роли в 720-insights помечены намеренными — повторно
  apps/web/styles/modules/720-predictive-insights.css
Due: none

docs(легаси-токены): развилки gray проверены правилом лестницы — снято меньше обещанного
  docs/ui/legacy-map-gray.md
Due: prettier --write

docs(ui): re-analyze gray forks under ink ladder rule
  docs/ui/legacy-map-gray.md
Due: prettier --write

fix(ui-v4): migrate --color-red-* in slate-strip files (tasks 30-34)
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/200-dark-and-effects.css
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/610-aps-meal-flow.css
Due: none

fix(ui): migrate 23 gray sites <12px to ink-data; fix dark bridge
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/200-dark-and-effects.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/610-aps-meal-flow.css
  apps/web/styles/modules/611-aps-product-card.css
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: none

docs(ui): re-analyze blue forks under §3 filter
  docs/ui/legacy-map-blue.md
Due: prettier --write

docs(легаси-токены): 68 мест gray решены правилом, а не выбором ступени
  docs/ui/legacy-map-gray.md
Due: prettier --write

docs(диспетчеризация): очередь зон вынесена в файл под будильник сессии
  docs/ui/UI_V4_ZONE_QUEUE.md
Due: prettier --write

docs(ui): re-analyze emerald-green legacy map under section-3 filter
  docs/ui/legacy-map-emerald-green.md
Due: prettier --write

fix(ui): migrate gray legacy tokens per owner rule (task 38)
  apps/web/styles/heys-components.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/610-aps-meal-flow.css
  apps/web/styles/modules/611-aps-product-card.css
Due: none

fix(ui): migrate blue legacy tokens per map section 3 (task 39)
  apps/web/__tests__/step-modal-shell-v4.test.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/740-cascade-card.css
Due: eslint --max-warnings=500

fix(ui): bridge D1/D2 and dark gray-500 alias (task 40)
  apps/web/styles/modules/200-dark-and-effects.css
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: none

revert(scope): undo task 38 changes in 500-pwa — Claude check-in zone
  apps/web/styles/modules/500-pwa-and-offline.css
Due: none

fix(палитра): чернила данных в синем наборе подняты до .64 — мелкий текст не проходил 4,5
  apps/web/styles/modules/002-ui-v4-palette-roles.css
Due: none

docs(диспетчеризация): очередь зон перестроена под 28-ю сборку пакета
  docs/ui/UI_V4_ZONE_QUEUE.md
Due: prettier --write

feat(цикл): зона сведена, заголовки строк стали вторичными
  apps/web/styles/modules/732-ui-v4-nutrition.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/cycle.json
Due: prettier --write

fix(цикл): вернуть вторичный заголовок строки, снесённый чужим откатом
  apps/web/styles/modules/500-pwa-and-offline.css
Due: none

docs(диспетчеризация): моя проверка «файл цел» была слепа к искомой потере
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

fix(роли): красный легаси-токен ушёл из двух файлов чек-ина
  apps/web/styles/modules/300-modals-and-day.css
  apps/web/styles/modules/500-pwa-and-offline.css
Due: none

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
