Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(ui): nutrition v4 CSS pass classic-drift and undefined-roles gates
  apps/web/styles/modules/732-ui-v4-nutrition.css
Due: none

fix(ui): nutrition supplements use canonical v4 role fallbacks
  apps/web/styles/modules/732-ui-v4-nutrition.css
Due: none

fix(ui): classic drift in widgets FAB CSS; variant catalog count 59
  apps/web/__tests__/widget-variants-v4.test.js
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

fix(ci): timezone-safe date-header-row test; rehash home-widgets вид кнопки
  apps/web/__tests__/date-header-row.test.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(scripts): do not run ensure:local main on import
  scripts/ensure-local-toolchain.mjs
Due: none

fix(ci): water chip test stub + nutrition canvas geometry (52px/8px)
  apps/web/__tests__/heys-day-water-persistence.test.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
Due: eslint --max-warnings=500

test(e2e): cascade legacy migration contract + smoke docs
  .gitignore
  .gitleaks.toml
  AGENTS.md
  CLAUDE.md
  TESTS/e2e/README.md
  TESTS/e2e/products-cascade-client-scope-smoke.spec.ts
  docs/reference/systems/E2E_SMOKE.md
  docs/reference/systems/PRODUCTS_AND_SEARCH.md
Due: eslint --max-warnings=500, prettier --write

docs(ui): §11 — аудит соответствия контракта коду, сверка 2026-08-24
  docs/README.md
  docs/ui/ui-v4-canvas-brief.html
  docs/ui/ui-v4-canvas-brief.md
Due: prettier --write

docs(ui): §0 — снять блок с «Питания», отметить частичный контракт «Инсайтов»
  docs/ui/ui-v4-canvas-brief.html
  docs/ui/ui-v4-canvas-brief.md
Due: prettier --write

docs(ui): §0 — блок по согласованию макета для пяти зон (владелец 24.08)
  docs/ui/ui-v4-canvas-brief.html
  docs/ui/ui-v4-canvas-brief.md
Due: prettier --write

docs(e2e): E2E_SMOKE passport + Facts Table for reference check
  docs/reference/systems/E2E_SMOKE.md
  docs/reference/systems/README.md
Due: prettier --write

docs(ui): §11 — вторая ревизия контракта против кода, седьмая сборка
  docs/ui/ui-v4-canvas-brief.html
  docs/ui/ui-v4-canvas-brief.md
Due: prettier --write

docs(ui): восьмая сборка — девять расхождений пакета закрыты, вердикт о готовности
  docs/ui/ui-v4-canvas-brief.html
  docs/ui/ui-v4-canvas-brief.md
Due: prettier --write

docs(ui): снимок вердиктов закрыт на все 17 зон, построчная ревизия восьмой сборки
  docs/ui/ui-v4-canvas-brief.md
  docs/ui/ui-v4-contract-verdicts.json
  scripts/ui-v4-import-verdicts.mjs
Due: prettier --write

fix(ui-v4): гигиена канвасов считала распорки кадрами
  docs/ui/ui-v4-canvas-brief.md
  scripts/ui-v4-check-contract-drift.mjs
Due: prettier --write

docs(ui): девятая сборка — разобраны пять строк checkin-morning, одна закрылась
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

fix(ui-v4): определить роль --v4-card в песочной и синей палитрах
  apps/web/styles/modules/002-ui-v4-palette-roles.css
Due: none

fix(ui-v4): определить роль --v4-chip / --v4-chip-2 как вторую поверхность
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/500-pwa-and-offline.css
  scripts/ui-v4-check-undefined-roles.mjs
Due: none

test(ui-v4): закрепить роли поверхностей и поправить запись про лист куратора
  apps/web/__tests__/v4-palette-roles-contract.test.js
  docs/ui/ui-v4-canvas-brief.md
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): цель касания 44 pt там, где рисунок меньше
  apps/web/__tests__/v4-tap-target-contract.test.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): четыре открытых вопроса по сведению — в UI_V4_FINDINGS
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

fix(ui-v4): минимальные высоты 48 там, где контракт требует прямо
  apps/web/styles/heys-components.css
  apps/web/styles/modules/733-ui-v4-login-theme.css
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

feat(widgets): карточка быстрых действий читает настройки состава
  apps/web/__tests__/widgets-quick-actions-v4.test.js
  apps/web/heys_day_page_shell.js
  apps/web/heys_widgets_ui_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): шторка настроек и лист «на домашний экран» — по контракту
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

fix(settings): ярус называется «Быстрые действия», не «Плавающие кнопки»
  apps/web/__tests__/fab-visibility.test.js
  apps/web/heys_app_shell_v1.js
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(gamification): отбор, порядок и геометрия экрана достижений
  apps/web/__tests__/gamification-v4-order.test.js
  apps/web/heys_gamification_screens_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(date): капсула, стрелки, клетка календаря и толщина меток
  apps/web/styles/modules/000-base-and-gamification.css
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

fix(tips): полоса состояния, шторка без блюра, бейдж счётчика
  apps/web/day/_advice.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/400-water-and-hydration.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(checkin): чип добавки, поле поиска, плашка согласия и засечки дорожки
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/715-yesterday-verify.css
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

fix(login): ширина карточки, слот ошибки, кнопка в синей, тёмные наборы
  apps/web/__tests__/login-v4-structure.test.js
  apps/web/styles/modules/733-ui-v4-login-theme.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(widgets): нахлёст волн тёплым акцентом, строки карточки 44 px
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(intake): анкета — блокировка с причиной, прокрутка предупреждения, роли набора
  apps/web/__tests__/intake-v4-blocked-action.test.js
  apps/web/heys_trial_intake_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): пять точечных строк в четырёх зонах
  apps/web/heys_platform_apis_v1.js
  apps/web/heys_profile_step_v1.js
  apps/web/public/icon-v4-apple.svg
  apps/web/public/icon-v4.svg
  apps/web/styles/heys-components.css
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(undo): перенос и копирование приёма — через бар отмены, не тостом
  apps/web/day/_meals.js
  apps/web/heys_toast_v1.js
  apps/web/heys_undo_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): доступность листа куратора и слоя обновления
  apps/web/heys_curator_actions_banner_v1.js
  apps/web/heys_platform_apis_v1.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(water): звук капли по числам контракта
  apps/web/__tests__/water-drop-sound-contract.test.js
  apps/web/heys_audio_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(nutrition): плашка режима чтения, тон шеврона, цвет числа в жёлтой зоне
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(settings): порядок чипов и шапка листа «на домашний экран»
  apps/web/__tests__/fab-visibility.test.js
  apps/web/heys_fab_visibility_v1.js
  apps/web/heys_push_v1.js
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write
