Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix(ui-v4): resolve duplicate canvas oids by oid + screen-label
  apps/web/__tests__/ui-v4-reverse-coverage.test.js
  apps/web/scripts/ui-v4-visual-fixture.mjs
  scripts/lib/ui-v4-canvas-index.mjs
Due: eslint --max-warnings=500

fix(ui): shrink undefined v4 roles allowlist 15 to 4
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/611-aps-product-card.css
  apps/web/styles/modules/715-yesterday-verify.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/734-ui-v4-insights.css
  scripts/ui-v4-check-undefined-roles.mjs
Due: none

fix(web): replace home-widgets emoji with outline glyphs
  apps/web/__tests__/cycle-v4-contract.test.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
Due: eslint --max-warnings=500

test(ui-v4): guard roles in expectations, not hex literals
  apps/web/__tests__/add-product-presets-v4-structure.test.js
  apps/web/__tests__/add-product-search-v4-structure.test.js
  apps/web/__tests__/advice-v4-panels.test.js
  apps/web/__tests__/checkin-v4-canvas-razbor.test.js
  apps/web/__tests__/curator-edits-splash-v4-canvas-razbor.test.js
  apps/web/__tests__/cycle-v4-canvas-razbor.test.js
  apps/web/__tests__/day-decision-banner-contract.test.js
  apps/web/__tests__/gamification-level-ceremony.test.js
  apps/web/__tests__/intake-v4-blocked-action.test.js
  apps/web/__tests__/login-v4-canvas-razbor.test.js
  apps/web/__tests__/login-v4-structure.test.js
  apps/web/__tests__/meal-add-flow-v4-structure.test.js
  apps/web/__tests__/morning-checkin-v4-layout-smoke.test.js
  apps/web/__tests__/norm-correction-goal-popup.test.js
  apps/web/__tests__/nutrition-v4-canvas-razbor.test.js
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/__tests__/one-wait-sign-smoke.test.js
  apps/web/__tests__/pwa-update-logic.test.js
  apps/web/__tests__/questionnaire-v4-contract-geometry.test.js
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/__tests__/reports-v4-weight-empty-state.test.js
  apps/web/__tests__/settings-cycle-v4-canvas-razbor.test.js
  apps/web/__tests__/strength-builder-finish-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-interrupted-v4-canvas-contract.test.js
  apps/web/__tests__/tab-activity-v4-current-contract.test.js
  apps/web/__tests__/widgets-v4-sphere.test.js
Due: eslint --max-warnings=500

docs(диспетчеризация): реестр занятых файлов между Cursor и сессиями Claude
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

fix(e2e): curator Open diary entry and switch poll
  TESTS/e2e/helpers/curator-auth.ts
Due: eslint --max-warnings=500

docs(вердикты): силовая пересмотрена под пакет 3 сентября
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/verdicts/strength-builder.json
  scripts/lib/ui-v4-verdicts.mjs
Due: eslint --max-warnings=500, prettier --write

fix(приёмка): отпечатки 14 зон пересняты, гейт полноты кадров ушёл в свой контур
  apps/web/vitest.config.ts
  docs/ui/verdicts/checkin-morning.json
  docs/ui/verdicts/curator-cabinet.json
  docs/ui/verdicts/date-remainders.json
  docs/ui/verdicts/login.json
  docs/ui/verdicts/norm-correction.json
  docs/ui/verdicts/nutrition-tab.json
  docs/ui/verdicts/product-card.json
  docs/ui/verdicts/questionnaire.json
  docs/ui/verdicts/registration.json
  docs/ui/verdicts/reports-insights.json
  docs/ui/verdicts/settings-system.json
  docs/ui/verdicts/tab-activity.json
  docs/ui/verdicts/tips.json
  docs/ui/verdicts/water-add.json
Due: eslint --max-warnings=500, prettier --write

fix(приёмка): заморозка legacy-долга опущена по четырём зонам, реестр закрыл две дырки
  docs/ui/UI_V4_DISPATCH_LEDGER.md
  scripts/lib/ui-v4-verdicts.mjs
Due: prettier --write

docs(диспетчеризация): очередь на сессии Claude, исключения дошли до таблицы
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

docs(вердикты): долгое нажатие Главной закрыто — эмодзи-набор снят
  docs/ui/verdicts/home-widgets.json
Due: prettier --write

docs(диспетчеризация): зелёный дрейф не освобождает файлы зоны
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

test(силовая): приёмка Б1 знает про два состояния и роли кадра
  apps/web/__tests__/strength-builder-empty-v4-canvas-contract.test.js
  apps/web/__tests__/strength-builder-ui.test.js
Due: eslint --max-warnings=500

docs(диспетчеризация): масштаб strength-builder посчитан дважды и записан
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

docs(диспетчеризация): полоса Cursor закрыта, norm-correction отдана, заведена задача 7
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

docs(диспетчеризация): шесть задач Cursor разведены по файлам, ни одного пересечения
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

docs(диспетчеризация): полоса Cursor коммитит только явными путями
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

fix(ui): use text roles instead of fill for text color
  apps/web/styles/modules/720-predictive-insights.css
  apps/web/styles/modules/725-metabolic-intelligence.css
Due: none

fix(ui): text color uses ok-text role in metrics CSS
  apps/web/styles/modules/500-pwa-and-offline.css
Due: none

fix(ui): text color uses ok-text role in metrics CSS
  apps/web/styles/heys-components.css
  apps/web/styles/modules/100-metrics-and-graphs.css
Due: none

fix(ui): fill→text roles in widgets and gamification CSS
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/730-widgets-dashboard.css
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: none

fix(ui-v4): заливочная роль ok-fill на тексте — ok-text
  apps/web/styles/modules/715-yesterday-verify.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
Due: none

refactor(steps): remove dead icon field from step registrations
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_meal_step_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_steps_v1.js
Due: eslint --max-warnings=500

fix(ui): correct foreign-fallbacks baseline after task 3
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: none

docs(диспетчеризация): стоп-лист — правка CSS под незакоммиченное утверждение
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

feat(норма): ветка «замеров обхватов не было» сведена с кадром
  apps/web/__tests__/norm-correction.test.js
  apps/web/__tests__/ui-v4-completed-frame-evidence.test.js
  apps/web/heys_norm_correction_v1.js
  apps/web/scripts/ui-v4-completed-frame-evidence.mjs
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/verdicts/norm-correction.json
Due: eslint --max-warnings=500, prettier --write

fix(деплой): график и граница вернулись к заливочной роли, два теста — к своему правилу
  apps/web/__tests__/cycle-v4-contract.test.js
  apps/web/__tests__/widgets-weight-dynamics-chart-2x2.test.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: eslint --max-warnings=500, prettier --write

docs(вердикты): резервный вопрос разобран, слой оказался несведённым
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/checkin-morning.json
Due: prettier --write

docs(диспетчеризация): раздача 13–18 — литералы, равные значению роли
  docs/ui/UI_V4_DISPATCH_LEDGER.md
Due: prettier --write

style(ui-v4): bare hex to v4 roles in water CSS
  apps/web/styles/modules/400-water-and-hydration.css
Due: none

fix(ui-v4): sand hex to v4 roles in base CSS
  apps/web/styles/modules/000-base-and-gamification.css
Due: none

feat(чек-ин): лист причины пропуска сведён с кадром и снят с прежней системы
  apps/web/__tests__/checkin-reserve-question-v4.test.js
  apps/web/heys_steps_v1.js
  apps/web/scripts/ui-v4-visual-capture.mjs
  apps/web/scripts/ui-v4-visual-fixture.mjs
  apps/web/styles/modules/300-modals-and-day.css
  docs/ui/verdicts/checkin-morning.json
Due: eslint --max-warnings=500, prettier --write

fix(ui): map sand hex literals to v4 roles in heys-components
  apps/web/styles/heys-components.css
Due: none

fix(ui): 730-widgets hex literals → v4 roles (sand-provable)
  apps/web/styles/modules/730-widgets-dashboard.css
Due: none

fix(ui): login theme sand hex → v4 roles (task 17)
  apps/web/styles/modules/733-ui-v4-login-theme.css
Due: none

style(ui-v4): sand literals to roles in metabolic/product-card (task 18)
  apps/web/styles/modules/611-aps-product-card.css
  apps/web/styles/modules/725-metabolic-intelligence.css
Due: none

docs(находки): двойной заголовок листа — следствие несведённого слоя
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

chore(ui-v4): baseline bare literals 000-base-and-gamification (347)
  scripts/ui-v4-check-bare-color-literals.mjs
Due: none

chore(ui-v4): baseline bare literals 730-widgets to 111
  scripts/ui-v4-check-bare-color-literals.mjs
Due: none

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
