Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

docs(legal): add refund.md + tax retention clause + RKN drip-minimization note
  apps/web/public/docs/privacy-policy.md
  apps/web/public/docs/refund.md
  docs/legal/operator/rkn-notification-heys.md
Due: prettier --write

feat(payments): require payment_oferta consent before INSERT
  yandex-cloud-functions/heys-api-payments/index.js
Due: eslint --max-warnings=500

chore(release): bump whats-new build hash to d9623d82
  apps/web/public/whats-new.json
Due: prettier --write

fix(payments): sync cloud function PLANS prices with landing (2990/7990/14990)
  yandex-cloud-functions/heys-api-payments/index.js
Due: eslint --max-warnings=500

chore(release): bump whats-new build hash to 4fdbccf3
  apps/web/public/whats-new.json
Due: prettier --write

chore(scripts): extend check-pricing-sync to legacy bundle and cloud function
  scripts/bootstrap-bypass-allowlist.txt
  scripts/check-pricing-sync.cjs
Due: none

chore(release): bump whats-new build hash to 3e9194d1
  apps/web/public/whats-new.json
Due: prettier --write

chore(test): exclude .claude/worktrees from vitest scan
  vitest.config.ts
Due: eslint --max-warnings=500

feat(auth): weak-PIN blocklist + PIN recovery hint on login
  apps/web/bundle-manifest.json
  apps/web/heys_auth_v1.js
  apps/web/heys_login_screen_v1.js
  apps/web/heys_user_tab_impl_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.656319f5e30b.js
  apps/web/public/boot-app.bundle.656319f5e30b.js.gz
  apps/web/public/boot-app.bundle.fe5971155aeb.js.gz
  apps/web/public/boot-core.bundle.a261a6615f20.js
  apps/web/public/boot-core.bundle.a261a6615f20.js.gz
  apps/web/public/boot-core.bundle.ddd758a9a9e8.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.badeb8234c73.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.d1b73672ecb4.js
  apps/web/public/postboot-1-game-lazy.bundle.d1b73672ecb4.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 844c7edc
  apps/web/public/whats-new.json
Due: prettier --write

fix(auth): scope weak-PIN blocklist to PIN creation/reset only
  apps/web/__tests__/heys-auth-create-reset-pin.test.js
  apps/web/__tests__/heys-auth-login-client.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_auth_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.656319f5e30b.js.gz
  apps/web/public/boot-app.bundle.d5465ac4d58a.js
  apps/web/public/boot-app.bundle.d5465ac4d58a.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 01677816
  apps/web/public/whats-new.json
Due: prettier --write

fix(rpc): inject session cookie only for *_by_session functions
  apps/web/bundle-manifest.json
  apps/web/heys_yandex_api_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to d154494a
  apps/web/public/whats-new.json
Due: prettier --write

feat(consents): re-consent grace + age-gate + outdated-banner wiring
  apps/web/bundle-manifest.json
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_app_gate_state_v1.js
  apps/web/heys_app_root_impl_v1.js
  apps/web/heys_app_runtime_effects_v1.js
  apps/web/heys_app_runtime_state_v1.js
  apps/web/heys_consents_v1.js
  apps/web/heys_subscriptions_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  database/2026-05-20_compliance_overhaul_fix4.sql
  database/2026-05-21_curator_changelog_dedup.sql
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 3be51b4c
  apps/web/public/whats-new.json
Due: prettier --write

test(planning): cover gantt migration idempotent backfill
  apps/web/__tests__/gantt-migration.test.js
Due: eslint --max-warnings=500

chore(release): bump whats-new build hash to ba99764d
  apps/web/public/whats-new.json
Due: prettier --write

chore(allowlist): sync auth bootstrap-bypass line numbers (316, 323)
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore(release): bump whats-new build hash to eabd06e3
  apps/web/public/whats-new.json
Due: prettier --write

chore(sms): retire SMS verification infra + cleanup internal legal docs
  apps/web/bundle-manifest.json
  apps/web/heys_consents_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.afaca4f152ee.js
  apps/web/public/postboot-1-game-lazy.bundle.afaca4f152ee.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.d1b73672ecb4.js.gz
  apps/web/public/sw.js
  docs/legal/operator/internal-policy-pdn.md
  docs/legal/operator/rkn-notification-heys.md
  docs/legal/subprocessors.md
  yandex-cloud-functions/.env.example
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to b9cc3c10
  apps/web/public/whats-new.json
Due: prettier --write

chore(release): bump whats-new build hash to 0a0d8a83
  apps/web/public/whats-new.json
Due: prettier --write

chore(allowlist): sync consents allowlist line numbers (b9cc3c10)
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore(release): bump whats-new build hash to 3decaa3f
  apps/web/public/whats-new.json
Due: prettier --write

fix(bot-client): remove dangerous fallback to curator bot token
  yandex-cloud-functions/heys-backup/.ycignore
  yandex-cloud-functions/heys-bot-client/index.js
Due: eslint --max-warnings=500

chore(release): bump whats-new build hash to 3ea3b5fd
  apps/web/public/whats-new.json
Due: prettier --write

fix(cloud-fns,tests): ssl in maintenance, flaky relapse test, secrets cleanup
  apps/web/__tests__/heys_relapse_risk.test.js
  yandex-cloud-functions/heys-api-leads/index.js
  yandex-cloud-functions/heys-cron-security-alerts/index.js
  yandex-cloud-functions/heys-maintenance/index.js
  yandex-cloud-functions/heys-maintenance/shared/db-pool.js
Due: eslint --max-warnings=500

chore(release): bump whats-new build hash to 7c48b218
  apps/web/public/whats-new.json
Due: prettier --write

feat(web): loading progress UI for cold and slow network loads
  apps/web/bundle-manifest.json
  apps/web/heys_app_dependency_loader_v1.js
  apps/web/heys_app_initialize_v1.js
  apps/web/heys_loading_progress_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.a439d849dd45.js
  apps/web/public/boot-core.bundle.a439d849dd45.js.gz
  apps/web/public/boot-core.bundle.c4dce197d0ba.js
  apps/web/public/boot-core.bundle.c4dce197d0ba.js.gz
  apps/web/public/boot-init.bundle.603dd828571d.js
  apps/web/public/boot-init.bundle.603dd828571d.js.gz
  apps/web/public/boot-init.bundle.a261f6f72353.js
  apps/web/public/boot-init.bundle.a261f6f72353.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new entries for Track A (b098ce49) and Track B (a47c20a8)
  apps/web/public/whats-new.json
Due: prettier --write

chore(release): bump whats-new build hash to fa52d923
  apps/web/public/whats-new.json
Due: prettier --write

fix(deploy): pre-zip source so big node_modules don't bypass .ycignore
  yandex-cloud-functions/deploy-all.sh
Due: none

chore(gitignore): ignore .env.backup-* files
  .gitignore
Due: none

chore(release): bump whats-new build hash to 14013cbe
  apps/web/public/whats-new.json
Due: prettier --write

perf(web): meals UI ушёл в lazy chunk + DatePicker preload + dep guard
  apps/web/__perf_baselines__/boot-split-baselines.json
  apps/web/bundle-manifest.json
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_pickers.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_postboot3_facade_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.623349d3ebea.js
  apps/web/public/boot-calc.bundle.623349d3ebea.js.gz
  apps/web/public/boot-calc.bundle.996aa71908ac.js
  apps/web/public/boot-calc.bundle.996aa71908ac.js.gz
  apps/web/public/boot-day.bundle.31bbb80a4d01.js
  apps/web/public/boot-day.bundle.31bbb80a4d01.js.gz
  apps/web/public/boot-day.bundle.6662cbe80c86.js
  apps/web/public/boot-day.bundle.6662cbe80c86.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-eager.bundle.3dd7bf670e52.js
  apps/web/public/postboot-3-ui-eager.bundle.3dd7bf670e52.js.gz
  apps/web/public/postboot-3-ui-eager.bundle.c8fad97e55d3.js
  apps/web/public/postboot-3-ui-eager.bundle.c8fad97e55d3.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.26cf931aecc2.js
  apps/web/public/postboot-3-ui-lazy.bundle.26cf931aecc2.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.b76e8df8169a.js
  apps/web/public/postboot-3-ui-lazy.bundle.b76e8df8169a.js.gz
  apps/web/public/sw.js
  apps/web/scripts/bundle-day.cjs
  scripts/legacy-bundle-config.mjs
  scripts/verify-legacy-bundles.mjs
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to b3a7f37a
  apps/web/public/whats-new.json
Due: prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
