Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

feat(norm): расчёт поправки на факт — коэффициент, гейт данных, границы
  apps/web/__tests__/norm-correction.test.js
  apps/web/heys_norm_correction_v1.js
  apps/web/heys_weekly_reports_v2.js
  docs/ui/ui-v4-contract-verdicts.json
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

feat(norm): модель кураторской карточки поправки
  apps/web/__tests__/norm-correction.test.js
  apps/web/heys_norm_correction_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(norm): строка поправки на факт в разборе нормы дня
  apps/web/__tests__/norm-correction-goal-popup.test.js
  apps/web/heys_day_stats_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(norm): поправка на факт входит в норму дня — хранение, применение, история
  apps/web/__tests__/norm-correction-applied.test.js
  apps/web/__tests__/norm-correction-goal-popup.test.js
  apps/web/heys_day_norm_v1.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_norm_correction_v1.js
  apps/web/heys_user_v12.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_day_norm_v1.js
Due: eslint --max-warnings=500

feat(норма): типографика строки поправки и модель кадров недельной сверки
  apps/web/__tests__/norm-correction.test.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_norm_correction_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(норма): кадры недельной сверки в понедельничной шторке
  apps/web/__tests__/norm-correction-weekly-card.test.js
  apps/web/__tests__/norm-correction.test.js
  apps/web/heys_norm_correction_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/styles/heys-components.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(норма): «применено» на Pro относится к текущей неделе
  apps/web/__tests__/norm-correction.test.js
  apps/web/heys_norm_correction_v1.js
Due: eslint --max-warnings=500

fix(норма): поправка действует с даты применения, рост применяется сам
  apps/web/__tests__/norm-correction-applied.test.js
  apps/web/__tests__/norm-correction-weekly-card.test.js
  apps/web/heys_day_norm_v1.js
  apps/web/heys_norm_correction_v1.js
  apps/web/heys_weekly_reports_v2.js
  docs/ui/ui-v4-contract-verdicts.json
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_day_norm_v1.js
Due: eslint --max-warnings=500, prettier --write

fix(норма): тариф определяется по подписке, на Pro у числа один хозяин
  apps/web/__tests__/norm-correction.test.js
  apps/web/heys_norm_correction_v1.js
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): пакет дизайна и материалы параллельных сессий из рабочего дерева
  .gitignore
  apps/web/scripts/ui-v4-visual-fixture.mjs
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-norm-correction.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-reports-insights.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/norm-correction.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/reports-insights.v4.dc.html
  scripts/bootstrap-bypass-allowlist.txt
Due: prettier --write

chore(build): доснять версию сборки и allowlist прямых записей
  apps/web/bundle-manifest.json
  apps/web/heys_pwa_module_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.0f9ed26aa257.js
  apps/web/public/boot-core.bundle.0f9ed26aa257.js.gz
  apps/web/public/boot-core.bundle.96266d9cbb98.js
  apps/web/public/boot-core.bundle.96266d9cbb98.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/version.json
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(tests): починить два гейта деплоя — зона поправки и поиск onClose
  apps/web/__tests__/registration-welcome-split-smoke.test.js
  apps/web/scripts/ui-v4-visual-fixture.mjs
Due: eslint --max-warnings=500

chore(build): бандлы и штамп версии под текущий HEAD
  apps/web/bundle-manifest.json
  apps/web/heys_pwa_module_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.0f9ed26aa257.js
  apps/web/public/boot-core.bundle.0f9ed26aa257.js.gz
  apps/web/public/boot-core.bundle.98914ca20ebc.js
  apps/web/public/boot-core.bundle.98914ca20ebc.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

fix(css): вернуть дашборд виджетов в прод — @import без query-строки
  apps/web/styles/main.css
Due: none

perf(boot): убрать второй react-bundle и ложный таймаут service worker
  apps/web/__tests__/boot-assets-guard.test.js
  apps/web/index.html
  apps/web/public/sw.js
Due: eslint --max-warnings=500

fix(норма): отсутствие довода перестройки больше не проходит молча
  apps/web/__tests__/norm-correction-weekly-card.test.js
  apps/web/__tests__/norm-correction.test.js
  apps/web/heys_norm_correction_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/styles/heys-components.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(login): вернуть крупный номер телефона — верны кадры, а не строка
  apps/web/__tests__/login-phone-type-scale.test.js
  apps/web/styles/modules/733-ui-v4-login-theme.css
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): дополнить разбор поля телефона — строка канваса исправлена
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: prettier --write

feat(rpc): разрешить два кураторских агрегата для панели
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

feat(куратор): серверная часть панели — окно дней и профильный контекст
  apps/web/__tests__/curator-panel-server-contract.test.js
  apps/web/heys_yandex_api_v1.js
  scripts/db/migrations/2026-08-30_curator_panel_window_and_norm_context.sql
Due: eslint --max-warnings=500

feat(куратор): сборка панели — окно и профили в поправку по каждому клиенту
  apps/web/__tests__/curator-panel-rows.test.js
  apps/web/heys_norm_correction_v1.js
  apps/web/heys_widgets_weight_dynamics_v4.js
Due: eslint --max-warnings=500

feat(куратор): состояния строки панели по контракту кабинета
  apps/web/__tests__/curator-panel-rows.test.js
  apps/web/heys_norm_correction_v1.js
  apps/web/scripts/ui-v4-visual-fixture.mjs
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(норма): признак Pro — наличие куратора, а не оплаченный план
  apps/web/__tests__/norm-correction.test.js
  apps/web/heys_norm_correction_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(норма): тариф по назначенному куратору, порог в баннере из константы
  apps/web/__tests__/curator-panel-rows.test.js
  apps/web/__tests__/low-cal-banner-threshold.test.js
  apps/web/__tests__/norm-correction.test.js
  apps/web/heys_day_low_cal_banner_v1.js
  apps/web/heys_norm_correction_v1.js
  apps/web/heys_yandex_api_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(reports): два яруса сведены с контрактом — замеры вместо совета, кривые вместо средних
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/__tests__/reports-tiers-contract.test.js
  apps/web/heys_day_stats_v1.js
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(day): баннер решения о дне и карточка подтверждения по контракту
  apps/web/__tests__/day-decision-banner-contract.test.js
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/heys_day_low_cal_banner_v1.js
  apps/web/heys_day_stats_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(trainings): метрика роста рабочих весов — косвенный довод перестройки
  apps/web/__tests__/working-weights.test.js
  apps/web/heys_working_weights_v1.js
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500

feat(норма): косвенный довод перестройки — вторая ступень лестницы заработала
  apps/web/__tests__/norm-correction.test.js
  apps/web/heys_norm_correction_v1.js
  apps/web/heys_working_weights_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(sync): пустая строка тренировки больше не стирает заполненную
  apps/web/__tests__/sync-merge-empty-training-row.test.js
  apps/web/heys_sync_merge_v1.js
  yandex-cloud-functions/heys-api-rest/lib/heys_sync_merge_v1.cjs
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500

feat(норма): предел заморозки, геометрия доводов и починка ролей канваса
  apps/web/__tests__/norm-correction-goal-popup.test.js
  apps/web/__tests__/norm-correction.test.js
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_norm_correction_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(куратор): панель — пятая вкладка кабинета
  apps/web/__tests__/curator-panel-view.test.js
  apps/web/heys_curator_panel_v1.js
  apps/web/styles/main.css
  apps/web/styles/modules/734-ui-v4-curator-panel.css
  docs/ui/ui-v4-contract-verdicts.json
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

feat(куратор): панель — пятая вкладка кабинета
  apps/web/heys_app_gate_flow_v1.js
Due: eslint --max-warnings=500

fix(поправка): заморозка называет свой срок, а не молчит о нём
  apps/web/__tests__/norm-correction.test.js
  apps/web/heys_norm_correction_v1.js
Due: eslint --max-warnings=500

docs(ui): вердикты поправки догнали код, устаревшая строка контракта — дизайнеру
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

fix(куратор): панель после первого взгляда глазами — четыре расхождения
  apps/web/__tests__/curator-panel-view.test.js
  apps/web/heys_curator_panel_v1.js
Due: eslint --max-warnings=500

docs(ui): вердикты кабинета описывают панель после сверки глазами
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

feat(куратор): панель сведена с кадрами канваса и закрыта тестом сверки
  apps/web/__tests__/curator-panel-canvas-geometry.test.js
  apps/web/__tests__/curator-panel-view.test.js
  apps/web/heys_curator_panel_v1.js
  apps/web/styles/modules/734-ui-v4-curator-panel.css
Due: eslint --max-warnings=500

docs(ui): вердикты панели после сведения и две записи дизайнеру
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

docs(ui): канвас кураторского кабинета — в репозиторий
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-curator-cabinet.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/curator-cabinet.v4.dc.html
Due: prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
