Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(products): block unresolved shared nutrients
  apps/web/__tests__/overlay-cloud-snapshot-suppress.test.js
  apps/web/__tests__/product-commit-gate-contract.test.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_products_overlay_v1.js
  apps/web/styles/modules/600-steps-and-aps.css
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

fix(subscription): fail closed on unknown access
  apps/web/__tests__/subscription-curator-guard.test.js
  apps/web/day/_meals.js
  apps/web/heys_day_day_handlers.js
  apps/web/heys_day_tab_render_v1.js
  apps/web/heys_paywall_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_subscription_v1.js
  apps/web/heys_subscriptions_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

fix(training): verify local save before success
  apps/web/__tests__/training-step-drums-tab.test.js
  apps/web/heys_training_step_v1.js
Due: eslint --max-warnings=500

fix(nutrition): preserve explicit zero gram items
  apps/web/__tests__/item-grams-zero-contract.test.js
  apps/web/advice/_emotional.js
  apps/web/advice/_nutrition.js
  apps/web/advice/_other.js
  apps/web/advice/_timing.js
  apps/web/day/_meals.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_copy_meal_modal_v1.js
  apps/web/heys_day_insulin_wave_data_v1.js
  apps/web/heys_day_stats_vm_v1.js
  apps/web/heys_iw_calc.js
  apps/web/heys_iw_constants.js
  apps/web/heys_models_v1.js
  apps/web/heys_storage_layer_v1.js
  apps/web/heys_supplements_science_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/insights/pi_analytics_api.js
  apps/web/insights/pi_product_picker.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

fix(mobility): gate safety and recover paired saves
  apps/web/__tests__/mobility-assessment-readiness.test.js
  apps/web/__tests__/mobility-entry.test.js
  apps/web/__tests__/mobility-records-progression.test.js
  apps/web/__tests__/mobility-ui.test.js
  apps/web/mobility/IMPLEMENTATION_PROTOCOL.md
  apps/web/mobility/heys_mobility_entry_v1.js
  apps/web/mobility/heys_mobility_onboarding_v1.js
  apps/web/mobility/heys_mobility_records_store_v1.js
  apps/web/mobility/heys_mobility_ui_v1.js
Due: eslint --max-warnings=500, prettier --write

fix(build): track mobility bundle generation
  apps/web/bundle-manifest.json
  apps/web/heys_advice_bundle_v1.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_mobility_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.232f093b62a4.js
  apps/web/public/boot-app.bundle.232f093b62a4.js.gz
  apps/web/public/boot-app.bundle.8eeee81bb22b.js
  apps/web/public/boot-app.bundle.8eeee81bb22b.js.gz
  apps/web/public/boot-calc.bundle.479d9d1aa373.js
  apps/web/public/boot-calc.bundle.479d9d1aa373.js.gz
  apps/web/public/boot-calc.bundle.c03b6c21b0ad.js
  apps/web/public/boot-calc.bundle.c03b6c21b0ad.js.gz
  apps/web/public/boot-core.bundle.05c32c6388fb.js
  apps/web/public/boot-core.bundle.05c32c6388fb.js.gz
  apps/web/public/boot-core.bundle.8934bf20e8d6.js
  apps/web/public/boot-core.bundle.8934bf20e8d6.js.gz
  apps/web/public/boot-day.bundle.65e8a4444e11.js
  apps/web/public/boot-day.bundle.65e8a4444e11.js.gz
  apps/web/public/boot-day.bundle.9a56507cff47.js
  apps/web/public/boot-day.bundle.9a56507cff47.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.5506de14c233.js
  apps/web/public/postboot-1-game-lazy.bundle.5506de14c233.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.c2af13ba1c06.js
  apps/web/public/postboot-1-game-lazy.bundle.c2af13ba1c06.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.899d40ccf625.js
  apps/web/public/postboot-2-insights-lazy.bundle.899d40ccf625.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.96e22cf1a664.js
  apps/web/public/postboot-2-insights-lazy.bundle.96e22cf1a664.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.62d4d6c9944e.js
  apps/web/public/postboot-3-ui-lazy.bundle.62d4d6c9944e.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.b8408bb211f1.js
  apps/web/public/postboot-3-ui-lazy.bundle.b8408bb211f1.js.gz
  apps/web/public/sw.js
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for recovery wave three
  apps/web/public/whats-new.json
Due: prettier --write

docs(plan): record wave three integration gates
  docs/plans/LOCAL_WORKTREE_RECOVERY_2026.md
Due: prettier --write

chore(release): cover wave three integration
  apps/web/public/whats-new.json
Due: prettier --write

docs(infra): preserve warning line break
  infra/README.md
Due: prettier --write

test(nutrition): load shared grams contract
  apps/web/__tests__/pi_product_picker.test.js
Due: eslint --max-warnings=500

docs(plan): complete local recovery audit
  docs/plans/LOCAL_WORKTREE_RECOVERY_2026.md
Due: prettier --write

fix(cloud): monitor automation rollout
  .github/workflows/api-health-monitor.yml
  .github/workflows/cloud-functions-deploy.yml
  database/2026-07-18_automation_worker_heartbeats.sql
  yandex-cloud-functions/__tests__/check-heys-ops-status.test.cjs
  yandex-cloud-functions/__tests__/function-inventory.test.cjs
  yandex-cloud-functions/check-heys-ops-status.cjs
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/function-inventory.cjs
  yandex-cloud-functions/heys-cron-photo-cleanup/index.js
  yandex-cloud-functions/heys-cron-reminders/index.js
  yandex-cloud-functions/heys-cron-security-alerts/index.js
  yandex-cloud-functions/heys-cron-speechkit-transcribe/index.js
  yandex-cloud-functions/heys-cron-trial-drip/index.js
  yandex-cloud-functions/heys-snapshot-demo/index.js
  yandex-cloud-functions/test-functions.sh
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for e10811ba
  apps/web/public/whats-new.json
Due: prettier --write

fix(ci): provide PostgreSQL CA to dead-man
  .github/workflows/api-health-monitor.yml
  yandex-cloud-functions/__tests__/function-inventory.test.cjs
Due: prettier --write

chore(release): add whats-new for 8ff40e5c
  apps/web/public/whats-new.json
Due: prettier --write

docs(reference): close P2-02 rollout
  docs/reference/IMPROVEMENT_BACKLOG.md
  docs/reference/systems/BACKGROUND_JOBS.md
  docs/reference/systems/INFRA_OPERATIONS.md
Due: prettier --write

fix(ci): debounce API recovery deploy
  .github/workflows/api-health-monitor.yml
  docs/reference/IMPROVEMENT_BACKLOG.md
  docs/reference/systems/INFRA_OPERATIONS.md
  yandex-cloud-functions/__tests__/function-inventory.test.cjs
Due: prettier --write

chore(release): add whats-new for 728f0c93
  apps/web/public/whats-new.json
Due: prettier --write

chore(ci): preserve RPC monitor response contract
  .github/workflows/api-health-monitor.yml
  yandex-cloud-functions/__tests__/function-inventory.test.cjs
Due: prettier --write

fix(reference): validate facts table structure
  docs/reference/CONTRIBUTING.md
  docs/reference/systems/ADVICE_AND_GAMIFICATION.md
  docs/reference/systems/ANALYTICS_AND_SCORING.md
  docs/reference/systems/BACKGROUND_JOBS.md
  docs/reference/systems/CURATOR_WORKSPACE.md
  docs/reference/systems/INFRA_OPERATIONS.md
  docs/reference/systems/LANDING_AND_LEADS.md
  docs/reference/systems/NUTRITION_AND_INSULIN.md
  docs/reference/systems/PRODUCTS_AND_SEARCH.md
  docs/reference/systems/SUBSCRIPTION_AND_PAYMENTS.md
  docs/reference/systems/TELEGRAM.md
  docs/reference/systems/TRAINING_MODES.md
  scripts/check-reference-links.mjs
Due: prettier --write

fix(backup): make full recovery atomic
  docs/reference/IMPROVEMENT_BACKLOG.md
  docs/reference/IMPROVEMENT_HISTORY.md
  docs/reference/systems/BACKUP_AND_REPORTS.md
  yandex-cloud-functions/heys-client-daily-backup/README.md
  yandex-cloud-functions/heys-client-daily-backup/__tests__/backup-consistency.test.cjs
  yandex-cloud-functions/heys-client-daily-backup/index.js
  yandex-cloud-functions/heys-client-daily-backup/restore-client-backup.js
Due: eslint --max-warnings=500, prettier --write

fix(products): publish large overlay atomically
  apps/web/__tests__/overlay-shard-codec.test.js
  apps/web/__tests__/product-commit-gate-contract.test.js
  apps/web/heys_core_v12.js
  apps/web/heys_overlay_shard_codec_v1.js
  apps/web/heys_storage_supabase_v1.js
  docs/reference/IMPROVEMENT_BACKLOG.md
  docs/reference/IMPROVEMENT_HISTORY.md
  docs/reference/systems/PRODUCTS_AND_SEARCH.md
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

fix(planning): replay destructive commands atomically
  apps/web/__tests__/planning-atomic-commands.test.js
  apps/web/heys_planning_store_v1.js
  apps/web/heys_storage_supabase_v1.js
  docs/reference/IMPROVEMENT_BACKLOG.md
  docs/reference/IMPROVEMENT_HISTORY.md
  docs/reference/systems/PLANNING.md
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

docs(reference): mark historical sources
  apps/web/src/components/CuratorPanel/README.md
  docs/DATA_MODEL_ANALYTICS.md
  docs/INSULIN_WAVE_DOCUMENTATION.md
  docs/Quick Start Checklist.md
  docs/SCORING_REFERENCE.md
  docs/reference/IMPROVEMENT_BACKLOG.md
  docs/reference/IMPROVEMENT_HISTORY.md
  infra/README.md
  scripts/check-reference-links.mjs
  yandex-cloud-functions/README.md
Due: prettier --write

perf(day): skip hidden diary work on mobile stats
  apps/web/__tests__/day-diary-section-mobile-fast-path.test.js
  apps/web/heys_day_diary_section.js
  docs/implementation/DAYTAB_MOBILE_STATS_STABILIZATION_PROTOCOL.md
Due: eslint --max-warnings=500, prettier --write

docs(roadmap): replace audit backlog with active queue
  docs/REFACTOR_REACT_MEMO_DAY_TAB.md
  docs/reference/IMPROVEMENT_HISTORY.md
  todo.md
Due: prettier --write

chore(release): whats-new for улучшить планирование, чекин и надежность HEYS
  apps/web/public/whats-new.json
Due: prettier --write

chore(build): sync generated artifacts
  apps/web/bundle-manifest.json
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.232f093b62a4.js
  apps/web/public/boot-app.bundle.232f093b62a4.js.gz
  apps/web/public/boot-app.bundle.8eeee81bb22b.js
  apps/web/public/boot-app.bundle.8eeee81bb22b.js.gz
  apps/web/public/boot-calc.bundle.c03b6c21b0ad.js
  apps/web/public/boot-calc.bundle.c03b6c21b0ad.js.gz
  apps/web/public/boot-calc.bundle.cf43dba3cc2c.js
  apps/web/public/boot-calc.bundle.cf43dba3cc2c.js.gz
  apps/web/public/boot-core.bundle.46e3e786e590.js
  apps/web/public/boot-core.bundle.46e3e786e590.js.gz
  apps/web/public/boot-core.bundle.ee38d35a515c.js
  apps/web/public/boot-core.bundle.ee38d35a515c.js.gz
  apps/web/public/boot-day.bundle.65e8a4444e11.js
  apps/web/public/boot-day.bundle.65e8a4444e11.js.gz
  apps/web/public/boot-day.bundle.d21f4f3aca3e.js
  apps/web/public/boot-day.bundle.d21f4f3aca3e.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.61ea8bc1f55d.js
  apps/web/public/postboot-1-game-lazy.bundle.61ea8bc1f55d.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.bda9bb36c6ea.js
  apps/web/public/postboot-1-game-lazy.bundle.bda9bb36c6ea.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.3a70c3964b65.js
  apps/web/public/postboot-3-ui-lazy.bundle.3a70c3964b65.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.b444ad162f80.js
  apps/web/public/postboot-3-ui-lazy.bundle.b444ad162f80.js.gz
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for HEYS reliability update
  apps/web/public/whats-new.json
Due: prettier --write

chore(build): finalize generated artifacts after main merge
  apps/web/bundle-manifest.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): align whats-new with post-merge build
  apps/web/public/whats-new.json
Due: prettier --write

chore(build): accept merged boot-day baseline [bundle-size-ok]
  apps/web/__perf_baselines__/boot-split-baselines.json
Due: prettier --write

test(checkin): align onboarding guard with local-first saves
  apps/web/__tests__/first-login-onboarding-guardrails.test.js
Due: eslint --max-warnings=500

fix(checkin): stabilize local-first flow and startup
  TESTS/e2e/helpers/morning-checkin-fixture.ts
  TESTS/e2e/helpers/test-cleanup.ts
  TESTS/e2e/morning-checkin-isolated.spec.ts
  apps/web/__tests__/app-critical-data-ready.test.js
  apps/web/__tests__/app-derived-state-profile-name.test.js
  apps/web/__tests__/consent-offline-cache.test.js
  apps/web/__tests__/heys-app-auth-init-session.test.js
  apps/web/__tests__/merge-scalar-kv-meta.test.js
  apps/web/__tests__/morning-checkin-flow-resume.test.js
  apps/web/__tests__/morning-checkin-readiness.test.js
  apps/web/__tests__/morning-checkin-stability.test.js
  apps/web/__tests__/pin-login-stable-transition.test.js
  apps/web/__tests__/sync-merge-shared.test.js
  apps/web/heys_app_auth_init_v1.js
  apps/web/heys_app_derived_state_v1.js
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_app_initialize_v1.js
  apps/web/heys_app_morning_checkin_v1.js
  apps/web/heys_app_root_impl_v1.js
  apps/web/heys_app_runtime_effects_v1.js
  apps/web/heys_client_log_trace_v1.js
  apps/web/heys_loading_progress_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_storage_supabase_v1.js
  docs/implementation/APP_CRITICAL_DATA_READY_PROTOCOL.md
  docs/implementation/MORNING_CHECKIN_E2E_AUDIT_PROTOCOL.md
  docs/implementation/MORNING_CHECKIN_FINALIZATION_PROTOCOL.md
  docs/implementation/MORNING_CHECKIN_ISOLATED_E2E_PROTOCOL.md
  docs/reference/systems/HOW_HEYS_WORKS.md
  package.json
  playwright.morning-checkin.config.ts
  scripts/bootstrap-bypass-allowlist.txt
  scripts/db/migrations/2026-05-31_create_e2e_test_clients.sql
Due: eslint --max-warnings=500, prettier --write

chore(build): sync checkin legacy artifacts
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.05840d194091.js
  apps/web/public/boot-app.bundle.05840d194091.js.gz
  apps/web/public/boot-app.bundle.8eeee81bb22b.js
  apps/web/public/boot-app.bundle.8eeee81bb22b.js.gz
  apps/web/public/boot-core.bundle.61c3de0997e0.js
  apps/web/public/boot-core.bundle.61c3de0997e0.js.gz
  apps/web/public/boot-core.bundle.c5c3e6a2c5b0.js
  apps/web/public/boot-core.bundle.c5c3e6a2c5b0.js.gz
  apps/web/public/boot-init.bundle.90dd9af836f5.js
  apps/web/public/boot-init.bundle.90dd9af836f5.js.gz
  apps/web/public/boot-init.bundle.aa88e7072335.js
  apps/web/public/boot-init.bundle.aa88e7072335.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.cf0f07979b8e.js
  apps/web/public/postboot-3-ui-lazy.bundle.cf0f07979b8e.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.f2386736c2b4.js
  apps/web/public/postboot-3-ui-lazy.bundle.f2386736c2b4.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for stable morning checkin
  apps/web/public/whats-new.json
Due: prettier --write
