Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(tips): советы только на сегодня, куратор без лампочки
  apps/web/__tests__/advice-v4-panels.test.js
  apps/web/day/_advice.js
Due: eslint --max-warnings=500

fix(ui-v4): tips detail hero --v4-c1 role and stable test paths
  apps/web/__tests__/advice-v4-panels.test.js
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/400-water-and-hydration.css
Due: eslint --max-warnings=500

fix(tips): советы только на сегодня; куратор без шторки и toast
  apps/web/__tests__/ui-v4-tips-settings-product-rules.test.js
Due: eslint --max-warnings=500

feat(cycle-ui): строки нормы калорий на карточке дня
  apps/web/heys_cycle_ui_v1.js
  apps/web/heys_day_cycle_card_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): snapshot вердиктов после cloud wave (75 ≠)
  docs/ui/UI_V4_COMPLETION_PROMPT.md
Due: prettier --write

feat(cycle): sparkline reports-v4, footnote, ribbon contrast tests
  apps/web/__tests__/cycle-v4-contract.test.js
  apps/web/heys_day_nutrition_v1.js
  apps/web/heys_day_sparkline_state.js
  apps/web/heys_day_sparklines_v1.js
  apps/web/heys_day_stats_v1.js
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/733-ui-v4-reports.css
Due: eslint --max-warnings=500

fix(cycle): close six remaining ≠ verdict keys
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

docs(ui-v4): cycle zone 0 ≠ — six keys closed to =
  scratchpad/verdicts/cycle-six-keys-batch.json
Due: prettier --write

docs(ui-v4): итого 69 ≠, cycle 0 в snapshot
  docs/ui/UI_V4_COMPLETION_PROMPT.md
Due: prettier --write

test(ui-v4): CRLF-safe чтение CSS в трёх contract-тестах
  apps/web/__tests__/cycle-v4-contract.test.js
  apps/web/__tests__/home-widgets-gamification-product-rules.test.js
  apps/web/__tests__/water-add-v4.test.js
Due: eslint --max-warnings=500

docs(ui-v4): промпт остатка 69 ≠ после merge wave 1+2
  docs/README.md
  docs/ui/UI_V4_COMPLETION_PROMPT.md
  docs/ui/UI_V4_REMAINING_PROMPT.md
Due: prettier --write

fix(ui-v4): удаление в дневнике через record.deleted
  apps/web/__tests__/feedback-policy-contract.test.js
  apps/web/day/_meals.js
  docs/ui/ui-v4-contract-verdicts.json
  scratchpad/verdicts/drift-batch-haptics-nutrition-tab.json
  scratchpad/verdicts/drift-batch-haptics-undo-bar.json
Due: eslint --max-warnings=500, prettier --write

test(feedback): регрессия на legacy 8 мс в platform_apis
  apps/web/__tests__/feedback-policy-contract.test.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): push deep links for water and morning check-in
  apps/web/__tests__/push-entry-shortcuts.test.js
  apps/web/heys_app_shortcuts_v1.js
  apps/web/heys_day_day_handlers.js
  apps/web/heys_day_effects.js
  apps/web/heys_day_tab_impl_v1.js
  docs/ui/ui-v4-contract-verdicts.json
  scratchpad/verdicts/drift-batch-push-entry-checkin-morning.json
  scratchpad/verdicts/drift-batch-push-entry-nutrition-tab.json
  scratchpad/verdicts/drift-batch-push-entry-water-add.json
  yandex-cloud-functions/heys-cron-reminders/__tests__/push-entry-urls.test.js
  yandex-cloud-functions/heys-cron-reminders/index.js
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): rehash registration zone — 6 stale ≠ verdicts to =
  docs/ui/ui-v4-contract-verdicts.json
  scratchpad/verdicts/drift-batch-registration-reaudit-2026-08-26.json
Due: prettier --write

fix(ci): корневой vitest собирал чужие тесты и падал на шебангах
  package.json
  vitest.config.ts
Due: eslint --max-warnings=500, prettier --write

docs(ui): вода — две строки зоны спорят, как пишется убавление
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

docs(ui-v4): snapshot 57 ≠ после merge main
  docs/ui/UI_V4_REMAINING_PROMPT.md
Due: prettier --write

fix(ui-v4): единый formatRuNumber для home-widgets
  apps/web/__tests__/home-widgets-number-format-unread-v4.test.js
  apps/web/heys_widgets_ui_v1.js
Due: eslint --max-warnings=500

fix(sync): merge supplementsTaken marks by id across devices
  apps/web/__tests__/sync-merge-shared.test.js
  apps/web/heys_sync_merge_v1.js
  yandex-cloud-functions/heys-api-rest/lib/heys_sync_merge_v1.cjs
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500

fix(ui-v4): v4 place-holder pattern for loading surfaces
  apps/web/__tests__/motion-policy.test.js
  apps/web/__tests__/one-wait-sign-smoke.test.js
  apps/web/__tests__/reduced-motion-cascade.test.js
  apps/web/__tests__/v4-place-holder.test.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_pickers.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/heys_widgets_variants_v4.js
  apps/web/styles/critical.css
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

docs(ui-v4): audit water-add ≠ — five stale rows closed to =
  docs/ui/ui-v4-contract-verdicts.json
  scratchpad/verdicts/drift-batch-nutrition-tab-press-audit.json
  scratchpad/verdicts/drift-batch-water-add-audit.json
Due: prettier --write

fix(deploy): подхват VAPID работает и без jq
  yandex-cloud-functions/deploy-all.sh
Due: none

feat(v4): держатель места без пульсации — сквозное правило закрыто
  apps/web/__tests__/place-holder-product-rule.test.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(widgets): час считается по устройству, а не по Москве
  apps/web/heys_widgets_ui_v1.js
  apps/web/widgets/widget_data.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(widgets): подсказка про долгий тап — единственное исключение из «обучения нет»
  apps/web/__tests__/longpress-hint-product-rule.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(v4): табличные цифры и неразрывный пробел у микро-БЖУ
  apps/web/heys_add_product_step_v1.js
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(widgets): кнопка «назад» закрывает слой, а не приложение
  apps/web/__tests__/back-button-layers.test.js
  apps/web/heys_modal_dismiss_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/heys_widgets_variants_v4.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

test(v4): первый кадр — правило закрыто держателями, факт был протухшим
  apps/web/__tests__/first-frame-product-rule.test.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): глубокие ссылки остаются — решение владельца
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

docs(ui): широкий экран — заглушка остаётся, решение владельца
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

fix(advice): «Серия» вместо «Streak» в описании категории
  apps/web/heys_advice_rules_v1.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): возврат на экран — уточнён факт, окно ошибки узкое
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

docs(ui): в «Питании» держателям нечего ждать — данные приходят сразу
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

fix(logout): выход снимает маркер регистрации и закрывает окно отмены
  apps/web/__tests__/app-critical-data-ready.test.js
  apps/web/__tests__/checkin-progress-wiped-on-logout.test.js
  apps/web/__tests__/logout-local-cleanup.test.js
  apps/web/__tests__/nutrition-v4-canvas-geometry.test.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): голод берётся из журнала событий, а не из утреннего чек-ина
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

chore(ui-v4): скрипт вердиктов и задание на остаток сведения с контрактом
  docs/ui/prompts/ПРОМПТ-остаток-v4.md
  scripts/ui-v4-set-verdict.mjs
Due: prettier --write

fix(ui-v4): вода, виджеты и вердикты — остаток контракта
  apps/web/__tests__/motion-policy.test.js
  apps/web/__tests__/quick-actions-one-stack.test.js
  apps/web/__tests__/water-add-v4.test.js
  apps/web/__tests__/widgets-quick-actions-v4.test.js
  apps/web/__tests__/widgets-screen-budget-v4.test.js
  apps/web/heys_day_day_handlers.js
  apps/web/heys_day_water_card_v1.js
  apps/web/heys_day_water_v1.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/ui-v4-contract-verdicts.json
  scripts/ui-v4-set-verdict.mjs
Due: eslint --max-warnings=500, prettier --write

fix(gamification): XP за воду — раз в день при норме
  apps/web/__tests__/gamification-water-xp-norm-gate.test.js
  apps/web/__tests__/gamification-xp-past-day-gate.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_gamification_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.4afa65b8eb44.js
  apps/web/public/postboot-1-game-lazy.bundle.4afa65b8eb44.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.6f6211d58449.js
  apps/web/public/postboot-1-game-lazy.bundle.6f6211d58449.js.gz
  apps/web/public/react-bundle.js.gz
  apps/web/public/sw.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(rules): всегда Осталось и Дальше в ответе
  .cursor/rules/communication-style.mdc
  .cursor/rules/model-and-next.mdc
Due: none
