Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

docs(вердикты): кадр «Настройки советов»
  docs/ui/verdicts/tips.json
Due: prettier --write

fix(советы): экран настроек сведён с кадром, два тумблера были одним блоком
  apps/web/__tests__/advice-v4-panels.test.js
  apps/web/__tests__/tips-v4-canvas-razbor.test.js
  apps/web/styles/modules/400-water-and-hydration.css
Due: eslint --max-warnings=500

fix(нажатие): два моих новых состояния возвращаются за 120 мс
  apps/web/styles/modules/610-aps-meal-flow.css
Due: none

fix(отчёты): выбранный чип окна был коричневым в синей палитре
  apps/web/styles/modules/733-ui-v4-reports.css
Due: none

docs(вердикты): три конца регистрации разобраны, править было нечего
  docs/ui/verdicts/registration.json
Due: prettier --write

chore(каскад): убраны правила ленты CRS, которую никто не рисует
  apps/web/styles/modules/740-cascade-card.css
Due: none

fix(порция): ключ называет, в чём вводят число
  apps/web/heys_add_product_step_v1.js
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/ui/verdicts/food-meal.json
Due: eslint --max-warnings=500, prettier --write

fix(советы): лист первого совета был окном по центру, а служебное слово — заголовком
  apps/web/__tests__/tips-v4-canvas-razbor.test.js
  apps/web/day/_advice.js
  apps/web/styles/modules/400-water-and-hydration.css
Due: eslint --max-warnings=500

docs(вердикты): кадр «Оговорка» — лист первого совета
  docs/ui/verdicts/tips.json
Due: prettier --write

fix(регистрация): экран возврата сведён, зона закрыта целиком
  apps/web/heys_profile_step_v1.js
  docs/ui/verdicts/registration.json
Due: eslint --max-warnings=500, prettier --write

fix(каскад): вторичный текст карточки следует набору, а не только режиму
  apps/web/styles/modules/740-cascade-card.css
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: none

fix(отчёты): карточка баланса стояла на первой поверхности во всех наборах
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/styles/modules/733-ui-v4-reports.css
Due: eslint --max-warnings=500

fix(правка продукта): флаги названы словами, витамины стали плашками
  apps/web/heys_add_product_step_v1.js
  apps/web/styles/heys-components.css
  docs/ui/verdicts/product-card.json
Due: eslint --max-warnings=500, prettier --write

test(регистрация): у зоны появился свой тест сверки
  apps/web/__tests__/registration-v4-contract-geometry.test.js
Due: eslint --max-warnings=500

refactor(каскад): тёмные копии вторичного текста убраны, роль знает режим сама
  apps/web/styles/modules/740-cascade-card.css
Due: none

fix(отчёты): дубль правил плиток снят, неопределённых ролей стало 17
  apps/web/styles/modules/733-ui-v4-reports.css
  scripts/ui-v4-check-undefined-roles.mjs
Due: none

fix(общая база): «Общие» стал фильтром выдачи и виден в строке продукта
  apps/web/__tests__/add-product-search-v4-structure.test.js
  apps/web/heys_add_product_step_v1.js
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/ui/verdicts/food-meal.json
Due: eslint --max-warnings=500, prettier --write

docs(вердикты): лист настроек, синие копии и чужие элементы кадров
  docs/ui/verdicts/tips.json
Due: prettier --write

docs(правила): пара читает правило, а не итог каскада — после сведения нужен замер
  AGENTS.md
  CLAUDE.md
Due: prettier --write

fix(правка продукта): шаг «Основные» и карточка порций сведены с кадром
  apps/web/styles/heys-components.css
  docs/ui/verdicts/product-card.json
Due: prettier --write

docs(опись): главное число «Отчётов» в синей палитре коричневое — замерено
  docs/ui/UI_V4_SAND_ROLES_INVENTORY.md
Due: prettier --write

fix(анкета): роли ушли с имени набора, подложка-подсказка вернула свой тон
  apps/web/__tests__/intake-v4-blocked-action.test.js
  apps/web/heys_trial_intake_v1.js
  docs/ui/verdicts/questionnaire.json
Due: eslint --max-warnings=500, prettier --write

docs(вердикты): зона «Советы» закрыта — 0 строк без вердикта
  docs/ui/verdicts/tips.json
Due: prettier --write

docs(вердикты): шапка приложения отнесена к зоне Главной, кадр заглушки отстал
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  docs/ui/verdicts/reports-insights.json
Due: eslint --max-warnings=500, prettier --write

feat(советы): оговорка науки получила значок, которого не было в коде
  apps/web/__tests__/tips-v4-canvas-razbor.test.js
  apps/web/day/_advice.js
  apps/web/styles/modules/400-water-and-hydration.css
  docs/implementation/TIPS_V4_CANVAS_RAZBOR.md
Due: eslint --max-warnings=500, prettier --write

docs(вердикты): кадр подтверждённого шага разобран, один прежний вердикт исправлен
  docs/ui/verdicts/questionnaire.json
Due: prettier --write

fix(наборы ролей): семь сведённых блоков перестали быть песочными в синем
  apps/web/__tests__/meal-time-v4-structure.test.js
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

fix(порции продукта): шаг порций сведён с кадром
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/611-aps-product-card.css
  docs/implementation/PRODUCT_CARD_V4_PROTOCOL.md
  docs/ui/verdicts/product-card.json
Due: prettier --write

docs(вердикты): шаги 2 и 3 анкеты разобраны, править снова не пришлось
  docs/ui/verdicts/questionnaire.json
Due: prettier --write

fix(отчёты): кнопки карточки подтверждения были прямоугольными, вторая — тревожной
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/styles/modules/100-metrics-and-graphs.css
  docs/ui/verdicts/reports-insights.json
Due: eslint --max-warnings=500, prettier --write

feat(палитра): замер оси наборов вместо чтения палитры глазами
  docs/ui/UI_V4_SAND_ROLES_MEASURED.md
  scripts/ui-v4-measure-set-axis.mjs
Due: prettier --write

feat(отчёты): кадр «нет веса» сведён, кнопка записи веса была мельче
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/styles/modules/733-ui-v4-reports.css
  docs/ui/verdicts/reports-insights.json
Due: eslint --max-warnings=500, prettier --write

docs(порции продукта): два кадра рисуют один шаг по-разному — вопрос дизайнеру
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/product-card.json
Due: prettier --write

fix(палитра): отчёт замера перестал пачкаться при каждом прогоне
  docs/ui/UI_V4_SAND_ROLES_MEASURED.md
  scripts/ui-v4-measure-set-axis.mjs
Due: prettier --write

fix(анкета): из подводки шага ушло обращение от лица команды
  apps/web/heys_trial_intake_v1.js
  docs/ui/verdicts/questionnaire.json
Due: eslint --max-warnings=500, prettier --write

fix(палитра): генератор отчёта форматирует вывод тем же prettier, что и хук
  docs/ui/UI_V4_SAND_ROLES_MEASURED.md
  scripts/ui-v4-measure-set-axis.mjs
Due: prettier --write

docs(вход): зона сведена целиком — 788 строк, вердикт у каждой
  docs/ui/verdicts/login.json
Due: prettier --write

feat(отмена): зона панели отмены закрыта, кнопка спорит сама с собой
  apps/web/styles/heys-components.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/undo-bar.json
Due: prettier --write

fix(сканер): имя экрана приведено к кеглю имён экранов шагов
  apps/web/styles/modules/611-aps-product-card.css
  docs/ui/verdicts/product-card.json
Due: prettier --write

docs(вход): три расхождения зоны вынесены дизайнеру
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
