Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix(инсайты): разбор Score и подписи пустых состояний — на «вы»
  apps/web/bundle-manifest.json
  apps/web/heys_predictive_insights_v1.js
  apps/web/insights/pi_ui_cards.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-2-insights-lazy.bundle.2972eefe98d4.js
  apps/web/public/postboot-2-insights-lazy.bundle.2972eefe98d4.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.4d955abfb60f.js
  apps/web/public/postboot-2-insights-lazy.bundle.4d955abfb60f.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.3606b4a7c7c6.js
  apps/web/public/postboot-3-ui-lazy.bundle.3606b4a7c7c6.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.f351c0562626.js
  apps/web/public/postboot-3-ui-lazy.bundle.f351c0562626.js.gz
  apps/web/public/sw.js
  docs/ui/UI_V4_DESIGNER_REQUEST_4.md
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

fix(инсайты): «Подробно» — снят отчёт модели о себе и значки слоя
  apps/web/bundle-manifest.json
  apps/web/insights/pi_ui_cards.js
  apps/web/insights/pi_ui_dashboard.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-2-insights-lazy.bundle.4d955abfb60f.js
  apps/web/public/postboot-2-insights-lazy.bundle.4d955abfb60f.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.ef82410c00f5.js
  apps/web/public/postboot-2-insights-lazy.bundle.ef82410c00f5.js.gz
  apps/web/public/sw.js
  docs/ui/UI_V4_DESIGNER_REQUEST_4.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: eslint --max-warnings=500, prettier --write

fix(силовая): склонение подходов и состояние номера упражнения
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/ui/UI_V4_DESIGNER_REQUEST_4.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: eslint --max-warnings=500, prettier --write

docs(инсайты): ответ дизайнера про карточки метаболизма — состав назван, место уточнено
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

fix(силовая): подзаголовок А3 считает только рабочие подходы
  apps/web/__tests__/strength-builder-warmup-drop-v4-canvas-contract.test.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/strength-builder.json
Due: eslint --max-warnings=500, prettier --write

docs(канвас): 59-я сборка пакета дизайна
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-checkin-morning.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-date-remainders.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-first-run.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-food-meal.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-nutrition-tab.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-reports-insights.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-strength-builder.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-subscription.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/checkin-morning.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/date-remainders.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/first-run.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/food-meal.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/nutrition-tab.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/reports-insights.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/checkin-morning.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/strength-builder.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/subscription.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ОТВЕТ-четвёртый-заход.md
Due: prettier --write

docs(главная): зона сведена — три последних экрана проверены, два спора закрыты
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: prettier --write

fix(силовая, инсайты): приёмка 59-й сборки — фильтр каталога в одну строку
  apps/web/__tests__/reports-insights-v4-canvas-geometry.test.js
  apps/web/__tests__/ui-v4-completed-frame-evidence.test.js
  apps/web/bundle-manifest.json
  apps/web/insights/pi_ui_cards.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-2-insights-lazy.bundle.2882234d38cd.js
  apps/web/public/postboot-2-insights-lazy.bundle.2882234d38cd.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.ef82410c00f5.js
  apps/web/public/postboot-2-insights-lazy.bundle.ef82410c00f5.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/750-strength-builder.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/reports-insights.json
  docs/ui/verdicts/strength-builder.json
Due: eslint --max-warnings=500, prettier --write

docs(силовая): список групп в фильтре каталога расходится с продуктом
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/strength-builder.json
Due: prettier --write

fix(чек-ин): заливка шкалы сна — ролью набора, тринадцать мёртвых правил сняты
  apps/web/__tests__/checkin-sleep-minutes-step.test.js
  apps/web/__tests__/morning-checkin-v4-contract-geometry.test.js
  apps/web/__tests__/morning-checkin-v4-layout-smoke.test.js
  apps/web/__tests__/morning-checkin-yesterday-verify-loop.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_steps_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.3bbf12bae620.js
  apps/web/public/postboot-3-ui-lazy.bundle.3bbf12bae620.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.f351c0562626.js
  apps/web/public/postboot-3-ui-lazy.bundle.f351c0562626.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/611-aps-product-card.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: eslint --max-warnings=500, prettier --write

fix(вода): ряд под недельной кривой снят — он говорил то же, что сама кривая
  apps/web/__tests__/nutrition-v4-canvas-razbor.test.js
  apps/web/__tests__/water-review-card-v4.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_day_water_v1.js
  apps/web/index.html
  apps/web/public/boot-day.bundle.2fc716b6b3c0.js
  apps/web/public/boot-day.bundle.2fc716b6b3c0.js.gz
  apps/web/public/boot-day.bundle.5470a4087a93.js
  apps/web/public/boot-day.bundle.5470a4087a93.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/styles/modules/400-water-and-hydration.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: eslint --max-warnings=500, prettier --write

docs(питание): приёмка 59-й сборки — пять записей зоны дизайнер взял на себя
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

fix(мессенджер): карточки подтверждения сведены по кадру — 347 при полях 14
  apps/web/styles/modules/1000-messenger.css
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

fix(подписка): тост называет действие и причину, шестнадцать строк перечитаны
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_day_handlers.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.83198ae161b2.js
  apps/web/public/boot-calc.bundle.83198ae161b2.js.gz
  apps/web/public/boot-calc.bundle.bf5979f22ade.js
  apps/web/public/boot-calc.bundle.bf5979f22ade.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/styles/modules/735-ui-v4-subscription.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/verdicts/subscription.json
Due: eslint --max-warnings=500, prettier --write

fix(настройки): сторож текста быстрых действий краснел на верном тексте
  apps/web/__tests__/fab-visibility.test.js
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

fix(календарь): полоса «Серия · N дней» снята из шторки
  apps/web/__tests__/date-remainders-v4-smoke.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_day_pickers.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.a287c0560c0e.js
  apps/web/public/boot-calc.bundle.a287c0560c0e.js.gz
  apps/web/public/boot-calc.bundle.bf5979f22ade.js
  apps/web/public/boot-calc.bundle.bf5979f22ade.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/styles/modules/000-base-and-gamification.css
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: eslint --max-warnings=500, prettier --write

docs(первый вход): канвас зоны не знает пятой вкладки — ни в кадрах, ни в словах
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

fix(лист копирования): разряд тысяч тем же пробелом, что во всём продукте
  apps/web/bundle-manifest.json
  apps/web/heys_day_copy_meal_modal_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.2465f873c9ac.js
  apps/web/public/postboot-3-ui-lazy.bundle.2465f873c9ac.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.3bbf12bae620.js
  apps/web/public/postboot-3-ui-lazy.bundle.3bbf12bae620.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

docs(сверка): разобраны последние девять экранов зон, которые шли по одному
  apps/web/bundle-manifest.json
  apps/web/heys_day_copy_meal_modal_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.2465f873c9ac.js
  apps/web/public/postboot-3-ui-lazy.bundle.2465f873c9ac.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.3bbf12bae620.js
  apps/web/public/postboot-3-ui-lazy.bundle.3bbf12bae620.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(инсайты): карточка «На сегодня всё» называет факт, склонение вариантов
  apps/web/bundle-manifest.json
  apps/web/insights/pi_meal_planner.js
  apps/web/insights/pi_ui_meal_rec_card.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-2-insights-lazy.bundle.172731469e41.js
  apps/web/public/postboot-2-insights-lazy.bundle.172731469e41.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.2882234d38cd.js
  apps/web/public/postboot-2-insights-lazy.bundle.2882234d38cd.js.gz
  apps/web/public/sw.js
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

docs(сверка): разбор есть у всех 174 пар
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

fix(предупреждения): дробные на экране — через запятую, и разбор разведён
  apps/web/__tests__/ews-decimal-comma.test.js
  apps/web/bundle-manifest.json
  apps/web/insights/pi_early_warning.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-2-insights-lazy.bundle.172731469e41.js
  apps/web/public/postboot-2-insights-lazy.bundle.172731469e41.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.9539aca4c3b3.js
  apps/web/public/postboot-2-insights-lazy.bundle.9539aca4c3b3.js.gz
  apps/web/public/sw.js
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: eslint --max-warnings=500, prettier --write

fix(поиск): подсветка фокуса написана на класс, которого код не выводит
  apps/web/styles/modules/610-aps-meal-flow.css
  docs/ui/UI_V4_DESIGNER_REQUEST_5.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: prettier --write

fix(лист копирования): вернул разряд тысяч — его снёс мой же amend
  apps/web/bundle-manifest.json
  apps/web/heys_day_copy_meal_modal_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.2465f873c9ac.js
  apps/web/public/postboot-3-ui-lazy.bundle.2465f873c9ac.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.3bbf12bae620.js
  apps/web/public/postboot-3-ui-lazy.bundle.3bbf12bae620.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(хранилище): Store и обёртка ищут выбранного клиента в одном месте
  apps/web/BUGS_HISTORY.md
  apps/web/heys_core_v12.js
  apps/web/heys_storage_layer_v1.js
Due: eslint --max-warnings=500, prettier --write

test(дата): капсула — пилюля в любом дне, а гейт ждал прежние 14 px
  apps/web/__tests__/date-remainders-v4-canvas-razbor.test.js
Due: eslint --max-warnings=500

fix(стенд): фикстура зон лежала только на диске — на чистом чекауте стенд падал
  apps/web/heys_ui_v4_visual_fixture_zones_v1.js
  apps/web/scripts/ui-v4-visual-capture.mjs
Due: eslint --max-warnings=500

feat(питание): красный отрезок в «Приёмах за день» говорит, чей он
  apps/web/heys_day_nutrition_v1.js
Due: eslint --max-warnings=500

docs(сверка): четвёртый срез пересобран по журналу на 13 сентября
  docs/ui/UI_V4_DESIGNER_REQUEST_4.md
Due: prettier --write

chore(сторож): номера строк в allowlist догнали код
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore(сторож): доправил номера строк в allowlist — сдвинулись все три
  scripts/bootstrap-bypass-allowlist.txt
Due: none

test(гейты): две красноты деплоя — обе на проверке, а не на коде
  apps/web/__tests__/pi_whatif.test.js
  apps/web/__tests__/polosa4-task104-pkg36-touch-44px.test.js
Due: eslint --max-warnings=500

test(гейты): ещё четыре красноты деплоя — три проверки и одна роль
  apps/web/__tests__/date-picker-sheet-v4-structure.test.js
  apps/web/__tests__/pi_meal_planner.test.js
  apps/web/__tests__/pi_meal_planner_ui_contract.test.js
  scripts/ui-v4-check-undefined-roles.mjs
Due: eslint --max-warnings=500

fix(инсайты): кнопка полного списка красится ролью, а не мимо палитры
  apps/web/styles/modules/734-ui-v4-insights.css
Due: none

fix(дата): «Сегодня» нажимается на 44, оставаясь чипом в 28
  apps/web/__tests__/feedback-policy-contract.test.js
  apps/web/__tests__/v4-tap-target-contract.test.js
  apps/web/styles/modules/000-base-and-gamification.css
  docs/ui/UI_V4_FINDINGS.md
Due: eslint --max-warnings=500, prettier --write

test(отчёты): моноцифры — правило про числа, а не про всякий крупный кегль
  apps/web/__tests__/reports-insights-v4-canon.test.js
Due: eslint --max-warnings=500

fix(вердикты): снятый вердикт больше не оставляет после себя «строка разобрана»
  docs/ui/verdicts/checkin-morning.json
  docs/ui/verdicts/date-remainders.json
  docs/ui/verdicts/first-run.json
  docs/ui/verdicts/food-meal.json
  docs/ui/verdicts/reports-insights.json
  docs/ui/verdicts/strength-builder.json
  docs/ui/verdicts/subscription.json
  scripts/lib/ui-v4-verdicts.mjs
  scripts/ui-v4-check-contract-drift.mjs
Due: prettier --write

fix(канвас): две строки контракта, дописанные за пределы страницы, больше не теряются
  apps/web/scripts/ui-v4-dom-contracts.mjs
  docs/ui/UI_V4_FINDINGS.md
  scripts/lib/ui-v4-canvas-index.mjs
Due: prettier --write

test(дата): сторож капсулы был зелёным на перескоке через скобку
  apps/web/__tests__/date-picker-v4-capsule.test.js
  scripts/ui-v4-check-foreign-fallbacks.mjs
Due: eslint --max-warnings=500

chore(канвас): шестьдесят первая сборка пакета дизайна
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-checkin-morning.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-cycle.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-date-remainders.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-first-run.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-food-meal.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-home-widgets.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-login.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-messenger.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-nutrition-tab.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-registration.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-reports-insights.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-strength-builder.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-subscription.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-tips.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-water-add.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/checkin-morning.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/cycle.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/date-remainders.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/first-run.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/food-meal.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/login.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/messenger.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/nutrition-tab.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/registration.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/reports-insights.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/strength-builder.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/subscription.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tips.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/water-add.v4.dc.html
Due: prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
