Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(виджеты): прочерк клетчатки тоном пустого дня
  apps/web/__tests__/widgets-fiber-empty-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

feat(палитра): объявлена пара плавающей кнопки --v4-fab / --v4-on-fab
  apps/web/styles/modules/002-ui-v4-palette-roles.css
Due: none

docs(решение): правило «единственного героя» снято — такой роли нет ни одной
  docs/ui/UI_V4_BARE_LITERALS_DECISION.md
Due: prettier --write

docs(архив): к закрытой записи о кнопке шага приёма добавлена поправка
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: prettier --write

docs(находки): новая строка контракта требует пару ниже порога контраста
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

fix(виджеты): плавающая кнопка на пару --v4-fab / --v4-on-fab
  apps/web/__tests__/widgets-screen-budget-v4.test.js
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

fix(виджеты): клетчатка «Как сейчас» — зазор 3 px и «г» рядом
  apps/web/__tests__/widgets-fiber-now-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

revert(приём,вода): откат сводки по решению владельца
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/610-aps-meal-flow.css
  apps/web/styles/modules/730-widgets-dashboard.css
Due: none

fix(strength-builder): свести Б2 каталог с канвасом
  apps/web/strength/heys_strength_catalog_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
Due: eslint --max-warnings=500

fix(чек-ин): сноска резервного вопроса и отступы кадра
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/300-modals-and-day.css
Due: eslint --max-warnings=500

fix(чек-ин): вердикты рутины после rehash 3 сентября
  apps/web/styles/modules/300-modals-and-day.css
  docs/ui/verdicts/checkin-morning.json
Due: prettier --write

docs(strength-builder): вердикты Б1 пустой конструктор и Б2 каталог
  docs/ui/verdicts/strength-builder.json
Due: prettier --write

fix(виджеты): клетчатка «Добрать» — шапка факта и герой «+N»
  apps/web/__tests__/widgets-fiber-add-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

style(ui-v4): shrink 200-dark redundant overrides (task 32)
  apps/web/styles/modules/200-dark-and-effects.css
  scripts/ui-v4-shrink-200-dark.mjs
Due: none

fix(виджеты): клетчатка «Неделя» — столбики, норма и пунктир
  apps/web/__tests__/widgets-fiber-week-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

fix(strength-builder): replace undefined --v4-c2 with --v4-accent-bg in catalog
  apps/web/styles/modules/750-strength-builder.css
Due: none

docs(strength-builder): B3 finish screen verdicts after rehash
  docs/ui/verdicts/strength-builder.json
Due: prettier --write

fix(strength-builder): align finish reason count ink to canvas .56
  apps/web/styles/modules/750-strength-builder.css
Due: none

fix(виджеты): белок «Как сейчас» — зазор 3 px и «г» рядом
  apps/web/__tests__/widgets-protein-now-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): align date-picker sheet and meal tips icon with canvas
  apps/web/__tests__/date-picker-sheet-v4-structure.test.js
  apps/web/heys_day_nutrition_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  docs/ui/verdicts/date-remainders.json
  docs/ui/verdicts/nutrition-tab.json
Due: eslint --max-warnings=500, prettier --write

fix(виджеты): белок «Добрать» — шапка факта и герой «+N»
  apps/web/__tests__/widgets-fiber-add-v4.test.js
  apps/web/__tests__/widgets-protein-add-v4.test.js
  apps/web/__tests__/widgets-protein-now-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

fix(виджеты): белок «По приёмам» — герой 26 px и полосы 5 px
  apps/web/__tests__/widgets-protein-meals-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

docs(чек-ин): сброс 391 вердикта Aug-24 batch в ?
  docs/ui/verdicts/checkin-morning.json
Due: prettier --write

fix(виджеты): белок «нет данных» — прочерк тоном пустого дня
  apps/web/__tests__/widgets-protein-empty-v4.test.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

feat(strength): align SupersetBlock with canvas В1 rounds frame
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
Due: eslint --max-warnings=500

docs(strength): close B3 итоги and B1 rounds verdicts
  docs/ui/verdicts/strength-builder.json
  scripts/.hw-set-strength-b1-rounds-verdicts.mjs
  scripts/.hw-set-strength-b3-verdicts.mjs
Due: prettier --write

docs(ui): close 218 ? verdicts in nutrition-tab zone
  docs/ui/verdicts/nutrition-tab.json
Due: prettier --write

fix(виджеты): окно до сна «Как сейчас» — 21 px и слово в строке
  apps/web/__tests__/widgets-sleep-now-v4.test.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

fix(чек-ин): fork-entry CSS, расчётный вес, индексы FORK_FRAMES
  apps/web/__tests__/checkin-v4-canvas-razbor.test.js
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/715-yesterday-verify.css
Due: eslint --max-warnings=500

fix(чек-ин): вердикты fork-entry и расчётного веса
  docs/ui/verdicts/checkin-morning.json
Due: prettier --write

fix(виджеты): окно до сна «Вечер» — полоса 5 px и метка отбоя
  apps/web/__tests__/widgets-sleep-evening-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

chore(ui): remove strength-builder one-off verdict batch scripts
  scripts/.hw-set-strength-b1-rounds-verdicts.mjs
  scripts/.hw-set-strength-b3-verdicts.mjs
Due: none

test(strength): canvas A/B labels in superset rounds frame
  apps/web/__tests__/strength-builder-ui.test.js
Due: eslint --max-warnings=500

feat(strength): flat superset UI for unequal approach counts (В2)
  apps/web/__tests__/strength-builder-ui.test.js
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
Due: eslint --max-warnings=500

docs(ui): verdicts for strength-builder В2 flat superset frame
  docs/ui/verdicts/strength-builder.json
Due: prettier --write

fix(виджеты): окно до сна «нет данных» — прочерк и «не ел» 7.5 px
  apps/web/__tests__/widgets-sleep-empty-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write

chore(ui-v4): resolve 28 nutrition-tab ≠ verdicts
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/verdicts/nutrition-tab.json
  scripts/.nt-resolve-neq-verdicts.mjs
Due: prettier --write

fix(ui-v4): nutrition tips panel and offline refresh icon
  apps/web/heys_day_page_shell.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
Due: eslint --max-warnings=500

fix(чек-ин): FORK_FRAMES комментарий, shell вчера 01-04
  apps/web/__tests__/checkin-v4-canvas-razbor.test.js
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/ui/verdicts/checkin-morning.json
Due: eslint --max-warnings=500, prettier --write

fix(виджеты): качество еды «Как сейчас» — 21 px и шалфей от 5
  apps/web/__tests__/widgets-food-now-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/verdicts/home-widgets.json
Due: eslint --max-warnings=500, prettier --write
