Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

feat: Widget Dashboard v1.0.0 + Phenotype v1.0.0
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_metabolic_intelligence_v1.js
  apps/web/heys_phenotype_v1.js
  apps/web/heys_predictive_insights_v1.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_events_v1.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/index.html
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/styles/main.css
  apps/web/styles/modules/720-predictive-insights.css
  apps/web/styles/modules/725-metabolic-intelligence.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/widgets/widget_data.js
  docs/tasks/2025-12-15-widgets-dashboard-constructor.md
  docs/tasks/archive/2025-12-15-widgets-dashboard-constructor.md
  done.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

feat(timepicker): unified component with linkedScroll + haptic + sleep modal
  apps/web/heys_day_v12.js
  apps/web/heys_meal_step_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_training_step_v1.js
  apps/web/styles/modules/200-dark-and-effects.css
Due: eslint --max-warnings=500

feat: premium widgets dashboard + supplements science v2 + shared products spec
  apps/web/heys_core_v12.js
  apps/web/heys_models_v1.js
  apps/web/heys_supplements_science_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/heys_user_v12.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/tasks/2025-12-15-supplements-scientific-v2.md
  docs/tasks/2025-12-16-shared-products-prompt.md
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

fix: copy widgets/ folder to dist on Vercel build
  apps/web/vercel.json
Due: prettier --write

feat(widgets): Adaptive weight widget for all 8 sizes
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/widgets/widget_data.js
  docs/tasks/2025-12-16-weight-widget-responsive.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

fix(widgets): Add touch events support for resize handles on iOS/PWA
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

feat(widgets): Weight widget block-based adaptive layout system
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/styles/modules/730-widgets-dashboard.css
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

feat(widgets): unified NxM size format + adaptive layouts for all 16 sizes
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/styles/modules/730-widgets-dashboard.css
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500, prettier --write

fix(shared-products): replace logError→err, use lowercase column names
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

feat: shared products + widgets 2x2 layout + diagonal resize
  apps/web/.turbo/turbo-build.log
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_v12.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/styles/modules/730-widgets-dashboard.css
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500, prettier --write

feat: Widget resize fixes, Goal popup, Shared badge CSS refactor
  apps/web/.turbo/turbo-build.log
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_v12.js
  apps/web/heys_day_v12.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/styles/modules/600-steps-and-aps.css
  docs/tasks/2025-12-16-shared-products-prompt.md
  docs/tasks/archive/2025-12-16-shared-products-DONE.md
  done.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

fix: Widget resize fixes, save on unload handlers
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/public/sw.js
  apps/web/public/version.json
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

refactor(search): приглушить жёлтое выделение совпадений
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_smart_search_v2.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_events_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/600-steps-and-aps.css
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

refactor(widgets): улучшения виджетов - фикс отображения данных, добавление базовых виджетов
  apps/web/heys_app_v12.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

fix(pwa): force sync data after version update
  apps/web/heys_app_v12.js
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

feat(widgets): БЖУ виджет 4x1 и 4x2 — компактный layout + расширенный с калориями
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/styles/modules/730-widgets-dashboard.css
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

fix(widgets): исправлен фон вкладки виджетов - убраны белые полосы
  apps/web/heys_gamification_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500

fix(widgets): исправлен скролл и добавлена safe-zone снизу
  apps/web/heys_gamification_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

fix(widgets): переместил кнопки редактирования вниз над меню, чтобы контент не смещался
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
Due: eslint --max-warnings=500

feat(day): улучшения UI продуктов и советов
  apps/web/heys_day_v12.js
  apps/web/styles/modules/000-base-and-gamification.css
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

feat(day): ui improvements for insulin wave and meal quality
  apps/web/heys_day_v12.js
  apps/web/heys_insulin_wave_v1.js
  apps/web/styles/modules/300-modals-and-day.css
  done.md
  todo.md
Due: eslint --max-warnings=500, prettier --write

feat: extended analytics ui v3.22.0 - deep integration
  apps/web/heys_advice_v1.js
  apps/web/heys_confirm_modal_v1.js
  apps/web/heys_day_v12.js
  apps/web/heys_meal_step_v1.js
  apps/web/heys_modal_manager_v1.js
  apps/web/heys_predictive_insights_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/index.html
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/720-predictive-insights.css
  apps/web/styles/modules/725-metabolic-intelligence.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/widgets/widget_data.js
  docs/DATA_MODEL_REFERENCE.md
  docs/MODAL_SYSTEM_FIX.md
  docs/tasks/2025-12-19-popup-audit-universal-component.md
  done.md
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
  todo.md
Due: eslint --max-warnings=500, prettier --write

fix: react hooks error #310 in popups
  apps/web/heys_day_v12.js
  docs/tasks/2025-12-19-popup-audit-universal-component.md
Due: eslint --max-warnings=500, prettier --write

feat(auth): auto-refresh tokens before sync operations
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_smart_search_v2.js
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

fix(insulin-wave): gl-scaling и simpleRatio для научной точности волны
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_v12.js
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_insulin_wave_v1.js
  apps/web/heys_models_v1.js
  apps/web/heys_predictive_insights_v1.js
  apps/web/heys_status_v1.js
  apps/web/heys_user_v12.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/index.html
  apps/web/styles/modules/720-predictive-insights.css
  apps/web/widgets/widget_data.js
  done.md
  todo.md
Due: eslint --max-warnings=500, prettier --write

feat(landing): add Next.js 14 landing page MVP
  apps/landing/.env.example
  apps/landing/.eslintrc.json
  apps/landing/next-env.d.ts
  apps/landing/next.config.js
  apps/landing/package.json
  apps/landing/postcss.config.js
  apps/landing/public/logo.png
  apps/landing/src/app/api/trial-signup/route.ts
  apps/landing/src/app/layout.tsx
  apps/landing/src/app/page.tsx
  apps/landing/src/components/FAQ.tsx
  apps/landing/src/components/Footer.tsx
  apps/landing/src/components/Hero.tsx
  apps/landing/src/components/HowItWorks.tsx
  apps/landing/src/components/Pricing.tsx
  apps/landing/src/components/Problem.tsx
  apps/landing/src/components/Solution.tsx
  apps/landing/src/components/Trial.tsx
  apps/landing/src/components/TrialForm.tsx
  apps/landing/src/lib/ab-test.ts
  apps/landing/src/lib/logger.ts
  apps/landing/src/lib/useABTest.ts
  apps/landing/src/styles/globals.css
  apps/landing/tailwind.config.js
  apps/landing/tsconfig.json
  database/2025-12-20_landing_leads.sql
Due: eslint --max-warnings=500, prettier --write

docs: операционный бриф MVP + юридика 152-ФЗ + аналитический аудит
  .github/copilot-instructions.md
  README.md
  archive/todo-2025-12-20.md
  docs/ANALYTICS_AUDIT_2025-01.md
  docs/DATA_MODEL_REFERENCE.md
  docs/HEYS_BRIEF.md
  docs/README.md
  docs/SMS_GATEWAY_SETUP.md
  docs/SUMMARY.md
  docs/legal/chat-rules.md
  docs/legal/consent-forms.md
  docs/legal/privacy-policy.md
  docs/legal/user-agreement.md
Due: prettier --write

feat(legal): sms verification + consent management for 152-ФЗ
  apps/web/heys_consents_v1.js
  apps/web/heys_sms_v1.js
  apps/web/test-sms.html
  database/2025-12-20_consents.sql
Due: eslint --max-warnings=500

docs: update brief v2.1 — mark Cloud Functions as deployed
  docs/HEYS_BRIEF.md
Due: prettier --write

fix: update pnpm-lock.yaml to match overrides config
  pnpm-lock.yaml
Due: prettier --write

feat: migrate auth to Yandex Cloud API
  apps/web/heys_auth_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  yandex-cloud-functions/heys-api-rpc/function.zip
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/migrations/yandex_postgresql_setup.sql
Due: eslint --max-warnings=500

fix: cors + yandex api gateway working sync
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_yandex_api_v1.js
  docs/FIX_YANDEX_RPC.md
  package.json
  pnpm-lock.yaml
  yandex-cloud-functions/api-gateway-spec.yaml
  yandex-cloud-functions/heys-api-rest/index.js
  yandex-cloud-functions/heys-api-rest/rest.zip
  yandex-cloud-functions/heys-api-rpc.zip
  yandex-cloud-functions/heys-api-rpc/function.zip
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/migrations/2025-12-22_kv_functions.sql
Due: eslint --max-warnings=500, prettier --write

feat: add Yandex Cloud auto-deploy workflow, remove Vercel
  .github/workflows/deploy-yandex.yml
  apps/web/vercel.json
  docs/HEYS_BRIEF.md
  docs/YANDEX_DEPLOY_SETUP.md
Due: prettier --write

fix: curator logout clears client persistence, prevents consent gate
  apps/web/heys_app_v12.js
Due: eslint --max-warnings=500

fix: update deploy-yandex.yml with correct bucket names and full workflow
  .github/workflows/deploy-yandex.yml
Due: prettier --write

chore: migrate landing from Vercel to Yandex Cloud
  apps/landing/.env.example
  apps/landing/src/components/TrialForm.tsx
  apps/landing/vercel.json
  apps/web/heys_app_v12.js
  apps/web/public/sw.js
  apps/web/public/version.json
  docs/HEYS_BRIEF.md
  docs/YANDEX_DEPLOY_SETUP.md
Due: eslint --max-warnings=500, prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
