Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix(sync): закрыть 5 оставшихся pollution vectors при curator switch (Wave 1+2)
  apps/web/bundle-manifest.json
  apps/web/heys_app_shortcuts_v1.js
  apps/web/heys_day_utils.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_pwa_module_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.34aa79701d65.js
  apps/web/public/boot-app.bundle.34aa79701d65.js.gz
  apps/web/public/boot-app.bundle.3ca8c4e507fe.js
  apps/web/public/boot-app.bundle.3ca8c4e507fe.js.gz
  apps/web/public/boot-calc.bundle.007b02370cbd.js
  apps/web/public/boot-calc.bundle.007b02370cbd.js.gz
  apps/web/public/boot-calc.bundle.3e638fe6a75c.js
  apps/web/public/boot-calc.bundle.3e638fe6a75c.js.gz
  apps/web/public/boot-core.bundle.31febbcaecb1.js
  apps/web/public/boot-core.bundle.31febbcaecb1.js.gz
  apps/web/public/boot-core.bundle.fd575679e6e8.js
  apps/web/public/boot-core.bundle.fd575679e6e8.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.815966129a5d.js
  apps/web/public/postboot-1-game-lazy.bundle.815966129a5d.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.81d31241e352.js
  apps/web/public/postboot-1-game-lazy.bundle.81d31241e352.js.gz
  apps/web/public/sw.js
  apps/web/public/version.json
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new entry для 85cf0b8e (pollution hardening Wave 1+2)
  apps/web/public/whats-new.json
Due: prettier --write

chore(deploy): sync APP_VERSION + boot-core hash после frontend deploy (563b8160)
  apps/web/bundle-manifest.json
  apps/web/heys_pwa_module_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.563b81604e88.js
  apps/web/public/boot-core.bundle.563b81604e88.js.gz
  apps/web/public/boot-core.bundle.fd575679e6e8.js
  apps/web/public/boot-core.bundle.fd575679e6e8.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

fix(curator): bulk-approve больше не возвращает заявки — fingerprint server-derived
  apps/web/public/whats-new.json
  scripts/db/migrations/2026-05-30_compute_product_fingerprint.sql
  scripts/db/migrations/2026-05-30_pending_fingerprint_trigger.sql
  scripts/db/migrations/2026-05-30_publish_shared_product_auto_fingerprint.sql
Due: prettier --write

chore(release): bump whats-new build hash to 2a34e214 (curator bulk-approve fix)
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): закрыть cross-tab + bootstrap-race pollution vectors (Wave 3)
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_sync_effects_v1.js
  apps/web/heys_products_overlay_v1.js
  apps/web/heys_pwa_module_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.34aa79701d65.js
  apps/web/public/boot-app.bundle.34aa79701d65.js.gz
  apps/web/public/boot-app.bundle.7a4c12d76431.js
  apps/web/public/boot-app.bundle.7a4c12d76431.js.gz
  apps/web/public/boot-core.bundle.563b81604e88.js
  apps/web/public/boot-core.bundle.563b81604e88.js.gz
  apps/web/public/boot-core.bundle.e70ced676ada.js
  apps/web/public/boot-core.bundle.e70ced676ada.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.6fe62e44c01c.js
  apps/web/public/postboot-3-ui-lazy.bundle.6fe62e44c01c.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.9d44c8acec90.js
  apps/web/public/postboot-3-ui-lazy.bundle.9d44c8acec90.js.gz
  apps/web/public/sw.js
  apps/web/public/version.json
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new entry для c861c627 (Wave 3 cross-tab + bootstrap race)
  apps/web/public/whats-new.json
Due: prettier --write

chore(deploy): sync APP_VERSION + boot-core hash после frontend deploy (dba5b0af)
  apps/web/bundle-manifest.json
  apps/web/heys_pwa_module_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.dba5b0af7c04.js
  apps/web/public/boot-core.bundle.dba5b0af7c04.js.gz
  apps/web/public/boot-core.bundle.e70ced676ada.js
  apps/web/public/boot-core.bundle.e70ced676ada.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

test(db,regressions): Phase 2+5 plan — DB trigger tests + initial regression backlog
  TESTS/db/_helpers.ts
  TESTS/db/triggers.test.ts
  TESTS/e2e/curator-switch-pollution.spec.ts
  TESTS/e2e/perf-budget.spec.ts
  TESTS/regressions/468a2947-audit-tz-fix.test.ts
  TESTS/regressions/7fb8be2f-anti-pollution-scoping.test.ts
  TESTS/regressions/README.md
  TESTS/regressions/b30796f6-sync-reference-error.test.ts
  package.json
  vitest.db.config.ts
Due: eslint --max-warnings=500, prettier --write

fix(curator): harm backfill 500 → dedicated RPC + LS-cleanup в insights/
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-core.bundle.a2ee7f33f980.js
  apps/web/public/boot-core.bundle.a2ee7f33f980.js.gz
  apps/web/public/boot-core.bundle.dba5b0af7c04.js
  apps/web/public/boot-core.bundle.dba5b0af7c04.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.81d31241e352.js
  apps/web/public/postboot-1-game-lazy.bundle.81d31241e352.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.be4e8f65dc3c.js
  apps/web/public/postboot-1-game-lazy.bundle.be4e8f65dc3c.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.2368841eb408.js
  apps/web/public/postboot-2-insights-lazy.bundle.2368841eb408.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.fb7b83020e5e.js
  apps/web/public/postboot-2-insights-lazy.bundle.fb7b83020e5e.js.gz
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/public/whats-new.json
  scripts/bootstrap-bypass-allowlist.txt
  scripts/db/migrations/2026-05-30_backfill_shared_harm.sql
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to dd3378f4 (harm backfill + LS cleanup)
  apps/web/public/whats-new.json
Due: prettier --write

fix(sync): Wave 4 mini-fixes для rIC + messenger fallback при switch
  apps/web/bundle-manifest.json
  apps/web/heys_gamification_v1.js
  apps/web/heys_messenger_api_v1.js
  apps/web/heys_pwa_module_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.7a4c12d76431.js
  apps/web/public/boot-app.bundle.7a4c12d76431.js.gz
  apps/web/public/boot-app.bundle.95ad8ea01ec5.js
  apps/web/public/boot-app.bundle.95ad8ea01ec5.js.gz
  apps/web/public/boot-calc.bundle.3e638fe6a75c.js.gz
  apps/web/public/boot-core.bundle.97befccab1c1.js
  apps/web/public/boot-core.bundle.97befccab1c1.js.gz
  apps/web/public/boot-core.bundle.a2ee7f33f980.js
  apps/web/public/boot-core.bundle.a2ee7f33f980.js.gz
  apps/web/public/boot-day.bundle.6e919ba9c599.js
  apps/web/public/boot-day.bundle.6e919ba9c599.js.gz
  apps/web/public/boot-init.bundle.a261f6f72353.js
  apps/web/public/boot-init.bundle.a261f6f72353.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-eager.bundle.ec3e720f3597.js
  apps/web/public/postboot-1-game-eager.bundle.ec3e720f3597.js.gz
  apps/web/public/postboot-2-insights-eager.bundle.807cb783ab2f.js
  apps/web/public/postboot-2-insights-eager.bundle.807cb783ab2f.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.2368841eb408.js
  apps/web/public/postboot-2-insights-lazy.bundle.2368841eb408.js.gz
  apps/web/public/postboot-3-ui-eager.bundle.c8fad97e55d3.js
  apps/web/public/postboot-3-ui-eager.bundle.c8fad97e55d3.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.9d44c8acec90.js
  apps/web/public/postboot-3-ui-lazy.bundle.9d44c8acec90.js.gz
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new entry для 3d337f84 (Wave 4 mini-fixes)
  apps/web/public/whats-new.json
  scripts/bootstrap-bypass-allowlist.txt
Due: prettier --write

test(e2e,db): Phases 3+4+6+7 scaffolds + vitest config update
  TESTS/e2e/cross-device-sync.spec.ts
  TESTS/e2e/sw-update.spec.ts
  TESTS/rpc/heys-api-rpc.contract.test.ts
  scripts/db/migrations/README.md
  scripts/db/migrations/_template_with_rollback.sql
  vitest.config.ts
Due: eslint --max-warnings=500, prettier --write

docs(e2e): scaffold + skip pattern для agents без local env
  TESTS/e2e/README.md
Due: prettier --write

test(e2e): scaffold API surface regression guards для Wave 1-4 pollution hardening
  TESTS/e2e/curator-switch-pollution.spec.ts
Due: eslint --max-warnings=500

fix(insights): restore architectural LS-annotations after Wave 4 revert
  apps/web/bundle-manifest.json
  apps/web/heys_yesterday_verify_v1.js
  apps/web/index.html
  apps/web/insights/pi_early_warning.js
  apps/web/insights/pi_meal_rec_feedback.js
  apps/web/insights/pi_ui_cards.js
  apps/web/insights/pi_ui_meal_rec_card.js
  apps/web/public/boot-calc.bundle.3e638fe6a75c.js.gz
  apps/web/public/boot-core.bundle.78fcaca9794e.js
  apps/web/public/boot-core.bundle.78fcaca9794e.js.gz
  apps/web/public/boot-core.bundle.97befccab1c1.js
  apps/web/public/boot-core.bundle.97befccab1c1.js.gz
  apps/web/public/boot-day.bundle.6e919ba9c599.js
  apps/web/public/boot-day.bundle.6e919ba9c599.js.gz
  apps/web/public/boot-init.bundle.a261f6f72353.js
  apps/web/public/boot-init.bundle.a261f6f72353.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-eager.bundle.ec3e720f3597.js
  apps/web/public/postboot-1-game-eager.bundle.ec3e720f3597.js.gz
  apps/web/public/postboot-2-insights-eager.bundle.807cb783ab2f.js
  apps/web/public/postboot-2-insights-eager.bundle.807cb783ab2f.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.2368841eb408.js
  apps/web/public/postboot-2-insights-lazy.bundle.2368841eb408.js.gz
  apps/web/public/postboot-3-ui-eager.bundle.c8fad97e55d3.js
  apps/web/public/postboot-3-ui-eager.bundle.c8fad97e55d3.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.9d44c8acec90.js
  apps/web/public/postboot-3-ui-lazy.bundle.9d44c8acec90.js.gz
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

chore(deploy): sync APP_VERSION + boot-core hash после frontend deploy (9f3e4237)
  apps/web/bundle-manifest.json
  apps/web/heys_pwa_module_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.78fcaca9794e.js
  apps/web/public/boot-core.bundle.78fcaca9794e.js.gz
  apps/web/public/boot-core.bundle.9f3e42375658.js
  apps/web/public/boot-core.bundle.9f3e42375658.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

fix(curator): restore client-switch на backfill_shared_harm RPC
  apps/web/bundle-manifest.json
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.3b6c694f556b.js
  apps/web/public/boot-core.bundle.3b6c694f556b.js.gz
  apps/web/public/boot-core.bundle.9f3e42375658.js
  apps/web/public/boot-core.bundle.9f3e42375658.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/public/whats-new.json
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to d6406637 (harm backfill RPC restore)
  apps/web/public/whats-new.json
Due: prettier --write

fix(cf-rpc): добавить backfill_shared_harm в RPC allowlist
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

chore(release): whats-new entry для 2798ee88 (RPC allowlist patch)
  apps/web/public/whats-new.json
Due: prettier --write

feat(devx): scripts/push-and-watch.sh — push + watch deploy в одну команду
  scripts/push-and-watch.sh
Due: none

test(rpc,db): Phase 4+7 implemented — RPC contracts + migration rollback
  TESTS/db/migration-rollback.test.ts
  TESTS/rpc/heys-api-rpc.contract.test.ts
  package.json
  vitest.config.ts
Due: eslint --max-warnings=500, prettier --write

fix(cf-rpc): добавить ::jsonb type hint для backfill_shared_harm.p_updates
  apps/web/public/whats-new.json
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to f70789fe (harm backfill type hint + push-and-watch)
  apps/web/public/whats-new.json
Due: prettier --write

chore(test): pnpm test:db uses --pool=threads — fixes worker RPC timeout
  package.json
Due: prettier --write

feat(advice): Phase 0 — закрытие coverage gaps и silent-модулей
  apps/web/advice/_core.js
  apps/web/advice/_emotional.js
  apps/web/advice/_training.js
  apps/web/bundle-manifest.json
  apps/web/heys_advice_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.3b6c694f556b.js
  apps/web/public/boot-core.bundle.3b6c694f556b.js.gz
  apps/web/public/boot-core.bundle.683cba399bb5.js
  apps/web/public/boot-core.bundle.683cba399bb5.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.be4e8f65dc3c.js
  apps/web/public/postboot-1-game-lazy.bundle.be4e8f65dc3c.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.e4c1036ecbd2.js
  apps/web/public/postboot-1-game-lazy.bundle.e4c1036ecbd2.js.gz
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/public/whats-new.json
Due: eslint --max-warnings=500, prettier --write

chore(release): bump whats-new build hash to 7784df95 (advice Phase 0)
  apps/web/public/whats-new.json
Due: prettier --write

feat(advice): Phase 1.1 — knowledge base скелет + Tier-A 30 + patterns + EWS + phenotypes
  apps/web/advice/_evidence.js
Due: eslint --max-warnings=500

feat(advice): Phase 1.2+1.3 — inject evidence в expertMeta + UI sources rendering
  apps/web/advice/_core.js
  apps/web/bundle-manifest.json
  apps/web/day/_advice.js
  apps/web/heys_advice_bundle_v1.js
  apps/web/heys_day_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.3e638fe6a75c.js
  apps/web/public/boot-calc.bundle.3e638fe6a75c.js.gz
  apps/web/public/boot-calc.bundle.da63cfe52c1f.js
  apps/web/public/boot-calc.bundle.da63cfe52c1f.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.ad1397295529.js
  apps/web/public/postboot-1-game-lazy.bundle.ad1397295529.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.e4c1036ecbd2.js
  apps/web/public/postboot-1-game-lazy.bundle.e4c1036ecbd2.js.gz
  apps/web/public/sw.js
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

feat(advice): Phase 2 — calibrated personalization (computeThresholds от user profile)
  apps/web/bundle-manifest.json
  apps/web/heys_advice_rules_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.2acaf3d5e380.js
  apps/web/public/postboot-1-game-lazy.bundle.2acaf3d5e380.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.ad1397295529.js
  apps/web/public/postboot-1-game-lazy.bundle.ad1397295529.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

feat(advice): Phase 3.1+3.2 — commitment + follow-up engine infrastructure
  apps/web/advice/_commitments.js
  apps/web/advice/_core.js
  apps/web/bundle-manifest.json
  apps/web/heys_advice_bundle_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.2acaf3d5e380.js
  apps/web/public/postboot-1-game-lazy.bundle.2acaf3d5e380.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.491d48f249c7.js
  apps/web/public/postboot-1-game-lazy.bundle.491d48f249c7.js.gz
  apps/web/public/sw.js
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

feat(advice): Phase 4 — per-category cooldown + A/B framework
  apps/web/advice/_core.js
  apps/web/advice/_experiments.js
  apps/web/bundle-manifest.json
  apps/web/heys_advice_bundle_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.2ee3616dfbb2.js
  apps/web/public/postboot-1-game-lazy.bundle.2ee3616dfbb2.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.491d48f249c7.js
  apps/web/public/postboot-1-game-lazy.bundle.491d48f249c7.js.gz
  apps/web/public/sw.js
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

feat(advice): Phase 5.1+5.2 — longitudinal awareness (weekly + yesterday context)
  apps/web/advice/_core.js
  apps/web/bundle-manifest.json
  apps/web/heys_advice_bundle_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.2ee3616dfbb2.js
  apps/web/public/postboot-1-game-lazy.bundle.2ee3616dfbb2.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.65b753e65eb8.js
  apps/web/public/postboot-1-game-lazy.bundle.65b753e65eb8.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

feat(advice): Phase 6.1 — medical disclaimer (one-time, LS-tracked)
  apps/web/bundle-manifest.json
  apps/web/day/_advice.js
  apps/web/heys_day_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.4699d14514ab.js
  apps/web/public/boot-calc.bundle.4699d14514ab.js.gz
  apps/web/public/boot-calc.bundle.da63cfe52c1f.js
  apps/web/public/boot-calc.bundle.da63cfe52c1f.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

feat(advice): Phase 7 — synthetic tests + fix dual-config bundle drift
  TESTS/heys_advice_phase_refactor.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_advice_bundle_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.65b753e65eb8.js
  apps/web/public/postboot-1-game-lazy.bundle.65b753e65eb8.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.b3249deaca2c.js
  apps/web/public/postboot-1-game-lazy.bundle.b3249deaca2c.js.gz
  apps/web/public/sw.js
  apps/web/scripts/bundle-advice.cjs
Due: eslint --max-warnings=500, prettier --write

fix(advice): Phase A.2+A.6+A.8 — self-audit fixes (proteinPerKg, cooldown move, A/B baseline)
  TESTS/heys_advice_phase_refactor.test.js
  apps/web/advice/_core.js
  apps/web/advice/_experiments.js
  apps/web/bundle-manifest.json
  apps/web/heys_advice_bundle_v1.js
  apps/web/heys_advice_rules_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.4e1057d93fd6.js
  apps/web/public/postboot-1-game-lazy.bundle.4e1057d93fd6.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.b3249deaca2c.js
  apps/web/public/postboot-1-game-lazy.bundle.b3249deaca2c.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

fix(advice): Phase A.4+A.5 — longitudinal penalties + EWS-aware fallback
  apps/web/advice/_core.js
  apps/web/bundle-manifest.json
  apps/web/heys_advice_bundle_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.2eb202591f1e.js
  apps/web/public/postboot-1-game-lazy.bundle.2eb202591f1e.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.4e1057d93fd6.js
  apps/web/public/postboot-1-game-lazy.bundle.4e1057d93fd6.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

feat(advice): Phase A.1 — getThresholds architectural fix + migrate protein_low/fiber_low
  TESTS/heys_advice_phase_refactor.test.js
  apps/web/advice/_nutrition.js
  apps/web/bundle-manifest.json
  apps/web/heys_advice_bundle_v1.js
  apps/web/heys_advice_rules_v1.js
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.2d6057462b18.js
  apps/web/public/postboot-1-game-lazy.bundle.2d6057462b18.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.2eb202591f1e.js
  apps/web/public/postboot-1-game-lazy.bundle.2eb202591f1e.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
