Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(web): task129 norm-correction computed smoke timeout
  apps/web/__tests__/norm-correction-curator-kept.test.js
  scripts/.polosa4-task129-commit-msg.txt
Due: eslint --max-warnings=500

fix(test): rest-dock afterAll hook timeout
  apps/web/__tests__/strength-builder-rest-dock-geometry.test.js
Due: eslint --max-warnings=500

fix(strength): task127 D3 superset boundaries contract CSS + logic home
  apps/web/strength/heys_strength_proposal_ui_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
  scripts/.task127-superset-d3-boundaries-commit-msg.txt
Due: eslint --max-warnings=500

fix(ui-v4): ratchet verdict semantics baseline after zone closures
  scripts/lib/ui-v4-verdicts.mjs
Due: none

fix(strength-builder): подпись отдыха «по тяжести N»
  apps/web/strength/heys_strength_superset_ui_v1.js
Due: eslint --max-warnings=500

fix(lint): stabilize add-product localStorage allowlist needle
  scripts/bootstrap-bypass-allowlist.txt
Due: none

fix(web): task115 five designer v4 product-flow fixes
  apps/web/__tests__/barcode-scanner-unrecognized-threshold.test.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_edit_grams_modal_v1.js
  apps/web/strength/heys_strength_builder_ui_v1.js
  apps/web/styles/modules/300-modals-and-day.css
  apps/web/styles/modules/600-steps-and-aps.css
  apps/web/styles/modules/611-aps-product-card.css
Due: eslint --max-warnings=500

fix(strength-builder): свести А1б шапку и строку отдыха с calm-canvas
  apps/web/__tests__/strength-builder-calm-canvas-contract.test.js
  apps/web/styles/modules/750-strength-builder.css
  docs/ui/verdicts/strength-builder.json
Due: eslint --max-warnings=500, prettier --write

fix(ui-v4): ratchet strength-builder typedMismatch baseline 81→80
  apps/web/strength/heys_strength_builder_ui_v1.js
Due: eslint --max-warnings=500

docs(ui): designer-facing ≠ subsets — TON / HEIGHT / KEGL
  docs/ui/DIVERGENCE_HEIGHT_FOR_DESIGNER.md
  docs/ui/DIVERGENCE_KEGL_FOR_DESIGNER.md
  docs/ui/DIVERGENCE_TON_FOR_DESIGNER.md
  scripts/.task138-classify-divergences.mjs
Due: prettier --write

docs(ui): task136 home-widgets shutter 09/10 verdicts
  docs/ui/verdicts/home-widgets.json
  scripts/.task136-home-widgets-shutter-commit-msg.txt
  scripts/.task136-home-widgets-shutter-verdicts.mjs
Due: prettier --write

fix(ui-v4): ratchet verdict semantics baseline after polosa 2/4 closures
  apps/web/strength/heys_strength_proposal_ui_v1.js
Due: eslint --max-warnings=500

chore(ui-v4): task 139 bulk owner-decision apply script (dry-run only)
  scripts/.polosa4-task139-bulk-owner-decision-apply.mjs
  scripts/.polosa4-task139-bulk-owner-decision-handoff.json
Due: prettier --write

fix(ui-v4): ratchet verdict semantics baseline after polosa 2/4 closures
  scripts/lib/ui-v4-verdicts.mjs
Due: none

docs(ui): task137 close 11 designer verdicts (polosa 2)
  docs/ui/verdicts/pwa-update.json
  docs/ui/verdicts/tab-activity.json
Due: prettier --write

fix(curator): panel row tap opens CuratorEditStatusScreen when proposal in recent day
  apps/web/heys_curator_panel_v1.js
Due: eslint --max-warnings=500

docs(ui): narrow designer divergence lists by RISK (Task 145)
  docs/ui/DIVERGENCE_GENERAL_FOR_DESIGNER.md
  docs/ui/DIVERGENCE_HEIGHT_FOR_DESIGNER.md
  docs/ui/DIVERGENCE_KEGL_FOR_DESIGNER.md
  docs/ui/DIVERGENCE_TON_FOR_DESIGNER.md
  scripts/.task138-classify-divergences.mjs
Due: prettier --write

docs(дизайн): ответ дизайнера на 47 находок и пять вопросов — в репозиторий
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ОТВЕТ-47-находок.md
Due: prettier --write

fix(strength): task141 restore D3 boundaries perf after proposal_ui regression
  apps/web/__tests__/strength-superset-boundaries-v4-canvas-contract.test.js
  apps/web/strength/heys_strength_proposal_ui_v1.js
  apps/web/styles/modules/750-strength-builder.css
Due: eslint --max-warnings=500

fix(cycle): align disable-dialog copy with canvas contract
  apps/web/__tests__/cycle-v4-contract.test.js
  apps/web/heys_user_tab_impl_v1.js
  scripts/.task152-set-verdicts.mjs
Due: eslint --max-warnings=500

docs(ui): task 152 triage — 14 audit verdicts from task 146
  docs/ui/verdicts/app-splash.json
  docs/ui/verdicts/checkin-morning.json
  docs/ui/verdicts/curator-edits.json
  docs/ui/verdicts/cycle.json
  docs/ui/verdicts/first-run.json
  docs/ui/verdicts/norm-correction.json
  docs/ui/verdicts/nutrition-tab.json
  docs/ui/verdicts/product-card.json
  docs/ui/verdicts/registration.json
  docs/ui/verdicts/service-curator.json
  docs/ui/verdicts/strength-builder.json
  scripts/.task152-verdicts-commit-msg.txt
Due: prettier --write

fix(ui-v4): sync LEGACY_SCHEMA_BASELINE after polosa closures (task 157)
  scripts/lib/ui-v4-verdicts.mjs
Due: none

fix(strength): task155 D3 boundaries harness lock against strip regression
  apps/web/__tests__/strength-superset-boundaries-v4-canvas-contract.test.js
Due: eslint --max-warnings=500

fix(strength): task156 B2 flat superset contain for contract perf
  apps/web/styles/modules/750-strength-builder.css
Due: none

docs(ui-v4): task 161 bulk owner-decision polosa 3 (74 keys)
  docs/ui/verdicts/settings-system.json
  docs/ui/verdicts/spinners.json
  docs/ui/verdicts/strength-builder.json
  docs/ui/verdicts/subscription.json
  docs/ui/verdicts/tab-activity.json
  docs/ui/verdicts/tips.json
Due: prettier --write

fix(cycle): weight chart title and water-delay footnote
  apps/web/__tests__/cycle-v4-contract.test.js
  apps/web/heys_day_stats_v1.js
Due: eslint --max-warnings=500

docs(ui): task169 cycle graph verdicts + polosa3 re-triage
  docs/ui/verdicts/cycle.json
  docs/ui/verdicts/registration.json
  scripts/.polosa4-task169-polosa3-retriage.json
  scripts/.polosa4-task169-polosa3-retriage.mjs
  scripts/.task169-set-verdicts.mjs
Due: prettier --write

docs(ui): task 167 — designer-risk lists + bulk resplit
  docs/ui/DIVERGENCE_GENERAL_FOR_DESIGNER.md
  docs/ui/DIVERGENCE_HEIGHT_FOR_DESIGNER.md
  docs/ui/DIVERGENCE_KEGL_FOR_DESIGNER.md
  docs/ui/DIVERGENCE_TON_FOR_DESIGNER.md
  docs/ui/polosa4-task151-bulk-owner-decision-candidates.json
  scripts/.polosa4-task139-bulk-owner-decision-apply.mjs
  scripts/.polosa4-task151-candidate-split-export.mjs
  scripts/.task138-classify-divergences.mjs
  scripts/lib/ui-v4-divergence-risk.mjs
Due: prettier --write

fix(ui): task 163 bulk-close app-splash polosa1 keys
  docs/ui/verdicts/app-splash.json
  scripts/.task163-polosa1-verdicts.mjs
  scripts/lib/ui-v4-verdicts.mjs
Due: prettier --write

fix(strength): тихий ряд «Отчёт по циклу» по контракту пакета 38
  apps/web/styles/modules/750-strength-builder.css
Due: none

fix(ui): task 175 code-fix deviations
  apps/web/__tests__/nutrition-tab-v4-contract-fixes.test.js
  apps/web/__tests__/strength-builder-dispute-k-v4-canvas-contract.test.js
  apps/web/__tests__/subscription-package-c-v4.test.js
  apps/web/heys_day_nutrition_v1.js
  apps/web/heys_subscriptions_v1.js
  apps/web/strength/heys_strength_superset_ui_v1.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
  apps/web/styles/modules/735-ui-v4-subscription.css
  apps/web/styles/modules/750-strength-builder.css
Due: eslint --max-warnings=500

fix(strength): task172 canvas-contract harness perf and B3 --ac
  apps/web/__tests__/strength-builder-custom-exercise-b3-badges-v4-canvas-contract.test.js
  apps/web/__tests__/strength-superset-boundaries-v4-canvas-contract.test.js
  apps/web/__tests__/strength-superset-flat-v4-canvas-contract.test.js
  apps/web/styles/modules/750-strength-builder.css
Due: eslint --max-warnings=500

fix(product-card): task172 package 38 harm compare and barcode icons
  apps/web/heys_add_product_step_v1.js
  apps/web/styles/modules/611-aps-product-card.css
Due: eslint --max-warnings=500

docs(дизайн): поставка пакета 39 — двенадцать кадров закрыты, у строк появилась дата правки
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-gamification.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-home-widgets.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-questionnaire.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-spinners.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-tab-activity.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/gamification.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/questionnaire.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/spinners.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tab-activity.v4.dc.html
Due: prettier --write

fix(ui): task176 package38 checkin chips 44px curator scrim
  apps/web/__tests__/morning-checkin-v4-contract-geometry.test.js
  apps/web/heys_curator_panel_v1.js
  apps/web/styles/modules/500-pwa-and-offline.css
  apps/web/styles/modules/734-ui-v4-curator-panel.css
Due: eslint --max-warnings=500

fix(settings): badge «N новые» на строке «Задачи» в шторке
  apps/web/__tests__/settings-tasks-badge.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_planning_store_v1.js
Due: eslint --max-warnings=500

chore(polosa4): task 180 — candidates split, task139 handoff, handoff schema
  apps/web/__tests__/handoff-schema.test.js
  apps/web/__tests__/polosa4-task114-activity-program-unified-path.test.js
  docs/ui/polosa4-task151-bulk-owner-decision-candidates.json
  scripts/.polosa4-task139-bulk-owner-decision-handoff.json
  scripts/handoff-schema.json
  scripts/lib/handoff-batch-apply.mjs
  scripts/lib/handoff-schema.mjs
  scripts/ui-v4-handoff-inventory.mjs
  scripts/ui-v4-verdict-batch-apply.mjs
Due: eslint --max-warnings=500, prettier --write

fix(ui): task 179 subscription trial order frame (package 38)
  apps/web/heys_paywall_v1.js
Due: eslint --max-warnings=500
