Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

docs(ui-v4): советы остаются в шапке, мессенджер уезжает в плавающие кнопки
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  docs/ui/handoff-v4/canvas/README.md
Due: prettier --write

docs(ui-v4): промпты 3b и 3c — доводка рамы и четыре дефекта советов
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  docs/ui/handoff-v4/canvas/README.md
  docs/ui/handoff-v4/canvas/Советы v4.dc.html
Due: prettier --write

feat(web): UI v4 Prompt 3b — advice/settings in header, messenger to FAB
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/heys_app_nav_icons_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_gamification_bar_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/1000-messenger.css
Due: eslint --max-warnings=500

docs(ui-v4): 3b сдан, промпт 3c уточнён проверенными фактами
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

fix(advice): UI v4 prompt 3c — four advice defects
  TESTS/advice-defects-3c.test.js
  apps/web/advice/_core.js
  apps/web/advice/_nutrition.js
  apps/web/day/_advice.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_page_shell.js
  apps/web/heys_day_tab_render_v1.js
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): промпты дизайнеру — шапка/дата и полная структура советов
  docs/ui/handoff-v4/ПРОМПТ_дизайнеру_советы_полная_структура.md
  docs/ui/handoff-v4/ПРОМПТ_дизайнеру_шапка_и_дата.md
Due: prettier --write

docs(ui-v4): record prompt 3c commit sha in plan
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

docs(ui-v4): канвас советов — облако снято, ноль без числа; промпт уточнён решениями владельца
  docs/ui/handoff-v4/canvas/README.md
  docs/ui/handoff-v4/canvas/Советы v4.dc.html
  docs/ui/handoff-v4/ПРОМПТ_дизайнеру_шапка_и_дата.md
Due: prettier --write

fix(advice): вернуть заглавную букву в советах без имени
  apps/web/advice/_core.js
Due: eslint --max-warnings=500

docs(ui-v4): слой 2 советов нарисован; карта 22 категорий в 4 группы, разбор данных исследований
  docs/ui/handoff-v4/canvas/Советы v4.dc.html
  docs/ui/handoff-v4/ПРОМПТ_дизайнеру_советы_полная_структура.md
Due: prettier --write

docs(ui-v4): решения по исследованиям и неотключаемым советам зафиксированы
  docs/ui/handoff-v4/ПРОМПТ_дизайнеру_советы_полная_структура.md
Due: prettier --write

docs(ui-v4): проверка макетов — каноничная во Входе, раскладка синхронизируется
  docs/ui/handoff-v4/ПРОВЕРКА_макетов_2026-08-10.md
Due: prettier --write

docs(ui-v4): промпт 4a — Главная, факты сверены с кодом
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

docs(ui-v4): ветка 2x1 у Калорий — в работу, с точкой правки
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  docs/ui/handoff-v4/canvas/Скелетон v4.dc.html
Due: prettier --write

feat(widgets): calories 2x1 layout and hide dead settings toggles
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
Due: eslint --max-warnings=500

style(widgets): v4 paint for home dashboard tiles
  apps/web/styles/modules/730-widgets-dashboard.css
Due: none

fix(ui): ratio-over contrast on light themes; v4 date row in header
  apps/web/__tests__/day-calendar-remove-stamps.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_calendar_block_v1.js
  apps/web/heys_day_pickers.js
  apps/web/heys_day_utils.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/001-design-tokens.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: eslint --max-warnings=500, prettier --write

feat(ui): date row v4 per canvas — sheet, banner, relative labels
  apps/web/__tests__/date-header-row.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_pickers.js
  apps/web/heys_day_utils.js
  apps/web/styles/modules/000-base-and-gamification.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: eslint --max-warnings=500, prettier --write

fix(ui): date sheet dots gate, yesterday label, today footer btn
  apps/web/__tests__/date-header-row.test.js
  apps/web/heys_app_date_state_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_pickers.js
  apps/web/heys_day_utils.js
Due: eslint --max-warnings=500

feat(ui-v4): reports tab structure (prompt 4b)
  apps/web/__tests__/reports-v4-structure.test.js
  apps/web/heys_day_stats_v1.js
Due: eslint --max-warnings=500

style(ui-v4): reports tab paint (prompt 4b)
  apps/web/styles/main.css
  apps/web/styles/modules/200-dark-and-effects.css
  apps/web/styles/modules/733-ui-v4-reports.css
  apps/web/styles/modules/740-cascade-card.css
Due: none

fix(ui-v4): round reports hero kcal
  apps/web/heys_day_stats_v1.js
Due: eslint --max-warnings=500

feat(ui-v4): insights tab structure (prompt 4c)
  apps/web/__tests__/insights-v4-structure.test.js
  apps/web/insights/pi_ui_dashboard.js
Due: eslint --max-warnings=500

style(ui-v4): insights tab paint (prompt 4c)
  apps/web/styles/main-deferred.css
  apps/web/styles/modules/734-ui-v4-insights.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  docs/implementation/UI_V4_OPEN_QUESTIONS_2026-08-11.md
Due: prettier --write

docs(ui-v4): fix 4c commit SHAs in implementation plan
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: prettier --write

fix(ui-v4): insights detail drop weekly wrap; hero phrase dedupe
  apps/web/__tests__/insights-v4-structure.test.js
  apps/web/insights/pi_ui_dashboard.js
Due: eslint --max-warnings=500

style(ui-v4): cascade zonebar intensity steps (not warn)
  apps/web/heys_cascade_card_v1.js
  apps/web/styles/modules/740-cascade-card.css
Due: eslint --max-warnings=500

chore(cloudfn): разрешить CORS для замороженной копии прода
  yandex-cloud-functions/heys-api-push/index.js
  yandex-cloud-functions/heys-api-rest/index.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

chore(cloudfn): CORS копии прода в остальных функциях
  yandex-cloud-functions/heys-api-auth/index.js
  yandex-cloud-functions/heys-api-leads/index.js
  yandex-cloud-functions/heys-api-messages/index.js
  yandex-cloud-functions/heys-api-payments/index.js
  yandex-cloud-functions/heys-api-photos/index.js
  yandex-cloud-functions/heys-api-sms/index.js
Due: eslint --max-warnings=500

docs(marketing): открытые вопросы после внешнего обзора лендинга
  маркетинг/15_Ревизия_и_лог_решений.md
Due: prettier --write

feat(ui-v4): date sheet calendar variant A
  apps/web/__tests__/date-picker-sheet-v4-structure.test.js
  apps/web/heys_day_pickers.js
  apps/web/styles/modules/000-base-and-gamification.css
  docs/implementation/UI_V4_OPEN_QUESTIONS_2026-08-11.md
  docs/ui/handoff-v4/canvas/Дата и остатки v4.dc.html
Due: eslint --max-warnings=500, prettier --write

docs(pdn): рабочие каналы куратора — канал утечки не поля, а свободный текст
  маркетинг/32_ПДн_governance_релизный_контур.md
Due: prettier --write

docs(marketing): состав Pro Спорт против фактического опыта — открытый вопрос
  маркетинг/15_Ревизия_и_лог_решений.md
Due: prettier --write

docs(marketing): Pro Спорт — снять неверный довод про право вести, зафиксировать решение владельца
  маркетинг/15_Ревизия_и_лог_решений.md
Due: prettier --write

feat(ui-v4): gamification screens structure (prompt 6)
  apps/web/__tests__/gamification-screens-v4-structure.test.js
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_gamification_screens_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

feat(ui-v4): gamification screens paint (prompt 6b)
  apps/web/__tests__/gamification-screens-v4-structure.test.js
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_gamification_screens_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  docs/implementation/UI_V4_IMPLEMENTATION_PLAN_2026-08-10.md
Due: eslint --max-warnings=500, prettier --write

feat(cloud): режим только чтения для замороженной копии прода
  apps/web/heys_app_shell_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500

feat(ui-v4): chrome paint — SVG FAB icons, nav tokens
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/heys_app_nav_icons_v1.js
  apps/web/heys_day_page_shell.js
  apps/web/styles/modules/400-water-and-hydration.css
Due: eslint --max-warnings=500

fix(cloud): read-only гейт блокировал сам вход по PIN
  apps/web/heys_yandex_api_v1.js
Due: eslint --max-warnings=500

docs(legal): subprocessors §4 — SMS-провайдер назван, статус приведён к факту
  docs/legal/subprocessors.md
Due: prettier --write
