Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(bot): prevent HEYS Start webhook timeouts
  yandex-cloud-functions/heys-bot-client/index.js
Due: eslint --max-warnings=500

chore(release): add whats-new for 239c346c
  apps/web/public/whats-new.json
Due: prettier --write

fix(bot): return HEYS Start webhook methods
  yandex-cloud-functions/heys-bot-client/index.js
Due: eslint --max-warnings=500

chore(release): add whats-new for a3406ad3
  apps/web/public/whats-new.json
Due: prettier --write

chore(debug): trace day storage writes
  apps/web/heys_client_log_trace_v1.js
Due: eslint --max-warnings=500

fix(bot): avoid editing start callback messages
  yandex-cloud-functions/heys-bot-client/index.js
Due: eslint --max-warnings=500

chore(mobility): add visual assets and bundle
  apps/web/__tests__/mobility-catalog.test.js
  apps/web/heys_mobility_bundle_v1.js
  apps/web/mobility/IMPLEMENTATION_PROTOCOL.md
  apps/web/mobility/heys_mobility_atom_catalog_v1.js
  apps/web/mobility/heys_mobility_ui_v1.js
  apps/web/mobility/methodology/IMPLEMENTATION_MAP.md
  apps/web/mobility/methodology/VISUAL_PROMPTS.md
  apps/web/mobility/methodology/tools/impl-coverage.mjs
  apps/web/public/exercises/mobility/act_band_lateral_walk.webp
  apps/web/public/exercises/mobility/act_band_pullapart.webp
  apps/web/public/exercises/mobility/act_glute_bridge.webp
  apps/web/public/exercises/mobility/breath_box_tonify.webp
  apps/web/public/exercises/mobility/breath_cyclic_sigh.webp
  apps/web/public/exercises/mobility/breath_resonant.webp
  apps/web/public/exercises/mobility/flex_pnf_hamstring_hr.webp
  apps/web/public/exercises/mobility/flex_pnf_hipflexor_crac.webp
  apps/web/public/exercises/mobility/flex_relax_supine_comfort.webp
  apps/web/public/exercises/mobility/flex_static_calf.webp
  apps/web/public/exercises/mobility/flex_static_hamstring.webp
  apps/web/public/exercises/mobility/flex_static_hipflexor.webp
  apps/web/public/exercises/mobility/joint_cars_hip.webp
  apps/web/public/exercises/mobility/joint_cars_shoulder.webp
  apps/web/public/exercises/mobility/joint_cars_spine.webp
  apps/web/public/exercises/mobility/loadmob_cossack_loaded_hold.webp
  apps/web/public/exercises/mobility/loadmob_nordic_eccentric.webp
  apps/web/public/exercises/mobility/loadmob_pails_rails_hip.webp
  apps/web/public/exercises/mobility/mob_dynamic_legswing_hip.webp
  apps/web/public/exercises/mobility/mob_dynamic_thoracic_openbook.webp
  apps/web/public/exercises/mobility/mob_flow_worlds_greatest.webp
  apps/web/public/exercises/mobility/recov_active_walk.webp
  apps/web/public/exercises/mobility/recov_movement_snack.webp
  apps/web/public/exercises/mobility/restorative_supported_bolster.webp
  apps/web/public/exercises/mobility/smr_ball_glute.webp
  apps/web/public/exercises/mobility/smr_foamroll_quad.webp
  apps/web/public/exercises/mobility/smr_percussion_calf.webp
  apps/web/public/exercises/mobility/wu_locomotor.webp
  apps/web/public/exercises/mobility/wu_pulse_raise.webp
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 983177c3
  apps/web/public/whats-new.json
Due: prettier --write

chore(mobility): refresh visual assets
  apps/web/public/exercises/mobility/act_band_pullapart.webp
  apps/web/public/exercises/mobility/mob_dynamic_thoracic_openbook.webp
Due: none

chore(release): add whats-new for 11faa268
  apps/web/public/whats-new.json
Due: prettier --write

chore(mobility): normalize pull-apart visual asset
  apps/web/public/exercises/mobility/act_band_pullapart.webp
Due: none

chore(release): add whats-new for 8524ae9a
  apps/web/public/whats-new.json
Due: prettier --write

chore(mobility): refresh activation and flex visuals
  apps/web/public/exercises/mobility/act_band_lateral_walk.webp
  apps/web/public/exercises/mobility/act_glute_bridge.webp
  apps/web/public/exercises/mobility/flex_static_calf.webp
  apps/web/public/exercises/mobility/flex_static_hamstring.webp
Due: none

chore(release): add whats-new for 52672f77
  apps/web/public/whats-new.json
Due: prettier --write

chore(mobility): refresh flex stretch visuals
  apps/web/public/exercises/mobility/flex_relax_supine_comfort.webp
  apps/web/public/exercises/mobility/flex_static_hipflexor.webp
Due: none

chore(release): add whats-new for 956bc41f
  apps/web/public/whats-new.json
Due: prettier --write

fix(mobility): make training tab open reliably
  apps/web/__tests__/training-step-drums-tab.test.js
  apps/web/heys_training_step_v1.js
  apps/web/mobility/IMPLEMENTATION_PROTOCOL.md
  apps/web/mobility/methodology/IMPLEMENTATION_MAP.md
  apps/web/public/exercises/mobility/flex_pnf_hamstring_hr.webp
  apps/web/public/exercises/mobility/flex_pnf_hipflexor_crac.webp
  apps/web/public/exercises/mobility/joint_cars_hip.webp
  apps/web/public/exercises/mobility/loadmob_cossack_loaded_hold.webp
  apps/web/public/exercises/mobility/loadmob_nordic_eccentric.webp
  apps/web/public/exercises/mobility/loadmob_pails_rails_hip.webp
Due: eslint --max-warnings=500, prettier --write

chore(build): rebuild mobility training bundle
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.3df9d9a4744d.js
  apps/web/public/postboot-3-ui-lazy.bundle.3df9d9a4744d.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.7538f216cee5.js
  apps/web/public/postboot-3-ui-lazy.bundle.7538f216cee5.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 90140938
  apps/web/public/whats-new.json
Due: prettier --write

chore(mobility): refresh cars visuals
  apps/web/public/exercises/mobility/joint_cars_shoulder.webp
  apps/web/public/exercises/mobility/joint_cars_spine.webp
Due: none

chore(release): add whats-new for 5af9dbdf
  apps/web/public/whats-new.json
Due: prettier --write

chore(mobility): refresh smr visual
  apps/web/public/exercises/mobility/smr_foamroll_quad.webp
Due: none

chore(release): add whats-new for 4d724888
  apps/web/public/whats-new.json
Due: prettier --write

feat(kernel): extract shared bibliography registry + UI into _kernel/
  apps/web/__tests__/kernel-bibliography.test.js
  apps/web/_kernel/KERNEL_EXTRACTION_PLAN.md
  apps/web/_kernel/heys_kernel_bibliography_ui_v1.js
  apps/web/_kernel/heys_kernel_bibliography_v1.js
  apps/web/_kernel/heys_training_focus_ui_v1.js
  apps/web/heys_fingers_bundle_v1.js
  apps/web/public/exercises/mobility/breath_box_tonify.webp
  apps/web/public/exercises/mobility/breath_cyclic_sigh.webp
  apps/web/public/exercises/mobility/breath_resonant.webp
  apps/web/public/exercises/mobility/mob_dynamic_thoracic_openbook.webp
  apps/web/public/exercises/mobility/recov_active_walk.webp
  apps/web/public/exercises/mobility/recov_movement_snack.webp
  apps/web/public/exercises/mobility/restorative_supported_bolster.webp
  apps/web/public/exercises/mobility/smr_ball_glute.webp
  apps/web/public/exercises/mobility/smr_percussion_calf.webp
  apps/web/scripts/bundle-fingers.cjs
  apps/web/scripts/bundle-mobility.cjs
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for extract shared bibliography registry + UI into _kernel/
  apps/web/public/whats-new.json
Due: prettier --write

feat(fingers): wire bibliography badge+modal to shared kernel
  apps/web/fingers/heys_fingers_bibliography_v1.js
  apps/web/fingers/heys_fingers_session_ui_v1.js
  apps/web/styles/modules/fingers.css
Due: eslint --max-warnings=500

chore(release): whats-new for wire bibliography badge+modal to shared kernel
  apps/web/public/whats-new.json
Due: prettier --write

feat(mobility): expand rich-bibliography, add protocol catalog, lazy boot stub, refreshed visuals
  apps/web/__tests__/mobility-bibliography.test.js
  apps/web/__tests__/mobility-catalog.test.js
  apps/web/__tests__/mobility-entry.test.js
  apps/web/__tests__/mobility-protocols.test.js
  apps/web/__tests__/mobility-ui.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_training_step_v1.js
  apps/web/index.html
  apps/web/mobility/IMPLEMENTATION_PROTOCOL.md
  apps/web/mobility/heys_mobility_bibliography_v1.js
  apps/web/mobility/heys_mobility_entry_v1.js
  apps/web/mobility/heys_mobility_protocols_catalog_v1.js
  apps/web/mobility/heys_mobility_routine_builder_v1.js
  apps/web/mobility/heys_mobility_ui_v1.js
  apps/web/mobility/methodology/VISUAL_PROMPTS.md
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.372c41ded6dc.js
  apps/web/public/postboot-3-ui-lazy.bundle.372c41ded6dc.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.3df9d9a4744d.js
  apps/web/public/postboot-3-ui-lazy.bundle.3df9d9a4744d.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for expand rich-bibliography, add protocol catalog, lazy boot stub, refre…
  apps/web/public/whats-new.json
Due: prettier --write

feat(drums): release-ready drums finger trainer (engine, persistence, UI)
  apps/web/__tests__/drums-finger-trainer.test.js
  apps/web/__tests__/training-step-drums-tab.test.js
  apps/web/hobby/drums-finger-control/heys_drums_engine_v1.js
  apps/web/hobby/drums-finger-control/heys_drums_persistence_v1.js
  apps/web/hobby/drums-finger-control/heys_drums_ui_v1.js
  apps/web/styles/modules/drums-finger-trainer.css
Due: eslint --max-warnings=500

chore(release): whats-new for release-ready drums finger trainer (engine, persistence, UI)
  apps/web/public/whats-new.json
Due: prettier --write

fix(planning): show «Обновление занятий…» placeholder until first cloud pull completes
  apps/web/bundle-manifest.json
  apps/web/heys_planning_chrono_v1.js
  apps/web/heys_planning_store_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.333e4cff09d2.js
  apps/web/public/boot-core.bundle.333e4cff09d2.js.gz
  apps/web/public/boot-core.bundle.bf44b8bd088d.js
  apps/web/public/boot-core.bundle.bf44b8bd088d.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for show «Обновление занятий…» placeholder until first cloud pull complet…
  apps/web/public/whats-new.json
Due: prettier --write

chore(tests): raise timeouts on flaky parallel-load UI tests
  apps/web/__tests__/fingers-session-ui-performance.test.js
  apps/web/__tests__/mobility-ui.test.js
Due: eslint --max-warnings=500

chore(release): whats-new for raise timeouts on flaky parallel-load UI tests
  apps/web/public/whats-new.json
Due: prettier --write

feat(kernel): extract robust-stats + catalog index into _kernel/
  apps/web/__tests__/kernel-catalog.test.js
  apps/web/__tests__/kernel-stats.test.js
  apps/web/_kernel/KERNEL_EXTRACTION_PLAN.md
  apps/web/_kernel/heys_kernel_catalog_v1.js
  apps/web/_kernel/heys_kernel_stats_v1.js
  apps/web/heys_fingers_bundle_v1.js
  apps/web/scripts/bundle-fingers.cjs
  apps/web/scripts/bundle-mobility.cjs
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for extract robust-stats + catalog index into _kernel/
  apps/web/public/whats-new.json
Due: prettier --write

feat(fingers): route block catalog index + readiness stats through shared kernel
  apps/web/fingers/heys_fingers_block_catalog_v1.js
  apps/web/fingers/heys_fingers_readiness_v1.js
  apps/web/fingers/methodology/IMPLEMENTATION_READINESS.md
  apps/web/fingers/methodology/KICKOFF.md
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for route block catalog index + readiness stats through shared kernel
  apps/web/public/whats-new.json
Due: prettier --write
