Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat(widgets): шесть виджетов пакета 22 августа и «Шаги» как тренд
  apps/web/__tests__/widget-variants-v4.test.js
  apps/web/__tests__/widgets-catalog-preview-v4.test.js
  apps/web/__tests__/widgets-new-six-v4.test.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/heys_widgets_variants_v4.js
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/widgets/widget_data.js
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/gamification.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(db): гейт миграций перестал считать локальный pgAdmin репозиторием
  scripts/db/migrate.mjs
Due: none

fix(mcp): каталог продуктов пишется парой — строки и сторож целостности
  apps/web/BUGS_HISTORY.md
  apps/web/__tests__/overlay-assembly-failure-loud.test.js
  apps/web/heys_storage_supabase_v1.js
  yandex-cloud-functions/heys-mcp/__tests__/overlay-manifest-pair.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/products.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
  yandex-cloud-functions/heys-mcp/shared/overlay-shard-codec.js
  yandex-cloud-functions/shared/overlay-shard-codec.js
  yandex-cloud-functions/test-functions.sh
Due: eslint --max-warnings=500, prettier --write

fix(db): checksum миграций считается от нормализованных переводов строк
  scripts/db/migrate.mjs
Due: none

fix(dr): пары каталога вылечены живыми строками, а не откатом из снимка
  yandex-cloud-functions/DISASTER_RECOVERY_RUNBOOK.md
  yandex-cloud-functions/heys-client-daily-backup/restore-products-catalog.js
Due: eslint --max-warnings=500, prettier --write

fix(widgets): порог качества еды — как у карточки «Питания», подсказка белка снята
  apps/web/__tests__/widgets-new-six-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/widgets/widget_data.js
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-home-widgets.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(widgets): плитка добавления живёт в сетке всегда и по ширине хвоста ряда
  apps/web/__tests__/widgets-add-tile-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-home-widgets.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

feat(widgets): инсулиновая волна — схема вместо таймлайна
  apps/web/__tests__/widget-insulin-wave-v4.test.js
  apps/web/__tests__/widgets-insulin-scheme-v4.test.js
  apps/web/heys_widgets_insulin_wave_v4.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/implementation/HOME_WIDGETS_V4_CANVAS_ALIGNMENT.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-home-widgets.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/ui-v4-contract-verdicts.json
  scripts/ui-v4-check-undefined-roles.mjs
Due: eslint --max-warnings=500, prettier --write

perf(mcp): пустая выдача поиска отвечает подсказкой, а не «ничего нет»
  docs/README.md
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/products.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/products.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

fix(widgets): высота вершины волны — по углеводам приёма, и два теста под новый контракт
  apps/web/__tests__/widgets-insulin-scheme-v4.test.js
  apps/web/__tests__/widgets-v4-sphere.test.js
  apps/web/heys_widgets_insulin_wave_v4.js
Due: eslint --max-warnings=500

docs(ui): handoff v4 — food-add-short, tab-food в history, приёмка
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-nutrition-tab.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/food-add-short.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/history/tab-food.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/app-splash.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/checkin-morning.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/curator-edits.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/registration.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/settings-system.v4.html
Due: prettier --write

feat(scripts): sync:local after push and pull on any machine
  .gitignore
  .husky/post-merge
  AGENTS.md
  CLAUDE.md
  apps/web/scripts/vite-plugin-bundle-manifest-reload.js
  apps/web/vite.config.ts
  docs/operations/AGENT_SHIPPING_RUNBOOK.md
  package.json
  scripts/push-agent.mjs
  scripts/ship.mjs
  scripts/sync-local-workspace.mjs
  scripts/verify-legacy-bundles.mjs
Due: eslint --max-warnings=500, prettier --write

perf(mcp): несколько дней и приёмов правятся одним вызовом, mcp_list знает conn_id
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/telemetry.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/telemetry.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): новая карточка называется первой строкой, а разведка перед записью — лишняя
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

docs(mcp): точные числа по чтениям в журнале оптимизаций
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
Due: prettier --write

perf(mcp): контекст клиента едет в ответе чтения, а не отдельным кругом
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): критическое умещается в бюджет инструкции, day_after объясняет сам инструмент
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/telemetry.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): ответ клиенту — по просьбе куратора, day_after одной фразой
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
Due: eslint --max-warnings=500, prettier --write

fix(mcp): описания не учат плодить приёмы и ходить в профиль за нормой
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

fix(widgets): оценка дня как в канвасе, в дефолте шаги вместо неё
  apps/web/__tests__/widgets-insulin-scheme-v4.test.js
  apps/web/__tests__/widgets-layout-shrink-guard.test.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_insulin_wave_v4.js
  apps/web/heys_widgets_registry_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/heys_widgets_variants_v4.js
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/widgets/widget_data.js
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

docs(ui): канвас виджетов совпадает с уже запушенными вердиктами
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-home-widgets.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
Due: prettier --write

fix(widgets): убрать мёртвые тумблеры оценки дня
  apps/web/heys_widgets_registry_v1.js
Due: eslint --max-warnings=500

fix(heys-mcp): print deficit and maintenance in norm text
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/TIMING_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

fix(norm): одно число нормы дня — среднее NDTE за HEYS-сутки
  apps/web/BUGS_HISTORY.md
  apps/web/__tests__/hunger-energy-status-ui.test.js
  apps/web/__tests__/ndte-client-public-api.test.js
  apps/web/__tests__/training-plan-expenditure.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_day_calendar_metrics.js
  apps/web/heys_day_insights_data_v1.js
  apps/web/heys_day_low_cal_banner_v1.js
  apps/web/heys_day_norm_v1.js
  apps/web/heys_day_sparkline_data_v1.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_day_utils.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/heys_iw_constants.js
  apps/web/heys_macro_rings_core_v1.js
  apps/web/heys_tdee_v1.js
  apps/web/heys_weekly_reports_v2.js
  apps/web/widgets/widget_data.js
  docs/implementation/MCP_NORM_SERVER_SIDE_2026-08-08.md
  scripts/bootstrap-bypass-allowlist.txt
  scripts/legacy-bundle-config.mjs
  scripts/lint-heys-mcp-web-mirror.mjs
  scripts/ndte-prod-snapshot.mjs
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_day_norm_v1.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_iw_constants.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_tdee_v1.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/index.js
Due: eslint --max-warnings=500, prettier --write

test(norm): EMPTY NDTE-якоря и мок dayNorm не протекают
  apps/web/__tests__/hunger-energy-status-ui.test.js
  apps/web/__tests__/training-plan-expenditure.test.js
Due: eslint --max-warnings=500

fix(heys-mcp): product catalog glue v9 — assemble read, resolve, tail cleanup
  scripts/db/audit-resolve-live.mjs
  scripts/db/migrations/2026-08-23_shared_catalog_glue_hygiene.sql
  yandex-cloud-functions/heys-client-daily-backup/restore-products-catalog.js
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/overlay-manifest-pair.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/products.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/heys-api.js
  yandex-cloud-functions/heys-mcp/lib/products.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

chore(db): register catalog glue hygiene migration
  scripts/db/migrations/2026-08-23_shared_catalog_glue_hygiene.sql
  scripts/db/migrations/manifest.json
Due: prettier --write

chore(agent): fail-closed commit guards for incident 23.08
  .husky/pre-commit
  docs/operations/AGENT_SHIPPING_RUNBOOK.md
  scripts/agent-commit-guards.test.mjs
  scripts/check-agent-shipping-docs.mjs
  scripts/check-agent-staging.mjs
  scripts/check-staged-hygiene.mjs
  scripts/check-workspace-runtime.mjs
  scripts/db/migrate.mjs
  scripts/push-preflight.mjs
Due: prettier --write

docs(heys-mcp): post-deploy facts for catalog glue v9 journal
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
Due: prettier --write

docs(ui): ответ кодера про отметки приёма добавок для контракта вкладки «Питание»
  docs/ui/composer-supplements-marks-answers.md
Due: prettier --write

fix(scripts): workspace-runtime гейт видит пакет в apps/*, а не только в корне
  scripts/check-workspace-runtime.mjs
Due: none

docs(ui): паспорт актуальности ответа про добавки в формате справочника
  docs/ui/composer-supplements-marks-answers.md
Due: prettier --write

test(web): позиция дня считается по карточке, снимок — только при её отсутствии
  apps/web/__tests__/meal-item-snapshot-vs-card.test.js
Due: eslint --max-warnings=500

fix(web): client-scope dayv2 for cascade and gamification
  apps/web/__tests__/dayv2-client-scope.test.js
  apps/web/__tests__/ensure-meal-product-ready-reason.test.js
  apps/web/__tests__/overlay-publish-guard.test.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_utils.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_products_overlay_v1.js
  docs/reference/systems/PRODUCTS_AND_SEARCH.md
Due: eslint --max-warnings=500, prettier --write

chore(scripts): stabilize gamification localStorage allowlist needles
  scripts/bootstrap-bypass-allowlist.txt
Due: none

fix(security): avoid SAST sql-injection FP in MCP product_not_found
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

chore(repo): ignore local recovery artifacts; add catalog ambiguity audit
  .gitignore
  scripts/db/audit-catalog-ambiguity.mjs
Due: none

test(e2e): agent smoke suite and curator-switch hardening
  .cursor/rules/e2e-smoke.mdc
  .env.local.example
  AGENTS.md
  TESTS/e2e/README.md
  TESTS/e2e/curator-login-smoke.spec.ts
  TESTS/e2e/curator-switch-pollution.spec.ts
  TESTS/e2e/helpers/curator-auth.ts
  TESTS/e2e/helpers/pin-auth.ts
  TESTS/e2e/helpers/test-cleanup.ts
  TESTS/e2e/pin-auth.spec.ts
  TESTS/e2e/playwright.shared.ts
  TESTS/e2e/products-client-scope-smoke.spec.ts
  TESTS/e2e/products-heardfromcloud-smoke.spec.ts
  apps/web/__tests__/heys-e2e-fixtures.test.js
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_e2e_fixtures_v1.js
  docs/reference/systems/E2E_SMOKE.md
  docs/reference/systems/PRODUCTS_AND_SEARCH.md
  docs/reference/systems/README.md
  package.json
  playwright.curator-switch.config.ts
  playwright.heys-pin.config.ts
  playwright.smoke.config.ts
  scripts/db/migrations/2026-08-23_dev_cleanup_smoke_clients.sql
  scripts/db/migrations/2026-08-23_e2e_test_clients_consents.sql
  scripts/db/migrations/2026-08-23_e2e_test_clients_day_seed.sql
  scripts/db/migrations/2026-08-23_e2e_test_clients_login_v2.sql
  scripts/e2e/env-secrets.mjs
  scripts/e2e/load-lockbox-curator-secrets.mjs
  scripts/e2e/lockbox-add-curator-test-secret.mjs
  scripts/e2e/psql-exec.mjs
  scripts/e2e/run-smoke.mjs
  scripts/e2e/setup.mjs
  scripts/e2e/verify.mjs
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500, prettier --write

feat(web): nutrition tab v4 and water review card per canvas
  apps/web/__tests__/heys-day-water-persistence.test.js
  apps/web/__tests__/nutrition-tab-v4-states.test.js
  apps/web/__tests__/water-review-card-v4.test.js
  apps/web/heys_day_nutrition_v1.js
  apps/web/heys_day_water_card_v1.js
  apps/web/heys_day_water_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/styles/modules/400-water-and-hydration.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
Due: eslint --max-warnings=500

fix(web): route water habit hint through lsSet for push gate
  apps/web/heys_day_water_v1.js
Due: eslint --max-warnings=500
