Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

docs(agents): отложенный инструмент — не отсутствующий, а неподгруженный
  CLAUDE.md
Due: prettier --write

docs(agents): select: требует полное имя с префиксом сервера
  CLAUDE.md
Due: prettier --write

docs(audits): точка отсчёта по отложенным MCP-инструментам
  docs/audits/2026-08-25_mcp_tool_search_baseline.md
Due: prettier --write

docs(mcp): попытка 25.08 живёт в журнале коннектора, а не отдельным файлом
  docs/audits/2026-08-25_mcp_tool_search_baseline.md
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
Due: prettier --write

docs(mcp): сбой был на телефоне — сделанное туда не доезжает
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
Due: prettier --write

docs(mcp): снимок головы инструкции до перестройки
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
Due: prettier --write

fix(mcp): куратор правит свой черновик тренировки, пока клиент его не открыл
  docs/implementation/CURATOR_TRAINING_PROGRAM_PROTOCOL_2026-08-09.md
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

feat(mcp): голова инструкции распределена по телеметрии, а не по памяти
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/lib/curator.js
Due: eslint --max-warnings=500, prettier --write

feat(mcp): куратор видит состав тренировки и правит его адресно по id
  docs/implementation/CURATOR_TRAINING_PROGRAM_PROTOCOL_2026-08-09.md
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/repeat-guard.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

feat(mcp): голова знает, что делать, когда штатный путь не сработал
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
Due: prettier --write

docs(mcp): строка про ненайденный инструмент доехала до головы
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
Due: prettier --write

docs(ui): пятнадцатая сборка канваса приехала целиком
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения.zip
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-checkin-morning.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-date-remainders.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-home-widgets.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/ACCEPTANCE-nutrition-tab.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/INDEX.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/README.md
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/app-splash.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/checkin-morning.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/curator-edits.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/date-remainders.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/gamification.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/home-widgets.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/login.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/nutrition-tab.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/pwa-update.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/questionnaire.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/registration.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/settings-system.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/spinners.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/app-splash.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/checkin-morning.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/curator-edits.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/registration.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/standalone/settings-system.v4.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/tips.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/undo-bar.v4.dc.html
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/v4-canvas.css
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/water-add.v4.dc.html
Due: prettier --write

fix(lint): allowlist прямых записей держится за подстроку, а не за номер строки
  scripts/bootstrap-bypass-allowlist.txt
Due: none

docs(ui): четыре пограничных решения по шестнадцатой сборке
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

docs(ui): аудит пересобранного пакета — четыре разрыва
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

docs(ui): тридцать семь разобранных записей уехали в архив
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: prettier --write

docs(ui): открытых вопросов не осталось
  docs/ui/UI_V4_FINDINGS.md
  docs/ui/UI_V4_FINDINGS_HISTORY.md
Due: prettier --write

feat(mcp): разорванную запись ловит сервер, а не правило в инструкции
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
  yandex-cloud-functions/heys-mcp/__tests__/repeat-guard.test.cjs
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/repeat-guard.js
Due: eslint --max-warnings=500, prettier --write

fix(v4): развороты по шестнадцатой сборке
  apps/web/__tests__/feedback-policy-contract.test.js
  apps/web/__tests__/layer-ladder.test.js
  apps/web/__tests__/ui-v4-header-appearance.test.js
  apps/web/__tests__/widgets-v4-bottom-corner-layout.test.js
  apps/web/heys_app_banner_state_v1.js
  apps/web/heys_app_overlays_props_v1.js
  apps/web/heys_app_overlays_v1.js
  apps/web/heys_app_root_impl_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_app_update_notifications_v1.js
  apps/web/heys_audio_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/500-pwa-and-offline.css
Due: eslint --max-warnings=500

docs(mcp): три записи журнала говорили «на проде нет» после деплоя
  yandex-cloud-functions/heys-mcp/OPTIMIZATION_LOG.md
Due: prettier --write

docs(ui): три роли линии не покрывают шестнадцать строк пакета
  docs/ui/UI_V4_FINDINGS.md
Due: prettier --write

feat(v4): три роли линии вместо процентов по месту
  apps/web/__tests__/line-roles-v4.test.js
  apps/web/__tests__/nutrition-v4-canvas-geometry.test.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/731-ui-v4-activity.css
  apps/web/styles/modules/732-ui-v4-nutrition.css
Due: eslint --max-warnings=500

docs(ui): снимок вердиктов сведён с шестнадцатой сборкой
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

docs(ui): промпт на доведение продукта до контракта v4
  docs/ui/UI_V4_COMPLETION_PROMPT.md
Due: prettier --write

fix(web): TDZ navigateAndScrollToMeal and repeat-today meal sheet
  apps/web/__tests__/gamification-xp-past-day-gate.test.js
  apps/web/__tests__/nutrition-repeat-today-sheet.test.js
  apps/web/day/_meals.js
  apps/web/heys_day_meals_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

feat(web): widget cloud layout sync and device-only verdict wiring
  apps/web/__tests__/whats-new-seen-flag-preserved.test.js
  apps/web/__tests__/widgets-layout-cloud-rules.test.js
  apps/web/heys_storage_layer_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_ui_v1.js
Due: eslint --max-warnings=500

feat(web): unified long-press timing and v4 layer ladder
  apps/web/__tests__/layer-ladder.test.js
  apps/web/__tests__/long-press-product-rules.test.js
  apps/web/heys_hunger_energy_status_ui_v1.js
  apps/web/heys_long_press_v1.js
  apps/web/heys_messenger_v1.js
  apps/web/heys_planning_chrono_v1.js
  apps/web/heys_planning_schedule_v1.js
  apps/web/heys_planning_tasks_v1.js
  apps/web/heys_platform_apis_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/heys_water_custom_volume_v1.js
  apps/web/heys_widgets_variants_v4.js
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  scripts/legacy-bundle-config.mjs
Due: eslint --max-warnings=500

feat(web): nutrition tab v4 chips a11y and contract tests
  apps/web/__tests__/nutrition-tab-v4-contract-fixes.test.js
  apps/web/__tests__/nutrition-tab-v4-states.test.js
  apps/web/__tests__/nutrition-v4-structure.test.js
  apps/web/heys_day_nutrition_v1.js
  apps/web/styles/modules/732-ui-v4-nutrition.css
Due: eslint --max-warnings=500

feat(web): morning check-in progressbar a11y and intake consent
  apps/web/__tests__/intake-consent-first.test.js
  apps/web/__tests__/intake-v4-blocked-action.test.js
  apps/web/__tests__/morning-checkin-v4-a11y-smoke.test.js
  apps/web/__tests__/trial-intake-flow.test.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_trial_intake_v1.js
Due: eslint --max-warnings=500

test(web): fix subscription curator and nutrition structure guards
  apps/web/__tests__/subscription-curator-guard.test.js
Due: eslint --max-warnings=500

docs(ui): v4 verdicts and completion prompt; block cycle zone
  docs/ui/UI_V4_COMPLETION_PROMPT.md
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

docs(ui): remove cycle batch E from completion prompt
  docs/ui/UI_V4_COMPLETION_PROMPT.md
Due: prettier --write

docs(ui): cycle stop until package sync, not missing contract
  docs/ui/UI_V4_COMPLETION_PROMPT.md
Due: prettier --write

docs(ui): промпт сведён с семнадцатой сборкой
  docs/ui/UI_V4_COMPLETION_PROMPT.md
Due: prettier --write

docs(ui-v4): add cycle zone verdicts snapshot
  docs/ui/UI_V4_COMPLETION_PROMPT.md
  docs/ui/ui-v4-contract-verdicts.json
  scratchpad/verdicts/_extract-cycle-keys.mjs
  scratchpad/verdicts/apply-verdict.mjs
  scratchpad/verdicts/cycle-verdicts-batch.json
Due: prettier --write

fix(web): allow system font scale and pinch zoom
  apps/web/__tests__/system-font-viewport-v4.test.js
  apps/web/index.html
  apps/web/styles/critical.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  docs/ui/ui-v4-contract-verdicts.json
Due: eslint --max-warnings=500, prettier --write

fix(web): checkin-morning a11y по контракту
  apps/web/__tests__/morning-checkin-v4-a11y-smoke.test.js
  apps/web/heys_steps_v1.js
  apps/web/styles/modules/500-pwa-and-offline.css
  docs/ui/ui-v4-contract-verdicts.json
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

feat(web): widget breakdown sheets batch 1 (12 tiles)
  apps/web/__tests__/home-widgets-breakdown-v4.test.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/heys_widgets_variants_v4.js
  apps/web/styles/modules/730-widgets-dashboard.css
  docs/ui/ui-v4-contract-verdicts.json
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

docs(ui-v4): drift verdict pass for six zones
  docs/ui/handoff-v4/canvas/Переработка дизайна приложения/design_handoff_heys_v4/checkin-morning.v4.dc.html
  docs/ui/ui-v4-contract-verdicts.json
Due: prettier --write

feat(profile-v4): three profile groups per settings contract
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/__tests__/profile-v4-groups.test.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_user_tab_impl_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
