Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix(ci): remove --delete flag from s3 sync (AccessDenied)
  .github/workflows/deploy-yandex.yml
Due: prettier --write

fix(sw): respect query params in cache matching for JS files
  apps/web/public/sw.js
Due: eslint --max-warnings=500

chore: update caching strategy to golden standard
  .github/workflows/deploy-yandex.yml
Due: prettier --write

fix: ci build failure (fetch-depth: 0) and update styles
  .github/workflows/deploy-yandex.yml
  apps/web/styles/modules/715-yesterday-verify.css
Due: prettier --write

fix: health check with retry logic for CDN propagation
  .github/workflows/deploy-yandex.yml
Due: prettier --write

ci: increase health check wait time to 60s + 6 retries
  .github/workflows/deploy-yandex.yml
Due: prettier --write

fix: stabilize deploy workflow (origin healthcheck, submodules)
  .github/workflows/deploy-yandex.yml
  .gitmodules
Due: prettier --write

fix: add widgets folder upload to deploy workflow
  .github/workflows/deploy-yandex.yml
Due: prettier --write

fix: update versions for CDN cache testing
  apps/web/heys_app_v12.js
  apps/web/index.html
  apps/web/public/sw.js
  apps/web/public/version.json
Due: eslint --max-warnings=500, prettier --write

ci: speed up health check (60+300s → 10+30s)
  .github/workflows/deploy-yandex.yml
Due: prettier --write

feat: green Add Meal button + faster deploy workflow
  .github/workflows/deploy-yandex.yml
  apps/web/heys_day_v12.js
  apps/web/styles/modules/100-metrics-and-graphs.css
  infra/README.md
Due: eslint --max-warnings=500, prettier --write

refactor: консолидация TDEE расчётов + аудит готовности к запуску
  apps/web/heys_day_v12.js
  apps/web/heys_yesterday_verify_v1.js
  docs/DATA_MODEL_REFERENCE.md
  docs/HEYS_BRIEF.md
  done.md
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500, prettier --write

feat(compliance): 152-ФЗ audit — remove Supabase SDK, disable GA4/Meta Pixel
  apps/landing/src/app/layout.tsx
  apps/landing/src/components/TrialForm.tsx
  apps/web/heys_app_v12.js
  apps/web/heys_consents_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  docs/HEYS_BRIEF.md
  docs/legal/health-data-consent.md
  docs/legal/user-agreement.md
  yandex-cloud-functions/heys-api-leads/index.js
Due: eslint --max-warnings=500, prettier --write

fix: restore curator client selection after page refresh + legal audit v4.0
  apps/web/.turbo/turbo-build.log
  apps/web/heys_app_v12.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/public/sw.js
  apps/web/public/version.json
  docs/HEYS_BRIEF.md
  docs/legal/health-data-consent.md
  docs/legal/privacy-policy.md
  docs/legal/user-agreement.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: eslint --max-warnings=500, prettier --write

docs: restructure HEYS_BRIEF to Layer 0/1/2 and archive v4.0
  docs/HEYS_BRIEF.md
  docs/archive/HEYS_BRIEF_v4_0_full.md
Due: prettier --write

docs: реструктуризация брифа — краткая + полная версии
  apps/web/heys_day_utils.js
  apps/web/heys_day_v12.js
  apps/web/heys_storage_supabase_v1.js
  docs/HEYS_BRIEF.md
  docs/HEYS_BRIEF_FULL.md
Due: eslint --max-warnings=500, prettier --write

docs: update legal/financial briefs with OKVED and 54-FZ details
  docs/HEYS_BRIEF.md
  docs/HEYS_BRIEF_FULL.md
Due: prettier --write

feat: improve cloud sync with token refresh and deduplication
  apps/web/heys_day_hooks.js
  apps/web/heys_day_v12.js
  apps/web/heys_storage_layer_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
Due: eslint --max-warnings=500

fix(shared): clean performance lint warnings
  packages/shared/src/performance/BundleAnalyzer.ts
  packages/shared/src/performance/CodeSplitter.ts
  packages/shared/src/performance/LazyLoader.ts
  packages/shared/src/performance/LighthouseOptimizer.ts
  packages/shared/src/performance/TreeShaker.ts
  packages/shared/src/performance/advanced-cache-manager.ts
  packages/shared/src/performance/bundle-analyzer.ts
  packages/shared/src/performance/bundle-optimizer.ts
  packages/shared/src/performance/cache-integration-layer.ts
  packages/shared/src/performance/cache.ts
  packages/shared/src/performance/code-splitting-config.ts
  packages/shared/src/performance/components/LazyComponent.ts
  packages/shared/src/performance/components/LazyImage.tsx
  packages/shared/src/performance/configs/vite-lazy-loading.config.ts
  packages/shared/src/performance/http-cache-strategy.ts
  packages/shared/src/performance/index.ts
  packages/shared/src/performance/lazy-loading-config.ts
  packages/shared/src/performance/load-testing-tools.ts
  packages/shared/src/performance/mobile-performance-optimizer.ts
  packages/shared/src/performance/mobile.ts
  packages/shared/src/performance/network-optimization-integration.ts
  packages/shared/src/performance/network-optimizer.ts
  packages/shared/src/performance/network-performance-dashboard.ts
  packages/shared/src/performance/network.ts
  packages/shared/src/performance/performance-regression-tester.ts
  packages/shared/src/performance/performance-test-framework.ts
  packages/shared/src/performance/performance.test.ts
  packages/shared/src/performance/profiler.ts
Due: eslint --max-warnings=500

docs: security documentation integration + v2→v3 auth update
  .github/copilot-instructions.md
  database/2025-12-25_p2_final_revoke_public.sql
  docs/HEYS_BRIEF.md
  docs/P1_DEPLOY_CHECKLIST.md
  docs/SECURITY_RUNBOOK.md
Due: prettier --write

fix: p0.5 edge case hardening for cloud functions
  docs/SECURITY_RUNBOOK.md
  yandex-cloud-functions/heys-api-auth/index.js
  yandex-cloud-functions/heys-api-rest/index.js
Due: eslint --max-warnings=500, prettier --write

fix(rest): p1.1 early validation - select sanitize before db connect
  docs/SECURITY_RUNBOOK.md
  yandex-cloud-functions/heys-api-rest/index.js
Due: eslint --max-warnings=500, prettier --write

fix(security): heys-api-rest P3 hardening for YC production
  database/2025-12-26_p3_grants_heys_rest.sql
  docs/SECURITY_RUNBOOK.md
  yandex-cloud-functions/heys-api-rest/index.js
Due: eslint --max-warnings=500, prettier --write

fix(heys-api-rest): use event.params.table for YC API Gateway
  yandex-cloud-functions/heys-api-rest/index.js
Due: eslint --max-warnings=500

docs(security): add YC secrets handling section to runbook
  docs/SECURITY_RUNBOOK.md
Due: prettier --write

feat(logging): add dual-format AppLogger with normalizeLogArgs
  packages/logger/vitest.config.ts
  packages/shared/package.json
  packages/shared/src/logging/AppLogger.ts
  packages/shared/src/logging/index.ts
  packages/shared/src/performance/__tests__/logger-guard.test.ts
  packages/shared/src/performance/__tests__/logger-import-guard.test.ts
  packages/shared/src/performance/bundle-optimizer.ts
  packages/shared/src/performance/cache.ts
  packages/shared/src/performance/logger.ts
  packages/shared/src/performance/network.ts
  packages/shared/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --max-warnings=500, prettier --write

fix(security): add LOG_LEVEL gating for RPC, SAST workflow, trial capacity fix
  .github/workflows/security-scan.yml
  database/2025-12-25_fix_capacity_offer_slots.sql
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

test(database): update trial queue smoke test
  database/smoke_test_trial_queue.sql
Due: none

refactor(core): update legacy module and type exports
  packages/core/src/__tests__/legacy.test.ts
  packages/core/src/__tests__/setup.ts
  packages/core/src/legacy/index.ts
  packages/core/src/models/user.ts
  packages/core/src/secure.ts
  packages/core/src/types/index.ts
Due: eslint --max-warnings=500

chore(logger): update package.json
  packages/logger/package.json
Due: prettier --write

refactor(search): update index exports
  packages/search/src/index.ts
Due: eslint --max-warnings=500

refactor(monitoring): update logging and monitoring modules
  packages/shared/src/monitoring/AdvancedAuditLogger.test.ts
  packages/shared/src/monitoring/AdvancedAuditLogger.ts
  packages/shared/src/monitoring/__tests__/monitoring-service.test.ts
  packages/shared/src/monitoring/index.ts
  packages/shared/src/monitoring/logger.ts
  packages/shared/src/monitoring/modern-index.ts
  packages/shared/src/monitoring/monitoring-service.ts
  packages/shared/src/monitoring/performance.ts
  packages/shared/src/monitoring/realtime.ts
  packages/shared/src/monitoring/sentry-monitoring.ts
  packages/shared/src/monitoring/structured-logger.ts
Due: eslint --max-warnings=500

refactor(security): update encryption, rate limiter and security modules
  packages/shared/src/security/AdvancedEncryption.test.ts
  packages/shared/src/security/AdvancedEncryption.ts
  packages/shared/src/security/AdvancedRateLimiter.test.ts
  packages/shared/src/security/AdvancedRateLimiter.ts
  packages/shared/src/security/SecurityAnalyticsService.ts
  packages/shared/src/security/__tests__/pentest.test.ts
  packages/shared/src/security/__tests__/security.test.ts
  packages/shared/src/security/headers.ts
  packages/shared/src/security/pentest.ts
  packages/shared/src/security/validation.ts
Due: eslint --max-warnings=500

refactor(performance): update performance modules with improved type safety
  packages/shared/src/performance/BundleAnalyzer.ts
  packages/shared/src/performance/CodeSplitter.ts
  packages/shared/src/performance/LazyLoader.ts
  packages/shared/src/performance/LighthouseOptimizer.ts
  packages/shared/src/performance/TreeShaker.ts
  packages/shared/src/performance/advanced-cache-manager.ts
  packages/shared/src/performance/bundle-analyzer.ts
  packages/shared/src/performance/bundle-optimizer.test.ts
  packages/shared/src/performance/cache-integration-layer.ts
  packages/shared/src/performance/code-splitting-config.ts
  packages/shared/src/performance/components/LazyComponent.ts
  packages/shared/src/performance/components/LazyImage.tsx
  packages/shared/src/performance/http-cache-strategy.ts
  packages/shared/src/performance/index.ts
  packages/shared/src/performance/lazy-loading-config.ts
  packages/shared/src/performance/load-testing-tools.ts
  packages/shared/src/performance/mobile-performance-optimizer.ts
  packages/shared/src/performance/mobile.ts
  packages/shared/src/performance/network-optimization-integration.ts
  packages/shared/src/performance/network-optimizer.ts
  packages/shared/src/performance/network-performance-dashboard.ts
  packages/shared/src/performance/performance-regression-tester.ts
  packages/shared/src/performance/performance-test-framework.ts
  packages/shared/src/performance/profiler.ts
Due: eslint --max-warnings=500

refactor(shared): update misc, database, user and day modules
  packages/shared/src/__tests__/setup.ts
  packages/shared/src/database/DatabaseService.ts
  packages/shared/src/day/heys_day_v12.ts
  packages/shared/src/index.ts
  packages/shared/src/misc/heys_error_boundary_v1.ts
  packages/shared/src/misc/heys_performance_monitor.ts
  packages/shared/src/misc/heys_virtual_list_v1.ts
  packages/shared/src/user/heys_user_v12.ts
  packages/shared/tsconfig.tsbuildinfo
Due: eslint --max-warnings=500

feat(web): update app version and web components
  apps/web/heys_app_v12.js
  apps/web/heys_step_modal_v1.js
  apps/web/index.html
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/src/App.tsx
  apps/web/src/components/ErrorBoundary.tsx
  apps/web/src/components/OptimizedImage/OptimizedImage.tsx
  apps/web/src/components/lazy/LazySettings.tsx
  apps/web/src/hooks/useLazyComponent.ts
  apps/web/src/hooks/usePreloadRoute.ts
  apps/web/src/hooks/useServiceWorker.ts
  apps/web/src/lib/supabase/audit-service.ts
  apps/web/src/lib/supabase/field-encryption.ts
  apps/web/src/lib/supabase/rls-policies.ts
  apps/web/src/main.tsx
  apps/web/src/middleware/auth.ts
  apps/web/src/middleware/demo-usage.ts
  apps/web/src/middleware/security.ts
  apps/web/src/routes/LazyRoutes.tsx
  apps/web/src/utils/dynamic-imports.ts
  apps/web/src/utils/image-optimizer.ts
  apps/web/src/utils/lazy-loader.ts
  apps/web/src/utils/service-worker-manager.ts
  apps/web/src/utils/validator.ts
Due: eslint --max-warnings=500, prettier --write

chore: update root package.json
  package.json
Due: prettier --write

chore: add lint-log.sh helper script
  scripts/lint-log.sh
Due: none

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
