Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

chore(db): миграция обязательного хэша согласий — подготовлена, не применена
  database/2026-08-11_consents_hash_gate.sql
Due: none

fix(deploy): отключённая функция не уезжает в прод явным списком
  database/2026-08-11_consents_hash_gate.sql
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/function-inventory.cjs
Due: none

fix(deploy): гейт autoDeploy на всех путях, причина обязательна
  docs/legal/subprocessors.md
  yandex-cloud-functions/deploy-all.sh
  yandex-cloud-functions/function-inventory.cjs
Due: prettier --write

fix(intake): адресная ошибка валидации и человеческие подписи на сверке
  apps/web/heys_trial_intake_v1.js
Due: eslint --max-warnings=500

fix(stable): write-context RPC не должен блокироваться read-only гейтом
  apps/web/heys_yandex_api_v1.js
Due: eslint --max-warnings=500

fix(auth): экран входа показывает настоящую причину отказа, а не «PIN не подошёл»
  apps/web/BUGS_HISTORY.md
  apps/web/__tests__/heys-auth-login-client.test.js
  apps/web/heys_auth_v1.js
  apps/web/heys_login_screen_v1.js
Due: eslint --max-warnings=500, prettier --write

fix(auth): словарь кодов входа со сверкой SQL↔клиент и честный счётчик неудач
  apps/web/BUGS_HISTORY.md
  apps/web/__tests__/heys-auth-login-client.test.js
  apps/web/__tests__/login-error-codes-contract.test.js
  apps/web/heys_auth_v1.js
  apps/web/heys_login_screen_v1.js
Due: eslint --max-warnings=500, prettier --write

fix(auth): ограничитель PIN-входа возвращается на клиента, тест на свойство
  TESTS/db/pin-lockout.test.ts
  database/2026-08-11_pin_lockout_by_phone.sql
Due: eslint --max-warnings=500

test(auth): контракт кодов входа проверяет свои допущения и записан как паттерн
  apps/web/BUGS_HISTORY.md
  apps/web/__tests__/login-error-codes-contract.test.js
  todo.md
Due: eslint --max-warnings=500, prettier --write

fix(legal): signature_method — добавлен pin_confirm, убраны неиспользуемые SMS-значения
  apps/web/heys_consents_v1.js
  database/2026-08-11_consents_pin_confirm_signature.sql
  todo.md
Due: eslint --max-warnings=500, prettier --write

fix(photos): закрыть публичный доступ к бакету фото/аудио на сервере
  docs/SECURITY_REVIEW.md
  docs/SECURITY_REVIEW_sec006_recommendation.md
  yandex-cloud-functions/heys-api-photos/index.js
Due: eslint --max-warnings=500, prettier --write

fix(photos): клиент читает фото/голосовые через авторизованный путь, не по URL
  apps/web/__tests__/messenger-reliability-contract.test.js
  apps/web/heys_day_add_product.js
  apps/web/heys_day_gallery.js
  apps/web/heys_day_hooks.js
  apps/web/heys_day_meal_card.js
  apps/web/heys_messenger_api_v1.js
  apps/web/heys_messenger_v1.js
  apps/web/heys_storage_photos_v1.js
  scripts/verify-legacy-bundles.mjs
Due: eslint --max-warnings=500

fix(tasks): transcript checkpoint appends chronologically
  yandex-cloud-functions/__tests__/function-inventory.test.cjs
  yandex-cloud-functions/function-inventory.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

feat(legal): health minimization — intake, optional gates, purge inventory
  apps/web/__tests__/trial-intake-flow.test.js
  apps/web/heys_health_features_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_profile_step_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/heys_sync_merge_v1.js
  apps/web/heys_trial_intake_v1.js
  apps/web/heys_trial_queue_v1.js
  apps/web/heys_user_tab_impl_v1.js
  apps/web/heys_user_v12.js
  docs/ release/handoff-prompts.md
  docs/ release/release-plan.md
  docs/release/health-data-destruction-act-template.md
  scripts/db/migrations/2026-08-11_health_minimization_features_v1.sql
  scripts/db/migrations/2026-08-11_health_minimization_intake_v1.sql
  scripts/db/migrations/2026-08-11_health_minimization_purge_v1.sql
  scripts/legacy-bundle-config.mjs
  yandex-cloud-functions/heys-api-rest/lib/heys_sync_merge_v1.cjs
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/profile.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

feat(auth): client login scheme v2 — SQL, RPC, tests
  TESTS/db/client-login-scheme.test.ts
  database/2026-08-11_client_login_legacy_gate.sql
  database/2026-08-11_client_login_scheme_v2.sql
  database/2026-08-11_client_login_sign_access_code_null.sql
  yandex-cloud-functions/heys-api-auth/index.js
  yandex-cloud-functions/heys-api-rpc/index.js
  yandex-cloud-functions/heys-cron-reminders/index.js
Due: eslint --max-warnings=500

fix(storage): purge через Store; lint без drift и комментариев
  apps/web/heys_health_features_v1.js
  scripts/bootstrap-bypass-allowlist.txt
  scripts/lint-direct-localstorage-writes.mjs
Due: eslint --max-warnings=500

test(login): актуальная pin_v3 — последний файл за день
  apps/web/__tests__/login-error-codes-contract.test.js
Due: eslint --max-warnings=500

fix(ui-v4): вернуть литералы там, где роль сдвигает классику
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/733-ui-v4-login-theme.css
  apps/web/styles/modules/733-ui-v4-reports.css
  apps/web/styles/modules/734-ui-v4-insights.css
  apps/web/styles/modules/740-cascade-card.css
Due: none

Revert "fix(ui-v4): вернуть литералы там, где роль сдвигает классику"
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/733-ui-v4-login-theme.css
  apps/web/styles/modules/733-ui-v4-reports.css
  apps/web/styles/modules/734-ui-v4-insights.css
  apps/web/styles/modules/740-cascade-card.css
Due: none

fix(ui-v4): sand-роли вместо warm fallback у --v4-act
  apps/web/__tests__/app-nav-v4-frame.test.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/733-ui-v4-login-theme.css
  apps/web/styles/modules/733-ui-v4-reports.css
  apps/web/styles/modules/734-ui-v4-insights.css
  apps/web/styles/modules/740-cascade-card.css
  scripts/bootstrap-bypass-allowlist.baseline
  scripts/db/migrate.mjs
  scripts/lint-direct-localstorage-writes.mjs
Due: eslint --max-warnings=500

fix(ui-v4): classic-drift не путает dark в комментариях
  apps/web/styles/modules/1000-messenger.css
  scripts/ui-v4-check-classic-drift.mjs
Due: none

fix(release): снять трекинг цикла с релиза (kill-switch + MCP gate)
  apps/landing/src/app/legal/health-data-consent/page.tsx
  apps/web/__tests__/health-features-cycle-release-gate.test.js
  apps/web/heys_cycle_v1.js
  apps/web/heys_health_features_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_profile_step_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_user_tab_impl_v1.js
  apps/web/heys_widgets_registry_v1.js
  docs/legal/consent-forms.md
  docs/legal/health-data-consent.md
  docs/legal/privacy-policy.md
  docs/ui/handoff-v4/canvas/README.md
  docs/ui/handoff-v4/canvas/archive/README.md
  docs/ui/handoff-v4/canvas/archive/Цикл v4.dc.html
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/profile.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
  yandex-cloud-functions/heys-mcp/lib/web-mirror/heys_cycle_v1.js
Due: eslint --max-warnings=500, prettier --write

fix(ci): разблокировать web deploy — legal snapshot и UI v4 тесты
  apps/landing/src/app/legal/health-data-consent/page.tsx
  apps/web/__tests__/curator-actions-banner.test.js
  apps/web/__tests__/messenger-composer-redesign.test.js
  apps/web/__tests__/morning-mood-slider-gesture.test.js
  apps/web/heys_curator_actions_banner_v1.js
  docs/legal/consent-forms.md
  docs/legal/health-data-consent.md
  docs/legal/privacy-policy.md
Due: eslint --max-warnings=500, prettier --write

fix(ci): messenger-states тесты под суффиксный dark и --v4-ink-2
  apps/web/__tests__/messenger-states-redesign.test.js
Due: eslint --max-warnings=500

fix(db): purge health-minimization — флаги профиля, порядок, контроль счётчиков
  scripts/db/migrations/2026-08-11_health_minimization_purge_v1.sql
Due: none

fix(db): health-minimization — clamp step>4 и JSON в audit
  scripts/db/migrations/2026-08-11_health_minimization_features_v1.sql
  scripts/db/migrations/2026-08-11_health_minimization_intake_v1.sql
Due: none

fix(web): анкета — финал без мессенджера, таймер до 3 мин
  apps/web/heys_trial_intake_v1.js
Due: eslint --max-warnings=500

feat(release): цикл — исключение супруги; предупреждение анкеты 1.0
  apps/web/__tests__/health-features-cycle-release-gate.test.js
  apps/web/heys_health_features_v1.js
  apps/web/heys_trial_intake_v1.js
  scripts/db/migrations/2026-08-12_health_minimization_purge_exclude_spouse_v1.sql
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/cycle_release_gate.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/profile.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

fix(db): purge exclude spouse — cycle+measurements+supplements
  scripts/db/migrations/2026-08-12_health_minimization_purge_exclude_spouse_v2.sql
Due: none

fix(db): purge audit_logs insert matches live schema
  scripts/db/migrations/2026-08-12_health_minimization_purge_exclude_spouse_v2.sql
Due: none

docs(release): акт уничтожения health-minimization 2026-08-12
  docs/release/health-data-destruction-act-2026-08-12.md
Due: prettier --write

feat(health): replace UUID allowlist with profile internalAccount flag
  apps/web/__tests__/health-features-cycle-release-gate.test.js
  apps/web/heys_health_features_v1.js
  apps/web/heys_user_tab_impl_v1.js
  scripts/db/migrations/2026-08-12_internal_account_flag_v1.sql
  yandex-cloud-functions/heys-mcp/__tests__/cycle_release_gate.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/cycle_release_gate.cjs
  yandex-cloud-functions/heys-mcp/lib/profile.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500

fix(consents): unchecked reminders default + markdown modal render
  apps/web/__tests__/consent-markdown-render.test.js
  apps/web/heys_consents_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

feat(trial): warn in bot ~2d before incomplete candidate purge
  scripts/cron-trial-notifications.js
  scripts/db/migrations/2026-08-12_purge_incomplete_trial_candidates_v1.sql
  scripts/db/migrations/2026-08-12_trial_candidate_purge_warn_v1.sql
  yandex-cloud-functions/heys-bot-client/index.js
  yandex-cloud-functions/heys-cron-trial-drip/index.js
  yandex-cloud-functions/heys-cron-trial-drip/purge-warn.test.js
  yandex-cloud-functions/heys-maintenance/index.js
Due: eslint --max-warnings=500

test(bot-client): expect telegram_chat_id on Start lead handoff
  yandex-cloud-functions/heys-bot-client/__tests__/start-lead-crm.test.cjs
Due: none

fix(trial-drip): send Telegram directly, bypass broken /bot/send gateway
  yandex-cloud-functions/heys-cron-trial-drip/index.js
  yandex-cloud-functions/heys-maintenance/index.js
Due: eslint --max-warnings=500

fix(bot-client): route /bot/send before empty-path webhook catch-all
  yandex-cloud-functions/heys-bot-client/__tests__/resolve-http-path.test.cjs
  yandex-cloud-functions/heys-bot-client/index.js
  yandex-cloud-functions/heys-cron-trial-drip/index.js
  yandex-cloud-functions/heys-maintenance/index.js
Due: eslint --max-warnings=500

fix(ui-v4): --v4-wgt-* роли палитры и 57 замен в виджетах
  apps/web/styles/modules/002-ui-v4-palette-roles.css
  apps/web/styles/modules/730-widgets-dashboard.css
Due: none

fix(bot): make /bot/send auth survive API Gateway header drop
  scripts/cron-trial-notifications.js
  yandex-cloud-functions/api-gateway-spec-v2.yaml
  yandex-cloud-functions/api-gateway-spec.yaml
  yandex-cloud-functions/heys-bot-client/__tests__/extract-internal-cron-token.test.cjs
  yandex-cloud-functions/heys-bot-client/index.js
  yandex-cloud-functions/heys-cron-trial-drip/index.js
  yandex-cloud-functions/heys-maintenance/index.js
Due: eslint --max-warnings=500, prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
