Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

fix(barcode): stabilize camera autostart
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.8fbf49b0ac1a.js
  apps/web/public/postboot-3-ui-lazy.bundle.8fbf49b0ac1a.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.9ad2796846ef.js
  apps/web/public/postboot-3-ui-lazy.bundle.9ad2796846ef.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 4db52bd0
  apps/web/public/whats-new.json
Due: prettier --write

fix(barcode): stop camera after scanning
  apps/web/__tests__/barcode-contract.test.js
  apps/web/__tests__/morning-activation-followup.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_add_product.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_steps_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.13958f6d2815.js
  apps/web/public/boot-calc.bundle.13958f6d2815.js.gz
  apps/web/public/boot-calc.bundle.5202acaa7557.js
  apps/web/public/boot-calc.bundle.5202acaa7557.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.8fbf49b0ac1a.js
  apps/web/public/postboot-3-ui-lazy.bundle.8fbf49b0ac1a.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.bc8a46f5f2ac.js
  apps/web/public/postboot-3-ui-lazy.bundle.bc8a46f5f2ac.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/600-steps-and-aps.css
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 9c8d562a
  apps/web/public/whats-new.json
Due: prettier --write

chore(products): moderate shared catalog edits
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_cloud_shared_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_yandex_api_v1.js
  scripts/db/migrations/2026-06-29_shared_product_change_requests.sql
  yandex-cloud-functions/heys-api-rest/index.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

chore(build): sync generated artifacts for agent integration
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.54da349441c2.js
  apps/web/public/boot-app.bundle.54da349441c2.js.gz
  apps/web/public/boot-app.bundle.80c5339840d5.js
  apps/web/public/boot-app.bundle.80c5339840d5.js.gz
  apps/web/public/boot-core.bundle.68b494a5d119.js
  apps/web/public/boot-core.bundle.68b494a5d119.js.gz
  apps/web/public/boot-core.bundle.882b6a660968.js
  apps/web/public/boot-core.bundle.882b6a660968.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.bc8a46f5f2ac.js
  apps/web/public/postboot-3-ui-lazy.bundle.bc8a46f5f2ac.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.ee58ad36e9df.js
  apps/web/public/postboot-3-ui-lazy.bundle.ee58ad36e9df.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for agent integration
  apps/web/public/whats-new.json
Due: prettier --write

docs(agents): require deploy fact checks
  AGENTS.md
  scripts/bootstrap-bypass-allowlist.txt
Due: prettier --write

fix(day): finish meal add flows after products
  apps/web/__tests__/meal-preset-bulk-add.test.js
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_add_product.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.5202acaa7557.js
  apps/web/public/boot-calc.bundle.5202acaa7557.js.gz
  apps/web/public/boot-calc.bundle.d16ca54b1db7.js
  apps/web/public/boot-calc.bundle.d16ca54b1db7.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.3108dcbcf5ce.js
  apps/web/public/postboot-3-ui-lazy.bundle.3108dcbcf5ce.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.ee58ad36e9df.js
  apps/web/public/postboot-3-ui-lazy.bundle.ee58ad36e9df.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for meal add flow
  apps/web/public/whats-new.json
Due: prettier --write

chore(dayv2): guard day payload date mismatches
  apps/web/__tests__/heys-day-water-persistence.test.js
  apps/web/__tests__/morning-checkin-stability.test.js
  apps/web/heys_day_day_handlers.js
  apps/web/heys_day_effects.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_profile_step_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_yesterday_verify_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(hooks): refresh bootstrap allowlist
  scripts/bootstrap-bypass-allowlist.txt
Due: none

chore(products): refine product editor controls
  apps/web/heys_add_product_step_v1.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/600-steps-and-aps.css
Due: eslint --max-warnings=500

chore(dayv2): harden day date guards
  apps/web/heys_day_core_bundle_v1.js
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

chore(morning): handle training charge replacements
  apps/web/__tests__/morning-activation-calendar.test.js
  apps/web/__tests__/morning-activation-followup.test.js
  apps/web/__tests__/morning-activation-training-delete.test.js
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_day_activity_v1.js
  apps/web/heys_day_trainings_v1.js
  apps/web/heys_morning_activation_calendar_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/300-modals-and-day.css
Due: eslint --max-warnings=500

chore(build): sync legacy bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-calc.bundle.d16ca54b1db7.js
  apps/web/public/boot-calc.bundle.d16ca54b1db7.js.gz
  apps/web/public/boot-calc.bundle.ffae11b42c91.js
  apps/web/public/boot-calc.bundle.ffae11b42c91.js.gz
  apps/web/public/boot-core.bundle.882b6a660968.js
  apps/web/public/boot-core.bundle.882b6a660968.js.gz
  apps/web/public/boot-core.bundle.e38f51062f6d.js
  apps/web/public/boot-core.bundle.e38f51062f6d.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.518929d1ac35.js
  apps/web/public/postboot-1-game-lazy.bundle.518929d1ac35.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.668ae45b3119.js
  apps/web/public/postboot-1-game-lazy.bundle.668ae45b3119.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.3108dcbcf5ce.js
  apps/web/public/postboot-3-ui-lazy.bundle.3108dcbcf5ce.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.a6656ccc8719.js
  apps/web/public/postboot-3-ui-lazy.bundle.a6656ccc8719.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for 1650bebe
  apps/web/public/whats-new.json
Due: prettier --write

chore(day): compact stale meal cards
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.f60e9edc4d99.js
  apps/web/public/boot-calc.bundle.f60e9edc4d99.js.gz
  apps/web/public/boot-calc.bundle.ffae11b42c91.js
  apps/web/public/boot-calc.bundle.ffae11b42c91.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for abf8003b
  apps/web/public/whats-new.json
Due: prettier --write

fix(morning): close followup after activation decision
  apps/web/__tests__/morning-activation-followup.test.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_steps_v1.js
Due: eslint --max-warnings=500

feat(day): add fiber guidance panel
  apps/web/day/_meals.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/styles/heys-components.css
Due: eslint --max-warnings=500

chore(release): add whats-new for eba282cc
  apps/web/public/whats-new.json
Due: prettier --write

chore(build): sync legacy bundles
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-calc.bundle.d9603e90155f.js
  apps/web/public/boot-calc.bundle.d9603e90155f.js.gz
  apps/web/public/boot-calc.bundle.f60e9edc4d99.js
  apps/web/public/boot-calc.bundle.f60e9edc4d99.js.gz
  apps/web/public/boot-day.bundle.30fa25041611.js
  apps/web/public/boot-day.bundle.30fa25041611.js.gz
  apps/web/public/boot-day.bundle.36f1376b0815.js
  apps/web/public/boot-day.bundle.36f1376b0815.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.a6656ccc8719.js
  apps/web/public/postboot-3-ui-lazy.bundle.a6656ccc8719.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.f83ec1761e86.js
  apps/web/public/postboot-3-ui-lazy.bundle.f83ec1761e86.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

feat(day): show fiber sources in diary
  apps/web/bundle-manifest.json
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.d9603e90155f.js
  apps/web/public/boot-calc.bundle.d9603e90155f.js.gz
  apps/web/public/boot-calc.bundle.dda579095195.js
  apps/web/public/boot-calc.bundle.dda579095195.js.gz
  apps/web/public/boot-day.bundle.30fa25041611.js
  apps/web/public/boot-day.bundle.30fa25041611.js.gz
  apps/web/public/boot-day.bundle.fa66b98c8ce3.js
  apps/web/public/boot-day.bundle.fa66b98c8ce3.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  apps/web/styles/heys-components.css
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for show fiber sources in diary
  apps/web/public/whats-new.json
Due: prettier --write

feat(day): add diary panel controls and wave overview
  apps/web/day/_meals.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_goal_progress_v1.js
  apps/web/heys_day_insulin_wave_ui_v1.js
  apps/web/heys_day_stats_block_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_day_tab_render_v1.js
  apps/web/heys_iw_ui.js
  apps/web/heys_planning_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
  apps/web/styles/modules/100-metrics-and-graphs.css
  apps/web/styles/modules/300-modals-and-day.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/900-planning.css
Due: eslint --max-warnings=500

chore(build): sync legacy bundles
  apps/web/bundle-manifest.json
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.5fe6cbcd01c4.js
  apps/web/public/boot-app.bundle.5fe6cbcd01c4.js.gz
  apps/web/public/boot-app.bundle.80c5339840d5.js
  apps/web/public/boot-app.bundle.80c5339840d5.js.gz
  apps/web/public/boot-calc.bundle.c1f93448e971.js
  apps/web/public/boot-calc.bundle.c1f93448e971.js.gz
  apps/web/public/boot-calc.bundle.dda579095195.js
  apps/web/public/boot-calc.bundle.dda579095195.js.gz
  apps/web/public/boot-day.bundle.adc64182db88.js
  apps/web/public/boot-day.bundle.adc64182db88.js.gz
  apps/web/public/boot-day.bundle.fa66b98c8ce3.js
  apps/web/public/boot-day.bundle.fa66b98c8ce3.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.668ae45b3119.js
  apps/web/public/postboot-1-game-lazy.bundle.668ae45b3119.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.ce381dbe4a22.js
  apps/web/public/postboot-1-game-lazy.bundle.ce381dbe4a22.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.b80b0e85e272.js
  apps/web/public/postboot-3-ui-lazy.bundle.b80b0e85e272.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.f83ec1761e86.js
  apps/web/public/postboot-3-ui-lazy.bundle.f83ec1761e86.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(repo): remove project template submodule
  .gitmodules
Due: none

chore(release): add whats-new for d174f505 [bundle-size-ok]
  apps/web/public/whats-new.json
Due: prettier --write

chore(products): harden product add persistence
  apps/web/__tests__/meal-preset-bulk-add.test.js
  apps/web/__tests__/product-commit-gate-contract.test.js
  apps/web/bundle-manifest.json
  apps/web/day/_meals.js
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_day_add_product.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_effects.js
  apps/web/heys_day_meal_optimizer_section.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/index.html
  apps/web/insights/pi_ui_meal_rec_card.js
  apps/web/public/boot-calc.bundle.c1f93448e971.js
  apps/web/public/boot-calc.bundle.c1f93448e971.js.gz
  apps/web/public/boot-calc.bundle.e8b5ee416113.js
  apps/web/public/boot-calc.bundle.e8b5ee416113.js.gz
  apps/web/public/boot-core.bundle.9dca9a9b7d6d.js
  apps/web/public/boot-core.bundle.9dca9a9b7d6d.js.gz
  apps/web/public/boot-core.bundle.e38f51062f6d.js
  apps/web/public/boot-core.bundle.e38f51062f6d.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-2-insights-lazy.bundle.5987eace0615.js
  apps/web/public/postboot-2-insights-lazy.bundle.5987eace0615.js.gz
  apps/web/public/postboot-2-insights-lazy.bundle.fa39ace5cf00.js
  apps/web/public/postboot-2-insights-lazy.bundle.fa39ace5cf00.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.085bf35cc873.js
  apps/web/public/postboot-3-ui-lazy.bundle.085bf35cc873.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.b80b0e85e272.js
  apps/web/public/postboot-3-ui-lazy.bundle.b80b0e85e272.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/600-steps-and-aps.css
  scripts/bootstrap-bypass-allowlist.txt
  scripts/db/repair-products-overlay-orphans.sql
Due: eslint --max-warnings=500, prettier --write

chore(release): add whats-new for d4c1c6a3 [bundle-size-ok]
  apps/web/public/whats-new.json
Due: prettier --write

chore(push): add preflight guard flow
  .husky/pre-push
  AGENTS.md
  CLAUDE.md
  apps/web/WHATS_NEW_COPY.md
  package.json
  scripts/pre-push-vitest-cache.mjs
  scripts/push-agent.mjs
  scripts/push-preflight.mjs
  scripts/push-safe.mjs
Due: prettier --write

chore(perf): update boot split baseline
  apps/web/__perf_baselines__/boot-split-baselines.json
Due: prettier --write

docs(mobile): document iOS unlisted app plan
  apps/mobile/IOS_UNLISTED_APP_PLAN.md
Due: prettier --write

feat(auth): improve mobile PIN login
  apps/web/bundle-manifest.json
  apps/web/heys_login_screen_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.5fe6cbcd01c4.js
  apps/web/public/boot-app.bundle.5fe6cbcd01c4.js.gz
  apps/web/public/boot-app.bundle.e131e76d8433.js
  apps/web/public/boot-app.bundle.e131e76d8433.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  apps/web/styles/heys-components.css
Due: eslint --max-warnings=500, prettier --write

chore(release): whats-new for improve mobile PIN login
  apps/web/public/whats-new.json
Due: prettier --write

test(push): align push-safe guardrail expectation
  apps/web/__tests__/push-safe.test.js
Due: eslint --max-warnings=500

docs(mobile): expand iOS unlisted app runbook
  apps/mobile/IOS_UNLISTED_APP_PLAN.md
Due: prettier --write

chore(push): simplify push flow guidance
  AGENTS.md
  CLAUDE.md
  apps/web/WHATS_NEW_COPY.md
  scripts/push-agent.mjs
  scripts/push-safe.mjs
Due: prettier --write

chore(mobile): prepare iOS release shell foundation
  apps/mobile/.env.example
  apps/mobile/IOS_UNLISTED_APP_PLAN.md
  apps/mobile/app.json
  apps/mobile/eas.json
  apps/mobile/package.json
  apps/mobile/src/features/auth/api.ts
  apps/mobile/src/features/biometrics/index.ts
  apps/mobile/src/features/deeplink/routes.ts
  apps/mobile/src/features/notifications/index.ts
  apps/mobile/src/features/session/storage.ts
  apps/mobile/src/features/session/types.ts
  apps/mobile/src/features/webview/navigation-policy.ts
  apps/mobile/src/features/webview/session-exchange.ts
  apps/mobile/src/services/api-client.ts
  apps/mobile/src/shared/config/urls.ts
  apps/mobile/src/shared/ui/shell.tsx
  apps/mobile/src/types/env.d.ts
Due: eslint --max-warnings=500, prettier --write

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
