Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

feat(mcp): open client photos from the messenger thread
  yandex-cloud-functions/heys-mcp/CURATOR_GUIDE.md
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/products.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/heys-api.js
  yandex-cloud-functions/heys-mcp/lib/mcp.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

feat(products): warn about similar personal product before creating a duplicate
  apps/web/__tests__/similar-product-name-guard.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_add_product_step_v1.js
  apps/web/index.html
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.195ebcefd335.js
  apps/web/public/postboot-3-ui-lazy.bundle.195ebcefd335.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.ada30f4fac25.js
  apps/web/public/postboot-3-ui-lazy.bundle.ada30f4fac25.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/600-steps-and-aps.css
Due: eslint --max-warnings=500, prettier --write

feat(mcp): publish industrial products to the shared catalog
  yandex-cloud-functions/heys-mcp/CURATOR_GUIDE.md
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/products.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/heys-api.js
  yandex-cloud-functions/heys-mcp/lib/products.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

docs(security): record the S3 key rotation and why VAPID cannot follow
  docs/SECURITY_REVIEW.md
  docs/SECURITY_RUNBOOK.md
Due: prettier --write

chore(security): allow Lockbox secret IDs alongside other resource identifiers
  .gitleaks.toml
Due: none

fix(catalog): assign product category server-side via trigger
  scripts/db/migrations/2026-08-02_shared_products_category_trigger.sql
Due: none

feat(products): warn before adding a product the meal already contains
  apps/web/__tests__/similar-product-name-guard.test.js
  apps/web/heys_add_product_step_v1.js
  apps/web/styles/modules/600-steps-and-aps.css
Due: eslint --max-warnings=500

fix(push): re-subscribe when the VAPID key changes instead of reusing the cached one
  apps/web/__tests__/push-vapid-key-rotation.test.js
  apps/web/heys_push_v1.js
  docs/SECURITY_REVIEW.md
Due: eslint --max-warnings=500, prettier --write

feat(landing): build version D behind a closed route and hide the public switcher
  .gitignore
  apps/landing/public/hero-curator-demo-chapters.json
  apps/landing/src/app/v/d/page.tsx
  apps/landing/src/components/HeroFlowDemo.tsx
  apps/landing/src/components/VersionSwitcherFab.tsx
  apps/landing/src/components/quiz/TrialQuiz.tsx
  apps/landing/src/components/quiz/quizModel.ts
  apps/landing/src/components/versions/VersionD.tsx
  apps/landing/src/components/versions/d/CuratorSection.tsx
  apps/landing/src/components/versions/d/FaqD.tsx
  apps/landing/src/components/versions/d/FirstMonth.tsx
  apps/landing/src/components/versions/d/FooterD.tsx
  apps/landing/src/components/versions/d/HeroD.tsx
  apps/landing/src/components/versions/d/HowItWorks.tsx
  apps/landing/src/components/versions/d/LogoD.tsx
  apps/landing/src/components/versions/d/NavD.tsx
  apps/landing/src/components/versions/d/PainSection.tsx
  apps/landing/src/components/versions/d/PricingD.tsx
  apps/landing/src/components/versions/d/ReviewedWeek.tsx
  apps/landing/src/components/versions/d/TrialSection.tsx
  apps/landing/src/components/versions/d/fonts.ts
  apps/landing/src/components/versions/d/nav.ts
  apps/landing/src/components/versions/d/primitives.tsx
  apps/landing/src/components/versions/d/theme.ts
  apps/landing/src/components/versions/d/useReveal.ts
  apps/landing/src/config/landing-versions.ts
  apps/landing/src/lib/leads.ts
  database/2026-08-02_leads_quiz_details.sql
  docs/implementation/LANDING_D_PROTOCOL_2026-08-02.md
Due: eslint --max-warnings=500, prettier --write

feat(messenger): curator inbox, offline queue and an activity item in the day checklist
  apps/web/__tests__/messenger-bubble-redesign.test.js
  apps/web/__tests__/messenger-composer-redesign.test.js
  apps/web/__tests__/messenger-curator-inbox.test.js
  apps/web/__tests__/messenger-offline-queue.test.js
  apps/web/heys_messenger_v1.js
  apps/web/styles/modules/1000-messenger.css
  docs/implementation/MESSENGER_REDESIGN_PROTOCOL_2026-08-02.md
  yandex-cloud-functions/heys-api-messages/index.js
  yandex-cloud-functions/heys-api-messages/shared/day-checklist-rules.js
  yandex-cloud-functions/heys-cron-reminders/shared/day-checklist-rules.js
  yandex-cloud-functions/shared/__tests__/day-checklist-rules.test.cjs
  yandex-cloud-functions/shared/day-checklist-rules.js
Due: eslint --max-warnings=500, prettier --write

chore(build): sync legacy bundles for the messenger, push and product changes
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.9d61497abd26.js
  apps/web/public/boot-app.bundle.9d61497abd26.js.gz
  apps/web/public/boot-app.bundle.b847ac1fdcde.js
  apps/web/public/boot-app.bundle.b847ac1fdcde.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.7307f1b22041.js
  apps/web/public/postboot-3-ui-lazy.bundle.7307f1b22041.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.ada30f4fac25.js
  apps/web/public/postboot-3-ui-lazy.bundle.ada30f4fac25.js.gz
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

chore(messenger): document the offline queue writes in the bypass allowlist
  scripts/bootstrap-bypass-allowlist.txt
Due: none

docs(landing): version the design package without its screenshots
  .gitignore
  apps/landing/design/landing-d/README.md
  apps/landing/design/landing-d/image-slot.js
  apps/landing/design/landing-d/prototype-mobile.html
  apps/landing/design/landing-d/prototype.html
  apps/landing/design/landing-d/support.js
  docs/implementation/LANDING_D_PROTOCOL_2026-08-02.md
Due: eslint --max-warnings=500, prettier --write

docs(messenger): record the activity item decision and how to check push impact
  docs/implementation/MESSENGER_REDESIGN_PROTOCOL_2026-08-02.md
Due: prettier --write

fix(db): register product schema migrations in the manifest
  scripts/db/migrations/2026-08-02_shared_products_category_trigger.sql
  scripts/db/migrations/2026-08-02_shared_products_fingerprint_trigger.sql
  scripts/db/migrations/2026-08-02_shared_products_sanity_constraints.sql
  scripts/db/migrations/manifest.json
Due: prettier --write

docs(security): log SEC-037 and the rule that behaviour beats naming
  docs/SECURITY_REVIEW.md
  docs/SECURITY_RUNBOOK.md
Due: prettier --write

docs(security): extend the behaviour-over-naming rule to our own documents
  docs/SECURITY_RUNBOOK.md
Due: prettier --write

chore(tools): add a local read-only curator board with the daily client summary
  scripts/curator-board/README.md
  scripts/curator-board/board.html
  scripts/curator-board/server.mjs
Due: prettier --write

feat(curator): show each client's day summary on the client picker
  apps/web/__tests__/yandex-api-session-guards.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_app_gate_state_v1.js
  apps/web/heys_yandex_api_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.045adbb9cd1e.js
  apps/web/public/boot-app.bundle.045adbb9cd1e.js.gz
  apps/web/public/boot-app.bundle.b847ac1fdcde.js
  apps/web/public/boot-app.bundle.b847ac1fdcde.js.gz
  apps/web/public/boot-core.bundle.2e6ddfc81c47.js
  apps/web/public/boot-core.bundle.2e6ddfc81c47.js.gz
  apps/web/public/boot-core.bundle.b54185ff223e.js
  apps/web/public/boot-core.bundle.b54185ff223e.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/sw.js
  docs/implementation/CURATOR_DAY_SUMMARY_PROTOCOL_2026-08-02.md
  docs/reference/systems/CURATOR_WORKSPACE.md
  scripts/curator-board/README.md
  scripts/db/migrations/2026-08-02_curator_clients_day_summary.sql
  scripts/db/migrations/manifest.json
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500, prettier --write

docs(security): record the rotation decisions and two live secrets nobody checked
  docs/SECURITY_REVIEW.md
  todo.md
Due: prettier --write

fix(curator): count only trainings with logged minutes in the day summary
  apps/web/bundle-manifest.json
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_app_gate_state_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.045adbb9cd1e.js
  apps/web/public/boot-app.bundle.045adbb9cd1e.js.gz
  apps/web/public/boot-app.bundle.7840a0a24e2d.js
  apps/web/public/boot-app.bundle.7840a0a24e2d.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  docs/implementation/CURATOR_DAY_SUMMARY_PROTOCOL_2026-08-02.md
  docs/reference/systems/CURATOR_WORKSPACE.md
  scripts/curator-board/server.mjs
  scripts/db/migrations/2026-08-02_curator_day_summary_real_trainings.sql
  scripts/db/migrations/manifest.json
Due: eslint --max-warnings=500, prettier --write

feat(landing): make the curator's follow-up question the differentiator in version C
  apps/landing/src/components/versions/c/ReviewedWeekSection.tsx
  apps/landing/src/components/versions/c/SecondLayerSection.tsx
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500

docs(marketing): log the acceptance blockers for the version C follow-up-question pass
  маркетинг/46_Landing_C_эталон_и_план_разработки_2026-07-31.md
Due: prettier --write

test(landing): guard the quiz segmentation and version D positioning
  apps/landing/src/components/__tests__/quizModel.test.ts
  apps/landing/src/components/__tests__/versionD-positioning.test.ts
  docs/implementation/LANDING_D_PROTOCOL_2026-08-02.md
Due: eslint --max-warnings=500, prettier --write

feat(messenger): jump from search to the message and keep photos in the offline draft
  apps/web/__tests__/messenger-offline-queue.test.js
  apps/web/__tests__/messenger-search.test.js
  apps/web/heys_messenger_v1.js
  apps/web/styles/modules/1000-messenger.css
  docs/implementation/MESSENGER_REDESIGN_PROTOCOL_2026-08-02.md
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

feat(leads): accept the quiz refinements the landing collects
  yandex-cloud-functions/heys-api-leads/__tests__/phone-validation.test.cjs
  yandex-cloud-functions/heys-api-leads/index.js
Due: eslint --max-warnings=500

chore(build): rebuild legacy bundles after the messenger and curator fixes
  apps/web/bundle-manifest.json
  apps/web/index.html
  apps/web/public/boot-app.bundle.7840a0a24e2d.js
  apps/web/public/boot-app.bundle.7840a0a24e2d.js.gz
  apps/web/public/boot-app.bundle.ab2187fbafe3.js
  apps/web/public/boot-app.bundle.ab2187fbafe3.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
Due: eslint --max-warnings=500, prettier --write

feat(mcp): undo a wrong publication and cap photos per answer
  yandex-cloud-functions/heys-mcp/CURATOR_GUIDE.md
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/heys-api.js
Due: eslint --max-warnings=500, prettier --write

docs(security): log SEC-038, the webhook gate that fails open on a cold start
  docs/SECURITY_REVIEW.md
Due: prettier --write

docs(landing): close the version D loop after the backend and the live checks
  docs/implementation/LANDING_D_PROTOCOL_2026-08-02.md
  маркетинг/00_Дашборд.html
  маркетинг/15_Ревизия_и_лог_решений.md
  маркетинг/22_План_реализации_маркетинга.md
Due: prettier --write

docs(messenger): record three gaps the protocol did not name
  docs/implementation/MESSENGER_REDESIGN_PROTOCOL_2026-08-02.md
Due: prettier --write

docs(security): close the exposure question for SESSION_SECRET and PG_PASSWORD
  docs/SECURITY_REVIEW.md
Due: prettier --write

fix(mcp): точная адресация записи и итог дня в ответе коннектора
  scripts/bootstrap-bypass-allowlist.txt
  yandex-cloud-functions/heys-mcp/CURATOR_GUIDE.md
  yandex-cloud-functions/heys-mcp/README.md
  yandex-cloud-functions/heys-mcp/__tests__/curator.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

feat(day): показывать авторство кураторских записей и не засчитывать их как чек-ин
  apps/web/__tests__/curator-authorship.test.js
  apps/web/bundle-manifest.json
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_day_main_block_v1.js
  apps/web/heys_day_side_block_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_models_v1.js
  apps/web/heys_morning_checkin_v1.js
  apps/web/heys_steps_v1.js
  apps/web/heys_sync_merge_v1.js
  apps/web/index.html
  apps/web/public/boot-core.bundle.10034725b7cd.js
  apps/web/public/boot-core.bundle.10034725b7cd.js.gz
  apps/web/public/boot-core.bundle.2e6ddfc81c47.js
  apps/web/public/boot-core.bundle.2e6ddfc81c47.js.gz
  apps/web/public/boot-day.bundle.06032fcf18a2.js
  apps/web/public/boot-day.bundle.06032fcf18a2.js.gz
  apps/web/public/boot-day.bundle.12470d6a2f36.js
  apps/web/public/boot-day.bundle.12470d6a2f36.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-1-game-lazy.bundle.6f8aeca1d557.js
  apps/web/public/postboot-1-game-lazy.bundle.6f8aeca1d557.js.gz
  apps/web/public/postboot-1-game-lazy.bundle.8e03f1e76a20.js
  apps/web/public/postboot-1-game-lazy.bundle.8e03f1e76a20.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.7307f1b22041.js
  apps/web/public/postboot-3-ui-lazy.bundle.7307f1b22041.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.8665af460895.js
  apps/web/public/postboot-3-ui-lazy.bundle.8665af460895.js.gz
  apps/web/public/sw.js
  apps/web/styles/modules/200-dark-and-effects.css
  docs/implementation/CURATOR_AUTHORSHIP_PROTOCOL_2026-08-02.md
  yandex-cloud-functions/heys-api-rest/lib/heys_sync_merge_v1.cjs
  yandex-cloud-functions/heys-api-rpc/__tests__/curator-action-diff.test.js
  yandex-cloud-functions/heys-api-rpc/curator-action-diff.js
  yandex-cloud-functions/heys-api-rpc/lib/heys_sync_merge_v1.cjs
Due: eslint --max-warnings=500, prettier --write

chore(lint): разрешить в аллоулисте три записи advice-бандла
  scripts/bootstrap-bypass-allowlist.txt
Due: none

fix(messenger): remove !important and stale overrides from composer input
  apps/web/__tests__/messenger-states-redesign.test.js
  apps/web/styles/modules/1000-messenger.css
  docs/implementation/MESSENGER_REDESIGN_PROTOCOL_2026-08-02.md
  scripts/bootstrap-bypass-allowlist.txt
Due: eslint --max-warnings=500, prettier --write

fix(lint): revert allowlist drift my previous commit reintroduced
  scripts/bootstrap-bypass-allowlist.txt
Due: none

feat(day): тип приёма по времени и составу, отдельный «Кофе-брейк»
  apps/web/bundle-manifest.json
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_meal_card.js
  apps/web/heys_day_utils.js
  apps/web/heys_meal_step_v1.js
  apps/web/index.html
  apps/web/public/boot-calc.bundle.71d863516d40.js
  apps/web/public/boot-calc.bundle.71d863516d40.js.gz
  apps/web/public/boot-calc.bundle.b177a840f4b3.js
  apps/web/public/boot-calc.bundle.b177a840f4b3.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/lazy-manifest.json
  apps/web/public/postboot-3-ui-lazy.bundle.8665af460895.js
  apps/web/public/postboot-3-ui-lazy.bundle.8665af460895.js.gz
  apps/web/public/postboot-3-ui-lazy.bundle.d98bdb06c809.js
  apps/web/public/postboot-3-ui-lazy.bundle.d98bdb06c809.js.gz
  apps/web/public/sw.js
  scripts/bootstrap-bypass-allowlist.txt
  yandex-cloud-functions/heys-api-rpc/curator-action-diff.js
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/__tests__/tools.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
  yandex-cloud-functions/heys-mcp/lib/tools.js
Due: eslint --max-warnings=500, prettier --write

feat(mcp): задачник куратора в KV — чтение и построчная запись
  scripts/bootstrap-bypass-allowlist.txt
  yandex-cloud-functions/heys-mcp/__tests__/tasks.test.cjs
  yandex-cloud-functions/heys-mcp/index.js
  yandex-cloud-functions/heys-mcp/lib/curator.js
  yandex-cloud-functions/heys-mcp/lib/heys-api.js
  yandex-cloud-functions/heys-mcp/lib/tasks-tools.js
  yandex-cloud-functions/heys-mcp/lib/tasks.js
Due: eslint --max-warnings=500

fix(mcp): пересчитывать кэш съеденного и ставить штампы полей дня
  scripts/bootstrap-bypass-allowlist.txt
  yandex-cloud-functions/heys-mcp/__tests__/day.test.cjs
  yandex-cloud-functions/heys-mcp/lib/day.js
Due: eslint --max-warnings=500

Path conditions:
  eslint --max-warnings=500: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
