Repository kinderlystv-png/HEYS-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=500, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=500"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

perf(web): implement legacy JS bundling and remove inline config
  apps/web/heys_iw_config_loader.js
  apps/web/index.html
  apps/web/public/heys-iw-config.json
  apps/web/public/sw.js
  apps/web/scripts/bundle-legacy.js
  apps/web/scripts/vite-plugin-bundle-legacy.js
  apps/web/vite.config.ts
  scripts/sync-iw-inline-config.cjs
  scripts/watch-iw-inline-config.cjs
Due: eslint --max-warnings=500, prettier --write

perf(api): implement delta sync for client data
  apps/web/heys_app_sync_effects_v1.js
  apps/web/heys_storage_supabase_v1.js
  yandex-cloud-functions/heys-api-auth/index.js
  yandex-cloud-functions/heys-api-rpc/index.js
Due: eslint --max-warnings=500

perf(web): optimize app boot, watchdog, and network resilience
  apps/web/heys_app_dependency_loader_v1.js
  apps/web/heys_app_entry_v1.js
  apps/web/heys_app_initialize_v1.js
  apps/web/heys_app_overlays_v1.js
  apps/web/heys_app_root_component_v1.js
  apps/web/heys_app_root_impl_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_bootstrap_v1.js
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_core_v12.js
  apps/web/heys_gamification_v1.js
  apps/web/heys_module_loader_v1.js
  apps/web/heys_predictive_insights_v1.js
  apps/web/heys_user_tab_impl_v1.js
  apps/web/heys_yandex_api_v1.js
Due: eslint --max-warnings=500

fix(web): improve meal and product semantic categorization
  apps/web/heys_add_product_step_v1.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_effects.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_day_page_shell.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_day_tab_render_v1.js
Due: eslint --max-warnings=500

feat(insights): update predictive insights thresholds and UI
  apps/web/insights/pi_meal_recommender.js
  apps/web/insights/pi_patterns.js
  apps/web/insights/pi_thresholds.js
  apps/web/insights/pi_ui_meal_rec_card.js
  apps/web/styles/heys-components.css
Due: eslint --max-warnings=500

chore: update build logs and documentation
  .github/Untitled-1.yml
  .github/log777.yml
  apps/web/.turbo/turbo-build.log
  apps/web/public/build-meta.json
  apps/web/public/version.json
  docs/SYNC_OPTIMIZATION_PLAN.md
  packages/core/.turbo/turbo-build.log
  packages/search/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-build.log
Due: prettier --write

fix(web): resolve race conditions in morning check-in and client switching sync
  apps/web/heys_app_morning_checkin_v1.js
  apps/web/heys_storage_supabase_v1.js
Due: eslint --max-warnings=500

perf: optimize initial load and delta sync with speculative prefetch and render deduplication
  apps/web/heys_app_auth_init_v1.js
  apps/web/heys_app_sync_effects_v1.js
  apps/web/heys_day_effects.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
Due: eslint --max-warnings=500

perf(sync): optimize DayTab re-renders and remove debug markers
  apps/web/heys_app_auth_init_v1.js
  apps/web/heys_app_entry_v1.js
  apps/web/heys_app_initialize_v1.js
  apps/web/heys_app_sync_effects_v1.js
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_day_effects.js
  apps/web/heys_day_stats_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/insights/pi_ui_meal_rec_card.js
Due: eslint --max-warnings=500

fix: stabilize morning checkin sync gate for curator flow
  apps/web/heys_app_morning_checkin_v1.js
  apps/web/heys_morning_checkin_v1.js
Due: eslint --max-warnings=500

docs: update sync optimization findings and perf timelines
  docs/ARCHITECTURE.md
  docs/SYNC_OPTIMIZATION_PLAN.md
Due: prettier --write

perf: v6.0 sprint checkpoint — gamification XP cache, MEALREC async skeleton, cascade guard, CSS skeleton shimmer
  .github/log777.yml
  apps/web/heys_app_morning_checkin_v1.js
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/insights/pi_ui_meal_rec_card.js
  apps/web/styles/heys-components.css
  docs/PERFORMANCE_OPTIMIZATION_MID_TIER.md
Due: eslint --max-warnings=500, prettier --write

perf(boot): move app boot chain before reports/widgets — estimated -10-15s appReady on mid-tier throttle
  apps/web/index.html
Due: none

perf(boot): move 83 non-critical scripts after boot chain — critical path 242->159 scripts (34%)
  apps/web/index.html
Due: none

fix(logs): throttle noisy re-render warnings + fix EWS retry + deferred morning-checkin event
  apps/web/heys_app_morning_checkin_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_morning_checkin_v1.js
Due: eslint --max-warnings=500

fix(ews): cancel pending retries on event + prevent duplicate detect calls
  apps/web/heys_app_shell_v1.js
Due: eslint --max-warnings=500

perf(ui): skeleton slots for deferred cards — prevent full-page DOM thrashing
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/styles/heys-components.css
Due: eslint --max-warnings=500

feat(sync-badge): deepen cloud status logic with auto-fade, manual retry and safer render
  apps/web/heys_app_shell_v1.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500

perf(ui): fix extra re-render after deferred modules load + rich skeletons v8.1
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_effects.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/heys_supplements_v1.js
  apps/web/styles/heys-components.css
Due: eslint --max-warnings=500

fix: prevent advice engine crash on malformed day data
  apps/web/advice/_core.js
  apps/web/heys_advice_bundle_v1.js
Due: eslint --max-warnings=500

fix: bump heys_advice_bundle ?v=1 -> ?v=2 to bust cache
  apps/web/index.html
Due: none

fix: wrap ctx useMemo in try/catch to prevent React hook state corruption
  apps/web/advice/_core.js
  apps/web/heys_advice_bundle_v1.js
  apps/web/index.html
Due: eslint --max-warnings=500

fix: remove React.useMemo from useAdviceEngine — eliminate hooks crash
  apps/web/advice/_core.js
  apps/web/heys_advice_bundle_v1.js
  apps/web/index.html
Due: eslint --max-warnings=500

perf(ui): add 500ms grace period to skeleton slots — no flash on fast networks
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/index.html
Due: eslint --max-warnings=500

perf(ui): replace timer grace period with postboot completion check
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_day_tab_impl_v1.js
  apps/web/index.html
Due: eslint --max-warnings=500

fix: smooth deferred card reveal and remove skeleton flicker
  apps/web/heys_app_dependency_loader_v1.js
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/heys_app_tabs_v1.js
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/styles/heys-components.css
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500

fix: smooth CRS bar transition and settle behavior
  apps/web/heys_cascade_card_v1.js
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500

fix(ui): stabilize gamification sync state and reduce noisy diagnostics
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_gamification_bar_v1.js
  apps/web/heys_gamification_v1.js
  apps/web/insights/pi_product_picker.js
  apps/web/styles/modules/000-base-and-gamification.css
Due: eslint --max-warnings=500

perf: instant deferred cards for returning users, cascade v3.3.0, widgets DnD fixes
  .github/log777.yml
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_diary_section.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_widgets_core_v1.js
  apps/web/heys_widgets_ui_v1.js
  apps/web/index.html
  apps/web/styles/heys-components.css
  apps/web/styles/modules/730-widgets-dashboard.css
  apps/web/styles/modules/740-cascade-card.css
  docs/CASCADE_CARD_MODULE.md
Due: eslint --max-warnings=500, prettier --write

perf(cascade): bump DCS schema to v5, calibrated retroactive formula v3.4.1
  apps/web/heys_cascade_card_v1.js
Due: eslint --max-warnings=500

docs: update CASCADE_CARD_MODULE.md to v3.5.0 (MT=8.5, chronotype meals, cache v7)
  docs/CASCADE_CARD_MODULE.md
Due: prettier --write

docs: update CASCADE_CARD_MODULE.md
  apps/web/heys_cascade_card_v1.js
  apps/web/index.html
  apps/web/styles/main.css
  apps/web/styles/modules/740-cascade-card.css
  docs/CASCADE_CARD_MODULE.md
  packages/core/.turbo/turbo-build.log
  packages/core/.turbo/turbo-type-check.log
  packages/search/.turbo/turbo-build.log
  packages/search/.turbo/turbo-type-check.log
  packages/shared/.turbo/turbo-type-check.log
  packages/shared/tsconfig.tsbuildinfo
  packages/storage/.turbo/turbo-build.log
  packages/storage/.turbo/turbo-type-check.log
  packages/ui/.turbo/turbo-build.log
  packages/ui/.turbo/turbo-type-check.log
Due: eslint --max-warnings=500, prettier --write

feat: smooth animations — progress bars, cascade dots, calorie bar
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_day_animations.js
  apps/web/heys_day_goal_progress_v1.js
  apps/web/index.html
  apps/web/styles/main.css
Due: eslint --max-warnings=500

refactor: update cascade card and steps module
  apps/web/heys_app_shell_v1.js
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_steps_v1.js
  docs/CASCADE_CARD_MODULE.md
Due: eslint --max-warnings=500, prettier --write

perf(web): bundle legacy загрузку и усилить postboot pipeline
  .github/workflows/deploy-yandex.yml
  apps/web/bundle-manifest.json
  apps/web/heys_app_dependency_loader_v1.js
  apps/web/heys_app_initialize_v1.js
  apps/web/heys_app_sync_effects_v1.js
  apps/web/heys_day_core_bundle_v1.js
  apps/web/heys_day_stats_bundle_loader_v1.js
  apps/web/heys_dev_utils.js
  apps/web/heys_ratio_zones_v1.js
  apps/web/heys_refeed_v1.js
  apps/web/heys_step_modal_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/heys_user_tab_impl_v1.js
  apps/web/index.html
  apps/web/insights/pi_feedback_loop.js
  apps/web/public/boot-app.bundle.bc6fb633ba7c.js
  apps/web/public/boot-app.bundle.bc6fb633ba7c.js.gz
  apps/web/public/boot-calc.bundle.bb8a3a4c781b.js
  apps/web/public/boot-calc.bundle.bb8a3a4c781b.js.gz
  apps/web/public/boot-core.bundle.e0cfd58e1796.js
  apps/web/public/boot-core.bundle.e0cfd58e1796.js.gz
  apps/web/public/boot-day.bundle.7320c50778ec.js
  apps/web/public/boot-day.bundle.7320c50778ec.js.gz
  apps/web/public/boot-init.bundle.01e94cb6ddd3.js
  apps/web/public/boot-init.bundle.01e94cb6ddd3.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-1-game.bundle.3981d9991b03.js
  apps/web/public/postboot-1-game.bundle.3981d9991b03.js.gz
  apps/web/public/postboot-2-insights.bundle.15ce93090754.js
  apps/web/public/postboot-2-insights.bundle.15ce93090754.js.gz
  apps/web/public/postboot-3-ui.bundle.d0c9bf9edcdc.js
  apps/web/public/postboot-3-ui.bundle.d0c9bf9edcdc.js.gz
  apps/web/public/react-bundle.js.gz
  apps/web/public/sw.js
  apps/web/vite.config.ts
  docs/AI_KEY_FILES.md
  docs/ARCHITECTURE.md
  docs/plans/LOAD_OPTIMIZATION_PLAN_2026-02-25.md
  package.json
  scripts/bundle-legacy.mjs
Due: eslint --max-warnings=500, prettier --write

fix(insulin-wave): синхронизировать расчёт и postboot-интеграцию
  apps/web/heys_day_insulin_wave_data_v1.js
  apps/web/heys_insulin_wave_v1.js
  apps/web/heys_iw_calc.js
  apps/web/heys_iw_constants.js
  apps/web/heys_iw_orchestrator.js
  apps/web/heys_iw_ui.js
Due: eslint --max-warnings=500

perf: skeleton UI, parallel postboot, PERF logging, gzip bundles
  apps/web/bundle-manifest.json
  apps/web/heys_app_initialize_v1.js
  apps/web/heys_daily_missions_v1.js
  apps/web/heys_insulin_wave_v1.js
  apps/web/heys_modal_manager_v1.js
  apps/web/index.html
  apps/web/insights/pi_constants.js
  apps/web/insights/pi_pattern_debugger.js
  apps/web/public/boot-init.bundle.01e94cb6ddd3.js.gz
  apps/web/public/boot-init.bundle.fb89d1287524.js
  apps/web/public/boot-init.bundle.fb89d1287524.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-1-game.bundle.2f462b58293d.js
  apps/web/public/postboot-1-game.bundle.2f462b58293d.js.gz
  apps/web/public/postboot-1-game.bundle.3981d9991b03.js.gz
  apps/web/public/postboot-2-insights.bundle.15ce93090754.js.gz
  apps/web/public/postboot-2-insights.bundle.bd05d07de042.js
  apps/web/public/postboot-2-insights.bundle.bd05d07de042.js.gz
  apps/web/public/postboot-3-ui.bundle.5115341c9cfc.js
  apps/web/public/postboot-3-ui.bundle.5115341c9cfc.js.gz
  apps/web/public/postboot-3-ui.bundle.d0c9bf9edcdc.js.gz
  apps/web/public/sw.js
  docs/INSULIN_WAVE_DOCUMENTATION.md
  docs/plans/LOAD_OPTIMIZATION_PLAN_2026-02-25.md
  scripts/bundle-legacy.mjs
Due: eslint --max-warnings=500, prettier --write

fix(prod): gzip upload restore (78% savings), skeleton theme fix, gamification guard
  apps/web/bundle-manifest.json
  apps/web/heys_day_bundle_v1.js
  apps/web/heys_day_meals_bundle_v1.js
  apps/web/heys_gamification_bar_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.b5569296c11a.js
  apps/web/public/boot-app.bundle.b5569296c11a.js.gz
  apps/web/public/boot-app.bundle.bc6fb633ba7c.js.gz
  apps/web/public/boot-calc.bundle.35b159a72e66.js
  apps/web/public/boot-calc.bundle.35b159a72e66.js.gz
  apps/web/public/boot-calc.bundle.bb8a3a4c781b.js.gz
  apps/web/public/build-meta.json
  apps/web/public/bundle-manifest.json
  apps/web/public/postboot-1-game.bundle.1b16a058a8f9.js
  apps/web/public/postboot-1-game.bundle.1b16a058a8f9.js.gz
  apps/web/public/postboot-1-game.bundle.2f462b58293d.js.gz
  apps/web/public/react-bundle.js.gz
  apps/web/public/sw.js
  apps/web/public/version.json
  apps/web/react-bundle.js
  scripts/upload-to-yandex.ps1
  scripts/upload-to-yandex.sh
Due: eslint --max-warnings=500, prettier --write

chore: update web build assets and deployment script
  apps/web/bundle-manifest.json
  apps/web/heys_app_gate_flow_v1.js
  apps/web/heys_app_shell_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.6402be9117f5.js
  apps/web/public/boot-app.bundle.6402be9117f5.js.gz
  apps/web/public/boot-app.bundle.b5569296c11a.js.gz
  apps/web/public/bundle-manifest.json
  apps/web/public/sw.js
  scripts/upload-to-yandex.ps1
Due: eslint --max-warnings=500, prettier --write

perf: fix skeleton hang + CRS bar animation on client switch
  apps/web/bundle-manifest.json
  apps/web/heys_app_tabs_v1.js
  apps/web/heys_cascade_card_v1.js
  apps/web/heys_storage_supabase_v1.js
  apps/web/index.html
  apps/web/public/boot-app.bundle.176b0458a223.js
  apps/web/public/boot-app.bundle.176b0458a223.js.gz
  apps/web/public/boot-app.bundle.6402be9117f5.js.gz
  apps/web/public/boot-core.bundle.574f738d3e52.js
  apps/web/public/boot-core.bundle.574f738d3e52.js.gz
  apps/web/public/boot-core.bundle.e0cfd58e1796.js.gz
  apps/web/public/boot-init.bundle.878c88e526e7.js
  apps/web/public/boot-init.bundle.878c88e526e7.js.gz
  apps/web/public/boot-init.bundle.fb89d1287524.js.gz
  apps/web/public/bundle-manifest.json
Due: eslint --max-warnings=500, prettier --write
